# General version of data cleaning

This code will automatically perform data cleaning on each of the dataset in the directoty, to run this notebook you need to download all the datasets and place them in the current directoty with the notebook.

Because we automatically find columns and fix them, we can not afford clustering to find outliers for each datasets so remove it in this notebook, the precision and recall rate might be influenced.

Run the code in oreder to perform data clean, cleaned data will be save in the current directoty, and to calculate the precision and recall rate, you will need to manually inspect the result.

In [1]:
import openclean
import glob
import pandas as pd
import numpy as np
import re

In [2]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

In [3]:
import pandas as pd
from openclean.pipeline import stream

In [4]:
# dataset_list = ['hg8x-zxpr','w9ak-ipjd','dm9a-ab7w','bx6-tga4','ipu4-2q9a','xubg-57si', 'bty7-2jhb', 'hcir-3275, 'pitm-atqc','iz2q-9x8d']
# dataset_names = ['Housing New York Units by Building',
#                  'DOB NOW: Build – Job Application Filings',
#                  'DOB NOW: Electrical Permit Applications', 
#                  'DOB NOW: Build – Approved Permits',
#                  'DOB Permit Issuance', 
#                  'DOB NOW: Safety – Facades Compliance Filings',
#                  'Historical DOB Permit Issuance', 
#                  'Buildings Selected for the Alternative Enforcement Program (AEP)', 
#                  'Open Restaurant Applications', 
#                  'DOB Cellular Antenna Filings']

# dataset = Socrata().dataset('pitm-atqc')
# datafile = './pitm-atqc.tsv.gz'

# if not os.path.isfile(datafile):
#     with gzip.open(datafile, 'wb') as f:
#         print('Downloading ...\n')
#         dataset.write(f)


# fsize = humanfriendly.format_size(os.stat(datafile).st_size)
# print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

In [5]:
# DOB Cellular Antenna Filings: iz2q-9x8d
# Open Restaurant Applications: pitm-atqc
# DOB NOW: Safety – Facades Compliance Filings: xubg-57si
# DOB Permit Issuance: ipu4-2q9a

In [6]:
file_list = glob.glob("*.tsv.gz")

In [7]:
file_list

['ipu4-2q9a.tsv.gz',
 'iz2q-9x8d.tsv.gz',
 'pitm-atqc.tsv.gz',
 'xubg-57si.tsv.gz']

In [8]:
def readData(file):
    
    datafile = './'+file
    
    df  = pd.read_csv(datafile, dtype='object', sep='\t')
    #ds = stream(datafile)
    
    return datafile, df#, ds

In [9]:
def fixColumnNames(df):
    rename_list = list(df.columns)
    rename_dict = dict()

    for i in rename_list:
        col_name = str(i)

        col_name = col_name.strip().replace("_", " ").replace("’", "'").replace(".", "")


        # https://stackoverflow.com/questions/2277352/split-a-string-at-uppercase-letters
        # Split on upper case to seperate cocnatenated words:
        if (not col_name.islower()) and (not col_name.isupper()) and (col_name.find(" ") == -1):
            col_name = " ".join(re.sub("([A-Z])", r" \1", col_name).split())


        if col_name.islower(): 
            col_name = col_name.title()

        if (col_name.isupper()) and (col_name.find(" ") != -1):
            col_name = col_name.title()

        col_name = col_name.replace("No", "Number")
        col_name = col_name.replace("#", "Number")

        rename_dict[i] = col_name
    return rename_dict

In [10]:
def findColumns(df, column_name_list):
    data_cols = []

    for col in df.columns:
        for name in column_name_list:
            if name.lower() in col.lower():
                data_cols.append(col)
                
    return  data_cols

In [36]:
def fix_House_Number_Column(df, col):
    df[col] = df[col].str.replace(pat='(?P<one>\\d)(?P<two>[A-Z]+)', repl='\g<one> \g<two>', regex=True)
    df[col] = df[col].str.replace(pat='(?P<one>GAR$)', repl='GARAGE', regex=True)
    df[col] = df[col].str.replace(pat='NORTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='EAST([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='SOUTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='WEST([A-Z]+)?', repl='', regex=True)
    df.loc[(~df[col].str.contains('\\d', regex=True)), col] = ''

In [37]:
def fix_Phone_Number_Column(df, col):
    
    df[col] = df[col].str.replace(pat="[^\\d]", repl="", regex=True)    
    df[col] = df[col].str.lstrip('1')
    df.loc[df[col].str.len()!=10, col] = ''

    #return data_cols

In [38]:
def fix_ID_Number_Column(df):
    data_cols = findColumns(df, ['number', 'Number',' No',' NO'])
    
    for col in data_cols:
        
        df[col].fillna('', inplace=True)
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()

        df.loc[df[col].str.strip('')=='ONE', col] = '1'
        df.loc[df[col].str.strip('')=='TWO', col] = '2'
        df.loc[df[col].str.strip('')=='THREE', col] = '3'
        df.loc[df[col].str.strip('')=='FOUR', col] = '4'
        df.loc[df[col].str.strip('')=='FIVE', col] = '5'
        df.loc[df[col].str.strip('')=='SIX', col] = '6'
        df.loc[df[col].str.strip('')=='SEVEN', col] = '7'
        df.loc[df[col].str.strip('')=='EIGHT', col] = '8'
        df.loc[df[col].str.strip('')=='NINE', col] = '9'

        df.loc[df[col].str.strip('')=='NONE', col] = ''
        df.loc[df[col].str.strip('')=='none', col] = ''
        df.loc[df[col].str.strip('')=='None', col] = ''

        df.loc[df[col].str.strip('')=='NAN', col] = ''
        df.loc[df[col].str.strip('')=='nan', col] = ''
        df.loc[df[col].str.strip('')=='NaN', col] = ''
        
        df.loc[df[col].str.strip('')=='NO NUMBER', col] = ''
    
        if ('house' in col.lower()) or ('building' in col.lower()):
            fix_House_Number_Column(df, col)
        if ("phone" in col.lower()):
            fix_Phone_Number_Column(df, col)
    
    return data_cols

In [39]:
def fix_Binary_Column(df):
    #data_cols = findColumns(ds, ['Landmarked','Owned', 'Filled'])
    #
    data_cols = []

    for col in df.columns:
        # If column has small # of values, and potentially boolean values like Yes/ No, Y/N, X, True, etc.
        if (df[col].nunique() < 5) and (df[df[col].str.lower()==('y|yes|x|true|n|no|false')][col].count() != 0):
            data_cols.append(col)
        
        
    for col in data_cols:
        
        df.loc[df[col].str.lower().isin(['y|yes|x|true']), col] = True
        df.loc[df[col].str.lower().isin(['n|no|nan|false']), col] = False
        df[col].fillna(False, inplace=True)
        
        if df[col].nunique()==2:
            df[col] = df[col].astype('bool')
        
    return data_cols

In [40]:
def fix_Monetary_Column(df):
    data_cols = findColumns(df, ['Cost','cost', 'fee', 'Fee'])
    
    for col in data_cols:
        
        df[col] = df[col].astype('str')
        df[col] = df[col].str.replace("$", '', regex=False)
        df[col] = df[col].str.replace("-", '', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')

    return data_cols

In [41]:
def fix_Numerical_Column(df):
    data_cols = findColumns(df, ['Units','units', 'Height', 'height', 'Length', 'length', 'Footage', 'footage', 'Sqft', 'sqft'])
    
    for col in data_cols:
        df[col] = df[col].astype('str')

        df[col] = df[col].str.replace('-', '', regex=False)
        df[col] = df[col].str.replace('NONE', '0', regex=False)
        df[col] = df[col].str.replace('none', '0', regex=False)
        df[col] = df[col].str.replace('NAN', '0', regex=False)
        df[col] = df[col].str.replace('NaN', '0', regex=False)
        df[col] = df[col].str.replace('nan', '0', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')
        
    return data_cols

In [17]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(df, column_name, eps_setting = 0.05):
    datetime_data = df[column_name]

    light_outliers = DBSCANOutliers().find(datetime_data)
    
    return light_outliers

In [18]:
def fix_datetime_Column(df):
    data_cols = findColumns(df, ['date', 'Date', 'DATE'])
    
    for col in data_cols:
    
        
        light_outliers = findDateOutliers(df, col)
        
        for item in light_outliers:
            
            df[col] = df[col].replace(item, None)
            df[col] = pd.to_datetime(df[col], errors='coerce')
         
    return data_cols

In [19]:
from openclean.data.refdata import RefStore

refdata = RefStore()
city_df = refdata\
    .load('encyclopaedia_britannica:us_cities', auto_download=True)\
    .df()

In [20]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(df, col, minsize = 2, preds = 0.5): #ds
    dba = df.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(preds)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0

def updateUsingClusters(df, col, clusters, isPrint = False): # ds,
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i <5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
    
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [21]:
from openclean.function.eval.base import Col, Eval
from openclean.function.eval.logic import And
from openclean.function.value.phonetic import Soundex, soundex


def fix_city_and_name_Column(df, file): #ds,
    data_cols = findColumns(df, ['NAME', 'name', 'Name','city', 'City', 'CITY', 'BOROUGH', 'Borough', 'borough'])
    name_cols = findColumns(df, ['NAME', 'name', 'Name'])
    
    # mapping list to replace outliers
    outlier1 = ['', 'MR. ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM 11', 'JOSEP;H``', 'DAID/11/2007', 'CHUNG   LUN', '718 9215010', 'ANTHONY', 'HSIA0-NAN', 'JOSEPH', '``````````', 'ROBERT  `', 'RAJENDRA9956700', '2', 'G.B.M.', 'EUGENE......JR', '6312100', 'CLAUDE,JR.', 'THOMAS``', 'ALAN  L', 'Nab53', 'MR. Y. B', 'J.J', 'PH8ILIP', 'I. M', 'RICHARD', 'ALBERTA S 111 D', 'P ;', 'GENECG.C. ENG &', 'J.J.', '2126202794', 'SHAW  HWA', 'HARRY         H', 'MR DOU8GLAS', '`1D', 'PAUL', 'K. T.', 'JOHN', '...NORMAN', 'EVAN   D', '7184361278BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MAD/Y/ARNI', 'ES ON SCH B', 'EUGENE.......JR', 'NEAL', 'F._ERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0-TECH', 'RODNEY   __', 'DAVID', 'G. L.', 'JAMES', 'LESLI8E', '7186054055', 'GEORGE', 'G.B.M', 'DAVID    JON', 'CHUNG---YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', '1P', 'JUDE.....N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD/HON-AN', 'GLEN  A.L.', 'J.B. Jr.', 'LORENZO..A', 'J J', '..RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY 2', '...JOSEPH', 'RUSSELL 111', 'THOMAS', 'H./E./CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', '--young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']
    mapping1 = [None, 'ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM', 'JOSEPH', None, 'CHUNG LUN', None, 'ANTHONY', 'HSIA0 NAN', 'JOSEPH', None, 'ROBERT', 'RAJENDRA', None, 'G.B.M.', 'EUGENEJR', None, 'CLAUDE JR.', 'THOMAS', 'ALAN  L', 'Nab', 'MR. Y. B', 'J.J', 'PHILIP', 'I. M', 'RICHARD', 'ALBERTA', None, 'GENECG.C. ENG', 'J.J.', None, 'SHAW HWA', 'HARRYH', 'MR DOUGLAS', None, 'PAUL', 'K. T.', 'JOHN', 'NORMAN', 'EVAND', 'BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MADYARNI', 'ES ON SCH B', 'EUGENEJR', 'NEAL', 'FERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0 TECH', 'RODNEY', 'DAVID', 'G. L.', 'JAMES', 'LESLIE', None, 'GEORGE', 'G.B.M', 'DAVID JON', 'CHUNG YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', None, 'JUDE N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD HON-AN', 'GLEN A.L.', 'J.B. Jr.', 'LORENZOA', 'J J', 'RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY', 'JOSEPH', 'RUSSELL', 'THOMAS', 'H.E.CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', 'young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']

    outlier2 = ['SHARMA #0', "0'CONNOR", 'RUSHTON    UEL', 'UDDIN   Z', 'HINKLEY 1', 'O&#039;CONNOR, P.E.', '.OOK', 'SAMUELS111', 'O&#039;CONNOR', 'CALIENDO', 'SMITH   JR.', 'LO  BUE', '7AN', '+-+ETTIERI', 'SMITH, 111', 'KAMEN   1', '.EE', 'MASS, 1', '.EI', 'Zagaroli 3rd', 'RINI   II', 'KAMEN   R', 'RYAN 11', 'SPI8EZIA L S', 'MUFTIC..A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL, P.E.', 'HAMA07', 'HINLEY,1', '1212', "O  ' CONNELL", 'HURT,JR.,', 'WESOLOWSKI', 'CHEN', '`ING, R.A', 'MARTARELLA 111', 'Gandhi, Ph.D., P.E.', '90I', 'ENNIS 2', 'COSTELLO R A A I A', '3UI', 'N/A', 'HURT,  JR', 'LEHR,1', 'KOHLER, 111', 'GERAZOUNIS', 'Alexander,1', 'LUBOW, R.A. LEED AP', 'RINI,111', '08CZAK', '````````````````````', 'CHAO  R.A.', 'Geier 11', '08NGEL', '08SOLOWSKI', 'I11', 'HINKLEY, 1', 'RUDIKOFF, P.E.', "O'CONNOR", 'SHAH   EZ', 'MIELE, JR., P.E.', 'RITTENHOUSE 111', 'AMADI   ISIOFIA', 'HINKLEY,1', 'RENFORE````````', "O'HARA,JR.", '73020012', 'PHAGOO   I', 'BRAY.....,', 'LLL', 'BHATHIA,1', 'GANDHI, PH. D., P.E', 'KO K', 'VASSALOTTI 11', 'HURT, JR .', '0018LKLE', 'RINI -111', 'PARIHAR', 'EE', 'L00802', 'ELISE.111', 'KING , R.A', 'CHRYSLER  P E', 'LEHR 1', 'Walters   Jr.', 'LEE', 'RINI  III', 'D&#039;ANGELO', '0UDOLPH III', 'VIEHE-NAESS 111', ',MO', '08E', '47DIKOFF', 'Yu,', '420865380', 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', '901BEN', '4153LOO', 'SYED-NAQVI', 'RYAN , JR.', 'K O K O R I S', 'ELISEO111', 'O&#039;CONNELL', 'ZEID61', '---Lewis', '00CHELI', 'MOHAMMAD       +++++', 'METZLER  P E', 'BAILEY', 'GANDHI, PH. D., P.E.', 'TIEMANN.111', 'SMITH.111', 'DI GER0NIMO', 'GANDHI, PH,D., P.E', 'III', 'J C', 'MAGAMI-QAIM-MAGAMI', '+M', 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', 'Y10007OR', 'SMITH,111', 'KING R A FAIA', 'RYAN III, AIA', '08AN', 'STARK 1', 'MASS', 'VICTORI0, R.A', 'RIZVI   A', '21029677', "3'CONNOR", 'Wong /  Lai', 'KAPLAN 3', 'GRAICHEN.JR./DAWN/DI', 'GROSSMAN ,PE,F.A.C.I']
    mapping2 = ['SHARMA ', "CONNOR", 'RUSHTON UEL', 'UDDIN Z', 'HINKLEY ', 'CONNOR P.E.', None, 'SAMUELS', 'CONNOR', 'CALIENDO', 'SMITH JR.', 'LO BUE', None, 'ETTIERI', 'SMITH', 'KAMEN', '.EE', 'MASS', '.EI', 'Zagaroli', 'RINI', 'KAMEN R', 'RYAN', 'SPIEZIA L S', 'MUFTIC.A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL P.E.', 'HAMA', 'HINLEY', None, "CONNELL", 'HURT JR.', 'WESOLOWSKI', 'CHEN', 'ING R.A', 'MARTARELLA', 'Gandhi', None, 'ENNIS ', 'COSTELLO R A A I A', None, None, 'HUR  JR', 'LEHR', 'KOHLER 111', 'GERAZOUNIS', 'Alexander', 'LUBOW R.A. LEED AP', 'RINI',None, None, 'CHAO R.A.', 'Geier', None, 'SOLOWSKI', None, 'HINKLEY', 'RUDIKOFF, P.E.', "CONNOR", 'SHAH EZ', 'MIELE JR. P.E.', 'RITTENHOUSE', 'AMADI   ISIOFIA', 'HINKLEY', 'RENFORE', "O'HARA,JR.", None, 'PHAGOO I', 'BRAY,', 'LLL', 'BHATHIA', 'GANDHI', 'KO K', 'VASSALOTTI', 'HURT JR.',None, 'RINI', 'PARIHAR', 'EE', None, 'ELISE', 'KING R.A', 'CHRYSLER  P E', 'LEHR', 'Walters Jr.', 'LEE', 'RINI  III', 'ANGELO', '0UDOLPH III', 'VIEHE-NAESS', 'MO', '08E', None, 'Yu,', None, 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', None, None, None, 'RYAN JR.', 'KOKORIS', 'ELISE', 'CONNELL', None, 'Lewis', 'CHELI', 'MOHAMMAD', 'METZLER  P E', 'BAILEY', 'GANDHI', 'TIEMANN', 'SMITH', 'DI GER0NIMO', 'GANDHI', 'III', 'J C', 'MAGAMI QAIM MAGAMI', None, 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', None, 'SMITH', 'KING R A FAIA', 'RYAN III AIA', None, 'STARK', 'MASS', 'VICTORI0 R.A', 'RIZVIA', None, "CONNOR", 'Wong Lai', 'KAPLAN', 'GRAICHEN.JR. DAWN DI', 'GROSSMAN']

    outlier3 = ['', '....DEMO', '050069', 'DEM. CONTR.,', 'XXXXX', 'G/C 10114H9', 'CGWC10114H99', '00', 'X S000155', '082-36-1245', 'G.G', 'LESSEE', '......GC', "'", '..OWNER', 'GC 2293', '--', 'XXXXXX', 'LS 31,721', '...GC', 'gen.cont.', 'G.C TK#4592', 'PE', 'RLA - 818', '.....OWNER', 'RLA 16077', 'G C', 'X 4129892', 'G. C.', 'R.L.A', 'GC 1028350', 'WC10114H99', 'LEESEE', 'GEN.CONT.', 'SIGN..HANGER', 'DEMO 20451', 'D8615', '.X', 'P.L.L.C', '..DEMO', 'G .C', 'L A', 'G.C NY11101', '32820', '....OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC99792', 'X 1341946', 'TRACK# 1390', 'EXPED.R4466', 'PLLC 9599691', 'G.C 1110101', '029649', '(CHECK)', 'DEM. CONTR,', 'EXPEDIT(H66172)', '.........GC', 'CITY OF N Y', 'GC 1170386', 'G. C', 'CO0OWNER', '(CHECKED)', 'C.C', '23392 1159774', 'DEMO {', 'RA', 'T. 31132', '....GC', 'RLA-787', 'TRACK #1390', 'D C', 'G.CONTR.', 'DEMO  CONT', '1GC', 'CC', 'demo G.C.', 'TRACK. #1390', 'M.F.S.P.C.', '...DEMO', 'DEMO G C', '13328', 'GEN  CONT', 'GC 1221073', "GC;'", 'DEMO 1341946', '11234', 'G.C.,', '.....GC', 'LIC.133668259 1', '?', '0WNER', 'C10892', 'GEN..CONT']
    mapping3 = [None, 'DEMO', None, 'DEM. CONTR', None, 'G/C', 'CGWC', None, 'X S', None, 'G.G', 'LESSEE', 'GC', None, 'OWNER', 'GC', None, None, 'LS ', 'GC', 'gen.cont.', 'G.C TK', 'PE', 'RLA ', 'OWNER', 'RLA ', 'G C', 'X', 'G. C.', 'R.L.A', 'GC', 'WC', 'LEESEE', 'GEN.CONT.', 'SIGN.HANGER', 'DEMO', None,None, 'P.L.L.C', 'DEMO', 'G.C', 'L A', 'G.C ', None, 'OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC', None, 'TRACK', 'EXPED.R', 'PLLC ', 'G.C', None, None, 'DEM. CONTR,', 'EXPEDIT', 'GC', None, 'GC', 'G.C', 'CO0OWNER', None, 'C.C', None, 'DEMO', 'RA', None, 'GC', 'RLA', None, 'D C', 'G.CONTR.', 'DEMO  CONT', 'GC', 'CC', 'demo G.C.', None, 'M.F.S.P.C.', 'DEMO', 'DEMO G C', None, 'GEN  CONT', 'GC ', "GC ", 'DEMO ', None, 'G.C.', 'GC', 'LIC', None, '0WNER',None, 'GEN.CONT']

    outlier4 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
    mapping4 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

    outliers = outlier1+ outlier2+ outlier3+ outlier4
    mappings = mapping1+ mapping2+ mapping3+ mapping4
       
    for col in data_cols:
        
        df[col] = df[col].replace(outliers, mappings)
        
        '''
        if file != 'rbx6-tga4.tsv.gz':
            light_outliers = findDateOutliers(df, ds, col)

            for item in light_outliers:

                df[col] = df[col].replace(item, None)
        
        
        if file != 'hg8x-zxpr.tsv.gz' and col in name_cols:
            col_clusters = getClusters(df, ds, col)
            updateUsingClusters(df, ds, col, col_clusters, True)
         '''
            
        df[col] = df[col].replace(['N/A', '', 'NA','NONE'], [None,None,None,None])
        
    return data_cols

In [22]:
def saveDf(df, datafile):
    outputpath = datafile[2:11]+'_cleaned_data_improved.csv'
    df.to_csv(outputpath,sep=',',index=False,header=True)

In [23]:
def dataCleanOnDataset(file):
    
    print('working on file: ', file)
    datafile, df = readData(file)
    
    cleaned_cols = []
    
    print("fixing Column Names.......")
    col_rename_dict = fixColumnNames(df)
    #print("Column renaming dictionary:")
    #print(col_rename_dict)
    
    df = df.rename(columns=col_rename_dict)

    print('fixing ID Number Columns......')
    cleaned_cols += fix_ID_Number_Column(df)
    
    print('fixing Binary Columns......')
    cleaned_cols += fix_Binary_Column(df)
    
    print('fixing Monetary Columns......')
    cleaned_cols += fix_Monetary_Column(df)
    
    print('fixing Numerical Columns......')
    cleaned_cols += fix_Numerical_Column(df)
    
    print('fixing Datetime Columns......')
    cleaned_cols += fix_datetime_Column(df)
    
    print('fixing City And Name Column......')
    cleaned_cols += fix_city_and_name_Column(df, file)
    
    saveDf(df, datafile)
    
    return cleaned_cols, datafile, df, col_rename_dict

In [24]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [25]:
def precision_recall(cleaned_columns, datafile, df, sample_size, col_rename_dict):
    df2  = pd.read_csv(datafile, dtype='object', sep='\t')
    df2 = df2.drop_duplicates()
    df2 = df2.rename(columns=col_rename_dict)
    

    df_sample_data =  df2.sample(sample_size).copy()
    df_new_sample_data = df.loc[df_sample_data.index].copy()
    print('sample size: ',sample_size)
    
    print('total size: ',sample_size * len(cleaned_columns))
    print('======================\n\n')

    same = 0

    for col in cleaned_columns:
        print("column: ", col)
        print("Original,\t Cleaned\n")
        for i in range(sample_size):
            df_sample_data.iloc[i].index
            if df_new_sample_data[col].iloc[i] == df_sample_data[col].iloc[i]:
                print(df_sample_data[col].iloc[i], '\t',df_new_sample_data[col].iloc[i], '\t')
                same += 1
            else:
                print(df_sample_data[col].iloc[i], '\t', df_new_sample_data[col].iloc[i], '\t*')

        print('*   ', same, ' same records   *\n')
        same = 0

        print('======================\n\n')

# DOB Permit Issuance

In [26]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[0])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  ipu4-2q9a.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......

C:\Users\Rlron\Anaconda2\envs\pyspark\lib\site-packages\pandas\core\missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

fixing City And Name Column......
['Job doc Number', "Owner's Phone Number", "Owner's Business Name", 'Street Name', "Site Safety Mgr's First Name", 'Nta Name', 'BOROUGH', 'Permit Si Number', 'Job Start Date', 'Superintendent Business Name', 'Issuance Date', "Permittee's Last Name", 'Permit Sequence Number', "Owner's Last Name", "Owner's House Street Name", "Permittee's First Name", 'Superintendent First & Last Name', "Permittee's Phone Number", 'Job Number', 'Filing Date', 'Numbern- Profit', "Owner's House City", 'Expiration Date', 'Site Safety Mgr Business Name', 'D O B Run Date', "Owner's House Number", "Site Safety Mgr's Last Name", "Permittee's License Number", 'House Number', 'Bin Number', "Permittee's Business Name", "Owner's First Name"]

In [27]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  1600
======================


column:  Job doc Number
Original,	 Cleaned

01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
02 	 02
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
02 	 02
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
*    50  same records   *

======================


column:  Owner's Phone Number
Original,	 Cleaned

2123628495 	 2123628495
9176421442 	 9176421442
7187379500 	 7187379500
2127042000 	 2127042000
6466901823 	 6466901823
7184349400 	 7184349400
2126397850 	 2126397850
2125866400 	 2125866400
nan 	  	*
9174402399 	 9174402399
3479947347 	 3479947347
7183462929 	 7183462929
2124072400 	 2124072400
9177337097 	 9177337097
2127363100 	 2127363100
2122893699 	 2122893699
9172251694 	 9172251694
7186802164 	 7186802164
2123409624 	 2123409624
3472818644 	 3472818644
2122237400 	 2122237400
2125606400 	 2125606400
7189454229 	 7189454229
2124907740 	 2124907740
7184889595 	 7184889595
7186456781 	 7186456781
6462570362 	 6462570362
2124735410 	 2124735410
7182372017 	 7182372017
2126621422 	 2126621422
7184268059 	 7184268059
7186546720 	 7186546720
9172543529 	 9172543529
7186448697 	 7186448697
6463220655 	 6463220655
2127126000 	 2127126000
2127518050 	 2127518050
7188861300 	 7188861300
7184289191 	 7184289191
7184728524 	 7184728524
2125517350 	 2125517350
2125573600 	 2125573600
2128381800 	 2128381800
2128740300 	 2128740300
9736438588 	 9736438588
7189395036 	 7189395036
2127532329 	 2127532329
5169355555 	 5169355555
9172796243 	 9172796243
2128637625 	 2128637625
*    49  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

ET 400 LLC 	 ET 400 LLC
nan 	 nan 	*
SHAH GROUP ENTERPRISES INC. 	 SHAH GROUP ENTERPRISES INC.
C & W AS AGENT FOR 	 C & W AS AGENT FOR
AB STABLE LLC 	 AB STABLE LLC
85 REALTY CO. 	 85 REALTY CO.
MEMORIAL SLOAN KETTERING 	 MEMORIAL SLOAN KETTERING
Hacels Inc. 	 Hacels Inc.
PARK ROYAL 	 PARK ROYAL
nan 	 nan 	*
CHAMIS JERK CENTER 	 CHAMIS JERK CENTER
E.B.C. SONSORING COMM. 	 E.B.C. SONSORING COMM.
Rudin Mgmt Co Inc AAF 	 Rudin Mgmt Co Inc AAF
nan 	 nan 	*
Empire State Building Co./Helmsl 	 Empire State Building Co./Helmsl
1125 PARK AVENUE CORP 	 1125 PARK AVENUE CORP
SUPER P57 LLC C/O RXR REALTY 	 SUPER P57 LLC C/O RXR REALTY
NONE 	 None 	*
163 E 81ST STREET CORP 	 163 E 81ST STREET CORP
SELF 	 SELF
745 ASSOCIATES 	 745 ASSOCIATES
130 East 18th STreet LLC 	 130 East 18th STreet LLC
Dr. and Mrs. David Lichtenstein 	 Dr. and Mrs. David Lichtenstein
FLORENCIA PROPERTY NV 	 FLORENCIA PROPERTY NV
VLACKE BOS, LLC 	 VLACKE BOS, LLC
nan 	 nan 	*
nan 	 nan 	*
652 BROADWAY CORP. 	 652 BROADWAY CORP.
The Fifth Avenue Commitee 	 The Fifth Avenue Commitee
KOREAN METHODIST CHURCH & INSTIT 	 KOREAN METHODIST CHURCH & INSTIT
nan 	 nan 	*
EDENWALD KINGDOM HALL OF JEHOVAH 	 EDENWALD KINGDOM HALL OF JEHOVAH
nan 	 nan 	*
nan 	 nan 	*
HKS CONSTRUCTION CORP 	 HKS CONSTRUCTION CORP
CRP-Extell 99 Westside LLP 	 CRP-Extell 99 Westside LLP
A&R Kalimian REalty LP 	 A&R Kalimian REalty LP
TRIBOROUGH SCAFFOLDING & HOISTIN 	 TRIBOROUGH SCAFFOLDING & HOISTIN
nan 	 nan 	*
NY SCHOOL CONSTRUCTION AUTHORITY 	 NY SCHOOL CONSTRUCTION AUTHORITY
SILVERSTEIN PROPERTIES 	 SILVERSTEIN PROPERTIES
LAFAYETTE GARDENS TENANTS CORP. 	 LAFAYETTE GARDENS TENANTS CORP.
D & D BUILDING COMPANY  LLC 	 D & D BUILDING COMPANY  LLC
GLAVES HOUSE LP 	 GLAVES HOUSE LP
NOTGATE DEVELOPMENT ASSOC. 	 NOTGATE DEVELOPMENT ASSOC.
Karikan Realty Corp 	 Karikan Realty Corp
35 EAST TENANTS CO 	 35 EAST TENANTS CO
Beechwood RB Shorehaven LLC 	 Beechwood RB Shorehaven LLC
GRACE PROPERTIES, LLC. 	 GRACE PROPERTIES, LLC.
NYC DEPARTMENT OF HPD 	 NYC DEPARTMENT OF HPD
*    40  same records   *

======================


column:  Street Name
Original,	 Cleaned

PARK AVE SOUTH 	 PARK AVE SOUTH
82ND AVENUE 	 82ND AVENUE
EAST 26TH STREET 	 EAST 26TH STREET
EAST   56 STREET 	 EAST   56 STREET
PARK AVENUE 	 PARK AVENUE
CLARKSON AVENUE 	 CLARKSON AVENUE
EAST 67TH STREET 	 EAST 67TH STREET
8 AVENUE 	 8 AVENUE
WEST   73 STREET 	 WEST   73 STREET
VETERANS ROAD WEST 	 VETERANS ROAD WEST
GUN HILL ROAD 	 GUN HILL ROAD
WYONA STREET 	 WYONA STREET
PARK AVENUE 	 PARK AVENUE
44TH STREET 	 44TH STREET
5 AVENUE 	 5 AVENUE
PARK AVENUE 	 PARK AVENUE
PIER 57 	 PIER 57
5 AVENUE 	 5 AVENUE
EAST 81 STREET 	 EAST 81 STREET
COUNTRY POINT CIRCLE 	 COUNTRY POINT CIRCLE
5 AVENUE 	 5 AVENUE
EAST   18 STREET 	 EAST   18 STREET
BEACH  141 STREET 	 BEACH  141 STREET
WEST   22 STREET 	 WEST   22 STREET
FLATBUSH AVENUE 	 FLATBUSH AVENUE
EAST   14 STREET 	 EAST   14 STREET
TOWNSEND AVE 	 TOWNSEND AVE
BROADWAY 	 BROADWAY
DEGRAW STREET 	 DEGRAW STREET
WEST 115TH STREET 	 WEST 115TH STREET
55 AVENUE 	 55 AVENUE
EAST  222 STREET 	 EAST  222 STREET
52 STREET 	 52 STREET
EAST 27TH ST 	 EAST 27TH ST
18 STREET 	 18 STREET
BROADWAY 	 BROADWAY
5 AVENUE 	 5 AVENUE
ADAM CLAYTON POWELL JR BOULEVARD 	 ADAM CLAYTON POWELL JR BOULEVARD
28 AVENUE 	 28 AVENUE
ROCKAWAY BOULEVARD 	 ROCKAWAY BOULEVARD
WALL STREET 	 WALL STREET
HAVEN AVENUE 	 HAVEN AVENUE
THIRD AVENUE 	 THIRD AVENUE
WEST 43RD STREET 	 WEST 43RD STREET
NOSTRAND AVENUE 	 NOSTRAND AVENUE
NORTHERN BOULEVARD 	 NORTHERN BOULEVARD
EAST 30 ST 	 EAST 30 ST
SURF DRIVE 	 SURF DRIVE
41 AVENUE 	 41 AVENUE
HENDRIX STREET 	 HENDRIX STREET
*    50  same records   *

======================


column:  Site Safety Mgr's First Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Nta Name
Original,	 Cleaned

Hudson Yards-Chelsea-Flatiron-Union Square 	 Hudson Yards-Chelsea-Flatiron-Union Square
Oakland Gardens 	 Oakland Gardens
Flatbush 	 Flatbush
Midtown-Midtown South 	 Midtown-Midtown South
Turtle Bay-East Midtown 	 Turtle Bay-East Midtown
Prospect Lefferts Gardens-Wingate 	 Prospect Lefferts Gardens-Wingate
Lenox Hill-Roosevelt Island 	 Lenox Hill-Roosevelt Island
Clinton 	 Clinton
Lincoln Square 	 Lincoln Square
Charleston-Richmond Valley-Tottenville 	 Charleston-Richmond Valley-Tottenville
Allerton-Pelham Gardens 	 Allerton-Pelham Gardens
East New York (Pennsylvania Ave) 	 East New York (Pennsylvania Ave)
Turtle Bay-East Midtown 	 Turtle Bay-East Midtown
Borough Park 	 Borough Park
Midtown-Midtown South 	 Midtown-Midtown South
Upper East Side-Carnegie Hill 	 Upper East Side-Carnegie Hill
Hudson Yards-Chelsea-Flatiron-Union Square 	 Hudson Yards-Chelsea-Flatiron-Union Square
Sunset Park East 	 Sunset Park East
Upper East Side-Carnegie Hill 	 Upper East Side-Carnegie Hill
Bellerose 	 Bellerose
Midtown-Midtown South 	 Midtown-Midtown South
Gramercy 	 Gramercy
Breezy Point-Belle Harbor-Rockaway Park-Broad Channel 	 Breezy Point-Belle Harbor-Rockaway Park-Broad Channel
Hudson Yards-Chelsea-Flatiron-Union Square 	 Hudson Yards-Chelsea-Flatiron-Union Square
Prospect Heights 	 Prospect Heights
Midwood 	 Midwood
Grymes Hill-Clifton-Fox Hills 	 Grymes Hill-Clifton-Fox Hills
West Village 	 West Village
Park Slope-Gowanus 	 Park Slope-Gowanus
Morningside Heights 	 Morningside Heights
Corona 	 Corona
Eastchester-Edenwald-Baychester 	 Eastchester-Edenwald-Baychester
Sunset Park East 	 Sunset Park East
Madison 	 Madison
Park Slope-Gowanus 	 Park Slope-Gowanus
Upper West Side 	 Upper West Side
Hudson Yards-Chelsea-Flatiron-Union Square 	 Hudson Yards-Chelsea-Flatiron-Union Square
Central Harlem North-Polo Grounds 	 Central Harlem North-Polo Grounds
Bayside-Bayside Hills 	 Bayside-Bayside Hills
South Ozone Park 	 South Ozone Park
Battery Park City-Lower Manhattan 	 Battery Park City-Lower Manhattan
Washington Heights South 	 Washington Heights South
Turtle Bay-East Midtown 	 Turtle Bay-East Midtown
Midtown-Midtown South 	 Midtown-Midtown South
Bedford 	 Bedford
Murray Hill 	 Murray Hill
Midtown-Midtown South 	 Midtown-Midtown South
Soundview-Castle Hill-Clason Point-Harding Park 	 Soundview-Castle Hill-Clason Point-Harding Park
Flushing 	 Flushing
Cypress Hills-City Line 	 Cypress Hills-City Line
*    50  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
STATEN ISLAND 	 STATEN ISLAND
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
*    50  same records   *

======================


column:  Permit Si Number
Original,	 Cleaned

2889698 	 2889698
3585285 	 3585285
3088866 	 3088866
300625 	 300625
3706063 	 3706063
393875 	 393875
2800255 	 2800255
1201393 	 1201393
356374 	 356374
2060935 	 2060935
3165364 	 3165364
106495 	 106495
146966 	 146966
3360545 	 3360545
587604 	 587604
2238844 	 2238844
3817014 	 3817014
1947804 	 1947804
3207586 	 3207586
2923415 	 2923415
607766 	 607766
1088563 	 1088563
1413827 	 1413827
1141766 	 1141766
3167175 	 3167175
562675 	 562675
3301205 	 3301205
1878668 	 1878668
1425907 	 1425907
3838939 	 3838939
1204048 	 1204048
661696 	 661696
689168 	 689168
3778944 	 3778944
3102973 	 3102973
158093 	 158093
823060 	 823060
3345385 	 3345385
1579722 	 1579722
1762917 	 1762917
3620392 	 3620392
2351413 	 2351413
2984339 	 2984339
2226561 	 2226561
2183546 	 2183546
2127102 	 2127102
2674375 	 2674375
2004540 	 2004540
1612786 	 1612786
1636978 	 1636978
*    50  same records   *

======================


column:  Job Start Date
Original,	 Cleaned

2015-06-04 	 2015-06-04 00:00:00 	*
2017-08-09 	 2017-08-09 00:00:00 	*
2016-06-18 	 2016-06-18 00:00:00 	*
1993-01-25 	 1993-01-25 00:00:00 	*
2018-01-26 	 2018-01-26 00:00:00 	*
1993-12-27 	 1993-12-27 00:00:00 	*
2013-11-21 	 2013-11-21 00:00:00 	*
2002-08-28 	 2002-08-28 00:00:00 	*
1996-11-25 	 1996-11-25 00:00:00 	*
2010-02-16 	 2010-02-16 00:00:00 	*
2016-11-02 	 2016-11-02 00:00:00 	*
1991-02-26 	 1991-02-26 00:00:00 	*
2005-06-28 	 2005-06-28 00:00:00 	*
2017-10-26 	 2017-10-26 00:00:00 	*
2000-09-19 	 2000-09-19 00:00:00 	*
2011-05-19 	 2011-05-19 00:00:00 	*
11/13/2019 	 2019-11-13 00:00:00 	*
2009-04-09 	 2009-04-09 00:00:00 	*
2016-12-07 	 2016-12-07 00:00:00 	*
2014-06-26 	 2014-06-26 00:00:00 	*
1996-04-30 	 1996-04-30 00:00:00 	*
2001-04-19 	 2001-04-19 00:00:00 	*
2005-03-16 	 2005-03-16 00:00:00 	*
1999-08-05 	 1999-08-05 00:00:00 	*
2016-11-07 	 2016-11-07 00:00:00 	*
2005-06-08 	 2005-06-08 00:00:00 	*
2017-07-14 	 2017-07-14 00:00:00 	*
2008-10-10 	 2008-10-10 00:00:00 	*
2006-04-05 	 2006-04-05 00:00:00 	*
11/26/2018 	 2018-11-26 00:00:00 	*
2002-06-17 	 2002-06-17 00:00:00 	*
2004-11-12 	 2004-11-12 00:00:00 	*
2005-09-29 	 2005-09-29 00:00:00 	*
07/29/2020 	 2020-07-29 00:00:00 	*
2016-07-13 	 2016-07-13 00:00:00 	*
2005-07-11 	 2005-07-11 00:00:00 	*
1998-09-24 	 1998-09-24 00:00:00 	*

2017-09-29 	 2017-09-29 00:00:00 	*
2006-12-07 	 2006-12-07 00:00:00 	*
2006-01-04 	 2006-01-04 00:00:00 	*
01/31/2019 	 2019-01-31 00:00:00 	*
2009-07-01 	 2009-07-01 00:00:00 	*
2015-11-30 	 2015-11-30 00:00:00 	*
2011-04-20 	 2011-04-20 00:00:00 	*
2009-05-11 	 2009-05-11 00:00:00 	*
2007-07-17 	 2007-07-17 00:00:00 	*
2010-10-28 	 2010-10-28 00:00:00 	*
2008-06-16 	 2008-06-16 00:00:00 	*
2007-02-08 	 2007-02-08 00:00:00 	*
2004-05-10 	 2004-05-10 00:00:00 	*
*    0  same records   *

======================


column:  Superintendent Business Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
GENERAL PLUMBING CORP 	 GENERAL PLUMBING CORP
nan 	 nan 	*
CROOM PLUMBING & HEATING CORP 	 CROOM PLUMBING & HEATING CORP
nan 	 nan 	*
AKRON CONTRACTORS INC. 	 AKRON CONTRACTORS INC.
SO-HO CUSTOM INTERIORS 	 SO-HO CUSTOM INTERIORS
nan 	 nan 	*
nan 	 nan 	*
M.R.L.S. CONSTR. 	 M.R.L.S. CONSTR.
BOVIS LEND LEASE LMB 	 BOVIS LEND LEASE LMB
nan 	 nan 	*
INTERIOR CONSTRUCTION CORP. 	 INTERIOR CONSTRUCTION CORP.
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
ALL COUNTIES FIRE PROT. 	 ALL COUNTIES FIRE PROT.
BELL PLBG CORP 	 BELL PLBG CORP
MCMANUS MECHANICAL MAINTENANCE 	 MCMANUS MECHANICAL MAINTENANCE
FALCON PROPERTIES INC 	 FALCON PROPERTIES INC
nan 	 nan 	*
GLOBE PL & HTG INC 	 GLOBE PL & HTG INC
nan 	 nan 	*
nan 	 nan 	*
ALJER PLUMBING & HEATING CORP. 	 ALJER PLUMBING & HEATING CORP.
nan 	 nan 	*
DIAZ CONSTRUCTION CORP 	 DIAZ CONSTRUCTION CORP
OAK DRIVE ENTERPRISES, INC. 	 OAK DRIVE ENTERPRISES, INC.
B.H.PLBG & HTG CORP 	 B.H.PLBG & HTG CORP
nan 	 nan 	*
nan 	 nan 	*
SAFEWAY ENVIORNMENTAL CORP 	 SAFEWAY ENVIORNMENTAL CORP
SWENNY CONST. INC 	 SWENNY CONST. INC
nan 	 nan 	*
BETHEL GENERAL CONTRACTING INC 	 BETHEL GENERAL CONTRACTING INC
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
KORMAN DESIGN & BUILD 	 KORMAN DESIGN & BUILD
ERIN CONSRUCTION & DEVE. CO INC 	 ERIN CONSRUCTION & DEVE. CO INC
*    21  same records   *

======================


column:  Issuance Date
Original,	 Cleaned

2015-06-04  	 2015-06-04 00:00:00 	*
2019-02-05  	 2019-02-05 00:00:00 	*
2016-06-18  	 2016-06-18 00:00:00 	*
1993-01-25  	 1993-01-25 00:00:00 	*
2019-10-30  	 2019-10-30 00:00:00 	*
1993-12-27  	 1993-12-27 00:00:00 	*
2014-12-08  	 2014-12-08 00:00:00 	*
2002-06-10  	 2002-06-10 00:00:00 	*
1996-11-25  	 1996-11-25 00:00:00 	*
2010-02-16  	 2010-02-16 00:00:00 	*
2016-11-02  	 2016-11-02 00:00:00 	*
1991-02-26  	 1991-02-26 00:00:00 	*
2005-06-28  	 2005-06-28 00:00:00 	*
2017-10-26  	 2017-10-26 00:00:00 	*
2000-09-19  	 2000-09-19 00:00:00 	*
2011-05-19  	 2011-05-19 00:00:00 	*
12/21/2020 	 2020-12-21 00:00:00 	*
2009-04-09  	 2009-04-09 00:00:00 	*
2017-01-30  	 2017-01-30 00:00:00 	*
2015-08-04  	 2015-08-04 00:00:00 	*
1996-04-30  	 1996-04-30 00:00:00 	*
2001-04-19  	 2001-04-19 00:00:00 	*
2005-03-16  	 2005-03-16 00:00:00 	*
2001-08-27  	 2001-08-27 00:00:00 	*
2016-11-07  	 2016-11-07 00:00:00 	*
2005-06-08  	 2005-06-08 00:00:00 	*
2017-07-14  	 2017-07-14 00:00:00 	*
2008-10-10  	 2008-10-10 00:00:00 	*
2006-04-05  	 2006-04-05 00:00:00 	*
03/24/2021 	 2021-03-24 00:00:00 	*
2002-06-17  	 2002-06-17 00:00:00 	*
2004-11-12  	 2004-11-12 00:00:00 	*
2005-09-29  	 2005-09-29 00:00:00 	*
07/29/2020 	 2020-07-29 00:00:00 	*
2016-07-13  	 2016-07-13 00:00:00 	*
2005-07-11  	 2005-07-11 00:00:00 	*
1998-09-24  	 1998-09-24 00:00:00 	*
2017-09-29  	 2017-09-29 00:00:00 	*
2006-12-07  	 2006-12-07 00:00:00 	*
2008-01-15  	 2008-01-15 00:00:00 	*
04/15/2019 	 2019-04-15 00:00:00 	*
2012-02-28  	 2012-02-28 00:00:00 	*
2015-11-30  	 2015-11-30 00:00:00 	*
2011-04-20  	 2011-04-20 00:00:00 	*
2010-12-29  	 2010-12-29 00:00:00 	*
2010-08-04  	 2010-08-04 00:00:00 	*
2014-03-17  	 2014-03-17 00:00:00 	*
2009-09-02  	 2009-09-02 00:00:00 	*
2007-02-08  	 2007-02-08 00:00:00 	*
2007-04-04  	 2007-04-04 00:00:00 	*
*    0  same records   *

======================


column:  Permittee's Last Name
Original,	 Cleaned

WILBUR 	 WILBUR
PEPE 	 PEPE
SINGH 	 SINGH
BRENNER 	 BRENNER
ISRAEL 	 ISRAEL
CROOM 	 CROOM
KLANSKY 	 KLANSKY
KIOUZELLIS 	 KIOUZELLIS
FRIEDMAN 	 FRIEDMAN
GRASSO 	 GRASSO
RIGGS 	 RIGGS
REME 	 REME
MIRABILE 	 MIRABILE
GRUN 	 GRUN
BRUZZESE 	 BRUZZESE
ORGERA 	 ORGERA
GALLAGHER 	 GALLAGHER
MAMOUZELLOS 	 MAMOUZELLOS
MICELI 	 MICELI
MIDROY 	 MIDROY
WILDENBERGER 	 WILDENBERGER
WIDING 	 WIDING
MCMANUS 	 MCMANUS
SILBERMAN 	 SILBERMAN
GEISLER 	 GEISLER
WEISS 	 WEISS
KRUNFOL 	 KRUNFOL
SCHOLZ 	 SCHOLZ
WITTLIN 	 WITTLIN
SCHER 	 SCHER
BATISTA 	 BATISTA
WARD 	 WARD
HARVEY 	 HARVEY
LIDSKY 	 LIDSKY
SINGH 	 SINGH
ADLER 	 ADLER
MOSKOVER 	 MOSKOVER
HSU 	 HSU
JUHN 	 JUHN
BELLI 	 BELLI
ROMANO 	 ROMANO
MORANO 	 MORANO
MARCUS 	 MARCUS
SMITH 	 SMITH
PIETRACATELLA 	 PIETRACATELLA
CHON 	 CHON
DOWNES 	 DOWNES
BOCCIERI 	 BOCCIERI
LEE 	 LEE
MURNANE 	 MURNANE
*    50  same records   *

======================


column:  Permit Sequence Number
Original,	 Cleaned

01 	 01
03 	 03
01 	 01
01 	 01
02 	 02
01 	 01
02 	 02
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
03 	 03
01 	 01
02 	 02
02 	 02
01 	 01
01 	 01
01 	 01
03 	 03
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
05 	 05
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
02 	 02
02 	 02
04 	 04
01 	 01
01 	 01
02 	 02
02 	 02
05 	 05
02 	 02
01 	 01
04 	 04
*    50  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

PIAZZA 	 PIAZZA
ASAF 	 ASAF
SINGH 	 SINGH
SANTORA 	 SANTORA
ZHANG 	 ZHANG
LANGER 	 LANGER
MAHONEY 	 MAHONEY
Hines 	 Hines
BERGER 	 BERGER
SMITH 	 SMITH
MARSHALL 	 MARSHALL
ROBINS 	 ROBINS
Boniberger 	 Boniberger
HELLER 	 HELLER
Tole 	 Tole
BARTOW 	 BARTOW
FERRANTE 	 FERRANTE
GEANNAKAKES 	 GEANNAKAKES
PRETSFLEDER 	 PRETSFLEDER
RAHMAN 	 RAHMAN
GOODMAN 	 GOODMAN
Cohen 	 Cohen
Lichtenstein 	 Lichtenstein
MASRI 	 MASRI
VENNER 	 VENNER
ROBINSON 	 ROBINSON
GOMEZ 	 GOMEZ
GORDON 	 GORDON
Renner 	 Renner
SOO CHO 	 SOO CHO
MOHAMMED 	 MOHAMMED
HALL 	 HALL
ZHENG 	 ZHENG
LAMM 	 LAMM
SINGH 	 SINGH
Chasin 	 Chasin
Kalimian 	 Kalimian
BOHRER 	 BOHRER
KIM 	 KIM
TUNG 	 TUNG
DACUNTO 	 DACUNTO
CRUZ 	 CRUZ
COHEN 	 COHEN
GILLCRIST 	 GILLCRIST
ENGEL 	 ENGEL
Verouhis 	 Verouhis
ZARZOUR 	 ZARZOUR
Dubb 	 Dubb
PARK 	 PARK
JOSEPH 	 JOSEPH
*    50  same records   *

======================


column:  Owner's House Street Name
Original,	 Cleaned

WEST 41ST STREET 	 WEST 41ST STREET
82ND AVENUE 	 82ND AVENUE
140TH STREET 	 140TH STREET
AVE OF THE AMERICAS 	 AVE OF THE AMERICAS
FIFTH AVENUE 	 FIFTH AVENUE
FLATBUSH AVENUE 	 FLATBUSH AVENUE
YORK AVENUE 	 YORK AVENUE
West 44th Street 	 West 44th Street
W 73 ST 	 W 73 ST
VETERANS ROAD 	 VETERANS ROAD
GUN HILL ROAD 	 GUN HILL ROAD
LOTT AVE. 	 LOTT AVE.
Park Avenue 	 Park Avenue
44TH STREET 	 44TH STREET
Fifth Avenue 	 Fifth Avenue
PARK AVENUE 	 PARK AVENUE
RXR PLAZA 	 RXR PLAZA
96TH STREET 	 96TH STREET
PARK AVENUE C/O 	 PARK AVENUE C/O
COUNTRY POINT CIRCLE 	 COUNTRY POINT CIRCLE
MADISON AVENUE 	 MADISON AVENUE
East 18th STreet, apt 3Y 	 East 18th STreet, apt 3Y
Beach 141 Street 	 Beach 141 Street
E 42ND ST 	 E 42ND ST
HENRY STREET 	 HENRY STREET
EAST 14 STREET 	 EAST 14 STREET
TOWNSEND AVE 	 TOWNSEND AVE
BROADWAY 	 BROADWAY
5th Avenue 	 5th Avenue
WEST 115TH STREET 	 WEST 115TH STREET
98TH STREET 	 98TH STREET
EAST 222ND STREET 	 EAST 222ND STREET
52nd Street 	 52nd Street
EAST 27TH ST 	 EAST 27TH ST
3 AVE 	 3 AVE
3rd Avenue, 4th Floor 	 3rd Avenue, 4th Floor
East 52 St 	 East 52 St
FARRINGTON STREET 	 FARRINGTON STREET
28TH AVENUE 	 28TH AVENUE
THOMSON AVENUE 	 THOMSON AVENUE
GREENWICH STREET 	 GREENWICH STREET
PARK AVENUE SOUTH 	 PARK AVENUE SOUTH
LEXINGTON AVENUE 	 LEXINGTON AVENUE
WEST 71ST STREET 	 WEST 71ST STREET
BROAD STREET 	 BROAD STREET
Northern Blvd 	 Northern Blvd
PARK AVE 	 PARK AVE
North Broadway 	 North Broadway
CHASE ROAD, P.O. BOX 56 	 CHASE ROAD, P.O. BOX 56
GOLD STREET 	 GOLD STREET
*    50  same records   *

======================


column:  Permittee's First Name
Original,	 Cleaned

MATTHEW 	 MATTHEW
JAMES 	 JAMES
JASWINDER 	 JASWINDER
FRED 	 FRED
DAVID 	 DAVID
LATHAN 	 LATHAN
ARTHUR 	 ARTHUR
NICHOLAS 	 NICHOLAS
SANDY 	 SANDY
MARIE 	 MARIE
GERARD 	 GERARD
MORRIS 	 MORRIS
JIM 	 JIM
HERSCHEL 	 HERSCHEL
ANNA 	 ANNA
JOSEPH 	 JOSEPH
THOMAS 	 THOMAS
GEORGE 	 GEORGE
MICHAEL 	 MICHAEL
ROBERT 	 ROBERT
ROY 	 ROY
JOHN 	 JOHN
ROBERT 	 ROBERT
CARLOS 	 CARLOS
FRED 	 FRED
MATHEW 	 MATHEW
LABIB 	 LABIB
CARL 	 CARL
ALVIN 	 ALVIN
LAWRENCE 	 LAWRENCE
JOSE 	 JOSE
PETER 	 PETER
WILLIAM 	 WILLIAM
SHAYA 	 SHAYA
BALWINDER 	 BALWINDER
DONALD 	 DONALD
NIKKI 	 NIKKI
PO SHENG 	 PO SHENG
JOHN 	 JOHN
FRANCO 	 FRANCO
JOSEPH 	 JOSEPH
MIKE 	 MIKE
MADELINE 	 MADELINE
GEORGE 	 GEORGE
JOSEPH 	 JOSEPH
SOO 	 SOO
CHRISTOPHER 	 CHRISTOPHER
JOHN 	 JOHN
KENNY 	 KENNY
JOHN 	 JOHN

*    50  same records   *

======================


column:  Superintendent First & Last Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
FRED BRENNER 	 FRED BRENNER
nan 	 nan 	*
LATHAN CROOM 	 LATHAN CROOM
nan 	 nan 	*
NICHOLAS KIOUZELLIS 	 NICHOLAS KIOUZELLIS
SANDY FRIEDMAN 	 SANDY FRIEDMAN
nan 	 nan 	*
nan 	 nan 	*
MORRIS REME 	 MORRIS REME
JIM MIRABILE 	 JIM MIRABILE
nan 	 nan 	*
ANNA BRUZZESE 	 ANNA BRUZZESE
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
ROY WILDENBERGER 	 ROY WILDENBERGER
JOHN WIDING 	 JOHN WIDING
ROBERT MCMANUS 	 ROBERT MCMANUS
CARLOS SILBERMAN 	 CARLOS SILBERMAN
nan 	 nan 	*
MATHEW WEISS 	 MATHEW WEISS
nan 	 nan 	*
nan 	 nan 	*
ALVIN WITTLIN 	 ALVIN WITTLIN
nan 	 nan 	*
JOSE BATISTA 	 JOSE BATISTA
PETER WARD 	 PETER WARD
WILLIAM HARVEY 	 WILLIAM HARVEY
nan 	 nan 	*
nan 	 nan 	*
DONALD ADLER 	 DONALD ADLER
NIKKI MOSKOVER 	 NIKKI MOSKOVER
nan 	 nan 	*
JOHN JUHN 	 JOHN JUHN
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
KENNY LEE 	 KENNY LEE
JOHN MURNANE 	 JOHN MURNANE
*    21  same records   *

======================


column:  Permittee's Phone Number
Original,	 Cleaned

7736659252 	 7736659252
6464861380 	 6464861380
7182233836 	 7182233836
7187824400 	 7187824400
2123021484 	 2123021484
2126771941 	 2126771941
7187867200 	 7187867200
7182040758 	 7182040758
2122190444 	 2122190444
7183568863 	 7183568863
7188949304 	 7188949304
2014473377 	 2014473377
2125926700 	 2125926700
7188517783 	 7188517783
2126856555 	 2126856555
7182617478 	 7182617478
2124816100 	 2124816100
7184922525 	 7184922525
5169023924 	 5169023924
7184601300 	 7184601300
7188212124 	 7188212124
2128761195 	 2128761195
7189453966 	 7189453966
2123023000 	 2123023000
6316653232 	 6316653232
7182252455 	 7182252455
9178254223 	 9178254223
9175967896 	 9175967896
2128741274 	 2128741274
7188221620 	 7188221620
9174401737 	 9174401737
7188817680 	 7188817680
2122262313 	 2122262313
9175786396 	 9175786396
6463220655 	 6463220655
7187944300 	 7187944300
2122432639 	 2122432639
7188861300 	 7188861300
5166161800 	 5166161800
7189654976 	 7189654976
2125450500 	 2125450500
7187290411 	 7187290411
2125905236 	 2125905236
8002469276 	 8002469276
7184478358 	 7184478358
5169420767 	 5169420767
7183281004 	 7183281004
7189484500 	 7189484500
7184632406 	 7184632406
5166164610 	 5166164610
*    50  same records   *

======================


column:  Job Number
Original,	 Cleaned

122398761 	 122398761
421313126 	 421313126
340392337 	 340392337
100490586 	 100490586
123197441 	 123197441
300232246 	 300232246
121682241 	 121682241
103159635 	 103159635
101729471 	 101729471
520026123 	 520026123
220513362 	 220513362
300075291 	 300075291
104138345 	 104138345
321633513 	 321633513
102725357 	 102725357
120559564 	 120559564
123739534 	 123739534
320004749 	 320004749
122861527 	 122861527
440113431 	 440113431
101283629 	 101283629
102778629 	 102778629
402038264 	 402038264
100271787 	 100271787
321403575 	 321403575
301756099 	 301756099
520306963 	 520306963
110163723 	 110163723
302142553 	 302142553
121583553 	 121583553
401478398 	 401478398
200919284 	 200919284
302012881 	 302012881
321920454 	 321920454
340401014 	 340401014
104162406 	 104162406
102075068 	 102075068
140699144 	 140699144
401619664 	 401619664
401784128 	 401784128
123659175 	 123659175
120082356 	 120082356
122609105 	 122609105
120663380 	 120663380
310210303 	 310210303
402632460 	 402632460
120513514 	 120513514
201098061 	 201098061
402539909 	 402539909
301481590 	 301481590
*    50  same records   *

======================


column:  Filing Date
Original,	 Cleaned

2015-06-04  	 2015-06-04 00:00:00 	*
2019-02-05  	 2019-02-05 00:00:00 	*
2016-06-17  	 2016-06-17 00:00:00 	*
1993-01-25  	 1993-01-25 00:00:00 	*
2019-10-30  	 2019-10-30 00:00:00 	*
1993-12-27  	 1993-12-27 00:00:00 	*
2014-11-25  	 2014-11-25 00:00:00 	*
2002-06-10  	 2002-06-10 00:00:00 	*
1996-11-25  	 1996-11-25 00:00:00 	*
2010-02-16  	 2010-02-16 00:00:00 	*
2016-11-02  	 2016-11-02 00:00:00 	*
1991-02-26  	 1991-02-26 00:00:00 	*
2005-06-28  	 2005-06-28 00:00:00 	*
2017-10-26  	 2017-10-26 00:00:00 	*
2000-09-19  	 2000-09-19 00:00:00 	*
2011-05-19  	 2011-05-19 00:00:00 	*
12/21/2020 	 2020-12-21 00:00:00 	*
2009-04-09  	 2009-04-09 00:00:00 	*
2017-01-30  	 2017-01-30 00:00:00 	*
2015-08-04  	 2015-08-04 00:00:00 	*
1996-04-30  	 1996-04-30 00:00:00 	*
2001-04-19  	 2001-04-19 00:00:00 	*
2005-03-16  	 2005-03-16 00:00:00 	*
2001-08-27  	 2001-08-27 00:00:00 	*
2016-11-04  	 2016-11-04 00:00:00 	*
2005-06-08  	 2005-06-08 00:00:00 	*
2017-07-14  	 2017-07-14 00:00:00 	*
2008-10-10  	 2008-10-10 00:00:00 	*
2006-04-05  	 2006-04-05 00:00:00 	*
03/24/2021 	 2021-03-24 00:00:00 	*
2002-06-17  	 2002-06-17 00:00:00 	*
2004-11-12  	 2004-11-12 00:00:00 	*
2005-09-29  	 2005-09-29 00:00:00 	*
07/29/2020 	 2020-07-29 00:00:00 	*
2016-07-13  	 2016-07-13 00:00:00 	*
2005-07-11  	 2005-07-11 00:00:00 	*
1998-09-24  	 1998-09-24 00:00:00 	*
2017-09-29  	 2017-09-29 00:00:00 	*
2006-11-28  	 2006-11-28 00:00:00 	*
2008-01-15  	 2008-01-15 00:00:00 	*
04/15/2019 	 2019-04-15 00:00:00 	*
2012-02-28  	 2012-02-28 00:00:00 	*
2015-11-30  	 2015-11-30 00:00:00 	*
2011-04-19  	 2011-04-19 00:00:00 	*
2010-12-29  	 2010-12-29 00:00:00 	*
2010-08-04  	 2010-08-04 00:00:00 	*
2014-03-17  	 2014-03-17 00:00:00 	*
2009-09-02  	 2009-09-02 00:00:00 	*
2007-02-08  	 2007-02-08 00:00:00 	*
2007-04-04  	 2007-04-04 00:00:00 	*
*    0  same records   *

======================


column:  Numbern- Profit
Original,	 Cleaned

N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
Y 	 Y
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
nan 	  	*
Y 	 Y
N 	 N
Y 	 Y
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
Y 	 Y
Y 	 Y
N 	 N
N 	 N
N 	 N
Y 	 Y
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
*    49  same records   *

======================


column:  Owner's House City
Original,	 Cleaned

NEW YORK 	 NEW YORK
HOLLIS HILLS 	 HOLLIS HILLS
JAMAICA 	 JAMAICA
NY 	 NY
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
New York 	 New York
NY 	 NY
SI 	 SI
BRONX 	 BRONX
BKLYN 	 BKLYN
NY 	 NY
BROOKLYN 	 BROOKLYN
New York 	 New York
NYC 	 NYC
UNIONDALE 	 UNIONDALE
BROOKLYN 	 BROOKLYN
NEW YORK 	 NEW YORK
QUEENS 	 QUEENS
NEW YORK 	 NEW YORK
NY 	 NY
Belle Harbor 	 Belle Harbor
NY 	 NY
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
NEW YORK 	 NEW YORK
Brooklyn 	 Brooklyn
NEW YORK 	 NEW YORK
CORONA 	 CORONA
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
New York, 	 New York,
NY 	 NY
FLUSHING 	 FLUSHING
BAYSIDE 	 BAYSIDE
LIC 	 LIC
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEWARK 	 NEWARK
Flushing 	 Flushing
NEW YORK 	 NEW YORK
Jericho 	 Jericho
SCARSDALE 	 SCARSDALE
NEW YORK 	 NEW YORK
*    50  same records   *

======================


column:  Expiration Date
Original,	 Cleaned

2015-08-20 	 2015-08-20 00:00:00 	*
2020-02-05 	 2020-02-05 00:00:00 	*
2017-06-18 	 2017-06-18 00:00:00 	*
1993-07-01 	 1993-07-01 00:00:00 	*
2020-10-29 	 2020-10-29 00:00:00 	*
1995-12-27 	 1995-12-27 00:00:00 	*
2015-12-08 	 2015-12-08 00:00:00 	*
2003-08-28 	 2003-08-28 00:00:00 	*
1997-04-11 	 1997-04-11 00:00:00 	*
2010-03-26 	 2010-03-26 00:00:00 	*
2017-11-02 	 2017-11-02 00:00:00 	*
1991-06-01 	 1991-06-01 00:00:00 	*
2006-07-06 	 2006-07-06 00:00:00 	*
2018-03-31 	 2018-03-31 00:00:00 	*
2001-06-29 	 2001-06-29 00:00:00 	*
2012-03-01 	 2012-03-01 00:00:00 	*
01/01/2022 	 2022-01-01 00:00:00 	*
2010-04-09 	 2010-04-09 00:00:00 	*
2018-01-30 	 2018-01-30 00:00:00 	*
2016-08-03 	 2016-08-03 00:00:00 	*
1997-02-03 	 1997-02-03 00:00:00 	*
2002-04-19 	 2002-04-19 00:00:00 	*
2006-03-16 	 2006-03-16 00:00:00 	*
2002-03-29 	 2002-03-29 00:00:00 	*
2017-07-04 	 2017-07-04 00:00:00 	*
2006-06-08 	 2006-06-08 00:00:00 	*
2017-08-27 	 2017-08-27 00:00:00 	*
2009-07-07 	 2009-07-07 00:00:00 	*
2007-04-05 	 2007-04-05 00:00:00 	*
03/20/2022 	 2022-03-20 00:00:00 	*
2003-02-05 	 2003-02-05 00:00:00 	*
2004-12-31 	 2004-12-31 00:00:00 	*
2006-09-29 	 2006-09-29 00:00:00 	*
05/30/2021 	 2021-05-30 00:00:00 	*
2017-07-13 	 2017-07-13 00:00:00 	*
2005-07-17 	 2005-07-17 00:00:00 	*
1999-06-16 	 1999-06-16 00:00:00 	*
2018-09-29 	 2018-09-29 00:00:00 	*
2006-12-31 	 2006-12-31 00:00:00 	*
2009-01-14 	 2009-01-14 00:00:00 	*
10/31/2020 	 2020-10-31 00:00:00 	*
2012-04-15 	 2012-04-15 00:00:00 	*
2016-01-01 	 2016-01-01 00:00:00 	*
2012-04-19 	 2012-04-19 00:00:00 	*
2011-12-29 	 2011-12-29 00:00:00 	*
2011-01-06 	 2011-01-06 00:00:00 	*
2015-03-17 	 2015-03-17 00:00:00 	*
2010-09-02 	 2010-09-02 00:00:00 	*
2007-06-30 	 2007-06-30 00:00:00 	*
2008-04-05 	 2008-04-05 00:00:00 	*
*    0  same records   *

======================


column:  Site Safety Mgr Business Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  D O B Run Date
Original,	 Cleaned

2017-11-03  	 2019-10-04 00:00:00 	*
2019-02-06  	 2019-02-06 00:00:00 	*
2017-11-03  	 2019-09-06 00:00:00 	*
2017-11-03  	 2019-08-27 00:00:00 	*
2019-10-31  	 2019-10-31 00:00:00 	*
2017-11-03  	 2019-08-23 00:00:00 	*
2017-11-03  	 2019-08-20 00:00:00 	*
2017-11-03  	 2019-08-28 00:00:00 	*
2017-11-03  	 2019-12-05 00:00:00 	*
2017-11-03  	 2019-09-24 00:00:00 	*

2017-11-03  	 2019-09-13 00:00:00 	*
2017-11-03  	 2020-01-23 00:00:00 	*
2017-11-03  	 2019-08-30 00:00:00 	*
2017-11-03  	 2019-10-02 00:00:00 	*
2017-11-03  	 2019-09-05 00:00:00 	*
2017-11-03  	 2019-08-29 00:00:00 	*
12/22/2020 00:00:00 	 2020-12-22 00:00:00 	*
2017-11-03  	 2020-01-23 00:00:00 	*
2017-11-03  	 2019-10-04 00:00:00 	*
2017-11-03  	 2019-10-03 00:00:00 	*
2017-11-03  	 2019-09-11 00:00:00 	*
2017-11-03  	 2019-09-06 00:00:00 	*
2017-11-03  	 2020-01-29 00:00:00 	*
2017-11-03  	 2019-08-27 00:00:00 	*
2017-11-03  	 2019-10-12 00:00:00 	*
2017-11-03  	 2019-09-17 00:00:00 	*
2017-11-03  	 2019-08-29 00:00:00 	*
2017-11-03  	 2019-09-29 00:00:00 	*
2017-11-03  	 2019-10-08 00:00:00 	*
03/25/2021 00:00:00 	 2021-03-25 00:00:00 	*
2017-11-03  	 2019-09-26 00:00:00 	*
2017-11-03  	 2019-09-11 00:00:00 	*
2017-11-03  	 2019-10-04 00:00:00 	*
07/30/2020 00:00:00 	 2020-07-30 00:00:00 	*
2017-11-03  	 2019-05-17 00:00:00 	*
2017-11-03  	 2020-01-31 00:00:00 	*
2017-11-03  	 2019-09-21 00:00:00 	*
2017-12-16  	 2017-12-16 00:00:00 	*
2017-11-03  	 2019-09-18 00:00:00 	*
2017-11-03  	 2019-08-30 00:00:00 	*
07/29/2020 00:00:00 	 2020-07-29 00:00:00 	*
2017-11-03  	 2018-09-23 00:00:00 	*
2017-11-03  	 2020-01-23 00:00:00 	*
2017-11-03  	 2018-12-15 00:00:00 	*
2017-11-03  	 2019-07-28 00:00:00 	*
2017-11-03  	 2019-08-07 00:00:00 	*
2017-11-03  	 2019-09-27 00:00:00 	*
2017-11-03  	 2020-01-24 00:00:00 	*
2017-11-03  	 2019-09-10 00:00:00 	*
2017-11-03  	 2019-09-04 00:00:00 	*
*    0  same records   *

======================


column:  Owner's House Number
Original,	 Cleaned

230 	 230
213-05 	 213-05
128-24 	 128-24
1180 	 1180
717 	 717
1465A 	 1465 A 	*
1275 	 1275
305 	 305
23 	 23
2494 	 2494
1322 	 1322
285 	 285
345 	 345
1122 	 1122
350 	 350
1125 	 1125
625 	 625
215 	 215
4 	 4
82-89 	 82-89
650 	 650
130 	 130
277 	 277
30 	 30
114 	 114
1433 	 1433
124 	 124
652 	 652
141 	 141
633 	 633
48-13 	 48-13
1217 	 1217
655 	 655
1651 	 1651
2511 	 2511
800 	 800
101 	 101
35-06 	 35-06
216-50 	 216-50
30-30 	 30-30
250 	 250
250 	 250
750 	 750
160 	 160
1060 	 1060
159-15 	 159-15
257 	 257
500 	 500
29 	 29
100 	 100
*    49  same records   *

======================


column:  Site Safety Mgr's Last Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Permittee's License Number
Original,	 Cleaned

0608660 	 0608660
0000907 	 0000907
0614372 	 0614372
0058B 	 0058B
0000123 	 0000123
0000705 	 0000705
0000378 	 0000378
0000642 	 0000642
nan 	  	*
0600029 	 0600029
0000832 	 0000832
nan 	  	*
0016836 	 0016836
0025945 	 0025945
0001188 	 0001188
0023561 	 0023561
0002660 	 0002660
0002118 	 0002118
0034904 	 0034904
0000747 	 0000747
0000319 	 0000319
0000918 	 0000918
0001483 	 0001483
0004218 	 0004218
0000708 	 0000708
0001071 	 0001071
0614793 	 0614793
0601149 	 0601149
0000494 	 0000494
0600900 	 0600900
0022898 	 0022898
nan 	  	*
0001350 	 0001350
0620115 	 0620115
0613665 	 0613665
0004984 	 0004984
0005407 	 0005407
0606141 	 0606141
0007064 	 0007064
0000338 	 0000338
0037664 	 0037664
0034051 	 0034051
0002862 	 0002862
0005267 	 0005267
0001904 	 0001904
0602336 	 0602336
0032158 	 0032158
0001649 	 0001649
0001362 	 0001362
0003575 	 0003575
*    47  same records   *

======================


column:  House Number
Original,	 Cleaned

400 	 400
213-05 	 213-05
554 	 554
60 	 60
301 	 301
85 	 85
425 	 425
705 	 705
23 	 23
2494 	 2494
1322 	 1322
381 	 381
345 	 345
1122 	 1122
350 	 350
1125 	 1125
1 	 1
5407 	 5407
163 	 163
82-89 	 82-89
745 	 745
130 	 130
277 	 277
139 	 139
347 	 347
1433 	 1433
124 	 124
652 	 652
625 	 625
633 	 633
110-33 	 110-33
1223 	 1223
655 	 655
1651 	 1651
224 	 224
2628-630 	 2628-630
79 	 79
2600 	 2600
216-56 	 216-56
121-10 	 121-10
120 	 120
330 	 330
979 	 979
127 	 127
390 	 390
159-01 	 159-01
35 	 35
225 	 225
131-37 	 131-37
168 	 168
*    50  same records   *

======================


column:  Bin Number
Original,	 Cleaned

1089699 	 1089699
4164688 	 4164688
3120821 	 3120821
1035773 	 1035773
1084771 	 1084771
3115972 	 3115972
1087284 	 1087284
1024991 	 1024991
1028661 	 1028661
5086997 	 5086997
2056136 	 2056136
3320434 	 3320434
1036460 	 1036460
3136368 	 3136368
1015862 	 1015862
1048245 	 1048245
1012253 	 1012253
3014648 	 3014648
1047567 	 1047567
4463238 	 4463238
1036079 	 1036079
1017843 	 1017843
4306633 	 4306633
1014796 	 1014796
3029036 	 3029036
3181361 	 3181361
5042446 	 5042446
1008421 	 1008421
3336109 	 3336109
1057375 	 1057375
4049833 	 4049833
2065699 	 2065699
3341249 	 3341249
3182741 	 3182741
3397029 	 3397029
1056465 	 1056465
1016079 	 1016079
1090464 	 1090464
4589961 	 4589961
4253607 	 4253607
1000871 	 1000871
1079979 	 1079979
1038623 	 1038623
1022613 	 1022613
3051074 	 3051074
4119373 	 4119373
1016961 	 1016961
2119584 	 2119584
4314730 	 4314730
3087495 	 3087495
*    50  same records   *

======================


column:  Permittee's Business Name
Original,	 Cleaned

MACON CONSTRUCTION GROUP 	 MACON CONSTRUCTION GROUP
JMW PLUMBING, INC 	 JMW PLUMBING, INC
MAHNA & JAS CONS CORP 	 MAHNA & JAS CONS CORP
GENERAL PLUMBING CORP 	 GENERAL PLUMBING CORP
RAEL AUTOMATIC SPR.CO INC 	 RAEL AUTOMATIC SPR.CO INC
CROOM PLUMBING & HEATING CORP 	 CROOM PLUMBING & HEATING CORP
ASHLAR MECHANICAL CORP 	 ASHLAR MECHANICAL CORP
AKRON CONTRACTORS INC. 	 AKRON CONTRACTORS INC.
SO-HO CUSTOM INTERIORS 	 SO-HO CUSTOM INTERIORS
MGM DEMO INC 	 MGM DEMO INC
RIGGS PLUMBING AND HTG IN 	 RIGGS PLUMBING AND HTG IN
M.R.L.S. CONSTR. 	 M.R.L.S. CONSTR.
BOVIS LEND LEASE LMB 	 BOVIS LEND LEASE LMB
ALROSE CONSTRUCTION INC 	 ALROSE CONSTRUCTION INC
INTERIOR CONSTRUCTION CORP. 	 INTERIOR CONSTRUCTION CORP.
RICHMOND REMODELING & CON 	 RICHMOND REMODELING & CON
STRUCTURE TONE, LLC 	 STRUCTURE TONE, LLC
MAMOUZELLOS MECHAN'L CORP 	 MAMOUZELLOS MECHAN'L CORP
ALL DIMENSION HOME IMPROV 	 ALL DIMENSION HOME IMPROV
CATMAN PLUMBING INC 	 CATMAN PLUMBING INC
ALL COUNTIES FIRE PROT. 	 ALL COUNTIES FIRE PROT.
BELL PLBG CORP 	 BELL PLBG CORP
MCMANUS MECHANICAL MAINTENANCE 	 MCMANUS MECHANICAL MAINTENANCE
FALCON PROPERTIES INC 	 FALCON PROPERTIES INC
CUSTOM COMMERCIAL CONSTRU 	 CUSTOM COMMERCIAL CONSTRU
GLOBE PL & HTG INC 	 GLOBE PL & HTG INC
KRUNFOL & KRUNFOL CONS CO 	 KRUNFOL & KRUNFOL CONS CO
CARL SCHOLZ 	 CARL SCHOLZ
ALJER PLUMBING & HEATING CORP. 	 ALJER PLUMBING & HEATING CORP.
LET ME BUILD, LLC 	 LET ME BUILD, LLC
DIAZ CONSTRUCTION CORP 	 DIAZ CONSTRUCTION CORP
OAK DRIVE ENTERPRISES, INC. 	 OAK DRIVE ENTERPRISES, INC.
B.H.PLBG & HTG CORP 	 B.H.PLBG & HTG CORP
TFJ CONTRACTING LLC 	 TFJ CONTRACTING LLC
HKSCONSTRUCTION CORP 	 HKSCONSTRUCTION CORP
SAFEWAY ENVIORNMENTAL CORP 	 SAFEWAY ENVIORNMENTAL CORP
SWENNY CONST. INC 	 SWENNY CONST. INC
TRI BOROUGH SCAFFOLDING 	 TRI BOROUGH SCAFFOLDING
BETHEL GENERAL CONTRACTING INC 	 BETHEL GENERAL CONTRACTING INC
FRANCO BELLI PLBG & HTG 	 FRANCO BELLI PLBG & HTG
JRM CONSTRUCTION MGMT LLC 	 JRM CONSTRUCTION MGMT LLC
A W R GROUP INC 	 A W R GROUP INC
D & D BUILDING CO. LLC 	 D & D BUILDING CO. LLC
EFFICIENT COMB&COOLING CO 	 EFFICIENT COMB&COOLING CO
PRESTIGE PLBG & HTG INC 	 PRESTIGE PLBG & HTG INC
TREND 21 DESIGN&BUILD INC 	 TREND 21 DESIGN&BUILD INC
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
DUO PLUMBING & HTG CORP. 	 DUO PLUMBING & HTG CORP.
KORMAN DESIGN & BUILD 	 KORMAN DESIGN & BUILD
ERIN CONSRUCTION & DEVE. CO INC 	 ERIN CONSRUCTION & DEVE. CO INC
*    50  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

ROBERT 	 ROBERT
LEVI 	 LEVI
MANJINDER 	 MANJINDER
JOHN 	 JOHN
QIANQIAN 	 QIANQIAN
IRVING 	 IRVING
EDWARD 	 EDWARD
Joseph 	 Joseph
RONALD 	 RONALD
JOE 	 JOE
CHESTER 	 CHESTER
ISSAC 	 ISSAC
Eugene 	 Eugene
PHILIP 	 PHILIP
Stephen 	 Stephen
FRANCIS 	 FRANCIS
JOHN 	 JOHN
MARIA 	 MARIA
PETER 	 PETER
MOHAMMED 	 MOHAMMED
EDWIN 	 EDWIN
Henry 	 Henry
Donna 	 Donna
ELIAS 	 ELIAS
STUART 	 STUART
STEVEN 	 STEVEN
FRANCISCO 	 FRANCISCO
DANA 	 DANA
John 	 John
CHONG 	 CHONG
HANIPH 	 HANIPH
LINDERBURGH 	 LINDERBURGH
MING 	 MING
DOV 	 DOV
BALWINDER 	 BALWINDER
Steve 	 Steve
Rouhollah 	 Rouhollah
JARED 	 JARED
CHUNG KUK 	 CHUNG KUK
GORDON 	 GORDON
BILL 	 BILL
ENRIQUETA 	 ENRIQUETA
CHARLES 	 CHARLES
DAVID 	 DAVID
SYDNEY 	 SYDNEY
John 	 John
PIERRE 	 PIERRE
Michael 	 Michael
JAMES 	 JAMES
TIMOTHY 	 TIMOTHY
*    50  same records   *

======================

In [ ]:
tp = 100
fp = 7

fn = 0
tn = 500 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [ ]:
recall(tp,fn)

# DOB Cellular Antenna Filings

In [29]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[1])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  iz2q-9x8d.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......

C:\Users\Rlron\Anaconda2\envs\pyspark\lib\site-packages\pandas\core\missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

fixing City And Name Column......
['Pre- Filing Date', "Owner's Business Name", 'Initial Cost', 'Street Name', "Owner's  House Number", 'Applicant License Number', 'Doc Number', 'Total Est Fee', 'First Permit  Date', 'Latest Action Date', "Owner's Last Name", "Applicant's Last Name", 'City', "Owner's  Phone Number", 'Job Number', "Applicant's First Name", 'Numbern- Profit', 'Fee Status', 'D O B Run Date', 'Borough', 'House Number', 'Bin Number', "Owner's First Name"]

In [31]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  1150
======================


column:  Pre- Filing Date
Original,	 Cleaned

12/29/2016 12:00:00 AM 	 2016-12-29 00:00:00 	*
08/06/2015 12:00:00 AM 	 2015-08-06 00:00:00 	*
03/02/2016 12:00:00 AM 	 2016-03-02 00:00:00 	*
12/08/2014 12:00:00 AM 	 2014-12-08 00:00:00 	*
07/07/2014 12:00:00 AM 	 2014-07-07 00:00:00 	*
08/04/2015 12:00:00 AM 	 2015-08-04 00:00:00 	*
10/09/2014 12:00:00 AM 	 2014-10-09 00:00:00 	*
03/10/2014 12:00:00 AM 	 2014-03-10 00:00:00 	*
08/04/2016 12:00:00 AM 	 2016-08-04 00:00:00 	*
10/16/2015 12:00:00 AM 	 2015-10-16 00:00:00 	*
02/24/2016 12:00:00 AM 	 2016-02-24 00:00:00 	*
12/11/2014 12:00:00 AM 	 2014-12-11 00:00:00 	*
08/17/2015 12:00:00 AM 	 2015-08-17 00:00:00 	*
09/22/2015 12:00:00 AM 	 2015-09-22 00:00:00 	*
08/06/2015 12:00:00 AM 	 2015-08-06 00:00:00 	*
09/05/2013 12:00:00 AM 	 2013-09-05 00:00:00 	*
07/10/2015 12:00:00 AM 	 2015-07-10 00:00:00 	*
nan 	 2016-08-01 00:00:00 	*
04/23/2015 12:00:00 AM 	 2015-04-23 00:00:00 	*
07/28/2014 12:00:00 AM 	 2014-07-28 00:00:00 	*
06/24/2015 12:00:00 AM 	 2015-06-24 00:00:00 	*
06/26/2013 12:00:00 AM 	 2013-06-26 00:00:00 	*
09/16/2015 12:00:00 AM 	 2015-09-16 00:00:00 	*
nan 	 2015-10-30 00:00:00 	*
05/22/2015 12:00:00 AM 	 2015-05-22 00:00:00 	*
09/27/2016 12:00:00 AM 	 2016-09-27 00:00:00 	*
04/21/2015 12:00:00 AM 	 2015-04-21 00:00:00 	*
05/27/2015 12:00:00 AM 	 2015-05-27 00:00:00 	*
06/14/2017 12:00:00 AM 	 2017-06-14 00:00:00 	*
08/13/2015 12:00:00 AM 	 2015-08-13 00:00:00 	*
05/22/2015 12:00:00 AM 	 2015-05-22 00:00:00 	*
12/23/2014 12:00:00 AM 	 2014-12-23 00:00:00 	*
09/22/2016 12:00:00 AM 	 2016-09-22 00:00:00 	*
05/20/2015 12:00:00 AM 	 2015-05-20 00:00:00 	*
06/14/2013 12:00:00 AM 	 2013-06-14 00:00:00 	*
05/07/2014 12:00:00 AM 	 2014-05-07 00:00:00 	*
03/07/2016 12:00:00 AM 	 2016-03-07 00:00:00 	*
nan 	 2015-06-05 00:00:00 	*
05/15/2015 12:00:00 AM 	 2015-05-15 00:00:00 	*
06/18/2013 12:00:00 AM 	 2013-06-18 00:00:00 	*
07/27/2016 12:00:00 AM 	 2016-07-27 00:00:00 	*
04/13/2016 12:00:00 AM 	 2016-04-13 00:00:00 	*
08/12/2015 12:00:00 AM 	 2015-08-12 00:00:00 	*
10/09/2015 12:00:00 AM 	 2015-10-09 00:00:00 	*
05/23/2013 12:00:00 AM 	 2013-05-23 00:00:00 	*
04/18/2014 12:00:00 AM 	 2014-04-18 00:00:00 	*
07/27/2017 12:00:00 AM 	 2017-07-27 00:00:00 	*
06/22/2016 12:00:00 AM 	 2016-06-22 00:00:00 	*
03/24/2016 12:00:00 AM 	 2016-03-24 00:00:00 	*
03/08/2013 12:00:00 AM 	 2013-03-08 00:00:00 	*
*    0  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

NYC POLICE DEPARTMENT            	 NYC POLICE DEPARTMENT
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
TENANT - AT&T                    	 TENANT - AT&T
TIMPSON HOUSING DEVELOPMENT FUND 	 TIMPSON HOUSING DEVELOPMENT FUND
SMARTLINK LLC                    	 SMARTLINK LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
VERIZON NEW YORK INC.            	 VERIZON NEW YORK INC.
KECHEK REALTY CORP               	 KECHEK REALTY CORP
PACKPROD INTERNATIONAL CONDOMINI 	 PACKPROD INTERNATIONAL CONDOMINI
DIRECTOR'S GUILD OF AMERICA, INC 	 DIRECTOR'S GUILD OF AMERICA, INC
KING HENRY REALTY INC.           	 KING HENRY REALTY INC.
86-10 OWNERS CORP C/O NEW CITY R 	 86-10 OWNERS CORP C/O NEW CITY R
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
MULTI BORO REALTY, LLC           	 MULTI BORO REALTY, LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
ABINGTON HOLDING                 	 ABINGTON HOLDING
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
nan 	 nan 	*
T-MOBILE                         	 T-MOBILE
AUSWIN REALTY CORP.              	 AUSWIN REALTY CORP.
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
575 ASSOCIATES LLC               	 575 ASSOCIATES LLC
COLUMBUS PROPERTIES, INC.        	 COLUMBUS PROPERTIES, INC.
nan 	 nan 	*
AMBER CHARTER SCHOOL             	 AMBER CHARTER SCHOOL
SHORE 2 SHORE, AGENT FOR TENANT  	 SHORE 2 SHORE, AGENT FOR TENANT
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
AT&T MOBILITY                    	 AT&T MOBILITY
CAHN FAMILY ASSOCIATES LLC       	 CAHN FAMILY ASSOCIATES LLC
T-MOBILE                         	 T-MOBILE
W187 STREET PROPERTIES           	 W187 STREET PROPERTIES
ST. ROSE OF LIME CATHOLIC SCHOOL 	 ST. ROSE OF LIME CATHOLIC SCHOOL
AT&T MOBILITY                    	 AT&T MOBILITY
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL, AS AGENT FOR TENANT
FCH HH KNICKERBOCKER LEASING,LLC 	 FCH HH KNICKERBOCKER LEASING,LLC
UNDERHILL-WASHINGTON EQUITIES    	 UNDERHILL-WASHINGTON EQUITIES
ATRIUM                           	 ATRIUM
nan 	 nan 	*
LENOX AND PENNAMON HOUSING DEVEL 	 LENOX AND PENNAMON HOUSING DEVEL
SHORE ROAD TENNANTS CORP.        	 SHORE ROAD TENNANTS CORP.
SHORE ROAD HOUSE INC             	 SHORE ROAD HOUSE INC
VENDOR, AS AGENT FOR TENANT      	 VENDOR, AS AGENT FOR TENANT
HERSHA HOSPITALITY MANAGEMENT LP 	 HERSHA HOSPITALITY MANAGEMENT LP
VENDOR, AS AGENT FOR TENANT      	 VENDOR, AS AGENT FOR TENANT
CONGREGATION OF THE DAUGHTERS    	 CONGREGATION OF THE DAUGHTERS
304 EAST 20TH STREET LLC         	 304 EAST 20TH STREET LLC
SEDGWICK MGT, LLC                	 SEDGWICK MGT, LLC
CNS PROJECTS, LLC                	 CNS PROJECTS, LLC
C&C MANAGEMENT                   	 C&C MANAGEMENT
WOODSIDE MANOR INC.              	 WOODSIDE MANOR INC.
*    47  same records   *

======================


column:  Initial Cost
Original,	 Cleaned

15000 	 15000.0 	*
15000 	 15000.0 	*
10000 	 10000.0 	*
10000 	 10000.0 	*
4000 	 4000.0 	*
15000 	 15000.0 	*
32000 	 32000.0 	*
30000 	 30000.0 	*
127000 	 127000.0 	*
6600 	 6600.0 	*
15000 	 15000.0 	*
32000 	 32000.0 	*
5000 	 5000.0 	*
45000 	 45000.0 	*
15000 	 15000.0 	*
20000 	 20000.0 	*
20000 	 20000.0 	*
nan 	 nan 	*
12100 	 12100.0 	*
96000 	 96000.0 	*
10000 	 10000.0 	*
4400 	 4400.0 	*
9500 	 9500.0 	*
nan 	 nan 	*
20000 	 20000.0 	*
5000 	 5000.0 	*
10000 	 10000.0 	*
1000 	 1000.0 	*
5000 	 5000.0 	*
25000 	 25000.0 	*
20000 	 20000.0 	*
20000 	 20000.0 	*
15900 	 15900.0 	*
40000 	 40000.0 	*
50150 	 50150.0 	*
10500 	 10500.0 	*
10000 	 10000.0 	*
nan 	 nan 	*
45000 	 45000.0 	*
30000 	 30000.0 	*
10000 	 10000.0 	*
12600 	 12600.0 	*
9500 	 9500.0 	*
8000 	 8000.0 	*
100000 	 100000.0 	*
9500 	 9500.0 	*
12500 	 12500.0 	*
39200 	 39200.0 	*
3300 	 3300.0 	*
77000 	 77000.0 	*
*    0  same records   *

======================


column:  Street Name
Original,	 Cleaned

POLICE PLAZA                     	 POLICE PLAZA
NORTHERN BOULEVARD               	 NORTHERN BOULEVARD
CAMPUS ROAD                      	 CAMPUS ROAD
REV JAMES A POLITE AVE           	 REV JAMES A POLITE AVE
EAST 86TH STREET                 	 EAST 86TH STREET
CLIFTON PLACE                    	 CLIFTON PLACE
109TH STREET                     	 109TH STREET
WILLOUGHBY STREET                	 WILLOUGHBY STREET
VARICK ST                        	 VARICK ST
WEST 57TH STREET                 	 WEST 57TH STREET
JEFFERSON STREET                 	 JEFFERSON STREET
109TH STREET                     	 109TH STREET
GATES AVENUE                     	 GATES AVENUE
KEAP STREET                      	 KEAP STREET
33RD STREET                      	 33RD STREET
JONES STREET                     	 JONES STREET
MORRIS AVENUE                    	 MORRIS AVENUE
nan 	 nan 	*
MACOMBS ROAD                     	 MACOMBS ROAD
AUSTIN ST                        	 AUSTIN ST
BORDEN AVENUE                    	 BORDEN AVENUE
MADISON AVENUE                   	 MADISON AVENUE
BROADWAY                         	 BROADWAY
nan 	 nan 	*
EAST 106TH STREET                	 EAST 106TH STREET
SEAGIRT BOULEVARD                	 SEAGIRT BOULEVARD
31ST AVENUE                      	 31ST AVENUE
21 AVENUE                        	 21 AVENUE
WEST 27TH STREET                 	 WEST 27TH STREET
13 AVE                           	 13 AVE
WEST 187TH STREET                	 WEST 187TH STREET
ST. NICHOLAS AVE                 	 ST. NICHOLAS AVE
WINTHROP STREET                  	 WINTHROP STREET
EAST 9TH STREET                  	 EAST 9TH STREET
BROADWAY                         	 BROADWAY
UNDERHILL AVENUE                 	 UNDERHILL AVENUE
ARTHUR KILL ROAD                 	 ARTHUR KILL ROAD
nan 	 nan 	*
ST NICHOLAS AVENUE               	 ST NICHOLAS AVENUE
SHORE ROAD                       	 SHORE ROAD
SHORE ROAD                       	 SHORE ROAD
SOUTH 2ND STREET                 	 SOUTH 2ND STREET
SOUTH CONDUIT AVENUE             	 SOUTH CONDUIT AVENUE
STANTON STREET                   	 STANTON STREET
HYLAN BOULEVARD                  	 HYLAN BOULEVARD
EAST 20 STREET                   	 EAST 20 STREET
SEDGWICK AVENUE                  	 SEDGWICK AVENUE
SPRINGFIELD BOULEVARD            	 SPRINGFIELD BOULEVARD
SARATOGA AVENUE                  	 SARATOGA AVENUE
48 AVE                           	 48 AVE
*    47  same records   *

======================


column:  Owner's  House Number
Original,	 Cleaned

1            	 1
4            	 4
1            	 1
835          	 835
14           	 14
4            	 4
87-28        	 87-28
744          	 744
666          	 666
7920         	 7920
17           	 17
112-41       	 112-41
4            	 4
253-11       	 253-11
4            	 4
950          	 950
4            	 4
nan 	  	*
4            	 4
2859         	 2859
4            	 4
575          	 575
217          	 217
nan 	  	*
216          	 216
5550         	 5550
4            	 4
ONE          	  	*
510          	 510
4            	 4
PO           	  	*
517          	 517
ONE          	  	*
300          	 300
545          	 545
31-10        	 31-10
680          	 680
nan 	  	*
104          	 104
9437         	 9437
7119         	 7119
ONE          	  	*
420          	 420
14           	 14
850          	 850
18           	 18
125          	 125
138-13       	 138-13
175          	 175
1388         	 1388
*    43  same records   *

======================


column:  Applicant License Number
Original,	 Cleaned

093111 	 093111
090133 	 090133
088682 	 088682
063658 	 063658
071249 	 071249
090133 	 090133
078939 	 078939
075376 	 075376
086064 	 086064
086064 	 086064
071096 	 071096
086064 	 086064
090133 	 090133
078939 	 078939
090133 	 090133
080438 	 080438
063658 	 063658
nan 	  	*
075700 	 075700
086064 	 086064
079769 	 079769
078939 	 078939
086064 	 086064
nan 	  	*
063658 	 063658
093111 	 093111
063658 	 063658
071249 	 071249
086064 	 086064
075384 	 075384
063658 	 063658
079769 	 079769
077087 	 077087
093111 	 093111
086064 	 086064
078939 	 078939
088682 	 088682
nan 	  	*
086064 	 086064
075376 	 075376
093111 	 093111
098374 	 098374
086064 	 086064
064690 	 064690
078901 	 078901
086064 	 086064
092106 	 092106
078603 	 078603
071249 	 071249
078939 	 078939
*    47  same records   *

======================


column:  Doc Number
Original,	 Cleaned

01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
 EGRESS OR OCCUPANCY.|04/17/2018 00:00:00 	  EGRESS OR OCCUPANCY.|04/17/2018 00:00:00
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
 EGRESS OR OCCUPANCY.|05/04/2016 00:00:00 	  EGRESS OR OCCUPANCY.|05/04/2016 00:00:00
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
EGRESS OR OCCUPANCY.    |07/26/2014 00:00:00 	 EGRESS OR OCCUPANCY.    |07/26/2014 00:00:00
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
*    50  same records   *

======================


column:  Total Est Fee
Original,	 Cleaned

338 	 338.0 	*
338 	 338.0 	*
286.5 	 286.5 	*
286.5 	 286.5 	*
215 	 215.0 	*
338 	 338.0 	*
513.1 	 513.1 	*
492.5 	 492.5 	*
1491.6 	 1491.6 	*
255.6 	 255.6 	*
338 	 338.0 	*
513.1 	 513.1 	*
235 	 235.0 	*
647 	 647.0 	*
338 	 338.0 	*
389.5 	 389.5 	*
389.5 	 389.5 	*
nan 	 nan 	*
317.4 	 317.4 	*
1172.3 	 1172.3 	*
286.5 	 286.5 	*
235 	 235.0 	*
286.5 	 286.5 	*
nan 	 nan 	*
389.5 	 389.5 	*
235 	 235.0 	*
286.5 	 286.5 	*
195 	 195.0 	*
235 	 235.0 	*
441 	 441.0 	*
389.5 	 389.5 	*
389.5 	 389.5 	*
348.3 	 348.3 	*
595.5 	 595.5 	*
708.8 	 708.8 	*
296.8 	 296.8 	*
286.5 	 286.5 	*
nan 	 nan 	*
647 	 647.0 	*
492.5 	 492.5 	*
286.5 	 286.5 	*
317.4 	 317.4 	*
286.5 	 286.5 	*
265.9 	 265.9 	*
1213.5 	 1213.5 	*
286.5 	 286.5 	*
317.4 	 317.4 	*
595.5 	 595.5 	*
215 	 215.0 	*
976.6 	 976.6 	*
*    0  same records   *

======================


column:  First Permit  Date
Original,	 Cleaned

04/11/2017 12:00:00 AM 	 2017-04-11 00:00:00 	*
04/07/2017 12:00:00 AM 	 2017-04-07 00:00:00 	*
03/18/2016 12:00:00 AM 	 2016-03-18 00:00:00 	*
08/25/2017 12:00:00 AM 	 2017-08-25 00:00:00 	*
08/27/2014 12:00:00 AM 	 2014-08-27 00:00:00 	*
03/24/2017 12:00:00 AM 	 2017-03-24 00:00:00 	*
03/02/2015 12:00:00 AM 	 2015-03-02 00:00:00 	*
10/20/2015 12:00:00 AM 	 2015-10-20 00:00:00 	*
06/21/2017 12:00:00 AM 	 2017-06-21 00:00:00 	*
01/12/2016 12:00:00 AM 	 2016-01-12 00:00:00 	*
03/16/2017 12:00:00 AM 	 2017-03-16 00:00:00 	*
02/02/2015 12:00:00 AM 	 2015-02-02 00:00:00 	*
08/31/2015 12:00:00 AM 	 2015-08-31 00:00:00 	*
12/02/2015 12:00:00 AM 	 2015-12-02 00:00:00 	*
05/18/2016 12:00:00 AM 	 2016-05-18 00:00:00 	*
10/01/2013 12:00:00 AM 	 2013-10-01 00:00:00 	*
08/02/2016 12:00:00 AM 	 2016-08-02 00:00:00 	*
nan 	 2017-09-15 00:00:00 	*
09/19/2017 12:00:00 AM 	 2017-09-19 00:00:00 	*
10/14/2014 12:00:00 AM 	 2014-10-14 00:00:00 	*
12/18/2015 12:00:00 AM 	 2015-12-18 00:00:00 	*
08/08/2013 12:00:00 AM 	 2013-08-08 00:00:00 	*
11/10/2015 12:00:00 AM 	 2015-11-10 00:00:00 	*
nan 	 2016-05-02 00:00:00 	*
07/28/2015 12:00:00 AM 	 2015-07-28 00:00:00 	*
10/28/2016 12:00:00 AM 	 2016-10-28 00:00:00 	*
10/30/2015 12:00:00 AM 	 2015-10-30 00:00:00 	*
11/23/2015 12:00:00 AM 	 2015-11-23 00:00:00 	*
12/21/2018 12:00:00 AM 	 2018-12-21 00:00:00 	*
09/23/2015 12:00:00 AM 	 2015-09-23 00:00:00 	*
06/24/2015 12:00:00 AM 	 2015-06-24 00:00:00 	*
10/29/2015 12:00:00 AM 	 2015-10-29 00:00:00 	*
11/01/2016 12:00:00 AM 	 2016-11-01 00:00:00 	*
07/06/2015 12:00:00 AM 	 2015-07-06 00:00:00 	*
11/22/2013 12:00:00 AM 	 2013-11-22 00:00:00 	*
06/02/2014 12:00:00 AM 	 2014-06-02 00:00:00 	*
04/29/2016 12:00:00 AM 	 2016-04-29 00:00:00 	*

nan 	 2016-09-13 00:00:00 	*
07/09/2015 12:00:00 AM 	 2015-07-09 00:00:00 	*
08/05/2013 12:00:00 AM 	 2013-08-05 00:00:00 	*
03/24/2017 12:00:00 AM 	 2017-03-24 00:00:00 	*
09/19/2016 12:00:00 AM 	 2016-09-19 00:00:00 	*
02/04/2016 12:00:00 AM 	 2016-02-04 00:00:00 	*
11/19/2015 12:00:00 AM 	 2015-11-19 00:00:00 	*
07/24/2013 12:00:00 AM 	 2013-07-24 00:00:00 	*
06/13/2014 12:00:00 AM 	 2014-06-13 00:00:00 	*
10/11/2017 12:00:00 AM 	 2017-10-11 00:00:00 	*
08/04/2016 12:00:00 AM 	 2016-08-04 00:00:00 	*
08/24/2016 12:00:00 AM 	 2016-08-24 00:00:00 	*
07/29/2013 12:00:00 AM 	 2013-07-29 00:00:00 	*
*    0  same records   *

======================


column:  Latest Action Date
Original,	 Cleaned

04/11/2017 00:00:00 	 2017-04-11 00:00:00 	*
04/07/2017 00:00:00 	 2017-04-07 00:00:00 	*
03/18/2016 00:00:00 	 2016-03-18 00:00:00 	*
08/25/2017 00:00:00 	 2017-08-25 00:00:00 	*
08/27/2014 00:00:00 	 2014-08-27 00:00:00 	*
03/24/2017 00:00:00 	 2017-03-24 00:00:00 	*
03/02/2015 00:00:00 	 2015-03-02 00:00:00 	*
10/20/2015 00:00:00 	 2015-10-20 00:00:00 	*
06/21/2017 00:00:00 	 2017-06-21 00:00:00 	*
01/12/2016 00:00:00 	 2016-01-12 00:00:00 	*
03/16/2017 00:00:00 	 2017-03-16 00:00:00 	*
02/02/2015 00:00:00 	 2015-02-02 00:00:00 	*
08/31/2015 00:00:00 	 2015-08-31 00:00:00 	*
12/02/2015 00:00:00 	 2015-12-02 00:00:00 	*
05/18/2016 00:00:00 	 2016-05-18 00:00:00 	*
10/01/2013 00:00:00 	 2013-10-01 00:00:00 	*
08/02/2016 00:00:00 	 2016-08-02 00:00:00 	*
nan 	 2017-09-15 00:00:00 	*
09/19/2017 00:00:00 	 2017-09-19 00:00:00 	*
10/14/2014 00:00:00 	 2014-10-14 00:00:00 	*
12/18/2015 00:00:00 	 2015-12-18 00:00:00 	*
08/08/2013 00:00:00 	 2013-08-08 00:00:00 	*
11/10/2015 00:00:00 	 2015-11-10 00:00:00 	*
nan 	 2016-05-02 00:00:00 	*
07/28/2015 00:00:00 	 2015-07-28 00:00:00 	*
10/28/2016 00:00:00 	 2016-10-28 00:00:00 	*
10/30/2015 00:00:00 	 2015-10-30 00:00:00 	*
11/23/2015 00:00:00 	 2015-11-23 00:00:00 	*
12/21/2018 00:00:00 	 2018-12-21 00:00:00 	*
09/23/2015 00:00:00 	 2015-09-23 00:00:00 	*
06/24/2015 00:00:00 	 2015-06-24 00:00:00 	*
10/29/2015 00:00:00 	 2015-10-29 00:00:00 	*
11/01/2016 00:00:00 	 2016-11-01 00:00:00 	*
07/06/2015 00:00:00 	 2015-07-06 00:00:00 	*
11/22/2013 00:00:00 	 2013-11-22 00:00:00 	*
06/02/2014 00:00:00 	 2014-06-02 00:00:00 	*
04/29/2016 00:00:00 	 2016-04-29 00:00:00 	*
nan 	 2016-09-13 00:00:00 	*
07/09/2015 00:00:00 	 2015-07-09 00:00:00 	*
08/05/2013 00:00:00 	 2013-08-05 00:00:00 	*
03/24/2017 00:00:00 	 2017-03-24 00:00:00 	*
09/19/2016 00:00:00 	 2016-09-19 00:00:00 	*
02/04/2016 00:00:00 	 2016-02-04 00:00:00 	*
11/19/2015 00:00:00 	 2015-11-19 00:00:00 	*
07/24/2013 00:00:00 	 2013-07-24 00:00:00 	*
06/13/2014 00:00:00 	 2014-06-13 00:00:00 	*
10/11/2017 00:00:00 	 2017-10-11 00:00:00 	*
08/04/2016 00:00:00 	 2016-08-04 00:00:00 	*
08/24/2016 00:00:00 	 2016-08-24 00:00:00 	*
07/29/2013 00:00:00 	 2013-07-29 00:00:00 	*
*    0  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

FERRANTE                       	 FERRANTE
CIAGLIA                        	 CIAGLIA
WOLF                           	 WOLF
CIAGLIA                        	 CIAGLIA
DUNN                           	 DUNN
CIAGLIA                        	 CIAGLIA
IGAWA                          	 IGAWA
SROUR                          	 SROUR
BAJKOWSKI                      	 BAJKOWSKI
GIACUSA                        	 GIACUSA
POON                           	 POON
GARCIA                         	 GARCIA
CIAGLIA                        	 CIAGLIA
CARACCIO                       	 CARACCIO
CIAGLIA                        	 CIAGLIA
MCCARTHY                       	 MCCARTHY
CIAGLIA                        	 CIAGLIA
nan 	 nan 	*
CIAGLIA                        	 CIAGLIA
VAIRO                          	 VAIRO
CIAGLIA                        	 CIAGLIA
BAUM                           	 BAUM
DIMURRO                        	 DIMURRO
nan 	 nan 	*
BISHOP                         	 BISHOP
BRENNAN                        	 BRENNAN
CIAGLIA                        	 CIAGLIA
BAILEY                         	 BAILEY
CAHN                           	 CAHN
BISHOP                         	 BISHOP
BISHOP                         	 BISHOP
CIAGLIA                        	 CIAGLIA
BAILEY                         	 BAILEY
WHITTON                        	 WHITTON
NYE                            	 NYE
VALIOTIS                       	 VALIOTIS
SCAROLA                        	 SCAROLA
nan 	 nan 	*
COPELAND                       	 COPELAND
PREZIOSO                       	 PREZIOSO
NELSON                         	 NELSON
BAILEY                         	 BAILEY
ROWE                           	 ROWE
KOMISSAR                       	 KOMISSAR
MCGOVERN                       	 MCGOVERN
SOLOMON                        	 SOLOMON
KEYPOUR                        	 KEYPOUR
CONNIE/STENIS                  	 CONNIE/STENIS
PRUSH                          	 PRUSH
MULLER                         	 MULLER
*    47  same records   *

======================


column:  Applicant's Last Name
Original,	 Cleaned

SCHWARTZ                       	 SCHWARTZ
BARILE                         	 BARILE
YU                             	 YU
ADELY                          	 ADELY
GUALTIERI                      	 GUALTIERI
BARILE                         	 BARILE
FAHEY                          	 FAHEY
SCHERER                        	 SCHERER
BRAY                           	 BRAY
BRAY                           	 BRAY
STEVENS                        	 STEVENS
BRAY                           	 BRAY
BARILE                         	 BARILE
FAHEY                          	 FAHEY
BARILE                         	 BARILE
KRAFFT                         	 KRAFFT
ADELY                          	 ADELY
nan 	 nan 	*
BOHLINGER                      	 BOHLINGER
BRAY                           	 BRAY
NOWAK                          	 NOWAK
FAHEY                          	 FAHEY
BRAY                           	 BRAY
nan 	 nan 	*
ADELY                          	 ADELY
SCHWARTZ                       	 SCHWARTZ
ADELY                          	 ADELY
GUALTIERI                      	 GUALTIERI
BRAY                           	 BRAY
TOMS                           	 TOMS
ADELY                          	 ADELY
NOWAK                          	 NOWAK
BURNTER                        	 BURNTER
SCHWARTZ                       	 SCHWARTZ
BRAY                           	 BRAY
FAHEY                          	 FAHEY
YU                             	 YU
nan 	 nan 	*
BRAY                           	 BRAY
SCHERER                        	 SCHERER
SCHWARTZ                       	 SCHWARTZ
MCKEON                         	 MCKEON
BRAY                           	 BRAY
PAPAY                          	 PAPAY
WEINPAHL                       	 WEINPAHL
BRAY                           	 BRAY
MILLER                         	 MILLER
CHASSE                         	 CHASSE
GUALTIERI                      	 GUALTIERI
FAHEY                          	 FAHEY
*    47  same records   *

======================


column:  City
Original,	 Cleaned

NEW YORK        	 NEW YORK
PARSIPPANY      	 PARSIPPANY
BEDMINSTER      	 BEDMINSTER
BRONX           	 BRONX
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
QUEENS          	 QUEENS
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
LOS ANGELES     	 LOS ANGELES
NEW YORK        	 NEW YORK
FOREST HILLS    	 FOREST HILLS
PARSIPPANY      	 PARSIPPANY
GLEN OAKS       	 GLEN OAKS
PARSIPPANY      	 PARSIPPANY
NEW YORK        	 NEW YORK
PARSIPPANY      	 PARSIPPANY
nan 	 nan 	*
PARSIPPANY      	 PARSIPPANY
LABELLE         	 LABELLE
PARSIPPANY      	 PARSIPPANY
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
nan 	 nan 	*
NEW YORK        	 NEW YORK
MASSAPEQUA      	 MASSAPEQUA
PARSIPPANY      	 PARSIPPANY
BEDMINSTER      	 BEDMINSTER
NEW YORK        	 NEW YORK
PARSIPPANY      	 PARSIPPANY
BAYSIDE         	 BAYSIDE
NEW YORK        	 NEW YORK
BEDMINSTER      	 BEDMINSTER
BLOOMFIELD      	 BLOOMFIELD
IRVING          	 IRVING
LONG ISLAND CIT 	 LONG ISLAND CIT
STATEN ISLAND   	 STATEN ISLAND
nan 	 nan 	*
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
BROOKLYN        	 BROOKLYN
BEDMINSTER      	 BEDMINSTER
GREAT NECK      	 GREAT NECK
PARSIPPANY,     	 PARSIPPANY,
STATEN ISLAND   	 STATEN ISLAND
NEW YORK        	 NEW YORK
ROSLYN HEIGHTS  	 ROSLYN HEIGHTS
QUEENS          	 QUEENS
BROOKLYN        	 BROOKLYN
BROOKLYN        	 BROOKLYN
*    47  same records   *

======================


column:  Owner's  Phone Number
Original,	 Cleaned

6466105000 	 6466105000
9733974814 	 9733974814
2016440808 	 2016440808
9733974814 	 9733974814
9083980520 	 9083980520
9733974814 	 9733974814
5624254206 	 5624254206
7183889526 	 7183889526
2125295688 	 2125295688
3012895312 	 3012895312
2129418979 	 2129418979
7185445900 	 7185445900
9733974814 	 9733974814
7183431336 	 7183431336
9733974814 	 9733974814
2127595000 	 2127595000
9733974814 	 9733974814
nan 	  	*
2017573053 	 2017573053
9179723843 	 9179723843
9733974814 	 9733974814
2127527474 	 2127527474
2127320916 	 2127320916
nan 	  	*
9738988589 	 9738988589
5165572398 	 5165572398
9733974814 	 9733974814
7184931984 	 7184931984
2125637292 	 2125637292
9738971375 	 9738971375
9738988589 	 9738988589
9733974814 	 9733974814
9144389326 	 9144389326
2019134115 	 2019134115
9724444900 	 9724444900
7182670300 	 7182670300
7183170725 	 7183170725
nan 	  	*
2126785660 	 2126785660
7186305551 	 7186305551
7187486209 	 7187486209
9144389326 	 9144389326
7183227190 	 7183227190
9082407785 	 9082407785
7187275700 	 7187275700
2128374800 	 2128374800
5162805112 	 5162805112
7182763509 	 7182763509
6465610055 	 6465610055
7183390500 	 7183390500
*    47  same records   *

======================


column:  Job Number
Original,	 Cleaned

122983959 	 122983959
440241711 	 440241711
520269236 	 520269236
220380816 	 220380816
122059048 	 122059048
340288370 	 340288370
421040885 	 421040885
320950734 	 320950734
122851477 	 122851477
122555626 	 122555626
122693497 	 122693497
421063271 	 421063271
321204870 	 321204870
321239511 	 321239511
440241739 	 440241739
121769309 	 121769309
220457734 	 220457734
421536485|01|4|53-01       |32ND AVENUE                     |01131|00001|4025172|A3|R|PERMIT ISSUED - ENTIRE JOB/WORK         |04/16/2018 00:00:00|OTHER|401||| |X|ANTENNA        |STEPHEN        |BRAY                          |PE|086064||08/02/2017 00:00:00|08/02/2017 00:00:00|08/02/2017 00:00:00|08/03/2017 00:00:00|08/03/2017 00:00:00|04/16/2018 00:00:00|25000.00|441.00|STANDARD|RES |RES |R5          |||||03|PARTNERSHIP                             |N|HERBERT        |DONNER                        |MILFORD HOUSE LLC               |172-90      |HIGHLAND AVENUE                 |JAMAICA        |NY|11377    |7187394262|04/16/2018 00:00:00|REPLACEMENT OF EQUIPMENT CABINET ON ROOF. INSTALLATION OF ANTENNA AND RRU UNITS ON ROOF OF BUILDING. ALL WORK IS IN COMPLIANCE WITH TPPN# 5/98. NO CHANGE IN USE 	 421536485|01|4|53-01       |32ND AVENUE                     |01131|00001|4025172|A3|R|PERMIT ISSUED - ENTIRE JOB/WORK         |04/16/2018 00:00:00|OTHER|401||| |X|ANTENNA        |STEPHEN        |BRAY                          |PE|086064||08/02/2017 00:00:00|08/02/2017 00:00:00|08/02/2017 00:00:00|08/03/2017 00:00:00|08/03/2017 00:00:00|04/16/2018 00:00:00|25000.00|441.00|STANDARD|RES |RES |R5          |||||03|PARTNERSHIP                             |N|HERBERT        |DONNER                        |MILFORD HOUSE LLC               |172-90      |HIGHLAND AVENUE                 |JAMAICA        |NY|11377    |7187394262|04/16/2018 00:00:00|REPLACEMENT OF EQUIPMENT CABINET ON ROOF. INSTALLATION OF ANTENNA AND RRU UNITS ON ROOF OF BUILDING. ALL WORK IS IN COMPLIANCE WITH TPPN# 5/98. NO CHANGE IN USE
220452800 	 220452800
421016732 	 421016732
440229628 	 440229628
121690116 	 121690116
122527872 	 122527872
220457725|01|2|2447        |EASTCHESTER ROAD                |04477|00042|2093443|A3|R|PERMIT ISSUED - ENTIRE JOB/WORK         |05/03/2016 00:00:00|OTHER|211||| |X|ANTENNA        |NICHOLAS       |BARILE                        |PE|090133||05/14/2015 00:00:00|05/14/2015 00:00:00|05/14/2015 00:00:00|05/16/2015 00:00:00|05/03/2016 00:00:00|05/03/2016 00:00:00|15000.00|338.00|STANDARD|COM |COM |R4A         |||||03|PARTNERSHIP                             |N|ROBERT         |CIAGLIA                       |T-MOBILE NORTHEAST LLC          |4           |SYLVAN WAY                      |PARSIPPANY     |NJ|07054    |9733974814|05/03/2016 00:00:00|INSTALLATION OF TELECOMMUNICATION ANTENNA COMPONENTS ON THE ROOF. RETROFIT EXISTING EQUIPMENT CABINET ON THE ROOF. ALL WORK IS IN COMPLIANCE WITH TPPN 5/98. NO CHANGE IN USE 	 220457725|01|2|2447        |EASTCHESTER ROAD                |04477|00042|2093443|A3|R|PERMIT ISSUED - ENTIRE JOB/WORK         |05/03/2016 00:00:00|OTHER|211||| |X|ANTENNA        |NICHOLAS       |BARILE                        |PE|090133||05/14/2015 00:00:00|05/14/2015 00:00:00|05/14/2015 00:00:00|05/16/2015 00:00:00|05/03/2016 00:00:00|05/03/2016 00:00:00|15000.00|338.00|STANDARD|COM |COM |R4A         |||||03|PARTNERSHIP                             |N|ROBERT         |CIAGLIA                       |T-MOBILE NORTHEAST LLC          |4           |SYLVAN WAY                      |PARSIPPANY     |NJ|07054    |9733974814|05/03/2016 00:00:00|INSTALLATION OF TELECOMMUNICATION ANTENNA COMPONENTS ON THE ROOF. RETROFIT EXISTING EQUIPMENT CABINET ON THE ROOF. ALL WORK IS IN COMPLIANCE WITH TPPN 5/98. NO CHANGE IN USE
122409018 	 122409018
421378556 	 421378556
421149956 	 421149956
421156867 	 421156867
121242422 	 121242422
321169329 	 321169329
122412013 	 122412013
122230665 	 122230665
321447813 	 321447813
122398556 	 122398556
121679898 	 121679898
320966727 	 320966727
520269673 	 520269673
420849274|01|4|91-48       |88 ROAD                         |08929|00106|4184145|A3|R|PERMIT ISSUED - ENTIRE JOB/WORK         |07/25/2014 00:00:00|OTHER|409||| |X|ANTENNA        |STEPHEN        |BRAY                          |PE|086064||07/02/2013 00:00:00|07/02/2013 00:00:00|07/02/2013 00:00:00|07/03/2013 00:00:00|07/18/2014 00:00:00|07/25/2014 00:00:00|9500.00|286.50|STANDARD|RES |RES |R3-1        |||||02|CORPORATION                             |N|MOSES          |ECKSTEIN                      |40 WOODHAVEN OWNERS CORP        |1358        |47TH STREET                     |NEW YORK       |NY|11219    |7188517772|07/25/2014 00:00:00|INSTALLATION OF ADDITIONAL EQUIPMENT CABINET ON ROOF.INSTALLATION OF ANTENNAS ON ROOF.ALL IN CONFORMANCE WITH TPPN#5/98.NO CHANGE IN USE 	 420849274|01|4|91-48       |88 ROAD                         |08929|00106|4184145|A3|R|PERMIT ISSUED - ENTIRE JOB/WORK         |07/25/2014 00:00:00|OTHER|409||| |X|ANTENNA        |STEPHEN        |BRAY                          |PE|086064||07/02/2013 00:00:00|07/02/2013 00:00:00|07/02/2013 00:00:00|07/03/2013 00:00:00|07/18/2014 00:00:00|07/25/2014 00:00:00|9500.00|286.50|STANDARD|RES |RES |R3-1        |||||02|CORPORATION                             |N|MOSES          |ECKSTEIN                      |40 WOODHAVEN OWNERS CORP        |1358        |47TH STREET                     |NEW YORK       |NY|11219    |7188517772|07/25/2014 00:00:00|INSTALLATION OF ADDITIONAL EQUIPMENT CABINET ON ROOF.INSTALLATION OF ANTENNAS ON ROOF.ALL IN CONFORMANCE WITH TPPN#5/98.NO CHANGE IN USE
122403808 	 122403808
320777138 	 320777138
321426159 	 321426159
321367864 	 321367864
421199973 	 421199973
122548500 	 122548500
520141793 	 520141793
121983693 	 121983693
220608493 	 220608493
421340329 	 421340329
321355136 	 321355136
420821061 	 420821061
*    50  same records   *

======================


column:  Applicant's First Name
Original,	 Cleaned

CHAD            	 CHAD
NICHOLAS        	 NICHOLAS
JIANG           	 JIANG
JOHN            	 JOHN
ANTONIO         	 ANTONIO
NICHOLAS        	 NICHOLAS
JAMES           	 JAMES
GLENN           	 GLENN
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
JOHN            	 JOHN
STEPHEN         	 STEPHEN
NICHOLAS        	 NICHOLAS
JAMES           	 JAMES
NICHOLAS        	 NICHOLAS
CHRIS           	 CHRIS
JOHN            	 JOHN
nan 	 nan 	*
MICHAEL         	 MICHAEL
STEPHEN         	 STEPHEN
GREGORY         	 GREGORY
JAMES           	 JAMES
STEPHEN         	 STEPHEN
nan 	 nan 	*
JOHN            	 JOHN
CHAD            	 CHAD
JOHN            	 JOHN
ANTONIO         	 ANTONIO
STEPHEN         	 STEPHEN
ROBERT          	 ROBERT
JOHN            	 JOHN
GREGORY         	 GREGORY
PHILLIP         	 PHILLIP
CHAD            	 CHAD
STEPHEN         	 STEPHEN
JAMES           	 JAMES
JIANG           	 JIANG
nan 	 nan 	*
STEPHEN         	 STEPHEN
GLENN           	 GLENN
CHAD            	 CHAD
JEREMY          	 JEREMY
STEPHEN         	 STEPHEN
PETER           	 PETER
DAVID           	 DAVID
STEPHEN         	 STEPHEN
ANDREW          	 ANDREW
SCOTT           	 SCOTT
ANTONIO         	 ANTONIO
JAMES           	 JAMES
*    47  same records   *

======================


column:  Numbern- Profit
Original,	 Cleaned

N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
nan 	  	*
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
nan 	  	*
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
nan 	  	*
Y 	 Y
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
Y 	 Y
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
*    47  same records   *

======================


column:  Fee Status
Original,	 Cleaned

STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
nan 	 nan 	*
STANDARD 	 nan 	*

STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
nan 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
nan 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
*    0  same records   *

======================


column:  D O B Run Date
Original,	 Cleaned

04/12/2017 00:00:00 	 2017-04-12 00:00:00 	*
04/08/2017 00:00:00 	 2017-04-08 00:00:00 	*
03/19/2016 00:00:00 	 2016-03-19 00:00:00 	*
08/26/2017 00:00:00 	 2017-08-26 00:00:00 	*
08/28/2014 00:00:00 	 2014-08-28 00:00:00 	*
03/25/2017 00:00:00 	 2017-03-25 00:00:00 	*
03/03/2015 00:00:00 	 2015-03-03 00:00:00 	*
10/21/2015 00:00:00 	 2015-10-21 00:00:00 	*
06/22/2017 00:00:00 	 2017-06-22 00:00:00 	*
01/13/2016 00:00:00 	 2016-01-13 00:00:00 	*
03/17/2017 00:00:00 	 2017-03-17 00:00:00 	*
02/03/2015 00:00:00 	 2015-02-03 00:00:00 	*
09/01/2015 00:00:00 	 2015-09-01 00:00:00 	*
12/03/2015 00:00:00 	 2015-12-03 00:00:00 	*
05/19/2016 00:00:00 	 2016-05-19 00:00:00 	*
10/02/2013 00:00:00 	 2013-10-02 00:00:00 	*
08/03/2016 00:00:00 	 2016-08-03 00:00:00 	*
nan 	 2017-09-16 00:00:00 	*
09/20/2017 00:00:00 	 2017-09-20 00:00:00 	*
10/15/2014 00:00:00 	 2014-10-15 00:00:00 	*
12/19/2015 00:00:00 	 2015-12-19 00:00:00 	*
08/09/2013 00:00:00 	 2013-08-09 00:00:00 	*
11/11/2015 00:00:00 	 2015-11-11 00:00:00 	*
nan 	 2016-05-03 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
10/29/2016 00:00:00 	 2016-10-29 00:00:00 	*
10/31/2015 00:00:00 	 2015-10-31 00:00:00 	*
11/24/2015 00:00:00 	 2015-11-24 00:00:00 	*
12/22/2018 00:00:00 	 2018-12-22 00:00:00 	*
09/24/2015 00:00:00 	 2015-09-24 00:00:00 	*
06/25/2015 00:00:00 	 2015-06-25 00:00:00 	*
10/30/2015 00:00:00 	 2015-10-30 00:00:00 	*
11/02/2016 00:00:00 	 2016-11-02 00:00:00 	*
07/07/2015 00:00:00 	 2015-07-07 00:00:00 	*
11/23/2013 00:00:00 	 2013-11-23 00:00:00 	*
06/03/2014 00:00:00 	 2014-06-03 00:00:00 	*
04/30/2016 00:00:00 	 2016-04-30 00:00:00 	*
nan 	 2016-09-14 00:00:00 	*
07/10/2015 00:00:00 	 2015-07-10 00:00:00 	*
08/06/2013 00:00:00 	 2013-08-06 00:00:00 	*
03/25/2017 00:00:00 	 2017-03-25 00:00:00 	*
09/20/2016 00:00:00 	 2016-09-20 00:00:00 	*
02/05/2016 00:00:00 	 2016-02-05 00:00:00 	*
11/20/2015 00:00:00 	 2015-11-20 00:00:00 	*
07/25/2013 00:00:00 	 2013-07-25 00:00:00 	*
06/14/2014 00:00:00 	 2014-06-14 00:00:00 	*
10/12/2017 00:00:00 	 2017-10-12 00:00:00 	*
08/05/2016 00:00:00 	 2016-08-05 00:00:00 	*
08/25/2016 00:00:00 	 2016-08-25 00:00:00 	*
07/30/2013 00:00:00 	 2013-07-30 00:00:00 	*
*    0  same records   *

======================


column:  Borough
Original,	 Cleaned

1 	 1
4 	 4
5 	 5
2 	 None 	*
1 	 1
3 	 3
4 	 4
3 	 3
1 	 1
1 	 1
1 	 1
4 	 4
3 	 3
3 	 3
4 	 4
1 	 1
2 	 None 	*
nan 	 nan 	*
2 	 None 	*
4 	 4
4 	 4
1 	 1
1 	 1
nan 	 nan 	*
1 	 1
4 	 4
4 	 4
4 	 4
1 	 1
3 	 3
1 	 1
1 	 1
3 	 3
1 	 1
1 	 1
3 	 3
5 	 5
nan 	 nan 	*
1 	 1
3 	 3
3 	 3
3 	 3
4 	 4
1 	 1
5 	 5
1 	 1
2 	 None 	*
4 	 4
3 	 3
4 	 4
*    43  same records   *

======================


column:  House Number
Original,	 Cleaned

1            	 1
69-01        	 69-01
12           	 12
1070         	 1070
12           	 12
281          	 281
87-28        	 87-28
81           	 81
6            	 6
110          	 110
16           	 16
86-10        	 86-10
690          	 690
332          	 332
30-15        	 30-15
10           	 10
675          	 675
nan 	  	*
1566         	 1566
71-50        	 71-50
68-15        	 68-15
575          	 575
217          	 217
nan 	  	*
220          	 220
20-10        	 20-10
56-05        	 56-05
29-24        	 29-24
510          	 510
8222         	 8222
600          	 600
1086         	 1086
55           	 55
40           	 40
1466         	 1466
209          	 209
680          	 680
nan 	  	*
212          	 212
8701         	 8701
7119         	 7119
286          	 286
132-26       	 132-26
125          	 125
850          	 850
304          	 304
2766         	 2766
138-13       	 138-13
175          	 175
42-05        	 42-05
*    47  same records   *

======================


column:  Bin Number
Original,	 Cleaned

1079143 	 1079143
4026292 	 4026292
5015989 	 5015989
2005257 	 2005257
1046830 	 1046830
3049905 	 3049905
4194703 	 4194703
3000350 	 3000350
1002154 	 1002154
1023459 	 1023459
1003614 	 1003614
4192159 	 4192159
3325017 	 3325017
3063496 	 3063496
4009029 	 4009029
1010142 	 1010142
2124389 	 2124389
nan 	  	*
2008422 	 2008422
4077921 	 4077921
4055358 	 4055358
1035789 	 1035789
1001232 	 1001232
nan 	  	*
1052428 	 1052428
4440806 	 4440806
4431063 	 4431063
4017707 	 4017707
1012395 	 1012395
3164024 	 3164024
1063979 	 1063979
1081859 	 1081859
3115684 	 3115684
1009091 	 1009091
1022579 	 1022579
3324389 	 3324389
5073068 	 5073068
nan 	  	*
1058485 	 1058485
3153313 	 3153313
3146368 	 3146368
3063175 	 3063175
4257535 	 4257535
1004311 	 1004311
5113347 	 5113347
1020537 	 1020537
2015372 	 2015372
4280445 	 4280445
3041261 	 3041261
4002131 	 4002131
*    47  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

VICTOR          	 VICTOR
ROBERT          	 ROBERT
VIC             	 VIC
ROBERT          	 ROBERT
TIM             	 TIM
ROBERT          	 ROBERT
WAYNE           	 WAYNE
ALBERT          	 ALBERT
LAURA           	 LAURA
MARCEL          	 MARCEL
LUTMEICHEUNG    	 LUTMEICHEUNG
LEO             	 LEO
ROBERT          	 ROBERT
TOM             	 TOM
ROBERT          	 ROBERT
DAN             	 DAN
ROBERT          	 ROBERT
nan 	 nan 	*
ROBERT          	 ROBERT
ROBERT          	 ROBERT
ROBERT          	 ROBERT
HOWARD          	 HOWARD
JOHN            	 JOHN
nan 	 nan 	*
MARK            	 MARK
VICTORIA        	 VICTORIA
ROBERT          	 ROBERT
GREGG           	 GREGG
DANIEL          	 DANIEL
MARK            	 MARK
MARK            	 MARK
ROBERT          	 ROBERT
GREGG           	 GREGG
DAN             	 DAN
CHARLES         	 CHARLES
EFSTATHIOS      	 EFSTATHIOS
JESSE           	 JESSE
nan 	 nan 	*
JOEDNEE         	 JOEDNEE
JOSEPH          	 JOSEPH
TOM             	 TOM
GREGG           	 GREGG
AIDAN           	 AIDAN
RICH            	 RICH
WILLIAM         	 WILLIAM
SCOTT           	 SCOTT
KEYOU           	 KEYOU
LOMONACO        	 LOMONACO
MICHAEL         	 MICHAEL
STEVEN          	 STEVEN
*    47  same records   *

======================

In [32]:
tp = 100
fp = 0

fn = 13
tn = 1350 - tp - fp - fn

In [33]:
precision(tp, fp)

1.0

In [34]:
recall(tp,fn)

0.8849557522123894

# Open Restaurant Applications

In [42]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[2])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  pitm-atqc.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......
fixing City And Name Column......
['Sidewalk Dimensions (Length)', 'Roadway Dimensions (Length)', 'SLA Serial Number', 'Restaurant Name', 'Legal Business Name', 'Borough', 'Food Service Establishment Permit Number', 'Building Number']

In [43]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  400
======================


column:  Sidewalk Dimensions (Length)
Original,	 Cleaned

nan 	 0 	*
20 	 20 	*
15 	 15 	*
90 	 90 	*
14 	 14 	*
24 	 24 	*
20 	 20 	*
20 	 20 	*
245 	 245 	*
60 	 60 	*
15 	 15 	*
nan 	 0 	*
10 	 10 	*
11 	 11 	*
15 	 15 	*
nan 	 0 	*
14 	 14 	*
19 	 19 	*
34 	 34 	*
26 	 26 	*
28 	 28 	*
10 	 10 	*
18 	 18 	*
20 	 20 	*
14 	 14 	*
20 	 20 	*
24 	 24 	*
80 	 80 	*
nan 	 0 	*
nan 	 0 	*
15 	 15 	*
nan 	 0 	*
36 	 36 	*
25 	 25 	*
15 	 15 	*
34 	 34 	*
22 	 22 	*
37 	 37 	*
32 	 32 	*
nan 	 0 	*
25 	 25 	*
64 	 64 	*
20 	 20 	*
23 	 23 	*
54 	 54 	*
45 	 45 	*
8 	 8 	*
22 	 22 	*
12 	 12 	*
17 	 17 	*
*    0  same records   *

======================


column:  Roadway Dimensions (Length)
Original,	 Cleaned

42 	 42 	*
20 	 20 	*
19 	 19 	*
18 	 18 	*
8 	 8 	*
nan 	 0 	*
nan 	 0 	*
nan 	 0 	*
nan 	 0 	*
40 	 40 	*
nan 	 0 	*
14 	 14 	*
20 	 20 	*
11 	 11 	*
nan 	 0 	*
19 	 19 	*
nan 	 0 	*
18 	 18 	*
34 	 34 	*
nan 	 0 	*
nan 	 0 	*
25 	 25 	*
18 	 18 	*
29 	 29 	*
14 	 14 	*
nan 	 0 	*
48 	 48 	*
80 	 80 	*
75 	 75 	*
84 	 84 	*
15 	 15 	*
20 	 20 	*
nan 	 0 	*
nan 	 0 	*
15 	 15 	*
nan 	 0 	*
23 	 23 	*
nan 	 0 	*
24 	 24 	*
7 	 7 	*
25 	 25 	*
82 	 82 	*
20 	 20 	*
23 	 23 	*
54 	 54 	*
nan 	 0 	*
18 	 18 	*
22 	 22 	*
nan 	 0 	*
22 	 22 	*
*    0  same records   *

======================


column:  SLA Serial Number
Original,	 Cleaned

Jan-04 	 JAN-04 	*
nan 	  	*
May-34 	 MAY-34 	*
Dec-49 	 DEC-49 	*
1303722 	 1303722
1307400 	 1307400
Dec-71 	 DEC-71 	*
1043298 	 1043298
1313422 	 1313422
1210110 	 1210110
nan 	  	*
nan 	  	*
May-71 	 MAY-71 	*
nan 	  	*
1264946 	 1264946
1251903 	 1251903
Feb-13 	 FEB-13 	*
May-40 	 MAY-40 	*
############################################################################################################################################################################################################################################################### 	 ###############################################################################################################################################################################################################################################################
nan 	  	*
1174868 	 1174868
Apr-84 	 APR-84 	*
Apr-99 	 APR-99 	*
1262459 	 1262459
1120642 	 1120642
1220595 	 1220595
nan 	  	*
1309053 	 1309053
1298383 	 1298383
nan 	  	*
1023181 	 1023181
nan 	  	*
nan 	  	*
nan 	  	*
Jun-09 	 JUN-09 	*
nan 	  	*
1025307 	 1025307
Dec-38 	 DEC-38 	*
Aug-61 	 AUG-61 	*
Apr-57 	 APR-57 	*
nan 	  	*
Dec-03 	 DEC-03 	*
Aug-39 	 AUG-39 	*
Sep-73 	 SEP-73 	*
Jun-10 	 JUN-10 	*
Jul-64 	 JUL-64 	*
May-82 	 MAY-82 	*
nan 	  	*
1285978 	 1285978
1028039 	 1028039
*    18  same records   *

======================


column:  Restaurant Name
Original,	 Cleaned

HEX AND CO. 	 HEX AND CO.
Delicias sucuenas 	 Delicias sucuenas
Mighty Quinn's Barbeque 	 Mighty Quinn's Barbeque
Stone Park Cafe 	 Stone Park Cafe
HALSEY BAR & GRILL LLC 	 HALSEY BAR & GRILL LLC
NORA THAI 	 NORA THAI
LA VILLA PIZZARIA 	 LA VILLA PIZZARIA
The Manor Restaurant 	 The Manor Restaurant
ARIS SPORTS BAR RESTAURANT 	 ARIS SPORTS BAR RESTAURANT
Vesta Trattoria & Wine Bar 	 Vesta Trattoria & Wine Bar
Sean's Stuff 	 Sean's Stuff
CAIRO RX CAFE 	 CAIRO RX CAFE
WANISA KITCHEN 	 WANISA KITCHEN
Hills kitchen llc 	 Hills kitchen llc
Coney Island Taste 	 Coney Island Taste
Bareburger 	 Bareburger
Cafe Luka 	 Cafe Luka
Chidori Japanese Cuisine 	 Chidori Japanese Cuisine
Spunto Thin Crust Pizza 	 Spunto Thin Crust Pizza
compadres 77 	 compadres 77
Little Owl 	 Little Owl
OLD MAN HUSTLE 	 OLD MAN HUSTLE
mister cangrejo 	 mister cangrejo
Bustan NYC 	 Bustan NYC
El Familiar Restaurant 	 El Familiar Restaurant
BIWON 	 BIWON
BLVD 93 NYC 	 BLVD 93 NYC
Klom Klorm 	 Klom Klorm
Petra Bar & Restaurant 	 Petra Bar & Restaurant
G.V.S BAKERY 	 G.V.S BAKERY
Margin restaurant corp 	 Margin restaurant corp
MR.BUN 	 MR.BUN
dunkin donuts 	 dunkin donuts
CALI TAJADAS 	 CALI TAJADAS
Ajisai Japanese Fusion 	 Ajisai Japanese Fusion
McDonalds 	 McDonalds
Jing Fong Restaurant 	 Jing Fong Restaurant
The Gem Saloon 	 The Gem Saloon
Rockaway Brewing Company 	 Rockaway Brewing Company
Jun-02 	 Jun-02
Maman Nomad 	 Maman Nomad
EL COYOTE 	 EL COYOTE
Sidecar 	 Sidecar
La Penda II Restaurant 	 La Penda II Restaurant
Cena 	 Cena
Antonio's Trattoria 	 Antonio's Trattoria
RESERVE CUT 	 RESERVE CUT
PATIS BAKERY 	 PATIS BAKERY
Naruto Ramen 	 Naruto Ramen
MERCURY BAR 	 MERCURY BAR
*    50  same records   *

======================


column:  Legal Business Name
Original,	 Cleaned

HEX EAST LLC 	 HEX EAST LLC
Delicias sucuenas 	 Delicias sucuenas
Upper East BBQ LLC 	 Upper East BBQ LLC
Stone Park Corner LLC 	 Stone Park Corner LLC
HALSEY BAR & GRILL LLC 	 HALSEY BAR & GRILL LLC
PLOYPERM CORP 	 PLOYPERM CORP
LV RESTAURANT GROUP INC 	 LV RESTAURANT GROUP INC
Manor Road Restaurant Corp 	 Manor Road Restaurant Corp
ANDY GROCERY INC. 	 ANDY GROCERY INC.
Sacco & Falco Inc 	 Sacco & Falco Inc
Sean's Stuff 	 Sean's Stuff
CAIRO RX INC 	 CAIRO RX INC
WEALTHY TRADE INC 	 WEALTHY TRADE INC
Hills kitchen llc 	 Hills kitchen llc
Coney Island Taste INC 	 Coney Island Taste INC
Bare City Three LLC 	 Bare City Three LLC
1317 Restaurant Co, LLC 	 1317 Restaurant Co, LLC
Chidori, Inc 	 Chidori, Inc
Spunto, Inc. 	 Spunto, Inc.
compadres 77 	 compadres 77
Blackfoot Consulting 	 Blackfoot Consulting
EDMANHUSTLE LLC 	 EDMANHUSTLE LLC
mister cangrejo ny corp. 	 mister cangrejo ny corp.
Hey Mambo LLC 	 Hey Mambo LLC
El Familiar Restaurant INC 	 El Familiar Restaurant INC
LAON,INC 	 LAON,INC
BLVD 93 NYC INC 	 BLVD 93 NYC INC
Klom Klorm Inc. 	 Klom Klorm Inc.
Booziness LLC 	 Booziness LLC
G.V.S BAKERY 	 G.V.S BAKERY
Margin restaurant Corp 	 Margin restaurant Corp
MR. BUN SOUP DUMPLINGS INC 	 MR. BUN SOUP DUMPLINGS INC
NYC 114 FOODS INC 	 NYC 114 FOODS INC
CALI TAJADAS CORP 	 CALI TAJADAS CORP
YAO YAO SUSHI INC 	 YAO YAO SUSHI INC
GREENWICH FOODS, LLC 	 GREENWICH FOODS, LLC
Jing Fong Restaurant 	 Jing Fong Restaurant
East Drogheda Inc 	 East Drogheda Inc
Rockaway Brewing Company LLC 	 Rockaway Brewing Company LLC
Tasty Taiwan LLC 	 Tasty Taiwan LLC
Maman Nomad LLC 	 Maman Nomad LLC
EL COYOTE FOREST HILLS INC. 	 EL COYOTE FOREST HILLS INC.
Sidecar Bar & Grille LLC 	 Sidecar Bar & Grille LLC
La Penda II Restaurant LLC 	 La Penda II Restaurant LLC
Oja Como VA, LLC 	 Oja Como VA, LLC
Antonio's Trattoria Corp. 	 Antonio's Trattoria Corp.
ZA RESTAURANT MANAGEMENT LLC 	 ZA RESTAURANT MANAGEMENT LLC
703 BAKERY CORP. 	 703 BAKERY CORP.
Teriyaki Foods Inc 	 Teriyaki Foods Inc
659 RESTAURANT INC 	 659 RESTAURANT INC
*    50  same records   *

======================


column:  Borough
Original,	 Cleaned

Manhattan 	 Manhattan
Queens 	 Queens
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Staten Island 	 Staten Island
Brooklyn 	 Brooklyn
Queens 	 Queens
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Queens 	 Queens
Manhattan 	 Manhattan
Queens 	 Queens
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Queens 	 Queens
Manhattan 	 Manhattan
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Queens 	 Queens
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Queens 	 Queens
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Queens 	 Queens
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
*    50  same records   *

======================


column:  Food Service Establishment Permit Number
Original,	 Cleaned

50097034 	 50097034
50101779 	 50101779
50044855 	 50044855
41022637 	 41022637
50071988 	 50071988
50072375 	 50072375
50066537 	 50066537
40803444 	 40803444
50080592 	 50080592
41353366 	 41353366
3434 	 3434
50099041 	 50099041
50067016 	 50067016
50086813 	 50086813
41323665 	 41323665
41564382 	 41564382
41281730 	 41281730
50045410 	 50045410
41381168 	 41381168
50075178 	 50075178
41186217 	 41186217
50080690 	 50080690
50063937 	 50063937
41698218 	 41698218
40853174 	 40853174
41387641 	 41387641
50105866 	 50105866
50076584 	 50076584
50058419 	 50058419
41315709 	 41315709
41596546 	 41596546
50081829 	 50081829
50001856 	 50001856
50092152 	 50092152
50079664 	 50079664
50056248 	 50056248
40395023 	 40395023
50058670 	 50058670
nabrewer 	 NABREWER 	*
50079290 	 50079290
50073537 	 50073537
50014424 	 50014424
41224381 	 41224381
50068734 	 50068734
50093598 	 50093598
41272088 	 41272088
50001406 	 50001406
50111480 	 50111480
50041641 	 50041641
40677553 	 40677553
*    49  same records   *

======================


column:  Building Number
Original,	 Cleaned

undefined 	  	*
580 	 580
1492 	 1492
324 	 324
4404 	 4404
176 	 176
nan 	  	*
917 	 917
4514 	 4514
2102 	 2102
13 	 13
undefined 	  	*
undefined 	  	*
252 	 252
2580 	 2580
366 	 366
1317 	 1317
9709 	 9709
9-Jul 	 9-JUL 	*
115-18 	 115-18
90 	 90
undefined 	  	*
7909 	 7909
487 	 487
87-81 	 87-81
61-58 	 61-58
undefined 	  	*
181 	 181
523 	 523
36-21 	 36-21
136 	 136
undefined 	  	*
2103 	 2103
241 	 241
795 	 795
14 EAST 	 14  	*
20 	 20
375 	 375
4601 	 4601
26 	 26
22W. 	 22 W. 	*
undefined 	  	*
560 	 560
485 	 485
60 	 60
2370 	 2370
40 	 40
undefined 	  	*
2634 	 2634
659 	 659
*    38  same records   *

======================

In [44]:
tp = 442
fp = 128

fn = 39
tn = 1900 - tp - fp - fn

In [45]:
precision(tp, fp)

0.775438596491228

In [46]:
recall(tp,fn)

0.918918918918919

# DOB NOW: Safety – Facades Compliance Filings

In [47]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[3])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  xubg-57si.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......
fixing City And Name Column......
['Qewi City', 'Field Inspection Completed Date', 'Street Name', 'Sequence Number', 'BOROUGH', 'Owner Bus Name', 'Qewi Name', 'Prior Cycle Filing Date', 'Qewi Bus Name', 'Owner Name', 'Filing Date', 'Qewi Signed Date', 'Owner City', 'Qewi Nys Lic Number', 'Control Number', 'Owner Bus Street Name', 'Qewi Bus Street Name', 'Tr6 Number', 'House Number']

In [48]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  950
======================


column:  Qewi City
Original,	 Cleaned

NEW YORK 	 NEW YORK
nan 	 nan 	*
NANUET 	 NANUET
nan 	 nan 	*
ENGLEWOOD CLIFFS 	 ENGLEWOOD CLIFFS
nan 	 nan 	*
FAIRFAX 	 FAIRFAX
YONKERS 	 YONKERS
NEW YORK 	 NEW YORK
nan 	 nan 	*
BROOKLYN 	 BROOKLYN
nan 	 nan 	*
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
ENGLEWOOD CLIFF 	 ENGLEWOOD CLIFF
nan 	 nan 	*
nan 	 nan 	*
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
nan 	 nan 	*
NEW ROCHELLE 	 NEW ROCHELLE
NEW YORK 	 NEW YORK
nan 	 nan 	*
NEW YORK 	 NEW YORK
nan 	 nan 	*
LIC 	 LIC
NY 	 NY
NEW YORK 	 NEW YORK
nan 	 nan 	*
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
BEDFORD 	 BEDFORD
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
BAYSIDE 	 BAYSIDE
DOBBS FERRY 	 DOBBS FERRY
NEW YORK 	 NEW YORK
WESTFIELD 	 WESTFIELD
OYSTER BAY 	 OYSTER BAY
nan 	 nan 	*
L.I.C 	 L.I.C
DOBBS FERRY 	 DOBBS FERRY
NEW YORK 	 NEW YORK
BAYSIDE 	 BAYSIDE
nan 	 nan 	*
NEW YORK 	 NEW YORK
DOBBS FERRY 	 DOBBS FERRY
NEW YORK 	 NEW YORK
nan 	 nan 	*
NEW YORK 	 NEW YORK
*    36  same records   *

======================


column:  Field Inspection Completed Date
Original,	 Cleaned

03/01/2021 12:00:00 AM 	 2021-03-01 00:00:00 	*
nan 	 2015-02-11 00:00:00 	*
02/22/2007 12:00:00 AM 	 2007-02-22 00:00:00 	*
nan 	 2012-06-28 00:00:00 	*
09/16/2021 12:00:00 AM 	 2021-09-16 00:00:00 	*
nan 	 2015-11-06 00:00:00 	*
09/20/2010 12:00:00 AM 	 2010-09-20 00:00:00 	*
06/22/2012 12:00:00 AM 	 2012-06-22 00:00:00 	*
02/17/2007 12:00:00 AM 	 2007-02-17 00:00:00 	*
nan 	 2015-05-28 00:00:00 	*
09/19/2006 12:00:00 AM 	 2006-09-19 00:00:00 	*
nan 	 2015-12-16 00:00:00 	*
12/29/2011 12:00:00 AM 	 2011-12-29 00:00:00 	*
11/26/2019 12:00:00 AM 	 2019-11-26 00:00:00 	*
07/31/2012 12:00:00 AM 	 2012-07-31 00:00:00 	*
nan 	 2006-10-10 00:00:00 	*
nan 	 2016-06-03 00:00:00 	*
06/18/2019 12:00:00 AM 	 2019-06-18 00:00:00 	*
04/15/2011 12:00:00 AM 	 2011-04-15 00:00:00 	*
nan 	 2006-01-25 00:00:00 	*
04/28/2014 12:00:00 AM 	 2014-04-28 00:00:00 	*
03/08/2012 12:00:00 AM 	 2012-03-08 00:00:00 	*
nan 	 2016-04-23 00:00:00 	*
10/12/2017 12:00:00 AM 	 2017-10-12 00:00:00 	*
nan 	 2015-11-17 00:00:00 	*
01/31/2012 12:00:00 AM 	 2012-01-31 00:00:00 	*
11/10/2006 12:00:00 AM 	 2006-11-10 00:00:00 	*
01/09/2019 12:00:00 AM 	 2019-01-09 00:00:00 	*
nan 	 2016-07-19 00:00:00 	*
12/04/2006 12:00:00 AM 	 2006-12-04 00:00:00 	*
04/22/2011 12:00:00 AM 	 2011-04-22 00:00:00 	*
08/15/2012 12:00:00 AM 	 2012-08-15 00:00:00 	*
08/12/2006 12:00:00 AM 	 2006-08-12 00:00:00 	*
11/20/2006 12:00:00 AM 	 2006-11-20 00:00:00 	*
02/02/2007 12:00:00 AM 	 2007-02-02 00:00:00 	*
01/19/2017 12:00:00 AM 	 2017-01-19 00:00:00 	*
01/26/2012 12:00:00 AM 	 2012-01-26 00:00:00 	*
01/29/2018 12:00:00 AM 	 2018-01-29 00:00:00 	*
01/31/2012 12:00:00 AM 	 2012-01-31 00:00:00 	*
nan 	 2011-12-18 00:00:00 	*
11/10/2010 12:00:00 AM 	 2010-11-10 00:00:00 	*
01/05/2017 12:00:00 AM 	 2017-01-05 00:00:00 	*
02/23/2006 12:00:00 AM 	 2006-02-23 00:00:00 	*
01/09/2013 12:00:00 AM 	 2013-01-09 00:00:00 	*
nan 	 2015-08-12 00:00:00 	*
07/27/2012 12:00:00 AM 	 2012-07-27 00:00:00 	*
10/18/2006 12:00:00 AM 	 2006-10-18 00:00:00 	*
06/05/2009 12:00:00 AM 	 2009-06-05 00:00:00 	*
nan 	 2016-08-04 00:00:00 	*
09/02/2021 12:00:00 AM 	 2021-09-02 00:00:00 	*
*    0  same records   *

======================


column:  Street Name
Original,	 Cleaned

EAST 69 STREET 	 EAST 69 STREET
YORK AVENUE 	 YORK AVENUE
WEST 147 STREET 	 WEST 147 STREET
YORK AVENUE 	 YORK AVENUE
EAST 74 STREET 	 EAST 74 STREET
FT WASHINGTON AVENUE 	 FT WASHINGTON AVENUE
YORK AVENUE 	 YORK AVENUE
WEST 56 STREET 	 WEST 56 STREET
WEST 39 STREET 	 WEST 39 STREET
AVENUE O 	 AVENUE O
WEST 55 STREET 	 WEST 55 STREET
REMSEN STREET 	 REMSEN STREET
MARBLE HILL AVENUE 	 MARBLE HILL AVENUE
GOLD STREET 	 GOLD STREET
LAIGHT STREET 	 LAIGHT STREET
HAVEN AVENUE 	 HAVEN AVENUE
WEST HOUSTON STREET 	 WEST HOUSTON STREET
FIFTH AVENUE 	 FIFTH AVENUE
WEST 25 STREET 	 WEST 25 STREET
MANHATTAN AVENUE 	 MANHATTAN AVENUE
SHERMAN AVENUE 	 SHERMAN AVENUE
EAST 79 STREET 	 EAST 79 STREET
MOTT STREET 	 MOTT STREET
7 AVENUE 	 7 AVENUE
27 AVENUE 	 27 AVENUE
62 DRIVE 	 62 DRIVE
FIFTH AVENUE 	 FIFTH AVENUE
AVENUE C 	 AVENUE C
KENMARE STREET 	 KENMARE STREET
EAST 80 STREET 	 EAST 80 STREET
EAST 91 STREET 	 EAST 91 STREET
EAST 10 STREET 	 EAST 10 STREET
EAST 14 STREET 	 EAST 14 STREET
EAST 44 STREET 	 EAST 44 STREET
CORPORAL KENNEDY STREET 	 CORPORAL KENNEDY STREET
LEXINGTON AVENUE 	 LEXINGTON AVENUE
EAST 102 STREET 	 EAST 102 STREET
POWERS STREET 	 POWERS STREET
BURNS STREET 	 BURNS STREET
HAMILTON PLACE 	 HAMILTON PLACE
PARK AVENUE 	 PARK AVENUE
EAST 72 STREET 	 EAST 72 STREET
ROCKEFELLER PLAZA 	 ROCKEFELLER PLAZA
METROPOLITAN AVENUE 	 METROPOLITAN AVENUE
WEST 92 STREET 	 WEST 92 STREET
CADMAN PLAZA WEST 	 CADMAN PLAZA WEST
FIFTH AVENUE 	 FIFTH AVENUE
HYLAN BOULEVARD 	 HYLAN BOULEVARD
SCHLEY AVENUE 	 SCHLEY AVENUE
WESTCHESTER 	 WESTCHESTER
*    50  same records   *

======================


column:  Sequence Number
Original,	 Cleaned

1 	 1
3 	 3
2 	 2
2 	 2
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
4 	 4
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
22 	 22
5 	 5
1 	 1
3 	 3
nan 	  	*
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
2 	 2
1 	 1
1 	 1
2 	 2
1 	 1
nan 	  	*
1 	 1
1 	 1
2 	 2
21 	 21
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
*    48  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
STATEN ISLAND 	 STATEN ISLAND
BRONX 	 BRONX
BRONX 	 BRONX
*    50  same records   *

======================


column:  Owner Bus Name
Original,	 Cleaned

301/69 OWNERS CORP. 	 301/69 OWNERS CORP.
nan 	 nan 	*
ESPLANADE GARDENS INC. 	 ESPLANADE GARDENS INC.
nan 	 nan 	*
123 East 74th Street Corp. 	 123 East 74th Street Corp.
nan 	 nan 	*
MARY MANNING WALSH ET.A1 	 MARY MANNING WALSH ET.A1
LE PREMIER CONDOMINIUM 	 LE PREMIER CONDOMINIUM
CAPORAL CORPORATION.LP 	 CAPORAL CORPORATION.LP
nan 	 nan 	*
DUART FILM LABS 	 DUART FILM LABS
nan 	 nan 	*
MARBLE OPERATING ASSOCIATES 	 MARBLE OPERATING ASSOCIATES
New York Presbyterian 	 New York Presbyterian
SUGAR WAREHOUSE 	 SUGAR WAREHOUSE
COLUMBIA UNIVERSITY 	 COLUMBIA UNIVERSITY
nan 	 nan 	*
1025 FIFTH AVENUE INC 	 1025 FIFTH AVENUE INC
DEZER PROPERTIES 146 LLC 	 DEZER PROPERTIES 146 LLC
nan 	 nan 	*
1225 INC 	 1225 INC
79TH STREET EAST OWNERS, INC 	 79TH STREET EAST OWNERS, INC
Lau Y.N Realty Groupo 	 Lau Y.N Realty Groupo
BARCLAYS 	 BARCLAYS
nan 	 nan 	*
PARK ITY 3&4 APTS. INC 	 PARK ITY 3&4 APTS. INC
THE SHERRY NETHERLAND 	 THE SHERRY NETHERLAND
Haven Plaza Square LLC. 	 Haven Plaza Square LLC.
nan 	 nan 	*
80-81 & FIRST ASSOCIATES 	 80-81 & FIRST ASSOCIATES
160 EAST 91 ST.CORP 	 160 EAST 91 ST.CORP
THE BOYS' CLUB OF NEW YORK 	 THE BOYS' CLUB OF NEW YORK
VICTORIA OWNERS CORP. 	 VICTORIA OWNERS CORP.
UNITED NATIONS DEVELOPMENT CORP 	 UNITED NATIONS DEVELOPMENT CORP
KENNEDY STREET QUAD LTD 	 KENNEDY STREET QUAD LTD
957 Lexington Corp. 	 957 Lexington Corp.
EAST 102ND STREET REALTY, LLC 	 EAST 102ND STREET REALTY, LLC
Jennings Hall LP 	 Jennings Hall LP
BURNS STREET OWNERS CORP 	 BURNS STREET OWNERS CORP
nan 	 nan 	*
THE BOARD OF MANAGERS 610 PARK A 	 THE BOARD OF MANAGERS 610 PARK A
72nd Street Owners Corp 	 72nd Street Owners Corp
RCPI LANDMARK PROPERTIES 	 RCPI LANDMARK PROPERTIES
PARKCHESTER SOUTH CONDO 	 PARKCHESTER SOUTH CONDO
nan 	 nan 	*
CADMAN PLAZA NORTH INC 	 CADMAN PLAZA NORTH INC
834 5TH AVE CORPORATION 	 834 5TH AVE CORPORATION
600 HYLAN ASSOC. LLC 	 600 HYLAN ASSOC. LLC
nan 	 nan 	*
PR 	 PR
*    38  same records   *

======================


column:  Qewi Name
Original,	 Cleaned

EDWARD  SIMONIELLO 	 EDWARD  SIMONIELLO
nan 	 nan 	*
KURT  ROSENBAUM 	 KURT  ROSENBAUM
nan 	 nan 	*
NICHOLAS  FERRARA 	 NICHOLAS  FERRARA
nan 	 nan 	*
STEVEN P BENTZ 	 STEVEN P BENTZ
WILLIAM J STRUTH 	 WILLIAM J STRUTH
CHARLES  MARINO 	 CHARLES  MARINO
nan 	 nan 	*
DANIEL R WACKS 	 DANIEL R WACKS
nan 	 nan 	*
MARK S LICALZI 	 MARK S LICALZI
SEAN  OBRIEN 	 SEAN  OBRIEN
JOSEPH  CANTON 	 JOSEPH  CANTON
nan 	 nan 	*
nan 	 nan 	*
DAVID  SALAMON 	 DAVID  SALAMON
MICHAEL A GEYER 	 MICHAEL A GEYER
nan 	 nan 	*
JIM  KUSI 	 JIM  KUSI
RONALD R ERICKSON 	 RONALD R ERICKSON
MING  WONG 	 MING  WONG
SUSANNE  MACKIW 	 SUSANNE  MACKIW
nan 	 nan 	*
EVAN  PETKANAS 	 EVAN  PETKANAS
DAVID C ACHESON 	 DAVID C ACHESON
CRAIG  TOOMAN 	 CRAIG  TOOMAN
nan 	 nan 	*
ISRAEL M BERGER 	 ISRAEL M BERGER
DANIEL J ALLEN 	 DANIEL J ALLEN
VINCENT J LANE 	 VINCENT J LANE
HOWARD L ZIMMERMAN 	 HOWARD L ZIMMERMAN
DOMINGO J DIAZ 	 DOMINGO J DIAZ
CHARLES A MERRITT 	 CHARLES A MERRITT
KOKO  UYO 	 KOKO  UYO
HOWARD L ZIMMERMAN 	 HOWARD L ZIMMERMAN
DANIEL  SIEGEL 	 DANIEL  SIEGEL
DENNIS  MELE 	 DENNIS  MELE
nan 	 nan 	*
EVAN  PETKANAS 	 EVAN  PETKANAS
KOKO  UYO 	 KOKO  UYO
DOMINGO  DIAZ 	 DOMINGO  DIAZ
CHARLES A MERRITT 	 CHARLES A MERRITT
nan 	 nan 	*
HUGH A ROBOTHAM 	 HUGH A ROBOTHAM
FREDRICK  KRAMER 	 FREDRICK  KRAMER
SCOTT M SILBERMAN 	 SCOTT M SILBERMAN
nan 	 nan 	*
TIMOTHY  WEBB 	 TIMOTHY  WEBB
*    37  same records   *

======================


column:  Prior Cycle Filing Date
Original,	 Cleaned

02/20/2017 12:00:00 AM 	 2017-02-20 00:00:00 	*
nan 	 2012-11-28 00:00:00 	*
02/22/2002 12:00:00 AM 	 2002-02-22 00:00:00 	*
nan 	 2006-12-21 00:00:00 	*
02/03/2017 12:00:00 AM 	 2017-02-03 00:00:00 	*
nan 	 2012-02-17 00:00:00 	*
02/13/2007 12:00:00 AM 	 2007-02-13 00:00:00 	*
01/04/2007 12:00:00 AM 	 2007-01-04 00:00:00 	*
11/06/2003 12:00:00 AM 	 2003-11-06 00:00:00 	*
nan 	 2014-06-23 00:00:00 	*
01/07/2000 12:00:00 AM 	 2000-01-07 00:00:00 	*
nan 	 2013-09-16 00:00:00 	*
02/20/2007 12:00:00 AM 	 2007-02-20 00:00:00 	*
06/16/2016 12:00:00 AM 	 2016-06-16 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
nan 	 2000-03-10 00:00:00 	*
nan 	 2011-08-15 00:00:00 	*
02/17/2012 12:00:00 AM 	 2012-02-17 00:00:00 	*
01/30/2007 12:00:00 AM 	 2007-01-30 00:00:00 	*
nan 	 2002-01-29 00:00:00 	*
nan 	 2000-02-28 00:00:00 	*
12/28/2006 12:00:00 AM 	 2006-12-28 00:00:00 	*
nan 	 2012-03-06 00:00:00 	*
06/20/2013 12:00:00 AM 	 2013-06-20 00:00:00 	*
nan 	 2012-12-04 00:00:00 	*
02/09/2007 12:00:00 AM 	 2007-02-09 00:00:00 	*
02/21/2002 12:00:00 AM 	 2002-02-21 00:00:00 	*
11/15/2012 12:00:00 AM 	 2012-11-15 00:00:00 	*
nan 	 2013-12-04 00:00:00 	*
09/17/1999 12:00:00 AM 	 1999-09-17 00:00:00 	*
02/13/2007 12:00:00 AM 	 2007-02-13 00:00:00 	*
03/08/2007 12:00:00 AM 	 2007-03-08 00:00:00 	*
02/07/2000 12:00:00 AM 	 2000-02-07 00:00:00 	*
02/29/2000 12:00:00 AM 	 2000-02-29 00:00:00 	*
08/07/2003 12:00:00 AM 	 2003-08-07 00:00:00 	*
08/10/2011 12:00:00 AM 	 2011-08-10 00:00:00 	*
nan 	 2000-02-29 00:00:00 	*
12/15/2014 12:00:00 AM 	 2014-12-15 00:00:00 	*
02/07/2007 12:00:00 AM 	 2007-02-07 00:00:00 	*
nan 	 2009-01-16 00:00:00 	*
01/04/2007 12:00:00 AM 	 2007-01-04 00:00:00 	*
01/05/2012 12:00:00 AM 	 2012-01-05 00:00:00 	*
01/14/2000 12:00:00 AM 	 2000-01-14 00:00:00 	*
02/14/2007 12:00:00 AM 	 2007-02-14 00:00:00 	*
nan 	 2014-06-10 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
nan 	 2002-02-21 00:00:00 	*
02/21/2002 12:00:00 AM 	 2002-02-21 00:00:00 	*
nan 	 2013-01-18 00:00:00 	*
07/12/2018 12:00:00 AM 	 2018-07-12 00:00:00 	*
*    0  same records   *

======================


column:  Qewi Bus Name
Original,	 Cleaned

SW ENGINEERING COMPANY, PLLC 	 SW ENGINEERING COMPANY, PLLC
nan 	 nan 	*
KRA ASSOCIATES,INC 	 KRA ASSOCIATES,INC
nan 	 nan 	*
JMA CONSULTANTS, INC/ JMA CONSULTAN 	 JMA CONSULTANTS, INC/ JMA CONSULTAN
nan 	 nan 	*
FACILITY ENGINEERING ASSOCIATES 	 FACILITY ENGINEERING ASSOCIATES
LAWLESS & MANGIONE, LLP 	 LAWLESS & MANGIONE, LLP
BRAXTON ENGINEERING, PC 	 BRAXTON ENGINEERING, PC
nan 	 nan 	*
DANIEL R WACKS P.E P.C 	 DANIEL R WACKS P.E P.C
nan 	 nan 	*
LUKE LICALZI P.E.P., P.C 	 LUKE LICALZI P.E.P., P.C
SIMPSON GUMPERTZ & HEGER ASSOCIATES 	 SIMPSON GUMPERTZ & HEGER ASSOCIATES
JMA CONSULTANTS ENGINEERS PC 	 JMA CONSULTANTS ENGINEERS PC
nan 	 nan 	*
nan 	 nan 	*
SALAMON ENGINEERING PLLC 	 SALAMON ENGINEERING PLLC
MICHAEL A GEYER ARCHITE 	 MICHAEL A GEYER ARCHITE
nan 	 nan 	*
JIM KUSI, PE 	 JIM KUSI, PE
nan 	 nan 	*
MW Professional Engineering 	 MW Professional Engineering
GILSANZ MURRAY STEFICEK, LLP 	 GILSANZ MURRAY STEFICEK, LLP
nan 	 nan 	*
STONE ENGINEERING, PC 	 STONE ENGINEERING, PC
ACHESON DOYLE PARTNERS 	 ACHESON DOYLE PARTNERS
CTA ARCHITECTS P.C. 	 CTA ARCHITECTS P.C.
nan 	 nan 	*
ISRAEL BERGER & ASSOCIATES, LLC 	 ISRAEL BERGER & ASSOCIATES, LLC
CUTSOGEORGE TOMAN ALLEN ARCH 	 CUTSOGEORGE TOMAN ALLEN ARCH
LANE ENGINEERING CONSULTING 	 LANE ENGINEERING CONSULTING
HOWARD L.ZIMMERMAN ARCHITECTS PC 	 HOWARD L.ZIMMERMAN ARCHITECTS PC
DIAZ ARCHITECTS, INC 	 DIAZ ARCHITECTS, INC
MERRITT ENGINEERING CONSULTANTS 	 MERRITT ENGINEERING CONSULTANTS
nan 	 nan 	*
HOWARD L ZIMMERMAN 	 HOWARD L ZIMMERMAN
DS ENGINEERING SERVICES, PC 	 DS ENGINEERING SERVICES, PC
MIDTOWN PRESERVATION 	 MIDTOWN PRESERVATION
nan 	 nan 	*
STONE ENGINEERING,PC 	 STONE ENGINEERING,PC
nan 	 nan 	*
DIAZ ARCHITECTS 	 DIAZ ARCHITECTS
MERRITT ENGINEERING CONSULTANTS 	 MERRITT ENGINEERING CONSULTANTS
nan 	 nan 	*
HUGH ROBOTHAM ARCHITECT PC 	 HUGH ROBOTHAM ARCHITECT PC
RICK KRAMER ARCHITECT, P.C 	 RICK KRAMER ARCHITECT, P.C
SMS ENGINEERING,P.C 	 SMS ENGINEERING,P.C
nan 	 nan 	*
O&S ASSOCIATES 	 O&S ASSOCIATES
*    34  same records   *

======================


column:  Owner Name
Original,	 Cleaned

FREDERICK  RUDD 	 FREDERICK  RUDD
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
AMELIA  AHNE 	 AMELIA  AHNE
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
EDWARD  CLEVELAND 	 EDWARD  CLEVELAND
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
TERRY  BORG 	 TERRY  BORG
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
GORDON  LAU 	 GORDON  LAU

LESLIE  SEVERINO 	 LESLIE  SEVERINO
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
JAY  YABLONSKY 	 JAY  YABLONSKY
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
ROBERT  APFEL 	 ROBERT  APFEL
nan 	 nan 	*
FRANK  LANG 	 FRANK  LANG
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
TANYA  FRIEDMAN 	 TANYA  FRIEDMAN
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
RICHARD  MORRISON 	 RICHARD  MORRISON
*    11  same records   *

======================


column:  Filing Date
Original,	 Cleaned

04/21/2021 12:00:00 AM 	 2021-04-21 00:00:00 	*
nan 	 2015-03-11 00:00:00 	*
09/12/2007 12:00:00 AM 	 2007-09-12 00:00:00 	*
nan 	 2012-08-10 00:00:00 	*
09/17/2021 12:00:00 AM 	 2021-09-17 00:00:00 	*
nan 	 2015-11-23 00:00:00 	*
03/20/2013 12:00:00 AM 	 2013-03-20 00:00:00 	*
08/10/2012 12:00:00 AM 	 2012-08-10 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
nan 	 2015-07-22 00:00:00 	*
07/06/2009 12:00:00 AM 	 2009-07-06 00:00:00 	*
nan 	 2016-01-22 00:00:00 	*
01/31/2012 12:00:00 AM 	 2012-01-31 00:00:00 	*
11/26/2019 12:00:00 AM 	 2019-11-26 00:00:00 	*
08/16/2012 12:00:00 AM 	 2012-08-16 00:00:00 	*
nan 	 2009-03-10 00:00:00 	*
nan 	 2016-06-23 00:00:00 	*
07/01/2019 12:00:00 AM 	 2019-07-01 00:00:00 	*
06/01/2011 12:00:00 AM 	 2011-06-01 00:00:00 	*
nan 	 2007-03-05 00:00:00 	*
06/11/2014 12:00:00 AM 	 2014-06-11 00:00:00 	*
02/02/2012 12:00:00 AM 	 2012-02-02 00:00:00 	*
nan 	 2016-05-12 00:00:00 	*
11/08/2017 12:00:00 AM 	 2017-11-08 00:00:00 	*
nan 	 2015-12-09 00:00:00 	*
06/24/2014 12:00:00 AM 	 2014-06-24 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
02/20/2019 12:00:00 AM 	 2019-02-20 00:00:00 	*
nan 	 2016-08-23 00:00:00 	*
02/16/2007 12:00:00 AM 	 2007-02-16 00:00:00 	*
05/04/2011 12:00:00 AM 	 2011-05-04 00:00:00 	*
08/30/2012 12:00:00 AM 	 2012-08-30 00:00:00 	*
02/01/2007 12:00:00 AM 	 2007-02-01 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
02/16/2017 12:00:00 AM 	 2017-02-16 00:00:00 	*
02/16/2012 12:00:00 AM 	 2012-02-16 00:00:00 	*
10/23/2017 12:00:00 AM 	 2017-10-23 00:00:00 	*
02/16/2012 12:00:00 AM 	 2012-02-16 00:00:00 	*
nan 	 2019-02-22 00:00:00 	*
01/11/2011 12:00:00 AM 	 2011-01-11 00:00:00 	*
02/21/2017 12:00:00 AM 	 2017-02-21 00:00:00 	*
10/20/2006 12:00:00 AM 	 2006-10-20 00:00:00 	*
02/20/2013 12:00:00 AM 	 2013-02-20 00:00:00 	*
nan 	 2015-10-09 00:00:00 	*
08/31/2012 12:00:00 AM 	 2012-08-31 00:00:00 	*
11/17/2006 12:00:00 AM 	 2006-11-17 00:00:00 	*
08/26/2009 12:00:00 AM 	 2009-08-26 00:00:00 	*
nan 	 2016-09-06 00:00:00 	*
08/23/2021 12:00:00 AM 	 2021-08-23 00:00:00 	*
*    0  same records   *

======================


column:  Qewi Signed Date
Original,	 Cleaned

06/23/2021 12:00:00 AM 	 2021-06-23 00:00:00 	*
nan 	 2015-03-10 00:00:00 	*
08/20/2007 12:00:00 AM 	 2007-08-20 00:00:00 	*
nan 	 2012-08-02 00:00:00 	*
09/17/2021 12:00:00 AM 	 2021-09-17 00:00:00 	*
nan 	 2015-11-22 00:00:00 	*
11/08/2010 12:00:00 AM 	 2010-11-08 00:00:00 	*
08/06/2012 12:00:00 AM 	 2012-08-06 00:00:00 	*
02/16/2007 12:00:00 AM 	 2007-02-16 00:00:00 	*
nan 	 2015-06-30 00:00:00 	*
02/12/2007 12:00:00 AM 	 2007-02-12 00:00:00 	*
nan 	 2015-12-16 00:00:00 	*
01/23/2012 12:00:00 AM 	 2012-01-23 00:00:00 	*
11/22/2019 07:00:00 PM 	 2019-11-22 19:00:00 	*
08/13/2012 12:00:00 AM 	 2012-08-13 00:00:00 	*
nan 	 2006-11-07 00:00:00 	*
nan 	 2016-06-20 00:00:00 	*
07/25/2019 08:00:00 PM 	 2019-07-25 20:00:00 	*
05/17/2011 12:00:00 AM 	 2011-05-17 00:00:00 	*
nan 	 2006-12-01 00:00:00 	*
05/13/2014 12:00:00 AM 	 2014-05-13 00:00:00 	*
03/12/2012 12:00:00 AM 	 2012-03-12 00:00:00 	*
nan 	 2016-04-29 00:00:00 	*
10/31/2017 08:00:00 PM 	 2017-10-31 20:00:00 	*
nan 	 2015-12-02 00:00:00 	*
02/13/2012 12:00:00 AM 	 2012-02-13 00:00:00 	*
02/16/2007 12:00:00 AM 	 2007-02-16 00:00:00 	*
02/18/2019 07:00:00 PM 	 2019-02-18 19:00:00 	*
nan 	 2016-08-03 00:00:00 	*
02/13/2007 12:00:00 AM 	 2007-02-13 00:00:00 	*
03/29/2011 12:00:00 AM 	 2011-03-29 00:00:00 	*
08/27/2012 12:00:00 AM 	 2012-08-27 00:00:00 	*
01/04/2007 12:00:00 AM 	 2007-01-04 00:00:00 	*
02/15/2007 12:00:00 AM 	 2007-02-15 00:00:00 	*
02/05/2007 12:00:00 AM 	 2007-02-05 00:00:00 	*
02/16/2017 12:00:00 AM 	 2017-02-16 00:00:00 	*
02/10/2012 12:00:00 AM 	 2012-02-10 00:00:00 	*
02/10/2018 07:00:00 PM 	 2018-02-10 19:00:00 	*
02/11/2012 12:00:00 AM 	 2012-02-11 00:00:00 	*
nan 	 2012-01-30 00:00:00 	*
12/10/2010 12:00:00 AM 	 2010-12-10 00:00:00 	*
02/21/2017 12:00:00 AM 	 2017-02-21 00:00:00 	*
10/16/2006 12:00:00 AM 	 2006-10-16 00:00:00 	*
02/07/2013 12:00:00 AM 	 2013-02-07 00:00:00 	*
nan 	 2015-08-28 00:00:00 	*
07/27/2012 12:00:00 AM 	 2012-07-27 00:00:00 	*
10/25/2006 12:00:00 AM 	 2006-10-25 00:00:00 	*
06/06/2009 12:00:00 AM 	 2009-06-06 00:00:00 	*
nan 	 2016-08-30 00:00:00 	*
10/25/2021 12:00:00 AM 	 2021-10-25 00:00:00 	*
*    0  same records   *

======================


column:  Owner City
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Qewi Nys Lic Number
Original,	 Cleaned

PE - 075954 	 PE - 075954
nan 	  	*
nan 	  	*
nan 	  	*
PE - 103313 	 PE - 103313
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
PE - 084634 	 PE - 084634
nan 	  	*
nan 	  	*
nan 	  	*
PE - 060930 	 PE - 060930
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
PE - 087878 	 PE - 087878
RA - 017070 	 RA - 017070
nan 	  	*
nan 	  	*
nan 	  	*
RA - 023615 	 RA - 023615
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
RA - 028990 	 RA - 028990
nan 	  	*
PE - 071073 	 PE - 071073
nan 	  	*
nan 	  	*
nan 	  	*
RA - 028990 	 RA - 028990
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
RA - 031877 	 RA - 031877
*    11  same records   *

======================


column:  Control Number
Original,	 Cleaned

905258 	 905258
805384 	 805384
606926 	 606926
705817 	 705817
905097 	 905097
807192 	 807192
705338 	 705338
703098 	 703098
601574 	 601574
812663 	 812663
603208 	 603208
814380 	 814380
707341 	 707341
800258 	 800258
712938 	 712938
607179 	 607179
800985 	 800985
805446 	 805446
701813 	 701813
813819 	 813819
607548 	 607548
705863 	 705863
814523 	 814523
812728 	 812728
810621 	 810621
710917 	 710917
604825 	 604825
800725 	 800725
818314 	 818314
605815 	 605815
705658 	 705658
700796 	 700796
602257 	 602257
604658 	 604658
611434 	 611434
805059 	 805059
713338 	 713338
713126 	 713126
711172 	 711172
816699 	 816699
704872 	 704872
804927 	 804927
604160 	 604160
708485 	 708485
803941 	 803941
709070 	 709070
612600 	 612600
611946 	 611946
808809 	 808809
907723 	 907723
*    50  same records   *

======================


column:  Owner Bus Street Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Qewi Bus Street Name
Original,	 Cleaned

260 WEST 35TH STREET 	 260 WEST 35TH STREET
nan 	 nan 	*
95 NEW CLARKSTOWN ROAD 	 95 NEW CLARKSTOWN ROAD
nan 	 nan 	*
580 SYLVAN AVE 	 580 SYLVAN AVE
nan 	 nan 	*
12701 FAIR LAKES CIRCLE SUITE 101 	 12701 FAIR LAKES CIRCLE SUITE 101
480 NORTH BROADWAY 	 480 NORTH BROADWAY
149 WEST 12TH STREET 	 149 WEST 12TH STREET
nan 	 nan 	*
970 GRAND STREET 	 970 GRAND STREET
nan 	 nan 	*
195 HUDSON STREET #1B 	 195 HUDSON STREET #1B
550 7TH AVENUE 	 550 7TH AVENUE
580 SYLVAN AVENUE 	 580 SYLVAN AVENUE
nan 	 nan 	*
nan 	 nan 	*
330 WEST 38 STREET 	 330 WEST 38 STREET
20 WEST 20TH STREET 	 20 WEST 20TH STREET
nan 	 nan 	*
84 AMHERST DRIVE 	 84 AMHERST DRIVE
27 EAST 21ST STREET, 8TH FLOOR 	 27 EAST 21ST STREET, 8TH FLOOR
5805 186th Street Fresh Meadows 	 5805 186th Street Fresh Meadows
129 WEST 27TH STREET 	 129 WEST 27TH STREET
nan 	 nan 	*
38-70        REVIEW AVENUE 	 38-70        REVIEW AVENUE
44 WEST 18TH STREET 	 44 WEST 18TH STREET
151 WEST 26TH STREET 	 151 WEST 26TH STREET
nan 	 nan 	*
232 MADISON AVENUE 	 232 MADISON AVENUE
1151 WEST 26TH STREET,8TH FLOOR 	 1151 WEST 26TH STREET,8TH FLOOR
P.O          BOX 224 	 P.O          BOX 224
11 WEST 30TH STREET 	 11 WEST 30TH STREET
102 WEST 38TH STREET 	 102 WEST 38TH STREET
28-08        BAYSIDE LANE 	 28-08        BAYSIDE LANE
36 OSCEOLA AVENUE 	 36 OSCEOLA AVENUE
11 WEST 30TH STREET, 3RD FLOOR 	 11 WEST 30TH STREET, 3RD FLOOR
10 PINE COURT 	 10 PINE COURT
68 WEST MAIN STREET 	 68 WEST MAIN STREET
nan 	 nan 	*
38-70        REVIEW AVENUE 	 38-70        REVIEW AVENUE
36 OSCEOLA AVENUE 	 36 OSCEOLA AVENUE
102 WEST 38TH STREET 	 102 WEST 38TH STREET
28 08        BAYSIDE LANE 	 28 08        BAYSIDE LANE
nan 	 nan 	*
121 W 27 STREET 	 121 W 27 STREET
12 PALISADE STREET 	 12 PALISADE STREET
386 PARK AVENUE SOUTH,SUITE 702 	 386 PARK AVENUE SOUTH,SUITE 702
nan 	 nan 	*
520 8TH AVENUE 	 520 8TH AVENUE
*    37  same records   *

======================


column:  Tr6 Number

Original,	 Cleaned

TR6-905258-9A-I1 	 TR6-905258-9A-I1
TR6-805384-8B-N1 	 TR6-805384-8B-N1
TR6-606926-NA-I1 	 TR6-606926-NA-I1
TR6-705817-7B-N1 	 TR6-705817-7B-N1
TR6-905097-9A-I1 	 TR6-905097-9A-I1
TR6-807192-8C-N1 	 TR6-807192-8C-N1
TR6-705338-7A-S1 	 TR6-705338-7A-S1
TR6-703098-7B-I1 	 TR6-703098-7B-I1
TR6-601574-NA-I1 	 TR6-601574-NA-I1
TR6-812663-8B-N1 	 TR6-812663-8B-N1
TR6-603208-NA-S1 	 TR6-603208-NA-S1
TR6-814380-8A-N1 	 TR6-814380-8A-N1
TR6-707341-7A-I1 	 TR6-707341-7A-I1
TR6-800258-8C-S1 	 TR6-800258-8C-S1
TR6-712938-7B-I1 	 TR6-712938-7B-I1
TR6-607179-NA-N1 	 TR6-607179-NA-N1
TR6-800985-8B-N1 	 TR6-800985-8B-N1
TR6-805446-8A-I4 	 TR6-805446-8A-I4
TR6-701813-7B-I1 	 TR6-701813-7B-I1
TR6-813819-8C-N1 	 TR6-813819-8C-N1
TR6-607548-NA-I1 	 TR6-607548-NA-I1
TR6-705863-7A-I1 	 TR6-705863-7A-I1
TR6-814523-8A-I1 	 TR6-814523-8A-I1
TR6-812728-8C-I1 	 TR6-812728-8C-I1
TR6-810621-8B-N1 	 TR6-810621-8B-N1
TR6-710917-7A-S1 	 TR6-710917-7A-S1
TR6-604825-NA-I1 	 TR6-604825-NA-I1
TR6-800725-8C-I2 	 TR6-800725-8C-I2
TR6-818314-8A-N1 	 TR6-818314-8A-N1
TR6-605815-NA-I1 	 TR6-605815-NA-I1
TR6-705658-7A-I1 	 TR6-705658-7A-I1
TR6-700796-7B-I1 	 TR6-700796-7B-I1
TR6-602257-NA-I1 	 TR6-602257-NA-I1
TR6-604658-NA-I1 	 TR6-604658-NA-I1
TR6-611434-NA-I1 	 TR6-611434-NA-I1
TR6-805059-8A-I1 	 TR6-805059-8A-I1
TR6-713338-7A-I1 	 TR6-713338-7A-I1
TR6-713126-7C-A1 	 TR6-713126-7C-A1
TR6-711172-7A-I1 	 TR6-711172-7A-I1
TR6-816699-8C-N1 	 TR6-816699-8C-N1
TR6-704872-7A-I1 	 TR6-704872-7A-I1
TR6-804927-8A-I1 	 TR6-804927-8A-I1
TR6-604160-NA-I1 	 TR6-604160-NA-I1
TR6-708485-7C-I1 	 TR6-708485-7C-I1
TR6-803941-8B-N1 	 TR6-803941-8B-N1
TR6-709070-7C-I1 	 TR6-709070-7C-I1
TR6-612600-NA-I1 	 TR6-612600-NA-I1
TR6-611946-NA-I1 	 TR6-611946-NA-I1
TR6-808809-8B-N1 	 TR6-808809-8B-N1
TR6-907723-9A-I1 	 TR6-907723-9A-I1
*    50  same records   *

======================


column:  House Number
Original,	 Cleaned

301 	 301
1236 	 1236
101 	 101
1511 	 1511
125 	 125
260 	 260
1339 	 1339
110 	 110
338 	 338
2601 	 2601
245 	 245
180 	 180
1 	 1
69 	 69
79 	 79
78 	 78
185 	 185
1025 	 1025
146 	 146
153 	 153
1225 	 1225
505 	 505
211 	 211
745 	 745
4-10 	 4-10
98-20 	 98-20
781 	 781
188 	 188
30 	 30
401 	 401
160 	 160
287 	 287
5 	 5
323 	 323
18-75 	 18-75
955 	 955
333 	 333
260 	 260
68-44 	 68-44
83 	 83
610 	 610
30 	 30
10 	 10
1686 	 1686
201 	 201
140 	 140
833 	 833
600 	 600
2745 	 2745
700 	 700
*    50  same records   *

======================

In [49]:
tp = 273
fp = 50

fn = 86
tn = 1150 - tp - fp - fn

In [50]:
precision(tp, fp)

0.8452012383900929

In [51]:
recall(tp,fn)

0.7604456824512534