# General version of data cleaning

This code will automatically perform data cleaning on each of the dataset in the directoty, to run this notebook you need to download all the datasets and place them in the current directoty with the notebook.

Because we automatically find columns and fix them, we can not afford clustering to find outliers for each datasets so remove it in this notebook, the precision and recall rate might be influenced.

Run the code in oreder to perform data clean, cleaned data will be save in the current directoty, and to calculate the precision and recall rate, you will need to manually inspect the result.

In [1]:
import openclean
import glob
import pandas as pd
import numpy as np
import re

In [2]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

In [3]:
import pandas as pd
from openclean.pipeline import stream

In [ ]:
# dataset_list = ['hg8x-zxpr','w9ak-ipjd','dm9a-ab7w','bx6-tga4','ipu4-2q9a','xubg-57si', 'bty7-2jhb', 'hcir-3275, ''pitm-atqc','iz2q-9x8d']
# dataset_names = ['Housing New York Units by Building',
#                  'DOB NOW: Build – Job Application Filings',
#                  'DOB NOW: Electrical Permit Applications', 
#                  'DOB NOW: Build – Approved Permits',
#                  'DOB Permit Issuance', 
#                  'DOB NOW: Safety – Facades Compliance Filings',
#                  'Historical DOB Permit Issuance', 
#                  'Buildings Selected for the Alternative Enforcement Program (AEP)', 
#                  'Open Restaurant Applications', 
#                  'DOB Cellular Antenna Filings']

# dataset = Socrata().dataset('pitm-atqc')
# datafile = './pitm-atqc.tsv.gz'

# if not os.path.isfile(datafile):
#     with gzip.open(datafile, 'wb') as f:
#         print('Downloading ...\n')
#         dataset.write(f)


# fsize = humanfriendly.format_size(os.stat(datafile).st_size)
# print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

In [25]:
file_list = glob.glob("*.tsv.gz")

In [26]:
file_list

['ic3t-wcy2.tsv.gz',
 'ipu4-2q9a.tsv.gz',
 'iz2q-9x8d.tsv.gz',
 'pitm-atqc.tsv.gz',
 'xubg-57si.tsv.gz']

In [27]:
def readData(file):
    
    datafile = './'+file
    
    df  = pd.read_csv(datafile, dtype='object', sep='\t')
    #ds = stream(datafile)
    
    return datafile, df#, ds

In [28]:
def fixColumnNames(df):
    rename_list = list(df.columns)
    rename_dict = dict()

    for i in rename_list:
        col_name = str(i)

        col_name = col_name.strip().replace("_", " ").replace("’", "'").replace(".", "")


        # https://stackoverflow.com/questions/2277352/split-a-string-at-uppercase-letters
        # Split on upper case to seperate cocnatenated words:
        if (not col_name.islower()) and (not col_name.isupper()) and (col_name.find(" ") == -1):
            col_name = " ".join(re.sub("([A-Z])", r" \1", col_name).split())


        if col_name.islower(): 
            col_name = col_name.title()

        if (col_name.isupper()) and (col_name.find(" ") != -1):
            col_name = col_name.title()

        col_name = col_name.replace("No", "Number")
        col_name = col_name.replace("#", "Number")

        rename_dict[i] = col_name
    return rename_dict

In [29]:
def findColumns(df, column_name_list):
    data_cols = []

    for col in df.columns:
        for name in column_name_list:
            if name.lower() in col.lower():
                data_cols.append(col)
                
    return  data_cols

In [30]:
def fix_House_Number_Column(df, col):
    df[col] = df[col].str.replace(pat='(?P<one>\\d)(?P<two>[A-Z]+)', repl='\g<one> \g<two>', regex=True)
    df[col] = df[col].str.replace(pat='(?P<one>GAR$)', repl='GARAGE', regex=True)
    df[col] = df[col].str.replace(pat='NORTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='EAST([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='SOUTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='WEST([A-Z]+)?', repl='', regex=True)
    df.loc[(~df[col].str.contains('\\d', regex=True)), col] = ''

In [31]:
def fix_Phone_Number_Column(df, col):
    
    df[col] = df[col].str.replace(pat="[^\\d]", repl="", regex=True)    
    df[col] = df[col].str.lstrip('1')
    df.loc[df[col].str.len()!=10, col] = ''

    #return data_cols

In [32]:
def fix_ID_Number_Column(df):
    data_cols = findColumns(df, ['number', 'Number',' No',' NO'])
    
    for col in data_cols:
        
        df[col].fillna('', inplace=True)
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()

        df.loc[df[col].str.strip('')=='ONE', col] = '1'
        df.loc[df[col].str.strip('')=='TWO', col] = '2'
        df.loc[df[col].str.strip('')=='THREE', col] = '3'
        df.loc[df[col].str.strip('')=='FOUR', col] = '4'
        df.loc[df[col].str.strip('')=='FIVE', col] = '5'
        df.loc[df[col].str.strip('')=='SIX', col] = '6'
        df.loc[df[col].str.strip('')=='SEVEN', col] = '7'
        df.loc[df[col].str.strip('')=='EIGHT', col] = '8'
        df.loc[df[col].str.strip('')=='NINE', col] = '9'

        df.loc[df[col].str.strip('')=='NONE', col] = ''
        df.loc[df[col].str.strip('')=='none', col] = ''
        df.loc[df[col].str.strip('')=='None', col] = ''

        df.loc[df[col].str.strip('')=='NAN', col] = ''
        df.loc[df[col].str.strip('')=='nan', col] = ''
        df.loc[df[col].str.strip('')=='NaN', col] = ''
        
        df.loc[df[col].str.strip('')=='NO NUMBER', col] = ''
    
        if ('house' in col.lower()) or ('building' in col.lower()):
            fix_House_Number_Column(df, col)
        if ("phone" in col.lower()):
            fix_Phone_Number_Column(df, col)
    
    return data_cols

In [33]:
def fix_Binary_Column(df):
    #data_cols = findColumns(ds, ['Landmarked','Owned', 'Filled'])
    #
    data_cols = []

    for col in df.columns:
        # If column has small # of values, and potentially boolean values like Yes/ No, Y/N, X, True, etc.
        if (df[col].nunique() < 5) and (df[df[col].str.lower()==('y|yes|x|true|n|no|false')][col].count() != 0):
            data_cols.append(col)
        
        
    for col in data_cols:
        
        df.loc[df[col].str.lower().isin(['y|yes|x|true']), col] = True
        df.loc[df[col].str.lower().isin(['n|no|nan|false']), col] = False
        df[col].fillna(False, inplace=True)
        
        if df[col].nunique()==2:
            df[col] = df[col].astype('bool')
        
    return data_cols

In [46]:
def fix_Monetary_Column(df):
    data_cols = findColumns(df, ['Cost','cost', 'fee', 'Fee'])
    
    for col in data_cols:
        df[col] = df[col].astype('str')
        df[col] = df[col].str.replace("$", '', regex=False)
        df[col] = df[col].str.replace("-", '', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')

    return data_cols

In [47]:
def fix_Numerical_Column(df):
    data_cols = findColumns(df, ['Units','units', 'Height', 'height', 'Length', 'length', 'Footage', 'footage', 'Sqft', 'sqft'])
    
    for col in data_cols:
        
        df[col] = df[col].str.replace('-', '', regex=False)
        df[col] = df[col].str.replace('NONE', '0', regex=False)
        df[col] = df[col].str.replace('none', '0', regex=False)
        df[col] = df[col].str.replace('NAN', '0', regex=False)
        df[col] = df[col].str.replace('NaN', '0', regex=False)
        df[col] = df[col].str.replace('nan', '0', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')
        
    return data_cols

In [48]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(df, column_name, eps_setting = 0.05):
    datetime_data = df[column_name]

    light_outliers = DBSCANOutliers().find(datetime_data)
    
    return light_outliers

In [49]:
def fix_datetime_Column(df):
    data_cols = findColumns(df, ['date', 'Date', 'DATE'])
    
    for col in data_cols:
    
        
        light_outliers = findDateOutliers(df, col)
        
        for item in light_outliers:
            
            df[col] = df[col].replace(item, None)
            df[col] = pd.to_datetime(df[col], errors='coerce')
         
    return data_cols

In [50]:
from openclean.data.refdata import RefStore

refdata = RefStore()
city_df = refdata\
    .load('encyclopaedia_britannica:us_cities', auto_download=True)\
    .df()

In [51]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(df, col, minsize = 2, preds = 0.5): #ds
    dba = df.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(preds)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0

def updateUsingClusters(df, col, clusters, isPrint = False): # ds,
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i <5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
    
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [52]:
from openclean.function.eval.base import Col, Eval
from openclean.function.eval.logic import And
from openclean.function.value.phonetic import Soundex, soundex


def fix_city_and_name_Column(df, file): #ds,
    data_cols = findColumns(df, ['NAME', 'name', 'Name','city', 'City', 'CITY', 'BOROUGH', 'Borough', 'borough'])
    name_cols = findColumns(df, ['NAME', 'name', 'Name'])
    
    # mapping list to replace outliers
    outlier1 = ['', 'MR. ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM 11', 'JOSEP;H``', 'DAID/11/2007', 'CHUNG   LUN', '718 9215010', 'ANTHONY', 'HSIA0-NAN', 'JOSEPH', '``````````', 'ROBERT  `', 'RAJENDRA9956700', '2', 'G.B.M.', 'EUGENE......JR', '6312100', 'CLAUDE,JR.', 'THOMAS``', 'ALAN  L', 'Nab53', 'MR. Y. B', 'J.J', 'PH8ILIP', 'I. M', 'RICHARD', 'ALBERTA S 111 D', 'P ;', 'GENECG.C. ENG &', 'J.J.', '2126202794', 'SHAW  HWA', 'HARRY         H', 'MR DOU8GLAS', '`1D', 'PAUL', 'K. T.', 'JOHN', '...NORMAN', 'EVAN   D', '7184361278BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MAD/Y/ARNI', 'ES ON SCH B', 'EUGENE.......JR', 'NEAL', 'F._ERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0-TECH', 'RODNEY   __', 'DAVID', 'G. L.', 'JAMES', 'LESLI8E', '7186054055', 'GEORGE', 'G.B.M', 'DAVID    JON', 'CHUNG---YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', '1P', 'JUDE.....N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD/HON-AN', 'GLEN  A.L.', 'J.B. Jr.', 'LORENZO..A', 'J J', '..RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY 2', '...JOSEPH', 'RUSSELL 111', 'THOMAS', 'H./E./CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', '--young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']
    mapping1 = [None, 'ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM', 'JOSEPH', None, 'CHUNG LUN', None, 'ANTHONY', 'HSIA0 NAN', 'JOSEPH', None, 'ROBERT', 'RAJENDRA', None, 'G.B.M.', 'EUGENEJR', None, 'CLAUDE JR.', 'THOMAS', 'ALAN  L', 'Nab', 'MR. Y. B', 'J.J', 'PHILIP', 'I. M', 'RICHARD', 'ALBERTA', None, 'GENECG.C. ENG', 'J.J.', None, 'SHAW HWA', 'HARRYH', 'MR DOUGLAS', None, 'PAUL', 'K. T.', 'JOHN', 'NORMAN', 'EVAND', 'BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MADYARNI', 'ES ON SCH B', 'EUGENEJR', 'NEAL', 'FERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0 TECH', 'RODNEY', 'DAVID', 'G. L.', 'JAMES', 'LESLIE', None, 'GEORGE', 'G.B.M', 'DAVID JON', 'CHUNG YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', None, 'JUDE N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD HON-AN', 'GLEN A.L.', 'J.B. Jr.', 'LORENZOA', 'J J', 'RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY', 'JOSEPH', 'RUSSELL', 'THOMAS', 'H.E.CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', 'young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']

    outlier2 = ['SHARMA #0', "0'CONNOR", 'RUSHTON    UEL', 'UDDIN   Z', 'HINKLEY 1', 'O&#039;CONNOR, P.E.', '.OOK', 'SAMUELS111', 'O&#039;CONNOR', 'CALIENDO', 'SMITH   JR.', 'LO  BUE', '7AN', '+-+ETTIERI', 'SMITH, 111', 'KAMEN   1', '.EE', 'MASS, 1', '.EI', 'Zagaroli 3rd', 'RINI   II', 'KAMEN   R', 'RYAN 11', 'SPI8EZIA L S', 'MUFTIC..A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL, P.E.', 'HAMA07', 'HINLEY,1', '1212', "O  ' CONNELL", 'HURT,JR.,', 'WESOLOWSKI', 'CHEN', '`ING, R.A', 'MARTARELLA 111', 'Gandhi, Ph.D., P.E.', '90I', 'ENNIS 2', 'COSTELLO R A A I A', '3UI', 'N/A', 'HURT,  JR', 'LEHR,1', 'KOHLER, 111', 'GERAZOUNIS', 'Alexander,1', 'LUBOW, R.A. LEED AP', 'RINI,111', '08CZAK', '````````````````````', 'CHAO  R.A.', 'Geier 11', '08NGEL', '08SOLOWSKI', 'I11', 'HINKLEY, 1', 'RUDIKOFF, P.E.', "O'CONNOR", 'SHAH   EZ', 'MIELE, JR., P.E.', 'RITTENHOUSE 111', 'AMADI   ISIOFIA', 'HINKLEY,1', 'RENFORE````````', "O'HARA,JR.", '73020012', 'PHAGOO   I', 'BRAY.....,', 'LLL', 'BHATHIA,1', 'GANDHI, PH. D., P.E', 'KO K', 'VASSALOTTI 11', 'HURT, JR .', '0018LKLE', 'RINI -111', 'PARIHAR', 'EE', 'L00802', 'ELISE.111', 'KING , R.A', 'CHRYSLER  P E', 'LEHR 1', 'Walters   Jr.', 'LEE', 'RINI  III', 'D&#039;ANGELO', '0UDOLPH III', 'VIEHE-NAESS 111', ',MO', '08E', '47DIKOFF', 'Yu,', '420865380', 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', '901BEN', '4153LOO', 'SYED-NAQVI', 'RYAN , JR.', 'K O K O R I S', 'ELISEO111', 'O&#039;CONNELL', 'ZEID61', '---Lewis', '00CHELI', 'MOHAMMAD       +++++', 'METZLER  P E', 'BAILEY', 'GANDHI, PH. D., P.E.', 'TIEMANN.111', 'SMITH.111', 'DI GER0NIMO', 'GANDHI, PH,D., P.E', 'III', 'J C', 'MAGAMI-QAIM-MAGAMI', '+M', 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', 'Y10007OR', 'SMITH,111', 'KING R A FAIA', 'RYAN III, AIA', '08AN', 'STARK 1', 'MASS', 'VICTORI0, R.A', 'RIZVI   A', '21029677', "3'CONNOR", 'Wong /  Lai', 'KAPLAN 3', 'GRAICHEN.JR./DAWN/DI', 'GROSSMAN ,PE,F.A.C.I']
    mapping2 = ['SHARMA ', "CONNOR", 'RUSHTON UEL', 'UDDIN Z', 'HINKLEY ', 'CONNOR P.E.', None, 'SAMUELS', 'CONNOR', 'CALIENDO', 'SMITH JR.', 'LO BUE', None, 'ETTIERI', 'SMITH', 'KAMEN', '.EE', 'MASS', '.EI', 'Zagaroli', 'RINI', 'KAMEN R', 'RYAN', 'SPIEZIA L S', 'MUFTIC.A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL P.E.', 'HAMA', 'HINLEY', None, "CONNELL", 'HURT JR.', 'WESOLOWSKI', 'CHEN', 'ING R.A', 'MARTARELLA', 'Gandhi', None, 'ENNIS ', 'COSTELLO R A A I A', None, None, 'HUR  JR', 'LEHR', 'KOHLER 111', 'GERAZOUNIS', 'Alexander', 'LUBOW R.A. LEED AP', 'RINI',None, None, 'CHAO R.A.', 'Geier', None, 'SOLOWSKI', None, 'HINKLEY', 'RUDIKOFF, P.E.', "CONNOR", 'SHAH EZ', 'MIELE JR. P.E.', 'RITTENHOUSE', 'AMADI   ISIOFIA', 'HINKLEY', 'RENFORE', "O'HARA,JR.", None, 'PHAGOO I', 'BRAY,', 'LLL', 'BHATHIA', 'GANDHI', 'KO K', 'VASSALOTTI', 'HURT JR.',None, 'RINI', 'PARIHAR', 'EE', None, 'ELISE', 'KING R.A', 'CHRYSLER  P E', 'LEHR', 'Walters Jr.', 'LEE', 'RINI  III', 'ANGELO', '0UDOLPH III', 'VIEHE-NAESS', 'MO', '08E', None, 'Yu,', None, 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', None, None, None, 'RYAN JR.', 'KOKORIS', 'ELISE', 'CONNELL', None, 'Lewis', 'CHELI', 'MOHAMMAD', 'METZLER  P E', 'BAILEY', 'GANDHI', 'TIEMANN', 'SMITH', 'DI GER0NIMO', 'GANDHI', 'III', 'J C', 'MAGAMI QAIM MAGAMI', None, 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', None, 'SMITH', 'KING R A FAIA', 'RYAN III AIA', None, 'STARK', 'MASS', 'VICTORI0 R.A', 'RIZVIA', None, "CONNOR", 'Wong Lai', 'KAPLAN', 'GRAICHEN.JR. DAWN DI', 'GROSSMAN']

    outlier3 = ['', '....DEMO', '050069', 'DEM. CONTR.,', 'XXXXX', 'G/C 10114H9', 'CGWC10114H99', '00', 'X S000155', '082-36-1245', 'G.G', 'LESSEE', '......GC', "'", '..OWNER', 'GC 2293', '--', 'XXXXXX', 'LS 31,721', '...GC', 'gen.cont.', 'G.C TK#4592', 'PE', 'RLA - 818', '.....OWNER', 'RLA 16077', 'G C', 'X 4129892', 'G. C.', 'R.L.A', 'GC 1028350', 'WC10114H99', 'LEESEE', 'GEN.CONT.', 'SIGN..HANGER', 'DEMO 20451', 'D8615', '.X', 'P.L.L.C', '..DEMO', 'G .C', 'L A', 'G.C NY11101', '32820', '....OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC99792', 'X 1341946', 'TRACK# 1390', 'EXPED.R4466', 'PLLC 9599691', 'G.C 1110101', '029649', '(CHECK)', 'DEM. CONTR,', 'EXPEDIT(H66172)', '.........GC', 'CITY OF N Y', 'GC 1170386', 'G. C', 'CO0OWNER', '(CHECKED)', 'C.C', '23392 1159774', 'DEMO {', 'RA', 'T. 31132', '....GC', 'RLA-787', 'TRACK #1390', 'D C', 'G.CONTR.', 'DEMO  CONT', '1GC', 'CC', 'demo G.C.', 'TRACK. #1390', 'M.F.S.P.C.', '...DEMO', 'DEMO G C', '13328', 'GEN  CONT', 'GC 1221073', "GC;'", 'DEMO 1341946', '11234', 'G.C.,', '.....GC', 'LIC.133668259 1', '?', '0WNER', 'C10892', 'GEN..CONT']
    mapping3 = [None, 'DEMO', None, 'DEM. CONTR', None, 'G/C', 'CGWC', None, 'X S', None, 'G.G', 'LESSEE', 'GC', None, 'OWNER', 'GC', None, None, 'LS ', 'GC', 'gen.cont.', 'G.C TK', 'PE', 'RLA ', 'OWNER', 'RLA ', 'G C', 'X', 'G. C.', 'R.L.A', 'GC', 'WC', 'LEESEE', 'GEN.CONT.', 'SIGN.HANGER', 'DEMO', None,None, 'P.L.L.C', 'DEMO', 'G.C', 'L A', 'G.C ', None, 'OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC', None, 'TRACK', 'EXPED.R', 'PLLC ', 'G.C', None, None, 'DEM. CONTR,', 'EXPEDIT', 'GC', None, 'GC', 'G.C', 'CO0OWNER', None, 'C.C', None, 'DEMO', 'RA', None, 'GC', 'RLA', None, 'D C', 'G.CONTR.', 'DEMO  CONT', 'GC', 'CC', 'demo G.C.', None, 'M.F.S.P.C.', 'DEMO', 'DEMO G C', None, 'GEN  CONT', 'GC ', "GC ", 'DEMO ', None, 'G.C.', 'GC', 'LIC', None, '0WNER',None, 'GEN.CONT']

    outlier4 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
    mapping4 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

    outliers = outlier1+ outlier2+ outlier3+ outlier4
    mappings = mapping1+ mapping2+ mapping3+ mapping4
       
    for col in data_cols:
        
        df[col] = df[col].replace(outliers, mappings)
        
        '''
        if file != 'rbx6-tga4.tsv.gz':
            light_outliers = findDateOutliers(df, ds, col)

            for item in light_outliers:

                df[col] = df[col].replace(item, None)
        
        
        if file != 'hg8x-zxpr.tsv.gz' and col in name_cols:
            col_clusters = getClusters(df, ds, col)
            updateUsingClusters(df, ds, col, col_clusters, True)
         '''
            
        df[col] = df[col].replace(['N/A', '', 'NA','NONE'], [None,None,None,None])
        
    return data_cols

In [53]:
def saveDf(df, datafile):
    outputpath = datafile[2:11]+'_cleaned_data_improved.csv'
    df.to_csv(outputpath,sep=',',index=False,header=True)

In [69]:
def dataCleanOnDataset(file):
    
    print('working on file: ', file)
    datafile, df = readData(file)
    
    cleaned_cols = []
    
    print("fixing Column Names.......")
    col_rename_dict = fixColumnNames(df)
    #print("Column renaming dictionary:")
    #print(col_rename_dict)
    
    df = df.rename(columns=col_rename_dict)

    print('fixing ID Number Columns......')
    cleaned_cols += fix_ID_Number_Column(df)
    
    print('fixing Binary Columns......')
    cleaned_cols += fix_Binary_Column(df)
    
    print('fixing Monetary Columns......')
    cleaned_cols += fix_Monetary_Column(df)
    
    print('fixing Numerical Columns......')
    cleaned_cols += fix_Numerical_Column(df)
    
    print('fixing Datetime Columns......')
    cleaned_cols += fix_datetime_Column(df)
    
    print('fixing City And Name Column......')
    cleaned_cols += fix_city_and_name_Column(df, file)
    
    saveDf(df, datafile)
    
    return cleaned_cols, datafile, df, col_rename_dict

In [70]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [76]:
def precision_recall(cleaned_columns, datafile, df, sample_size, col_rename_dict):
    df2  = pd.read_csv(datafile, dtype='object', sep='\t')
    df2 = df2.drop_duplicates()
    df2 = df2.rename(columns=col_rename_dict)
    

    df_sample_data =  df2.sample(sample_size).copy()
    df_new_sample_data = df.loc[df_sample_data.index].copy()
    print('sample size: ',sample_size)
    
    print('total size: ',sample_size * len(cleaned_columns))
    print('======================\n\n')

    same = 0

    for col in cleaned_columns:
        print("column: ", col)
        print("Original,\t Cleaned\n")
        for i in range(sample_size):
            df_sample_data.iloc[i].index
            if df_new_sample_data[col].iloc[i] == df_sample_data[col].iloc[i]:
                print(df_sample_data[col].iloc[i], '\t',df_new_sample_data[col].iloc[i], '\t')
                same += 1
            else:
                print(df_sample_data[col].iloc[i], '\t', df_new_sample_data[col].iloc[i], '\t*')

        print('*   ', same, ' same records   *\n')
        same = 0

        print('======================\n\n')

# Buildings-Selected-for-the-Alternative-Enforcement

In [72]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[0])
cleaned_cols = list(set(cleaned_cols))
print(cleaned_cols)

working on file:  iz2q-9x8d.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......

C:\Users\Rlron\Anaconda2\envs\pyspark\lib\site-packages\pandas\core\missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

fixing City And Name Column......
['Job Number', 'Job Number', 'Doc Number', 'Doc Number', 'House Number', 'House Number', 'Bin Number', 'Bin Number', 'Applicant License Number', 'Applicant License Number', 'Numbern- Profit', 'Numbern- Profit', "Owner's  House Number", "Owner's  House Number", "Owner's  Phone Number", "Owner's  Phone Number", 'Initial Cost', 'Initial Cost', 'Total Est Fee', 'Total Est Fee', 'Fee Status', 'Fee Status', 'Latest Action Date', 'Latest Action Date', 'Latest Action Date', 'Pre- Filing Date', 'Pre- Filing Date', 'Pre- Filing Date', 'First Permit  Date', 'First Permit  Date', 'First Permit  Date', 'D O B Run Date', 'D O B Run Date', 'D O B Run Date', 'Borough', 'Borough', 'Borough', 'Street Name', 'Street Name', 'Street Name', "Applicant's First Name", "Applicant's First Name", "Applicant's First Name", "Applicant's Last Name", "Applicant's Last Name", "Applicant's Last Name", "Owner's First Name", "Owner's First Name", "Owner's First Name", "Owner's Last Name", "Owner's Last Name", "Owner's Last Name", "Owner's Business Name", "Owner's Business Name", "Owner's Business Name", 'City', 'City', 'City']

In [77]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  2900
======================


column:  Job Number
Original,	 Cleaned

220422718 	 220422718
520269673 	 520269673
321089567 	 321089567
220467705 	 220467705
420821542 	 420821542
321585986 	 321585986
122239648 	 122239648
220466289 	 220466289
122428756 	 122428756
440241524 	 440241524
421346056 	 421346056
440219808 	 440219808
121873044 	 121873044
321459088 	 321459088
122454691 	 122454691
520298473 	 520298473
122204033 	 122204033
122181058 	 122181058
320919967 	 320919967
220518731 	 220518731
320941415 	 320941415
321111444 	 321111444
421375390 	 421375390
321323448 	 321323448
220469847 	 220469847
122398592 	 122398592
220523315 	 220523315
320756669 	 320756669
220452720 	 220452720
122407109 	 122407109
122329818 	 122329818
121985441 	 121985441
321377050 	 321377050
321471894 	 321471894
420987285 	 420987285
420924094 	 420924094
321228952 	 321228952
421173759 	 421173759
321166340 	 321166340
421149929 	 421149929
421489669 	 421489669
420847114 	 420847114
420999165 	 420999165
220459894 	 220459894
421146370 	 421146370
321116485 	 321116485
420974716 	 420974716
421081670 	 421081670
520206688 	 520206688
320980060 	 320980060
*    50  same records   *

======================


column:  Job Number
Original,	 Cleaned

220422718 	 220422718
520269673 	 520269673
321089567 	 321089567
220467705 	 220467705
420821542 	 420821542
321585986 	 321585986
122239648 	 122239648
220466289 	 220466289
122428756 	 122428756
440241524 	 440241524
421346056 	 421346056
440219808 	 440219808
121873044 	 121873044
321459088 	 321459088
122454691 	 122454691
520298473 	 520298473
122204033 	 122204033
122181058 	 122181058
320919967 	 320919967
220518731 	 220518731
320941415 	 320941415
321111444 	 321111444
421375390 	 421375390
321323448 	 321323448
220469847 	 220469847
122398592 	 122398592
220523315 	 220523315
320756669 	 320756669
220452720 	 220452720
122407109 	 122407109
122329818 	 122329818
121985441 	 121985441
321377050 	 321377050
321471894 	 321471894
420987285 	 420987285
420924094 	 420924094
321228952 	 321228952
421173759 	 421173759
321166340 	 321166340
421149929 	 421149929
421489669 	 421489669
420847114 	 420847114
420999165 	 420999165
220459894 	 220459894
421146370 	 421146370
321116485 	 321116485
420974716 	 420974716
421081670 	 421081670
520206688 	 520206688
320980060 	 320980060
*    50  same records   *

======================


column:  Doc Number
Original,	 Cleaned

01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
*    50  same records   *

======================


column:  Doc Number
Original,	 Cleaned

01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
*    50  same records   *

======================


column:  House Number
Original,	 Cleaned

1351         	 1351
680          	 680
3685         	 3685
1180         	 1180
7-07         	 7-07
2450         	 2450
600          	 600
1575         	 1575
1976         	 1976
89-20        	 89-20
189-02       	 189-02
103-35       	 103-35
745          	 745
476          	 476
485          	 485
62           	 62
101          	 101
98           	 98
2001         	 2001
747          	 747
1540         	 1540
5002         	 5002
42-40        	 42-40
1660         	 1660
3376         	 3376
181          	 181
1744         	 1744
1579         	 1579
465          	 465
21           	 21
420          	 420
64           	 64
101          	 101
5421         	 5421
95-02        	 95-02
119-19       	 119-19
514          	 514
100-30       	 100-30
3085         	 3085
47-07        	 47-07
44-02        	 44-02
62-81        	 62-81
140-10       	 140-10
2805         	 2805
114-12       	 114-12
1997         	 1997
210          	 210
180-05       	 180-05
780          	 780
390          	 390
*    50  same records   *

======================


column:  House Number
Original,	 Cleaned

1351         	 1351
680          	 680
3685         	 3685
1180         	 1180
7-07         	 7-07
2450         	 2450
600          	 600
1575         	 1575
1976         	 1976
89-20        	 89-20
189-02       	 189-02
103-35       	 103-35
745          	 745
476          	 476
485          	 485
62           	 62
101          	 101
98           	 98
2001         	 2001
747          	 747
1540         	 1540
5002         	 5002
42-40        	 42-40
1660         	 1660
3376         	 3376
181          	 181
1744         	 1744
1579         	 1579
465          	 465
21           	 21
420          	 420
64           	 64
101          	 101
5421         	 5421
95-02        	 95-02
119-19       	 119-19
514          	 514
100-30       	 100-30
3085         	 3085
47-07        	 47-07
44-02        	 44-02
62-81        	 62-81
140-10       	 140-10
2805         	 2805
114-12       	 114-12
1997         	 1997
210          	 210
180-05       	 180-05
780          	 780
390          	 390
*    50  same records   *

======================


column:  Bin Number
Original,	 Cleaned

2010313 	 2010313
5073068 	 5073068
3247458 	 3247458
2002957 	 2002957
4298444 	 4298444
3207877 	 3207877
1059940 	 1059940
2112832 	 2112832
1052657 	 1052657
4182274 	 4182274
4444031 	 4444031
4203782 	 4203782
1084667 	 1084667
3324407 	 3324407
1020613 	 1020613
5135248 	 5135248
1031975 	 1031975
1065025 	 1065025
3182092 	 3182092
2001737 	 2001737
3213513 	 3213513
3330997 	 3330997
4138207 	 4138207
3083412 	 3083412
2060789 	 2060789
1004914 	 1004914
2009351 	 2009351
3326363 	 3326363
2001614 	 2001614
1006095 	 1006095
1064502 	 1064502
1008069 	 1008069
3050069 	 3050069
3104520 	 3104520
4303677 	 4303677
4100257 	 4100257
3222836 	 3222836
4040804 	 4040804
3245643 	 3245643
4002772 	 4002772
4005247 	 4005247
4084519 	 4084519
4117047 	 4117047
2015864 	 2015864
4251940 	 4251940
3035617 	 3035617
4301914 	 4301914
4220271 	 4220271
5104052 	 5104052
3063399 	 3063399
*    50  same records   *

======================


column:  Bin Number
Original,	 Cleaned

2010313 	 2010313
5073068 	 5073068
3247458 	 3247458
2002957 	 2002957
4298444 	 4298444
3207877 	 3207877
1059940 	 1059940
2112832 	 2112832
1052657 	 1052657
4182274 	 4182274
4444031 	 4444031
4203782 	 4203782
1084667 	 1084667
3324407 	 3324407
1020613 	 1020613
5135248 	 5135248
1031975 	 1031975
1065025 	 1065025
3182092 	 3182092
2001737 	 2001737
3213513 	 3213513
3330997 	 3330997
4138207 	 4138207
3083412 	 3083412
2060789 	 2060789
1004914 	 1004914
2009351 	 2009351
3326363 	 3326363
2001614 	 2001614
1006095 	 1006095
1064502 	 1064502
1008069 	 1008069
3050069 	 3050069
3104520 	 3104520
4303677 	 4303677
4100257 	 4100257
3222836 	 3222836
4040804 	 4040804
3245643 	 3245643
4002772 	 4002772
4005247 	 4005247
4084519 	 4084519
4117047 	 4117047
2015864 	 2015864
4251940 	 4251940
3035617 	 3035617
4301914 	 4301914
4220271 	 4220271
5104052 	 5104052
3063399 	 3063399
*    50  same records   *

======================


column:  Applicant License Number
Original,	 Cleaned

063658 	 063658
088682 	 088682
078603 	 078603
078603 	 078603
026944 	 026944
028321 	 028321
079769 	 079769
079769 	 079769
093111 	 093111
090133 	 090133
078939 	 078939
086064 	 086064
086064 	 086064
086064 	 086064
063658 	 063658
071249 	 071249
075376 	 075376
063658 	 063658
078939 	 078939
079612 	 079612
079612 	 079612
086064 	 086064
093111 	 093111
078939 	 078939
078939 	 078939
063658 	 063658
092106 	 092106
028321 	 028321
086064 	 086064
063658 	 063658
086064 	 086064
075376 	 075376
086064 	 086064
086064 	 086064
086873 	 086873
071249 	 071249
075700 	 075700
086064 	 086064
090133 	 090133
063658 	 063658
084736 	 084736
084829 	 084829
071249 	 071249
075700 	 075700
028321 	 028321
079612 	 079612
093111 	 093111
064690 	 064690
078939 	 078939
078939 	 078939
*    50  same records   *

======================


column:  Applicant License Number
Original,	 Cleaned

063658 	 063658
088682 	 088682
078603 	 078603
078603 	 078603
026944 	 026944
028321 	 028321
079769 	 079769
079769 	 079769
093111 	 093111
090133 	 090133
078939 	 078939
086064 	 086064

086064 	 086064
086064 	 086064
063658 	 063658
071249 	 071249
075376 	 075376
063658 	 063658
078939 	 078939
079612 	 079612
079612 	 079612
086064 	 086064
093111 	 093111
078939 	 078939
078939 	 078939
063658 	 063658
092106 	 092106
028321 	 028321
086064 	 086064
063658 	 063658
086064 	 086064
075376 	 075376
086064 	 086064
086064 	 086064
086873 	 086873
071249 	 071249
075700 	 075700
086064 	 086064
090133 	 090133
063658 	 063658
084736 	 084736
084829 	 084829
071249 	 071249
075700 	 075700
028321 	 028321
079612 	 079612
093111 	 093111
064690 	 064690
078939 	 078939
078939 	 078939
*    50  same records   *

======================


column:  Numbern- Profit
Original,	 Cleaned

N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
Y 	 Y
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
*    50  same records   *

======================


column:  Numbern- Profit
Original,	 Cleaned

N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
Y 	 Y
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
N 	 N
*    50  same records   *

======================


column:  Owner's  House Number
Original,	 Cleaned

4419         	 4419
680          	 680
PO BOX       	  	*
825          	 825
590          	 590
247          	 247
215          	 215
4            	 4
2600         	 2600
4            	 4
188-02       	 188-02
300          	 300
745          	 745
299          	 299
485          	 485
62-64        	 62-64
333          	 333
11           	 11
2003         	 2003
5925         	 5925
701          	 701
4            	 4
286          	 286
1478         	 1478
95           	 95
350          	 350
855          	 855
105-02       	 105-02
PO BOX       	  	*
138          	 138
420          	 420
64           	 64
300          	 300
ONE          	  	*
95-02        	 95-02
119-19       	 119-19
4            	 4
100-30       	 100-30
4            	 4
4            	 4
44-02        	 44-02
62-81        	 62-81
14           	 14
4            	 4
4            	 4
598          	 598
210          	 210
109-09       	 109-09
651          	 651
33           	 33
*    47  same records   *

======================


column:  Owner's  House Number
Original,	 Cleaned

4419         	 4419
680          	 680
PO BOX       	  	*
825          	 825
590          	 590
247          	 247
215          	 215
4            	 4
2600         	 2600
4            	 4
188-02       	 188-02
300          	 300
745          	 745
299          	 299
485          	 485
62-64        	 62-64
333          	 333
11           	 11
2003         	 2003
5925         	 5925
701          	 701
4            	 4
286          	 286
1478         	 1478
95           	 95
350          	 350
855          	 855
105-02       	 105-02
PO BOX       	  	*
138          	 138
420          	 420
64           	 64
300          	 300
ONE          	  	*
95-02        	 95-02
119-19       	 119-19
4            	 4
100-30       	 100-30
4            	 4
4            	 4
44-02        	 44-02
62-81        	 62-81
14           	 14
4            	 4
4            	 4
598          	 598
210          	 210
109-09       	 109-09
651          	 651
33           	 33
*    47  same records   *

======================


column:  Owner's  Phone Number
Original,	 Cleaned

9733974814 	 9733974814
7183170725 	 7183170725
7184351202 	 7184351202
7186646600 	 7186646600
2015539800 	 2015539800
7189651500 	 7189651500
9733974814 	 9733974814
9733974814 	 9733974814
7184321112 	 7184321112
9733974814 	 9733974814
7184546700 	 7184546700
2019134115 	 2019134115
2125261117 	 2125261117
9738018054 	 9738018054
9733974814 	 9733974814
7184421056 	 7184421056
2128778500 	 2128778500
2016484016 	 2016484016
7186922525 	 7186922525
7188847676 	 7188847676
2016484016 	 2016484016
2122465111 	 2122465111
5165047020 	 5165047020
7183460300 	 7183460300
6469983456 	 6469983456
9738988589 	 9738988589
6463740074 	 6463740074
7188455090 	 7188455090
3472029405 	 3472029405
9738988589 	 9738988589
2123684471 	 2123684471
2015710700 	 2015710700
2015710700 	 2015710700
9144389326 	 9144389326
7189455500 	 7189455500
7188860700 	 7188860700
9733974800 	 9733974800
7184467900 	 7184467900
9733974814 	 9733974814
9733974814 	 9733974814
7187298787 	 7187298787
7183995996 	 7183995996
9083980520 	 9083980520
2017573053 	 2017573053
9738971375 	 9738971375
9733974814 	 9733974814
7184711311 	 7184711311
7185096543 	 7185096543
7186988000 	 7186988000
2124778105 	 2124778105
*    50  same records   *

======================


column:  Owner's  Phone Number
Original,	 Cleaned

9733974814 	 9733974814
7183170725 	 7183170725
7184351202 	 7184351202
7186646600 	 7186646600
2015539800 	 2015539800
7189651500 	 7189651500
9733974814 	 9733974814
9733974814 	 9733974814
7184321112 	 7184321112
9733974814 	 9733974814
7184546700 	 7184546700
2019134115 	 2019134115
2125261117 	 2125261117
9738018054 	 9738018054
9733974814 	 9733974814
7184421056 	 7184421056
2128778500 	 2128778500
2016484016 	 2016484016
7186922525 	 7186922525
7188847676 	 7188847676
2016484016 	 2016484016
2122465111 	 2122465111
5165047020 	 5165047020
7183460300 	 7183460300
6469983456 	 6469983456
9738988589 	 9738988589
6463740074 	 6463740074
7188455090 	 7188455090
3472029405 	 3472029405
9738988589 	 9738988589
2123684471 	 2123684471
2015710700 	 2015710700
2015710700 	 2015710700
9144389326 	 9144389326
7189455500 	 7189455500
7188860700 	 7188860700
9733974800 	 9733974800
7184467900 	 7184467900
9733974814 	 9733974814
9733974814 	 9733974814
7187298787 	 7187298787
7183995996 	 7183995996
9083980520 	 9083980520
2017573053 	 2017573053
9738971375 	 9738971375
9733974814 	 9733974814
7184711311 	 7184711311
7185096543 	 7185096543
7186988000 	 7186988000
2124778105 	 2124778105
*    50  same records   *

======================


column:  Initial Cost
Original,	 Cleaned

15000 	 15000.0 	*
10000 	 10000.0 	*
18400 	 18400.0 	*
30000 	 30000.0 	*
25000 	 25000.0 	*
90000 	 90000.0 	*
20000 	 20000.0 	*
5000 	 5000.0 	*
3300 	 3300.0 	*
15000 	 15000.0 	*
23000 	 23000.0 	*
15000 	 15000.0 	*
78000 	 78000.0 	*
10000 	 10000.0 	*
25000 	 25000.0 	*
68000 	 68000.0 	*
15000 	 15000.0 	*
20000 	 20000.0 	*
36500 	 36500.0 	*
45000 	 45000.0 	*
20000 	 20000.0 	*
8800 	 8800.0 	*
13200 	 13200.0 	*
67500 	 67500.0 	*
15200 	 15200.0 	*
25000 	 25000.0 	*
1000 	 1000.0 	*
15200 	 15200.0 	*
32000 	 32000.0 	*
20000 	 20000.0 	*
5500 	 5500.0 	*
80000 	 80000.0 	*
15000 	 15000.0 	*
30000 	 30000.0 	*
5700 	 5700.0 	*
10000 	 10000.0 	*
6600 	 6600.0 	*
3300 	 3300.0 	*
15000 	 15000.0 	*
10000 	 10000.0 	*
20000 	 20000.0 	*
5000 	 5000.0 	*
3000 	 3000.0 	*
6600 	 6600.0 	*
25000 	 25000.0 	*
10000 	 10000.0 	*
25000 	 25000.0 	*
19500 	 19500.0 	*
40000 	 40000.0 	*
14200 	 14200.0 	*
*    0  same records   *

======================


column:  Initial Cost
Original,	 Cleaned

15000 	 15000.0 	*
10000 	 10000.0 	*
18400 	 18400.0 	*
30000 	 30000.0 	*
25000 	 25000.0 	*
90000 	 90000.0 	*
20000 	 20000.0 	*
5000 	 5000.0 	*
3300 	 3300.0 	*
15000 	 15000.0 	*
23000 	 23000.0 	*
15000 	 15000.0 	*
78000 	 78000.0 	*
10000 	 10000.0 	*
25000 	 25000.0 	*
68000 	 68000.0 	*
15000 	 15000.0 	*
20000 	 20000.0 	*
36500 	 36500.0 	*
45000 	 45000.0 	*
20000 	 20000.0 	*
8800 	 8800.0 	*
13200 	 13200.0 	*
67500 	 67500.0 	*
15200 	 15200.0 	*
25000 	 25000.0 	*
1000 	 1000.0 	*
15200 	 15200.0 	*
32000 	 32000.0 	*
20000 	 20000.0 	*
5500 	 5500.0 	*
80000 	 80000.0 	*
15000 	 15000.0 	*
30000 	 30000.0 	*
5700 	 5700.0 	*
10000 	 10000.0 	*
6600 	 6600.0 	*
3300 	 3300.0 	*
15000 	 15000.0 	*
10000 	 10000.0 	*
20000 	 20000.0 	*
5000 	 5000.0 	*
3000 	 3000.0 	*
6600 	 6600.0 	*
25000 	 25000.0 	*

10000 	 10000.0 	*
25000 	 25000.0 	*
19500 	 19500.0 	*
40000 	 40000.0 	*
14200 	 14200.0 	*
*    0  same records   *

======================


column:  Total Est Fee
Original,	 Cleaned

338 	 338.0 	*
286.5 	 286.5 	*
379.2 	 379.2 	*
492.5 	 492.5 	*
441 	 441.0 	*
1110.5 	 1110.5 	*
389.5 	 389.5 	*
235 	 235.0 	*
215 	 215.0 	*
338 	 338.0 	*
420.4 	 420.4 	*
338 	 338.0 	*
986.9 	 986.9 	*
286.5 	 286.5 	*
441 	 441.0 	*
883.9 	 883.9 	*
338 	 338.0 	*
389.5 	 389.5 	*
564.6 	 564.6 	*
647 	 647.0 	*
389.5 	 389.5 	*
276.2 	 276.2 	*
327.7 	 327.7 	*
883.9 	 883.9 	*
348.3 	 348.3 	*
441 	 441.0 	*
195 	 195.0 	*
348.3 	 348.3 	*
513.1 	 513.1 	*
389.5 	 389.5 	*
245.3 	 245.3 	*
1007.5 	 1007.5 	*
338 	 338.0 	*
492.5 	 492.5 	*
245.3 	 245.3 	*
286.5 	 286.5 	*
255.6 	 255.6 	*
215 	 215.0 	*
338 	 338.0 	*
286.5 	 286.5 	*
389.5 	 389.5 	*
235 	 235.0 	*
195 	 195.0 	*
255.6 	 255.6 	*
441 	 441.0 	*
286.5 	 286.5 	*
441 	 441.0 	*
389.5 	 389.5 	*
595.5 	 595.5 	*
338 	 338.0 	*
*    0  same records   *

======================


column:  Total Est Fee
Original,	 Cleaned

338 	 338.0 	*
286.5 	 286.5 	*
379.2 	 379.2 	*
492.5 	 492.5 	*
441 	 441.0 	*
1110.5 	 1110.5 	*
389.5 	 389.5 	*
235 	 235.0 	*
215 	 215.0 	*
338 	 338.0 	*
420.4 	 420.4 	*
338 	 338.0 	*
986.9 	 986.9 	*
286.5 	 286.5 	*
441 	 441.0 	*
883.9 	 883.9 	*
338 	 338.0 	*
389.5 	 389.5 	*
564.6 	 564.6 	*
647 	 647.0 	*
389.5 	 389.5 	*
276.2 	 276.2 	*
327.7 	 327.7 	*
883.9 	 883.9 	*
348.3 	 348.3 	*
441 	 441.0 	*
195 	 195.0 	*
348.3 	 348.3 	*
513.1 	 513.1 	*
389.5 	 389.5 	*
245.3 	 245.3 	*
1007.5 	 1007.5 	*
338 	 338.0 	*
492.5 	 492.5 	*
245.3 	 245.3 	*
286.5 	 286.5 	*
255.6 	 255.6 	*
215 	 215.0 	*
338 	 338.0 	*
286.5 	 286.5 	*
389.5 	 389.5 	*
235 	 235.0 	*
195 	 195.0 	*
255.6 	 255.6 	*
441 	 441.0 	*
286.5 	 286.5 	*
441 	 441.0 	*
389.5 	 389.5 	*
595.5 	 595.5 	*
338 	 338.0 	*
*    0  same records   *

======================


column:  Fee Status
Original,	 Cleaned

STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
*    0  same records   *

======================


column:  Fee Status
Original,	 Cleaned

STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
*    0  same records   *

======================


column:  Latest Action Date
Original,	 Cleaned

08/02/2016 00:00:00 	 2016-08-02 00:00:00 	*
04/29/2016 00:00:00 	 2016-04-29 00:00:00 	*
05/07/2015 00:00:00 	 2015-05-07 00:00:00 	*
02/01/2016 00:00:00 	 2016-02-01 00:00:00 	*
05/03/2013 00:00:00 	 2013-05-03 00:00:00 	*
07/17/2017 00:00:00 	 2017-07-17 00:00:00 	*
03/25/2015 00:00:00 	 2015-03-25 00:00:00 	*
03/01/2016 00:00:00 	 2016-03-01 00:00:00 	*
08/19/2015 00:00:00 	 2015-08-19 00:00:00 	*
08/12/2016 00:00:00 	 2016-08-12 00:00:00 	*
07/21/2016 00:00:00 	 2016-07-21 00:00:00 	*
09/17/2015 00:00:00 	 2015-09-17 00:00:00 	*
12/27/2013 00:00:00 	 2013-12-27 00:00:00 	*
04/18/2018 00:00:00 	 2018-04-18 00:00:00 	*
07/28/2015 00:00:00 	 2015-07-28 00:00:00 	*
03/30/2017 00:00:00 	 2017-03-30 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
11/14/2014 00:00:00 	 2014-11-14 00:00:00 	*
05/29/2014 00:00:00 	 2014-05-29 00:00:00 	*
07/08/2016 00:00:00 	 2016-07-08 00:00:00 	*
04/28/2014 00:00:00 	 2014-04-28 00:00:00 	*
05/29/2015 00:00:00 	 2015-05-29 00:00:00 	*
07/13/2017 00:00:00 	 2017-07-13 00:00:00 	*
06/06/2016 00:00:00 	 2016-06-06 00:00:00 	*
10/02/2015 00:00:00 	 2015-10-02 00:00:00 	*
07/06/2015 00:00:00 	 2015-07-06 00:00:00 	*
02/15/2017 00:00:00 	 2017-02-15 00:00:00 	*
05/22/2013 00:00:00 	 2013-05-22 00:00:00 	*
05/28/2015 00:00:00 	 2015-05-28 00:00:00 	*
06/23/2015 00:00:00 	 2015-06-23 00:00:00 	*
08/10/2015 00:00:00 	 2015-08-10 00:00:00 	*
07/14/2014 00:00:00 	 2014-07-14 00:00:00 	*
11/22/2016 00:00:00 	 2016-11-22 00:00:00 	*
07/18/2017 00:00:00 	 2017-07-18 00:00:00 	*
10/24/2014 00:00:00 	 2014-10-24 00:00:00 	*
02/04/2014 00:00:00 	 2014-02-04 00:00:00 	*
07/31/2019 00:00:00 	 2019-07-31 00:00:00 	*
03/01/2016 00:00:00 	 2016-03-01 00:00:00 	*
07/22/2015 00:00:00 	 2015-07-22 00:00:00 	*
02/22/2016 00:00:00 	 2016-02-22 00:00:00 	*
09/06/2018 00:00:00 	 2018-09-06 00:00:00 	*
10/23/2013 00:00:00 	 2013-10-23 00:00:00 	*
07/17/2014 00:00:00 	 2014-07-17 00:00:00 	*
09/11/2017 00:00:00 	 2017-09-11 00:00:00 	*
10/05/2015 00:00:00 	 2015-10-05 00:00:00 	*
05/18/2015 00:00:00 	 2015-05-18 00:00:00 	*
09/12/2014 00:00:00 	 2014-09-12 00:00:00 	*
03/20/2015 00:00:00 	 2015-03-20 00:00:00 	*
11/21/2014 00:00:00 	 2014-11-21 00:00:00 	*
10/03/2014 00:00:00 	 2014-10-03 00:00:00 	*
*    0  same records   *

======================


column:  Latest Action Date
Original,	 Cleaned

08/02/2016 00:00:00 	 2016-08-02 00:00:00 	*
04/29/2016 00:00:00 	 2016-04-29 00:00:00 	*
05/07/2015 00:00:00 	 2015-05-07 00:00:00 	*
02/01/2016 00:00:00 	 2016-02-01 00:00:00 	*
05/03/2013 00:00:00 	 2013-05-03 00:00:00 	*
07/17/2017 00:00:00 	 2017-07-17 00:00:00 	*
03/25/2015 00:00:00 	 2015-03-25 00:00:00 	*
03/01/2016 00:00:00 	 2016-03-01 00:00:00 	*
08/19/2015 00:00:00 	 2015-08-19 00:00:00 	*
08/12/2016 00:00:00 	 2016-08-12 00:00:00 	*
07/21/2016 00:00:00 	 2016-07-21 00:00:00 	*
09/17/2015 00:00:00 	 2015-09-17 00:00:00 	*
12/27/2013 00:00:00 	 2013-12-27 00:00:00 	*
04/18/2018 00:00:00 	 2018-04-18 00:00:00 	*
07/28/2015 00:00:00 	 2015-07-28 00:00:00 	*
03/30/2017 00:00:00 	 2017-03-30 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
11/14/2014 00:00:00 	 2014-11-14 00:00:00 	*
05/29/2014 00:00:00 	 2014-05-29 00:00:00 	*
07/08/2016 00:00:00 	 2016-07-08 00:00:00 	*
04/28/2014 00:00:00 	 2014-04-28 00:00:00 	*
05/29/2015 00:00:00 	 2015-05-29 00:00:00 	*
07/13/2017 00:00:00 	 2017-07-13 00:00:00 	*
06/06/2016 00:00:00 	 2016-06-06 00:00:00 	*
10/02/2015 00:00:00 	 2015-10-02 00:00:00 	*
07/06/2015 00:00:00 	 2015-07-06 00:00:00 	*
02/15/2017 00:00:00 	 2017-02-15 00:00:00 	*
05/22/2013 00:00:00 	 2013-05-22 00:00:00 	*
05/28/2015 00:00:00 	 2015-05-28 00:00:00 	*
06/23/2015 00:00:00 	 2015-06-23 00:00:00 	*
08/10/2015 00:00:00 	 2015-08-10 00:00:00 	*
07/14/2014 00:00:00 	 2014-07-14 00:00:00 	*
11/22/2016 00:00:00 	 2016-11-22 00:00:00 	*
07/18/2017 00:00:00 	 2017-07-18 00:00:00 	*
10/24/2014 00:00:00 	 2014-10-24 00:00:00 	*
02/04/2014 00:00:00 	 2014-02-04 00:00:00 	*
07/31/2019 00:00:00 	 2019-07-31 00:00:00 	*
03/01/2016 00:00:00 	 2016-03-01 00:00:00 	*
07/22/2015 00:00:00 	 2015-07-22 00:00:00 	*
02/22/2016 00:00:00 	 2016-02-22 00:00:00 	*
09/06/2018 00:00:00 	 2018-09-06 00:00:00 	*
10/23/2013 00:00:00 	 2013-10-23 00:00:00 	*
07/17/2014 00:00:00 	 2014-07-17 00:00:00 	*
09/11/2017 00:00:00 	 2017-09-11 00:00:00 	*
10/05/2015 00:00:00 	 2015-10-05 00:00:00 	*
05/18/2015 00:00:00 	 2015-05-18 00:00:00 	*
09/12/2014 00:00:00 	 2014-09-12 00:00:00 	*
03/20/2015 00:00:00 	 2015-03-20 00:00:00 	*
11/21/2014 00:00:00 	 2014-11-21 00:00:00 	*
10/03/2014 00:00:00 	 2014-10-03 00:00:00 	*
*    0  same records   *

======================


column:  Latest Action Date
Original,	 Cleaned

08/02/2016 00:00:00 	 2016-08-02 00:00:00 	*
04/29/2016 00:00:00 	 2016-04-29 00:00:00 	*
05/07/2015 00:00:00 	 2015-05-07 00:00:00 	*
02/01/2016 00:00:00 	 2016-02-01 00:00:00 	*
05/03/2013 00:00:00 	 2013-05-03 00:00:00 	*
07/17/2017 00:00:00 	 2017-07-17 00:00:00 	*
03/25/2015 00:00:00 	 2015-03-25 00:00:00 	*
03/01/2016 00:00:00 	 2016-03-01 00:00:00 	*
08/19/2015 00:00:00 	 2015-08-19 00:00:00 	*
08/12/2016 00:00:00 	 2016-08-12 00:00:00 	*
07/21/2016 00:00:00 	 2016-07-21 00:00:00 	*
09/17/2015 00:00:00 	 2015-09-17 00:00:00 	*
12/27/2013 00:00:00 	 2013-12-27 00:00:00 	*
04/18/2018 00:00:00 	 2018-04-18 00:00:00 	*
07/28/2015 00:00:00 	 2015-07-28 00:00:00 	*
03/30/2017 00:00:00 	 2017-03-30 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
11/14/2014 00:00:00 	 2014-11-14 00:00:00 	*
05/29/2014 00:00:00 	 2014-05-29 00:00:00 	*
07/08/2016 00:00:00 	 2016-07-08 00:00:00 	*
04/28/2014 00:00:00 	 2014-04-28 00:00:00 	*
05/29/2015 00:00:00 	 2015-05-29 00:00:00 	*
07/13/2017 00:00:00 	 2017-07-13 00:00:00 	*
06/06/2016 00:00:00 	 2016-06-06 00:00:00 	*
10/02/2015 00:00:00 	 2015-10-02 00:00:00 	*
07/06/2015 00:00:00 	 2015-07-06 00:00:00 	*
02/15/2017 00:00:00 	 2017-02-15 00:00:00 	*
05/22/2013 00:00:00 	 2013-05-22 00:00:00 	*
05/28/2015 00:00:00 	 2015-05-28 00:00:00 	*
06/23/2015 00:00:00 	 2015-06-23 00:00:00 	*
08/10/2015 00:00:00 	 2015-08-10 00:00:00 	*
07/14/2014 00:00:00 	 2014-07-14 00:00:00 	*
11/22/2016 00:00:00 	 2016-11-22 00:00:00 	*
07/18/2017 00:00:00 	 2017-07-18 00:00:00 	*
10/24/2014 00:00:00 	 2014-10-24 00:00:00 	*
02/04/2014 00:00:00 	 2014-02-04 00:00:00 	*
07/31/2019 00:00:00 	 2019-07-31 00:00:00 	*
03/01/2016 00:00:00 	 2016-03-01 00:00:00 	*
07/22/2015 00:00:00 	 2015-07-22 00:00:00 	*
02/22/2016 00:00:00 	 2016-02-22 00:00:00 	*
09/06/2018 00:00:00 	 2018-09-06 00:00:00 	*
10/23/2013 00:00:00 	 2013-10-23 00:00:00 	*
07/17/2014 00:00:00 	 2014-07-17 00:00:00 	*
09/11/2017 00:00:00 	 2017-09-11 00:00:00 	*
10/05/2015 00:00:00 	 2015-10-05 00:00:00 	*
05/18/2015 00:00:00 	 2015-05-18 00:00:00 	*
09/12/2014 00:00:00 	 2014-09-12 00:00:00 	*
03/20/2015 00:00:00 	 2015-03-20 00:00:00 	*
11/21/2014 00:00:00 	 2014-11-21 00:00:00 	*
10/03/2014 00:00:00 	 2014-10-03 00:00:00 	*
*    0  same records   *

======================


column:  Pre- Filing Date
Original,	 Cleaned

04/02/2015 12:00:00 AM 	 2015-04-02 00:00:00 	*
03/07/2016 12:00:00 AM 	 2016-03-07 00:00:00 	*
03/09/2015 12:00:00 AM 	 2015-03-09 00:00:00 	*
08/28/2015 12:00:00 AM 	 2015-08-28 00:00:00 	*
03/15/2013 12:00:00 AM 	 2013-03-15 00:00:00 	*
05/30/2017 12:00:00 AM 	 2017-05-30 00:00:00 	*
12/26/2014 12:00:00 AM 	 2014-12-26 00:00:00 	*
06/30/2015 12:00:00 AM 	 2015-06-30 00:00:00 	*
06/09/2015 12:00:00 AM 	 2015-06-09 00:00:00 	*
08/06/2015 12:00:00 AM 	 2015-08-06 00:00:00 	*
07/07/2016 12:00:00 AM 	 2016-07-07 00:00:00 	*
05/14/2015 12:00:00 AM 	 2015-05-14 00:00:00 	*
12/18/2013 12:00:00 AM 	 2013-12-18 00:00:00 	*
09/30/2016 12:00:00 AM 	 2016-09-30 00:00:00 	*
07/02/2015 12:00:00 AM 	 2015-07-02 00:00:00 	*
08/02/2016 12:00:00 AM 	 2016-08-02 00:00:00 	*
11/26/2014 12:00:00 AM 	 2014-11-26 00:00:00 	*
11/03/2014 12:00:00 AM 	 2014-11-03 00:00:00 	*
05/06/2014 12:00:00 AM 	 2014-05-06 00:00:00 	*
03/02/2016 12:00:00 AM 	 2016-03-02 00:00:00 	*
04/02/2014 12:00:00 AM 	 2014-04-02 00:00:00 	*
04/13/2015 12:00:00 AM 	 2015-04-13 00:00:00 	*
09/19/2016 12:00:00 AM 	 2016-09-19 00:00:00 	*
03/17/2016 12:00:00 AM 	 2016-03-17 00:00:00 	*
07/22/2015 12:00:00 AM 	 2015-07-22 00:00:00 	*
05/20/2015 12:00:00 AM 	 2015-05-20 00:00:00 	*
03/31/2016 12:00:00 AM 	 2016-03-31 00:00:00 	*
04/30/2013 12:00:00 AM 	 2013-04-30 00:00:00 	*
04/22/2015 12:00:00 AM 	 2015-04-22 00:00:00 	*
05/19/2015 12:00:00 AM 	 2015-05-19 00:00:00 	*
03/06/2015 12:00:00 AM 	 2015-03-06 00:00:00 	*
06/05/2014 12:00:00 AM 	 2014-06-05 00:00:00 	*
05/02/2016 12:00:00 AM 	 2016-05-02 00:00:00 	*
10/28/2016 12:00:00 AM 	 2016-10-28 00:00:00 	*
05/23/2014 12:00:00 AM 	 2014-05-23 00:00:00 	*
11/19/2013 12:00:00 AM 	 2013-11-19 00:00:00 	*
08/31/2015 12:00:00 AM 	 2015-08-31 00:00:00 	*
06/03/2015 12:00:00 AM 	 2015-06-03 00:00:00 	*
07/07/2015 12:00:00 AM 	 2015-07-07 00:00:00 	*
04/22/2015 12:00:00 AM 	 2015-04-22 00:00:00 	*
05/25/2017 12:00:00 AM 	 2017-05-25 00:00:00 	*
05/17/2013 12:00:00 AM 	 2013-05-17 00:00:00 	*
06/30/2014 12:00:00 AM 	 2014-06-30 00:00:00 	*
05/27/2015 12:00:00 AM 	 2015-05-27 00:00:00 	*
08/07/2015 12:00:00 AM 	 2015-08-07 00:00:00 	*
04/21/2015 12:00:00 AM 	 2015-04-21 00:00:00 	*
06/09/2014 12:00:00 AM 	 2014-06-09 00:00:00 	*
02/19/2015 12:00:00 AM 	 2015-02-19 00:00:00 	*
09/05/2014 12:00:00 AM 	 2014-09-05 00:00:00 	*
09/26/2014 12:00:00 AM 	 2014-09-26 00:00:00 	*
*    0  same records   *

======================


column:  Pre- Filing Date
Original,	 Cleaned

04/02/2015 12:00:00 AM 	 2015-04-02 00:00:00 	*
03/07/2016 12:00:00 AM 	 2016-03-07 00:00:00 	*
03/09/2015 12:00:00 AM 	 2015-03-09 00:00:00 	*
08/28/2015 12:00:00 AM 	 2015-08-28 00:00:00 	*
03/15/2013 12:00:00 AM 	 2013-03-15 00:00:00 	*
05/30/2017 12:00:00 AM 	 2017-05-30 00:00:00 	*
12/26/2014 12:00:00 AM 	 2014-12-26 00:00:00 	*

06/30/2015 12:00:00 AM 	 2015-06-30 00:00:00 	*
06/09/2015 12:00:00 AM 	 2015-06-09 00:00:00 	*
08/06/2015 12:00:00 AM 	 2015-08-06 00:00:00 	*
07/07/2016 12:00:00 AM 	 2016-07-07 00:00:00 	*
05/14/2015 12:00:00 AM 	 2015-05-14 00:00:00 	*
12/18/2013 12:00:00 AM 	 2013-12-18 00:00:00 	*
09/30/2016 12:00:00 AM 	 2016-09-30 00:00:00 	*
07/02/2015 12:00:00 AM 	 2015-07-02 00:00:00 	*
08/02/2016 12:00:00 AM 	 2016-08-02 00:00:00 	*
11/26/2014 12:00:00 AM 	 2014-11-26 00:00:00 	*
11/03/2014 12:00:00 AM 	 2014-11-03 00:00:00 	*
05/06/2014 12:00:00 AM 	 2014-05-06 00:00:00 	*
03/02/2016 12:00:00 AM 	 2016-03-02 00:00:00 	*
04/02/2014 12:00:00 AM 	 2014-04-02 00:00:00 	*
04/13/2015 12:00:00 AM 	 2015-04-13 00:00:00 	*
09/19/2016 12:00:00 AM 	 2016-09-19 00:00:00 	*
03/17/2016 12:00:00 AM 	 2016-03-17 00:00:00 	*
07/22/2015 12:00:00 AM 	 2015-07-22 00:00:00 	*
05/20/2015 12:00:00 AM 	 2015-05-20 00:00:00 	*
03/31/2016 12:00:00 AM 	 2016-03-31 00:00:00 	*
04/30/2013 12:00:00 AM 	 2013-04-30 00:00:00 	*
04/22/2015 12:00:00 AM 	 2015-04-22 00:00:00 	*
05/19/2015 12:00:00 AM 	 2015-05-19 00:00:00 	*
03/06/2015 12:00:00 AM 	 2015-03-06 00:00:00 	*
06/05/2014 12:00:00 AM 	 2014-06-05 00:00:00 	*
05/02/2016 12:00:00 AM 	 2016-05-02 00:00:00 	*
10/28/2016 12:00:00 AM 	 2016-10-28 00:00:00 	*
05/23/2014 12:00:00 AM 	 2014-05-23 00:00:00 	*
11/19/2013 12:00:00 AM 	 2013-11-19 00:00:00 	*
08/31/2015 12:00:00 AM 	 2015-08-31 00:00:00 	*
06/03/2015 12:00:00 AM 	 2015-06-03 00:00:00 	*
07/07/2015 12:00:00 AM 	 2015-07-07 00:00:00 	*
04/22/2015 12:00:00 AM 	 2015-04-22 00:00:00 	*
05/25/2017 12:00:00 AM 	 2017-05-25 00:00:00 	*
05/17/2013 12:00:00 AM 	 2013-05-17 00:00:00 	*
06/30/2014 12:00:00 AM 	 2014-06-30 00:00:00 	*
05/27/2015 12:00:00 AM 	 2015-05-27 00:00:00 	*
08/07/2015 12:00:00 AM 	 2015-08-07 00:00:00 	*
04/21/2015 12:00:00 AM 	 2015-04-21 00:00:00 	*
06/09/2014 12:00:00 AM 	 2014-06-09 00:00:00 	*
02/19/2015 12:00:00 AM 	 2015-02-19 00:00:00 	*
09/05/2014 12:00:00 AM 	 2014-09-05 00:00:00 	*
09/26/2014 12:00:00 AM 	 2014-09-26 00:00:00 	*
*    0  same records   *

======================


column:  Pre- Filing Date
Original,	 Cleaned

04/02/2015 12:00:00 AM 	 2015-04-02 00:00:00 	*
03/07/2016 12:00:00 AM 	 2016-03-07 00:00:00 	*
03/09/2015 12:00:00 AM 	 2015-03-09 00:00:00 	*
08/28/2015 12:00:00 AM 	 2015-08-28 00:00:00 	*
03/15/2013 12:00:00 AM 	 2013-03-15 00:00:00 	*
05/30/2017 12:00:00 AM 	 2017-05-30 00:00:00 	*
12/26/2014 12:00:00 AM 	 2014-12-26 00:00:00 	*
06/30/2015 12:00:00 AM 	 2015-06-30 00:00:00 	*
06/09/2015 12:00:00 AM 	 2015-06-09 00:00:00 	*
08/06/2015 12:00:00 AM 	 2015-08-06 00:00:00 	*
07/07/2016 12:00:00 AM 	 2016-07-07 00:00:00 	*
05/14/2015 12:00:00 AM 	 2015-05-14 00:00:00 	*
12/18/2013 12:00:00 AM 	 2013-12-18 00:00:00 	*
09/30/2016 12:00:00 AM 	 2016-09-30 00:00:00 	*
07/02/2015 12:00:00 AM 	 2015-07-02 00:00:00 	*
08/02/2016 12:00:00 AM 	 2016-08-02 00:00:00 	*
11/26/2014 12:00:00 AM 	 2014-11-26 00:00:00 	*
11/03/2014 12:00:00 AM 	 2014-11-03 00:00:00 	*
05/06/2014 12:00:00 AM 	 2014-05-06 00:00:00 	*
03/02/2016 12:00:00 AM 	 2016-03-02 00:00:00 	*
04/02/2014 12:00:00 AM 	 2014-04-02 00:00:00 	*
04/13/2015 12:00:00 AM 	 2015-04-13 00:00:00 	*
09/19/2016 12:00:00 AM 	 2016-09-19 00:00:00 	*
03/17/2016 12:00:00 AM 	 2016-03-17 00:00:00 	*
07/22/2015 12:00:00 AM 	 2015-07-22 00:00:00 	*
05/20/2015 12:00:00 AM 	 2015-05-20 00:00:00 	*
03/31/2016 12:00:00 AM 	 2016-03-31 00:00:00 	*
04/30/2013 12:00:00 AM 	 2013-04-30 00:00:00 	*
04/22/2015 12:00:00 AM 	 2015-04-22 00:00:00 	*
05/19/2015 12:00:00 AM 	 2015-05-19 00:00:00 	*
03/06/2015 12:00:00 AM 	 2015-03-06 00:00:00 	*
06/05/2014 12:00:00 AM 	 2014-06-05 00:00:00 	*
05/02/2016 12:00:00 AM 	 2016-05-02 00:00:00 	*
10/28/2016 12:00:00 AM 	 2016-10-28 00:00:00 	*
05/23/2014 12:00:00 AM 	 2014-05-23 00:00:00 	*
11/19/2013 12:00:00 AM 	 2013-11-19 00:00:00 	*
08/31/2015 12:00:00 AM 	 2015-08-31 00:00:00 	*
06/03/2015 12:00:00 AM 	 2015-06-03 00:00:00 	*
07/07/2015 12:00:00 AM 	 2015-07-07 00:00:00 	*
04/22/2015 12:00:00 AM 	 2015-04-22 00:00:00 	*
05/25/2017 12:00:00 AM 	 2017-05-25 00:00:00 	*
05/17/2013 12:00:00 AM 	 2013-05-17 00:00:00 	*
06/30/2014 12:00:00 AM 	 2014-06-30 00:00:00 	*
05/27/2015 12:00:00 AM 	 2015-05-27 00:00:00 	*
08/07/2015 12:00:00 AM 	 2015-08-07 00:00:00 	*
04/21/2015 12:00:00 AM 	 2015-04-21 00:00:00 	*
06/09/2014 12:00:00 AM 	 2014-06-09 00:00:00 	*
02/19/2015 12:00:00 AM 	 2015-02-19 00:00:00 	*
09/05/2014 12:00:00 AM 	 2014-09-05 00:00:00 	*
09/26/2014 12:00:00 AM 	 2014-09-26 00:00:00 	*
*    0  same records   *

======================


column:  First Permit  Date
Original,	 Cleaned

08/02/2016 12:00:00 AM 	 2016-08-02 00:00:00 	*
04/29/2016 12:00:00 AM 	 2016-04-29 00:00:00 	*
05/07/2015 12:00:00 AM 	 2015-05-07 00:00:00 	*
02/01/2016 12:00:00 AM 	 2016-02-01 00:00:00 	*
05/03/2013 12:00:00 AM 	 2013-05-03 00:00:00 	*
07/17/2017 12:00:00 AM 	 2017-07-17 00:00:00 	*
03/25/2015 12:00:00 AM 	 2015-03-25 00:00:00 	*
03/01/2016 12:00:00 AM 	 2016-03-01 00:00:00 	*
08/19/2015 12:00:00 AM 	 2015-08-19 00:00:00 	*
08/12/2016 12:00:00 AM 	 2016-08-12 00:00:00 	*
07/21/2016 12:00:00 AM 	 2016-07-21 00:00:00 	*
09/17/2015 12:00:00 AM 	 2015-09-17 00:00:00 	*
12/27/2013 12:00:00 AM 	 2013-12-27 00:00:00 	*
04/18/2018 12:00:00 AM 	 2018-04-18 00:00:00 	*
07/28/2015 12:00:00 AM 	 2015-07-28 00:00:00 	*
03/30/2017 12:00:00 AM 	 2017-03-30 00:00:00 	*
07/29/2015 12:00:00 AM 	 2015-07-29 00:00:00 	*
11/14/2014 12:00:00 AM 	 2014-11-14 00:00:00 	*
05/29/2014 12:00:00 AM 	 2014-05-29 00:00:00 	*
07/08/2016 12:00:00 AM 	 2016-07-08 00:00:00 	*
04/28/2014 12:00:00 AM 	 2014-04-28 00:00:00 	*
05/29/2015 12:00:00 AM 	 2015-05-29 00:00:00 	*
07/13/2017 12:00:00 AM 	 2017-07-13 00:00:00 	*
06/06/2016 12:00:00 AM 	 2016-06-06 00:00:00 	*
10/02/2015 12:00:00 AM 	 2015-10-02 00:00:00 	*
07/06/2015 12:00:00 AM 	 2015-07-06 00:00:00 	*
02/15/2017 12:00:00 AM 	 2017-02-15 00:00:00 	*
05/22/2013 12:00:00 AM 	 2013-05-22 00:00:00 	*
05/28/2015 12:00:00 AM 	 2015-05-28 00:00:00 	*
06/23/2015 12:00:00 AM 	 2015-06-23 00:00:00 	*
08/10/2015 12:00:00 AM 	 2015-08-10 00:00:00 	*
07/14/2014 12:00:00 AM 	 2014-07-14 00:00:00 	*
11/22/2016 12:00:00 AM 	 2016-11-22 00:00:00 	*
07/18/2017 12:00:00 AM 	 2017-07-18 00:00:00 	*
10/24/2014 12:00:00 AM 	 2014-10-24 00:00:00 	*
02/04/2014 12:00:00 AM 	 2014-02-04 00:00:00 	*
07/31/2019 12:00:00 AM 	 2019-07-31 00:00:00 	*
03/01/2016 12:00:00 AM 	 2016-03-01 00:00:00 	*
07/22/2015 12:00:00 AM 	 2015-07-22 00:00:00 	*
02/22/2016 12:00:00 AM 	 2016-02-22 00:00:00 	*
09/06/2018 12:00:00 AM 	 2018-09-06 00:00:00 	*
10/23/2013 12:00:00 AM 	 2013-10-23 00:00:00 	*
07/17/2014 12:00:00 AM 	 2014-07-17 00:00:00 	*
09/11/2017 12:00:00 AM 	 2017-09-11 00:00:00 	*
10/05/2015 12:00:00 AM 	 2015-10-05 00:00:00 	*
05/18/2015 12:00:00 AM 	 2015-05-18 00:00:00 	*
09/12/2014 12:00:00 AM 	 2014-09-12 00:00:00 	*
03/20/2015 12:00:00 AM 	 2015-03-20 00:00:00 	*
11/21/2014 12:00:00 AM 	 2014-11-21 00:00:00 	*
10/03/2014 12:00:00 AM 	 2014-10-03 00:00:00 	*
*    0  same records   *

======================


column:  First Permit  Date
Original,	 Cleaned

08/02/2016 12:00:00 AM 	 2016-08-02 00:00:00 	*
04/29/2016 12:00:00 AM 	 2016-04-29 00:00:00 	*
05/07/2015 12:00:00 AM 	 2015-05-07 00:00:00 	*
02/01/2016 12:00:00 AM 	 2016-02-01 00:00:00 	*
05/03/2013 12:00:00 AM 	 2013-05-03 00:00:00 	*
07/17/2017 12:00:00 AM 	 2017-07-17 00:00:00 	*
03/25/2015 12:00:00 AM 	 2015-03-25 00:00:00 	*
03/01/2016 12:00:00 AM 	 2016-03-01 00:00:00 	*
08/19/2015 12:00:00 AM 	 2015-08-19 00:00:00 	*
08/12/2016 12:00:00 AM 	 2016-08-12 00:00:00 	*
07/21/2016 12:00:00 AM 	 2016-07-21 00:00:00 	*
09/17/2015 12:00:00 AM 	 2015-09-17 00:00:00 	*
12/27/2013 12:00:00 AM 	 2013-12-27 00:00:00 	*
04/18/2018 12:00:00 AM 	 2018-04-18 00:00:00 	*
07/28/2015 12:00:00 AM 	 2015-07-28 00:00:00 	*
03/30/2017 12:00:00 AM 	 2017-03-30 00:00:00 	*
07/29/2015 12:00:00 AM 	 2015-07-29 00:00:00 	*
11/14/2014 12:00:00 AM 	 2014-11-14 00:00:00 	*
05/29/2014 12:00:00 AM 	 2014-05-29 00:00:00 	*
07/08/2016 12:00:00 AM 	 2016-07-08 00:00:00 	*
04/28/2014 12:00:00 AM 	 2014-04-28 00:00:00 	*
05/29/2015 12:00:00 AM 	 2015-05-29 00:00:00 	*
07/13/2017 12:00:00 AM 	 2017-07-13 00:00:00 	*
06/06/2016 12:00:00 AM 	 2016-06-06 00:00:00 	*
10/02/2015 12:00:00 AM 	 2015-10-02 00:00:00 	*
07/06/2015 12:00:00 AM 	 2015-07-06 00:00:00 	*
02/15/2017 12:00:00 AM 	 2017-02-15 00:00:00 	*
05/22/2013 12:00:00 AM 	 2013-05-22 00:00:00 	*
05/28/2015 12:00:00 AM 	 2015-05-28 00:00:00 	*
06/23/2015 12:00:00 AM 	 2015-06-23 00:00:00 	*
08/10/2015 12:00:00 AM 	 2015-08-10 00:00:00 	*
07/14/2014 12:00:00 AM 	 2014-07-14 00:00:00 	*
11/22/2016 12:00:00 AM 	 2016-11-22 00:00:00 	*
07/18/2017 12:00:00 AM 	 2017-07-18 00:00:00 	*
10/24/2014 12:00:00 AM 	 2014-10-24 00:00:00 	*
02/04/2014 12:00:00 AM 	 2014-02-04 00:00:00 	*
07/31/2019 12:00:00 AM 	 2019-07-31 00:00:00 	*
03/01/2016 12:00:00 AM 	 2016-03-01 00:00:00 	*
07/22/2015 12:00:00 AM 	 2015-07-22 00:00:00 	*
02/22/2016 12:00:00 AM 	 2016-02-22 00:00:00 	*
09/06/2018 12:00:00 AM 	 2018-09-06 00:00:00 	*
10/23/2013 12:00:00 AM 	 2013-10-23 00:00:00 	*
07/17/2014 12:00:00 AM 	 2014-07-17 00:00:00 	*
09/11/2017 12:00:00 AM 	 2017-09-11 00:00:00 	*
10/05/2015 12:00:00 AM 	 2015-10-05 00:00:00 	*
05/18/2015 12:00:00 AM 	 2015-05-18 00:00:00 	*
09/12/2014 12:00:00 AM 	 2014-09-12 00:00:00 	*
03/20/2015 12:00:00 AM 	 2015-03-20 00:00:00 	*
11/21/2014 12:00:00 AM 	 2014-11-21 00:00:00 	*
10/03/2014 12:00:00 AM 	 2014-10-03 00:00:00 	*
*    0  same records   *

======================


column:  First Permit  Date
Original,	 Cleaned

08/02/2016 12:00:00 AM 	 2016-08-02 00:00:00 	*
04/29/2016 12:00:00 AM 	 2016-04-29 00:00:00 	*
05/07/2015 12:00:00 AM 	 2015-05-07 00:00:00 	*
02/01/2016 12:00:00 AM 	 2016-02-01 00:00:00 	*
05/03/2013 12:00:00 AM 	 2013-05-03 00:00:00 	*
07/17/2017 12:00:00 AM 	 2017-07-17 00:00:00 	*
03/25/2015 12:00:00 AM 	 2015-03-25 00:00:00 	*
03/01/2016 12:00:00 AM 	 2016-03-01 00:00:00 	*
08/19/2015 12:00:00 AM 	 2015-08-19 00:00:00 	*
08/12/2016 12:00:00 AM 	 2016-08-12 00:00:00 	*
07/21/2016 12:00:00 AM 	 2016-07-21 00:00:00 	*
09/17/2015 12:00:00 AM 	 2015-09-17 00:00:00 	*
12/27/2013 12:00:00 AM 	 2013-12-27 00:00:00 	*
04/18/2018 12:00:00 AM 	 2018-04-18 00:00:00 	*
07/28/2015 12:00:00 AM 	 2015-07-28 00:00:00 	*
03/30/2017 12:00:00 AM 	 2017-03-30 00:00:00 	*
07/29/2015 12:00:00 AM 	 2015-07-29 00:00:00 	*
11/14/2014 12:00:00 AM 	 2014-11-14 00:00:00 	*
05/29/2014 12:00:00 AM 	 2014-05-29 00:00:00 	*
07/08/2016 12:00:00 AM 	 2016-07-08 00:00:00 	*
04/28/2014 12:00:00 AM 	 2014-04-28 00:00:00 	*
05/29/2015 12:00:00 AM 	 2015-05-29 00:00:00 	*
07/13/2017 12:00:00 AM 	 2017-07-13 00:00:00 	*
06/06/2016 12:00:00 AM 	 2016-06-06 00:00:00 	*
10/02/2015 12:00:00 AM 	 2015-10-02 00:00:00 	*
07/06/2015 12:00:00 AM 	 2015-07-06 00:00:00 	*
02/15/2017 12:00:00 AM 	 2017-02-15 00:00:00 	*
05/22/2013 12:00:00 AM 	 2013-05-22 00:00:00 	*
05/28/2015 12:00:00 AM 	 2015-05-28 00:00:00 	*
06/23/2015 12:00:00 AM 	 2015-06-23 00:00:00 	*
08/10/2015 12:00:00 AM 	 2015-08-10 00:00:00 	*
07/14/2014 12:00:00 AM 	 2014-07-14 00:00:00 	*
11/22/2016 12:00:00 AM 	 2016-11-22 00:00:00 	*
07/18/2017 12:00:00 AM 	 2017-07-18 00:00:00 	*
10/24/2014 12:00:00 AM 	 2014-10-24 00:00:00 	*
02/04/2014 12:00:00 AM 	 2014-02-04 00:00:00 	*
07/31/2019 12:00:00 AM 	 2019-07-31 00:00:00 	*
03/01/2016 12:00:00 AM 	 2016-03-01 00:00:00 	*
07/22/2015 12:00:00 AM 	 2015-07-22 00:00:00 	*
02/22/2016 12:00:00 AM 	 2016-02-22 00:00:00 	*
09/06/2018 12:00:00 AM 	 2018-09-06 00:00:00 	*
10/23/2013 12:00:00 AM 	 2013-10-23 00:00:00 	*
07/17/2014 12:00:00 AM 	 2014-07-17 00:00:00 	*
09/11/2017 12:00:00 AM 	 2017-09-11 00:00:00 	*
10/05/2015 12:00:00 AM 	 2015-10-05 00:00:00 	*
05/18/2015 12:00:00 AM 	 2015-05-18 00:00:00 	*
09/12/2014 12:00:00 AM 	 2014-09-12 00:00:00 	*
03/20/2015 12:00:00 AM 	 2015-03-20 00:00:00 	*
11/21/2014 12:00:00 AM 	 2014-11-21 00:00:00 	*
10/03/2014 12:00:00 AM 	 2014-10-03 00:00:00 	*
*    0  same records   *

======================


column:  D O B Run Date
Original,	 Cleaned

08/03/2016 00:00:00 	 2016-08-03 00:00:00 	*
04/30/2016 00:00:00 	 2016-04-30 00:00:00 	*
05/08/2015 00:00:00 	 2015-05-08 00:00:00 	*
02/02/2016 00:00:00 	 2016-02-02 00:00:00 	*
05/04/2013 00:00:00 	 2013-05-04 00:00:00 	*
07/18/2017 00:00:00 	 2017-07-18 00:00:00 	*
03/26/2015 00:00:00 	 2015-03-26 00:00:00 	*
03/02/2016 00:00:00 	 2016-03-02 00:00:00 	*
08/20/2015 00:00:00 	 2015-08-20 00:00:00 	*
08/13/2016 00:00:00 	 2016-08-13 00:00:00 	*
07/22/2016 00:00:00 	 2016-07-22 00:00:00 	*
09/18/2015 00:00:00 	 2015-09-18 00:00:00 	*
12/28/2013 00:00:00 	 2013-12-28 00:00:00 	*
04/19/2018 00:00:00 	 2018-04-19 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
03/31/2017 00:00:00 	 2017-03-31 00:00:00 	*
07/30/2015 00:00:00 	 2015-07-30 00:00:00 	*
11/15/2014 00:00:00 	 2014-11-15 00:00:00 	*
05/30/2014 00:00:00 	 2014-05-30 00:00:00 	*
07/09/2016 00:00:00 	 2016-07-09 00:00:00 	*
04/29/2014 00:00:00 	 2014-04-29 00:00:00 	*
05/30/2015 00:00:00 	 2015-05-30 00:00:00 	*
07/14/2017 00:00:00 	 2017-07-14 00:00:00 	*
06/07/2016 00:00:00 	 2016-06-07 00:00:00 	*
10/03/2015 00:00:00 	 2015-10-03 00:00:00 	*
07/07/2015 00:00:00 	 2015-07-07 00:00:00 	*
02/16/2017 00:00:00 	 2017-02-16 00:00:00 	*
05/23/2013 00:00:00 	 2013-05-23 00:00:00 	*
05/29/2015 00:00:00 	 2015-05-29 00:00:00 	*
06/24/2015 00:00:00 	 2015-06-24 00:00:00 	*
08/11/2015 00:00:00 	 2015-08-11 00:00:00 	*
07/15/2014 00:00:00 	 2014-07-15 00:00:00 	*
11/23/2016 00:00:00 	 2016-11-23 00:00:00 	*
07/19/2017 00:00:00 	 2017-07-19 00:00:00 	*
10/25/2014 00:00:00 	 2014-10-25 00:00:00 	*
02/05/2014 00:00:00 	 2014-02-05 00:00:00 	*
08/01/2019 00:00:00 	 2019-08-01 00:00:00 	*
03/02/2016 00:00:00 	 2016-03-02 00:00:00 	*
07/23/2015 00:00:00 	 2015-07-23 00:00:00 	*
02/23/2016 00:00:00 	 2016-02-23 00:00:00 	*
09/07/2018 00:00:00 	 2018-09-07 00:00:00 	*
10/24/2013 00:00:00 	 2013-10-24 00:00:00 	*
07/18/2014 00:00:00 	 2014-07-18 00:00:00 	*
09/12/2017 00:00:00 	 2017-09-12 00:00:00 	*
10/06/2015 00:00:00 	 2015-10-06 00:00:00 	*
05/19/2015 00:00:00 	 2015-05-19 00:00:00 	*
09/13/2014 00:00:00 	 2014-09-13 00:00:00 	*
03/21/2015 00:00:00 	 2015-03-21 00:00:00 	*
11/22/2014 00:00:00 	 2014-11-22 00:00:00 	*
10/04/2014 00:00:00 	 2014-10-04 00:00:00 	*
*    0  same records   *

======================


column:  D O B Run Date
Original,	 Cleaned

08/03/2016 00:00:00 	 2016-08-03 00:00:00 	*
04/30/2016 00:00:00 	 2016-04-30 00:00:00 	*
05/08/2015 00:00:00 	 2015-05-08 00:00:00 	*
02/02/2016 00:00:00 	 2016-02-02 00:00:00 	*
05/04/2013 00:00:00 	 2013-05-04 00:00:00 	*
07/18/2017 00:00:00 	 2017-07-18 00:00:00 	*
03/26/2015 00:00:00 	 2015-03-26 00:00:00 	*
03/02/2016 00:00:00 	 2016-03-02 00:00:00 	*
08/20/2015 00:00:00 	 2015-08-20 00:00:00 	*
08/13/2016 00:00:00 	 2016-08-13 00:00:00 	*
07/22/2016 00:00:00 	 2016-07-22 00:00:00 	*
09/18/2015 00:00:00 	 2015-09-18 00:00:00 	*
12/28/2013 00:00:00 	 2013-12-28 00:00:00 	*
04/19/2018 00:00:00 	 2018-04-19 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
03/31/2017 00:00:00 	 2017-03-31 00:00:00 	*
07/30/2015 00:00:00 	 2015-07-30 00:00:00 	*
11/15/2014 00:00:00 	 2014-11-15 00:00:00 	*
05/30/2014 00:00:00 	 2014-05-30 00:00:00 	*
07/09/2016 00:00:00 	 2016-07-09 00:00:00 	*
04/29/2014 00:00:00 	 2014-04-29 00:00:00 	*
05/30/2015 00:00:00 	 2015-05-30 00:00:00 	*
07/14/2017 00:00:00 	 2017-07-14 00:00:00 	*
06/07/2016 00:00:00 	 2016-06-07 00:00:00 	*
10/03/2015 00:00:00 	 2015-10-03 00:00:00 	*
07/07/2015 00:00:00 	 2015-07-07 00:00:00 	*
02/16/2017 00:00:00 	 2017-02-16 00:00:00 	*
05/23/2013 00:00:00 	 2013-05-23 00:00:00 	*
05/29/2015 00:00:00 	 2015-05-29 00:00:00 	*
06/24/2015 00:00:00 	 2015-06-24 00:00:00 	*
08/11/2015 00:00:00 	 2015-08-11 00:00:00 	*
07/15/2014 00:00:00 	 2014-07-15 00:00:00 	*
11/23/2016 00:00:00 	 2016-11-23 00:00:00 	*
07/19/2017 00:00:00 	 2017-07-19 00:00:00 	*
10/25/2014 00:00:00 	 2014-10-25 00:00:00 	*
02/05/2014 00:00:00 	 2014-02-05 00:00:00 	*
08/01/2019 00:00:00 	 2019-08-01 00:00:00 	*
03/02/2016 00:00:00 	 2016-03-02 00:00:00 	*
07/23/2015 00:00:00 	 2015-07-23 00:00:00 	*
02/23/2016 00:00:00 	 2016-02-23 00:00:00 	*
09/07/2018 00:00:00 	 2018-09-07 00:00:00 	*
10/24/2013 00:00:00 	 2013-10-24 00:00:00 	*
07/18/2014 00:00:00 	 2014-07-18 00:00:00 	*
09/12/2017 00:00:00 	 2017-09-12 00:00:00 	*
10/06/2015 00:00:00 	 2015-10-06 00:00:00 	*
05/19/2015 00:00:00 	 2015-05-19 00:00:00 	*
09/13/2014 00:00:00 	 2014-09-13 00:00:00 	*
03/21/2015 00:00:00 	 2015-03-21 00:00:00 	*
11/22/2014 00:00:00 	 2014-11-22 00:00:00 	*
10/04/2014 00:00:00 	 2014-10-04 00:00:00 	*
*    0  same records   *

======================


column:  D O B Run Date
Original,	 Cleaned

08/03/2016 00:00:00 	 2016-08-03 00:00:00 	*
04/30/2016 00:00:00 	 2016-04-30 00:00:00 	*
05/08/2015 00:00:00 	 2015-05-08 00:00:00 	*
02/02/2016 00:00:00 	 2016-02-02 00:00:00 	*
05/04/2013 00:00:00 	 2013-05-04 00:00:00 	*
07/18/2017 00:00:00 	 2017-07-18 00:00:00 	*
03/26/2015 00:00:00 	 2015-03-26 00:00:00 	*
03/02/2016 00:00:00 	 2016-03-02 00:00:00 	*
08/20/2015 00:00:00 	 2015-08-20 00:00:00 	*
08/13/2016 00:00:00 	 2016-08-13 00:00:00 	*
07/22/2016 00:00:00 	 2016-07-22 00:00:00 	*
09/18/2015 00:00:00 	 2015-09-18 00:00:00 	*
12/28/2013 00:00:00 	 2013-12-28 00:00:00 	*
04/19/2018 00:00:00 	 2018-04-19 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
03/31/2017 00:00:00 	 2017-03-31 00:00:00 	*
07/30/2015 00:00:00 	 2015-07-30 00:00:00 	*
11/15/2014 00:00:00 	 2014-11-15 00:00:00 	*
05/30/2014 00:00:00 	 2014-05-30 00:00:00 	*
07/09/2016 00:00:00 	 2016-07-09 00:00:00 	*
04/29/2014 00:00:00 	 2014-04-29 00:00:00 	*
05/30/2015 00:00:00 	 2015-05-30 00:00:00 	*
07/14/2017 00:00:00 	 2017-07-14 00:00:00 	*
06/07/2016 00:00:00 	 2016-06-07 00:00:00 	*
10/03/2015 00:00:00 	 2015-10-03 00:00:00 	*
07/07/2015 00:00:00 	 2015-07-07 00:00:00 	*
02/16/2017 00:00:00 	 2017-02-16 00:00:00 	*
05/23/2013 00:00:00 	 2013-05-23 00:00:00 	*
05/29/2015 00:00:00 	 2015-05-29 00:00:00 	*
06/24/2015 00:00:00 	 2015-06-24 00:00:00 	*
08/11/2015 00:00:00 	 2015-08-11 00:00:00 	*
07/15/2014 00:00:00 	 2014-07-15 00:00:00 	*
11/23/2016 00:00:00 	 2016-11-23 00:00:00 	*
07/19/2017 00:00:00 	 2017-07-19 00:00:00 	*
10/25/2014 00:00:00 	 2014-10-25 00:00:00 	*
02/05/2014 00:00:00 	 2014-02-05 00:00:00 	*
08/01/2019 00:00:00 	 2019-08-01 00:00:00 	*
03/02/2016 00:00:00 	 2016-03-02 00:00:00 	*
07/23/2015 00:00:00 	 2015-07-23 00:00:00 	*
02/23/2016 00:00:00 	 2016-02-23 00:00:00 	*
09/07/2018 00:00:00 	 2018-09-07 00:00:00 	*
10/24/2013 00:00:00 	 2013-10-24 00:00:00 	*

07/18/2014 00:00:00 	 2014-07-18 00:00:00 	*
09/12/2017 00:00:00 	 2017-09-12 00:00:00 	*
10/06/2015 00:00:00 	 2015-10-06 00:00:00 	*
05/19/2015 00:00:00 	 2015-05-19 00:00:00 	*
09/13/2014 00:00:00 	 2014-09-13 00:00:00 	*
03/21/2015 00:00:00 	 2015-03-21 00:00:00 	*
11/22/2014 00:00:00 	 2014-11-22 00:00:00 	*
10/04/2014 00:00:00 	 2014-10-04 00:00:00 	*
*    0  same records   *

======================


column:  Borough
Original,	 Cleaned

2 	 None 	*
5 	 5
3 	 3
2 	 None 	*
4 	 4
3 	 3
1 	 1
2 	 None 	*
1 	 1
4 	 4
4 	 4
4 	 4
1 	 1
3 	 3
1 	 1
5 	 5
1 	 1
1 	 1
3 	 3
2 	 None 	*
3 	 3
3 	 3
4 	 4
3 	 3
2 	 None 	*
1 	 1
2 	 None 	*
3 	 3
2 	 None 	*
1 	 1
1 	 1
1 	 1
3 	 3
3 	 3
4 	 4
4 	 4
3 	 3
4 	 4
3 	 3
4 	 4
4 	 4
4 	 4
4 	 4
2 	 None 	*
4 	 4
3 	 3
4 	 4
4 	 4
5 	 5
3 	 3
*    42  same records   *

======================


column:  Borough
Original,	 Cleaned

2 	 None 	*
5 	 5
3 	 3
2 	 None 	*
4 	 4
3 	 3
1 	 1
2 	 None 	*
1 	 1
4 	 4
4 	 4
4 	 4
1 	 1
3 	 3
1 	 1
5 	 5
1 	 1
1 	 1
3 	 3
2 	 None 	*
3 	 3
3 	 3
4 	 4
3 	 3
2 	 None 	*
1 	 1
2 	 None 	*
3 	 3
2 	 None 	*
1 	 1
1 	 1
1 	 1
3 	 3
3 	 3
4 	 4
4 	 4
3 	 3
4 	 4
3 	 3
4 	 4
4 	 4
4 	 4
4 	 4
2 	 None 	*
4 	 4
3 	 3
4 	 4
4 	 4
5 	 5
3 	 3
*    42  same records   *

======================


column:  Borough
Original,	 Cleaned

2 	 None 	*
5 	 5
3 	 3
2 	 None 	*
4 	 4
3 	 3
1 	 1
2 	 None 	*
1 	 1
4 	 4
4 	 4
4 	 4
1 	 1
3 	 3
1 	 1
5 	 5
1 	 1
1 	 1
3 	 3
2 	 None 	*
3 	 3
3 	 3
4 	 4
3 	 3
2 	 None 	*
1 	 1
2 	 None 	*
3 	 3
2 	 None 	*
1 	 1
1 	 1
1 	 1
3 	 3
3 	 3
4 	 4
4 	 4
3 	 3
4 	 4
3 	 3
4 	 4
4 	 4
4 	 4
4 	 4
2 	 None 	*
4 	 4
3 	 3
4 	 4
4 	 4
5 	 5
3 	 3
*    42  same records   *

======================


column:  Street Name
Original,	 Cleaned

PROSPECT AVENUE                  	 PROSPECT AVENUE
ARTHUR KILL ROAD                 	 ARTHUR KILL ROAD
SHORE PARKWAY                    	 SHORE PARKWAY
GERARD AVENUE                    	 GERARD AVENUE
BEACH 9 STREET                   	 BEACH 9 STREET
NOSTRAND AVENUE                  	 NOSTRAND AVENUE
WEST 133RD STREET                	 WEST 133RD STREET
THIERIOT AVENUE                  	 THIERIOT AVENUE
2ND AVENUE                       	 2ND AVENUE
PARK LANE SOUTH                  	 PARK LANE SOUTH
64TH AVENUE                      	 64TH AVENUE
120TH STREET                     	 120TH STREET
7TH AVE                          	 7TH AVE
48TH STREET                      	 48TH STREET
1ST AVENUE                       	 1ST AVENUE
SAND LANE                        	 SAND LANE
WEST 80TH STREET                 	 WEST 80TH STREET
PARK TERRACE EAST                	 PARK TERRACE EAST
AVENUE P                         	 AVENUE P
MELROSE AVENUE                   	 MELROSE AVENUE
UTICA AVENUE                     	 UTICA AVENUE
AVENUE N                         	 AVENUE N
BELL BOULEVARD                   	 BELL BOULEVARD
EAST NEW YORK AVENUE             	 EAST NEW YORK AVENUE
FENTON AVENUE                    	 FENTON AVENUE
AVENUE C                         	 AVENUE C
CLAY AVENUE                      	 CLAY AVENUE
BUSHWICK AVENUE                  	 BUSHWICK AVENUE
EAST 167TH STREET                	 EAST 167TH STREET
1ST AVENUE                       	 1ST AVENUE
WEST 206 STREET                  	 WEST 206 STREET
MACDOUGAL STREET                 	 MACDOUGAL STREET
VAN BUREN STREET                 	 VAN BUREN STREET
BEVERLY ROAD                     	 BEVERLY ROAD
ROCKAWAY BEACH BOULEVARD         	 ROCKAWAY BEACH BOULEVARD
GRAHAM COURT                     	 GRAHAM COURT
EAST 86TH STREET                 	 EAST 86TH STREET
DITMARS BLVD                     	 DITMARS BLVD
BRIGHTON 13TH STREET             	 BRIGHTON 13TH STREET
39TH STREET                      	 39TH STREET
11TH STREET                      	 11TH STREET
60TH PLACE                       	 60TH PLACE
FRANKLIN AVENUE                  	 FRANKLIN AVENUE
HEATH AVENUE                     	 HEATH AVENUE
VAN WYCK EXPRESSWAY              	 VAN WYCK EXPRESSWAY
PACIFIC STREET                   	 PACIFIC STREET
BEACH 47TH STREET                	 BEACH 47TH STREET
110 AVE                          	 110 AVE
GULF AVENUE                      	 GULF AVENUE
WYTHE AVENUE                     	 WYTHE AVENUE
*    50  same records   *

======================


column:  Street Name
Original,	 Cleaned

PROSPECT AVENUE                  	 PROSPECT AVENUE
ARTHUR KILL ROAD                 	 ARTHUR KILL ROAD
SHORE PARKWAY                    	 SHORE PARKWAY
GERARD AVENUE                    	 GERARD AVENUE
BEACH 9 STREET                   	 BEACH 9 STREET
NOSTRAND AVENUE                  	 NOSTRAND AVENUE
WEST 133RD STREET                	 WEST 133RD STREET
THIERIOT AVENUE                  	 THIERIOT AVENUE
2ND AVENUE                       	 2ND AVENUE
PARK LANE SOUTH                  	 PARK LANE SOUTH
64TH AVENUE                      	 64TH AVENUE
120TH STREET                     	 120TH STREET
7TH AVE                          	 7TH AVE
48TH STREET                      	 48TH STREET
1ST AVENUE                       	 1ST AVENUE
SAND LANE                        	 SAND LANE
WEST 80TH STREET                 	 WEST 80TH STREET
PARK TERRACE EAST                	 PARK TERRACE EAST
AVENUE P                         	 AVENUE P
MELROSE AVENUE                   	 MELROSE AVENUE
UTICA AVENUE                     	 UTICA AVENUE
AVENUE N                         	 AVENUE N
BELL BOULEVARD                   	 BELL BOULEVARD
EAST NEW YORK AVENUE             	 EAST NEW YORK AVENUE
FENTON AVENUE                    	 FENTON AVENUE
AVENUE C                         	 AVENUE C
CLAY AVENUE                      	 CLAY AVENUE
BUSHWICK AVENUE                  	 BUSHWICK AVENUE
EAST 167TH STREET                	 EAST 167TH STREET
1ST AVENUE                       	 1ST AVENUE
WEST 206 STREET                  	 WEST 206 STREET
MACDOUGAL STREET                 	 MACDOUGAL STREET
VAN BUREN STREET                 	 VAN BUREN STREET
BEVERLY ROAD                     	 BEVERLY ROAD
ROCKAWAY BEACH BOULEVARD         	 ROCKAWAY BEACH BOULEVARD
GRAHAM COURT                     	 GRAHAM COURT
EAST 86TH STREET                 	 EAST 86TH STREET
DITMARS BLVD                     	 DITMARS BLVD
BRIGHTON 13TH STREET             	 BRIGHTON 13TH STREET
39TH STREET                      	 39TH STREET
11TH STREET                      	 11TH STREET
60TH PLACE                       	 60TH PLACE
FRANKLIN AVENUE                  	 FRANKLIN AVENUE
HEATH AVENUE                     	 HEATH AVENUE
VAN WYCK EXPRESSWAY              	 VAN WYCK EXPRESSWAY
PACIFIC STREET                   	 PACIFIC STREET
BEACH 47TH STREET                	 BEACH 47TH STREET
110 AVE                          	 110 AVE
GULF AVENUE                      	 GULF AVENUE
WYTHE AVENUE                     	 WYTHE AVENUE
*    50  same records   *

======================


column:  Street Name
Original,	 Cleaned

PROSPECT AVENUE                  	 PROSPECT AVENUE
ARTHUR KILL ROAD                 	 ARTHUR KILL ROAD
SHORE PARKWAY                    	 SHORE PARKWAY
GERARD AVENUE                    	 GERARD AVENUE
BEACH 9 STREET                   	 BEACH 9 STREET
NOSTRAND AVENUE                  	 NOSTRAND AVENUE
WEST 133RD STREET                	 WEST 133RD STREET
THIERIOT AVENUE                  	 THIERIOT AVENUE
2ND AVENUE                       	 2ND AVENUE
PARK LANE SOUTH                  	 PARK LANE SOUTH
64TH AVENUE                      	 64TH AVENUE
120TH STREET                     	 120TH STREET
7TH AVE                          	 7TH AVE
48TH STREET                      	 48TH STREET
1ST AVENUE                       	 1ST AVENUE
SAND LANE                        	 SAND LANE
WEST 80TH STREET                 	 WEST 80TH STREET
PARK TERRACE EAST                	 PARK TERRACE EAST
AVENUE P                         	 AVENUE P
MELROSE AVENUE                   	 MELROSE AVENUE
UTICA AVENUE                     	 UTICA AVENUE
AVENUE N                         	 AVENUE N
BELL BOULEVARD                   	 BELL BOULEVARD
EAST NEW YORK AVENUE             	 EAST NEW YORK AVENUE
FENTON AVENUE                    	 FENTON AVENUE
AVENUE C                         	 AVENUE C
CLAY AVENUE                      	 CLAY AVENUE
BUSHWICK AVENUE                  	 BUSHWICK AVENUE
EAST 167TH STREET                	 EAST 167TH STREET
1ST AVENUE                       	 1ST AVENUE
WEST 206 STREET                  	 WEST 206 STREET
MACDOUGAL STREET                 	 MACDOUGAL STREET
VAN BUREN STREET                 	 VAN BUREN STREET
BEVERLY ROAD                     	 BEVERLY ROAD
ROCKAWAY BEACH BOULEVARD         	 ROCKAWAY BEACH BOULEVARD
GRAHAM COURT                     	 GRAHAM COURT
EAST 86TH STREET                 	 EAST 86TH STREET
DITMARS BLVD                     	 DITMARS BLVD
BRIGHTON 13TH STREET             	 BRIGHTON 13TH STREET
39TH STREET                      	 39TH STREET
11TH STREET                      	 11TH STREET
60TH PLACE                       	 60TH PLACE
FRANKLIN AVENUE                  	 FRANKLIN AVENUE
HEATH AVENUE                     	 HEATH AVENUE
VAN WYCK EXPRESSWAY              	 VAN WYCK EXPRESSWAY
PACIFIC STREET                   	 PACIFIC STREET
BEACH 47TH STREET                	 BEACH 47TH STREET
110 AVE                          	 110 AVE
GULF AVENUE                      	 GULF AVENUE
WYTHE AVENUE                     	 WYTHE AVENUE
*    50  same records   *

======================


column:  Applicant's First Name
Original,	 Cleaned

JOHN            	 JOHN
JIANG           	 JIANG
SCOTT           	 SCOTT
SCOTT           	 SCOTT
NEIL            	 NEIL
CHARLES         	 CHARLES
GREGORY         	 GREGORY
GREGORY         	 GREGORY
CHAD            	 CHAD
NICHOLAS        	 NICHOLAS
JAMES           	 JAMES
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
JOHN            	 JOHN
ANTONIO         	 ANTONIO
GLENN           	 GLENN
JOHN            	 JOHN
JAMES           	 JAMES
PETER           	 PETER
PETER           	 PETER
STEPHEN         	 STEPHEN
CHAD            	 CHAD
JAMES           	 JAMES
JAMES           	 JAMES
JOHN            	 JOHN
ANDREW          	 ANDREW
CHARLES         	 CHARLES
STEPHEN         	 STEPHEN
JOHN            	 JOHN
STEPHEN         	 STEPHEN
GLENN           	 GLENN
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
FRANK           	 FRANK
ANTONIO         	 ANTONIO
MICHAEL         	 MICHAEL
STEPHEN         	 STEPHEN
NICHOLAS        	 NICHOLAS
JOHN            	 JOHN
JOHN            	 JOHN
MANOJKUMAR      	 MANOJKUMAR
ANTONIO         	 ANTONIO
MICHAEL         	 MICHAEL
CHARLES         	 CHARLES
PETER           	 PETER
CHAD            	 CHAD
PETER           	 PETER
JAMES           	 JAMES
JAMES           	 JAMES
*    50  same records   *

======================


column:  Applicant's First Name
Original,	 Cleaned

JOHN            	 JOHN
JIANG           	 JIANG
SCOTT           	 SCOTT
SCOTT           	 SCOTT
NEIL            	 NEIL
CHARLES         	 CHARLES
GREGORY         	 GREGORY
GREGORY         	 GREGORY
CHAD            	 CHAD
NICHOLAS        	 NICHOLAS
JAMES           	 JAMES
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
JOHN            	 JOHN
ANTONIO         	 ANTONIO
GLENN           	 GLENN
JOHN            	 JOHN
JAMES           	 JAMES
PETER           	 PETER
PETER           	 PETER
STEPHEN         	 STEPHEN
CHAD            	 CHAD
JAMES           	 JAMES
JAMES           	 JAMES
JOHN            	 JOHN
ANDREW          	 ANDREW
CHARLES         	 CHARLES
STEPHEN         	 STEPHEN
JOHN            	 JOHN
STEPHEN         	 STEPHEN
GLENN           	 GLENN
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
FRANK           	 FRANK
ANTONIO         	 ANTONIO
MICHAEL         	 MICHAEL
STEPHEN         	 STEPHEN
NICHOLAS        	 NICHOLAS
JOHN            	 JOHN
JOHN            	 JOHN
MANOJKUMAR      	 MANOJKUMAR
ANTONIO         	 ANTONIO
MICHAEL         	 MICHAEL
CHARLES         	 CHARLES
PETER           	 PETER
CHAD            	 CHAD
PETER           	 PETER
JAMES           	 JAMES
JAMES           	 JAMES
*    50  same records   *

======================


column:  Applicant's First Name
Original,	 Cleaned

JOHN            	 JOHN
JIANG           	 JIANG
SCOTT           	 SCOTT
SCOTT           	 SCOTT
NEIL            	 NEIL
CHARLES         	 CHARLES
GREGORY         	 GREGORY
GREGORY         	 GREGORY
CHAD            	 CHAD
NICHOLAS        	 NICHOLAS
JAMES           	 JAMES
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
JOHN            	 JOHN
ANTONIO         	 ANTONIO
GLENN           	 GLENN
JOHN            	 JOHN
JAMES           	 JAMES
PETER           	 PETER
PETER           	 PETER
STEPHEN         	 STEPHEN
CHAD            	 CHAD
JAMES           	 JAMES
JAMES           	 JAMES
JOHN            	 JOHN
ANDREW          	 ANDREW
CHARLES         	 CHARLES
STEPHEN         	 STEPHEN
JOHN            	 JOHN
STEPHEN         	 STEPHEN
GLENN           	 GLENN
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
FRANK           	 FRANK
ANTONIO         	 ANTONIO
MICHAEL         	 MICHAEL
STEPHEN         	 STEPHEN
NICHOLAS        	 NICHOLAS
JOHN            	 JOHN
JOHN            	 JOHN
MANOJKUMAR      	 MANOJKUMAR
ANTONIO         	 ANTONIO
MICHAEL         	 MICHAEL
CHARLES         	 CHARLES
PETER           	 PETER
CHAD            	 CHAD
PETER           	 PETER
JAMES           	 JAMES
JAMES           	 JAMES

*    50  same records   *

======================


column:  Applicant's Last Name
Original,	 Cleaned

ADELY                          	 ADELY
YU                             	 YU
CHASSE                         	 CHASSE
CHASSE                         	 CHASSE
MACDONALD                      	 MACDONALD
WHELAN                         	 WHELAN
NOWAK                          	 NOWAK
NOWAK                          	 NOWAK
SCHWARTZ                       	 SCHWARTZ
BARILE                         	 BARILE
FAHEY                          	 FAHEY
BRAY                           	 BRAY
BRAY                           	 BRAY
BRAY                           	 BRAY
ADELY                          	 ADELY
GUALTIERI                      	 GUALTIERI
SCHERER                        	 SCHERER
ADELY                          	 ADELY
FAHEY                          	 FAHEY
TARDY                          	 TARDY
TARDY                          	 TARDY
BRAY                           	 BRAY
SCHWARTZ                       	 SCHWARTZ
FAHEY                          	 FAHEY
FAHEY                          	 FAHEY
ADELY                          	 ADELY
MILLER                         	 MILLER
WHELAN                         	 WHELAN
BRAY                           	 BRAY
ADELY                          	 ADELY
BRAY                           	 BRAY
SCHERER                        	 SCHERER
BRAY                           	 BRAY
BRAY                           	 BRAY
PAZDEN                         	 PAZDEN
GUALTIERI                      	 GUALTIERI
BOHLINGER                      	 BOHLINGER
BRAY                           	 BRAY
BARILE                         	 BARILE
ADELY                          	 ADELY
KELLY                          	 KELLY
PATEL                          	 PATEL
GUALTIERI                      	 GUALTIERI
BOHLINGER                      	 BOHLINGER
WHELAN                         	 WHELAN
TARDY                          	 TARDY
SCHWARTZ                       	 SCHWARTZ
PAPAY                          	 PAPAY
FAHEY                          	 FAHEY
FAHEY                          	 FAHEY
*    50  same records   *

======================


column:  Applicant's Last Name
Original,	 Cleaned

ADELY                          	 ADELY
YU                             	 YU
CHASSE                         	 CHASSE
CHASSE                         	 CHASSE
MACDONALD                      	 MACDONALD
WHELAN                         	 WHELAN
NOWAK                          	 NOWAK
NOWAK                          	 NOWAK
SCHWARTZ                       	 SCHWARTZ
BARILE                         	 BARILE
FAHEY                          	 FAHEY
BRAY                           	 BRAY
BRAY                           	 BRAY
BRAY                           	 BRAY
ADELY                          	 ADELY
GUALTIERI                      	 GUALTIERI
SCHERER                        	 SCHERER
ADELY                          	 ADELY
FAHEY                          	 FAHEY
TARDY                          	 TARDY
TARDY                          	 TARDY
BRAY                           	 BRAY
SCHWARTZ                       	 SCHWARTZ
FAHEY                          	 FAHEY
FAHEY                          	 FAHEY
ADELY                          	 ADELY
MILLER                         	 MILLER
WHELAN                         	 WHELAN
BRAY                           	 BRAY
ADELY                          	 ADELY
BRAY                           	 BRAY
SCHERER                        	 SCHERER
BRAY                           	 BRAY
BRAY                           	 BRAY
PAZDEN                         	 PAZDEN
GUALTIERI                      	 GUALTIERI
BOHLINGER                      	 BOHLINGER
BRAY                           	 BRAY
BARILE                         	 BARILE
ADELY                          	 ADELY
KELLY                          	 KELLY
PATEL                          	 PATEL
GUALTIERI                      	 GUALTIERI
BOHLINGER                      	 BOHLINGER
WHELAN                         	 WHELAN
TARDY                          	 TARDY
SCHWARTZ                       	 SCHWARTZ
PAPAY                          	 PAPAY
FAHEY                          	 FAHEY
FAHEY                          	 FAHEY
*    50  same records   *

======================


column:  Applicant's Last Name
Original,	 Cleaned

ADELY                          	 ADELY
YU                             	 YU
CHASSE                         	 CHASSE
CHASSE                         	 CHASSE
MACDONALD                      	 MACDONALD
WHELAN                         	 WHELAN
NOWAK                          	 NOWAK
NOWAK                          	 NOWAK
SCHWARTZ                       	 SCHWARTZ
BARILE                         	 BARILE
FAHEY                          	 FAHEY
BRAY                           	 BRAY
BRAY                           	 BRAY
BRAY                           	 BRAY
ADELY                          	 ADELY
GUALTIERI                      	 GUALTIERI
SCHERER                        	 SCHERER
ADELY                          	 ADELY
FAHEY                          	 FAHEY
TARDY                          	 TARDY
TARDY                          	 TARDY
BRAY                           	 BRAY
SCHWARTZ                       	 SCHWARTZ
FAHEY                          	 FAHEY
FAHEY                          	 FAHEY
ADELY                          	 ADELY
MILLER                         	 MILLER
WHELAN                         	 WHELAN
BRAY                           	 BRAY
ADELY                          	 ADELY
BRAY                           	 BRAY
SCHERER                        	 SCHERER
BRAY                           	 BRAY
BRAY                           	 BRAY
PAZDEN                         	 PAZDEN
GUALTIERI                      	 GUALTIERI
BOHLINGER                      	 BOHLINGER
BRAY                           	 BRAY
BARILE                         	 BARILE
ADELY                          	 ADELY
KELLY                          	 KELLY
PATEL                          	 PATEL
GUALTIERI                      	 GUALTIERI
BOHLINGER                      	 BOHLINGER
WHELAN                         	 WHELAN
TARDY                          	 TARDY
SCHWARTZ                       	 SCHWARTZ
PAPAY                          	 PAPAY
FAHEY                          	 FAHEY
FAHEY                          	 FAHEY
*    50  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

ROBERT          	 ROBERT
JESSE           	 JESSE
LEONARD         	 LEONARD
JOSEPH          	 JOSEPH
JOSHUA          	 JOSHUA
CARL            	 CARL
ROBERT          	 ROBERT
ROBERT          	 ROBERT
LEON            	 LEON
ROBERT          	 ROBERT
ARI             	 ARI
DAN             	 DAN
FRANK           	 FRANK
ALBERTO         	 ALBERTO
ROBERT          	 ROBERT
JOHN            	 JOHN
ROBERT          	 ROBERT
OMAR            	 OMAR
DAVID           	 DAVID
JOSEPH          	 JOSEPH
OMAR            	 OMAR
RYAN            	 RYAN
PETER           	 PETER
RENE            	 RENE
MAURICE         	 MAURICE
MARK            	 MARK
AHMED           	 AHMED
AL RASHID       	 AL RASHID
EDGAR           	 EDGAR
MARK            	 MARK
JAMES           	 JAMES
ALEX            	 ALEX
JOHN            	 JOHN
GREGG           	 GREGG
BURT            	 BURT
JACK            	 JACK
ROBERT          	 ROBERT
ISRAEL          	 ISRAEL
ROBERT          	 ROBERT
ROBERT          	 ROBERT
LAWRENCE        	 LAWRENCE
FATHER ANTHONY  	 FATHER ANTHONY
TIM             	 TIM
ROBERT          	 ROBERT
MARK            	 MARK
ROBERT          	 ROBERT
HERMAN          	 HERMAN
JAMES           	 JAMES
NEIL            	 NEIL
FELICIA         	 FELICIA
*    50  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

ROBERT          	 ROBERT
JESSE           	 JESSE
LEONARD         	 LEONARD
JOSEPH          	 JOSEPH
JOSHUA          	 JOSHUA
CARL            	 CARL
ROBERT          	 ROBERT
ROBERT          	 ROBERT
LEON            	 LEON
ROBERT          	 ROBERT
ARI             	 ARI
DAN             	 DAN
FRANK           	 FRANK
ALBERTO         	 ALBERTO
ROBERT          	 ROBERT
JOHN            	 JOHN
ROBERT          	 ROBERT
OMAR            	 OMAR
DAVID           	 DAVID
JOSEPH          	 JOSEPH
OMAR            	 OMAR
RYAN            	 RYAN
PETER           	 PETER
RENE            	 RENE
MAURICE         	 MAURICE
MARK            	 MARK
AHMED           	 AHMED
AL RASHID       	 AL RASHID
EDGAR           	 EDGAR
MARK            	 MARK
JAMES           	 JAMES
ALEX            	 ALEX
JOHN            	 JOHN
GREGG           	 GREGG
BURT            	 BURT
JACK            	 JACK
ROBERT          	 ROBERT
ISRAEL          	 ISRAEL
ROBERT          	 ROBERT
ROBERT          	 ROBERT
LAWRENCE        	 LAWRENCE
FATHER ANTHONY  	 FATHER ANTHONY
TIM             	 TIM
ROBERT          	 ROBERT
MARK            	 MARK
ROBERT          	 ROBERT
HERMAN          	 HERMAN
JAMES           	 JAMES
NEIL            	 NEIL
FELICIA         	 FELICIA
*    50  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

ROBERT          	 ROBERT
JESSE           	 JESSE
LEONARD         	 LEONARD
JOSEPH          	 JOSEPH
JOSHUA          	 JOSHUA
CARL            	 CARL
ROBERT          	 ROBERT
ROBERT          	 ROBERT
LEON            	 LEON
ROBERT          	 ROBERT
ARI             	 ARI
DAN             	 DAN
FRANK           	 FRANK
ALBERTO         	 ALBERTO
ROBERT          	 ROBERT
JOHN            	 JOHN
ROBERT          	 ROBERT
OMAR            	 OMAR
DAVID           	 DAVID
JOSEPH          	 JOSEPH
OMAR            	 OMAR
RYAN            	 RYAN
PETER           	 PETER
RENE            	 RENE
MAURICE         	 MAURICE
MARK            	 MARK
AHMED           	 AHMED
AL RASHID       	 AL RASHID
EDGAR           	 EDGAR
MARK            	 MARK
JAMES           	 JAMES
ALEX            	 ALEX
JOHN            	 JOHN
GREGG           	 GREGG
BURT            	 BURT
JACK            	 JACK
ROBERT          	 ROBERT
ISRAEL          	 ISRAEL
ROBERT          	 ROBERT
ROBERT          	 ROBERT
LAWRENCE        	 LAWRENCE
FATHER ANTHONY  	 FATHER ANTHONY
TIM             	 TIM
ROBERT          	 ROBERT
MARK            	 MARK
ROBERT          	 ROBERT
HERMAN          	 HERMAN
JAMES           	 JAMES
NEIL            	 NEIL
FELICIA         	 FELICIA
*    50  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

CIAGLIA                        	 CIAGLIA
SCAROLA                        	 SCAROLA
SCHWARTZ                       	 SCHWARTZ
GERSHENOV                      	 GERSHENOV
EISENBERG                      	 EISENBERG
FRAIMAN                        	 FRAIMAN
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
SUTTON                         	 SUTTON
CIAGLIA                        	 CIAGLIA
ROSENFELD                      	 ROSENFELD
WHITTON                        	 WHITTON
SCAFFA                         	 SCAFFA
ARROYO                         	 ARROYO
CIAGLIA                        	 CIAGLIA
COMITO                         	 COMITO
DEAK                           	 DEAK
IMRHAN                         	 IMRHAN
GLUCK                          	 GLUCK
ZITOLO                         	 ZITOLO
IMRHAN                         	 IMRHAN
MAYBECK                        	 MAYBECK
MESOS                          	 MESOS
ZETRENNE                       	 ZETRENNE
SOHAYEGH                       	 SOHAYEGH
BISHOP                         	 BISHOP
TAYLOR                         	 TAYLOR
DIN                            	 DIN
CASABLANCA                     	 CASABLANCA
BISHOP                         	 BISHOP
SWIFT                          	 SWIFT
PETERSON                       	 PETERSON
OAKES                          	 OAKES
BAILEY                         	 BAILEY
FRIED                          	 FRIED
DEUTSCH                        	 DEUTSCH
CIAGLIA                        	 CIAGLIA
KALEIN                         	 KALEIN
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
LEVINSON                       	 LEVINSON
SANSONE                        	 SANSONE
DUNN                           	 DUNN
CIAGLIA                        	 CIAGLIA
BISHOP                         	 BISHOP
CIAGLIA                        	 CIAGLIA
YUNGER                         	 YUNGER
COAKLEY                        	 COAKLEY
SIMON                          	 SIMON
MAFFUCCI                       	 MAFFUCCI
*    50  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

CIAGLIA                        	 CIAGLIA
SCAROLA                        	 SCAROLA
SCHWARTZ                       	 SCHWARTZ
GERSHENOV                      	 GERSHENOV
EISENBERG                      	 EISENBERG
FRAIMAN                        	 FRAIMAN
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
SUTTON                         	 SUTTON
CIAGLIA                        	 CIAGLIA
ROSENFELD                      	 ROSENFELD
WHITTON                        	 WHITTON
SCAFFA                         	 SCAFFA
ARROYO                         	 ARROYO
CIAGLIA                        	 CIAGLIA

COMITO                         	 COMITO
DEAK                           	 DEAK
IMRHAN                         	 IMRHAN
GLUCK                          	 GLUCK
ZITOLO                         	 ZITOLO
IMRHAN                         	 IMRHAN
MAYBECK                        	 MAYBECK
MESOS                          	 MESOS
ZETRENNE                       	 ZETRENNE
SOHAYEGH                       	 SOHAYEGH
BISHOP                         	 BISHOP
TAYLOR                         	 TAYLOR
DIN                            	 DIN
CASABLANCA                     	 CASABLANCA
BISHOP                         	 BISHOP
SWIFT                          	 SWIFT
PETERSON                       	 PETERSON
OAKES                          	 OAKES
BAILEY                         	 BAILEY
FRIED                          	 FRIED
DEUTSCH                        	 DEUTSCH
CIAGLIA                        	 CIAGLIA
KALEIN                         	 KALEIN
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
LEVINSON                       	 LEVINSON
SANSONE                        	 SANSONE
DUNN                           	 DUNN
CIAGLIA                        	 CIAGLIA
BISHOP                         	 BISHOP
CIAGLIA                        	 CIAGLIA
YUNGER                         	 YUNGER
COAKLEY                        	 COAKLEY
SIMON                          	 SIMON
MAFFUCCI                       	 MAFFUCCI
*    50  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

CIAGLIA                        	 CIAGLIA
SCAROLA                        	 SCAROLA
SCHWARTZ                       	 SCHWARTZ
GERSHENOV                      	 GERSHENOV
EISENBERG                      	 EISENBERG
FRAIMAN                        	 FRAIMAN
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
SUTTON                         	 SUTTON
CIAGLIA                        	 CIAGLIA
ROSENFELD                      	 ROSENFELD
WHITTON                        	 WHITTON
SCAFFA                         	 SCAFFA
ARROYO                         	 ARROYO
CIAGLIA                        	 CIAGLIA
COMITO                         	 COMITO
DEAK                           	 DEAK
IMRHAN                         	 IMRHAN
GLUCK                          	 GLUCK
ZITOLO                         	 ZITOLO
IMRHAN                         	 IMRHAN
MAYBECK                        	 MAYBECK
MESOS                          	 MESOS
ZETRENNE                       	 ZETRENNE
SOHAYEGH                       	 SOHAYEGH
BISHOP                         	 BISHOP
TAYLOR                         	 TAYLOR
DIN                            	 DIN
CASABLANCA                     	 CASABLANCA
BISHOP                         	 BISHOP
SWIFT                          	 SWIFT
PETERSON                       	 PETERSON
OAKES                          	 OAKES
BAILEY                         	 BAILEY
FRIED                          	 FRIED
DEUTSCH                        	 DEUTSCH
CIAGLIA                        	 CIAGLIA
KALEIN                         	 KALEIN
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
LEVINSON                       	 LEVINSON
SANSONE                        	 SANSONE
DUNN                           	 DUNN
CIAGLIA                        	 CIAGLIA
BISHOP                         	 BISHOP
CIAGLIA                        	 CIAGLIA
YUNGER                         	 YUNGER
COAKLEY                        	 COAKLEY
SIMON                          	 SIMON
MAFFUCCI                       	 MAFFUCCI
*    50  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

GENESIS REALTY GROUP LLC         	 GENESIS REALTY GROUP LLC
ATRIUM                           	 ATRIUM
3685 REALTY                      	 3685 REALTY
ANN-GUR REALTY CORP.             	 ANN-GUR REALTY CORP.
KINGS & QUEENS LLC               	 KINGS & QUEENS LLC
SIVAN REALTY LLC                 	 SIVAN REALTY LLC
GRADY, INC.                      	 GRADY, INC.
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
LM SUTTON MANAGEMENT CO          	 LM SUTTON MANAGEMENT CO
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
QUEENS FRESH MEADOWS, LLC        	 QUEENS FRESH MEADOWS, LLC
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL, AS AGENT FOR TENANT
LONG ISLAND HOLDINGS A LLC       	 LONG ISLAND HOLDINGS A LLC
JACOBS, AS AGENT FOR TENANT      	 JACOBS, AS AGENT FOR TENANT
HENRY PHIPPS PLAZA EAST INC      	 HENRY PHIPPS PLAZA EAST INC
AUTOEXEC PROPERTIES INC.         	 AUTOEXEC PROPERTIES INC.
101 WEST 80TH STREET OWNERS CORP 	 101 WEST 80TH STREET OWNERS CORP
PARK TERRACE MANOR INC.          	 PARK TERRACE MANOR INC.
2001 AVENUE P, LLC C/O LIMOR MGT 	 2001 AVENUE P, LLC C/O LIMOR MGT
COURTLANDT AVENUE PROJECT HOUSIN 	 COURTLANDT AVENUE PROJECT HOUSIN
SHURGARD STORAGE CENTERS, INC.   	 SHURGARD STORAGE CENTERS, INC.
VERIZON WIRELESS                 	 VERIZON WIRELESS
P+L ASSOCIATES LLC C/O VISION MG 	 P+L ASSOCIATES LLC C/O VISION MG
GRAFTON REALTY CORP.             	 GRAFTON REALTY CORP.
FENTON ASSOCIATES                	 FENTON ASSOCIATES
647 EAST 11TH STREET LLC         	 647 EAST 11TH STREET LLC
OLR ECW LLC                      	 OLR ECW LLC
 AL RASHID DIN                   	  AL RASHID DIN
465 WASHINGTON LLC               	 465 WASHINGTON LLC
21 1ST AVE LLC                   	 21 1ST AVE LLC
420 WEST 206 STREET OWNERS CORP  	 420 WEST 206 STREET OWNERS CORP
TRI STAR EQUITIES                	 TRI STAR EQUITIES
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL, AS AGENT FOR TENANT
NEW CINGULAR WIRELESS PCS, LLC   	 NEW CINGULAR WIRELESS PCS, LLC
9502 COMPANY LLC                 	 9502 COMPANY LLC
CLIFFSIDE NURSING HOME           	 CLIFFSIDE NURSING HOME
T-MOBILE                         	 T-MOBILE
ELM-YORK HOME FOR ADULTS         	 ELM-YORK HOME FOR ADULTS
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
JENNIE REALTY, LLC               	 JENNIE REALTY, LLC
LADY OF THE MIRACULOUS MEDAL     	 LADY OF THE MIRACULOUS MEDAL
SMARTLINK LLC                    	 SMARTLINK LLC
T-MOBILE                         	 T-MOBILE
T-MOBILE                         	 T-MOBILE
1997 PACIFIC STREET REALTY CORPO 	 1997 PACIFIC STREET REALTY CORPO
MDE REALTY                       	 MDE REALTY
TREASURE ISLAND STORAGE          	 TREASURE ISLAND STORAGE
STATEN ISLAND SELF STORAGE, INC  	 STATEN ISLAND SELF STORAGE, INC
WILLIAMSBURG LOFTS LLC C/O CARO  	 WILLIAMSBURG LOFTS LLC C/O CARO
*    50  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

GENESIS REALTY GROUP LLC         	 GENESIS REALTY GROUP LLC
ATRIUM                           	 ATRIUM
3685 REALTY                      	 3685 REALTY
ANN-GUR REALTY CORP.             	 ANN-GUR REALTY CORP.
KINGS & QUEENS LLC               	 KINGS & QUEENS LLC
SIVAN REALTY LLC                 	 SIVAN REALTY LLC
GRADY, INC.                      	 GRADY, INC.
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
LM SUTTON MANAGEMENT CO          	 LM SUTTON MANAGEMENT CO
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
QUEENS FRESH MEADOWS, LLC        	 QUEENS FRESH MEADOWS, LLC
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL, AS AGENT FOR TENANT
LONG ISLAND HOLDINGS A LLC       	 LONG ISLAND HOLDINGS A LLC
JACOBS, AS AGENT FOR TENANT      	 JACOBS, AS AGENT FOR TENANT
HENRY PHIPPS PLAZA EAST INC      	 HENRY PHIPPS PLAZA EAST INC
AUTOEXEC PROPERTIES INC.         	 AUTOEXEC PROPERTIES INC.
101 WEST 80TH STREET OWNERS CORP 	 101 WEST 80TH STREET OWNERS CORP
PARK TERRACE MANOR INC.          	 PARK TERRACE MANOR INC.
2001 AVENUE P, LLC C/O LIMOR MGT 	 2001 AVENUE P, LLC C/O LIMOR MGT
COURTLANDT AVENUE PROJECT HOUSIN 	 COURTLANDT AVENUE PROJECT HOUSIN
SHURGARD STORAGE CENTERS, INC.   	 SHURGARD STORAGE CENTERS, INC.
VERIZON WIRELESS                 	 VERIZON WIRELESS
P+L ASSOCIATES LLC C/O VISION MG 	 P+L ASSOCIATES LLC C/O VISION MG
GRAFTON REALTY CORP.             	 GRAFTON REALTY CORP.
FENTON ASSOCIATES                	 FENTON ASSOCIATES
647 EAST 11TH STREET LLC         	 647 EAST 11TH STREET LLC
OLR ECW LLC                      	 OLR ECW LLC
 AL RASHID DIN                   	  AL RASHID DIN
465 WASHINGTON LLC               	 465 WASHINGTON LLC
21 1ST AVE LLC                   	 21 1ST AVE LLC
420 WEST 206 STREET OWNERS CORP  	 420 WEST 206 STREET OWNERS CORP
TRI STAR EQUITIES                	 TRI STAR EQUITIES
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL, AS AGENT FOR TENANT
NEW CINGULAR WIRELESS PCS, LLC   	 NEW CINGULAR WIRELESS PCS, LLC
9502 COMPANY LLC                 	 9502 COMPANY LLC
CLIFFSIDE NURSING HOME           	 CLIFFSIDE NURSING HOME
T-MOBILE                         	 T-MOBILE
ELM-YORK HOME FOR ADULTS         	 ELM-YORK HOME FOR ADULTS
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
JENNIE REALTY, LLC               	 JENNIE REALTY, LLC
LADY OF THE MIRACULOUS MEDAL     	 LADY OF THE MIRACULOUS MEDAL
SMARTLINK LLC                    	 SMARTLINK LLC
T-MOBILE                         	 T-MOBILE
T-MOBILE                         	 T-MOBILE
1997 PACIFIC STREET REALTY CORPO 	 1997 PACIFIC STREET REALTY CORPO
MDE REALTY                       	 MDE REALTY
TREASURE ISLAND STORAGE          	 TREASURE ISLAND STORAGE
STATEN ISLAND SELF STORAGE, INC  	 STATEN ISLAND SELF STORAGE, INC
WILLIAMSBURG LOFTS LLC C/O CARO  	 WILLIAMSBURG LOFTS LLC C/O CARO
*    50  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

GENESIS REALTY GROUP LLC         	 GENESIS REALTY GROUP LLC
ATRIUM                           	 ATRIUM
3685 REALTY                      	 3685 REALTY
ANN-GUR REALTY CORP.             	 ANN-GUR REALTY CORP.
KINGS & QUEENS LLC               	 KINGS & QUEENS LLC
SIVAN REALTY LLC                 	 SIVAN REALTY LLC
GRADY, INC.                      	 GRADY, INC.
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
LM SUTTON MANAGEMENT CO          	 LM SUTTON MANAGEMENT CO
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
QUEENS FRESH MEADOWS, LLC        	 QUEENS FRESH MEADOWS, LLC
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL, AS AGENT FOR TENANT
LONG ISLAND HOLDINGS A LLC       	 LONG ISLAND HOLDINGS A LLC
JACOBS, AS AGENT FOR TENANT      	 JACOBS, AS AGENT FOR TENANT
HENRY PHIPPS PLAZA EAST INC      	 HENRY PHIPPS PLAZA EAST INC
AUTOEXEC PROPERTIES INC.         	 AUTOEXEC PROPERTIES INC.
101 WEST 80TH STREET OWNERS CORP 	 101 WEST 80TH STREET OWNERS CORP
PARK TERRACE MANOR INC.          	 PARK TERRACE MANOR INC.
2001 AVENUE P, LLC C/O LIMOR MGT 	 2001 AVENUE P, LLC C/O LIMOR MGT
COURTLANDT AVENUE PROJECT HOUSIN 	 COURTLANDT AVENUE PROJECT HOUSIN
SHURGARD STORAGE CENTERS, INC.   	 SHURGARD STORAGE CENTERS, INC.
VERIZON WIRELESS                 	 VERIZON WIRELESS
P+L ASSOCIATES LLC C/O VISION MG 	 P+L ASSOCIATES LLC C/O VISION MG
GRAFTON REALTY CORP.             	 GRAFTON REALTY CORP.
FENTON ASSOCIATES                	 FENTON ASSOCIATES
647 EAST 11TH STREET LLC         	 647 EAST 11TH STREET LLC
OLR ECW LLC                      	 OLR ECW LLC
 AL RASHID DIN                   	  AL RASHID DIN
465 WASHINGTON LLC               	 465 WASHINGTON LLC
21 1ST AVE LLC                   	 21 1ST AVE LLC
420 WEST 206 STREET OWNERS CORP  	 420 WEST 206 STREET OWNERS CORP
TRI STAR EQUITIES                	 TRI STAR EQUITIES
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL, AS AGENT FOR TENANT
NEW CINGULAR WIRELESS PCS, LLC   	 NEW CINGULAR WIRELESS PCS, LLC
9502 COMPANY LLC                 	 9502 COMPANY LLC
CLIFFSIDE NURSING HOME           	 CLIFFSIDE NURSING HOME
T-MOBILE                         	 T-MOBILE
ELM-YORK HOME FOR ADULTS         	 ELM-YORK HOME FOR ADULTS
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
JENNIE REALTY, LLC               	 JENNIE REALTY, LLC
LADY OF THE MIRACULOUS MEDAL     	 LADY OF THE MIRACULOUS MEDAL
SMARTLINK LLC                    	 SMARTLINK LLC
T-MOBILE                         	 T-MOBILE
T-MOBILE                         	 T-MOBILE
1997 PACIFIC STREET REALTY CORPO 	 1997 PACIFIC STREET REALTY CORPO
MDE REALTY                       	 MDE REALTY
TREASURE ISLAND STORAGE          	 TREASURE ISLAND STORAGE
STATEN ISLAND SELF STORAGE, INC  	 STATEN ISLAND SELF STORAGE, INC
WILLIAMSBURG LOFTS LLC C/O CARO  	 WILLIAMSBURG LOFTS LLC C/O CARO
*    50  same records   *

======================


column:  City
Original,	 Cleaned

BRONX           	 BRONX
STATEN ISLAND   	 STATEN ISLAND
BROOKLYN        	 BROOKLYN
BRONX           	 BRONX
WEST NEW YORK   	 WEST NEW YORK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
PARSIPPANY      	 PARSIPPANY
BRONX           	 BRONX
PARSIPPANY      	 PARSIPPANY
FRESH MEADOWS   	 FRESH MEADOWS
BLOOMFIELD      	 BLOOMFIELD
NEW YORK        	 NEW YORK
MORRISTOWN      	 MORRISTOWN
NEW YORK        	 NEW YORK
STATEN ISLAND   	 STATEN ISLAND
NEW YORK        	 NEW YORK
ENGLEWOOD CLIF  	 ENGLEWOOD CLIF
BROOKLYN        	 BROOKLYN
BRONX           	 BRONX
GLENDALE        	 GLENDALE
WEST NYACK      	 WEST NYACK
GREAT NECK      	 GREAT NECK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
OZONE PARK      	 OZONE PARK
BRONX           	 BRONX
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
BLOOMFIELD      	 BLOOMFIELD
BEDMINSTER      	 BEDMINSTER
ROCKAWAY BEACH  	 ROCKAWAY BEACH
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
LONG ISLAND CIT 	 LONG ISLAND CIT
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
BROOKLYN        	 BROOKLYN
FAR ROCKAWAY    	 FAR ROCKAWAY
QUEENS          	 QUEENS
STATEN ISLAND   	 STATEN ISLAND
NEW YORK        	 NEW YORK
*    50  same records   *

======================


column:  City
Original,	 Cleaned

BRONX           	 BRONX
STATEN ISLAND   	 STATEN ISLAND
BROOKLYN        	 BROOKLYN
BRONX           	 BRONX
WEST NEW YORK   	 WEST NEW YORK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
PARSIPPANY      	 PARSIPPANY
BRONX           	 BRONX
PARSIPPANY      	 PARSIPPANY
FRESH MEADOWS   	 FRESH MEADOWS
BLOOMFIELD      	 BLOOMFIELD
NEW YORK        	 NEW YORK
MORRISTOWN      	 MORRISTOWN
NEW YORK        	 NEW YORK
STATEN ISLAND   	 STATEN ISLAND
NEW YORK        	 NEW YORK
ENGLEWOOD CLIF  	 ENGLEWOOD CLIF
BROOKLYN        	 BROOKLYN
BRONX           	 BRONX
GLENDALE        	 GLENDALE
WEST NYACK      	 WEST NYACK
GREAT NECK      	 GREAT NECK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
OZONE PARK      	 OZONE PARK
BRONX           	 BRONX
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
BLOOMFIELD      	 BLOOMFIELD
BEDMINSTER      	 BEDMINSTER
ROCKAWAY BEACH  	 ROCKAWAY BEACH
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
LONG ISLAND CIT 	 LONG ISLAND CIT
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
BROOKLYN        	 BROOKLYN
FAR ROCKAWAY    	 FAR ROCKAWAY
QUEENS          	 QUEENS
STATEN ISLAND   	 STATEN ISLAND
NEW YORK        	 NEW YORK
*    50  same records   *

======================


column:  City
Original,	 Cleaned

BRONX           	 BRONX
STATEN ISLAND   	 STATEN ISLAND
BROOKLYN        	 BROOKLYN
BRONX           	 BRONX
WEST NEW YORK   	 WEST NEW YORK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
PARSIPPANY      	 PARSIPPANY
BRONX           	 BRONX
PARSIPPANY      	 PARSIPPANY
FRESH MEADOWS   	 FRESH MEADOWS
BLOOMFIELD      	 BLOOMFIELD
NEW YORK        	 NEW YORK
MORRISTOWN      	 MORRISTOWN
NEW YORK        	 NEW YORK
STATEN ISLAND   	 STATEN ISLAND
NEW YORK        	 NEW YORK
ENGLEWOOD CLIF  	 ENGLEWOOD CLIF
BROOKLYN        	 BROOKLYN
BRONX           	 BRONX
GLENDALE        	 GLENDALE
WEST NYACK      	 WEST NYACK
GREAT NECK      	 GREAT NECK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
OZONE PARK      	 OZONE PARK
BRONX           	 BRONX
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
BLOOMFIELD      	 BLOOMFIELD
BEDMINSTER      	 BEDMINSTER
ROCKAWAY BEACH  	 ROCKAWAY BEACH
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
LONG ISLAND CIT 	 LONG ISLAND CIT
QUEENS          	 QUEENS
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
BROOKLYN        	 BROOKLYN
FAR ROCKAWAY    	 FAR ROCKAWAY
QUEENS          	 QUEENS
STATEN ISLAND   	 STATEN ISLAND
NEW YORK        	 NEW YORK
*    50  same records   *

======================

In [ ]:
tp = 100
fp = 7

fn = 0
tn = 500 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [ ]:
recall(tp,fn)

# Housing-New-York-Units-by-Building

In [ ]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[1])
print(cleaned_cols)

In [ ]:
precision_recall(cleaned_cols, datafile, df)

In [ ]:
tp = 100
fp = 0

fn = 13
tn = 1350 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [ ]:
recall(tp,fn)

# Original dataset on DOB Jobs

In [ ]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[2])
print(cleaned_cols)

In [ ]:
precision_recall(cleaned_cols, datafile, df)

In [ ]:
tp = 442
fp = 128

fn = 39
tn = 1900 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [ ]:
recall(tp,fn)

# DOB-NOW-Build-Approved-Permits

In [ ]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[3])
print(cleaned_cols)

In [ ]:
precision_recall(cleaned_cols, datafile, df)

In [ ]:
tp = 273
fp = 50

fn = 86
tn = 1150 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [ ]:
recall(tp,fn)