# General version of data cleaning

This code will automatically perform data cleaning on each of the dataset in the directoty, to run this notebook you need to download all the datasets and place them in the current directoty with the notebook.

Because we automatically find columns and fix them, we can not afford clustering to find outliers for each datasets so remove it in this notebook, the precision and recall rate might be influenced.

Run the code in oreder to perform data clean, cleaned data will be save in the current directoty, and to calculate the precision and recall rate, you will need to manually inspect the result.

In [48]:
import openclean
import glob
import pandas as pd
import numpy as np

In [49]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

In [50]:
import pandas as pd
from openclean.pipeline import stream

In [51]:
file_list = glob.glob("*.tsv.gz")

In [52]:
def readData(file):
    
    datafile = './'+file
    
    df  = pd.read_csv(datafile, dtype='object', sep='\t')
    ds = stream(datafile)
    
    return datafile, df, ds

In [53]:
def findColumns(ds, column_name_list):
    data_cols = []

    for col in ds.columns:
        for name in column_name_list:
            if name in col:
                data_cols.append(col)
                
    return  data_cols

In [54]:
def fix_ID_Number_Column(df, ds):
    data_cols = findColumns(ds, ['ID','id','#','Number', 'number',' No',' NO'])
    
    for col in data_cols:
        
        df[col].fillna('', inplace=True)
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()

        df.loc[df[col].str.strip('')=='ONE', col] = '1'
        df.loc[df[col].str.strip('')=='TWO', col] = '2'
        df.loc[df[col].str.strip('')=='THREE', col] = '3'
        df.loc[df[col].str.strip('')=='FOUR', col] = '4'
        df.loc[df[col].str.strip('')=='FIVE', col] = '5'
        df.loc[df[col].str.strip('')=='SIX', col] = '6'
        df.loc[df[col].str.strip('')=='SEVEN', col] = '7'
        df.loc[df[col].str.strip('')=='EIGHT', col] = '8'
        df.loc[df[col].str.strip('')=='NINE', col] = '9'

        df.loc[df[col].str.strip('')=='NAN', col] = ''
        df.loc[df[col].str.strip('')=='nan', col] = ''
        
        df.loc[df[col].str.strip('')=='NO NUMBER', col] = ''
        
    return data_cols

In [55]:
def fix_Binary_Column(df, ds):
    data_cols = findColumns(ds, ['Landmarked','Owned', 'Filled'])
    
    for col in data_cols:
        
        df[col].fillna('N', inplace=True)
        df.loc[df[col]=='X', col] = 'Y'
        
        df.loc[df[col]=='Y', col] = True
        df.loc[df[col]!=True, col] = False
        
        df[col] = df[col].astype('bool')
        
    return data_cols

In [56]:
def fix_Monetary_Column(df, ds):
    data_cols = findColumns(ds, ['Cost','cost', 'fee', 'Fee'])
    
    for col in data_cols:
        
        df[col] = df[col].str.replace("$", '', regex=False)
        df[col] = df[col].str.replace("-", '', regex=False)
        
    return data_cols

In [57]:
def fix_Numerical_Column(df, ds):
    data_cols = findColumns(ds, ['Units','units', 'Height', 'height', 'Length', 'length', 'Footage', 'footage', 'Sqft', 'sqft'])
    
    for col in data_cols:
        
        df[col] = df[col].str.replace('-', '', regex=False)
        df[col] = df[col].str.replace('NONE', '0', regex=False)
        df[col] = df[col].str.replace('none', '0', regex=False)
        df[col] = df[col].str.replace('NAN', '0', regex=False)
        df[col] = df[col].str.replace('nan', '0', regex=False)
        
        
    return data_cols

In [58]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(df, ds, column_name, eps_setting = 0.05):
    datetime_data = df[column_name]

    light_outliers = DBSCANOutliers().find(datetime_data)
    
    return light_outliers

In [59]:
def fix_datetime_Column(df, ds):
    data_cols = findColumns(ds, ['date', 'Date', 'DATE'])
    
    for col in data_cols:
    
        
        light_outliers = findDateOutliers(df, ds, col)
        
        for item in light_outliers:
            
            df[col] = df[col].replace(item, None)
        
    return data_cols

In [60]:
from openclean.data.refdata import RefStore

refdata = RefStore()
city_df = refdata\
    .load('encyclopaedia_britannica:us_cities', auto_download=True)\
    .df()

In [61]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(df, ds, col, minsize = 2, preds = 0.5):
    dba = ds.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(preds)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0

def updateUsingClusters(df, ds, col, clusters, isPrint = False):
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i <5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
    
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [62]:
from openclean.function.eval.base import Col, Eval
from openclean.function.eval.logic import And
from openclean.function.value.phonetic import Soundex, soundex


def fix_city_and_name_Column(df, ds, file):
    data_cols = findColumns(ds, ['NAME', 'name', 'Name','city', 'City', 'CITY', 'BOROUGH', 'Borough', 'borough'])
    name_cols = findColumns(ds, ['NAME', 'name', 'Name'])
    
    # mapping list to replace outliers
    outlier1 = ['', 'MR. ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM 11', 'JOSEP;H``', 'DAID/11/2007', 'CHUNG   LUN', '718 9215010', 'ANTHONY', 'HSIA0-NAN', 'JOSEPH', '``````````', 'ROBERT  `', 'RAJENDRA9956700', '2', 'G.B.M.', 'EUGENE......JR', '6312100', 'CLAUDE,JR.', 'THOMAS``', 'ALAN  L', 'Nab53', 'MR. Y. B', 'J.J', 'PH8ILIP', 'I. M', 'RICHARD', 'ALBERTA S 111 D', 'P ;', 'GENECG.C. ENG &', 'J.J.', '2126202794', 'SHAW  HWA', 'HARRY         H', 'MR DOU8GLAS', '`1D', 'PAUL', 'K. T.', 'JOHN', '...NORMAN', 'EVAN   D', '7184361278BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MAD/Y/ARNI', 'ES ON SCH B', 'EUGENE.......JR', 'NEAL', 'F._ERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0-TECH', 'RODNEY   __', 'DAVID', 'G. L.', 'JAMES', 'LESLI8E', '7186054055', 'GEORGE', 'G.B.M', 'DAVID    JON', 'CHUNG---YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', '1P', 'JUDE.....N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD/HON-AN', 'GLEN  A.L.', 'J.B. Jr.', 'LORENZO..A', 'J J', '..RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY 2', '...JOSEPH', 'RUSSELL 111', 'THOMAS', 'H./E./CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', '--young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']
    mapping1 = [None, 'ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM', 'JOSEPH', None, 'CHUNG LUN', None, 'ANTHONY', 'HSIA0 NAN', 'JOSEPH', None, 'ROBERT', 'RAJENDRA', None, 'G.B.M.', 'EUGENEJR', None, 'CLAUDE JR.', 'THOMAS', 'ALAN  L', 'Nab', 'MR. Y. B', 'J.J', 'PHILIP', 'I. M', 'RICHARD', 'ALBERTA', None, 'GENECG.C. ENG', 'J.J.', None, 'SHAW HWA', 'HARRYH', 'MR DOUGLAS', None, 'PAUL', 'K. T.', 'JOHN', 'NORMAN', 'EVAND', 'BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MADYARNI', 'ES ON SCH B', 'EUGENEJR', 'NEAL', 'FERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0 TECH', 'RODNEY', 'DAVID', 'G. L.', 'JAMES', 'LESLIE', None, 'GEORGE', 'G.B.M', 'DAVID JON', 'CHUNG YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', None, 'JUDE N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD HON-AN', 'GLEN A.L.', 'J.B. Jr.', 'LORENZOA', 'J J', 'RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY', 'JOSEPH', 'RUSSELL', 'THOMAS', 'H.E.CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', 'young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']

    outlier2 = ['SHARMA #0', "0'CONNOR", 'RUSHTON    UEL', 'UDDIN   Z', 'HINKLEY 1', 'O&#039;CONNOR, P.E.', '.OOK', 'SAMUELS111', 'O&#039;CONNOR', 'CALIENDO', 'SMITH   JR.', 'LO  BUE', '7AN', '+-+ETTIERI', 'SMITH, 111', 'KAMEN   1', '.EE', 'MASS, 1', '.EI', 'Zagaroli 3rd', 'RINI   II', 'KAMEN   R', 'RYAN 11', 'SPI8EZIA L S', 'MUFTIC..A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL, P.E.', 'HAMA07', 'HINLEY,1', '1212', "O  ' CONNELL", 'HURT,JR.,', 'WESOLOWSKI', 'CHEN', '`ING, R.A', 'MARTARELLA 111', 'Gandhi, Ph.D., P.E.', '90I', 'ENNIS 2', 'COSTELLO R A A I A', '3UI', 'N/A', 'HURT,  JR', 'LEHR,1', 'KOHLER, 111', 'GERAZOUNIS', 'Alexander,1', 'LUBOW, R.A. LEED AP', 'RINI,111', '08CZAK', '````````````````````', 'CHAO  R.A.', 'Geier 11', '08NGEL', '08SOLOWSKI', 'I11', 'HINKLEY, 1', 'RUDIKOFF, P.E.', "O'CONNOR", 'SHAH   EZ', 'MIELE, JR., P.E.', 'RITTENHOUSE 111', 'AMADI   ISIOFIA', 'HINKLEY,1', 'RENFORE````````', "O'HARA,JR.", '73020012', 'PHAGOO   I', 'BRAY.....,', 'LLL', 'BHATHIA,1', 'GANDHI, PH. D., P.E', 'KO K', 'VASSALOTTI 11', 'HURT, JR .', '0018LKLE', 'RINI -111', 'PARIHAR', 'EE', 'L00802', 'ELISE.111', 'KING , R.A', 'CHRYSLER  P E', 'LEHR 1', 'Walters   Jr.', 'LEE', 'RINI  III', 'D&#039;ANGELO', '0UDOLPH III', 'VIEHE-NAESS 111', ',MO', '08E', '47DIKOFF', 'Yu,', '420865380', 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', '901BEN', '4153LOO', 'SYED-NAQVI', 'RYAN , JR.', 'K O K O R I S', 'ELISEO111', 'O&#039;CONNELL', 'ZEID61', '---Lewis', '00CHELI', 'MOHAMMAD       +++++', 'METZLER  P E', 'BAILEY', 'GANDHI, PH. D., P.E.', 'TIEMANN.111', 'SMITH.111', 'DI GER0NIMO', 'GANDHI, PH,D., P.E', 'III', 'J C', 'MAGAMI-QAIM-MAGAMI', '+M', 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', 'Y10007OR', 'SMITH,111', 'KING R A FAIA', 'RYAN III, AIA', '08AN', 'STARK 1', 'MASS', 'VICTORI0, R.A', 'RIZVI   A', '21029677', "3'CONNOR", 'Wong /  Lai', 'KAPLAN 3', 'GRAICHEN.JR./DAWN/DI', 'GROSSMAN ,PE,F.A.C.I']
    mapping2 = ['SHARMA ', "CONNOR", 'RUSHTON UEL', 'UDDIN Z', 'HINKLEY ', 'CONNOR P.E.', None, 'SAMUELS', 'CONNOR', 'CALIENDO', 'SMITH JR.', 'LO BUE', None, 'ETTIERI', 'SMITH', 'KAMEN', '.EE', 'MASS', '.EI', 'Zagaroli', 'RINI', 'KAMEN R', 'RYAN', 'SPIEZIA L S', 'MUFTIC.A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL P.E.', 'HAMA', 'HINLEY', None, "CONNELL", 'HURT JR.', 'WESOLOWSKI', 'CHEN', 'ING R.A', 'MARTARELLA', 'Gandhi', None, 'ENNIS ', 'COSTELLO R A A I A', None, None, 'HUR  JR', 'LEHR', 'KOHLER 111', 'GERAZOUNIS', 'Alexander', 'LUBOW R.A. LEED AP', 'RINI',None, None, 'CHAO R.A.', 'Geier', None, 'SOLOWSKI', None, 'HINKLEY', 'RUDIKOFF, P.E.', "CONNOR", 'SHAH EZ', 'MIELE JR. P.E.', 'RITTENHOUSE', 'AMADI   ISIOFIA', 'HINKLEY', 'RENFORE', "O'HARA,JR.", None, 'PHAGOO I', 'BRAY,', 'LLL', 'BHATHIA', 'GANDHI', 'KO K', 'VASSALOTTI', 'HURT JR.',None, 'RINI', 'PARIHAR', 'EE', None, 'ELISE', 'KING R.A', 'CHRYSLER  P E', 'LEHR', 'Walters Jr.', 'LEE', 'RINI  III', 'ANGELO', '0UDOLPH III', 'VIEHE-NAESS', 'MO', '08E', None, 'Yu,', None, 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', None, None, None, 'RYAN JR.', 'KOKORIS', 'ELISE', 'CONNELL', None, 'Lewis', 'CHELI', 'MOHAMMAD', 'METZLER  P E', 'BAILEY', 'GANDHI', 'TIEMANN', 'SMITH', 'DI GER0NIMO', 'GANDHI', 'III', 'J C', 'MAGAMI QAIM MAGAMI', None, 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', None, 'SMITH', 'KING R A FAIA', 'RYAN III AIA', None, 'STARK', 'MASS', 'VICTORI0 R.A', 'RIZVIA', None, "CONNOR", 'Wong Lai', 'KAPLAN', 'GRAICHEN.JR. DAWN DI', 'GROSSMAN']

    outlier3 = ['', '....DEMO', '050069', 'DEM. CONTR.,', 'XXXXX', 'G/C 10114H9', 'CGWC10114H99', '00', 'X S000155', '082-36-1245', 'G.G', 'LESSEE', '......GC', "'", '..OWNER', 'GC 2293', '--', 'XXXXXX', 'LS 31,721', '...GC', 'gen.cont.', 'G.C TK#4592', 'PE', 'RLA - 818', '.....OWNER', 'RLA 16077', 'G C', 'X 4129892', 'G. C.', 'R.L.A', 'GC 1028350', 'WC10114H99', 'LEESEE', 'GEN.CONT.', 'SIGN..HANGER', 'DEMO 20451', 'D8615', '.X', 'P.L.L.C', '..DEMO', 'G .C', 'L A', 'G.C NY11101', '32820', '....OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC99792', 'X 1341946', 'TRACK# 1390', 'EXPED.R4466', 'PLLC 9599691', 'G.C 1110101', '029649', '(CHECK)', 'DEM. CONTR,', 'EXPEDIT(H66172)', '.........GC', 'CITY OF N Y', 'GC 1170386', 'G. C', 'CO0OWNER', '(CHECKED)', 'C.C', '23392 1159774', 'DEMO {', 'RA', 'T. 31132', '....GC', 'RLA-787', 'TRACK #1390', 'D C', 'G.CONTR.', 'DEMO  CONT', '1GC', 'CC', 'demo G.C.', 'TRACK. #1390', 'M.F.S.P.C.', '...DEMO', 'DEMO G C', '13328', 'GEN  CONT', 'GC 1221073', "GC;'", 'DEMO 1341946', '11234', 'G.C.,', '.....GC', 'LIC.133668259 1', '?', '0WNER', 'C10892', 'GEN..CONT']
    mapping3 = [None, 'DEMO', None, 'DEM. CONTR', None, 'G/C', 'CGWC', None, 'X S', None, 'G.G', 'LESSEE', 'GC', None, 'OWNER', 'GC', None, None, 'LS ', 'GC', 'gen.cont.', 'G.C TK', 'PE', 'RLA ', 'OWNER', 'RLA ', 'G C', 'X', 'G. C.', 'R.L.A', 'GC', 'WC', 'LEESEE', 'GEN.CONT.', 'SIGN.HANGER', 'DEMO', None,None, 'P.L.L.C', 'DEMO', 'G.C', 'L A', 'G.C ', None, 'OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC', None, 'TRACK', 'EXPED.R', 'PLLC ', 'G.C', None, None, 'DEM. CONTR,', 'EXPEDIT', 'GC', None, 'GC', 'G.C', 'CO0OWNER', None, 'C.C', None, 'DEMO', 'RA', None, 'GC', 'RLA', None, 'D C', 'G.CONTR.', 'DEMO  CONT', 'GC', 'CC', 'demo G.C.', None, 'M.F.S.P.C.', 'DEMO', 'DEMO G C', None, 'GEN  CONT', 'GC ', "GC ", 'DEMO ', None, 'G.C.', 'GC', 'LIC', None, '0WNER',None, 'GEN.CONT']

    outlier4 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
    mapping4 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

    outliers = outlier1+ outlier2+ outlier3+ outlier4
    mappings = mapping1+ mapping2+ mapping3+ mapping4
       
    for col in data_cols:
        
        df[col] = df[col].replace(outliers, mappings)
        
        '''
        if file != 'rbx6-tga4.tsv.gz':
            light_outliers = findDateOutliers(df, ds, col)

            for item in light_outliers:

                df[col] = df[col].replace(item, None)
        
        
        if file != 'hg8x-zxpr.tsv.gz' and col in name_cols:
            col_clusters = getClusters(df, ds, col)
            updateUsingClusters(df, ds, col, col_clusters, True)
         '''
            
        df[col] = df[col].replace(['N/A', '', 'NA','NONE'], [None,None,None,None])
        
    return data_cols

In [63]:
def saveDf(df, datafile):
    outputpath = datafile[2:11]+'_cleaned_data_improved.csv'
    df.to_csv(outputpath,sep=',',index=False,header=True)

In [64]:
def dataCleanOnDataset(file):
    
    print('working on file: ', file)
    datafile, df, ds = readData(file)
    
    cleaned_cols = []
    
    print('fixing ID_Number_Column......')
    cleaned_cols += fix_ID_Number_Column(df, ds)
    
    print('fixing Binary_Column......')
    cleaned_cols += fix_Binary_Column(df, ds)
    
    print('fixing Monetary_Column......')
    cleaned_cols += fix_Monetary_Column(df, ds)
    
    print('fixing Numerical_Column......')
    cleaned_cols += fix_Numerical_Column(df, ds)
    
    print('fixing datetime_Column......')
    cleaned_cols += fix_datetime_Column(df, ds)
    
    print('fixing city_and_name_Column......')
    cleaned_cols += fix_city_and_name_Column(df, ds, file)
    
    saveDf(df, datafile)
    
    return cleaned_cols, datafile, df

In [65]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [66]:
def precision_recall(cleaned_columns, datafile, df, sample_size = 50 ):
    df2  = pd.read_csv(datafile, dtype='object', sep='\t')
    df2 = df2.drop_duplicates()

    

    df_sample_data =  df2.sample(sample_size).copy()
    
    print('sample size: ',sample_size)
    
    print('total size: ',sample_size * len(cleaned_columns))
    print('======================\n\n')

    same = 0

    for col in cleaned_columns:
        print("column: ", col)
        print("Original,\t Cleaned\n")
        for i in range(sample_size):
            if df[col].iloc[i]== df2[col].iloc[i]:
                print(df[col].iloc[i], '\t', df2[col].iloc[i], '\t')
                same += 1
            else:
                print(df[col].iloc[i], '\t', df2[col].iloc[i], '\t*')

        print('*   ', same, ' same records   *\n')
        same = 0

        print('======================\n\n')

# Buildings-Selected-for-the-Alternative-Enforcement

In [72]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[0])
print(cleaned_cols)

working on file:  hcir-3275.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['BUILDING_ID', '# OF B/C VIOLATIONS AT START', 'AEP_START_DATE', 'DISCHARGE_DATE', 'BOROUGH']

In [74]:
precision_recall(cleaned_cols, datafile, df, 100)

sample size:  100
total size:  500
======================


column:  BUILDING_ID
Original,	 Cleaned

118921 	 118921
338100 	 338100
354272 	 354272
148503 	 148503
309707 	 309707
214801 	 214801
527226 	 527226
104592 	 104592
78261 	 78261
387868 	 387868
326302 	 326302
327115 	 327115
129406 	 129406
315762 	 315762
373055 	 373055
328321 	 328321
52173 	 52173
297806 	 297806
91605 	 91605
334920 	 334920
62596 	 62596
360479 	 360479
379420 	 379420
314816 	 314816
432731 	 432731
311297 	 311297
355491 	 355491
129403 	 129403
327191 	 327191
22678 	 22678
309399 	 309399
337955 	 337955
284464 	 284464
68350 	 68350
325837 	 325837
359235 	 359235
298165 	 298165
768885 	 768885
166224 	 166224
145007 	 145007
297483 	 297483
342514 	 342514
371699 	 371699
288090 	 288090
320847 	 320847
394455 	 394455
222650 	 222650
535348 	 535348
332612 	 332612
380440 	 380440
949009 	 949009
373589 	 373589
358622 	 358622
308694 	 308694
876311 	 876311
5559 	 5559
230871 	 230871
120630 	 120630
288457 	 288457
326671 	 326671
91576 	 91576
96746 	 96746
287943 	 287943
42435 	 42435
225110 	 225110
875672 	 875672
288624 	 288624
144991 	 144991
183312 	 183312
66997 	 66997
374162 	 374162
282001 	 282001
356840 	 356840
81730 	 81730
1152 	 1152
507430 	 507430
305590 	 305590
316684 	 316684
8015 	 8015
112846 	 112846
297455 	 297455
89073 	 89073
65741 	 65741
62917 	 62917
104454 	 104454
213173 	 213173
350014 	 350014
339477 	 339477
208642 	 208642
297935 	 297935
806583 	 806583
301933 	 301933
306579 	 306579
57776 	 57776
66685 	 66685
41969 	 41969
563279 	 563279
40758 	 40758
59007 	 59007
398196 	 398196
*    100  same records   *

======================


column:  # OF B/C VIOLATIONS AT START
Original,	 Cleaned

280 	 280
156 	 156
328 	 328
66 	 66
130 	 130
126 	 126
1466 	 1466
926 	 926
649 	 649
54 	 54
625 	 625
1024 	 1024
926 	 926
175 	 175
96 	 96
383 	 383
206 	 206
213 	 213
1472 	 1472
373 	 373
532 	 532
103 	 103
725 	 725
389 	 389
723 	 723
205 	 205
997 	 997
237 	 237
1500 	 1500
535 	 535
79 	 79
445 	 445
167 	 167
259 	 259
52 	 52
165 	 165
158 	 158
183 	 183
243 	 243
167 	 167
143 	 143
265 	 265
534 	 534
486 	 486
279 	 279
443 	 443
114 	 114
162 	 162
219 	 219
489 	 489
909 	 909
609 	 609
241 	 241
87 	 87
154 	 154
962 	 962
218 	 218
502 	 502
235 	 235
902 	 902
229 	 229
169 	 169
370 	 370
248 	 248
1038 	 1038
409 	 409
484 	 484
1739 	 1739
443 	 443
872 	 872
357 	 357
70 	 70
147 	 147
2910 	 2910
494 	 494
114 	 114
400 	 400
85 	 85
611 	 611
168 	 168
186 	 186
2087 	 2087
1789 	 1789
184 	 184
1048 	 1048
184 	 184
431 	 431
175 	 175
318 	 318
231 	 231
919 	 919
406 	 406
163 	 163
148 	 148
715 	 715
362 	 362
592 	 592
1253 	 1253
721 	 721
139 	 139
*    100  same records   *

======================


column:  AEP_START_DATE
Original,	 Cleaned

01/31/2011 	 01/31/2011
01/31/2020 	 01/31/2020
02/02/2015 	 02/02/2015
01/31/2014 	 01/31/2014
01/31/2014 	 01/31/2014
11/12/2009 	 11/12/2009
01/31/2019 	 01/31/2019
02/01/2021 	 02/01/2021
01/31/2018 	 01/31/2018
11/13/2008 	 11/13/2008
01/31/2012 	 01/31/2012
01/31/2011 	 01/31/2011
01/31/2020 	 01/31/2020
01/31/2017 	 01/31/2017
01/31/2011 	 01/31/2011
02/01/2016 	 02/01/2016
11/13/2008 	 11/13/2008
11/13/2007 	 11/13/2007
11/13/2007 	 11/13/2007
01/31/2012 	 01/31/2012
01/31/2013 	 01/31/2013
02/01/2016 	 02/01/2016
11/13/2007 	 11/13/2007
02/02/2015 	 02/02/2015
01/31/2012 	 01/31/2012
01/31/2011 	 01/31/2011
01/31/2020 	 01/31/2020
01/31/2017 	 01/31/2017
11/13/2007 	 11/13/2007
11/13/2007 	 11/13/2007
11/12/2009 	 11/12/2009
01/31/2017 	 01/31/2017
01/31/2012 	 01/31/2012
01/31/2017 	 01/31/2017
02/02/2015 	 02/02/2015
11/13/2008 	 11/13/2008
01/31/2017 	 01/31/2017
01/31/2017 	 01/31/2017
02/01/2016 	 02/01/2016
11/12/2009 	 11/12/2009
01/31/2014 	 01/31/2014
01/31/2018 	 01/31/2018
11/13/2007 	 11/13/2007
01/31/2019 	 01/31/2019
02/01/2021 	 02/01/2021
01/31/2012 	 01/31/2012
11/13/2008 	 11/13/2008
01/31/2012 	 01/31/2012
01/31/2017 	 01/31/2017
02/01/2016 	 02/01/2016
02/01/2016 	 02/01/2016
01/31/2012 	 01/31/2012
11/12/2009 	 11/12/2009
02/02/2015 	 02/02/2015
02/02/2015 	 02/02/2015
11/12/2009 	 11/12/2009
01/31/2018 	 01/31/2018
01/31/2017 	 01/31/2017
01/31/2018 	 01/31/2018
11/13/2007 	 11/13/2007
01/31/2013 	 01/31/2013
02/02/2015 	 02/02/2015
11/12/2009 	 11/12/2009
01/31/2013 	 01/31/2013
01/31/2017 	 01/31/2017
02/02/2015 	 02/02/2015
11/13/2007 	 11/13/2007
11/13/2008 	 11/13/2008
11/13/2008 	 11/13/2008
02/01/2021 	 02/01/2021
01/31/2011 	 01/31/2011
01/31/2012 	 01/31/2012
11/13/2008 	 11/13/2008
11/13/2007 	 11/13/2007
01/31/2013 	 01/31/2013
01/31/2013 	 01/31/2013
01/31/2011 	 01/31/2011
11/12/2009 	 11/12/2009
01/31/2020 	 01/31/2020
11/13/2007 	 11/13/2007
01/31/2014 	 01/31/2014
01/31/2018 	 01/31/2018
02/01/2021 	 02/01/2021
02/01/2021 	 02/01/2021
01/31/2017 	 01/31/2017
11/13/2008 	 11/13/2008
11/13/2008 	 11/13/2008
01/31/2014 	 01/31/2014
11/13/2008 	 11/13/2008
11/13/2007 	 11/13/2007
02/02/2015 	 02/02/2015
01/31/2017 	 01/31/2017
11/12/2009 	 11/12/2009
01/31/2013 	 01/31/2013
01/31/2020 	 01/31/2020
02/02/2015 	 02/02/2015
01/31/2012 	 01/31/2012
01/31/2020 	 01/31/2020
01/31/2013 	 01/31/2013
01/31/2020 	 01/31/2020
*    100  same records   *

======================


column:  DISCHARGE_DATE
Original,	 Cleaned

11/08/2018 	 11/08/2018
10/23/2020 	 10/23/2020
10/05/2015 	 10/05/2015
04/23/2014 	 04/23/2014
06/12/2015 	 06/12/2015
03/26/2010 	 03/26/2010
06/13/2019 	 06/13/2019
07/07/2021 	 07/07/2021
05/18/2018 	 05/18/2018
03/19/2009 	 03/19/2009
07/13/2015 	 07/13/2015
10/06/2016 	 10/06/2016
10/28/2020 	 10/28/2020
06/22/2017 	 06/22/2017
01/07/2016 	 01/07/2016
12/31/2019 	 12/31/2019
03/08/2013 	 03/08/2013
11/13/2017 	 11/13/2017
05/07/2012 	 05/07/2012
12/01/2014 	 12/01/2014
02/12/2016 	 02/12/2016
06/14/2016 	 06/14/2016
04/06/2011 	 04/06/2011
06/19/2015 	 06/19/2015
09/03/2015 	 09/03/2015
10/23/2012 	 10/23/2012
09/21/2020 	 09/21/2020
05/17/2017 	 05/17/2017
11/14/2017 	 11/14/2017
01/06/2011 	 01/06/2011
09/26/2011 	 09/26/2011
05/16/2017 	 05/16/2017
11/13/2018 	 11/13/2018
04/19/2018 	 04/19/2018
05/15/2015 	 05/15/2015
05/16/2011 	 05/16/2011
03/03/2020 	 03/03/2020
03/19/2021 	 03/19/2021
06/16/2016 	 06/16/2016
10/04/2018 	 10/04/2018
08/24/2016 	 08/24/2016
12/12/2019 	 12/12/2019
09/10/2010 	 09/10/2010
09/09/2019 	 09/09/2019
09/09/2019 	 nan 	*
09/09/2019 	 nan 	*
04/17/2019 	 04/17/2019
06/15/2012 	 06/15/2012
01/09/2018 	 01/09/2018
07/05/2016 	 07/05/2016
05/31/2016 	 05/31/2016
05/29/2014 	 05/29/2014
07/11/2011 	 07/11/2011
08/19/2016 	 08/19/2016
09/21/2016 	 09/21/2016
03/10/2010 	 03/10/2010
12/31/2019 	 12/31/2019
06/08/2017 	 06/08/2017
12/17/2018 	 12/17/2018
08/17/2010 	 08/17/2010
05/31/2013 	 05/31/2013
05/10/2018 	 05/10/2018
01/08/2016 	 01/08/2016
05/11/2018 	 05/11/2018
07/05/2017 	 07/05/2017
06/18/2015 	 06/18/2015
07/12/2013 	 07/12/2013
05/12/2009 	 05/12/2009
03/13/2009 	 03/13/2009
03/13/2009 	 nan 	*
06/26/2012 	 06/26/2012
06/06/2012 	 06/06/2012
10/09/2013 	 10/09/2013
04/15/2013 	 04/15/2013
06/05/2013 	 06/05/2013
04/07/2016 	 04/07/2016
01/23/2014 	 01/23/2014
04/06/2011 	 04/06/2011
01/22/2021 	 01/22/2021
04/08/2011 	 04/08/2011
08/24/2016 	 08/24/2016
06/01/2018 	 06/01/2018
06/01/2018 	 nan 	*
06/01/2018 	 nan 	*
04/11/2017 	 04/11/2017
02/13/2013 	 02/13/2013
06/20/2013 	 06/20/2013
05/15/2018 	 05/15/2018
04/21/2009 	 04/21/2009
03/16/2015 	 03/16/2015
06/15/2015 	 06/15/2015
06/29/2017 	 06/29/2017
01/30/2012 	 01/30/2012
12/04/2013 	 12/04/2013
12/10/2020 	 12/10/2020
12/10/2020 	 nan 	*
06/05/2014 	 06/05/2014
11/10/2020 	 11/10/2020
12/20/2013 	 12/20/2013
12/20/2013 	 nan 	*
*    93  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Queens 	 Queens
Bronx 	 Bronx
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Queens 	 Queens
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Staten Island 	 Staten Island
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Queens 	 Queens
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Manhattan 	 Manhattan
Queens 	 Queens
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Manhattan 	 Manhattan
Queens 	 Queens
Manhattan 	 Manhattan
Bronx 	 Bronx
Brooklyn 	 Brooklyn
*    100  same records   *

======================

In [75]:
tp = 100
fp = 7

fn = 0
tn = 500 - tp - fp - fn

In [76]:
precision(tp, fp)

0.9345794392523364

In [77]:
recall(tp,fn)

1.0

# Housing-New-York-Units-by-Building

In [78]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[1])
print(cleaned_cols)

working on file:  hg8x-zxpr.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['Project ID', 'Building ID', 'Number', 'Middle Income Units', 'Extremely Low Income Units', 'Very Low Income Units', 'Low Income Units', 'Moderate Income Units', 'Middle Income Units', 'Other Income Units', 'Studio Units', '1-BR Units', '2-BR Units', '3-BR Units', '4-BR Units', '5-BR Units', '6-BR+ Units', 'Unknown-BR Units', 'Counted Rental Units', 'Counted Homeownership Units', 'All Counted Units', 'Total Units', 'Project Start Date', 'Project Completion Date', 'Building Completion Date', 'Project Name', 'Borough']

In [79]:
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1350
======================


column:  Project ID
Original,	 Cleaned

44223 	 44223
44223 	 44223
44223 	 44223
44223 	 44223
58871 	 58871
58871 	 58871
58871 	 58871
58871 	 58871
58871 	 58871
58871 	 58871
64543 	 64543
64543 	 64543
64543 	 64543
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
66909 	 66909
67910 	 67910
67910 	 67910
67910 	 67910
67910 	 67910
67910 	 67910
67910 	 67910
69280 	 69280
69428 	 69428
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69765 	 69765
69765 	 69765
*    50  same records   *

======================


column:  Building ID
Original,	 Cleaned

927737 	 927737
969695 	 969695
975702 	 975702
977564 	 977564
64740 	 64740
64863 	 64863
97372 	 97372
109490 	 109490
109521 	 109521
112824 	 112824
6567 	 6567
11581 	 11581
11701 	 11701
926974 	 926974
927550 	 927550
927551 	 927551
927552 	 927552
927561 	 927561
927563 	 927563
978709 	 978709
978711 	 978711
996113 	 996113
996114 	 996114
997575 	 997575
5563 	 5563
5635 	 5635
5642 	 5642
40762 	 40762
40764 	 40764
40780 	 40780
40792 	 40792
40934 	 40934
997246 	 997246
22728 	 22728
25509 	 25509
29402 	 29402
29403 	 29403
29405 	 29405
805444 	 805444
83696 	 83696
993786 	 993786
669304 	 669304
810604 	 810604
810605 	 810605
811576 	 811576
811577 	 811577
811578 	 811578
811579 	 811579
669305 	 669305
810974 	 810974
*    50  same records   *

======================


column:  Number
Original,	 Cleaned

335 	 335
35 	 35
18-22 	 18-22
329/331 	 329/331
149 	 149
200 	 200
1322 	 1322
1060 	 1060
1194 	 1194
1345 	 1345
195 	 195
406 	 406
533 	 533
687A 	 687A
821 	 821
278 	 278
1662 	 1662
697A 	 697A
358 	 358
191 	 191
179 	 179
50 	 50
1835 	 1835
13 	 13
1453 	 1453
1732 	 1732
1747 	 1747
507 	 507
509 	 509
529 	 529
625 	 625
510 	 510
750 	 750
250 	 250
35 	 35
75 	 75
605 	 605
645 	 645
675 	 675
1898 	 1898
88-20 	 88-20
158-40 	 158-40
159-21 	 159-21
162-01 	 162-01
161-02 	 161-02
161-06 	 161-06
161-10 	 161-10
161-32 	 161-32
161-25 	 161-25
67-11 	 67-11
*    50  same records   *

======================


column:  Middle Income Units
Original,	 Cleaned

0 	 0
6 	 6
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
3 	 3
0 	 0
0 	 0
0 	 0
3 	 3
2 	 2
0 	 0
2 	 2
3 	 3
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Extremely Low Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
15 	 15
7 	 7
27 	 27
6 	 6
10 	 10
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
1 	 1
2 	 2
7 	 7
0 	 0
33 	 33
12 	 12
11 	 11
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
2 	 2
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Very Low Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
17 	 17
9 	 9
12 	 12
36 	 36
30 	 30
12 	 12
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
6 	 6
6 	 6
7 	 7
10 	 10
13 	 13
9 	 9
7 	 7
14 	 14
40 	 40
129 	 129
134 	 134
123 	 123
123 	 123
124 	 124
123 	 123
38 	 38
0 	 0
64 	 64
32 	 32
29 	 29
20 	 20
51 	 51
26 	 26
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  Low Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
2 	 2
1 	 1
3 	 3
1 	 1
4 	 4
5 	 5
2 	 2
59 	 59
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
14 	 14
207 	 207
18 	 18
7 	 7
7 	 7
16 	 16
21 	 21
10 	 10
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Moderate Income Units
Original,	 Cleaned

13 	 13
2 	 2
14 	 14
10 	 10
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
9 	 9
21 	 21
14 	 14
0 	 0
0 	 0
3 	 3
3 	 3
3 	 3
0 	 0
0 	 0
3 	 3
0 	 0
0 	 0
3 	 3
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
2 	 2
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Middle Income Units
Original,	 Cleaned

0 	 0
6 	 6
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
3 	 3
0 	 0
0 	 0
0 	 0
3 	 3
2 	 2
0 	 0
2 	 2
3 	 3
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Other Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
1 	 1
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Studio Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
1 	 1
0 	 0
5 	 5
0 	 0
1 	 1
0 	 0
4 	 4
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
1 	 1
0 	 0
4 	 4
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
2 	 2
23 	 23
20 	 20
21 	 21
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
80 	 80
0 	 0
0 	 0
0 	 0
2 	 2
0 	 0
0 	 0
2 	 2
0 	 0
0 	 0
*    50  same records   *

======================


column:  1-BR Units
Original,	 Cleaned

2 	 2
2 	 2
14 	 14
3 	 3
9 	 9
8 	 8
0 	 0
23 	 23
4 	 4
2 	 2
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
4 	 4
5 	 5
5 	 5
6 	 6
0 	 0
10 	 10
70 	 70
63 	 63
65 	 65
43 	 43
43 	 43
43 	 43
43 	 43
34 	 34
72 	 72
16 	 16
7 	 7
7 	 7
10 	 10
14 	 14
9 	 9
13 	 13
14 	 14
4 	 4
*    50  same records   *

======================


column:  2-BR Units
Original,	 Cleaned

11 	 11
6 	 6
1 	 1
7 	 7
10 	 10
12 	 12
6 	 6
19 	 19
28 	 28
15 	 15
8 	 8
9 	 9
6 	 6
2 	 2
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
0 	 0
1 	 1
1 	 1
3 	 3
1 	 1
9 	 9
4 	 4
0 	 0
8 	 8
8 	 8
9 	 9
14 	 14
0 	 0
26 	 26
58 	 58
59 	 59
62 	 62
60 	 60
60 	 60
62 	 62
14 	 14
42 	 42
55 	 55
26 	 26
23 	 23
19 	 19
51 	 51
21 	 21
52 	 52
46 	 46
11 	 11
*    50  same records   *

======================


column:  3-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
4 	 4
13 	 13
16 	 16
0 	 0
5 	 5
0 	 0
10 	 10
4 	 4
0 	 0
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
1 	 1
2 	 2
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
4 	 4
1 	 1
1 	 1
0 	 0
5 	 5
6 	 6
14 	 14
0 	 0
0 	 0
19 	 19
21 	 21

21 	 21
19 	 19
6 	 6
13 	 13
13 	 13
6 	 6
6 	 6
5 	 5
8 	 8
6 	 6
10 	 10
12 	 12
3 	 3
*    50  same records   *

======================


column:  4-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
6 	 6
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  5-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  6-BR+ Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Unknown-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Counted Rental Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
20 	 20
24 	 24
20 	 20
64 	 64
37 	 37
22 	 22
0 	 0
0 	 0
0 	 0
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
2 	 2
1 	 1
2 	 2
2 	 2
9 	 9
8 	 8
9 	 9
15 	 15
15 	 15
16 	 16
20 	 20
18 	 18
133 	 133
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
54 	 54
207 	 207
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Counted Homeownership Units
Original,	 Cleaned

13 	 13
8 	 8
15 	 15
10 	 10
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
9 	 9
21 	 21
14 	 14
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
141 	 141
145 	 145
124 	 124
124 	 124
124 	 124
124 	 124
0 	 0
0 	 0
84 	 84
39 	 39
36 	 36
36 	 36
73 	 73
36 	 36
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  All Counted Units
Original,	 Cleaned

13 	 13
8 	 8
15 	 15
10 	 10
20 	 20
24 	 24
20 	 20
64 	 64
37 	 37
22 	 22
9 	 9
21 	 21
14 	 14
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
2 	 2
3 	 3
2 	 2
3 	 3
3 	 3
9 	 9
8 	 8
9 	 9
15 	 15
15 	 15
16 	 16
20 	 20
18 	 18
133 	 133
141 	 141
145 	 145
124 	 124
124 	 124
124 	 124
124 	 124
54 	 54
207 	 207
84 	 84
39 	 39
36 	 36
36 	 36
73 	 73
36 	 36
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  Total Units
Original,	 Cleaned

13 	 13
8 	 8
15 	 15
10 	 10
20 	 20
24 	 24
20 	 20
64 	 64
37 	 37
22 	 22
9 	 9
21 	 21
14 	 14
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
2 	 2
3 	 3
2 	 2
3 	 3
3 	 3
9 	 9
8 	 8
9 	 9
15 	 15
15 	 15
16 	 16
20 	 20
18 	 18
133 	 133
141 	 141
145 	 145
124 	 124
124 	 124
124 	 124
124 	 124
54 	 54
207 	 207
84 	 84
39 	 39
36 	 36
36 	 36
73 	 73
36 	 36
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  Project Start Date
Original,	 Cleaned

06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
*    50  same records   *

======================


column:  Project Completion Date
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Building Completion Date
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Project Name
Original,	 Cleaned

ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
LOWER EAST SIDE CLUSTER 	 LOWER EAST SIDE CLUSTER
LOWER EAST SIDE CLUSTER 	 LOWER EAST SIDE CLUSTER
LOWER EAST SIDE CLUSTER 	 LOWER EAST SIDE CLUSTER
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
111 WILLOW AVENUE 	 111 WILLOW AVENUE
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
1898 HARRISON AVENUE.GHPP.FY21 	 1898 HARRISON AVENUE.GHPP.FY21
88-20 153RD STREET 	 88-20 153RD STREET
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 2.HRP.FY21 	 ELECTCHESTER HOUSING CO 2.HRP.FY21
ELECTCHESTER HOUSING CO 2.HRP.FY21 	 ELECTCHESTER HOUSING CO 2.HRP.FY21
*    50  same records   *

======================


column:  Borough
Original,	 Cleaned

Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Bronx 	 Bronx
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Bronx 	 Bronx
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
*    50  same records   *

======================

In [80]:
tp = 100
fp = 0

fn = 13
tn = 1350 - tp - fp - fn

In [81]:
precision(tp, fp)

1.0

In [82]:
recall(tp,fn)

0.8849557522123894

# Original dataset on DOB Jobs

In [67]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[2])
print(cleaned_cols)

working on file:  ic3t-wcy2.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['Job #', 'Doc #', 'House #', 'Bin #', 'Applicant License #', 'Paid', 'Fully Paid', 'Proposed No. of Stories', "Owner's House Number", "Owner'sPhone #", 'Landmarked', 'City Owned', 'Initial Cost', 'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft', 'Proposed Zoning Sqft', 'Enlargement SQ Footage', 'Existing Height', 'Proposed Height', 'Existing Dwelling Units', 'Proposed Dwelling Units', 'Latest Action Date', 'Pre- Filing Date', 'DOBRunDate', 'SIGNOFF_DATE', 'SPECIAL_ACTION_DATE', 'Borough', 'Street Name', 'City Owned', "Applicant's First Name", "Applicant's Last Name", "Owner's First Name", "Owner's Last Name", "Owner's Business Name", "Owner'sHouse Street Name", 'City ', 'GIS_NTA_NAME']

In [68]:
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1900
======================


column:  Job #
Original,	 Cleaned

440673497 	 440673497
440673512 	 440673512
421133972 	 421133972
421133972 	 421133972
210182309 	 210182309
210182309 	 210182309
421902374 	 421902374
340810947 	 340810947
340810910 	 340810910
201204552 	 201204552
340810956 	 340810956
340810938 	 340810938
520462446 	 520462446
322053790 	 322053790
520386047 	 520386047
421902374 	 421902374
421786197 	 421786197
421786945 	 421786945
440673530 	 440673530
141001804 	 141001804
421789363 	 421789363
440673549 	 440673549
421788382 	 421788382
421788391 	 421788391
440673521 	 440673521
322093836 	 322093836
440673558 	 440673558
440673567 	 440673567
321527282 	 321527282
121203722 	 121203722
340810974 	 340810974
322095503 	 322095503
322095521 	 322095521
322095512 	 322095512
421902276 	 421902276
440673576 	 440673576
440673585 	 440673585
540200129 	 540200129
540200147 	 540200147
540200156 	 540200156
340810983 	 340810983
540200138 	 540200138
340810992 	 340810992
141001822 	 141001822
322053807 	 322053807
322053807 	 322053807
340811009 	 340811009
440673610 	 440673610
141001831 	 141001831
340811018 	 340811018
*    50  same records   *

======================


column:  Doc #
Original,	 Cleaned

01 	 01
01 	 01
02 	 02
03 	 03
02 	 02
03 	 03
01 	 01
01 	 01
01 	 01
02 	 02
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
02 	 02
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
02 	 02
01 	 01
01 	 01
02 	 02
02 	 02
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
02 	 02
01 	 01
01 	 01
01 	 01
01 	 01
*    50  same records   *

======================


column:  House #
Original,	 Cleaned

215-02 	 215-02
10040 	 10040
88-36 	 88-36
88-36 	 88-36
97 	 97
97 	 97
34-74 	 34-74
770 	 770
39 	 39
1000 	 1000
200 	 200
94 	 94
667 	 667
5909 	 5909
26 	 26
34-74 	 34-74
112-06 GAR 	 112-06 GAR
53-10 	 53-10
89-40 	 89-40
120 	 120
97-23 GAR 	 97-23 GAR
3229 	 3229
61-47 	 61-47
162-12 GAR 	 162-12 GAR
140-26 	 140-26
406 	 406
121-07 	 121-07
403 	 403
4 	 4
96 	 96
246 	 246
37 	 37
6523 	 6523
6519 	 6519
3-65 	 3-65
1047 	 1047
1047 	 1047
215B 	 215B
42 	 42
244 	 244
130 	 130
96 	 96
352 	 352
1221 	 1221
350 	 350
350 	 350
1632 	 1632
1047 	 1047
1221 	 1221
21 	 21
*    50  same records   *

======================


column:  Bin #
Original,	 Cleaned

4226672 	 4226672
4231025 	 4231025
4623670 	 4623670
4623670 	 4623670
2130622 	 2130622
2130622 	 2130622
4043827 	 4043827
3178977 	 3178977
3115124 	 3115124
2010892 	 2010892
3114725 	 3114725
3257001 	 3257001
5055018 	 5055018
3104599 	 3104599
5065122 	 5065122
4043827 	 4043827
4500869 	 4500869
4047634 	 4047634
4167571 	 4167571
1047536 	 1047536
4572195 	 4572195
4859712 	 4859712
4161983 	 4161983
4489364 	 4489364
4266829 	 4266829
3101627 	 3101627
4273182 	 4273182
4533050 	 4533050
3319505 	 3319505
1090738 	 1090738
3014493 	 3014493
3008172 	 3008172
3860771 	 3860771
3860772 	 3860772
4301929 	 4301929
4622929 	 4622929
4622929 	 4622929
5126199 	 5126199
5175065 	 5175065
5174820 	 5174820
3064805 	 3064805
5169900 	 5169900
3429036 	 3429036
1022693 	 1022693
3144482 	 3144482
3144482 	 3144482
3234245 	 3234245
4622929 	 4622929
1022693 	 1022693
3004932 	 3004932
*    50  same records   *

======================


column:  Applicant License #
Original,	 Cleaned

094110 	 094110
039534 	 039534
083395 	 083395
063868 	 063868
060272 	 060272
078732 	 078732
032590 	 032590
094110 	 094110
089068 	 089068
055232 	 055232
089068 	 089068
040034 	 040034
 	 nan 	*
035086 	 035086
038061 	 038061
075087 	 075087
071008 	 071008
 	 nan 	*
039534 	 039534
084951 	 084951
 	 nan 	*
077173 	 077173
 	 nan 	*
 	 nan 	*
094110 	 094110
087866 	 087866
035290 	 035290
094110 	 094110
066144 	 066144
087490 	 087490
087797 	 087797
093829 	 093829
060005 	 060005
060005 	 060005
027628 	 027628
021633 	 021633
021633 	 021633
039534 	 039534
033343 	 033343
033343 	 033343
035582 	 035582
095221 	 095221
030453 	 030453
090984 	 090984
023657 	 023657
055232 	 055232
035290 	 035290
021633 	 021633
090984 	 090984
063593 	 063593
*    45  same records   *

======================


column:  Paid
Original,	 Cleaned

04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
06/15/2021 	 06/15/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
10/26/2021 	 10/26/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
 	 nan 	*
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
05/15/2017 	 05/15/2017
05/15/2017 	 05/15/2017
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
*    49  same records   *

======================


column:  Fully Paid
Original,	 Cleaned

04/28/2021 	 04/28/2021
05/04/2021 	 05/04/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
06/15/2021 	 06/15/2021
04/28/2021 	 04/28/2021
07/20/2021 	 07/20/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
10/26/2021 	 10/26/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
 	 nan 	*
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
05/15/2017 	 05/15/2017
05/15/2017 	 05/15/2017
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
05/05/2021 	 05/05/2021
05/05/2021 	 05/05/2021
05/04/2021 	 05/04/2021
04/28/2021 	 04/28/2021
05/13/2021 	 05/13/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
05/10/2021 	 05/10/2021
04/29/2021 	 04/29/2021
*    49  same records   *

======================


column:  Proposed No. of Stories
Original,	 Cleaned

3 	 3
2 	 2
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
3 	 3
3 	 3
0 	 0
2 	 2
0 	 0
0 	 0
3 	 3
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
16 	 16
0 	 0
1 	 1
0 	 0
0 	 0
2 	 2
0 	 0
1 	 1
2 	 2
0 	 0
0 	 0
3 	 3
0 	 0
0 	 0
0 	 0
4 	 4
10 	 10
10 	 10
2 	 2
0 	 0
0 	 0
4 	 4
1 	 1
0 	 0
51 	 51
5 	 5
0 	 0
2 	 2
10 	 10
51 	 51
5 	 5
*    50  same records   *

======================


column:  Owner's House Number
Original,	 Cleaned

 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
*    0  same records   *

======================


column:  Owner'sPhone #
Original,	 Cleaned

6466575108 	 6466575108
6467122941 	 6467122941
9735976433 	 9735976433
9735976433 	 9735976433
2128638576 	 2128638576
2128638576 	 2128638576
7184728000 	 7184728000
4153122979 	 4153122979
3474747144 	 3474747144
7184728740 	 7184728740
3474747144 	 3474747144
5168576956 	 5168576956
9173419458 	 9173419458
7184728095 	 7184728095
7186056119 	 7186056119
7184728000 	 7184728000
9172956250 	 9172956250
7702988083 	 7702988083
5165143192 	 5165143192
2127533381 	 2127533381
2128698886 	 2128698886
4135224140 	 4135224140
3474531369 	 3474531369
9176099991 	 9176099991
6467075107 	 6467075107
3102592230 	 3102592230
7185257149 	 7185257149
3478404039 	 3478404039
2122700122 	 2122700122
2123123800 	 2123123800
2127319223 	 2127319223
6178009276 	 6178009276
3475921131 	 3475921131
3475921131 	 3475921131
7184728000 	 7184728000
2126185740 	 2126185740
2126185740 	 2126185740
8478776128 	 8478776128
9177717710 	 9177717710
9177717710 	 9177717710
7183497768 	 7183497768
7186053460 	 7186053460
7182223822 	 7182223822
2122821601 	 2122821601
7184728740 	 7184728740
7184728740 	 7184728740
6469322144 	 6469322144
2126185740 	 2126185740
2122821601 	 2122821601
6468814692 	 6468814692
*    50  same records   *

======================


column:  Landmarked
Original,	 Cleaned

False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
True 	 Y 	*
False 	 N 	*
True 	 Y 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
True 	 Y 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
True 	 Y 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
True 	 Y 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
False 	 N 	*
*    0  same records   *

======================


column:  City Owned
Original,	 Cleaned

False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
True 	 Y 	*
*    0  same records   *

======================


column:  Initial Cost
Original,	 Cleaned

44000.00 	 $44000.00 	*
6900.00 	 $6900.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
1132174.00 	 $1132174.00 	*
57380.00 	 $57380.00 	*
35944.00 	 $35944.00 	*
562849.00 	 $562849.00 	*
38526.00 	 $38526.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
50000.00 	 $50000.00 	*
0.00 	 $0.00 	*
318625.00 	 $318625.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
34000.00 	 $34000.00 	*
1000.00 	 $1000.00 	*
0.00 	 $0.00 	*
65000.00 	 $65000.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
16135.00 	 $16135.00 	*
0.00 	 $0.00 	*
24192.00 	 $24192.00 	*
28900.00 	 $28900.00 	*
2564525.00 	 $2564525.00 	*
0.00 	 $0.00 	*
8000.00 	 $8000.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
5827300.00 	 $5827300.00 	*
313760.00 	 $313760.00 	*
313760.00 	 $313760.00 	*
30600.00 	 $30600.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
50000.00 	 $50000.00 	*
16230.00 	 $16230.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
2031242.00 	 $2031242.00 	*
10200.00 	 $10200.00 	*
29000.00 	 $29000.00 	*
313760.00 	 $313760.00 	*
200000.00 	 $200000.00 	*
0.00 	 $0.00 	*
*    0  same records   *

======================


column:  Total Est. Fee
Original,	 Cleaned

231.40 	 $231.40 	*
135.20 	 $135.20 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
0.00 	 $0.00 	*
11864.00 	 $11864.00 	*
267.80 	 $267.80 	*
210.60 	 $210.60 	*
5993.00 	 $5993.00 	*
218.40 	 $218.40 	*
160.00 	 $160.00 	*
260.00 	 $260.00 	*
709.10 	 $709.10 	*
100.00 	 $100.00 	*
3479.80 	 $3479.80 	*
260.00 	 $260.00 	*
260.00 	 $260.00 	*
205.40 	 $205.40 	*
195.00 	 $195.00 	*
260.00 	 $260.00 	*
863.60 	 $863.60 	*
260.00 	 $260.00 	*
260.00 	 $260.00 	*
161.20 	 $161.20 	*
160.00 	 $160.00 	*
182.00 	 $182.00 	*
192.40 	 $192.40 	*
26633.00 	 $26633.00 	*
0.00 	 $0.00 	*
137.80 	 $137.80 	*
260.00 	 $260.00 	*
260.00 	 $260.00 	*
260.00 	 $260.00 	*
60222.50 	 $60222.50 	*
933.40 	 $933.40 	*
3428.30 	 $3428.30 	*
197.60 	 $197.60 	*
1576.00 	 $1576.00 	*
1560.00 	 $1560.00 	*
709.10 	 $709.10 	*
369.20 	 $369.20 	*
672.00 	 $672.00 	*
160.00 	 $160.00 	*
21123.70 	 $21123.70 	*
307.40 	 $307.40 	*
192.40 	 $192.40 	*
3428.30 	 $3428.30 	*

2414.10 	 $2414.10 	*
160.00 	 $160.00 	*
*    0  same records   *

======================


column:  Fee Status
Original,	 Cleaned

STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
EXEMPT 	 EXEMPT
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
EXEMPT 	 EXEMPT
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
EXEMPT 	 EXEMPT
STANDARD 	 STANDARD
STANDARD 	 STANDARD
*    50  same records   *

======================


column:  Existing Zoning Sqft
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Proposed Zoning Sqft
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Enlargement SQ Footage
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Existing Height
Original,	 Cleaned

30 	 30
29 	 29
0 	 0
0 	 0
0 	 0
0 	 0
50 	 50
39 	 39
40 	 40
0 	 0
34 	 34
0 	 0
13 	 13
45 	 45
0 	 0
0 	 0
10 	 10
25 	 25
30 	 30
134 	 134
15 	 15
15 	 15
15 	 15
12 	 12
24 	 24
0 	 0
16 	 16
23 	 23
0 	 0
0 	 0
32 	 32
22 	 22
21 	 21
21 	 21
55 	 55
113 	 113
113 	 113
24 	 24
0 	 0
0 	 0
46 	 46
23 	 23
0 	 0
674 	 674
76 	 76
0 	 0
35 	 35
113 	 113
674 	 674
56 	 56
*    50  same records   *

======================


column:  Proposed Height
Original,	 Cleaned

30 	 30
29 	 29
0 	 0
0 	 0
0 	 0
0 	 0
50 	 50
39 	 39
40 	 40
0 	 0
34 	 34
0 	 0
0 	 0
45 	 45
0 	 0
0 	 0
0 	 0
0 	 0
30 	 30
134 	 134
0 	 0
15 	 15
0 	 0
0 	 0
24 	 24
0 	 0
16 	 16
23 	 23
0 	 0
0 	 0
32 	 32
0 	 0
0 	 0
0 	 0
55 	 55
113 	 113
113 	 113
24 	 24
0 	 0
0 	 0
46 	 46
23 	 23
0 	 0
674 	 674
76 	 76
0 	 0
35 	 35
113 	 113
674 	 674
56 	 56
*    50  same records   *

======================


column:  Existing Dwelling Units
Original,	 Cleaned

1 	 1
1 	 1
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
1 	 1
2 	 2
nan 	 nan 	*
1 	 1
nan 	 nan 	*
1 	 1
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
1 	 1
1 	 1
98 	 98
nan 	 nan 	*
0 	 0
1 	 1
nan 	 nan 	*
2 	 2
nan 	 nan 	*
1 	 1
2 	 2
nan 	 nan 	*
nan 	 nan 	*
2 	 2
1 	 1
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
224 	 224
224 	 224
2 	 2
nan 	 nan 	*
nan 	 nan 	*
3 	 3
0 	 0
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
2 	 2
224 	 224
nan 	 nan 	*
1 	 1
*    24  same records   *

======================


column:  Proposed Dwelling Units
Original,	 Cleaned

1 	 1
1 	 1
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
1 	 1
2 	 2
nan 	 nan 	*
1 	 1
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
1 	 1
98 	 98
nan 	 nan 	*
0 	 0
nan 	 nan 	*
nan 	 nan 	*
2 	 2
nan 	 nan 	*
1 	 1
2 	 2
nan 	 nan 	*
nan 	 nan 	*
2 	 2
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
224 	 224
224 	 224
2 	 2
nan 	 nan 	*
nan 	 nan 	*
3 	 3
0 	 0
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
2 	 2
224 	 224
nan 	 nan 	*
1 	 1
*    20  same records   *

======================


column:  Latest Action Date
Original,	 Cleaned

05/05/2021 	 05/05/2021
05/21/2021 	 05/21/2021
06/24/2021 	 06/24/2021
06/24/2021 	 06/24/2021
11/10/2021 	 11/10/2021
11/10/2021 	 11/10/2021
04/28/2021 	 04/28/2021
05/05/2021 	 05/05/2021
05/10/2021 	 05/10/2021
06/15/2021 	 06/15/2021
06/29/2021 	 06/29/2021
07/28/2021 	 07/28/2021
06/14/2021 	 06/14/2021
08/25/2021 	 08/25/2021
11/04/2021 	 11/04/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
07/07/2021 	 07/07/2021
07/12/2021 	 07/12/2021
09/16/2021 	 09/16/2021
04/28/2021 	 04/28/2021
05/05/2021 	 05/05/2021
05/05/2021 	 05/05/2021
04/09/2018 	 04/09/2018
05/15/2019 	 05/15/2019
04/28/2021 	 04/28/2021
08/17/2021 	 08/17/2021
11/03/2021 	 11/03/2021
11/03/2021 	 11/03/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
05/10/2021 	 05/10/2021
05/12/2021 	 05/12/2021
05/12/2021 	 05/12/2021
05/14/2021 	 05/14/2021
07/09/2021 	 07/09/2021
10/12/2021 	 10/12/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
05/18/2021 	 05/18/2021
05/19/2021 	 05/19/2021
07/02/2021 	 07/02/2021
07/21/2021 	 07/21/2021
*    50  same records   *

======================


column:  Pre- Filing Date
Original,	 Cleaned

04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
05/15/2017 	 05/15/2017
05/15/2017 	 05/15/2017
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
04/29/2021 	 04/29/2021
*    50  same records   *

======================


column:  DOBRunDate
Original,	 Cleaned

05/06/2021 00:00:00 	 05/06/2021 00:00:00
05/22/2021 00:00:00 	 05/22/2021 00:00:00
06/25/2021 00:00:00 	 06/25/2021 00:00:00
06/25/2021 00:00:00 	 06/25/2021 00:00:00
11/11/2021 00:00:00 	 11/11/2021 00:00:00
11/11/2021 00:00:00 	 11/11/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
05/06/2021 00:00:00 	 05/06/2021 00:00:00
05/11/2021 00:00:00 	 05/11/2021 00:00:00
06/16/2021 00:00:00 	 06/16/2021 00:00:00
06/30/2021 00:00:00 	 06/30/2021 00:00:00
07/29/2021 00:00:00 	 07/29/2021 00:00:00
08/03/2021 00:00:00 	 08/03/2021 00:00:00
08/26/2021 00:00:00 	 08/26/2021 00:00:00
11/05/2021 00:00:00 	 11/05/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
07/09/2021 00:00:00 	 07/09/2021 00:00:00
07/13/2021 00:00:00 	 07/13/2021 00:00:00
09/17/2021 00:00:00 	 09/17/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
05/06/2021 00:00:00 	 05/06/2021 00:00:00
05/06/2021 00:00:00 	 05/06/2021 00:00:00
07/09/2021 00:00:00 	 07/09/2021 00:00:00
07/09/2021 00:00:00 	 07/09/2021 00:00:00
07/28/2021 00:00:00 	 07/28/2021 00:00:00
08/18/2021 00:00:00 	 08/18/2021 00:00:00
11/04/2021 00:00:00 	 11/04/2021 00:00:00
11/04/2021 00:00:00 	 11/04/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
04/29/2021 00:00:00 	 04/29/2021 00:00:00
05/11/2021 00:00:00 	 05/11/2021 00:00:00
05/13/2021 00:00:00 	 05/13/2021 00:00:00
05/13/2021 00:00:00 	 05/13/2021 00:00:00
05/15/2021 00:00:00 	 05/15/2021 00:00:00
07/10/2021 00:00:00 	 07/10/2021 00:00:00
10/13/2021 00:00:00 	 10/13/2021 00:00:00
04/30/2021 00:00:00 	 04/30/2021 00:00:00
04/30/2021 00:00:00 	 04/30/2021 00:00:00
04/30/2021 00:00:00 	 04/30/2021 00:00:00
05/19/2021 00:00:00 	 05/19/2021 00:00:00
05/20/2021 00:00:00 	 05/20/2021 00:00:00
07/03/2021 00:00:00 	 07/03/2021 00:00:00
07/24/2021 00:00:00 	 07/24/2021 00:00:00
*    50  same records   *

======================


column:  SIGNOFF_DATE
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
06/29/2021 	 06/29/2021
06/29/2021 	 nan 	*
06/14/2021 	 06/14/2021
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
06/14/2021 	 nan 	*
07/07/2021 	 07/07/2021
07/12/2021 	 07/12/2021
09/16/2021 	 09/16/2021
09/16/2021 	 nan 	*
09/16/2021 	 nan 	*
09/16/2021 	 nan 	*
04/09/2018 	 04/09/2018
04/09/2018 	 nan 	*
04/09/2018 	 nan 	*
08/17/2021 	 08/17/2021
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
08/17/2021 	 nan 	*
07/09/2021 	 07/09/2021
07/09/2021 	 nan 	*
07/09/2021 	 nan 	*
07/09/2021 	 nan 	*
07/09/2021 	 nan 	*
07/09/2021 	 nan 	*
07/09/2021 	 nan 	*
07/09/2021 	 nan 	*
07/09/2021 	 nan 	*
*    8  same records   *

======================


column:  SPECIAL_ACTION_DATE
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
04/28/2021 	 04/28/2021
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
07/27/2021 	 07/27/2021
07/27/2021 	 nan 	*
07/27/2021 	 nan 	*
07/27/2021 	 nan 	*
07/27/2021 	 nan 	*
04/28/2021 	 04/28/2021
04/28/2021 	 04/28/2021
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/28/2021 	 nan 	*
04/29/2021 	 04/29/2021
04/29/2021 	 nan 	*
04/29/2021 	 nan 	*
04/29/2021 	 nan 	*
04/29/2021 	 nan 	*
04/29/2021 	 nan 	*
04/29/2021 	 nan 	*
*    5  same records   *

======================


column:  Borough
Original,	 Cleaned

QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
BRONX 	 BRONX
BRONX 	 BRONX
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
STATEN ISLAND 	 STATEN ISLAND
STATEN ISLAND 	 STATEN ISLAND
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
*    50  same records   *

======================


column:  Street Name
Original,	 Cleaned

93 AVENUE 	 93 AVENUE
222 STREET 	 222 STREET
139TH STREET 	 139TH STREET
139TH STREET 	 139TH STREET
WEST 169 STREET 	 WEST 169 STREET
WEST 169 STREET 	 WEST 169 STREET
113 STREET 	 113 STREET
RUGBY ROAD 	 RUGBY ROAD
RUTLAND ROAD 	 RUTLAND ROAD
EAST TREMONT AVENUE 	 EAST TREMONT AVENUE
LINCOLN ROAD 	 LINCOLN ROAD
DOUGLASS STREET 	 DOUGLASS STREET
HUNTER AVENUE 	 HUNTER AVENUE
BEVERLY ROAD 	 BEVERLY ROAD
KEEGANS LANE 	 KEEGANS LANE
113 STREET 	 113 STREET
179 STREET 	 179 STREET
102 ST 	 102 ST
241ST STREET 	 241ST STREET
EAST 81 ST 	 EAST 81 ST
123 STREET 	 123 STREET

FAR ROCKAWAY  BLVD 	 FAR ROCKAWAY  BLVD
210 ST 	 210 ST
73 AVE 	 73 AVE
159 STREET 	 159 STREET
REMSEN AVE 	 REMSEN AVE
192 STREET 	 192 STREET
BEACH 48 STREET 	 BEACH 48 STREET
METROTECH 	 METROTECH
SOUTH STREET 	 SOUTH STREET
54TH STREET 	 54TH STREET
GARNET ST 	 GARNET ST
18 AVENUE 	 18 AVENUE
18 AVENUE 	 18 AVENUE
BEACH 56TH STREET 	 BEACH 56TH STREET
BEACH 21ST STREET 	 BEACH 21ST STREET
BEACH 21ST STREET 	 BEACH 21ST STREET
MILTON AVENUE 	 MILTON AVENUE
SEELEY LANE 	 SEELEY LANE
GANSEVOORT BLVD 	 GANSEVOORT BLVD
FRANKLIN STREET 	 FRANKLIN STREET
INDUSTRIAL LOOP 	 INDUSTRIAL LOOP
MEEKER AVE 	 MEEKER AVE
AVE OF THE AMERICAS 	 AVE OF THE AMERICAS
67TH STREET 	 67TH STREET
67TH STREET 	 67TH STREET
EAST 92ND STREET 	 EAST 92ND STREET
BEACH 21 STREET 	 BEACH 21 STREET
AVE OF THE AMERICAS 	 AVE OF THE AMERICAS
1ST PLACE 	 1ST PLACE
*    50  same records   *

======================


column:  City Owned
Original,	 Cleaned

False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
False 	 nan 	*
True 	 Y 	*
True 	 Y 	*
False 	 nan 	*
True 	 Y 	*
False 	 nan 	*
True 	 Y 	*
*    0  same records   *

======================


column:  Applicant's First Name
Original,	 Cleaned

WALID 	 WALID
DANIEL 	 DANIEL
PATRICK 	 PATRICK
STEVEN 	 STEVEN
JOSEPH 	 JOSEPH
THOMAS 	 THOMAS
HANY 	 HANY
WALID 	 WALID
NARESH 	 NARESH
RAVINDRANATH 	 RAVINDRANATH
NARESH 	 NARESH
ARIEL 	 ARIEL
STEPHANIE 	 STEPHANIE
SANDY 	 SANDY
GIUSEPPE 	 GIUSEPPE
ARKADY 	 ARKADY
MUZAFFAR 	 MUZAFFAR
JIN HUI 	 JIN HUI
DANIEL 	 DANIEL
ROBERT 	 ROBERT
AMRIK 	 AMRIK
JOSE 	 JOSE
HYUN KYUNG 	 HYUN KYUNG
SHANA 	 SHANA
WALID 	 WALID
ROBESPIERRE 	 ROBESPIERRE
TOM 	 TOM
WALID 	 WALID
TEDDY 	 TEDDY
JOHN 	 JOHN
SANTIAGO 	 SANTIAGO
CHRISTOPHER 	 CHRISTOPHER
NEIL 	 NEIL
NEIL 	 NEIL
JAMES 	 JAMES
JAMES 	 JAMES
JAMES 	 JAMES
DANIEL 	 DANIEL
FRANK 	 FRANK
FRANK 	 FRANK
HAFIZE 	 HAFIZE
VYACHESLAV 	 VYACHESLAV
LEANDRO 	 LEANDRO
LUIS 	 LUIS
JOSHUA 	 JOSHUA
RAVINDRANATH 	 RAVINDRANATH
TOM 	 TOM
JAMES 	 JAMES
LUIS 	 LUIS
TONY 	 TONY
*    50  same records   *

======================


column:  Applicant's Last Name
Original,	 Cleaned

ABDULLA 	 ABDULLA
DUNZIK 	 DUNZIK
MAHON 	 MAHON
NAJARIAN 	 NAJARIAN
DE NARDIS 	 DE NARDIS
THOMANN 	 THOMANN
SALIB 	 SALIB
ABDULLA 	 ABDULLA
MAHANGU 	 MAHANGU
SHENOY 	 SHENOY
MAHANGU 	 MAHANGU
AKRAB 	 AKRAB
PELLICANO 	 PELLICANO
BISHAY 	 BISHAY
BONOMO 	 BONOMO
KATS 	 KATS
JAMAL 	 JAMAL
ZHENG 	 ZHENG
DUNZIK 	 DUNZIK
MASONE 	 MASONE
SINGH 	 SINGH
MANTRANA 	 MANTRANA
AN 	 AN
WANG 	 WANG
ABDULLA 	 ABDULLA
ARISTILDE 	 ARISTILDE
PETERSEN 	 PETERSEN
ABDULLA 	 ABDULLA
MULIAWAN 	 MULIAWAN
BREDEHORST 	 BREDEHORST
HELMAN 	 HELMAN
SANDERS 	 SANDERS
WEXLER 	 WEXLER
WEXLER 	 WEXLER
BRIGHTON 	 BRIGHTON
STOUT 	 STOUT
STOUT 	 STOUT
DUNZIK 	 DUNZIK
MARTARELLA 	 MARTARELLA
MARTARELLA 	 MARTARELLA
BAVATEKIN BAYSAN 	 BAVATEKIN BAYSAN
NECHAYEV 	 NECHAYEV
DICKSON 	 DICKSON
VALDERRUTEN 	 VALDERRUTEN
BURDICK 	 BURDICK
SHENOY 	 SHENOY
PETERSEN 	 PETERSEN
STOUT 	 STOUT
VALDERRUTEN 	 VALDERRUTEN
ONYEAGORO 	 ONYEAGORO
*    50  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

MOHAMMAD 	 MOHAMMAD
JOSE 	 JOSE
BRAD 	 BRAD
BRAD 	 BRAD
RONA 	 RONA
RONA 	 RONA
JOSEPH 	 JOSEPH
JAMES 	 JAMES
CATHERINE 	 CATHERINE
ROBERT 	 ROBERT
ERIC 	 ERIC
OMRI 	 OMRI
MILENA 	 MILENA
COLIN 	 COLIN
GERARDO 	 GERARDO
JOSEPH 	 JOSEPH
ZAHED 	 ZAHED
JIN HUI 	 JIN HUI
RATHIGA 	 RATHIGA
BURTON 	 BURTON
HPD 	 HPD
TOM 	 TOM
HYUN KYUNG 	 HYUN KYUNG
SHANA 	 SHANA
KERETA 	 KERETA
AMIT 	 AMIT
KENNETH 	 KENNETH
KENY 	 KENY
JAMES 	 JAMES
RICHARD 	 RICHARD
JOSEPH 	 JOSEPH
KIRBY 	 KIRBY
BENJAMIN 	 BENJAMIN
BENJAMIN 	 BENJAMIN
JOSEPH 	 JOSEPH
RACHEL 	 RACHEL
RACHEL 	 RACHEL
RABIJA 	 RABIJA
CLIFFORD 	 CLIFFORD
CLIFFORD 	 CLIFFORD
JOSEPH 	 JOSEPH
FRANK 	 FRANK
MORDECHAI 	 MORDECHAI
BRIAN 	 BRIAN
COLIN 	 COLIN
COLIN 	 COLIN
MICHAEL 	 MICHAEL
RACHEL 	 RACHEL
BRIAN 	 BRIAN
MOHAMMED 	 MOHAMMED
*    50  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

AHMED 	 AHMED
RODRIGUEZ 	 RODRIGUEZ
HONIGFELD 	 HONIGFELD
HONIGFELD 	 HONIGFELD
REODICA 	 REODICA
REODICA 	 REODICA
SCALISI 	 SCALISI
ROHRBACH 	 ROHRBACH
ORCHARD 	 ORCHARD
MURPHY 	 MURPHY
BAKER 	 BAKER
BAR-MASHIAH 	 BAR-MASHIAH
KOSZALKA 	 KOSZALKA
ALBERT 	 ALBERT
MAZZEI 	 MAZZEI
SCALISI 	 SCALISI
HUSSAIN 	 HUSSAIN
ZHENG 	 ZHENG
JEYANANTHAN 	 JEYANANTHAN
WALLACK 	 WALLACK
NYC 	 NYC
HOLLAND 	 HOLLAND
AN 	 AN
WANG 	 WANG
LAWRENCE 	 LAWRENCE
ITSHAIK 	 ITSHAIK
LAYNE 	 LAYNE
PENA 	 PENA
DEMPSEY 	 DEMPSEY
COTE 	 COTE
LENO 	 LENO
LIU 	 LIU
CLYBURN 	 CLYBURN
CLYBURN 	 CLYBURN
SCALISI 	 SCALISI
LOEB 	 LOEB
LOEB 	 LOEB
DAPECVIC 	 DAPECVIC
SIEGEL 	 SIEGEL
SIEGEL 	 SIEGEL
KEATING 	 KEATING
MCERLEAN 	 MCERLEAN
GANZFRIED 	 GANZFRIED
SULLIVAN 	 SULLIVAN
ALBERT 	 ALBERT
ALBERT 	 ALBERT
LEE 	 LEE
LOEB 	 LOEB
SULLIVAN 	 SULLIVAN
ISLAM 	 ISLAM
*    50  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
BH JAMAICA, LLC 	 BH JAMAICA, LLC
BH JAMAICA, LLC 	 BH JAMAICA, LLC
HPD THE CITY OF NEW YORK 	 HPD THE CITY OF NEW YORK
HPD THE CITY OF NEW YORK 	 HPD THE CITY OF NEW YORK
SCHOOL CONSTRUCTION AUTHORITY 	 SCHOOL CONSTRUCTION AUTHORITY
nan 	 nan 	*
nan 	 nan 	*
NY SCHOOL CONSTRUCTION AUTHORITY 	 NY SCHOOL CONSTRUCTION AUTHORITY
nan 	 nan 	*
94 DOUGLASS LLC 	 94 DOUGLASS LLC
NOT APPLICABLE 	 NOT APPLICABLE
NYC SCHOOL CONSTRUCTION AUTHORIT 	 NYC SCHOOL CONSTRUCTION AUTHORIT
nan 	 nan 	*
SCHOOL CONSTRUCTION AUTHORITY 	 SCHOOL CONSTRUCTION AUTHORITY
SELF 	 SELF
53-10-102 LLC 	 53-10-102 LLC
nan 	 nan 	*
PR 	 PR
HOUSING PRESERVATION & DEVEL 	 HOUSING PRESERVATION & DEVEL
CHURCH OF JESUS CHIRST OF LATTER 	 CHURCH OF JESUS CHIRST OF LATTER
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
SAMMON ASSOCIATES 	 SAMMON ASSOCIATES
nan 	 nan 	*
nan 	 nan 	*
JP MORGAN CHASE 	 JP MORGAN CHASE
NYC ECONOMIC DEVELOPMENT CORP. 	 NYC ECONOMIC DEVELOPMENT CORP.
IMPACT EQUITIES 	 IMPACT EQUITIES
GARNET ALFA LLC 	 GARNET ALFA LLC
6518 AVE MANAGMENT, LLC 	 6518 AVE MANAGMENT, LLC
6518 AVE MANAGMENT, LLC 	 6518 AVE MANAGMENT, LLC
NYCSCA 	 NYCSCA
NEW YORK CITY ECONOMIC DEV CORP. 	 NEW YORK CITY ECONOMIC DEV CORP.
NEW YORK CITY ECONOMIC DEV CORP. 	 NEW YORK CITY ECONOMIC DEV CORP.
nan 	 nan 	*
CEE-JAY REAL ESTATE DEVELOPMENT 	 CEE-JAY REAL ESTATE DEVELOPMENT
CEE-JAY REAL ESTATE DEVELOPMENT 	 CEE-JAY REAL ESTATE DEVELOPMENT
JOSEPH KEATING 	 JOSEPH KEATING
nan 	 nan 	*
nan 	 nan 	*
ROCKEFELLER GROUP 	 ROCKEFELLER GROUP
NY SCHOOL CONSTRUCTION AUTHORITY 	 NY SCHOOL CONSTRUCTION AUTHORITY
NY SCHOOL CONSTRUCTION AUTHORITY 	 NY SCHOOL CONSTRUCTION AUTHORITY
nan 	 nan 	*
NEW YORK CITY ECONOMIC DEV CORP. 	 NEW YORK CITY ECONOMIC DEV CORP.
ROCKEFELLER GROUP 	 ROCKEFELLER GROUP
QUANTUM DESIGN 	 QUANTUM DESIGN
*    34  same records   *

======================


column:  Owner'sHouse Street Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  City
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  GIS_NTA_NAME
Original,	 Cleaned

Queens Village 	 Queens Village
Queens Village 	 Queens Village
Briarwood-Jamaica Hills 	 Briarwood-Jamaica Hills
Briarwood-Jamaica Hills 	 Briarwood-Jamaica Hills
Highbridge 	 Highbridge
Highbridge 	 Highbridge
North Corona 	 North Corona
Flatbush 	 Flatbush
Prospect Lefferts Gardens-Wingate 	 Prospect Lefferts Gardens-Wingate
East Tremont 	 East Tremont
Prospect Lefferts Gardens-Wingate 	 Prospect Lefferts Gardens-Wingate
Carroll Gardens-Columbia Street-Red Hook 	 Carroll Gardens-Columbia Street-Red Hook
Old Town-Dongan Hills-South Beach 	 Old Town-Dongan Hills-South Beach
Rugby-Remsen Village 	 Rugby-Remsen Village
Great Kills 	 Great Kills
North Corona 	 North Corona
St. Albans 	 St. Albans
Corona 	 Corona
Bellerose 	 Bellerose
Upper East Side-Carnegie Hill 	 Upper East Side-Carnegie Hill
Richmond Hill 	 Richmond Hill
Hammels-Arverne-Edgemere 	 Hammels-Arverne-Edgemere
Oakland Gardens 	 Oakland Gardens
Pomonok-Flushing Heights-Hillcrest 	 Pomonok-Flushing Heights-Hillcrest
Springfield Gardens North 	 Springfield Gardens North
Rugby-Remsen Village 	 Rugby-Remsen Village
St. Albans 	 St. Albans
Hammels-Arverne-Edgemere 	 Hammels-Arverne-Edgemere
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill 	 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill
Battery Park City-Lower Manhattan 	 Battery Park City-Lower Manhattan
Sunset Park West 	 Sunset Park West
Carroll Gardens-Columbia Street-Red Hook 	 Carroll Gardens-Columbia Street-Red Hook
Bensonhurst West 	 Bensonhurst West
Bensonhurst West 	 Bensonhurst West
Hammels-Arverne-Edgemere 	 Hammels-Arverne-Edgemere
Far Rockaway-Bayswater 	 Far Rockaway-Bayswater
Far Rockaway-Bayswater 	 Far Rockaway-Bayswater
Oakwood-Oakwood Beach 	 Oakwood-Oakwood Beach
Great Kills 	 Great Kills
New Springville-Bloomfield-Travis 	 New Springville-Bloomfield-Travis
Greenpoint 	 Greenpoint
Charleston-Richmond Valley-Tottenville 	 Charleston-Richmond Valley-Tottenville
East Williamsburg 	 East Williamsburg
Midtown-Midtown South 	 Midtown-Midtown South
Bay Ridge 	 Bay Ridge
Bay Ridge 	 Bay Ridge
Canarsie 	 Canarsie
Far Rockaway-Bayswater 	 Far Rockaway-Bayswater
Midtown-Midtown South 	 Midtown-Midtown South
Carroll Gardens-Columbia Street-Red Hook 	 Carroll Gardens-Columbia Street-Red Hook
*    50  same records   *

======================

In [69]:
tp = 442
fp = 128

fn = 39
tn = 1900 - tp - fp - fn

In [70]:
precision(tp, fp)

0.775438596491228

In [71]:
recall(tp,fn)

0.918918918918919

# DOB-NOW-Build-Approved-Permits

In [83]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[3])
print(cleaned_cols)

working on file:  rbx6-tga4.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['Job Filing Number', 'House No', 'C B NO', 'Apt/Condo No(s)', 'Applicant License #', 'Applicant Middle Name', 'Filing Representative Middle Initial', 'Estimated Job Costs', 'Approved Date', 'Issued Date', 'Expired Date', 'Street Name', 'Borough', 'Applicant First Name', 'Applicant Middle Name', 'Applicant Last Name', 'Applicant Business Name', 'Filing Representative First Name', 'Filing Representative Last Name', 'Filing Representative Business Name', 'Owner Business Name', 'Owner Name', 'Owner City']

In [84]:
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1150
======================


column:  Job Filing Number
Original,	 Cleaned

M00531234-I1 	 M00531234-I1
X00496654-I1 	 X00496654-I1
B00579209-I1 	 B00579209-I1
M00514656-I1 	 M00514656-I1
M00431823-I1 	 M00431823-I1
B00583762-I1 	 B00583762-I1
B00516232-I1 	 B00516232-I1
B00472417-I1 	 B00472417-I1
B29303378-I1 	 B29303378-I1
M00379533-I1 	 M00379533-I1
B00369280-I1 	 B00369280-I1
B00378717-I1 	 B00378717-I1
Q00284352-I1 	 Q00284352-I1
B00513806-I1 	 B00513806-I1
S00426773-I1 	 S00426773-I1
S00253862-I1 	 S00253862-I1
X00434717-I1 	 X00434717-I1
B00055891-I1 	 B00055891-I1
B00491585-I1 	 B00491585-I1
M00514118-I1 	 M00514118-I1
B00283296-I1 	 B00283296-I1
B00516235-I1 	 B00516235-I1
B00500645-I1 	 B00500645-I1
M00308545-I1 	 M00308545-I1
M00431432-I1 	 M00431432-I1
M00492347-I1 	 M00492347-I1
X00468553-I1 	 X00468553-I1
M00489394-I1 	 M00489394-I1
M00406969-I1 	 M00406969-I1
M00510532-I1 	 M00510532-I1
Q00513093-I1 	 Q00513093-I1
X00294312-I1 	 X00294312-I1
M00340646-I1 	 M00340646-I1
B00504274-I1 	 B00504274-I1
B00508946-I1 	 B00508946-I1
Q00509417-I1 	 Q00509417-I1
M00296154-I1 	 M00296154-I1
B00569487-I1 	 B00569487-I1
M00503100-I1 	 M00503100-I1
M00502169-I1 	 M00502169-I1
M00516217-I1 	 M00516217-I1
B00428043-I1 	 B00428043-I1
Q00534245-I1 	 Q00534245-I1
Q00504804-I1 	 Q00504804-I1
M00449689-S2 	 M00449689-S2
S00336724-I1 	 S00336724-I1
S00253920-I1 	 S00253920-I1
B00238236-I1 	 B00238236-I1
M00449689-S2 	 M00449689-S2
X00174607-I1 	 X00174607-I1
*    50  same records   *

======================


column:  House No
Original,	 Cleaned

26 	 26
1051 	 1051
1010 	 1010
33 	 33
301 	 301
350 	 350
102 	 102
1329 	 1329
106 	 106
204 	 204
309 	 309
538 	 538
57-28 	 57-28
136 	 136
7 	 7
116 	 116
1073 	 1073
652 	 652
434 	 434
6 	 6
408 	 408
102 	 102
691 	 691
2643 	 2643
1 	 1
120 	 120
915 	 915
350 	 350
120 	 120
245 	 245
112-27 	 112-27
641 	 641
360 	 360
1115 	 1115
64 	 64
99-06 	 99-06
311 	 311
333 	 333
101 	 101
1375 	 1375
12 	 12
580 	 580
133-43 	 133-43
82-08 	 82-08
224 	 224
2500 	 2500
101 	 101
717 	 717
224 	 224
362 	 362
*    50  same records   *

======================


column:  C B NO
Original,	 Cleaned

112 	 112
202 	 202
308 	 308
110 	 110
108 	 108
304 	 304
304 	 304
304 	 304
303 	 303
103 	 103
302 	 302
310 	 310
402 	 402
301 	 301
502 	 502
503 	 503
204 	 204
302 	 302
310 	 310
101 	 101
315 	 315
304 	 304
303 	 303
107 	 107
105 	 105
101 	 101
206 	 206
104 	 104
105 	 105
105 	 105
407 	 407
212 	 212
105 	 105
310 	 310
302 	 302
404 	 404
102 	 102
302 	 302
101 	 101
105 	 105
105 	 105
307 	 307
407 	 407
408 	 408
110 	 110
502 	 502
503 	 503
307 	 307
110 	 110
201 	 201
*    50  same records   *

======================


column:  Apt/Condo No(s)
Original,	 Cleaned

 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
*    0  same records   *

======================


column:  Applicant License #
Original,	 Cleaned

620856 	 620856
000186 	 000186
620856 	 620856
603235 	 603235
001572 	 001572
039896 	 039896
032158 	 032158
001314 	 001314
001875 	 001875
620842 	 620842
002111 	 002111
001901 	 001901
000851 	 000851
620022 	 620022
001719 	 001719
000363 	 000363
620022 	 620022
612883 	 612883
618877 	 618877
000483 	 000483
001253 	 001253
032158 	 032158
610032 	 610032
001390 	 001390
000287 	 000287
000908 	 000908
620022 	 620022
000161 	 000161
003820 	 003820
608580 	 608580
621680 	 621680
612734 	 612734
015697 	 015697
622679 	 622679
618877 	 618877
003365 	 003365
613262 	 613262
000196 	 000196
032892 	 032892
000224 	 000224
032158 	 032158
001315 	 001315
611387 	 611387
015697 	 015697
000991 	 000991
005598 	 005598
000363 	 000363
616920 	 616920
000991 	 000991
029817 	 029817
*    50  same records   *

======================


column:  Applicant Middle Name
Original,	 Cleaned

None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
*    0  same records   *

======================


column:  Filing Representative Middle Initial
Original,	 Cleaned

 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
*    0  same records   *

======================


column:  Estimated Job Costs
Original,	 Cleaned

5000 	 5000
1850 	 1850
1000 	 1000
1 	 1
5000 	 5000
4500 	 4500
1000 	 1000
68750 	 68750
25500 	 25500
1 	 1
81997.88 	 81997.88
50000 	 50000
1000 	 1000
5000 	 5000
25000 	 25000
36250 	 36250
5000 	 5000
15000 	 15000
87990 	 87990
4000 	 4000
17600 	 17600
1000 	 1000
9998.75 	 9998.75
9000 	 9000
16000 	 16000
5000 	 5000
5000 	 5000
82000 	 82000
40500 	 40500
449892.6 	 449892.6
15000 	 15000
15000 	 15000
1 	 1
120000 	 120000
10000 	 10000
64225 	 64225
10000 	 10000
2400 	 2400
4198435 	 4198435
2457 	 2457
1 	 1
10000 	 10000
4500 	 4500
1511950 	 1511950
200 	 200
5000 	 5000
41500 	 41500
7501.5 	 7501.5
200 	 200
5000 	 5000
*    50  same records   *

======================


column:  Approved Date
Original,	 Cleaned

06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
12/14/2020 12:00:00 AM 	 12/14/2020 12:00:00 AM
09/20/2021 12:00:00 AM 	 09/20/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
02/24/2021 12:00:00 AM 	 02/24/2021 12:00:00 AM
05/18/2020 12:00:00 AM 	 05/18/2020 12:00:00 AM
08/10/2020 12:00:00 AM 	 08/10/2020 12:00:00 AM
08/19/2020 12:00:00 AM 	 08/19/2020 12:00:00 AM
08/10/2020 12:00:00 AM 	 08/10/2020 12:00:00 AM
01/07/2020 12:00:00 AM 	 01/07/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/13/2020 12:00:00 AM 	 11/13/2020 12:00:00 AM
10/29/2019 12:00:00 AM 	 10/29/2019 12:00:00 AM
12/04/2020 12:00:00 AM 	 12/04/2020 12:00:00 AM
06/29/2018 12:00:00 AM 	 06/29/2018 12:00:00 AM
03/31/2021 12:00:00 AM 	 03/31/2021 12:00:00 AM
05/05/2021 12:00:00 AM 	 05/05/2021 12:00:00 AM
12/23/2019 12:00:00 AM 	 12/23/2019 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
04/28/2021 12:00:00 AM 	 04/28/2021 12:00:00 AM
02/26/2020 12:00:00 AM 	 02/26/2020 12:00:00 AM
02/18/2021 12:00:00 AM 	 02/18/2021 12:00:00 AM
04/26/2021 12:00:00 AM 	 04/26/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
04/10/2021 12:00:00 AM 	 04/10/2021 12:00:00 AM
11/12/2020 12:00:00 AM 	 11/12/2020 12:00:00 AM
06/03/2021 12:00:00 AM 	 06/03/2021 12:00:00 AM
05/02/2021 12:00:00 AM 	 05/02/2021 12:00:00 AM
01/13/2020 12:00:00 AM 	 01/13/2020 12:00:00 AM
04/30/2020 12:00:00 AM 	 04/30/2020 12:00:00 AM
05/03/2021 12:00:00 AM 	 05/03/2021 12:00:00 AM
04/29/2021 12:00:00 AM 	 04/29/2021 12:00:00 AM
06/09/2021 12:00:00 AM 	 06/09/2021 12:00:00 AM
02/11/2020 12:00:00 AM 	 02/11/2020 12:00:00 AM
08/17/2021 12:00:00 AM 	 08/17/2021 12:00:00 AM
04/16/2021 12:00:00 AM 	 04/16/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/23/2020 12:00:00 AM 	 11/23/2020 12:00:00 AM
06/11/2021 12:00:00 AM 	 06/11/2021 12:00:00 AM
06/17/2021 12:00:00 AM 	 06/17/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
03/06/2020 12:00:00 AM 	 03/06/2020 12:00:00 AM
10/03/2019 12:00:00 AM 	 10/03/2019 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
06/04/2019 12:00:00 AM 	 06/04/2019 12:00:00 AM
*    50  same records   *

======================


column:  Issued Date
Original,	 Cleaned

06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/04/2021 12:00:00 AM 	 06/04/2021 12:00:00 AM
09/23/2021 12:00:00 AM 	 09/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
01/28/2021 12:00:00 AM 	 01/28/2021 12:00:00 AM
04/04/2021 12:00:00 AM 	 04/04/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/16/2020 12:00:00 AM 	 11/16/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
12/04/2020 12:00:00 AM 	 12/04/2020 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
07/13/2021 12:00:00 AM 	 07/13/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
03/25/2021 12:00:00 AM 	 03/25/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
08/24/2021 12:00:00 AM 	 08/24/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
07/13/2021 12:00:00 AM 	 07/13/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/29/2020 12:00:00 AM 	 05/29/2020 12:00:00 AM
*    50  same records   *

======================


column:  Expired Date
Original,	 Cleaned

06/23/2022 12:00:00 AM 	 06/23/2022 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
07/20/2022 12:00:00 AM 	 07/20/2022 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
03/11/2022 05:00:00 AM 	 03/11/2022 05:00:00 AM
11/01/2021 04:00:00 AM 	 11/01/2021 04:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
04/19/2022 12:00:00 AM 	 04/19/2022 12:00:00 AM
02/25/2021 12:00:00 AM 	 02/25/2021 12:00:00 AM
04/01/2022 04:00:00 AM 	 04/01/2022 04:00:00 AM
08/07/2021 04:00:00 AM 	 08/07/2021 04:00:00 AM
12/26/2021 12:00:00 AM 	 12/26/2021 12:00:00 AM
11/30/2021 12:00:00 AM 	 11/30/2021 12:00:00 AM
05/06/2022 04:00:00 AM 	 05/06/2022 04:00:00 AM
09/15/2021 04:00:00 AM 	 09/15/2021 04:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
12/04/2021 05:00:00 AM 	 12/04/2021 05:00:00 AM
02/22/2022 12:00:00 AM 	 02/22/2022 12:00:00 AM
04/25/2022 12:00:00 AM 	 04/25/2022 12:00:00 AM
06/10/2021 12:00:00 AM 	 06/10/2021 12:00:00 AM
01/10/2022 12:00:00 AM 	 01/10/2022 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
04/16/2022 04:00:00 AM 	 04/16/2022 04:00:00 AM
03/08/2022 12:00:00 AM 	 03/08/2022 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
02/01/2022 12:00:00 AM 	 02/01/2022 12:00:00 AM
02/16/2022 05:00:00 AM 	 02/16/2022 05:00:00 AM
11/01/2021 12:00:00 AM 	 11/01/2021 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
06/29/2021 04:00:00 AM 	 06/29/2021 04:00:00 AM
02/10/2022 12:00:00 AM 	 02/10/2022 12:00:00 AM
09/19/2021 04:00:00 AM 	 09/19/2021 04:00:00 AM
01/15/2022 05:00:00 AM 	 01/15/2022 05:00:00 AM
03/02/2022 12:00:00 AM 	 03/02/2022 12:00:00 AM
04/25/2022 12:00:00 AM 	 04/25/2022 12:00:00 AM
02/28/2022 12:00:00 AM 	 02/28/2022 12:00:00 AM
08/16/2022 04:00:00 AM 	 08/16/2022 04:00:00 AM
11/01/2021 04:00:00 AM 	 11/01/2021 04:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
05/10/2021 12:00:00 AM 	 05/10/2021 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
08/16/2021 12:00:00 AM 	 08/16/2021 12:00:00 AM
07/13/2022 04:00:00 AM 	 07/13/2022 04:00:00 AM
01/15/2022 05:00:00 AM 	 01/15/2022 05:00:00 AM
01/14/2022 12:00:00 AM 	 01/14/2022 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
05/07/2021 12:00:00 AM 	 05/07/2021 12:00:00 AM
01/14/2022 12:00:00 AM 	 01/14/2022 12:00:00 AM
05/29/2021 04:00:00 AM 	 05/29/2021 04:00:00 AM
*    50  same records   *

======================


column:  Street Name
Original,	 Cleaned

SHERMAN AVENUE 	 SHERMAN AVENUE
WESTCHESTER AVENUE 	 WESTCHESTER AVENUE
PACIFIC STREET 	 PACIFIC STREET
WEST  125 STREET 	 WEST  125 STREET
EAST 73 STREET 	 EAST 73 STREET
IRVING AVENUE 	 IRVING AVENUE
PILLING STREET 	 PILLING STREET
WILLOUGHBY AVENUE 	 WILLOUGHBY AVENUE
MALCOLM X BOULEVARD 	 MALCOLM X BOULEVARD
AVENUE A 	 AVENUE A
BERGEN STREET 	 BERGEN STREET
72 STREET 	 72 STREET
2 STREET 	 2 STREET
NORTH    6 STREET 	 NORTH    6 STREET
NIGHTINGALE STREET 	 NIGHTINGALE STREET
BAYVIEW AVENUE 	 BAYVIEW AVENUE
SUMMIT AVENUE 	 SUMMIT AVENUE
KENT AVENUE 	 KENT AVENUE
80 STREET 	 80 STREET
LIBERTY PLACE 	 LIBERTY PLACE
LAKE STREET 	 LAKE STREET
PILLING STREET 	 PILLING STREET
MARCY AVENUE 	 MARCY AVENUE
BROADWAY 	 BROADWAY
PENN PLAZA 	 PENN PLAZA
WALL STREET 	 WALL STREET
ELSMERE PLACE 	 ELSMERE PLACE
WEST   31 STREET 	 WEST   31 STREET
FIFTH AVENUE 	 FIFTH AVENUE
PARK AVENUE 	 PARK AVENUE
15 AVENUE 	 15 AVENUE
EAST 225 STREET 	 EAST 225 STREET
LEXINGTON AVENUE 	 LEXINGTON AVENUE
70 STREET 	 70 STREET
BERGEN STREET 	 BERGEN STREET
58 AVENUE 	 58 AVENUE
WEST BROADWAY 	 WEST BROADWAY
ATLANTIC AVENUE 	 ATLANTIC AVENUE
GREENWICH STREET 	 GREENWICH STREET
BROADWAY 	 BROADWAY
WEST   37 STREET 	 WEST   37 STREET
39 STREET 	 39 STREET
35 AVENUE 	 35 AVENUE
135 STREET 	 135 STREET
WEST  124 STREET 	 WEST  124 STREET
RICHMOND AVENUE 	 RICHMOND AVENUE
MANEE AVENUE 	 MANEE AVENUE
40 STREET 	 40 STREET
WEST  124 STREET 	 WEST  124 STREET
EAST 148 STREET 	 EAST 148 STREET
*    50  same records   *

======================


column:  Borough
Original,	 Cleaned

MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
STATEN ISLAND 	 STATEN ISLAND
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
STATEN ISLAND 	 STATEN ISLAND
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
*    50  same records   *

======================


column:  Applicant First Name
Original,	 Cleaned

STEVEN 	 STEVEN
MICHAEL 	 MICHAEL
STEVEN 	 STEVEN
CHARLES 	 CHARLES
GERALD 	 GERALD
BERNARD 	 BERNARD
CHRISTOPHER 	 CHRISTOPHER
JOSEPH 	 JOSEPH
ANTONIO 	 ANTONIO
SEAN 	 SEAN
MICHAEL 	 MICHAEL
DOUGLAS 	 DOUGLAS
PETER 	 PETER
EDWARD 	 EDWARD
DOUGLAS 	 DOUGLAS
MICHAEL 	 MICHAEL
EDWARD 	 EDWARD
JATINDER 	 JATINDER
ZHEN AI 	 ZHEN AI
MENDY 	 MENDY
ALAN 	 ALAN
CHRISTOPHER 	 CHRISTOPHER
ARYEH 	 ARYEH
GURCHARAN 	 GURCHARAN
JIM 	 JIM
CHRISTOPHER 	 CHRISTOPHER
EDWARD 	 EDWARD
LAWRENCE 	 LAWRENCE
WILLIAM 	 WILLIAM
JIM 	 JIM
QINGYU 	 QINGYU
RAJA 	 RAJA
LOOMIS 	 LOOMIS
CHUNZHI 	 CHUNZHI
ZHEN AI 	 ZHEN AI
JOHN 	 JOHN
ZACHARIAH 	 ZACHARIAH
PAUL 	 PAUL
ILIRJAN 	 ILIRJAN
JONATHAN 	 JONATHAN
CHRISTOPHER 	 CHRISTOPHER
GARY 	 GARY
SUNGHOON 	 SUNGHOON
LOOMIS 	 LOOMIS
GARY 	 GARY
WILLIAM 	 WILLIAM
MICHAEL 	 MICHAEL
WENDY 	 WENDY
GARY 	 GARY
RAVINDRA 	 RAVINDRA
*    50  same records   *

======================


column:  Applicant Middle Name
Original,	 Cleaned

None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
*    0  same records   *

======================


column:  Applicant Last Name
Original,	 Cleaned

WEISS 	 WEISS
PERAS 	 PERAS
WEISS 	 WEISS
TALISSE 	 TALISSE
TALLEY JR. 	 TALLEY JR.
GIARRAPUTO 	 GIARRAPUTO
DOWNES 	 DOWNES
KOS 	 KOS
FERNANDEZ 	 FERNANDEZ
GANN 	 GANN
SPINELLI 	 SPINELLI
WEIDNER 	 WEIDNER
LEOUTSAKOS 	 LEOUTSAKOS
KELLY 	 KELLY

PEDERSON 	 PEDERSON
DIMAGGIO 	 DIMAGGIO
KELLY 	 KELLY
KOMAL 	 KOMAL
HE 	 HE
BRAUN 	 BRAUN
MITCHELL 	 MITCHELL
DOWNES 	 DOWNES
ASSOULINE 	 ASSOULINE
SINGH 	 SINGH
CONWAY 	 CONWAY
LUPINO 	 LUPINO
KELLY 	 KELLY
LEVINE 	 LEVINE
CHIN 	 CHIN
SCULLY 	 SCULLY
LUO 	 LUO
RIZWAN 	 RIZWAN
LINDGREN 	 LINDGREN
ZHANG 	 ZHANG
HE 	 HE
TSAMPAS 	 TSAMPAS
ROCKHILL 	 ROCKHILL
BOEGEMANN 	 BOEGEMANN
RUSI 	 RUSI
BRAGOLI 	 BRAGOLI
DOWNES 	 DOWNES
JACCARINO 	 JACCARINO
JUNG 	 JUNG
LINDGREN 	 LINDGREN
LOMBARDO 	 LOMBARDO
KLEIN 	 KLEIN
DIMAGGIO 	 DIMAGGIO
CHEN 	 CHEN
LOMBARDO 	 LOMBARDO
REDDY 	 REDDY
*    50  same records   *

======================


column:  Applicant Business Name
Original,	 Cleaned

MANHATTAN D ENTERPRISES 	 MANHATTAN D ENTERPRISES
ULTIMATE SIGNS&DESIGNS CO 	 ULTIMATE SIGNS&DESIGNS CO
MANHATTAN D ENTERPRISES 	 MANHATTAN D ENTERPRISES
CS BRIDGE CORP 	 CS BRIDGE CORP
ALL CITY MECHANICAL INC 	 ALL CITY MECHANICAL INC
L.S. SIGN CO., INC 	 L.S. SIGN CO., INC
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
UNIPIPE PLBG&HTG CORP 	 UNIPIPE PLBG&HTG CORP
FERNANDEZ HTG & MECH CORP 	 FERNANDEZ HTG & MECH CORP
7376 CONSTRUCTION LLC 	 7376 CONSTRUCTION LLC
VMC PLUMBING & HEATING IN 	 VMC PLUMBING & HEATING IN
TRI STATE PLBG & HTG INC 	 TRI STATE PLBG & HTG INC
PEAK FIRE PROTECTION LLC 	 PEAK FIRE PROTECTION LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
V & M DRAIN CLEANING INC 	 V & M DRAIN CLEANING INC
K.M.D. MCHNCL 1443 LLC 	 K.M.D. MCHNCL 1443 LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
J.S.K. CONSTRUCTION CORP 	 J.S.K. CONSTRUCTION CORP
HIGH QUALITY CONSTRUCTION 	 HIGH QUALITY CONSTRUCTION
BRAUN MANAGEMENT INC 	 BRAUN MANAGEMENT INC
A. M. PLUMBING COMPANY 	 A. M. PLUMBING COMPANY
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
IMPACT BUILDERS CORP 	 IMPACT BUILDERS CORP
LAKHI GENERAL CONTRACTOR 	 LAKHI GENERAL CONTRACTOR
AMBASSADOR CONSTRUCTION C 	 AMBASSADOR CONSTRUCTION C
AGGRESSIVE FIRE PROT LLC 	 AGGRESSIVE FIRE PROT LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
PAR PLUMBING CO., INC 	 PAR PLUMBING CO., INC
GOOD-WILL MECHANICAL CORP 	 GOOD-WILL MECHANICAL CORP
SCULLY CONSTRUCTION LLC 	 SCULLY CONSTRUCTION LLC
FLUSHING ONE CONSTRUCTION 	 FLUSHING ONE CONSTRUCTION
NEW CITY BRIDGING CORP 	 NEW CITY BRIDGING CORP
LAWRENCE EXTERIOR RESTORA 	 LAWRENCE EXTERIOR RESTORA
SPLEN CONSTRUCTION INC 	 SPLEN CONSTRUCTION INC
HIGH QUALITY CONSTRUCTION 	 HIGH QUALITY CONSTRUCTION
SKYLINE RESTORATION INC 	 SKYLINE RESTORATION INC
HATCHET WORKS CORP 	 HATCHET WORKS CORP
PAUL SIGNS, INC 	 PAUL SIGNS, INC
BENJAMIN GROUP ENTERPRIS 	 BENJAMIN GROUP ENTERPRIS
NATIONAL MAINTENANCE, INC 	 NATIONAL MAINTENANCE, INC
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
QBK PLUMBING & HTNG INC 	 QBK PLUMBING & HTNG INC
URBAN GC INC 	 URBAN GC INC
LAWRENCE EXTERIOR RESTORA 	 LAWRENCE EXTERIOR RESTORA
PIPING & PLUMBING SOLUTIO 	 PIPING & PLUMBING SOLUTIO
THE FRANKLIN COMANY CONT* 	 THE FRANKLIN COMANY CONT*
K.M.D. MCHNCL 1443 LLC 	 K.M.D. MCHNCL 1443 LLC
LOXTON INC 	 LOXTON INC
PIPING & PLUMBING SOLUTIO 	 PIPING & PLUMBING SOLUTIO
CITI STRUCTURE LLC 	 CITI STRUCTURE LLC
*    50  same records   *

======================


column:  Filing Representative First Name
Original,	 Cleaned

HALYNA 	 HALYNA
MATTHEW 	 MATTHEW
ANGELO 	 ANGELO
HANCE 	 HANCE
BIBI 	 BIBI
STEVEN 	 STEVEN
nan 	 nan 	*
STEVEN 	 STEVEN
nan 	 nan 	*
STEEVALIZ 	 STEEVALIZ
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
EMER 	 EMER
KAREN 	 KAREN
nan 	 nan 	*
EMER 	 EMER
nan 	 nan 	*
nan 	 nan 	*
JULIO 	 JULIO
MERCEDES 	 MERCEDES
nan 	 nan 	*
YISROEL  ZEV 	 YISROEL  ZEV
KHEMRAJ 	 KHEMRAJ
MARTIN 	 MARTIN
LOUIS 	 LOUIS
EMER 	 EMER
nan 	 nan 	*
JOSEPH 	 JOSEPH
nan 	 nan 	*
nan 	 nan 	*
SATWANT 	 SATWANT
ELY 	 ELY
nan 	 nan 	*
nan 	 nan 	*
ELY 	 ELY
EDWIN 	 EDWIN
MATTHEW 	 MATTHEW
FRANK 	 FRANK
LEEANN 	 LEEANN
JOSEPH 	 JOSEPH
PETER 	 PETER
nan 	 nan 	*
DAYANA 	 DAYANA
nan 	 nan 	*
MUHAMMAD 	 MUHAMMAD
nan 	 nan 	*
MICHAEL 	 MICHAEL
nan 	 nan 	*
nan 	 nan 	*
*    31  same records   *

======================


column:  Filing Representative Last Name
Original,	 Cleaned

LUTSIV 	 LUTSIV
CALVO 	 CALVO
VALENZUELA 	 VALENZUELA
MERCEDES 	 MERCEDES
R LALBIHARI 	 R LALBIHARI
TULLOCH 	 TULLOCH
nan 	 nan 	*
RUBIN 	 RUBIN
nan 	 nan 	*
RAMOS 	 RAMOS
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
TIMONEY 	 TIMONEY
PODLUCKY 	 PODLUCKY
nan 	 nan 	*
TIMONEY 	 TIMONEY
nan 	 nan 	*
nan 	 nan 	*
GUADALUPE 	 GUADALUPE
HERNANDEZ 	 HERNANDEZ
nan 	 nan 	*
HEISLER 	 HEISLER
ITWARIA 	 ITWARIA
BUTLER 	 BUTLER
GRELL 	 GRELL
TIMONEY 	 TIMONEY
nan 	 nan 	*
GEE 	 GEE
nan 	 nan 	*
nan 	 nan 	*
MINHAS 	 MINHAS
SEPULVEDA 	 SEPULVEDA
nan 	 nan 	*
nan 	 nan 	*
SEPULVEDA 	 SEPULVEDA
ROJAS 	 ROJAS
CALVO 	 CALVO
FORTINO 	 FORTINO
SZUFLADA 	 SZUFLADA
CASTILLO 	 CASTILLO
CARPENZANO 	 CARPENZANO
nan 	 nan 	*
ALEXANDRE 	 ALEXANDRE
nan 	 nan 	*
KHEDARU 	 KHEDARU
nan 	 nan 	*
GENARI 	 GENARI
nan 	 nan 	*
nan 	 nan 	*
*    31  same records   *

======================


column:  Filing Representative Business Name
Original,	 Cleaned

RIGID STRUCTURAL DESIGN 	 RIGID STRUCTURAL DESIGN
BUILDING BROTHERS INC. 	 BUILDING BROTHERS INC.
PATUXENT ENGINEERING, LLC 	 PATUXENT ENGINEERING, LLC
SYNERGY BUILDING CONSULTANTS 	 SYNERGY BUILDING CONSULTANTS
JENNY FLORES EXPEDITING 	 JENNY FLORES EXPEDITING
LOUIS STRIAR INC. 	 LOUIS STRIAR INC.
nan 	 nan 	*
LEWSAN CONSULTANTS 	 LEWSAN CONSULTANTS
nan 	 nan 	*
SRP DRAFTING AND DESIGN 	 SRP DRAFTING AND DESIGN
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
CONSOLIDATED SCAFFOLD &BRIDGE CORP 	 CONSOLIDATED SCAFFOLD &BRIDGE CORP
KAREN PODLUCKY 	 KAREN PODLUCKY
nan 	 nan 	*
CONSOLIDATED SCAFFOLD &BRIDGE CORP 	 CONSOLIDATED SCAFFOLD &BRIDGE CORP
nan 	 nan 	*
nan 	 nan 	*
ACA ASSOCIATES 	 ACA ASSOCIATES
S&M EXPEDITING 	 S&M EXPEDITING
nan 	 nan 	*
PDG BUILDING CONSULTANTS LLC LLC 	 PDG BUILDING CONSULTANTS LLC LLC
101 SERVICES INC 	 101 SERVICES INC
ARCHETYPE CONSULTANTS, INC. 	 ARCHETYPE CONSULTANTS, INC.
RIGHT WAY SERVICES NYC, INC. 	 RIGHT WAY SERVICES NYC, INC.
CONSOLIDATED SCAFFOLD &BRIDGE CORP 	 CONSOLIDATED SCAFFOLD &BRIDGE CORP
nan 	 nan 	*
AAA TOTAL PLUMBING INC 	 AAA TOTAL PLUMBING INC
nan 	 nan 	*
nan 	 nan 	*
ATLANTIC BUILDING SUPPLY INC. 	 ATLANTIC BUILDING SUPPLY INC.
AE DESIGN SOLUTION INC. 	 AE DESIGN SOLUTION INC.
nan 	 nan 	*
nan 	 nan 	*
AE DESIGN SOLUTION INC. 	 AE DESIGN SOLUTION INC.
GILLMAN CONSULTING INC 	 GILLMAN CONSULTING INC
BUILDING BROTHERS INC. 	 BUILDING BROTHERS INC.
METROPOLIS GROUP INC 	 METROPOLIS GROUP INC
NATIONAL SIGN AND LIGHTING 	 NATIONAL SIGN AND LIGHTING
UNITED SAFETY CONSULTANTS 	 UNITED SAFETY CONSULTANTS
SILVER STAR PLUMBING & HEATING INC 	 SILVER STAR PLUMBING & HEATING INC
nan 	 nan 	*
RAND ENGINEERING & ARCHITECTURE,DPC 	 RAND ENGINEERING & ARCHITECTURE,DPC
nan 	 nan 	*
MUNICIPAL BUILDING CONSULTANTS 	 MUNICIPAL BUILDING CONSULTANTS
nan 	 nan 	*
GRAND EXPEDITERS NYC 	 GRAND EXPEDITERS NYC
nan 	 nan 	*
nan 	 nan 	*
*    31  same records   *

======================


column:  Owner Business Name
Original,	 Cleaned

PR 	 PR
EIB WESTCHESTER 1 LLC 	 EIB WESTCHESTER 1 LLC
TWIN GROUP ASSOCIATES INC 	 TWIN GROUP ASSOCIATES INC
CGM MANAGEMENT GROUP, INC 	 CGM MANAGEMENT GROUP, INC
BROADWAY MERCER ASSOCIATES 	 BROADWAY MERCER ASSOCIATES
nan 	 nan 	*
EVEREST SCAFFOLDING INC. 	 EVEREST SCAFFOLDING INC.
FM CONSOLIDATED HOLDING 	 FM CONSOLIDATED HOLDING
DRY CLEANING EQUIPMENT 	 DRY CLEANING EQUIPMENT
RESTORING COMMUNITIES HDFC 	 RESTORING COMMUNITIES HDFC
ASP 	 ASP
H&Z BUILDING CORP. 	 H&Z BUILDING CORP.
GO HPS LLC 	 GO HPS LLC
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
CAPODANNO PROPERTIES 	 CAPODANNO PROPERTIES
ASHLAND BUILDING LLC 	 ASHLAND BUILDING LLC
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
J.S.K. CONSTRUCTION CORP 	 J.S.K. CONSTRUCTION CORP
PR 	 PR
DAROR ASSOCIATES 	 DAROR ASSOCIATES
MOONSHINE CONSTRUCTION 	 MOONSHINE CONSTRUCTION
EVEREST SCAFFOLDING INC. 	 EVEREST SCAFFOLDING INC.
BEN JOSEF GROUP 	 BEN JOSEF GROUP
HPD 	 HPD
VORNADO REALTY TRUST 	 VORNADO REALTY TRUST
SILVERSTEIN PROPERTIES INC. 	 SILVERSTEIN PROPERTIES INC.
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
BERNSTEIN REAL ESTATE 	 BERNSTEIN REAL ESTATE
THE BROMLEY COMPANIES 	 THE BROMLEY COMPANIES
PR 	 PR
nan 	 nan 	*
NEW CITY BRIDGING CORP 	 NEW CITY BRIDGING CORP
PR 	 PR
PR 	 PR
nan 	 nan 	*
PR 	 PR
nan 	 nan 	*
THE ATLANTIC BKLN 	 THE ATLANTIC BKLN
PR 	 PR
CBRE 	 CBRE
EVEREST SCAFFOLDING INC. 	 EVEREST SCAFFOLDING INC.
ISSAC 	 ISSAC
133-43 35 AVE LLC. 	 133-43 35 AVE LLC.
PR 	 PR
PR 	 PR
NYC DDC 	 NYC DDC
ASHLAND BUILDING LLC 	 ASHLAND BUILDING LLC
PR 	 PR
PR 	 PR
ALBA SERVICES INC 	 ALBA SERVICES INC
*    46  same records   *

======================


column:  Owner Name
Original,	 Cleaned

SHLOIME GROSS 	 SHLOIME GROSS
FRANK SCAFFA 	 FRANK SCAFFA
SOLOMON SCHWIMMER 	 SOLOMON SCHWIMMER
CARMINE MOLISSE 	 CARMINE MOLISSE
CYNTHIA GONZALEZ 	 CYNTHIA GONZALEZ
YASER OBYAH 	 YASER OBYAH
CHRISTOPHER DOWNES 	 CHRISTOPHER DOWNES
TERESA CHUI 	 TERESA CHUI
PLINIO BUTTEN 	 PLINIO BUTTEN
JUAN BARAHONA 	 JUAN BARAHONA
BENJAMIN ATKINS 	 BENJAMIN ATKINS
HANJUN BAI 	 HANJUN BAI
TRISTAN NADAL 	 TRISTAN NADAL
EDWARD KELLY 	 EDWARD KELLY
JOHN TOTO 	 JOHN TOTO
MICHAEL PICCIALLO 	 MICHAEL PICCIALLO
EDWARD KELLY 	 EDWARD KELLY
JATINDER KOMAL 	 JATINDER KOMAL
XIAOTAN LEON 	 XIAOTAN LEON
DAVID BRAUN 	 DAVID BRAUN
ASHRAF MOHAMMAD 	 ASHRAF MOHAMMAD
CHRISTOPHER DOWNES 	 CHRISTOPHER DOWNES
RONEN BEN JOSEF 	 RONEN BEN JOSEF
HPD REPRESENTATIVE 	 HPD REPRESENTATIVE
CARLOS LOPEZ 	 CARLOS LOPEZ
BILL DACUNTO 	 BILL DACUNTO
EDWARD KELLY 	 EDWARD KELLY
CARMINE CASALE 	 CARMINE CASALE
NICHOLAS HAINES 	 NICHOLAS HAINES
DUAN WANG 	 DUAN WANG
AI YI ZHOU 	 AI YI ZHOU
RAJA RIZWAN 	 RAJA RIZWAN
VITO BARBAGALLO 	 VITO BARBAGALLO
KEVIN CHEN 	 KEVIN CHEN
YUCHUN LI 	 YUCHUN LI
JULIA KODIS 	 JULIA KODIS
CHRIS GRASSO 	 CHRIS GRASSO
PATRICK WATSON 	 PATRICK WATSON
CHRISTOPHER GILDEA 	 CHRISTOPHER GILDEA
ANTHONY FREER 	 ANTHONY FREER
CHRISTOPHER DOWNES 	 CHRISTOPHER DOWNES
ISAAC ABED 	 ISAAC ABED
JAMES PARK 	 JAMES PARK
MARK MOSKOWITZ 	 MARK MOSKOWITZ
EDWARD POTEAT 	 EDWARD POTEAT
JERRY ALIBERTI 	 JERRY ALIBERTI
MICHAEL PICCIALLO 	 MICHAEL PICCIALLO
HUA CHANG ZHU 	 HUA CHANG ZHU
EDWARD POTEAT 	 EDWARD POTEAT
ANDREW HORAN 	 ANDREW HORAN
*    50  same records   *

======================


column:  Owner City
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================

In [88]:
tp = 273
fp = 50

fn = 86
tn = 1150 - tp - fp - fn

In [89]:
precision(tp, fp)

0.8452012383900929

In [90]:
recall(tp,fn)

0.7604456824512534