# General version of data cleaning

This code will automatically perform data cleaning on each of the dataset in the directoty, to run this notebook you need to download all the datasets and place them in the current directoty with the notebook.

Because we automatically find columns and fix them, we can not afford clustering to find outliers for each datasets so remove it in this notebook, the precision and recall rate might be influenced.

Run the code in oreder to perform data clean, cleaned data will be save in the current directoty, and to calculate the precision and recall rate, you will need to manually inspect the result.

In [48]:
import openclean
import glob
import pandas as pd
import numpy as np

In [49]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

In [50]:
import pandas as pd
from openclean.pipeline import stream

In [92]:
names = ['w9ak-ipjd', "dm9a-ab7w", 'bty7-2jhb']

for name in names:
    dataset = Socrata().dataset(name)
    datafile = './' + name + '.tsv.gz'

    if not os.path.isfile(datafile):
        with gzip.open(datafile, 'wb') as f:
            print('Downloading ...\n')
            dataset.write(f)


    fsize = humanfriendly.format_size(os.stat(datafile).st_size)
    print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

Downloading ...

Using 'DOB NOW: Build â€“ Job Application Filings' in file ./w9ak-ipjd.tsv.gz of size 27.01 MB
Downloading ...

Using 'DOB NOW: Electrical Permit Applications' in file ./dm9a-ab7w.tsv.gz of size 41.03 MB
Downloading ...

Using 'Historical DOB Permit Issuance' in file ./bty7-2jhb.tsv.gz of size 321.34 MB

In [95]:
file_list = glob.glob("*.tsv.gz")

In [96]:
print(file_list)

['bty7-2jhb.tsv.gz', 'dm9a-ab7w.tsv.gz', 'hcir-3275.tsv.gz', 'hg8x-zxpr.tsv.gz', 'rbx6-tga4.tsv.gz', 'w9ak-ipjd.tsv.gz']

In [52]:
def readData(file):
    
    datafile = './'+file
    
    df  = pd.read_csv(datafile, dtype='object', sep='\t')
    ds = stream(datafile)
    
    return datafile, df, ds

In [53]:
def findColumns(ds, column_name_list):
    data_cols = []

    for col in ds.columns:
        for name in column_name_list:
            if name in col:
                data_cols.append(col)
                
    return  data_cols

In [54]:
def fix_ID_Number_Column(df, ds):
    data_cols = findColumns(ds, ['ID','id','#','Number', 'number',' No',' NO'])
    
    for col in data_cols:
        
        df[col].fillna('', inplace=True)
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()

        df.loc[df[col].str.strip('')=='ONE', col] = '1'
        df.loc[df[col].str.strip('')=='TWO', col] = '2'
        df.loc[df[col].str.strip('')=='THREE', col] = '3'
        df.loc[df[col].str.strip('')=='FOUR', col] = '4'
        df.loc[df[col].str.strip('')=='FIVE', col] = '5'
        df.loc[df[col].str.strip('')=='SIX', col] = '6'
        df.loc[df[col].str.strip('')=='SEVEN', col] = '7'
        df.loc[df[col].str.strip('')=='EIGHT', col] = '8'
        df.loc[df[col].str.strip('')=='NINE', col] = '9'

        df.loc[df[col].str.strip('')=='NAN', col] = ''
        df.loc[df[col].str.strip('')=='nan', col] = ''
        
        df.loc[df[col].str.strip('')=='NO NUMBER', col] = ''
        
    return data_cols

In [55]:
def fix_Binary_Column(df, ds):
    data_cols = findColumns(ds, ['Landmarked','Owned', 'Filled'])
    
    for col in data_cols:
        
        df[col].fillna('N', inplace=True)
        df.loc[df[col]=='X', col] = 'Y'
        
        df.loc[df[col]=='Y', col] = True
        df.loc[df[col]!=True, col] = False
        
        df[col] = df[col].astype('bool')
        
    return data_cols

In [56]:
def fix_Monetary_Column(df, ds):
    data_cols = findColumns(ds, ['Cost','cost', 'fee', 'Fee'])
    
    for col in data_cols:
        
        df[col] = df[col].str.replace("$", '', regex=False)
        df[col] = df[col].str.replace("-", '', regex=False)
        
    return data_cols

In [57]:
def fix_Numerical_Column(df, ds):
    data_cols = findColumns(ds, ['Units','units', 'Height', 'height', 'Length', 'length', 'Footage', 'footage', 'Sqft', 'sqft'])
    
    for col in data_cols:
        
        df[col] = df[col].str.replace('-', '', regex=False)
        df[col] = df[col].str.replace('NONE', '0', regex=False)
        df[col] = df[col].str.replace('none', '0', regex=False)
        df[col] = df[col].str.replace('NAN', '0', regex=False)
        df[col] = df[col].str.replace('nan', '0', regex=False)
        
        
    return data_cols

In [58]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(df, ds, column_name, eps_setting = 0.05):
    datetime_data = df[column_name]

    light_outliers = DBSCANOutliers().find(datetime_data)
    
    return light_outliers

In [59]:
def fix_datetime_Column(df, ds):
    data_cols = findColumns(ds, ['date', 'Date', 'DATE'])
    
    for col in data_cols:
    
        
        light_outliers = findDateOutliers(df, ds, col)
        
        for item in light_outliers:
            
            df[col] = df[col].replace(item, None)
        
    return data_cols

In [60]:
from openclean.data.refdata import RefStore

refdata = RefStore()
city_df = refdata\
    .load('encyclopaedia_britannica:us_cities', auto_download=True)\
    .df()

In [61]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(df, ds, col, minsize = 2, preds = 0.5):
    dba = ds.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(preds)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0

def updateUsingClusters(df, ds, col, clusters, isPrint = False):
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i <5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
    
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [126]:
from openclean.function.eval.base import Col, Eval
from openclean.function.eval.logic import And
from openclean.function.value.phonetic import Soundex, soundex


def fix_city_and_name_Column(df, ds, file):
    data_cols = findColumns(ds, ['NAME', 'name', 'Name','city', 'City', 'CITY', 'BOROUGH', 'Borough', 'borough'])
    name_cols = findColumns(ds, ['NAME', 'name', 'Name'])
    
    # mapping list to replace outliers
    outlier1 = ['', 'MR. ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM 11', 'JOSEP;H``', 'DAID/11/2007', 'CHUNG   LUN', '718 9215010', 'ANTHONY', 'HSIA0-NAN', 'JOSEPH', '``````````', 'ROBERT  `', 'RAJENDRA9956700', '2', 'G.B.M.', 'EUGENE......JR', '6312100', 'CLAUDE,JR.', 'THOMAS``', 'ALAN  L', 'Nab53', 'MR. Y. B', 'J.J', 'PH8ILIP', 'I. M', 'RICHARD', 'ALBERTA S 111 D', 'P ;', 'GENECG.C. ENG &', 'J.J.', '2126202794', 'SHAW  HWA', 'HARRY         H', 'MR DOU8GLAS', '`1D', 'PAUL', 'K. T.', 'JOHN', '...NORMAN', 'EVAN   D', '7184361278BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MAD/Y/ARNI', 'ES ON SCH B', 'EUGENE.......JR', 'NEAL', 'F._ERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0-TECH', 'RODNEY   __', 'DAVID', 'G. L.', 'JAMES', 'LESLI8E', '7186054055', 'GEORGE', 'G.B.M', 'DAVID    JON', 'CHUNG---YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', '1P', 'JUDE.....N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD/HON-AN', 'GLEN  A.L.', 'J.B. Jr.', 'LORENZO..A', 'J J', '..RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY 2', '...JOSEPH', 'RUSSELL 111', 'THOMAS', 'H./E./CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', '--young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']
    mapping1 = [None, 'ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM', 'JOSEPH', None, 'CHUNG LUN', None, 'ANTHONY', 'HSIA0 NAN', 'JOSEPH', None, 'ROBERT', 'RAJENDRA', None, 'G.B.M.', 'EUGENEJR', None, 'CLAUDE JR.', 'THOMAS', 'ALAN  L', 'Nab', 'MR. Y. B', 'J.J', 'PHILIP', 'I. M', 'RICHARD', 'ALBERTA', None, 'GENECG.C. ENG', 'J.J.', None, 'SHAW HWA', 'HARRYH', 'MR DOUGLAS', None, 'PAUL', 'K. T.', 'JOHN', 'NORMAN', 'EVAND', 'BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MADYARNI', 'ES ON SCH B', 'EUGENEJR', 'NEAL', 'FERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0 TECH', 'RODNEY', 'DAVID', 'G. L.', 'JAMES', 'LESLIE', None, 'GEORGE', 'G.B.M', 'DAVID JON', 'CHUNG YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', None, 'JUDE N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD HON-AN', 'GLEN A.L.', 'J.B. Jr.', 'LORENZOA', 'J J', 'RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY', 'JOSEPH', 'RUSSELL', 'THOMAS', 'H.E.CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', 'young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']

    outlier2 = ['SHARMA #0', "0'CONNOR", 'RUSHTON    UEL', 'UDDIN   Z', 'HINKLEY 1', 'O&#039;CONNOR, P.E.', '.OOK', 'SAMUELS111', 'O&#039;CONNOR', 'CALIENDO', 'SMITH   JR.', 'LO  BUE', '7AN', '+-+ETTIERI', 'SMITH, 111', 'KAMEN   1', '.EE', 'MASS, 1', '.EI', 'Zagaroli 3rd', 'RINI   II', 'KAMEN   R', 'RYAN 11', 'SPI8EZIA L S', 'MUFTIC..A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL, P.E.', 'HAMA07', 'HINLEY,1', '1212', "O  ' CONNELL", 'HURT,JR.,', 'WESOLOWSKI', 'CHEN', '`ING, R.A', 'MARTARELLA 111', 'Gandhi, Ph.D., P.E.', '90I', 'ENNIS 2', 'COSTELLO R A A I A', '3UI', 'N/A', 'HURT,  JR', 'LEHR,1', 'KOHLER, 111', 'GERAZOUNIS', 'Alexander,1', 'LUBOW, R.A. LEED AP', 'RINI,111', '08CZAK', '````````````````````', 'CHAO  R.A.', 'Geier 11', '08NGEL', '08SOLOWSKI', 'I11', 'HINKLEY, 1', 'RUDIKOFF, P.E.', "O'CONNOR", 'SHAH   EZ', 'MIELE, JR., P.E.', 'RITTENHOUSE 111', 'AMADI   ISIOFIA', 'HINKLEY,1', 'RENFORE````````', "O'HARA,JR.", '73020012', 'PHAGOO   I', 'BRAY.....,', 'LLL', 'BHATHIA,1', 'GANDHI, PH. D., P.E', 'KO K', 'VASSALOTTI 11', 'HURT, JR .', '0018LKLE', 'RINI -111', 'PARIHAR', 'EE', 'L00802', 'ELISE.111', 'KING , R.A', 'CHRYSLER  P E', 'LEHR 1', 'Walters   Jr.', 'LEE', 'RINI  III', 'D&#039;ANGELO', '0UDOLPH III', 'VIEHE-NAESS 111', ',MO', '08E', '47DIKOFF', 'Yu,', '420865380', 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', '901BEN', '4153LOO', 'SYED-NAQVI', 'RYAN , JR.', 'K O K O R I S', 'ELISEO111', 'O&#039;CONNELL', 'ZEID61', '---Lewis', '00CHELI', 'MOHAMMAD       +++++', 'METZLER  P E', 'BAILEY', 'GANDHI, PH. D., P.E.', 'TIEMANN.111', 'SMITH.111', 'DI GER0NIMO', 'GANDHI, PH,D., P.E', 'III', 'J C', 'MAGAMI-QAIM-MAGAMI', '+M', 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', 'Y10007OR', 'SMITH,111', 'KING R A FAIA', 'RYAN III, AIA', '08AN', 'STARK 1', 'MASS', 'VICTORI0, R.A', 'RIZVI   A', '21029677', "3'CONNOR", 'Wong /  Lai', 'KAPLAN 3', 'GRAICHEN.JR./DAWN/DI', 'GROSSMAN ,PE,F.A.C.I']
    mapping2 = ['SHARMA ', "CONNOR", 'RUSHTON UEL', 'UDDIN Z', 'HINKLEY ', 'CONNOR P.E.', None, 'SAMUELS', 'CONNOR', 'CALIENDO', 'SMITH JR.', 'LO BUE', None, 'ETTIERI', 'SMITH', 'KAMEN', '.EE', 'MASS', '.EI', 'Zagaroli', 'RINI', 'KAMEN R', 'RYAN', 'SPIEZIA L S', 'MUFTIC.A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL P.E.', 'HAMA', 'HINLEY', None, "CONNELL", 'HURT JR.', 'WESOLOWSKI', 'CHEN', 'ING R.A', 'MARTARELLA', 'Gandhi', None, 'ENNIS ', 'COSTELLO R A A I A', None, None, 'HUR  JR', 'LEHR', 'KOHLER 111', 'GERAZOUNIS', 'Alexander', 'LUBOW R.A. LEED AP', 'RINI',None, None, 'CHAO R.A.', 'Geier', None, 'SOLOWSKI', None, 'HINKLEY', 'RUDIKOFF, P.E.', "CONNOR", 'SHAH EZ', 'MIELE JR. P.E.', 'RITTENHOUSE', 'AMADI   ISIOFIA', 'HINKLEY', 'RENFORE', "O'HARA,JR.", None, 'PHAGOO I', 'BRAY,', 'LLL', 'BHATHIA', 'GANDHI', 'KO K', 'VASSALOTTI', 'HURT JR.',None, 'RINI', 'PARIHAR', 'EE', None, 'ELISE', 'KING R.A', 'CHRYSLER  P E', 'LEHR', 'Walters Jr.', 'LEE', 'RINI  III', 'ANGELO', '0UDOLPH III', 'VIEHE-NAESS', 'MO', '08E', None, 'Yu,', None, 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', None, None, None, 'RYAN JR.', 'KOKORIS', 'ELISE', 'CONNELL', None, 'Lewis', 'CHELI', 'MOHAMMAD', 'METZLER  P E', 'BAILEY', 'GANDHI', 'TIEMANN', 'SMITH', 'DI GER0NIMO', 'GANDHI', 'III', 'J C', 'MAGAMI QAIM MAGAMI', None, 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', None, 'SMITH', 'KING R A FAIA', 'RYAN III AIA', None, 'STARK', 'MASS', 'VICTORI0 R.A', 'RIZVIA', None, "CONNOR", 'Wong Lai', 'KAPLAN', 'GRAICHEN.JR. DAWN DI', 'GROSSMAN']

    outlier3 = ['', '....DEMO', '050069', 'DEM. CONTR.,', 'XXXXX', 'G/C 10114H9', 'CGWC10114H99', '00', 'X S000155', '082-36-1245', 'G.G', 'LESSEE', '......GC', "'", '..OWNER', 'GC 2293', '--', 'XXXXXX', 'LS 31,721', '...GC', 'gen.cont.', 'G.C TK#4592', 'PE', 'RLA - 818', '.....OWNER', 'RLA 16077', 'G C', 'X 4129892', 'G. C.', 'R.L.A', 'GC 1028350', 'WC10114H99', 'LEESEE', 'GEN.CONT.', 'SIGN..HANGER', 'DEMO 20451', 'D8615', '.X', 'P.L.L.C', '..DEMO', 'G .C', 'L A', 'G.C NY11101', '32820', '....OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC99792', 'X 1341946', 'TRACK# 1390', 'EXPED.R4466', 'PLLC 9599691', 'G.C 1110101', '029649', '(CHECK)', 'DEM. CONTR,', 'EXPEDIT(H66172)', '.........GC', 'CITY OF N Y', 'GC 1170386', 'G. C', 'CO0OWNER', '(CHECKED)', 'C.C', '23392 1159774', 'DEMO {', 'RA', 'T. 31132', '....GC', 'RLA-787', 'TRACK #1390', 'D C', 'G.CONTR.', 'DEMO  CONT', '1GC', 'CC', 'demo G.C.', 'TRACK. #1390', 'M.F.S.P.C.', '...DEMO', 'DEMO G C', '13328', 'GEN  CONT', 'GC 1221073', "GC;'", 'DEMO 1341946', '11234', 'G.C.,', '.....GC', 'LIC.133668259 1', '?', '0WNER', 'C10892', 'GEN..CONT']
    mapping3 = [None, 'DEMO', None, 'DEM. CONTR', None, 'G/C', 'CGWC', None, 'X S', None, 'G.G', 'LESSEE', 'GC', None, 'OWNER', 'GC', None, None, 'LS ', 'GC', 'gen.cont.', 'G.C TK', 'PE', 'RLA ', 'OWNER', 'RLA ', 'G C', 'X', 'G. C.', 'R.L.A', 'GC', 'WC', 'LEESEE', 'GEN.CONT.', 'SIGN.HANGER', 'DEMO', None,None, 'P.L.L.C', 'DEMO', 'G.C', 'L A', 'G.C ', None, 'OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC', None, 'TRACK', 'EXPED.R', 'PLLC ', 'G.C', None, None, 'DEM. CONTR,', 'EXPEDIT', 'GC', None, 'GC', 'G.C', 'CO0OWNER', None, 'C.C', None, 'DEMO', 'RA', None, 'GC', 'RLA', None, 'D C', 'G.CONTR.', 'DEMO  CONT', 'GC', 'CC', 'demo G.C.', None, 'M.F.S.P.C.', 'DEMO', 'DEMO G C', None, 'GEN  CONT', 'GC ', "GC ", 'DEMO ', None, 'G.C.', 'GC', 'LIC', None, '0WNER',None, 'GEN.CONT']

    outlier4 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
    mapping4 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

    outliers = outlier1+ outlier2+ outlier3+ outlier4
    mappings = mapping1+ mapping2+ mapping3+ mapping4
    
    for col in data_cols:
        
        if col == "Owneréˆ¥æªš House City":           
            continue
        
        df[col] = df[col].replace(outliers, mappings)
        '''

        if file != 'rbx6-tga4.tsv.gz':
            light_outliers = findDateOutliers(df, ds, col)

            for item in light_outliers:

                df[col] = df[col].replace(item, None)


        if file != 'hg8x-zxpr.tsv.gz' and col in name_cols:
            col_clusters = getClusters(df, ds, col)
            updateUsingClusters(df, ds, col, col_clusters, True)
         '''

        df[col] = df[col].replace(['N/A', '', 'NA','NONE'], [None,None,None,None])
        
    return data_cols

In [127]:
def saveDf(df, datafile):
    outputpath = datafile[2:11]+'_cleaned_data_improved.csv'
    df.to_csv(outputpath,sep=',',index=False,header=True)

In [128]:
def dataCleanOnDataset(file):
    
    print('working on file: ', file)
    datafile, df, ds = readData(file)
    
    cleaned_cols = []
    
    print('fixing ID_Number_Column......')
    cleaned_cols += fix_ID_Number_Column(df, ds)
    
    print('fixing Binary_Column......')
    cleaned_cols += fix_Binary_Column(df, ds)
    
    print('fixing Monetary_Column......')
    cleaned_cols += fix_Monetary_Column(df, ds)
    
    print('fixing Numerical_Column......')
    cleaned_cols += fix_Numerical_Column(df, ds)
    
    if file != 'w9ak-ipjd.tsv.gz':
        print('fixing datetime_Column......')
        cleaned_cols += fix_datetime_Column(df, ds)
    
    print('fixing city_and_name_Column......')
    cleaned_cols += fix_city_and_name_Column(df, ds, file)
    
    saveDf(df, datafile)
    
    return cleaned_cols, datafile, df

In [118]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [119]:
def precision_recall(cleaned_columns, datafile, df, sample_size = 50 ):
    df2  = pd.read_csv(datafile, dtype='object', sep='\t')
    df2 = df2.drop_duplicates()

    

    df_sample_data =  df2.sample(sample_size).copy()
    
    print('sample size: ',sample_size)
    
    print('total size: ',sample_size * len(cleaned_columns))
    print('======================\n\n')

    same = 0

    for col in cleaned_columns:
        print("column: ", col)
        print("Original,\t Cleaned\n")
        for i in range(sample_size):
            if df[col].iloc[i]== df2[col].iloc[i]:
                print(df2[col].iloc[i], '\t', df[col].iloc[i], '\t')
                same += 1
            else:
                print(df2[col].iloc[i], '\t', df[col].iloc[i], '\t*')

        print('*   ', same, ' same records   *\n')
        same = 0

        print('======================\n\n')

# Buildings-Selected-for-the-Alternative-Enforcement

In [72]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[2])
print(cleaned_cols)

working on file:  hcir-3275.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['BUILDING_ID', '# OF B/C VIOLATIONS AT START', 'AEP_START_DATE', 'DISCHARGE_DATE', 'BOROUGH']

In [74]:
precision_recall(cleaned_cols, datafile, df, 100)

sample size:  100
total size:  500
======================


column:  BUILDING_ID
Original,	 Cleaned

118921 	 118921
338100 	 338100
354272 	 354272
148503 	 148503
309707 	 309707
214801 	 214801
527226 	 527226
104592 	 104592
78261 	 78261
387868 	 387868
326302 	 326302
327115 	 327115
129406 	 129406
315762 	 315762
373055 	 373055
328321 	 328321
52173 	 52173
297806 	 297806
91605 	 91605
334920 	 334920
62596 	 62596
360479 	 360479
379420 	 379420
314816 	 314816
432731 	 432731
311297 	 311297
355491 	 355491
129403 	 129403
327191 	 327191
22678 	 22678
309399 	 309399
337955 	 337955
284464 	 284464
68350 	 68350
325837 	 325837
359235 	 359235
298165 	 298165
768885 	 768885
166224 	 166224
145007 	 145007
297483 	 297483
342514 	 342514
371699 	 371699
288090 	 288090
320847 	 320847
394455 	 394455
222650 	 222650
535348 	 535348
332612 	 332612
380440 	 380440
949009 	 949009
373589 	 373589
358622 	 358622
308694 	 308694
876311 	 876311
5559 	 5559
230871 	 230871
120630 	 120630
288457 	 288457
326671 	 326671
91576 	 91576
96746 	 96746
287943 	 287943
42435 	 42435
225110 	 225110
875672 	 875672
288624 	 288624
144991 	 144991
183312 	 183312
66997 	 66997
374162 	 374162
282001 	 282001
356840 	 356840
81730 	 81730
1152 	 1152
507430 	 507430
305590 	 305590
316684 	 316684
8015 	 8015
112846 	 112846
297455 	 297455
89073 	 89073
65741 	 65741
62917 	 62917
104454 	 104454
213173 	 213173
350014 	 350014
339477 	 339477
208642 	 208642
297935 	 297935
806583 	 806583
301933 	 301933
306579 	 306579
57776 	 57776
66685 	 66685
41969 	 41969
563279 	 563279
40758 	 40758
59007 	 59007
398196 	 398196
*    100  same records   *

======================


column:  # OF B/C VIOLATIONS AT START
Original,	 Cleaned

280 	 280
156 	 156
328 	 328
66 	 66
130 	 130
126 	 126
1466 	 1466
926 	 926
649 	 649
54 	 54
625 	 625
1024 	 1024
926 	 926
175 	 175
96 	 96
383 	 383
206 	 206
213 	 213
1472 	 1472
373 	 373
532 	 532
103 	 103
725 	 725
389 	 389
723 	 723
205 	 205
997 	 997
237 	 237
1500 	 1500
535 	 535
79 	 79
445 	 445
167 	 167
259 	 259
52 	 52
165 	 165
158 	 158
183 	 183
243 	 243
167 	 167
143 	 143
265 	 265
534 	 534
486 	 486
279 	 279
443 	 443
114 	 114
162 	 162
219 	 219
489 	 489
909 	 909
609 	 609
241 	 241
87 	 87
154 	 154
962 	 962
218 	 218
502 	 502
235 	 235
902 	 902
229 	 229
169 	 169
370 	 370
248 	 248
1038 	 1038
409 	 409
484 	 484
1739 	 1739
443 	 443
872 	 872
357 	 357
70 	 70
147 	 147
2910 	 2910
494 	 494
114 	 114
400 	 400
85 	 85
611 	 611
168 	 168
186 	 186
2087 	 2087
1789 	 1789
184 	 184
1048 	 1048
184 	 184
431 	 431
175 	 175
318 	 318
231 	 231
919 	 919
406 	 406
163 	 163
148 	 148
715 	 715
362 	 362
592 	 592
1253 	 1253
721 	 721
139 	 139
*    100  same records   *

======================


column:  AEP_START_DATE
Original,	 Cleaned

01/31/2011 	 01/31/2011
01/31/2020 	 01/31/2020
02/02/2015 	 02/02/2015
01/31/2014 	 01/31/2014
01/31/2014 	 01/31/2014
11/12/2009 	 11/12/2009
01/31/2019 	 01/31/2019
02/01/2021 	 02/01/2021
01/31/2018 	 01/31/2018
11/13/2008 	 11/13/2008
01/31/2012 	 01/31/2012
01/31/2011 	 01/31/2011
01/31/2020 	 01/31/2020
01/31/2017 	 01/31/2017
01/31/2011 	 01/31/2011
02/01/2016 	 02/01/2016
11/13/2008 	 11/13/2008
11/13/2007 	 11/13/2007
11/13/2007 	 11/13/2007
01/31/2012 	 01/31/2012
01/31/2013 	 01/31/2013
02/01/2016 	 02/01/2016
11/13/2007 	 11/13/2007
02/02/2015 	 02/02/2015
01/31/2012 	 01/31/2012
01/31/2011 	 01/31/2011
01/31/2020 	 01/31/2020
01/31/2017 	 01/31/2017
11/13/2007 	 11/13/2007
11/13/2007 	 11/13/2007
11/12/2009 	 11/12/2009
01/31/2017 	 01/31/2017
01/31/2012 	 01/31/2012
01/31/2017 	 01/31/2017
02/02/2015 	 02/02/2015
11/13/2008 	 11/13/2008
01/31/2017 	 01/31/2017
01/31/2017 	 01/31/2017
02/01/2016 	 02/01/2016
11/12/2009 	 11/12/2009
01/31/2014 	 01/31/2014
01/31/2018 	 01/31/2018
11/13/2007 	 11/13/2007
01/31/2019 	 01/31/2019
02/01/2021 	 02/01/2021
01/31/2012 	 01/31/2012
11/13/2008 	 11/13/2008
01/31/2012 	 01/31/2012
01/31/2017 	 01/31/2017
02/01/2016 	 02/01/2016
02/01/2016 	 02/01/2016
01/31/2012 	 01/31/2012
11/12/2009 	 11/12/2009
02/02/2015 	 02/02/2015
02/02/2015 	 02/02/2015
11/12/2009 	 11/12/2009
01/31/2018 	 01/31/2018
01/31/2017 	 01/31/2017
01/31/2018 	 01/31/2018
11/13/2007 	 11/13/2007
01/31/2013 	 01/31/2013
02/02/2015 	 02/02/2015
11/12/2009 	 11/12/2009
01/31/2013 	 01/31/2013
01/31/2017 	 01/31/2017
02/02/2015 	 02/02/2015
11/13/2007 	 11/13/2007
11/13/2008 	 11/13/2008
11/13/2008 	 11/13/2008
02/01/2021 	 02/01/2021
01/31/2011 	 01/31/2011
01/31/2012 	 01/31/2012
11/13/2008 	 11/13/2008
11/13/2007 	 11/13/2007
01/31/2013 	 01/31/2013
01/31/2013 	 01/31/2013
01/31/2011 	 01/31/2011
11/12/2009 	 11/12/2009
01/31/2020 	 01/31/2020
11/13/2007 	 11/13/2007
01/31/2014 	 01/31/2014
01/31/2018 	 01/31/2018
02/01/2021 	 02/01/2021
02/01/2021 	 02/01/2021
01/31/2017 	 01/31/2017
11/13/2008 	 11/13/2008
11/13/2008 	 11/13/2008
01/31/2014 	 01/31/2014
11/13/2008 	 11/13/2008
11/13/2007 	 11/13/2007
02/02/2015 	 02/02/2015
01/31/2017 	 01/31/2017
11/12/2009 	 11/12/2009
01/31/2013 	 01/31/2013
01/31/2020 	 01/31/2020
02/02/2015 	 02/02/2015
01/31/2012 	 01/31/2012
01/31/2020 	 01/31/2020
01/31/2013 	 01/31/2013
01/31/2020 	 01/31/2020
*    100  same records   *

======================


column:  DISCHARGE_DATE
Original,	 Cleaned

11/08/2018 	 11/08/2018
10/23/2020 	 10/23/2020
10/05/2015 	 10/05/2015
04/23/2014 	 04/23/2014
06/12/2015 	 06/12/2015
03/26/2010 	 03/26/2010
06/13/2019 	 06/13/2019
07/07/2021 	 07/07/2021
05/18/2018 	 05/18/2018
03/19/2009 	 03/19/2009
07/13/2015 	 07/13/2015
10/06/2016 	 10/06/2016
10/28/2020 	 10/28/2020
06/22/2017 	 06/22/2017
01/07/2016 	 01/07/2016
12/31/2019 	 12/31/2019
03/08/2013 	 03/08/2013
11/13/2017 	 11/13/2017
05/07/2012 	 05/07/2012
12/01/2014 	 12/01/2014
02/12/2016 	 02/12/2016
06/14/2016 	 06/14/2016
04/06/2011 	 04/06/2011
06/19/2015 	 06/19/2015
09/03/2015 	 09/03/2015
10/23/2012 	 10/23/2012
09/21/2020 	 09/21/2020
05/17/2017 	 05/17/2017
11/14/2017 	 11/14/2017
01/06/2011 	 01/06/2011
09/26/2011 	 09/26/2011
05/16/2017 	 05/16/2017
11/13/2018 	 11/13/2018
04/19/2018 	 04/19/2018
05/15/2015 	 05/15/2015
05/16/2011 	 05/16/2011
03/03/2020 	 03/03/2020
03/19/2021 	 03/19/2021
06/16/2016 	 06/16/2016
10/04/2018 	 10/04/2018
08/24/2016 	 08/24/2016
12/12/2019 	 12/12/2019
09/10/2010 	 09/10/2010
09/09/2019 	 09/09/2019
09/09/2019 	 nan 	*
09/09/2019 	 nan 	*
04/17/2019 	 04/17/2019
06/15/2012 	 06/15/2012
01/09/2018 	 01/09/2018
07/05/2016 	 07/05/2016
05/31/2016 	 05/31/2016
05/29/2014 	 05/29/2014
07/11/2011 	 07/11/2011
08/19/2016 	 08/19/2016
09/21/2016 	 09/21/2016
03/10/2010 	 03/10/2010
12/31/2019 	 12/31/2019
06/08/2017 	 06/08/2017
12/17/2018 	 12/17/2018
08/17/2010 	 08/17/2010
05/31/2013 	 05/31/2013
05/10/2018 	 05/10/2018
01/08/2016 	 01/08/2016
05/11/2018 	 05/11/2018
07/05/2017 	 07/05/2017
06/18/2015 	 06/18/2015
07/12/2013 	 07/12/2013
05/12/2009 	 05/12/2009
03/13/2009 	 03/13/2009
03/13/2009 	 nan 	*
06/26/2012 	 06/26/2012
06/06/2012 	 06/06/2012
10/09/2013 	 10/09/2013
04/15/2013 	 04/15/2013
06/05/2013 	 06/05/2013
04/07/2016 	 04/07/2016
01/23/2014 	 01/23/2014
04/06/2011 	 04/06/2011
01/22/2021 	 01/22/2021
04/08/2011 	 04/08/2011
08/24/2016 	 08/24/2016
06/01/2018 	 06/01/2018
06/01/2018 	 nan 	*
06/01/2018 	 nan 	*
04/11/2017 	 04/11/2017
02/13/2013 	 02/13/2013
06/20/2013 	 06/20/2013
05/15/2018 	 05/15/2018
04/21/2009 	 04/21/2009
03/16/2015 	 03/16/2015
06/15/2015 	 06/15/2015
06/29/2017 	 06/29/2017
01/30/2012 	 01/30/2012
12/04/2013 	 12/04/2013
12/10/2020 	 12/10/2020
12/10/2020 	 nan 	*
06/05/2014 	 06/05/2014
11/10/2020 	 11/10/2020
12/20/2013 	 12/20/2013
12/20/2013 	 nan 	*
*    93  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Queens 	 Queens
Bronx 	 Bronx
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Queens 	 Queens
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Staten Island 	 Staten Island
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Queens 	 Queens
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Manhattan 	 Manhattan
Queens 	 Queens
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Manhattan 	 Manhattan
Queens 	 Queens
Manhattan 	 Manhattan
Bronx 	 Bronx
Brooklyn 	 Brooklyn
*    100  same records   *

======================

In [75]:
tp = 100
fp = 7

fn = 0
tn = 500 - tp - fp - fn

In [76]:
precision(tp, fp)

0.9345794392523364

In [77]:
recall(tp,fn)

1.0

# Housing-New-York-Units-by-Building

In [78]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[3])
print(cleaned_cols)

working on file:  hg8x-zxpr.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['Project ID', 'Building ID', 'Number', 'Middle Income Units', 'Extremely Low Income Units', 'Very Low Income Units', 'Low Income Units', 'Moderate Income Units', 'Middle Income Units', 'Other Income Units', 'Studio Units', '1-BR Units', '2-BR Units', '3-BR Units', '4-BR Units', '5-BR Units', '6-BR+ Units', 'Unknown-BR Units', 'Counted Rental Units', 'Counted Homeownership Units', 'All Counted Units', 'Total Units', 'Project Start Date', 'Project Completion Date', 'Building Completion Date', 'Project Name', 'Borough']

In [79]:
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1350
======================


column:  Project ID
Original,	 Cleaned

44223 	 44223
44223 	 44223
44223 	 44223
44223 	 44223
58871 	 58871
58871 	 58871
58871 	 58871
58871 	 58871
58871 	 58871
58871 	 58871
64543 	 64543
64543 	 64543
64543 	 64543
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65315 	 65315
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
65358 	 65358
66909 	 66909
67910 	 67910
67910 	 67910
67910 	 67910
67910 	 67910
67910 	 67910
67910 	 67910
69280 	 69280
69428 	 69428
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69763 	 69763
69765 	 69765
69765 	 69765
*    50  same records   *

======================


column:  Building ID
Original,	 Cleaned

927737 	 927737
969695 	 969695
975702 	 975702
977564 	 977564
64740 	 64740
64863 	 64863
97372 	 97372
109490 	 109490
109521 	 109521
112824 	 112824
6567 	 6567
11581 	 11581
11701 	 11701
926974 	 926974
927550 	 927550
927551 	 927551
927552 	 927552
927561 	 927561
927563 	 927563
978709 	 978709
978711 	 978711
996113 	 996113
996114 	 996114
997575 	 997575
5563 	 5563
5635 	 5635
5642 	 5642
40762 	 40762
40764 	 40764
40780 	 40780
40792 	 40792
40934 	 40934
997246 	 997246
22728 	 22728
25509 	 25509
29402 	 29402
29403 	 29403
29405 	 29405
805444 	 805444
83696 	 83696
993786 	 993786
669304 	 669304
810604 	 810604
810605 	 810605
811576 	 811576
811577 	 811577
811578 	 811578
811579 	 811579
669305 	 669305
810974 	 810974
*    50  same records   *

======================


column:  Number
Original,	 Cleaned

335 	 335
35 	 35
18-22 	 18-22
329/331 	 329/331
149 	 149
200 	 200
1322 	 1322
1060 	 1060
1194 	 1194
1345 	 1345
195 	 195
406 	 406
533 	 533
687A 	 687A
821 	 821
278 	 278
1662 	 1662
697A 	 697A
358 	 358
191 	 191
179 	 179
50 	 50
1835 	 1835
13 	 13
1453 	 1453
1732 	 1732
1747 	 1747
507 	 507
509 	 509
529 	 529
625 	 625
510 	 510
750 	 750
250 	 250
35 	 35
75 	 75
605 	 605
645 	 645
675 	 675
1898 	 1898
88-20 	 88-20
158-40 	 158-40
159-21 	 159-21
162-01 	 162-01
161-02 	 161-02
161-06 	 161-06
161-10 	 161-10
161-32 	 161-32
161-25 	 161-25
67-11 	 67-11
*    50  same records   *

======================


column:  Middle Income Units
Original,	 Cleaned

0 	 0
6 	 6
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
3 	 3
0 	 0
0 	 0
0 	 0
3 	 3
2 	 2
0 	 0
2 	 2
3 	 3
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Extremely Low Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
15 	 15
7 	 7
27 	 27
6 	 6
10 	 10
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
1 	 1
2 	 2
7 	 7
0 	 0
33 	 33
12 	 12
11 	 11
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
2 	 2
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Very Low Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
17 	 17
9 	 9
12 	 12
36 	 36
30 	 30
12 	 12
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
6 	 6
6 	 6
7 	 7
10 	 10
13 	 13
9 	 9
7 	 7
14 	 14
40 	 40
129 	 129
134 	 134
123 	 123
123 	 123
124 	 124
123 	 123
38 	 38
0 	 0
64 	 64
32 	 32
29 	 29
20 	 20
51 	 51
26 	 26
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  Low Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
2 	 2
1 	 1
3 	 3
1 	 1
4 	 4
5 	 5
2 	 2
59 	 59
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
14 	 14
207 	 207
18 	 18
7 	 7
7 	 7
16 	 16
21 	 21
10 	 10
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Moderate Income Units
Original,	 Cleaned

13 	 13
2 	 2
14 	 14
10 	 10
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
9 	 9
21 	 21
14 	 14
0 	 0
0 	 0
3 	 3
3 	 3
3 	 3
0 	 0
0 	 0
3 	 3
0 	 0
0 	 0
3 	 3
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
2 	 2
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Middle Income Units
Original,	 Cleaned

0 	 0
6 	 6
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
3 	 3
3 	 3
0 	 0
0 	 0
0 	 0
3 	 3
2 	 2
0 	 0
2 	 2
3 	 3
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Other Income Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
1 	 1
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Studio Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
1 	 1
0 	 0
5 	 5
0 	 0
1 	 1
0 	 0
4 	 4
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
1 	 1
0 	 0
1 	 1
0 	 0
4 	 4
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
2 	 2
23 	 23
20 	 20
21 	 21
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
80 	 80
0 	 0
0 	 0
0 	 0
2 	 2
0 	 0
0 	 0
2 	 2
0 	 0
0 	 0
*    50  same records   *

======================


column:  1-BR Units
Original,	 Cleaned

2 	 2
2 	 2
14 	 14
3 	 3
9 	 9
8 	 8
0 	 0
23 	 23
4 	 4
2 	 2
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
4 	 4
5 	 5
5 	 5
6 	 6
0 	 0
10 	 10
70 	 70
63 	 63
65 	 65
43 	 43
43 	 43
43 	 43
43 	 43
34 	 34
72 	 72
16 	 16
7 	 7
7 	 7
10 	 10
14 	 14
9 	 9
13 	 13
14 	 14
4 	 4
*    50  same records   *

======================


column:  2-BR Units
Original,	 Cleaned

11 	 11
6 	 6
1 	 1
7 	 7
10 	 10
12 	 12
6 	 6
19 	 19
28 	 28
15 	 15
8 	 8
9 	 9
6 	 6
2 	 2
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
0 	 0
1 	 1
1 	 1
3 	 3
1 	 1
9 	 9
4 	 4
0 	 0
8 	 8
8 	 8
9 	 9
14 	 14
0 	 0
26 	 26
58 	 58
59 	 59
62 	 62
60 	 60
60 	 60
62 	 62
14 	 14
42 	 42
55 	 55
26 	 26
23 	 23
19 	 19
51 	 51
21 	 21
52 	 52
46 	 46
11 	 11
*    50  same records   *

======================


column:  3-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
4 	 4
13 	 13
16 	 16
0 	 0
5 	 5
0 	 0
10 	 10
4 	 4
0 	 0
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
1 	 1
2 	 2
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
4 	 4
1 	 1
1 	 1
0 	 0
5 	 5
6 	 6
14 	 14
0 	 0
0 	 0
19 	 19
21 	 21

21 	 21
19 	 19
6 	 6
13 	 13
13 	 13
6 	 6
6 	 6
5 	 5
8 	 8
6 	 6
10 	 10
12 	 12
3 	 3
*    50  same records   *

======================


column:  4-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
6 	 6
0 	 0
0 	 0
0 	 0
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  5-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  6-BR+ Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Unknown-BR Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Counted Rental Units
Original,	 Cleaned

0 	 0
0 	 0
0 	 0
0 	 0
20 	 20
24 	 24
20 	 20
64 	 64
37 	 37
22 	 22
0 	 0
0 	 0
0 	 0
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
2 	 2
1 	 1
2 	 2
2 	 2
9 	 9
8 	 8
9 	 9
15 	 15
15 	 15
16 	 16
20 	 20
18 	 18
133 	 133
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
54 	 54
207 	 207
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
*    50  same records   *

======================


column:  Counted Homeownership Units
Original,	 Cleaned

13 	 13
8 	 8
15 	 15
10 	 10
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
9 	 9
21 	 21
14 	 14
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
0 	 0
141 	 141
145 	 145
124 	 124
124 	 124
124 	 124
124 	 124
0 	 0
0 	 0
84 	 84
39 	 39
36 	 36
36 	 36
73 	 73
36 	 36
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  All Counted Units
Original,	 Cleaned

13 	 13
8 	 8
15 	 15
10 	 10
20 	 20
24 	 24
20 	 20
64 	 64
37 	 37
22 	 22
9 	 9
21 	 21
14 	 14
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
2 	 2
3 	 3
2 	 2
3 	 3
3 	 3
9 	 9
8 	 8
9 	 9
15 	 15
15 	 15
16 	 16
20 	 20
18 	 18
133 	 133
141 	 141
145 	 145
124 	 124
124 	 124
124 	 124
124 	 124
54 	 54
207 	 207
84 	 84
39 	 39
36 	 36
36 	 36
73 	 73
36 	 36
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  Total Units
Original,	 Cleaned

13 	 13
8 	 8
15 	 15
10 	 10
20 	 20
24 	 24
20 	 20
64 	 64
37 	 37
22 	 22
9 	 9
21 	 21
14 	 14
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
3 	 3
2 	 2
3 	 3
2 	 2
3 	 3
3 	 3
9 	 9
8 	 8
9 	 9
15 	 15
15 	 15
16 	 16
20 	 20
18 	 18
133 	 133
141 	 141
145 	 145
124 	 124
124 	 124
124 	 124
124 	 124
54 	 54
207 	 207
84 	 84
39 	 39
36 	 36
36 	 36
73 	 73
36 	 36
77 	 77
72 	 72
18 	 18
*    50  same records   *

======================


column:  Project Start Date
Original,	 Cleaned

06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
06/30/2021 	 06/30/2021
*    50  same records   *

======================


column:  Project Completion Date
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Building Completion Date
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Project Name
Original,	 Cleaned

ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
ROCHESTER SUYDAM PHASE 1 	 ROCHESTER SUYDAM PHASE 1
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
SHERMAN CLUSTER HDFC.YR15.FY21 	 SHERMAN CLUSTER HDFC.YR15.FY21
LOWER EAST SIDE CLUSTER 	 LOWER EAST SIDE CLUSTER
LOWER EAST SIDE CLUSTER 	 LOWER EAST SIDE CLUSTER
LOWER EAST SIDE CLUSTER 	 LOWER EAST SIDE CLUSTER
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
BED STUY CENTRAL AND NORTH PHASE I 	 BED STUY CENTRAL AND NORTH PHASE I
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
WEST 135TH ST. CLUSTER.YR15.FY21 	 WEST 135TH ST. CLUSTER.YR15.FY21
111 WILLOW AVENUE 	 111 WILLOW AVENUE
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
GOUVERNEUR GARDENS.PLP.FY21 	 GOUVERNEUR GARDENS.PLP.FY21
1898 HARRISON AVENUE.GHPP.FY21 	 1898 HARRISON AVENUE.GHPP.FY21
88-20 153RD STREET 	 88-20 153RD STREET
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 1.HRP.FY21 	 ELECTCHESTER HOUSING CO 1.HRP.FY21
ELECTCHESTER HOUSING CO 2.HRP.FY21 	 ELECTCHESTER HOUSING CO 2.HRP.FY21
ELECTCHESTER HOUSING CO 2.HRP.FY21 	 ELECTCHESTER HOUSING CO 2.HRP.FY21
*    50  same records   *

======================


column:  Borough
Original,	 Cleaned

Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Bronx 	 Bronx
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Brooklyn 	 Brooklyn
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Bronx 	 Bronx
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Manhattan 	 Manhattan
Bronx 	 Bronx
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
Queens 	 Queens
*    50  same records   *

======================

In [80]:
tp = 100
fp = 0

fn = 13
tn = 1350 - tp - fp - fn

In [81]:
precision(tp, fp)

1.0

In [82]:
recall(tp,fn)

0.8849557522123894

# DOB-NOW-Build-Approved-Permits

In [83]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[4])
print(cleaned_cols)

working on file:  rbx6-tga4.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['Job Filing Number', 'House No', 'C B NO', 'Apt/Condo No(s)', 'Applicant License #', 'Applicant Middle Name', 'Filing Representative Middle Initial', 'Estimated Job Costs', 'Approved Date', 'Issued Date', 'Expired Date', 'Street Name', 'Borough', 'Applicant First Name', 'Applicant Middle Name', 'Applicant Last Name', 'Applicant Business Name', 'Filing Representative First Name', 'Filing Representative Last Name', 'Filing Representative Business Name', 'Owner Business Name', 'Owner Name', 'Owner City']

In [84]:
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1150
======================


column:  Job Filing Number
Original,	 Cleaned

M00531234-I1 	 M00531234-I1
X00496654-I1 	 X00496654-I1
B00579209-I1 	 B00579209-I1
M00514656-I1 	 M00514656-I1
M00431823-I1 	 M00431823-I1
B00583762-I1 	 B00583762-I1
B00516232-I1 	 B00516232-I1
B00472417-I1 	 B00472417-I1
B29303378-I1 	 B29303378-I1
M00379533-I1 	 M00379533-I1
B00369280-I1 	 B00369280-I1
B00378717-I1 	 B00378717-I1
Q00284352-I1 	 Q00284352-I1
B00513806-I1 	 B00513806-I1
S00426773-I1 	 S00426773-I1
S00253862-I1 	 S00253862-I1
X00434717-I1 	 X00434717-I1
B00055891-I1 	 B00055891-I1
B00491585-I1 	 B00491585-I1
M00514118-I1 	 M00514118-I1
B00283296-I1 	 B00283296-I1
B00516235-I1 	 B00516235-I1
B00500645-I1 	 B00500645-I1
M00308545-I1 	 M00308545-I1
M00431432-I1 	 M00431432-I1
M00492347-I1 	 M00492347-I1
X00468553-I1 	 X00468553-I1
M00489394-I1 	 M00489394-I1
M00406969-I1 	 M00406969-I1
M00510532-I1 	 M00510532-I1
Q00513093-I1 	 Q00513093-I1
X00294312-I1 	 X00294312-I1
M00340646-I1 	 M00340646-I1
B00504274-I1 	 B00504274-I1
B00508946-I1 	 B00508946-I1
Q00509417-I1 	 Q00509417-I1
M00296154-I1 	 M00296154-I1
B00569487-I1 	 B00569487-I1
M00503100-I1 	 M00503100-I1
M00502169-I1 	 M00502169-I1
M00516217-I1 	 M00516217-I1
B00428043-I1 	 B00428043-I1
Q00534245-I1 	 Q00534245-I1
Q00504804-I1 	 Q00504804-I1
M00449689-S2 	 M00449689-S2
S00336724-I1 	 S00336724-I1
S00253920-I1 	 S00253920-I1
B00238236-I1 	 B00238236-I1
M00449689-S2 	 M00449689-S2
X00174607-I1 	 X00174607-I1
*    50  same records   *

======================


column:  House No
Original,	 Cleaned

26 	 26
1051 	 1051
1010 	 1010
33 	 33
301 	 301
350 	 350
102 	 102
1329 	 1329
106 	 106
204 	 204
309 	 309
538 	 538
57-28 	 57-28
136 	 136
7 	 7
116 	 116
1073 	 1073
652 	 652
434 	 434
6 	 6
408 	 408
102 	 102
691 	 691
2643 	 2643
1 	 1
120 	 120
915 	 915
350 	 350
120 	 120
245 	 245
112-27 	 112-27
641 	 641
360 	 360
1115 	 1115
64 	 64
99-06 	 99-06
311 	 311
333 	 333
101 	 101
1375 	 1375
12 	 12
580 	 580
133-43 	 133-43
82-08 	 82-08
224 	 224
2500 	 2500
101 	 101
717 	 717
224 	 224
362 	 362
*    50  same records   *

======================


column:  C B NO
Original,	 Cleaned

112 	 112
202 	 202
308 	 308
110 	 110
108 	 108
304 	 304
304 	 304
304 	 304
303 	 303
103 	 103
302 	 302
310 	 310
402 	 402
301 	 301
502 	 502
503 	 503
204 	 204
302 	 302
310 	 310
101 	 101
315 	 315
304 	 304
303 	 303
107 	 107
105 	 105
101 	 101
206 	 206
104 	 104
105 	 105
105 	 105
407 	 407
212 	 212
105 	 105
310 	 310
302 	 302
404 	 404
102 	 102
302 	 302
101 	 101
105 	 105
105 	 105
307 	 307
407 	 407
408 	 408
110 	 110
502 	 502
503 	 503
307 	 307
110 	 110
201 	 201
*    50  same records   *

======================


column:  Apt/Condo No(s)
Original,	 Cleaned

 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
*    0  same records   *

======================


column:  Applicant License #
Original,	 Cleaned

620856 	 620856
000186 	 000186
620856 	 620856
603235 	 603235
001572 	 001572
039896 	 039896
032158 	 032158
001314 	 001314
001875 	 001875
620842 	 620842
002111 	 002111
001901 	 001901
000851 	 000851
620022 	 620022
001719 	 001719
000363 	 000363
620022 	 620022
612883 	 612883
618877 	 618877
000483 	 000483
001253 	 001253
032158 	 032158
610032 	 610032
001390 	 001390
000287 	 000287
000908 	 000908
620022 	 620022
000161 	 000161
003820 	 003820
608580 	 608580
621680 	 621680
612734 	 612734
015697 	 015697
622679 	 622679
618877 	 618877
003365 	 003365
613262 	 613262
000196 	 000196
032892 	 032892
000224 	 000224
032158 	 032158
001315 	 001315
611387 	 611387
015697 	 015697
000991 	 000991
005598 	 005598
000363 	 000363
616920 	 616920
000991 	 000991
029817 	 029817
*    50  same records   *

======================


column:  Applicant Middle Name
Original,	 Cleaned

None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
*    0  same records   *

======================


column:  Filing Representative Middle Initial
Original,	 Cleaned

 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
 	 nan 	*
*    0  same records   *

======================


column:  Estimated Job Costs
Original,	 Cleaned

5000 	 5000
1850 	 1850
1000 	 1000
1 	 1
5000 	 5000
4500 	 4500
1000 	 1000
68750 	 68750
25500 	 25500
1 	 1
81997.88 	 81997.88
50000 	 50000
1000 	 1000
5000 	 5000
25000 	 25000
36250 	 36250
5000 	 5000
15000 	 15000
87990 	 87990
4000 	 4000
17600 	 17600
1000 	 1000
9998.75 	 9998.75
9000 	 9000
16000 	 16000
5000 	 5000
5000 	 5000
82000 	 82000
40500 	 40500
449892.6 	 449892.6
15000 	 15000
15000 	 15000
1 	 1
120000 	 120000
10000 	 10000
64225 	 64225
10000 	 10000
2400 	 2400
4198435 	 4198435
2457 	 2457
1 	 1
10000 	 10000
4500 	 4500
1511950 	 1511950
200 	 200
5000 	 5000
41500 	 41500
7501.5 	 7501.5
200 	 200
5000 	 5000
*    50  same records   *

======================


column:  Approved Date
Original,	 Cleaned

06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
12/14/2020 12:00:00 AM 	 12/14/2020 12:00:00 AM
09/20/2021 12:00:00 AM 	 09/20/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
02/24/2021 12:00:00 AM 	 02/24/2021 12:00:00 AM
05/18/2020 12:00:00 AM 	 05/18/2020 12:00:00 AM
08/10/2020 12:00:00 AM 	 08/10/2020 12:00:00 AM
08/19/2020 12:00:00 AM 	 08/19/2020 12:00:00 AM
08/10/2020 12:00:00 AM 	 08/10/2020 12:00:00 AM
01/07/2020 12:00:00 AM 	 01/07/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/13/2020 12:00:00 AM 	 11/13/2020 12:00:00 AM
10/29/2019 12:00:00 AM 	 10/29/2019 12:00:00 AM
12/04/2020 12:00:00 AM 	 12/04/2020 12:00:00 AM
06/29/2018 12:00:00 AM 	 06/29/2018 12:00:00 AM
03/31/2021 12:00:00 AM 	 03/31/2021 12:00:00 AM
05/05/2021 12:00:00 AM 	 05/05/2021 12:00:00 AM
12/23/2019 12:00:00 AM 	 12/23/2019 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
04/28/2021 12:00:00 AM 	 04/28/2021 12:00:00 AM
02/26/2020 12:00:00 AM 	 02/26/2020 12:00:00 AM
02/18/2021 12:00:00 AM 	 02/18/2021 12:00:00 AM
04/26/2021 12:00:00 AM 	 04/26/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
04/10/2021 12:00:00 AM 	 04/10/2021 12:00:00 AM
11/12/2020 12:00:00 AM 	 11/12/2020 12:00:00 AM
06/03/2021 12:00:00 AM 	 06/03/2021 12:00:00 AM
05/02/2021 12:00:00 AM 	 05/02/2021 12:00:00 AM
01/13/2020 12:00:00 AM 	 01/13/2020 12:00:00 AM
04/30/2020 12:00:00 AM 	 04/30/2020 12:00:00 AM
05/03/2021 12:00:00 AM 	 05/03/2021 12:00:00 AM
04/29/2021 12:00:00 AM 	 04/29/2021 12:00:00 AM
06/09/2021 12:00:00 AM 	 06/09/2021 12:00:00 AM
02/11/2020 12:00:00 AM 	 02/11/2020 12:00:00 AM
08/17/2021 12:00:00 AM 	 08/17/2021 12:00:00 AM
04/16/2021 12:00:00 AM 	 04/16/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/23/2020 12:00:00 AM 	 11/23/2020 12:00:00 AM
06/11/2021 12:00:00 AM 	 06/11/2021 12:00:00 AM
06/17/2021 12:00:00 AM 	 06/17/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
03/06/2020 12:00:00 AM 	 03/06/2020 12:00:00 AM
10/03/2019 12:00:00 AM 	 10/03/2019 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
06/04/2019 12:00:00 AM 	 06/04/2019 12:00:00 AM
*    50  same records   *

======================


column:  Issued Date
Original,	 Cleaned

06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/04/2021 12:00:00 AM 	 06/04/2021 12:00:00 AM
09/23/2021 12:00:00 AM 	 09/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
01/28/2021 12:00:00 AM 	 01/28/2021 12:00:00 AM
04/04/2021 12:00:00 AM 	 04/04/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
11/16/2020 12:00:00 AM 	 11/16/2020 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
12/04/2020 12:00:00 AM 	 12/04/2020 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
07/13/2021 12:00:00 AM 	 07/13/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
02/16/2021 12:00:00 AM 	 02/16/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
03/25/2021 12:00:00 AM 	 03/25/2021 12:00:00 AM
01/21/2021 12:00:00 AM 	 01/21/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
08/24/2021 12:00:00 AM 	 08/24/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
07/13/2021 12:00:00 AM 	 07/13/2021 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
06/23/2021 12:00:00 AM 	 06/23/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/06/2021 12:00:00 AM 	 05/06/2021 12:00:00 AM
05/29/2020 12:00:00 AM 	 05/29/2020 12:00:00 AM
*    50  same records   *

======================


column:  Expired Date
Original,	 Cleaned

06/23/2022 12:00:00 AM 	 06/23/2022 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
07/20/2022 12:00:00 AM 	 07/20/2022 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
03/11/2022 05:00:00 AM 	 03/11/2022 05:00:00 AM
11/01/2021 04:00:00 AM 	 11/01/2021 04:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
04/19/2022 12:00:00 AM 	 04/19/2022 12:00:00 AM
02/25/2021 12:00:00 AM 	 02/25/2021 12:00:00 AM
04/01/2022 04:00:00 AM 	 04/01/2022 04:00:00 AM
08/07/2021 04:00:00 AM 	 08/07/2021 04:00:00 AM
12/26/2021 12:00:00 AM 	 12/26/2021 12:00:00 AM
11/30/2021 12:00:00 AM 	 11/30/2021 12:00:00 AM
05/06/2022 04:00:00 AM 	 05/06/2022 04:00:00 AM
09/15/2021 04:00:00 AM 	 09/15/2021 04:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
12/04/2021 05:00:00 AM 	 12/04/2021 05:00:00 AM
02/22/2022 12:00:00 AM 	 02/22/2022 12:00:00 AM
04/25/2022 12:00:00 AM 	 04/25/2022 12:00:00 AM
06/10/2021 12:00:00 AM 	 06/10/2021 12:00:00 AM
01/10/2022 12:00:00 AM 	 01/10/2022 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
04/16/2022 04:00:00 AM 	 04/16/2022 04:00:00 AM
03/08/2022 12:00:00 AM 	 03/08/2022 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
02/01/2022 12:00:00 AM 	 02/01/2022 12:00:00 AM
02/16/2022 05:00:00 AM 	 02/16/2022 05:00:00 AM
11/01/2021 12:00:00 AM 	 11/01/2021 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
06/29/2021 04:00:00 AM 	 06/29/2021 04:00:00 AM
02/10/2022 12:00:00 AM 	 02/10/2022 12:00:00 AM
09/19/2021 04:00:00 AM 	 09/19/2021 04:00:00 AM
01/15/2022 05:00:00 AM 	 01/15/2022 05:00:00 AM
03/02/2022 12:00:00 AM 	 03/02/2022 12:00:00 AM
04/25/2022 12:00:00 AM 	 04/25/2022 12:00:00 AM
02/28/2022 12:00:00 AM 	 02/28/2022 12:00:00 AM
08/16/2022 04:00:00 AM 	 08/16/2022 04:00:00 AM
11/01/2021 04:00:00 AM 	 11/01/2021 04:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
05/10/2021 12:00:00 AM 	 05/10/2021 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
08/16/2021 12:00:00 AM 	 08/16/2021 12:00:00 AM
07/13/2022 04:00:00 AM 	 07/13/2022 04:00:00 AM
01/15/2022 05:00:00 AM 	 01/15/2022 05:00:00 AM
01/14/2022 12:00:00 AM 	 01/14/2022 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
05/07/2021 12:00:00 AM 	 05/07/2021 12:00:00 AM
01/14/2022 12:00:00 AM 	 01/14/2022 12:00:00 AM
05/29/2021 04:00:00 AM 	 05/29/2021 04:00:00 AM
*    50  same records   *

======================


column:  Street Name
Original,	 Cleaned

SHERMAN AVENUE 	 SHERMAN AVENUE
WESTCHESTER AVENUE 	 WESTCHESTER AVENUE
PACIFIC STREET 	 PACIFIC STREET
WEST  125 STREET 	 WEST  125 STREET
EAST 73 STREET 	 EAST 73 STREET
IRVING AVENUE 	 IRVING AVENUE
PILLING STREET 	 PILLING STREET
WILLOUGHBY AVENUE 	 WILLOUGHBY AVENUE
MALCOLM X BOULEVARD 	 MALCOLM X BOULEVARD
AVENUE A 	 AVENUE A
BERGEN STREET 	 BERGEN STREET
72 STREET 	 72 STREET
2 STREET 	 2 STREET
NORTH    6 STREET 	 NORTH    6 STREET
NIGHTINGALE STREET 	 NIGHTINGALE STREET
BAYVIEW AVENUE 	 BAYVIEW AVENUE
SUMMIT AVENUE 	 SUMMIT AVENUE
KENT AVENUE 	 KENT AVENUE
80 STREET 	 80 STREET
LIBERTY PLACE 	 LIBERTY PLACE
LAKE STREET 	 LAKE STREET
PILLING STREET 	 PILLING STREET
MARCY AVENUE 	 MARCY AVENUE
BROADWAY 	 BROADWAY
PENN PLAZA 	 PENN PLAZA
WALL STREET 	 WALL STREET
ELSMERE PLACE 	 ELSMERE PLACE
WEST   31 STREET 	 WEST   31 STREET
FIFTH AVENUE 	 FIFTH AVENUE
PARK AVENUE 	 PARK AVENUE
15 AVENUE 	 15 AVENUE
EAST 225 STREET 	 EAST 225 STREET
LEXINGTON AVENUE 	 LEXINGTON AVENUE
70 STREET 	 70 STREET
BERGEN STREET 	 BERGEN STREET
58 AVENUE 	 58 AVENUE
WEST BROADWAY 	 WEST BROADWAY
ATLANTIC AVENUE 	 ATLANTIC AVENUE
GREENWICH STREET 	 GREENWICH STREET
BROADWAY 	 BROADWAY
WEST   37 STREET 	 WEST   37 STREET
39 STREET 	 39 STREET
35 AVENUE 	 35 AVENUE
135 STREET 	 135 STREET
WEST  124 STREET 	 WEST  124 STREET
RICHMOND AVENUE 	 RICHMOND AVENUE
MANEE AVENUE 	 MANEE AVENUE
40 STREET 	 40 STREET
WEST  124 STREET 	 WEST  124 STREET
EAST 148 STREET 	 EAST 148 STREET
*    50  same records   *

======================


column:  Borough
Original,	 Cleaned

MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
STATEN ISLAND 	 STATEN ISLAND
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
STATEN ISLAND 	 STATEN ISLAND
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
*    50  same records   *

======================


column:  Applicant First Name
Original,	 Cleaned

STEVEN 	 STEVEN
MICHAEL 	 MICHAEL
STEVEN 	 STEVEN
CHARLES 	 CHARLES
GERALD 	 GERALD
BERNARD 	 BERNARD
CHRISTOPHER 	 CHRISTOPHER
JOSEPH 	 JOSEPH
ANTONIO 	 ANTONIO
SEAN 	 SEAN
MICHAEL 	 MICHAEL
DOUGLAS 	 DOUGLAS
PETER 	 PETER
EDWARD 	 EDWARD
DOUGLAS 	 DOUGLAS
MICHAEL 	 MICHAEL
EDWARD 	 EDWARD
JATINDER 	 JATINDER
ZHEN AI 	 ZHEN AI
MENDY 	 MENDY
ALAN 	 ALAN
CHRISTOPHER 	 CHRISTOPHER
ARYEH 	 ARYEH
GURCHARAN 	 GURCHARAN
JIM 	 JIM
CHRISTOPHER 	 CHRISTOPHER
EDWARD 	 EDWARD
LAWRENCE 	 LAWRENCE
WILLIAM 	 WILLIAM
JIM 	 JIM
QINGYU 	 QINGYU
RAJA 	 RAJA
LOOMIS 	 LOOMIS
CHUNZHI 	 CHUNZHI
ZHEN AI 	 ZHEN AI
JOHN 	 JOHN
ZACHARIAH 	 ZACHARIAH
PAUL 	 PAUL
ILIRJAN 	 ILIRJAN
JONATHAN 	 JONATHAN
CHRISTOPHER 	 CHRISTOPHER
GARY 	 GARY
SUNGHOON 	 SUNGHOON
LOOMIS 	 LOOMIS
GARY 	 GARY
WILLIAM 	 WILLIAM
MICHAEL 	 MICHAEL
WENDY 	 WENDY
GARY 	 GARY
RAVINDRA 	 RAVINDRA
*    50  same records   *

======================


column:  Applicant Middle Name
Original,	 Cleaned

None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
None 	 nan 	*
*    0  same records   *

======================


column:  Applicant Last Name
Original,	 Cleaned

WEISS 	 WEISS
PERAS 	 PERAS
WEISS 	 WEISS
TALISSE 	 TALISSE
TALLEY JR. 	 TALLEY JR.
GIARRAPUTO 	 GIARRAPUTO
DOWNES 	 DOWNES
KOS 	 KOS
FERNANDEZ 	 FERNANDEZ
GANN 	 GANN
SPINELLI 	 SPINELLI
WEIDNER 	 WEIDNER
LEOUTSAKOS 	 LEOUTSAKOS
KELLY 	 KELLY

PEDERSON 	 PEDERSON
DIMAGGIO 	 DIMAGGIO
KELLY 	 KELLY
KOMAL 	 KOMAL
HE 	 HE
BRAUN 	 BRAUN
MITCHELL 	 MITCHELL
DOWNES 	 DOWNES
ASSOULINE 	 ASSOULINE
SINGH 	 SINGH
CONWAY 	 CONWAY
LUPINO 	 LUPINO
KELLY 	 KELLY
LEVINE 	 LEVINE
CHIN 	 CHIN
SCULLY 	 SCULLY
LUO 	 LUO
RIZWAN 	 RIZWAN
LINDGREN 	 LINDGREN
ZHANG 	 ZHANG
HE 	 HE
TSAMPAS 	 TSAMPAS
ROCKHILL 	 ROCKHILL
BOEGEMANN 	 BOEGEMANN
RUSI 	 RUSI
BRAGOLI 	 BRAGOLI
DOWNES 	 DOWNES
JACCARINO 	 JACCARINO
JUNG 	 JUNG
LINDGREN 	 LINDGREN
LOMBARDO 	 LOMBARDO
KLEIN 	 KLEIN
DIMAGGIO 	 DIMAGGIO
CHEN 	 CHEN
LOMBARDO 	 LOMBARDO
REDDY 	 REDDY
*    50  same records   *

======================


column:  Applicant Business Name
Original,	 Cleaned

MANHATTAN D ENTERPRISES 	 MANHATTAN D ENTERPRISES
ULTIMATE SIGNS&DESIGNS CO 	 ULTIMATE SIGNS&DESIGNS CO
MANHATTAN D ENTERPRISES 	 MANHATTAN D ENTERPRISES
CS BRIDGE CORP 	 CS BRIDGE CORP
ALL CITY MECHANICAL INC 	 ALL CITY MECHANICAL INC
L.S. SIGN CO., INC 	 L.S. SIGN CO., INC
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
UNIPIPE PLBG&HTG CORP 	 UNIPIPE PLBG&HTG CORP
FERNANDEZ HTG & MECH CORP 	 FERNANDEZ HTG & MECH CORP
7376 CONSTRUCTION LLC 	 7376 CONSTRUCTION LLC
VMC PLUMBING & HEATING IN 	 VMC PLUMBING & HEATING IN
TRI STATE PLBG & HTG INC 	 TRI STATE PLBG & HTG INC
PEAK FIRE PROTECTION LLC 	 PEAK FIRE PROTECTION LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
V & M DRAIN CLEANING INC 	 V & M DRAIN CLEANING INC
K.M.D. MCHNCL 1443 LLC 	 K.M.D. MCHNCL 1443 LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
J.S.K. CONSTRUCTION CORP 	 J.S.K. CONSTRUCTION CORP
HIGH QUALITY CONSTRUCTION 	 HIGH QUALITY CONSTRUCTION
BRAUN MANAGEMENT INC 	 BRAUN MANAGEMENT INC
A. M. PLUMBING COMPANY 	 A. M. PLUMBING COMPANY
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
IMPACT BUILDERS CORP 	 IMPACT BUILDERS CORP
LAKHI GENERAL CONTRACTOR 	 LAKHI GENERAL CONTRACTOR
AMBASSADOR CONSTRUCTION C 	 AMBASSADOR CONSTRUCTION C
AGGRESSIVE FIRE PROT LLC 	 AGGRESSIVE FIRE PROT LLC
CONSOLIDATED SCAFFOLDING 	 CONSOLIDATED SCAFFOLDING
PAR PLUMBING CO., INC 	 PAR PLUMBING CO., INC
GOOD-WILL MECHANICAL CORP 	 GOOD-WILL MECHANICAL CORP
SCULLY CONSTRUCTION LLC 	 SCULLY CONSTRUCTION LLC
FLUSHING ONE CONSTRUCTION 	 FLUSHING ONE CONSTRUCTION
NEW CITY BRIDGING CORP 	 NEW CITY BRIDGING CORP
LAWRENCE EXTERIOR RESTORA 	 LAWRENCE EXTERIOR RESTORA
SPLEN CONSTRUCTION INC 	 SPLEN CONSTRUCTION INC
HIGH QUALITY CONSTRUCTION 	 HIGH QUALITY CONSTRUCTION
SKYLINE RESTORATION INC 	 SKYLINE RESTORATION INC
HATCHET WORKS CORP 	 HATCHET WORKS CORP
PAUL SIGNS, INC 	 PAUL SIGNS, INC
BENJAMIN GROUP ENTERPRIS 	 BENJAMIN GROUP ENTERPRIS
NATIONAL MAINTENANCE, INC 	 NATIONAL MAINTENANCE, INC
EVEREST SCAFFOLDING INC 	 EVEREST SCAFFOLDING INC
QBK PLUMBING & HTNG INC 	 QBK PLUMBING & HTNG INC
URBAN GC INC 	 URBAN GC INC
LAWRENCE EXTERIOR RESTORA 	 LAWRENCE EXTERIOR RESTORA
PIPING & PLUMBING SOLUTIO 	 PIPING & PLUMBING SOLUTIO
THE FRANKLIN COMANY CONT* 	 THE FRANKLIN COMANY CONT*
K.M.D. MCHNCL 1443 LLC 	 K.M.D. MCHNCL 1443 LLC
LOXTON INC 	 LOXTON INC
PIPING & PLUMBING SOLUTIO 	 PIPING & PLUMBING SOLUTIO
CITI STRUCTURE LLC 	 CITI STRUCTURE LLC
*    50  same records   *

======================


column:  Filing Representative First Name
Original,	 Cleaned

HALYNA 	 HALYNA
MATTHEW 	 MATTHEW
ANGELO 	 ANGELO
HANCE 	 HANCE
BIBI 	 BIBI
STEVEN 	 STEVEN
nan 	 nan 	*
STEVEN 	 STEVEN
nan 	 nan 	*
STEEVALIZ 	 STEEVALIZ
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
EMER 	 EMER
KAREN 	 KAREN
nan 	 nan 	*
EMER 	 EMER
nan 	 nan 	*
nan 	 nan 	*
JULIO 	 JULIO
MERCEDES 	 MERCEDES
nan 	 nan 	*
YISROEL  ZEV 	 YISROEL  ZEV
KHEMRAJ 	 KHEMRAJ
MARTIN 	 MARTIN
LOUIS 	 LOUIS
EMER 	 EMER
nan 	 nan 	*
JOSEPH 	 JOSEPH
nan 	 nan 	*
nan 	 nan 	*
SATWANT 	 SATWANT
ELY 	 ELY
nan 	 nan 	*
nan 	 nan 	*
ELY 	 ELY
EDWIN 	 EDWIN
MATTHEW 	 MATTHEW
FRANK 	 FRANK
LEEANN 	 LEEANN
JOSEPH 	 JOSEPH
PETER 	 PETER
nan 	 nan 	*
DAYANA 	 DAYANA
nan 	 nan 	*
MUHAMMAD 	 MUHAMMAD
nan 	 nan 	*
MICHAEL 	 MICHAEL
nan 	 nan 	*
nan 	 nan 	*
*    31  same records   *

======================


column:  Filing Representative Last Name
Original,	 Cleaned

LUTSIV 	 LUTSIV
CALVO 	 CALVO
VALENZUELA 	 VALENZUELA
MERCEDES 	 MERCEDES
R LALBIHARI 	 R LALBIHARI
TULLOCH 	 TULLOCH
nan 	 nan 	*
RUBIN 	 RUBIN
nan 	 nan 	*
RAMOS 	 RAMOS
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
TIMONEY 	 TIMONEY
PODLUCKY 	 PODLUCKY
nan 	 nan 	*
TIMONEY 	 TIMONEY
nan 	 nan 	*
nan 	 nan 	*
GUADALUPE 	 GUADALUPE
HERNANDEZ 	 HERNANDEZ
nan 	 nan 	*
HEISLER 	 HEISLER
ITWARIA 	 ITWARIA
BUTLER 	 BUTLER
GRELL 	 GRELL
TIMONEY 	 TIMONEY
nan 	 nan 	*
GEE 	 GEE
nan 	 nan 	*
nan 	 nan 	*
MINHAS 	 MINHAS
SEPULVEDA 	 SEPULVEDA
nan 	 nan 	*
nan 	 nan 	*
SEPULVEDA 	 SEPULVEDA
ROJAS 	 ROJAS
CALVO 	 CALVO
FORTINO 	 FORTINO
SZUFLADA 	 SZUFLADA
CASTILLO 	 CASTILLO
CARPENZANO 	 CARPENZANO
nan 	 nan 	*
ALEXANDRE 	 ALEXANDRE
nan 	 nan 	*
KHEDARU 	 KHEDARU
nan 	 nan 	*
GENARI 	 GENARI
nan 	 nan 	*
nan 	 nan 	*
*    31  same records   *

======================


column:  Filing Representative Business Name
Original,	 Cleaned

RIGID STRUCTURAL DESIGN 	 RIGID STRUCTURAL DESIGN
BUILDING BROTHERS INC. 	 BUILDING BROTHERS INC.
PATUXENT ENGINEERING, LLC 	 PATUXENT ENGINEERING, LLC
SYNERGY BUILDING CONSULTANTS 	 SYNERGY BUILDING CONSULTANTS
JENNY FLORES EXPEDITING 	 JENNY FLORES EXPEDITING
LOUIS STRIAR INC. 	 LOUIS STRIAR INC.
nan 	 nan 	*
LEWSAN CONSULTANTS 	 LEWSAN CONSULTANTS
nan 	 nan 	*
SRP DRAFTING AND DESIGN 	 SRP DRAFTING AND DESIGN
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
CONSOLIDATED SCAFFOLD &BRIDGE CORP 	 CONSOLIDATED SCAFFOLD &BRIDGE CORP
KAREN PODLUCKY 	 KAREN PODLUCKY
nan 	 nan 	*
CONSOLIDATED SCAFFOLD &BRIDGE CORP 	 CONSOLIDATED SCAFFOLD &BRIDGE CORP
nan 	 nan 	*
nan 	 nan 	*
ACA ASSOCIATES 	 ACA ASSOCIATES
S&M EXPEDITING 	 S&M EXPEDITING
nan 	 nan 	*
PDG BUILDING CONSULTANTS LLC LLC 	 PDG BUILDING CONSULTANTS LLC LLC
101 SERVICES INC 	 101 SERVICES INC
ARCHETYPE CONSULTANTS, INC. 	 ARCHETYPE CONSULTANTS, INC.
RIGHT WAY SERVICES NYC, INC. 	 RIGHT WAY SERVICES NYC, INC.
CONSOLIDATED SCAFFOLD &BRIDGE CORP 	 CONSOLIDATED SCAFFOLD &BRIDGE CORP
nan 	 nan 	*
AAA TOTAL PLUMBING INC 	 AAA TOTAL PLUMBING INC
nan 	 nan 	*
nan 	 nan 	*
ATLANTIC BUILDING SUPPLY INC. 	 ATLANTIC BUILDING SUPPLY INC.
AE DESIGN SOLUTION INC. 	 AE DESIGN SOLUTION INC.
nan 	 nan 	*
nan 	 nan 	*
AE DESIGN SOLUTION INC. 	 AE DESIGN SOLUTION INC.
GILLMAN CONSULTING INC 	 GILLMAN CONSULTING INC
BUILDING BROTHERS INC. 	 BUILDING BROTHERS INC.
METROPOLIS GROUP INC 	 METROPOLIS GROUP INC
NATIONAL SIGN AND LIGHTING 	 NATIONAL SIGN AND LIGHTING
UNITED SAFETY CONSULTANTS 	 UNITED SAFETY CONSULTANTS
SILVER STAR PLUMBING & HEATING INC 	 SILVER STAR PLUMBING & HEATING INC
nan 	 nan 	*
RAND ENGINEERING & ARCHITECTURE,DPC 	 RAND ENGINEERING & ARCHITECTURE,DPC
nan 	 nan 	*
MUNICIPAL BUILDING CONSULTANTS 	 MUNICIPAL BUILDING CONSULTANTS
nan 	 nan 	*
GRAND EXPEDITERS NYC 	 GRAND EXPEDITERS NYC
nan 	 nan 	*
nan 	 nan 	*
*    31  same records   *

======================


column:  Owner Business Name
Original,	 Cleaned

PR 	 PR
EIB WESTCHESTER 1 LLC 	 EIB WESTCHESTER 1 LLC
TWIN GROUP ASSOCIATES INC 	 TWIN GROUP ASSOCIATES INC
CGM MANAGEMENT GROUP, INC 	 CGM MANAGEMENT GROUP, INC
BROADWAY MERCER ASSOCIATES 	 BROADWAY MERCER ASSOCIATES
nan 	 nan 	*
EVEREST SCAFFOLDING INC. 	 EVEREST SCAFFOLDING INC.
FM CONSOLIDATED HOLDING 	 FM CONSOLIDATED HOLDING
DRY CLEANING EQUIPMENT 	 DRY CLEANING EQUIPMENT
RESTORING COMMUNITIES HDFC 	 RESTORING COMMUNITIES HDFC
ASP 	 ASP
H&Z BUILDING CORP. 	 H&Z BUILDING CORP.
GO HPS LLC 	 GO HPS LLC
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
CAPODANNO PROPERTIES 	 CAPODANNO PROPERTIES
ASHLAND BUILDING LLC 	 ASHLAND BUILDING LLC
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
J.S.K. CONSTRUCTION CORP 	 J.S.K. CONSTRUCTION CORP
PR 	 PR
DAROR ASSOCIATES 	 DAROR ASSOCIATES
MOONSHINE CONSTRUCTION 	 MOONSHINE CONSTRUCTION
EVEREST SCAFFOLDING INC. 	 EVEREST SCAFFOLDING INC.
BEN JOSEF GROUP 	 BEN JOSEF GROUP
HPD 	 HPD
VORNADO REALTY TRUST 	 VORNADO REALTY TRUST
SILVERSTEIN PROPERTIES INC. 	 SILVERSTEIN PROPERTIES INC.
CONSOLIDATED SCAFFOLD & BRIDGE CORP 	 CONSOLIDATED SCAFFOLD & BRIDGE CORP
BERNSTEIN REAL ESTATE 	 BERNSTEIN REAL ESTATE
THE BROMLEY COMPANIES 	 THE BROMLEY COMPANIES
PR 	 PR
nan 	 nan 	*
NEW CITY BRIDGING CORP 	 NEW CITY BRIDGING CORP
PR 	 PR
PR 	 PR
nan 	 nan 	*
PR 	 PR
nan 	 nan 	*
THE ATLANTIC BKLN 	 THE ATLANTIC BKLN
PR 	 PR
CBRE 	 CBRE
EVEREST SCAFFOLDING INC. 	 EVEREST SCAFFOLDING INC.
ISSAC 	 ISSAC
133-43 35 AVE LLC. 	 133-43 35 AVE LLC.
PR 	 PR
PR 	 PR
NYC DDC 	 NYC DDC
ASHLAND BUILDING LLC 	 ASHLAND BUILDING LLC
PR 	 PR
PR 	 PR
ALBA SERVICES INC 	 ALBA SERVICES INC
*    46  same records   *

======================


column:  Owner Name
Original,	 Cleaned

SHLOIME GROSS 	 SHLOIME GROSS
FRANK SCAFFA 	 FRANK SCAFFA
SOLOMON SCHWIMMER 	 SOLOMON SCHWIMMER
CARMINE MOLISSE 	 CARMINE MOLISSE
CYNTHIA GONZALEZ 	 CYNTHIA GONZALEZ
YASER OBYAH 	 YASER OBYAH
CHRISTOPHER DOWNES 	 CHRISTOPHER DOWNES
TERESA CHUI 	 TERESA CHUI
PLINIO BUTTEN 	 PLINIO BUTTEN
JUAN BARAHONA 	 JUAN BARAHONA
BENJAMIN ATKINS 	 BENJAMIN ATKINS
HANJUN BAI 	 HANJUN BAI
TRISTAN NADAL 	 TRISTAN NADAL
EDWARD KELLY 	 EDWARD KELLY
JOHN TOTO 	 JOHN TOTO
MICHAEL PICCIALLO 	 MICHAEL PICCIALLO
EDWARD KELLY 	 EDWARD KELLY
JATINDER KOMAL 	 JATINDER KOMAL
XIAOTAN LEON 	 XIAOTAN LEON
DAVID BRAUN 	 DAVID BRAUN
ASHRAF MOHAMMAD 	 ASHRAF MOHAMMAD
CHRISTOPHER DOWNES 	 CHRISTOPHER DOWNES
RONEN BEN JOSEF 	 RONEN BEN JOSEF
HPD REPRESENTATIVE 	 HPD REPRESENTATIVE
CARLOS LOPEZ 	 CARLOS LOPEZ
BILL DACUNTO 	 BILL DACUNTO
EDWARD KELLY 	 EDWARD KELLY
CARMINE CASALE 	 CARMINE CASALE
NICHOLAS HAINES 	 NICHOLAS HAINES
DUAN WANG 	 DUAN WANG
AI YI ZHOU 	 AI YI ZHOU
RAJA RIZWAN 	 RAJA RIZWAN
VITO BARBAGALLO 	 VITO BARBAGALLO
KEVIN CHEN 	 KEVIN CHEN
YUCHUN LI 	 YUCHUN LI
JULIA KODIS 	 JULIA KODIS
CHRIS GRASSO 	 CHRIS GRASSO
PATRICK WATSON 	 PATRICK WATSON
CHRISTOPHER GILDEA 	 CHRISTOPHER GILDEA
ANTHONY FREER 	 ANTHONY FREER
CHRISTOPHER DOWNES 	 CHRISTOPHER DOWNES
ISAAC ABED 	 ISAAC ABED
JAMES PARK 	 JAMES PARK
MARK MOSKOWITZ 	 MARK MOSKOWITZ
EDWARD POTEAT 	 EDWARD POTEAT
JERRY ALIBERTI 	 JERRY ALIBERTI
MICHAEL PICCIALLO 	 MICHAEL PICCIALLO
HUA CHANG ZHU 	 HUA CHANG ZHU
EDWARD POTEAT 	 EDWARD POTEAT
ANDREW HORAN 	 ANDREW HORAN
*    50  same records   *

======================


column:  Owner City
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================

In [88]:
tp = 273
fp = 50

fn = 86
tn = 1150 - tp - fp - fn

In [89]:
precision(tp, fp)

0.8452012383900929

In [90]:
recall(tp,fn)

0.7604456824512534

# Historical DOB Permit Issuance

In [134]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[0])
print(cleaned_cols)

working on file:  bty7-2jhb.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['Number', 'Job #', 'Job doc. #', 'Residential', 'Permit Sequence #', "Permittee's Phone #", "Permittee's License #", "Owner's House #", "Owner's Phone #", 'Filing Date', 'Issuance Date', 'Expiration Date', 'Job Start Date', 'DOBRunDate', 'BOROUGH', "Permittee's First Name", "Permittee's Last Name", "Permittee's Business Name", "Site Safety Mgr's First Name", "Site Safety Mgr's Last Name", 'Site Safety Mgr Business Name', 'Superintendent First & Last Name', 'Superintendent Business Name', "Owner's Business Name", "Owner's First Name", "Owner's Last Name", "Owner's House Street Name", 'Owneréˆ¥æªš House City']

In [140]:
cleaned_cols.remove('Owneréˆ¥æªš House City')
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1350
======================


column:  Number
Original,	 Cleaned

2960 	 2960
100 	 100
1898 	 1898
1998 	 1998
565 	 565
606 	 606
730 	 730
345 	 345
4487 	 4487
575 	 575
69 	 69
1400 	 1400
444 	 444
140 	 140
1 	 1
921 	 921
1214 	 1214
840 	 840
2165 	 2165
968 	 968
465 	 465
1300 	 1300
1926 	 1926
730 	 730
3245 	 3245
2 	 2
2350 	 2350
1318 	 1318
1100 	 1100
1624 	 1624
3269 	 3269
730 	 730
140 	 140
1845 	 1845
2225 	 2225
1368 	 1368
755 	 755
6305 	 6305
100 	 100
4453 	 4453
2614 	 2614
92 	 92
1125 	 1125
1750 	 1750
3469 	 3469
1980 	 1980
120 	 120
1385 	 1385
217 	 217
2870 	 2870
*    50  same records   *

======================


column:  Job #
Original,	 Cleaned

201088492 	 201088492
200716298 	 200716298
200974650 	 200974650
200278118 	 200278118
201119173 	 201119173
200089251 	 200089251
200896762 	 200896762
201015613 	 201015613
200348524 	 200348524
200920049 	 200920049
201098123 	 201098123
210082792 	 210082792
200758778 	 200758778
200716323 	 200716323
210043825 	 210043825
200892490 	 200892490
200056134 	 200056134
200285976 	 200285976
201078984 	 201078984
200894425 	 200894425
220121892 	 220121892
200365700 	 200365700
201093967 	 201093967
200957429 	 200957429
200649762 	 200649762
200678365 	 200678365
220030669 	 220030669
200534083 	 200534083
200798921 	 200798921
200286216 	 200286216
200989975 	 200989975
200894489 	 200894489
200716323 	 200716323
220148971 	 220148971
201024499 	 201024499
200590609 	 200590609
200380792 	 200380792
200982687 	 200982687
200277556 	 200277556
200229109 	 200229109
200086922 	 200086922
210015080 	 210015080
200071634 	 200071634
210008132 	 210008132
200111681 	 200111681
201014320 	 201014320
200715903 	 200715903
200359398 	 200359398
201098043 	 201098043
220109415 	 220109415
*    50  same records   *

======================


column:  Job doc. #
Original,	 Cleaned

4 	 4
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
3 	 3
2 	 2
3 	 3
2 	 2
1 	 1
2 	 2
3 	 3
5 	 5
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
3 	 3
3 	 3
1 	 1
3 	 3
2 	 2
2 	 2
2 	 2
1 	 1
1 	 1
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
2 	 2
3 	 3
2 	 2
1 	 1
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
*    50  same records   *

======================


column:  Residential
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
YES 	 YES
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
YES 	 YES
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    2  same records   *

======================


column:  Permit Sequence #
Original,	 Cleaned

1 	 1
12 	 12
3 	 3
1 	 1
1 	 1
1 	 1
2 	 2
3 	 3
2 	 2
3 	 3
1 	 1
2 	 2
1 	 1
10 	 10
1 	 1
4 	 4
1 	 1
1 	 1
2 	 2
5 	 5
1 	 1
2 	 2
2 	 2
3 	 3
1 	 1
1 	 1
2 	 2
1 	 1
1 	 1
1 	 1
1 	 1
2 	 2
1 	 1
1 	 1
3 	 3
2 	 2
1 	 1
1 	 1
4 	 4
2 	 2
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
6 	 6
9 	 9
1 	 1
1 	 1
1 	 1
*    50  same records   *

======================


column:  Permittee's Phone #
Original,	 Cleaned

2129261088 	 2129261088
7183203300 	 7183203300
7185157055 	 7185157055
7188821281 	 7188821281
2013877000 	 2013877000
9149692853 	 9149692853
2126961124 	 2126961124
7185284001 	 7185284001
7182397630 	 7182397630
7183871400 	 7183871400
7183566823 	 7183566823
6315896001 	 6315896001
3472686284 	 3472686284
7183203171 	 7183203171
2122296000 	 2122296000
7189654976 	 7189654976
7189398100 	 7189398100
9146689007 	 9146689007
7188210149 	 7188210149
9088624300 	 9088624300
2123993600 	 2123993600
2126961124 	 2126961124
2122215552 	 2122215552
9146810265 	 9146810265
7188923088 	 7188923088
7187843600 	 7187843600
7187867570 	 7187867570
7183490200 	 7183490200
5167224541 	 5167224541
7187921230 	 7187921230
9145568508 	 9145568508
7182059899 	 7182059899
7183203107 	 7183203107
7186333631 	 7186333631
9146810265 	 9146810265
2128695300 	 2128695300
7184560500 	 7184560500
7186250001 	 7186250001
7184091444 	 7184091444
7188883375 	 7188883375
2125154216 	 2125154216
9142449100 	 9142449100
7189398100 	 7189398100
9142449100 	 9142449100
7183592497 	 7183592497
7184727433 	 7184727433
7183203171 	 7183203171
7187288181 	 7187288181
7183842243 	 7183842243
7189398100 	 7189398100
*    50  same records   *

======================


column:  Permittee's License #
Original,	 Cleaned

161 	 161
1962 	 1962
594 	 594
1137 	 1137
9872 	 9872
56795 	 56795
926 	 926
1580 	 1580
1056 	 1056
868 	 868
717 	 717
601162 	 601162
nan 	  	*
1962 	 1962
2305 	 2305
338 	 338
10627 	 10627
0 	 0
2025 	 2025
10573 	 10573
601778 	 601778
926 	 926
34994 	 34994
600836 	 600836
nan 	  	*
2734 	 2734
589 	 589
612 	 612
625 	 625
0 	 0
nan 	  	*
2593 	 2593
1962 	 1962
1560 	 1560
600836 	 600836
15484 	 15484
12067 	 12067
1342 	 1342
179 	 179
29294 	 29294
nan 	  	*
5367 	 5367
10627 	 10627
5367 	 5367
nan 	  	*
601207 	 601207
1962 	 1962
nan 	  	*
651 	 651
10627 	 10627
*    44  same records   *

======================


column:  Owner's House #
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
444 	 444
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
3245 	 3245
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
1624 	 1624
3269 	 3269
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
651 	 651
nan 	  	*
nan 	  	*
nan 	  	*
P.O. 	 P.O.
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    6  same records   *

======================


column:  Owner's Phone #
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
7187960804 	 7187960804
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
7188923088 	 7188923088
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
7187921230 	 7187921230
9145568508 	 9145568508
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
2125154216 	 2125154216
nan 	  	*
nan 	  	*
nan 	  	*
7183592497 	 7183592497
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    6  same records   *

======================


column:  Filing Date
Original,	 Cleaned

2010-11-05T00:00:00 	 2010-11-05T00:00:00
2012-01-30T00:00:00 	 2012-01-30T00:00:00
2008-02-04T00:00:00 	 2008-02-04T00:00:00
1998-08-31T00:00:00 	 1998-08-31T00:00:00
2007-04-30T00:00:00 	 2007-04-30T00:00:00
1994-04-22T00:00:00 	 1994-04-22T00:00:00
2008-06-05T00:00:00 	 2008-06-05T00:00:00
2012-05-22T00:00:00 	 2012-05-22T00:00:00
2008-04-02T00:00:00 	 2008-04-02T00:00:00
2007-10-10T00:00:00 	 2007-10-10T00:00:00
2008-06-10T00:00:00 	 2008-06-10T00:00:00
2010-03-05T00:00:00 	 2010-03-05T00:00:00
2007-08-17T00:00:00 	 2007-08-17T00:00:00
2011-01-12T00:00:00 	 2011-01-12T00:00:00
2008-04-25T00:00:00 	 2008-04-25T00:00:00
2008-11-17T00:00:00 	 2008-11-17T00:00:00
1991-11-13T00:00:00 	 1991-11-13T00:00:00
1994-04-14T00:00:00 	 1994-04-14T00:00:00
2009-07-28T00:00:00 	 2009-07-28T00:00:00
2012-01-11T00:00:00 	 2012-01-11T00:00:00
2011-07-15T00:00:00 	 2011-07-15T00:00:00
2001-05-15T00:00:00 	 2001-05-15T00:00:00
2008-01-25T00:00:00 	 2008-01-25T00:00:00
2010-06-01T00:00:00 	 2010-06-01T00:00:00
2001-06-20T00:00:00 	 2001-06-20T00:00:00
2001-10-04T00:00:00 	 2001-10-04T00:00:00
2012-04-09T00:00:00 	 2012-04-09T00:00:00
1999-08-17T00:00:00 	 1999-08-17T00:00:00
2003-10-07T00:00:00 	 2003-10-07T00:00:00
1994-06-01T00:00:00 	 1994-06-01T00:00:00
2005-08-18T00:00:00 	 2005-08-18T00:00:00
2007-12-19T00:00:00 	 2007-12-19T00:00:00
2002-08-16T00:00:00 	 2002-08-16T00:00:00
2012-02-02T00:00:00 	 2012-02-02T00:00:00
2011-06-16T00:00:00 	 2011-06-16T00:00:00
2000-07-17T00:00:00 	 2000-07-17T00:00:00
1996-10-07T00:00:00 	 1996-10-07T00:00:00
2005-10-13T00:00:00 	 2005-10-13T00:00:00
2008-12-04T00:00:00 	 2008-12-04T00:00:00
2007-11-27T00:00:00 	 2007-11-27T00:00:00
1991-03-13T00:00:00 	 1991-03-13T00:00:00
2007-09-27T00:00:00 	 2007-09-27T00:00:00
1991-11-08T00:00:00 	 1991-11-08T00:00:00
2008-03-05T00:00:00 	 2008-03-05T00:00:00
1991-05-23T00:00:00 	 1991-05-23T00:00:00
2012-11-15T00:00:00 	 2012-11-15T00:00:00
2010-01-19T00:00:00 	 2010-01-19T00:00:00
1996-01-30T00:00:00 	 1996-01-30T00:00:00
2008-06-16T00:00:00 	 2008-06-16T00:00:00
2012-01-23T00:00:00 	 2012-01-23T00:00:00
*    50  same records   *

======================


column:  Issuance Date
Original,	 Cleaned

2010-11-05T00:00:00 	 2010-11-05T00:00:00
2012-01-30T00:00:00 	 2012-01-30T00:00:00
2008-02-04T00:00:00 	 2008-02-04T00:00:00
1998-08-31T00:00:00 	 1998-08-31T00:00:00
2007-04-30T00:00:00 	 2007-04-30T00:00:00
1994-04-22T00:00:00 	 1994-04-22T00:00:00
2008-06-05T00:00:00 	 2008-06-05T00:00:00
2012-05-22T00:00:00 	 2012-05-22T00:00:00
2008-05-30T00:00:00 	 2008-05-30T00:00:00
2007-10-10T00:00:00 	 2007-10-10T00:00:00
2008-06-10T00:00:00 	 2008-06-10T00:00:00
2010-03-25T00:00:00 	 2010-03-25T00:00:00
2007-08-17T00:00:00 	 2007-08-17T00:00:00
2011-01-12T00:00:00 	 2011-01-12T00:00:00
2008-04-25T00:00:00 	 2008-04-25T00:00:00
2008-11-17T00:00:00 	 2008-11-17T00:00:00
1991-11-13T00:00:00 	 1991-11-13T00:00:00
1994-04-14T00:00:00 	 1994-04-14T00:00:00
2009-07-28T00:00:00 	 2009-07-28T00:00:00
2012-01-11T00:00:00 	 2012-01-11T00:00:00
2011-07-15T00:00:00 	 2011-07-15T00:00:00
2001-05-15T00:00:00 	 2001-05-15T00:00:00
2008-04-22T00:00:00 	 2008-04-22T00:00:00
2010-06-01T00:00:00 	 2010-06-01T00:00:00
2001-07-25T00:00:00 	 2001-07-25T00:00:00
2001-10-04T00:00:00 	 2001-10-04T00:00:00
2012-04-09T00:00:00 	 2012-04-09T00:00:00
1999-08-17T00:00:00 	 1999-08-17T00:00:00
2003-10-07T00:00:00 	 2003-10-07T00:00:00
1994-06-01T00:00:00 	 1994-06-01T00:00:00
2005-08-18T00:00:00 	 2005-08-18T00:00:00
2007-12-19T00:00:00 	 2007-12-19T00:00:00
2002-08-16T00:00:00 	 2002-08-16T00:00:00
2012-02-02T00:00:00 	 2012-02-02T00:00:00
2011-06-16T00:00:00 	 2011-06-16T00:00:00
2000-07-17T00:00:00 	 2000-07-17T00:00:00
1996-10-07T00:00:00 	 1996-10-07T00:00:00
2005-10-13T00:00:00 	 2005-10-13T00:00:00
2008-12-11T00:00:00 	 2008-12-11T00:00:00
2007-11-27T00:00:00 	 2007-11-27T00:00:00
1991-03-13T00:00:00 	 1991-03-13T00:00:00
2007-09-27T00:00:00 	 2007-09-27T00:00:00
1991-11-08T00:00:00 	 1991-11-08T00:00:00
2008-03-05T00:00:00 	 2008-03-05T00:00:00
1991-05-23T00:00:00 	 1991-05-23T00:00:00
2012-11-15T00:00:00 	 2012-11-15T00:00:00
2010-01-19T00:00:00 	 2010-01-19T00:00:00
1996-01-30T00:00:00 	 1996-01-30T00:00:00
2008-06-16T00:00:00 	 2008-06-16T00:00:00
2012-01-23T00:00:00 	 2012-01-23T00:00:00
*    50  same records   *

======================


column:  Expiration Date
Original,	 Cleaned

2011-11-05T00:00:00 	 2011-11-05T00:00:00
2013-01-29T00:00:00 	 2013-01-29T00:00:00
2009-02-03T00:00:00 	 2009-02-03T00:00:00
1999-08-31T00:00:00 	 1999-08-31T00:00:00
2008-01-08T00:00:00 	 2008-01-08T00:00:00
1995-04-22T00:00:00 	 1995-04-22T00:00:00
2009-06-05T00:00:00 	 2009-06-05T00:00:00
2013-05-22T00:00:00 	 2013-05-22T00:00:00
2009-05-30T00:00:00 	 2009-05-30T00:00:00
2008-10-09T00:00:00 	 2008-10-09T00:00:00
2009-06-10T00:00:00 	 2009-06-10T00:00:00
2011-03-25T00:00:00 	 2011-03-25T00:00:00
2008-08-16T00:00:00 	 2008-08-16T00:00:00
2012-01-01T00:00:00 	 2012-01-01T00:00:00
2010-09-06T00:00:00 	 2010-09-06T00:00:00
2009-11-17T00:00:00 	 2009-11-17T00:00:00
1992-05-01T00:00:00 	 1992-05-01T00:00:00
1995-03-29T00:00:00 	 1995-03-29T00:00:00
2010-07-28T00:00:00 	 2010-07-28T00:00:00
2012-12-04T00:00:00 	 2012-12-04T00:00:00
2012-01-01T00:00:00 	 2012-01-01T00:00:00
2002-05-15T00:00:00 	 2002-05-15T00:00:00
2008-12-20T00:00:00 	 2008-12-20T00:00:00
2011-06-01T00:00:00 	 2011-06-01T00:00:00
2002-07-25T00:00:00 	 2002-07-25T00:00:00
2001-12-31T00:00:00 	 2001-12-31T00:00:00
2013-04-09T00:00:00 	 2013-04-09T00:00:00
2000-08-16T00:00:00 	 2000-08-16T00:00:00
2004-09-01T00:00:00 	 2004-09-01T00:00:00
1995-06-01T00:00:00 	 1995-06-01T00:00:00
2006-08-18T00:00:00 	 2006-08-18T00:00:00
2008-12-18T00:00:00 	 2008-12-18T00:00:00
2002-12-31T00:00:00 	 2002-12-31T00:00:00
2013-02-01T00:00:00 	 2013-02-01T00:00:00
2012-06-15T00:00:00 	 2012-06-15T00:00:00
2001-06-29T00:00:00 	 2001-06-29T00:00:00
1997-05-01T00:00:00 	 1997-05-01T00:00:00
2006-10-13T00:00:00 	 2006-10-13T00:00:00
2009-12-11T00:00:00 	 2009-12-11T00:00:00
2008-05-15T00:00:00 	 2008-05-15T00:00:00
1992-03-13T00:00:00 	 1992-03-13T00:00:00
2008-06-29T00:00:00 	 2008-06-29T00:00:00
1992-05-01T00:00:00 	 1992-05-01T00:00:00
2008-06-29T00:00:00 	 2008-06-29T00:00:00
1992-05-23T00:00:00 	 1992-05-23T00:00:00
2013-11-15T00:00:00 	 2013-11-15T00:00:00
2010-12-31T00:00:00 	 2010-12-31T00:00:00
1996-08-01T00:00:00 	 1996-08-01T00:00:00
2009-06-16T00:00:00 	 2009-06-16T00:00:00
2013-01-22T00:00:00 	 2013-01-22T00:00:00
*    50  same records   *

======================


column:  Job Start Date
Original,	 Cleaned

2010-11-05T00:00:00 	 2010-11-05T00:00:00
2002-08-08T00:00:00 	 2002-08-08T00:00:00
2005-08-29T00:00:00 	 2005-08-29T00:00:00
1998-08-31T00:00:00 	 1998-08-31T00:00:00
2007-04-30T00:00:00 	 2007-04-30T00:00:00
1994-04-22T00:00:00 	 1994-04-22T00:00:00
2007-06-12T00:00:00 	 2007-06-12T00:00:00
2008-10-31T00:00:00 	 2008-10-31T00:00:00
2000-10-27T00:00:00 	 2000-10-27T00:00:00
2005-07-01T00:00:00 	 2005-07-01T00:00:00
2008-06-10T00:00:00 	 2008-06-10T00:00:00
2009-05-07T00:00:00 	 2009-05-07T00:00:00
2007-08-17T00:00:00 	 2007-08-17T00:00:00
2002-08-16T00:00:00 	 2002-08-16T00:00:00
2008-04-25T00:00:00 	 2008-04-25T00:00:00
2006-01-10T00:00:00 	 2006-01-10T00:00:00
1991-11-13T00:00:00 	 1991-11-13T00:00:00
1994-04-14T00:00:00 	 1994-04-14T00:00:00
2008-06-06T00:00:00 	 2008-06-06T00:00:00
2006-05-23T00:00:00 	 2006-05-23T00:00:00
2011-07-15T00:00:00 	 2011-07-15T00:00:00
1996-05-14T00:00:00 	 1996-05-14T00:00:00
2007-01-04T00:00:00 	 2007-01-04T00:00:00
2008-06-09T00:00:00 	 2008-06-09T00:00:00
2001-07-25T00:00:00 	 2001-07-25T00:00:00
2001-10-04T00:00:00 	 2001-10-04T00:00:00
2011-04-08T00:00:00 	 2011-04-08T00:00:00
1999-08-17T00:00:00 	 1999-08-17T00:00:00
2003-10-07T00:00:00 	 2003-10-07T00:00:00
1994-06-01T00:00:00 	 1994-06-01T00:00:00
2005-08-18T00:00:00 	 2005-08-18T00:00:00
2006-10-11T00:00:00 	 2006-10-11T00:00:00
2002-08-16T00:00:00 	 2002-08-16T00:00:00
2012-02-02T00:00:00 	 2012-02-02T00:00:00
2009-07-22T00:00:00 	 2009-07-22T00:00:00
2000-01-21T00:00:00 	 2000-01-21T00:00:00
1996-10-07T00:00:00 	 1996-10-07T00:00:00
2005-10-13T00:00:00 	 2005-10-13T00:00:00
1996-09-30T00:00:00 	 1996-09-30T00:00:00
1993-04-07T00:00:00 	 1993-04-07T00:00:00
1991-03-13T00:00:00 	 1991-03-13T00:00:00
2007-09-27T00:00:00 	 2007-09-27T00:00:00
1991-11-08T00:00:00 	 1991-11-08T00:00:00
2008-03-05T00:00:00 	 2008-03-05T00:00:00
1991-05-23T00:00:00 	 1991-05-23T00:00:00
2008-07-07T00:00:00 	 2008-07-07T00:00:00
2002-08-27T00:00:00 	 2002-08-27T00:00:00
1996-01-30T00:00:00 	 1996-01-30T00:00:00
2008-06-16T00:00:00 	 2008-06-16T00:00:00
2012-01-23T00:00:00 	 2012-01-23T00:00:00
*    50  same records   *

======================


column:  DOBRunDate
Original,	 Cleaned

2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
2016-01-03T00:00:00 	 2016-01-03T00:00:00
*    50  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
BRONX 	 BRONX
*    50  same records   *

======================


column:  Permittee's First Name
Original,	 Cleaned

LAWRENCE 	 LAWRENCE
ANTHONY 	 ANTHONY
OSCAR 	 OSCAR
GERI 	 GERI
GARY 	 GARY
JOSE 	 JOSE
ROBERT 	 ROBERT
VINCENT 	 VINCENT
VICTOR 	 VICTOR
MARVIN 	 MARVIN
VICTOR 	 VICTOR
KEN 	 KEN
DEMITRO 	 DEMITRO
ANTHONY 	 ANTHONY
MARK 	 MARK
FRANCO 	 FRANCO
MANFRED 	 MANFRED
MICHAEL 	 MICHAEL
DUANE 	 DUANE
RIKKI 	 RIKKI
THOMAS 	 THOMAS
ROBERT 	 ROBERT
MARK 	 MARK
PETER 	 PETER
RAY 	 RAY
RAY 	 RAY
MICHAEL 	 MICHAEL
JOHN 	 JOHN
NICK 	 NICK
JIM 	 JIM
PATRICIA 	 PATRICIA
DIMITRI 	 DIMITRI
TONY 	 TONY
ANTHONY 	 ANTHONY
PETER 	 PETER
KATHLEEN 	 KATHLEEN
ROBERT 	 ROBERT
ANTHONY 	 ANTHONY
MICHAEL 	 MICHAEL
EDWIN 	 EDWIN
MEER 	 MEER
MATTHEW 	 MATTHEW
MANFRED 	 MANFRED
JOE 	 JOE
TED 	 TED
WILLIAM 	 WILLIAM
ANTHONY 	 ANTHONY
NIKOLAOS 	 NIKOLAOS
THOMAS 	 THOMAS
MANFRED 	 MANFRED
*    50  same records   *

======================


column:  Permittee's Last Name
Original,	 Cleaned

LEVINE 	 LEVINE
RASULO 	 RASULO
JACKSON 	 JACKSON
KAUUMBA 	 KAUUMBA
ZYSMAN 	 ZYSMAN
VARGAS 	 VARGAS
GOLDIN 	 GOLDIN
GAMBA 	 GAMBA
SMITH 	 SMITH
WASOFF 	 WASOFF
COURY 	 COURY
SWANY 	 SWANY
ACOT 	 ACOT
RASULO 	 RASULO
PULSFORD 	 PULSFORD
BELLI 	 BELLI
DEMENUS 	 DEMENUS
PALMIOTTO 	 PALMIOTTO
POLADIAN 	 POLADIAN
KUMAR 	 KUMAR
PARSONS 	 PARSONS
GOLDIN 	 GOLDIN
ALTHEIM 	 ALTHEIM
ABLEMAN 	 ABLEMAN
IANNACONE 	 IANNACONE
COOK 	 COOK
KAUFMAN 	 KAUFMAN
PEACHY 	 PEACHY
ROSSELLI 	 ROSSELLI
JUDSON 	 JUDSON
CORTINO 	 CORTINO
SPANOS 	 SPANOS
RASULO 	 RASULO
MONGONE 	 MONGONE
ABELMAN 	 ABELMAN
DUNN 	 DUNN
SPROTEE 	 SPROTEE
DISABATO 	 DISABATO
CONTILLO 	 CONTILLO
AYALA 	 AYALA
DEEN 	 DEEN
SCHIMENTI 	 SCHIMENTI
DEMENUS 	 DEMENUS
SPARTA 	 SPARTA
TONIUK 	 TONIUK
EVANS 	 EVANS

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Site Safety Mgr's Last Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Site Safety Mgr Business Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Superintendent First & Last Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
GOWIE PLUMBING 	 GOWIE PLUMBING
THE DU-RITE INC 	 THE DU-RITE INC
VARGAS ASSOCIATES 	 VARGAS ASSOCIATES
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
MEDCO PLUMBING INC. 	 MEDCO PLUMBING INC.
THOMAS MICHAEL, INC. 	 THOMAS MICHAEL, INC.
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
WDF INC 	 WDF INC
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
COOK & KRUPA 	 COOK & KRUPA
nan 	 nan 	*
DANICA PLUMBING & HEATING CORP 	 DANICA PLUMBING & HEATING CORP
COUSIN CONSTRACTING CORP 	 COUSIN CONSTRACTING CORP
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
RIVERBAY CORP 	 RIVERBAY CORP
nan 	 nan 	*
nan 	 nan 	*
PPC CONSTRUCTION 	 PPC CONSTRUCTION
SCHMELZ BROTHERS INC 	 SCHMELZ BROTHERS INC
AMD & ASSOCIATES INC. 	 AMD & ASSOCIATES INC.
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
MEDCO PLUMBING INC. 	 MEDCO PLUMBING INC.
nan 	 nan 	*
HUNT LINNA 	 HUNT LINNA
nan 	 nan 	*
nan 	 nan 	*
A. INTERNATIONAL LTD. 	 A. INTERNATIONAL LTD.
nan 	 nan 	*
nan 	 nan 	*
*    16  same records   *

======================


column:  Superintendent Business Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
GOWIE PLUMBING 	 GOWIE PLUMBING
THE DU-RITE INC 	 THE DU-RITE INC
VARGAS ASSOCIATES 	 VARGAS ASSOCIATES
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
MEDCO PLUMBING INC. 	 MEDCO PLUMBING INC.
THOMAS MICHAEL, INC. 	 THOMAS MICHAEL, INC.
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
WDF INC 	 WDF INC
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
COOK & KRUPA 	 COOK & KRUPA
nan 	 nan 	*
DANICA PLUMBING & HEATING CORP 	 DANICA PLUMBING & HEATING CORP
COUSIN CONSTRACTING CORP 	 COUSIN CONSTRACTING CORP
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
RIVERBAY CORP 	 RIVERBAY CORP
nan 	 nan 	*
nan 	 nan 	*
PPC CONSTRUCTION 	 PPC CONSTRUCTION
SCHMELZ BROTHERS INC 	 SCHMELZ BROTHERS INC
AMD & ASSOCIATES INC. 	 AMD & ASSOCIATES INC.
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
MEDCO PLUMBING INC. 	 MEDCO PLUMBING INC.
nan 	 nan 	*
HUNT LINNA 	 HUNT LINNA
nan 	 nan 	*
nan 	 nan 	*
A. INTERNATIONAL LTD. 	 A. INTERNATIONAL LTD.
nan 	 nan 	*
nan 	 nan 	*
*    16  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
owner 	 owner
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    1  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
DEMITRIO 	 DEMITRIO
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Ray 	 Ray
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
JIM 	 JIM
PATRICIA 	 PATRICIA
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
MEER 	 MEER
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
TED 	 TED
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    6  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
ACOT 	 ACOT
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Iannacone 	 Iannacone
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
JUDSON 	 JUDSON
CORTINO 	 CORTINO
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
DEEN 	 DEEN
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
TONIUK 	 TONIUK
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    6  same records   *

======================


column:  Owner's House Street Name
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
WEST 259 STREET 	 WEST 259 STREET
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Fairmonut Avenue 	 Fairmonut Avenue
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
EASTCHESTER 	 EASTCHESTER
BRUCKNER BLVD 	 BRUCKNER BLVD
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
ROSEWOOD ST 	 ROSEWOOD ST
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
BOX 431 	 BOX 431
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    6  same records   *

======================

In [162]:
tp = 253
fp = 6

fn = 47
tn = 1350 - tp - fp - fn

In [163]:
precision(tp, fp)

0.9768339768339769

In [164]:
recall(tp,fn)

0.8433333333333334

# DOB NOW: Electrical Permit Applications

In [98]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[1])
print(cleaned_cols)

working on file:  dm9a-ab7w.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing datetime_Column......
fixing city_and_name_Column......
['AMOUNT_PAID', 'FILING_DATE', 'GENERAL_LIABILITY_EXPIRATION_DATE', 'WORKER_COMP_EXPIRATION_DATE', 'DISABILITY_EXPIRATION_DATE', 'PERMIT_ISSUED_DATE', 'JOB_START_DATE', 'COMPLETION_DATE', 'STREET_NAME', 'BOROUGH', 'APPLICANT_FIRST_NAME', 'APPLICANT_LAST_NAME', 'FIRM_NAME', 'CITY', 'WORKER_COMP_COMPANY_NAME', 'DISABILITY_COMPANY_NAME', 'OWNER_FIRST_NAME', 'OWNER_LAST_NAME', 'BUSINESS_NAME', 'OWNER_CITY', 'AUTH_REP_FIRST_NAME', 'AUTH_REP_LAST_NAME', 'GIS_NTA_NAME']

In [99]:
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1150
======================


column:  AMOUNT_PAID
Original,	 Cleaned

40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
15 	 15
40 	 40
40 	 40
40 	 40
15 	 15
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
40 	 40
440 	 440
40 	 40
40 	 40
40 	 40
40 	 40
15 	 15
40 	 40
40 	 40
15 	 15
40 	 40
40 	 40
*    50  same records   *

======================


column:  FILING_DATE
Original,	 Cleaned

06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
07/27/2021 12:00:00 AM 	 07/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
12/06/2021 12:00:00 AM 	 12/06/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
07/27/2021 12:00:00 AM 	 07/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
12/06/2021 12:00:00 AM 	 12/06/2021 12:00:00 AM
09/03/2021 12:00:00 AM 	 09/03/2021 12:00:00 AM
10/16/2021 12:00:00 AM 	 10/16/2021 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
10/16/2021 12:00:00 AM 	 10/16/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
11/02/2021 12:00:00 AM 	 11/02/2021 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
09/03/2021 12:00:00 AM 	 09/03/2021 12:00:00 AM
10/16/2021 12:00:00 AM 	 10/16/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
12/06/2021 12:00:00 AM 	 12/06/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
09/03/2021 12:00:00 AM 	 09/03/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
10/16/2021 12:00:00 AM 	 10/16/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
*    50  same records   *

======================


column:  GENERAL_LIABILITY_EXPIRATION_DATE
Original,	 Cleaned

05/06/2022 12:00:00 AM 	 05/06/2022 12:00:00 AM
01/21/2022 12:00:00 AM 	 01/21/2022 12:00:00 AM
10/20/2021 12:00:00 AM 	 10/20/2021 12:00:00 AM
03/18/2022 12:00:00 AM 	 03/18/2022 12:00:00 AM
12/09/2021 12:00:00 AM 	 12/09/2021 12:00:00 AM
08/29/2021 12:00:00 AM 	 08/29/2021 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
09/01/2021 12:00:00 AM 	 09/01/2021 12:00:00 AM
08/28/2022 12:00:00 AM 	 08/28/2022 12:00:00 AM
09/01/2021 12:00:00 AM 	 09/01/2021 12:00:00 AM
07/21/2021 12:00:00 AM 	 07/21/2021 12:00:00 AM
07/27/2021 12:00:00 AM 	 07/27/2021 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
11/30/2021 12:00:00 AM 	 11/30/2021 12:00:00 AM
09/17/2021 12:00:00 AM 	 09/17/2021 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
06/28/2021 12:00:00 AM 	 06/28/2021 12:00:00 AM
09/11/2021 12:00:00 AM 	 09/11/2021 12:00:00 AM
05/12/2022 12:00:00 AM 	 05/12/2022 12:00:00 AM
08/10/2022 12:00:00 AM 	 08/10/2022 12:00:00 AM
06/28/2021 12:00:00 AM 	 06/28/2021 12:00:00 AM
05/22/2022 12:00:00 AM 	 05/22/2022 12:00:00 AM
07/17/2022 12:00:00 AM 	 07/17/2022 12:00:00 AM
10/20/2021 12:00:00 AM 	 10/20/2021 12:00:00 AM
10/27/2021 12:00:00 AM 	 10/27/2021 12:00:00 AM
11/27/2021 12:00:00 AM 	 11/27/2021 12:00:00 AM
08/01/2021 12:00:00 AM 	 08/01/2021 12:00:00 AM
10/01/2022 12:00:00 AM 	 10/01/2022 12:00:00 AM
10/01/2021 12:00:00 AM 	 10/01/2021 12:00:00 AM
04/08/2022 12:00:00 AM 	 04/08/2022 12:00:00 AM
10/21/2021 12:00:00 AM 	 10/21/2021 12:00:00 AM
06/22/2022 12:00:00 AM 	 06/22/2022 12:00:00 AM
09/11/2021 12:00:00 AM 	 09/11/2021 12:00:00 AM
09/24/2021 12:00:00 AM 	 09/24/2021 12:00:00 AM
01/18/2022 12:00:00 AM 	 01/18/2022 12:00:00 AM
06/06/2022 12:00:00 AM 	 06/06/2022 12:00:00 AM
10/08/2021 12:00:00 AM 	 10/08/2021 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
01/22/2022 12:00:00 AM 	 01/22/2022 12:00:00 AM
08/12/2022 12:00:00 AM 	 08/12/2022 12:00:00 AM
08/22/2022 12:00:00 AM 	 08/22/2022 12:00:00 AM
05/12/2022 12:00:00 AM 	 05/12/2022 12:00:00 AM
06/24/2021 12:00:00 AM 	 06/24/2021 12:00:00 AM
11/14/2022 12:00:00 AM 	 11/14/2022 12:00:00 AM
03/23/2022 12:00:00 AM 	 03/23/2022 12:00:00 AM
11/09/2021 12:00:00 AM 	 11/09/2021 12:00:00 AM
09/17/2022 12:00:00 AM 	 09/17/2022 12:00:00 AM
01/07/2022 12:00:00 AM 	 01/07/2022 12:00:00 AM
*    50  same records   *

======================


column:  WORKER_COMP_EXPIRATION_DATE
Original,	 Cleaned

12/20/2021 12:00:00 AM 	 12/20/2021 12:00:00 AM
04/13/2022 12:00:00 AM 	 04/13/2022 12:00:00 AM
10/22/2021 12:00:00 AM 	 10/22/2021 12:00:00 AM
06/14/2021 12:00:00 AM 	 06/14/2021 12:00:00 AM
07/01/2021 12:00:00 AM 	 07/01/2021 12:00:00 AM
11/01/2021 12:00:00 AM 	 11/01/2021 12:00:00 AM
07/06/2021 12:00:00 AM 	 07/06/2021 12:00:00 AM
07/06/2021 12:00:00 AM 	 07/06/2021 12:00:00 AM
06/18/2021 12:00:00 AM 	 06/18/2021 12:00:00 AM
02/25/2022 12:00:00 AM 	 02/25/2022 12:00:00 AM
06/18/2021 12:00:00 AM 	 06/18/2021 12:00:00 AM
11/01/2021 12:00:00 AM 	 11/01/2021 12:00:00 AM
05/19/2021 12:00:00 AM 	 05/19/2021 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
09/17/2021 12:00:00 AM 	 09/17/2021 12:00:00 AM
04/01/2022 12:00:00 AM 	 04/01/2022 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
04/20/2022 12:00:00 AM 	 04/20/2022 12:00:00 AM
06/30/2021 12:00:00 AM 	 06/30/2021 12:00:00 AM
04/28/2022 12:00:00 AM 	 04/28/2022 12:00:00 AM
08/10/2022 12:00:00 AM 	 08/10/2022 12:00:00 AM
04/20/2022 12:00:00 AM 	 04/20/2022 12:00:00 AM
05/22/2022 12:00:00 AM 	 05/22/2022 12:00:00 AM
09/05/2021 12:00:00 AM 	 09/05/2021 12:00:00 AM
10/22/2021 12:00:00 AM 	 10/22/2021 12:00:00 AM
11/01/2021 12:00:00 AM 	 11/01/2021 12:00:00 AM
10/01/2022 12:00:00 AM 	 10/01/2022 12:00:00 AM
11/01/2021 12:00:00 AM 	 11/01/2021 12:00:00 AM
10/01/2022 12:00:00 AM 	 10/01/2022 12:00:00 AM
10/01/2021 12:00:00 AM 	 10/01/2021 12:00:00 AM
08/13/2022 12:00:00 AM 	 08/13/2022 12:00:00 AM
01/15/2022 12:00:00 AM 	 01/15/2022 12:00:00 AM
06/01/2022 12:00:00 AM 	 06/01/2022 12:00:00 AM
06/30/2022 12:00:00 AM 	 06/30/2022 12:00:00 AM
05/22/2022 12:00:00 AM 	 05/22/2022 12:00:00 AM
01/18/2022 12:00:00 AM 	 01/18/2022 12:00:00 AM
07/14/2022 12:00:00 AM 	 07/14/2022 12:00:00 AM
10/07/2021 12:00:00 AM 	 10/07/2021 12:00:00 AM
01/01/2022 12:00:00 AM 	 01/01/2022 12:00:00 AM
01/24/2022 12:00:00 AM 	 01/24/2022 12:00:00 AM
08/07/2022 12:00:00 AM 	 08/07/2022 12:00:00 AM
08/22/2022 12:00:00 AM 	 08/22/2022 12:00:00 AM
04/28/2022 12:00:00 AM 	 04/28/2022 12:00:00 AM
05/18/2021 12:00:00 AM 	 05/18/2021 12:00:00 AM
11/18/2022 12:00:00 AM 	 11/18/2022 12:00:00 AM
07/13/2022 12:00:00 AM 	 07/13/2022 12:00:00 AM
11/09/2021 12:00:00 AM 	 11/09/2021 12:00:00 AM
02/01/2022 12:00:00 AM 	 02/01/2022 12:00:00 AM
07/29/2022 12:00:00 AM 	 07/29/2022 12:00:00 AM
*    50  same records   *

======================


column:  DISABILITY_EXPIRATION_DATE
Original,	 Cleaned

12/20/2021 12:00:00 AM 	 12/20/2021 12:00:00 AM
04/13/2022 12:00:00 AM 	 04/13/2022 12:00:00 AM
10/21/2021 12:00:00 AM 	 10/21/2021 12:00:00 AM
10/29/2021 12:00:00 AM 	 10/29/2021 12:00:00 AM
10/29/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
10/29/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
07/05/2021 12:00:00 AM 	 07/05/2021 12:00:00 AM
07/05/2021 12:00:00 AM 	 07/05/2021 12:00:00 AM
06/20/2021 12:00:00 AM 	 06/20/2021 12:00:00 AM
01/11/2022 12:00:00 AM 	 01/11/2022 12:00:00 AM
06/20/2021 12:00:00 AM 	 06/20/2021 12:00:00 AM
08/25/2021 12:00:00 AM 	 08/25/2021 12:00:00 AM
05/19/2021 12:00:00 AM 	 05/19/2021 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
11/29/2021 12:00:00 AM 	 11/29/2021 12:00:00 AM
09/16/2021 12:00:00 AM 	 09/16/2021 12:00:00 AM
03/31/2022 12:00:00 AM 	 03/31/2022 12:00:00 AM
03/31/2022 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
04/19/2022 12:00:00 AM 	 04/19/2022 12:00:00 AM
04/19/2022 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
04/19/2022 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
05/23/2022 12:00:00 AM 	 05/23/2022 12:00:00 AM
04/19/2022 12:00:00 AM 	 04/19/2022 12:00:00 AM
05/21/2022 12:00:00 AM 	 05/21/2022 12:00:00 AM
09/03/2021 12:00:00 AM 	 09/03/2021 12:00:00 AM
10/21/2021 12:00:00 AM 	 10/21/2021 12:00:00 AM
10/21/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
12/30/2021 12:00:00 AM 	 12/30/2021 12:00:00 AM
12/21/2021 12:00:00 AM 	 12/21/2021 12:00:00 AM
01/14/2023 12:00:00 AM 	 01/14/2023 12:00:00 AM
01/14/2023 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
02/28/2022 12:00:00 AM 	 02/28/2022 12:00:00 AM
01/15/2022 12:00:00 AM 	 01/15/2022 12:00:00 AM
05/23/2022 12:00:00 AM 	 05/23/2022 12:00:00 AM
05/23/2022 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
05/21/2022 12:00:00 AM 	 05/21/2022 12:00:00 AM
01/17/2022 12:00:00 AM 	 01/17/2022 12:00:00 AM
08/20/2022 12:00:00 AM 	 08/20/2022 12:00:00 AM
10/07/2021 12:00:00 AM 	 10/07/2021 12:00:00 AM
10/07/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
10/07/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
10/11/2022 12:00:00 AM 	 10/11/2022 12:00:00 AM
10/11/2022 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
10/11/2022 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
10/11/2022 12:00:00 AM 	 12/31/2021 12:00:00 AM 	*
11/18/2022 12:00:00 AM 	 11/18/2022 12:00:00 AM
01/28/2022 12:00:00 AM 	 01/28/2022 12:00:00 AM
06/29/2021 12:00:00 AM 	 06/29/2021 12:00:00 AM
01/31/2023 12:00:00 AM 	 01/31/2023 12:00:00 AM
05/24/2022 12:00:00 AM 	 05/24/2022 12:00:00 AM
*    37  same records   *

======================


column:  PERMIT_ISSUED_DATE
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
12/06/2021 12:00:00 AM 	 12/06/2021 12:00:00 AM
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
12/06/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 nan 	*
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
10/16/2021 12:00:00 AM 	 10/16/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
*    16  same records   *

======================


column:  JOB_START_DATE
Original,	 Cleaned

10/02/2018 12:00:00 AM 	 10/02/2018 12:00:00 AM
03/19/2019 12:00:00 AM 	 03/19/2019 12:00:00 AM
11/10/2019 12:00:00 AM 	 11/10/2019 12:00:00 AM
01/27/2020 12:00:00 AM 	 01/27/2020 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
10/16/2018 12:00:00 AM 	 10/16/2018 12:00:00 AM
07/09/2020 12:00:00 AM 	 07/09/2020 12:00:00 AM
07/09/2020 12:00:00 AM 	 07/09/2020 12:00:00 AM
07/15/2020 12:00:00 AM 	 07/15/2020 12:00:00 AM
12/06/2021 12:00:00 AM 	 12/06/2021 12:00:00 AM
07/29/2020 12:00:00 AM 	 07/29/2020 12:00:00 AM
01/15/2021 12:00:00 AM 	 01/15/2021 12:00:00 AM
01/28/2021 12:00:00 AM 	 01/28/2021 12:00:00 AM
02/03/2021 12:00:00 AM 	 02/03/2021 12:00:00 AM
12/18/2020 12:00:00 AM 	 12/18/2020 12:00:00 AM
03/05/2021 12:00:00 AM 	 03/05/2021 12:00:00 AM
01/30/2021 12:00:00 AM 	 01/30/2021 12:00:00 AM
04/05/2021 12:00:00 AM 	 04/05/2021 12:00:00 AM
02/10/2021 12:00:00 AM 	 02/10/2021 12:00:00 AM
04/12/2021 12:00:00 AM 	 04/12/2021 12:00:00 AM
10/14/2019 12:00:00 AM 	 10/14/2019 12:00:00 AM
11/21/2019 12:00:00 AM 	 11/21/2019 12:00:00 AM
04/07/2021 12:00:00 AM 	 04/07/2021 12:00:00 AM
01/16/2020 12:00:00 AM 	 01/16/2020 12:00:00 AM
06/12/2020 12:00:00 AM 	 06/12/2020 12:00:00 AM
07/30/2019 12:00:00 AM 	 07/30/2019 12:00:00 AM
12/06/2019 12:00:00 AM 	 12/06/2019 12:00:00 AM
11/28/2019 12:00:00 AM 	 11/28/2019 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
09/24/2018 12:00:00 AM 	 09/24/2018 12:00:00 AM
12/09/2019 12:00:00 AM 	 12/09/2019 12:00:00 AM
07/08/2020 12:00:00 AM 	 07/08/2020 12:00:00 AM
05/05/2021 12:00:00 AM 	 05/05/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/16/2021 12:00:00 AM 	 04/16/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
06/25/2020 12:00:00 AM 	 06/25/2020 12:00:00 AM
04/28/2021 12:00:00 AM 	 04/28/2021 12:00:00 AM
06/02/2021 12:00:00 AM 	 06/02/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/28/2021 12:00:00 AM 	 04/28/2021 12:00:00 AM
03/09/2021 12:00:00 AM 	 03/09/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
10/16/2021 12:00:00 AM 	 10/16/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
*    50  same records   *

======================


column:  COMPLETION_DATE
Original,	 Cleaned

11/24/2018 12:00:00 AM 	 11/24/2018 12:00:00 AM
07/03/2020 12:00:00 AM 	 07/03/2020 12:00:00 AM
11/10/2020 12:00:00 AM 	 11/10/2020 12:00:00 AM
12/01/2020 12:00:00 AM 	 12/01/2020 12:00:00 AM
06/02/2023 12:00:00 AM 	 06/02/2023 12:00:00 AM
10/16/2019 12:00:00 AM 	 10/16/2019 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
08/04/2021 12:00:00 AM 	 08/04/2021 12:00:00 AM
12/06/2022 12:00:00 AM 	 12/06/2022 12:00:00 AM
11/11/2021 12:00:00 AM 	 11/11/2021 12:00:00 AM
01/14/2022 12:00:00 AM 	 01/14/2022 12:00:00 AM
06/10/2021 12:00:00 AM 	 06/10/2021 12:00:00 AM
06/21/2021 12:00:00 AM 	 06/21/2021 12:00:00 AM
09/14/2021 12:00:00 AM 	 09/14/2021 12:00:00 AM
03/03/2022 12:00:00 AM 	 03/03/2022 12:00:00 AM
01/30/2022 12:00:00 AM 	 01/30/2022 12:00:00 AM
07/31/2021 12:00:00 AM 	 07/31/2021 12:00:00 AM
02/03/2022 12:00:00 AM 	 02/03/2022 12:00:00 AM
04/11/2022 12:00:00 AM 	 04/11/2022 12:00:00 AM
10/13/2020 12:00:00 AM 	 10/13/2020 12:00:00 AM
08/19/2021 12:00:00 AM 	 08/19/2021 12:00:00 AM
05/04/2023 12:00:00 AM 	 05/04/2023 12:00:00 AM
09/20/2020 12:00:00 AM 	 09/20/2020 12:00:00 AM
06/11/2021 12:00:00 AM 	 06/11/2021 12:00:00 AM
07/31/2020 12:00:00 AM 	 07/31/2020 12:00:00 AM
12/10/2019 12:00:00 AM 	 12/10/2019 12:00:00 AM
10/01/2020 12:00:00 AM 	 10/01/2020 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/27/2023 12:00:00 AM 	 04/27/2023 12:00:00 AM
04/27/2022 12:00:00 AM 	 04/27/2022 12:00:00 AM
04/12/2022 12:00:00 AM 	 04/12/2022 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
09/23/2019 12:00:00 AM 	 09/23/2019 12:00:00 AM
12/08/2020 12:00:00 AM 	 12/08/2020 12:00:00 AM
05/02/2021 12:00:00 AM 	 05/02/2021 12:00:00 AM
03/09/2022 12:00:00 AM 	 03/09/2022 12:00:00 AM
06/05/2021 12:00:00 AM 	 06/05/2021 12:00:00 AM
02/01/2022 12:00:00 AM 	 02/01/2022 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
12/31/2021 12:00:00 AM 	 12/31/2021 12:00:00 AM
06/25/2021 12:00:00 AM 	 06/25/2021 12:00:00 AM
06/30/2021 12:00:00 AM 	 06/30/2021 12:00:00 AM
07/08/2021 12:00:00 AM 	 07/08/2021 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
04/28/2023 12:00:00 AM 	 04/28/2023 12:00:00 AM
03/09/2022 12:00:00 AM 	 03/09/2022 12:00:00 AM
04/27/2021 12:00:00 AM 	 04/27/2021 12:00:00 AM
10/16/2022 12:00:00 AM 	 10/16/2022 12:00:00 AM
04/27/2022 12:00:00 AM 	 04/27/2022 12:00:00 AM
*    50  same records   *

======================


column:  STREET_NAME
Original,	 Cleaned

EAST 7 STREET 	 EAST 7 STREET
OCEAN VIEW AVENUE 	 OCEAN VIEW AVENUE
WITHERS STREET 	 WITHERS STREET
3 STREET 	 3 STREET
WALLABOUT STREET 	 WALLABOUT STREET
59 STREET 	 59 STREET
MOFFAT STREET 	 MOFFAT STREET
MOFFAT STREET 	 MOFFAT STREET
PACIFIC STREET 	 PACIFIC STREET
EAST   18 STREET 	 EAST   18 STREET
63 STREET 	 63 STREET
MYRTLE AVENUE 	 MYRTLE AVENUE
OVINGTON AVENUE 	 OVINGTON AVENUE
80 STREET 	 80 STREET
MOFFAT STREET 	 MOFFAT STREET
86 STREET 	 86 STREET
EAST 54 STREET 	 EAST 54 STREET
59 STREET 	 59 STREET
PITKIN AVENUE 	 PITKIN AVENUE
EAST 36 STREET 	 EAST 36 STREET
ST MARKS PLACE 	 ST MARKS PLACE
EAST 2 STREET 	 EAST 2 STREET
PALMETTO STREET 	 PALMETTO STREET
2 PLACE 	 2 PLACE
ATLANTIC AVENUE 	 ATLANTIC AVENUE
45 STREET 	 45 STREET
BELMONT AVENUE 	 BELMONT AVENUE
9 STREET 	 9 STREET
2 STREET 	 2 STREET
AVENUE Y 	 AVENUE Y
SCHENCK AVENUE 	 SCHENCK AVENUE
BEDFORD AVENUE 	 BEDFORD AVENUE
SACKETT STREET 	 SACKETT STREET
SHORE PARKWAY 	 SHORE PARKWAY
7 AVENUE 	 7 AVENUE
KINGS HIGHWAY 	 KINGS HIGHWAY
57 STREET 	 57 STREET
QUINCY STREET 	 QUINCY STREET
63 STREET 	 63 STREET
59 STREET 	 59 STREET
8 AVENUE 	 8 AVENUE
CORNELIA STREET 	 CORNELIA STREET
COURT STREET 	 COURT STREET
VERMONT STREET 	 VERMONT STREET
FARRAGUT ROAD 	 FARRAGUT ROAD
KINGS HIGHWAY 	 KINGS HIGHWAY
EAST 96 STREET 	 EAST 96 STREET
MYRTLE AVENUE 	 MYRTLE AVENUE
BROADWAY 	 BROADWAY
EAST 18 STREET 	 EAST 18 STREET
*    50  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
*    50  same records   *

======================



NEW YORK STATE INS FUND 	 NEW YORK STATE INS FUND
PROPERTY &amp; CASUALTY INS C 	 PROPERTY &amp; CASUALTY INS C
AMTRUST INS COMPANY KANSA 	 AMTRUST INS COMPANY KANSA
NEW YORK STATE INS FUND 	 NEW YORK STATE INS FUND
GUARD INSURANCE COMPANY 	 GUARD INSURANCE COMPANY
NORGUARD INS COMPANY 	 NORGUARD INS COMPANY
NY STATE INS FUND 	 NY STATE INS FUND
NYS INSURANCE FUND 	 NYS INSURANCE FUND
UTICA NATIONAL INS COMPAN 	 UTICA NATIONAL INS COMPAN
UTICA NATIONAL INSURANCE 	 UTICA NATIONAL INSURANCE
NORGUARD INSURANCE COMPAN 	 NORGUARD INSURANCE COMPAN
TRAVELERS INDEMNITY CO 	 TRAVELERS INDEMNITY CO
NORGUARD INS COMPANY 	 NORGUARD INS COMPANY
AMTRUST INS COMPANY 	 AMTRUST INS COMPANY
NEW YORK STATE COMP 	 NEW YORK STATE COMP
WESCO INSURANCE CO 	 WESCO INSURANCE CO
TRAVELERS INS COMPANY 	 TRAVELERS INS COMPANY
NORGUARD INSURANCE COMPAN 	 NORGUARD INSURANCE COMPAN
NEW YORK STATE FUND 	 NEW YORK STATE FUND
*    50  same records   *

======================


column:  DISABILITY_COMPANY_NAME
Original,	 Cleaned

WAIVER 	 WAIVER
EESISP 	 EESISP
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT INS COMPANY 	 SHELTERPOINT INS COMPANY
WESCO INS COMPANY 	 WESCO INS COMPANY
SHELTERPOINT LIFE INS COM 	 SHELTERPOINT LIFE INS COM
SHELTERPOINT LIFE INS COM 	 SHELTERPOINT LIFE INS COM
SHELTERPOINT LIFE INS COM 	 SHELTERPOINT LIFE INS COM
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
NYS WORKERS COMP BOARD 	 NYS WORKERS COMP BOARD
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
STANDARD SEC LIFE INS NY 	 STANDARD SEC LIFE INS NY
NYS WORKERS COMP 	 NYS WORKERS COMP
SHELTERPOINT INS COMPANY 	 SHELTERPOINT INS COMPANY
SHELTERPOINT INS COMPANY 	 SHELTERPOINT INS COMPANY
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
HARTFORD LIFE & ACCIDENT 	 HARTFORD LIFE & ACCIDENT
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS COM 	 SHELTERPOINT LIFE INS COM
SHELTERPOINT INS COMPANY 	 SHELTERPOINT INS COMPANY
GUARDIAN LIFE INS CO.AMER 	 GUARDIAN LIFE INS CO.AMER
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
WESCO INS COMPANY 	 WESCO INS COMPANY
SHELTER POINT LIFE INS CO 	 SHELTER POINT LIFE INS CO
STANDARD SECURITY LIFE 	 STANDARD SECURITY LIFE
SHELTEROINT INS COMPANY 	 SHELTEROINT INS COMPANY
PRUDENTIAL INS COMANY 	 PRUDENTIAL INS COMANY
SHELTRPOINT INS COMPANY 	 SHELTRPOINT INS COMPANY
NEW YORK STATE INS FUND 	 NEW YORK STATE INS FUND
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS COM 	 SHELTERPOINT LIFE INS COM
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
NYS INS FUND 	 NYS INS FUND
GUARDIAN LIFE INS CO 	 GUARDIAN LIFE INS CO
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
SHELTERPOINT LIFE INS CO 	 SHELTERPOINT LIFE INS CO
STANDARD SECURITY LIFE 	 STANDARD SECURITY LIFE
SHELTERPOINT LIFE INS.COM 	 SHELTERPOINT LIFE INS.COM
SHELTERPOINT INS COMPANY 	 SHELTERPOINT INS COMPANY
WESCO INSURANCE COMPANY 	 WESCO INSURANCE COMPANY
NEW YORK STATE COMP 	 NEW YORK STATE COMP
SHELTERPOINT LIFE INS COM 	 SHELTERPOINT LIFE INS COM
SHELTERPOINT LIFE INS 	 SHELTERPOINT LIFE INS
SHELTERPOINT LIFE INSURAN 	 SHELTERPOINT LIFE INSURAN
STD SEC LIFE INS CO OF NY 	 STD SEC LIFE INS CO OF NY
*    50  same records   *

======================


column:  OWNER_FIRST_NAME
Original,	 Cleaned

JOHN 	 JOHN
GORDON 	 GORDON
esther 	 esther
Florian 	 Florian
RAFAEL 	 RAFAEL
MICHAEL 	 MICHAEL
JACOB 	 JACOB
JACOB 	 JACOB
VINCENT 	 VINCENT
DITMAS PARK 18 	 DITMAS PARK 18
MORDY 	 MORDY
Y 	 Y
National 	 National
Robert 	 Robert
LAZAR 	 LAZAR
Lanny 	 Lanny
MICHAEL 	 MICHAEL
BRYAN 	 BRYAN
SUCHI 	 SUCHI
Kwong Pang 	 Kwong Pang
SHEA 	 SHEA
NEIMAN 	 NEIMAN
SUCHI 	 SUCHI
ERICH 	 ERICH
JOSEPH 	 JOSEPH
YITZCHOK 	 YITZCHOK
Niamul 	 Niamul
ERIC 	 ERIC
Loren 	 Loren
MR 	 MR
Marilyn 	 Marilyn
Asaf 	 Asaf
JENNIFER 	 JENNIFER
LEON 	 LEON
Guo 	 Guo
NAFTALI 	 NAFTALI
Xue Yun 	 Xue Yun
Emmanuall 	 Emmanuall
Gail 	 Gail
BRYAN 	 BRYAN
PAUL 	 PAUL
Cornelia Street Investors 	 Cornelia Street Investors
BRIDGETTE 	 BRIDGETTE
RON 	 RON
Michael 	 Michael
SHPENDIM 	 SHPENDIM
fariborz 	 fariborz
nan 	 nan 	*
DAVID 	 DAVID
ALANA 	 ALANA
*    49  same records   *

======================


column:  OWNER_LAST_NAME
Original,	 Cleaned

JOHN 	 JOHN
TUNG 	 TUNG
freund 	 freund
Philip 	 Philip
RABINOWITZ 	 RABINOWITZ
CUPELLI 	 CUPELLI
SCHERMAN 	 SCHERMAN
SCHERMAN 	 SCHERMAN
DING 	 DING
LLC 	 LLC
JALAS 	 JALAS
Dupaty 	 Dupaty
Accounts 	 Accounts
Acevedo 	 Acevedo
FEYGIN 	 FEYGIN
Chen 	 Chen
MAHAL 	 MAHAL
FRIEDMAN 	 FRIEDMAN
MARK 	 MARK
Cheung 	 Cheung
HSU 	 HSU
NEIMAN 	 NEIMAN
MARK 	 MARK
STEGICH 	 STEGICH
ARLIA 	 ARLIA
GUNSBERG 	 GUNSBERG
Hussain 	 Hussain
BATSCHA 	 BATSCHA
Weeks 	 Weeks
DOOLEY 	 DOOLEY
Codrington 	 Codrington
Dror 	 Dror
PUMA 	 PUMA
SILVERA 	 SILVERA
NIE 	 NIE
OLSHWANG 	 OLSHWANG
Lin 	 Lin
Confident 	 Confident
Bertani 	 Bertani
FRIEDMAN 	 FRIEDMAN
BOEGEMANN 	 BOEGEMANN
LLC 	 LLC
KELLY 	 KELLY
COHEN 	 COHEN
Palladino 	 Palladino
BAUTA 	 BAUTA
ROSHanekr 	 ROSHanekr
nan 	 nan 	*
SOMERSTEIN 	 SOMERSTEIN
ROTHSTEIN 	 ROTHSTEIN
*    49  same records   *

======================


column:  BUSINESS_NAME
Original,	 Cleaned

nan 	 nan 	*
NYCSCA 	 NYCSCA
J.I.M 	 J.I.M
The Philip Group Corp 	 The Philip Group Corp
GALAXY DEVELOPERS LLC 	 GALAXY DEVELOPERS LLC
M-A-C HOME DESIGN AND CONSTRUCTION 	 M-A-C HOME DESIGN AND CONSTRUCTION
HOMELAND PROPERTY GROUP LLC 	 HOMELAND PROPERTY GROUP LLC
HOMELAND PROPERTY GROUP LLC 	 HOMELAND PROPERTY GROUP LLC
nan 	 nan 	*
DITMAS PARK 18 LLC 	 DITMAS PARK 18 LLC
nan 	 nan 	*
Smoodie King 	 Smoodie King
AT&T 	 AT&T
nan 	 nan 	*
C/O TF CORNERSTONE INC. 	 C/O TF CORNERSTONE INC.
nan 	 nan 	*
GENERATE CAPITAL 	 GENERATE CAPITAL
COUNTYWIDE BUILDERS INC 	 COUNTYWIDE BUILDERS INC
nan 	 nan 	*
nan 	 nan 	*
CULTECH INC 	 CULTECH INC
nan 	 nan 	*
nan 	 nan 	*
SIGNATURE AUDIO DESIGN LLC 	 SIGNATURE AUDIO DESIGN LLC
PR 	 PR
nan 	 nan 	*
1225 Belmont Corp 	 1225 Belmont Corp
PR 	 PR
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
MSQ Properties LLC 	 MSQ Properties LLC
D@D MANAGEMENT SERVICES 	 D@D MANAGEMENT SERVICES
SURREY EQUITIES 	 SURREY EQUITIES
nan 	 nan 	*
ALLIAH MANAGEMENT LLC 	 ALLIAH MANAGEMENT LLC
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
COUNTYWIDE BUILDERS INC 	 COUNTYWIDE BUILDERS INC
PAUL SIGNS, INC. 	 PAUL SIGNS, INC.
nan 	 nan 	*
CIM GROUP 	 CIM GROUP
COHEN & LEVY LLC 	 COHEN & LEVY LLC
AD Winston Service 	 AD Winston Service
4149 REALTY LLC 	 4149 REALTY LLC
nan 	 nan 	*
Ichud Hatalmidim 	 Ichud Hatalmidim
SOMERSTEIN ASSOCIATES 	 SOMERSTEIN ASSOCIATES
LINEAGE VENTURES 	 LINEAGE VENTURES
*    31  same records   *

======================


column:  OWNER_CITY
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  AUTH_REP_FIRST_NAME
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Michael 	 Michael
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Bellal 	 Bellal
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
wolf 	 wolf
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Michael 	 Michael
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Jennifer 	 Jennifer
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Emmanuall 	 Emmanuall
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
STANLEY 	 STANLEY
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
SOLOMOM 	 SOLOMOM
nan 	 nan 	*
nan 	 nan 	*
*    8  same records   *

======================


column:  AUTH_REP_LAST_NAME
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Cuppelli 	 Cuppelli
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Hossain 	 Hossain
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
markowitz 	 markowitz
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Trebinsky 	 Trebinsky
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Puma 	 Puma
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
Confident 	 Confident
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
PETERS 	 PETERS
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    7  same records   *

======================


column:  GIS_NTA_NAME
Original,	 Cleaned

Brighton Beach 	 Brighton Beach
Brighton Beach 	 Brighton Beach
East Williamsburg 	 East Williamsburg
Carroll Gardens-Columbia Street-Red Hook 	 Carroll Gardens-Columbia Street-Red Hook
Bedford 	 Bedford
Borough Park 	 Borough Park
Bushwick South 	 Bushwick South
Bushwick South 	 Bushwick South
Prospect Heights 	 Prospect Heights
Flatbush 	 Flatbush
Bensonhurst West 	 Bensonhurst West
Fort Greene 	 Fort Greene
Dyker Heights 	 Dyker Heights
Bensonhurst West 	 Bensonhurst West
Bushwick North 	 Bushwick North
Bensonhurst West 	 Bensonhurst West
Flatlands 	 Flatlands
Borough Park 	 Borough Park
Brownsville 	 Brownsville
Flatlands 	 Flatlands
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill 	 DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill
Ocean Parkway South 	 Ocean Parkway South
Bushwick South 	 Bushwick South
Carroll Gardens-Columbia Street-Red Hook 	 Carroll Gardens-Columbia Street-Red Hook
Brooklyn Heights-Cobble Hill 	 Brooklyn Heights-Cobble Hill
Borough Park 	 Borough Park
Cypress Hills-City Line 	 Cypress Hills-City Line
Park Slope-Gowanus 	 Park Slope-Gowanus
Park Slope-Gowanus 	 Park Slope-Gowanus
Sheepshead Bay-Gerritsen Beach-Manhattan Beach 	 Sheepshead Bay-Gerritsen Beach-Manhattan Beach
East New York 	 East New York
Prospect Lefferts Gardens-Wingate 	 Prospect Lefferts Gardens-Wingate
Carroll Gardens-Columbia Street-Red Hook 	 Carroll Gardens-Columbia Street-Red Hook
Bensonhurst West 	 Bensonhurst West
Sunset Park East 	 Sunset Park East
Rugby-Remsen Village 	 Rugby-Remsen Village
Sunset Park East 	 Sunset Park East
Bedford 	 Bedford
Sunset Park West 	 Sunset Park West
Borough Park 	 Borough Park
Sunset Park East 	 Sunset Park East
Bushwick North 	 Bushwick North
Brooklyn Heights-Cobble Hill 	 Brooklyn Heights-Cobble Hill
East New York (Pennsylvania Ave) 	 East New York (Pennsylvania Ave)
East New York 	 East New York
Flatlands 	 Flatlands
Brownsville 	 Brownsville
Clinton Hill 	 Clinton Hill
Bushwick South 	 Bushwick South
Flatbush 	 Flatbush
*    50  same records   *

======================

In [106]:
tp = 178
fp = 25

fn = 19
tn = 1150 - tp - fp - fn

In [107]:
precision(tp, fp)

0.8768472906403941

In [108]:
recall(tp,fn)

0.9035532994923858

# DOB NOW: Build â€“ Job Application Filings

In [129]:
cleaned_cols, datafile, df = dataCleanOnDataset(file_list[5])
print(cleaned_cols)

working on file:  w9ak-ipjd.tsv.gz
fixing ID_Number_Column......
fixing Binary_Column......
fixing Monetary_Column......
fixing Numerical_Column......
fixing city_and_name_Column......
['Job Filing Number', 'House No', 'Apt./Condo No(s)', 'Applicant License #', 'Applicants Middle Initial', 'Filing Representative Middle Initial', 'Proposed No of Stories', 'Special Inspection Agency Number', 'Sidewalk Shed (Work Type)', 'Initial Cost', 'Existing Height', 'Existing Dwelling Units', 'Proposed Height', 'Proposed Dwelling Units', 'Street Name', 'Borough', 'Applicant First Name', 'Applicant Last Name', "Owner's Business Name", "Owner's Street Name", 'City', 'Filing Representative First Name', 'Filing Representative Last Name', 'Filing Representative Business Name', 'Filing Representative Street Name', 'Filing Representative City']

In [130]:
precision_recall(cleaned_cols, datafile, df)

sample size:  50
total size:  1300
======================


column:  Job Filing Number
Original,	 Cleaned

B00000471-I1 	 B00000471-I1
B00004656-I1 	 B00004656-I1
B00008377-I1 	 B00008377-I1
B00015822-P1 	 B00015822-P1
B00016519-P1 	 B00016519-P1
B00024365-I1 	 B00024365-I1
B00032357-P1 	 B00032357-P1
B00027541-I1 	 B00027541-I1
B00031890-I1 	 B00031890-I1
B00033883-I1 	 B00033883-I1
B00033891-I1 	 B00033891-I1
B00032362-P2 	 B00032362-P2
B00045931-I1 	 B00045931-I1
B00046640-I1 	 B00046640-I1
B00050787-I1 	 B00050787-I1
B00050354-I1 	 B00050354-I1
B00054966-I1 	 B00054966-I1
B00056750-P2 	 B00056750-P2
B00051815-P1 	 B00051815-P1
B00068075-I1 	 B00068075-I1
B00060201-P1 	 B00060201-P1
B00076107-P1 	 B00076107-P1
S00422528-P1 	 S00422528-P1
B00108318-P1 	 B00108318-P1
B00108318-P2 	 B00108318-P2
B00088459-P1 	 B00088459-P1
B00091099-I1 	 B00091099-I1
B00120682-P1 	 B00120682-P1
B00097254-I1 	 B00097254-I1
B00114896-P1 	 B00114896-P1
B00135241-P1 	 B00135241-P1
B00122660-P2 	 B00122660-P2
B00162318-I1 	 B00162318-I1
B00179210-P2 	 B00179210-P2
B00196630-I1 	 B00196630-I1
B00197156-I1 	 B00197156-I1
B00197159-I1 	 B00197159-I1
B00150143-P1 	 B00150143-P1
B00189361-I1 	 B00189361-I1
B00187926-I1 	 B00187926-I1
B00188596-I1 	 B00188596-I1
B00188596-P1 	 B00188596-P1
B00188609-P1 	 B00188609-P1
B00204737-P1 	 B00204737-P1
B00194422-I1 	 B00194422-I1
B00194422-P1 	 B00194422-P1
B00188940-P1 	 B00188940-P1
B00188940-P2 	 B00188940-P2
B00204806-I1 	 B00204806-I1
B00204806-P1 	 B00204806-P1
*    50  same records   *

======================


column:  House No
Original,	 Cleaned

21 	 21
240 	 240
2514 	 2514
734 	 734
730 	 730
202 	 202
601 	 601
172 	 172
44 	 44
1000 	 1000
1000 	 1000
601 	 601
647 	 647
857 	 857
8702 	 8702
1507 	 1507
303 	 303
4100 	 4100
484 	 484
1471 	 1471
672 	 672
323 	 323
158 	 158
113 	 113
113 	 113
2001 	 2001
5200 	 5200
1938 	 1938
1324 	 1324
296 	 296
233 	 233
923 	 923
126 	 126
373 	 373
45 	 45
951 	 951
951 	 951
57 	 57
906 	 906
150 	 150
26 	 26
26 	 26
26 	 26
300 	 300
18 	 18
18 	 18
247 	 247
247 	 247
40 	 40
40 	 40
*    50  same records   *

======================


column:  Apt./Condo No(s)
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
OSP 	 OSP
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    1  same records   *

======================


column:  Applicant License #
Original,	 Cleaned

073217 	 073217
049434 	 049434
090372 	 090372
029410 	 029410
029410 	 029410
049434 	 049434
086757 	 086757
033652 	 033652
049434 	 049434
087243 	 087243
087243 	 087243
086757 	 086757
070097 	 070097
015378 	 015378
087243 	 087243
089587 	 089587
049434 	 049434
097662 	 097662
014807 	 014807
032567 	 032567
018684 	 018684
095364 	 095364
014258 	 014258
015015 	 015015
015015 	 015015
034322 	 034322
062230 	 062230
087544 	 087544
087797 	 087797
086757 	 086757
016362 	 016362
027030 	 027030
022172 	 022172
072042 	 072042
069868 	 069868
066073 	 066073
060234 	 060234
015540 	 015540
084072 	 084072
082264 	 082264
090097 	 090097
090097 	 090097
090097 	 090097
096042 	 096042
089068 	 089068
089068 	 089068
013618 	 013618
013618 	 013618
049434 	 049434
049434 	 049434
*    50  same records   *

======================


column:  Applicants Middle Initial
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    0  same records   *

======================


column:  Filing Representative Middle Initial
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    0  same records   *

======================


column:  Proposed No of Stories
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
1 	 1
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    1  same records   *

======================


column:  Special Inspection Agency Number
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
Final 	 FINAL 	*
nan 	  	*
nan 	  	*
Final 	 FINAL 	*
Final 	 FINAL 	*
Final 	 FINAL 	*
nan 	  	*
nan 	  	*
Final 	 FINAL 	*
Final 	 FINAL 	*
nan 	  	*
Final 	 FINAL 	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
Public Assembly Emergency Lighting 	 PUBLIC ASSEMBLY EMERGENCY LIGHTING 	*
Public Assembly Emergency Lighting 	 PUBLIC ASSEMBLY EMERGENCY LIGHTING 	*
Final 	 FINAL 	*
nan 	  	*
Air Sealing and insulation- Visual, Final 	 AIR SEALING AND INSULATION- VISUAL, FINAL 	*
Final 	 FINAL 	*
Final 	 FINAL 	*
Public Assembly Emergency Lighting 	 PUBLIC ASSEMBLY EMERGENCY LIGHTING 	*
Final 	 FINAL 	*
Final 	 FINAL 	*
Final 	 FINAL 	*
Duct leakage testing , Electrical motors, Energy Code Compliance Inspections, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information, Permanent certificate, Shutoff dampers 	 DUCT LEAKAGE TESTING , ELECTRICAL MOTORS, ENERGY CODE COMPLIANCE INSPECTIONS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION, PERMANENT CERTIFICATE, SHUTOFF DAMPERS 	*
Duct leakage testing , Electrical motors, Energy Code Compliance Inspections, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information, Permanent certificate, Shutoff dampers 	 DUCT LEAKAGE TESTING , ELECTRICAL MOTORS, ENERGY CODE COMPLIANCE INSPECTIONS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION, PERMANENT CERTIFICATE, SHUTOFF DAMPERS 	*
Final 	 FINAL 	*
Public Assembly Emergency Lighting 	 PUBLIC ASSEMBLY EMERGENCY LIGHTING 	*
nan 	  	*
Duct leakage testing , Electrical motors, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information, Permanent certificate, Shutoff dampers 	 DUCT LEAKAGE TESTING , ELECTRICAL MOTORS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION, PERMANENT CERTIFICATE, SHUTOFF DAMPERS 	*
Energy Code Compliance Inspections, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information 	 ENERGY CODE COMPLIANCE INSPECTIONS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION 	*
Energy Code Compliance Inspections, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information 	 ENERGY CODE COMPLIANCE INSPECTIONS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION 	*
nan 	  	*
Energy Code Compliance Inspections, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information, Shutoff dampers 	 ENERGY CODE COMPLIANCE INSPECTIONS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION, SHUTOFF DAMPERS 	*
Energy Code Compliance Inspections, Final 	 ENERGY CODE COMPLIANCE INSPECTIONS, FINAL 	*
Energy Code Compliance Inspections, Final 	 ENERGY CODE COMPLIANCE INSPECTIONS, FINAL 	*
Duct leakage testing , Electrical motors, Energy Code Compliance Inspections, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information, Permanent certificate, Shutoff dampers 	 DUCT LEAKAGE TESTING , ELECTRICAL MOTORS, ENERGY CODE COMPLIANCE INSPECTIONS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION, PERMANENT CERTIFICATE, SHUTOFF DAMPERS 	*
Duct leakage testing , Electrical motors, Energy Code Compliance Inspections, Final, HVAC and service water heating equipment , HVAC and service water heating system controls , HVAC insulation and sealing , Maintenance information, Permanent certificate, Shutoff dampers 	 DUCT LEAKAGE TESTING , ELECTRICAL MOTORS, ENERGY CODE COMPLIANCE INSPECTIONS, FINAL, HVAC AND SERVICE WATER HEATING EQUIPMENT , HVAC AND SERVICE WATER HEATING SYSTEM CONTROLS , HVAC INSULATION AND SEALING , MAINTENANCE INFORMATION, PERMANENT CERTIFICATE, SHUTOFF DAMPERS 	*
Final 	 FINAL 	*
Final 	 FINAL 	*
*    0  same records   *

======================


column:  Sidewalk Shed (Work Type)
Original,	 Cleaned

False 	 FALSE 	*
True 	 TRUE 	*
True 	 TRUE 	*
False 	 FALSE 	*
False 	 FALSE 	*
True 	 TRUE 	*
True 	 TRUE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
True 	 TRUE 	*
False 	 FALSE 	*
True 	 TRUE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
True 	 TRUE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
True 	 TRUE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
False 	 FALSE 	*
True 	 TRUE 	*
True 	 TRUE 	*
*    0  same records   *

======================


column:  Initial Cost
Original,	 Cleaned

1000 	 1000
1000 	 1000
1 	 1
2500 	 2500
2500 	 2500
1000 	 1000
1 	 1
250 	 250
12000 	 12000
5850 	 5850
5850 	 5850
1 	 1
5000 	 5000
1000 	 1000
7254 	 7254
30400 	 30400
1000 	 1000
1 	 1
3000 	 3000
3000 	 3000
4560 	 4560
1000 	 1000
39000 	 39000
0 	 0
0 	 0
2000 	 2000
1000 	 1000
150000 	 150000
160 	 160
1 	 1
0 	 0
1000 	 1000
5000 	 5000
6000 	 6000
40000 	 40000
50000 	 50000
40000 	 40000
0 	 0
25000 	 25000
9000 	 9000
95000 	 95000
95000 	 95000
80000 	 80000
43000 	 43000
6000 	 6000
6000 	 6000
20000 	 20000
20000 	 20000
1000 	 1000
1000 	 1000
*    50  same records   *

======================


column:  Existing Height
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Existing Dwelling Units
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
0 	 0
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
522 	 522
0 	 0
0 	 0
nan 	 nan 	*
21 	 21
1 	 1
1 	 1
1 	 1
1 	 1
25 	 25
2 	 2
2 	 2
249 	 249
249 	 249
15 	 15
15 	 15
*    16  same records   *

======================


column:  Proposed Height
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    0  same records   *

======================


column:  Proposed Dwelling Units
Original,	 Cleaned

nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*

1 	 1
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
522 	 522
0 	 0
0 	 0
nan 	 nan 	*
21 	 21
1 	 1
1 	 1
1 	 1
1 	 1
25 	 25
2 	 2
2 	 2
249 	 249
249 	 249
15 	 15
15 	 15
*    16  same records   *

======================


column:  Street Name
Original,	 Cleaned

PORTER AVENUE 	 PORTER AVENUE
CROWN STREET 	 CROWN STREET
CORTELYOU ROAD 	 CORTELYOU ROAD
GLENMORE AVENUE 	 GLENMORE AVENUE
GLENMORE AVENUE 	 GLENMORE AVENUE
SEELEY STREET 	 SEELEY STREET
BALTIC STREET 	 BALTIC STREET
VERNON AVENUE 	 VERNON AVENUE
BOX STREET 	 BOX STREET
CONEY ISLAND AVENUE 	 CONEY ISLAND AVENUE
CONEY ISLAND AVENUE 	 CONEY ISLAND AVENUE
BALTIC STREET 	 BALTIC STREET
48 STREET 	 48 STREET
4 AVENUE 	 4 AVENUE
5 AVENUE 	 5 AVENUE
NEW YORK AVENUE 	 NEW YORK AVENUE
6 STREET 	 6 STREET
1 AVENUE 	 1 AVENUE
STERLING PLACE 	 STERLING PLACE
FULTON STREET 	 FULTON STREET
PARKSIDE AVENUE 	 PARKSIDE AVENUE
AVENUE S 	 AVENUE S
BURKE AVENUE 	 BURKE AVENUE
HAMILTON AVENUE 	 HAMILTON AVENUE
HAMILTON AVENUE 	 HAMILTON AVENUE
NOSTRAND AVENUE 	 NOSTRAND AVENUE
KINGS HIGHWAY 	 KINGS HIGHWAY
STILLWELL AVENUE 	 STILLWELL AVENUE
52 STREET 	 52 STREET
WYTHE AVENUE 	 WYTHE AVENUE
BUTLER STREET 	 BUTLER STREET
QUENTIN ROAD 	 QUENTIN ROAD
NORTH 6 STREET 	 NORTH 6 STREET
PROSPECT PLACE 	 PROSPECT PLACE
SOUTH 4 STREET 	 SOUTH 4 STREET
DEAN STREET 	 DEAN STREET
DEAN STREET 	 DEAN STREET
BOND STREET 	 BOND STREET
BERGEN STREET 	 BERGEN STREET
RUTLAND ROAD 	 RUTLAND ROAD
3 PLACE 	 3 PLACE
3 PLACE 	 3 PLACE
3 PLACE 	 3 PLACE
GRAHAM AVENUE 	 GRAHAM AVENUE
VERMONT STREET 	 VERMONT STREET
VERMONT STREET 	 VERMONT STREET
METROPOLITAN AVENUE 	 METROPOLITAN AVENUE
METROPOLITAN AVENUE 	 METROPOLITAN AVENUE
HUNTINGTON STREET 	 HUNTINGTON STREET
HUNTINGTON STREET 	 HUNTINGTON STREET
*    50  same records   *

======================


column:  Borough
Original,	 Cleaned

BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
*    50  same records   *

======================


column:  Applicant First Name
Original,	 Cleaned

VIJAY 	 VIJAY
VICTOR 	 VICTOR
KAROL 	 KAROL
MANISH 	 MANISH
MANISH 	 MANISH
VICTOR 	 VICTOR
PAUL 	 PAUL
KEVIN 	 KEVIN
VICTOR 	 VICTOR
KO SHEK 	 KO SHEK
KO SHEK 	 KO SHEK
PAUL 	 PAUL
QING 	 QING
ROBERT 	 ROBERT
KO SHEK 	 KO SHEK
JOEL 	 JOEL
VICTOR 	 VICTOR
PETER 	 PETER
ROBERT 	 ROBERT
ILJOONG 	 ILJOONG
ALBERT 	 ALBERT
ALBERTO 	 ALBERTO
JOSEPH 	 JOSEPH
DAVID 	 DAVID
DAVID 	 DAVID
DE-JAN 	 DE-JAN
JEFFREY 	 JEFFREY
MICHAEL 	 MICHAEL
SANTIAGO 	 SANTIAGO
PAUL 	 PAUL
NORMAN 	 NORMAN
WILLY 	 WILLY
STEVEN 	 STEVEN
ERIC 	 ERIC
MATTHEW 	 MATTHEW
JOHN 	 JOHN
GEORGE 	 GEORGE
PAUL 	 PAUL
FABIAN 	 FABIAN
JAHMAL 	 JAHMAL
ANDREW 	 ANDREW
ANDREW 	 ANDREW
ANDREW 	 ANDREW
JONATHAN 	 JONATHAN
NARESH 	 NARESH
NARESH 	 NARESH
STEVEN B. 	 STEVEN B.
STEVEN B. 	 STEVEN B.
VICTOR 	 VICTOR
VICTOR 	 VICTOR
*    50  same records   *

======================


column:  Applicant Last Name
Original,	 Cleaned

GUPTA 	 GUPTA
SUBEN 	 SUBEN
ZDANCEWICZ 	 ZDANCEWICZ
SAVANI 	 SAVANI
SAVANI 	 SAVANI
SUBEN 	 SUBEN
PERDEK 	 PERDEK
WHITE 	 WHITE
SUBEN 	 SUBEN
WONG 	 WONG
WONG 	 WONG
PERDEK 	 PERDEK
LIU 	 LIU
HILLS 	 HILLS
WONG 	 WONG
PHAGOO 	 PHAGOO
SUBEN 	 SUBEN
FOSTER 	 FOSTER
LITCHFIELD 	 LITCHFIELD
KIM 	 KIM
MONTOYA 	 MONTOYA
ROMAN 	 ROMAN
MORACE 	 MORACE
NICHOLSON 	 NICHOLSON
NICHOLSON 	 NICHOLSON
LU 	 LU
VOLLMUTH 	 VOLLMUTH
PINSKE 	 PINSKE
HELMAN 	 HELMAN
PERDEK 	 PERDEK
COX 	 COX
ZAMBRANO 	 ZAMBRANO
GAMBINO 	 GAMBINO
FOSTER 	 FOSTER
BENDIX 	 BENDIX
GUTH 	 GUTH
CAMBOURAKIS 	 CAMBOURAKIS
TAYLOR 	 TAYLOR
CRUZ 	 CRUZ
SABAHA 	 SABAHA
ROBINSON 	 ROBINSON
ROBINSON 	 ROBINSON
ROBINSON 	 ROBINSON
JOHRDEN 	 JOHRDEN
MAHANGU 	 MAHANGU
MAHANGU 	 MAHANGU
RABINOFF 	 RABINOFF
RABINOFF 	 RABINOFF
SUBEN 	 SUBEN
SUBEN 	 SUBEN
*    50  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

J&J ASSOCIATES NY INC 	 J&J ASSOCIATES NY INC
VS CONSULTING ENGINEERING, PC 	 VS CONSULTING ENGINEERING, PC
KZ ENGINEERING, PC 	 KZ ENGINEERING, PC
M.S. SAVANI ARCHITECT, PC 	 M.S. SAVANI ARCHITECT, PC
M.S. SAVANI ARCHITECT, PC 	 M.S. SAVANI ARCHITECT, PC
VS CONSULTING ENGINEERING, PC 	 VS CONSULTING ENGINEERING, PC
PAUL PERDEK, PROF. ENG. PLLC 	 PAUL PERDEK, PROF. ENG. PLLC
VISIONAEC 	 VISIONAEC
VS CONSULTING ENGINEERING, PC 	 VS CONSULTING ENGINEERING, PC
WKS INC. 	 WKS INC.
WKS INC. 	 WKS INC.
PAUL PERDEK, PROF. ENG. PLLC 	 PAUL PERDEK, PROF. ENG. PLLC
nan 	 nan 	*
WQB ARCHITECTURE PLLC 	 WQB ARCHITECTURE PLLC
WKS INC. 	 WKS INC.
JOEL PHAGOO P.E. PLLC 	 JOEL PHAGOO P.E. PLLC
VS CONSULTING ENGINEERING, PC 	 VS CONSULTING ENGINEERING, PC
360 ENGINEERING P.C. 	 360 ENGINEERING P.C.
ROBERT LITCHFIELD ARCHITECT 	 ROBERT LITCHFIELD ARCHITECT
CSA GROUP NY ARCH & ENG PC 	 CSA GROUP NY ARCH & ENG PC
ALBERT MONTOYA ARCHITECT 	 ALBERT MONTOYA ARCHITECT
ALBERTO ROMAN 	 ALBERTO ROMAN
JOSEPH M. MORACE, RA 	 JOSEPH M. MORACE, RA
SBLM ARCHITECTS 	 SBLM ARCHITECTS
SBLM ARCHITECTS 	 SBLM ARCHITECTS
DJLU ARCHITECT 	 DJLU ARCHITECT
VOLLMUTH & BRUSH 	 VOLLMUTH & BRUSH
RAMAKER & ASSOCIATES, INC. 	 RAMAKER & ASSOCIATES, INC.
H & O ENGINEERING, DPC 	 H & O ENGINEERING, DPC
PAUL PERDEK, PROF. ENG. PLLC 	 PAUL PERDEK, PROF. ENG. PLLC
UNION STREET STUDIO, LLC 	 UNION STREET STUDIO, LLC
ZAMBRANO ARCHITECTURAL DESIGN, LLC 	 ZAMBRANO ARCHITECTURAL DESIGN, LLC
NY ARCHITECTURAL COLLABORATIVE, LLC 	 NY ARCHITECTURAL COLLABORATIVE, LLC
ASHRAF CORP 	 ASHRAF CORP
MATTHEW K BENDIX 	 MATTHEW K BENDIX
GUTH DECONZO CONSULTING ENGINEERS, 	 GUTH DECONZO CONSULTING ENGINEERS,
STRUCTURAL ENGINEERING TECHNOLOGIES 	 STRUCTURAL ENGINEERING TECHNOLOGIES
STONEHILL & TAYLOR ARCHITECT PC 	 STONEHILL & TAYLOR ARCHITECT PC
FABIAN CRUZ, PROFESSIONAL ENGINEER, 	 FABIAN CRUZ, PROFESSIONAL ENGINEER,
JAHMAL SABAHA CONSULTING ENGINEER 	 JAHMAL SABAHA CONSULTING ENGINEER
KLH PROFESSIONAL ENGINEERS, PSC P.C 	 KLH PROFESSIONAL ENGINEERS, PSC P.C
KLH PROFESSIONAL ENGINEERS, PSC P.C 	 KLH PROFESSIONAL ENGINEERS, PSC P.C
KLH PROFESSIONAL ENGINEERS, PSC P.C 	 KLH PROFESSIONAL ENGINEERS, PSC P.C
JDJ ENGINEERING, DPC 	 JDJ ENGINEERING, DPC
NY BUILDING ASSOCIATES INC 	 NY BUILDING ASSOCIATES INC
NY BUILDING ASSOCIATES INC 	 NY BUILDING ASSOCIATES INC
STEVEN B. RABINOFF ARCHITECT P.C. 	 STEVEN B. RABINOFF ARCHITECT P.C.
STEVEN B. RABINOFF ARCHITECT P.C. 	 STEVEN B. RABINOFF ARCHITECT P.C.
VS CONSULTING ENGINEERING, PC 	 VS CONSULTING ENGINEERING, PC
VS CONSULTING ENGINEERING, PC 	 VS CONSULTING ENGINEERING, PC
*    49  same records   *

======================


column:  Owner's Street Name
Original,	 Cleaned

89-24 VANDERVEER ST, 	 89-24 VANDERVEER ST,
7 ORBIT DRIVE 	 7 ORBIT DRIVE
C/O116 NASSAU STREET 	 C/O116 NASSAU STREET
148-45, HILLSIDE AVE 	 148-45, HILLSIDE AVE
148-45, HILLSIDE AVE 	 148-45, HILLSIDE AVE
7 ORBIT DRIVE 	 7 ORBIT DRIVE
812 WYCKOFF AVE. 	 812 WYCKOFF AVE.
52  LINN DR, B 	 52  LINN DR, B
7 ORBIT DRIVE 	 7 ORBIT DRIVE
1698 EAST 2ND STREET 	 1698 EAST 2ND STREET
1698 EAST 2ND STREET 	 1698 EAST 2ND STREET
812 WYCKOFF AVE. 	 812 WYCKOFF AVE.
647 48STREET 	 647 48STREET
225 BENNET AVENUE 	 225 BENNET AVENUE
1698 EAST 2ND STREET 	 1698 EAST 2ND STREET
122 MILLER AVENUE 	 122 MILLER AVENUE
7 ORBIT DRIVE 	 7 ORBIT DRIVE
1444 31 DRIVE 	 1444 31 DRIVE
39-39 29TH STREET 	 39-39 29TH STREET
55 BROADWAY FL 14 	 55 BROADWAY FL 14
3065 SEDGWICK AVENUE 	 3065 SEDGWICK AVENUE
160 W 174ST 	 160 W 174ST
3195 RICHMOND ROAD 	 3195 RICHMOND ROAD
545 WEST 45TH STREET 	 545 WEST 45TH STREET
545 WEST 45TH STREET 	 545 WEST 45TH STREET
10 WEST 46TH STREET, 	 10 WEST 46TH STREET,
200 BLUE POINT AVE. 	 200 BLUE POINT AVE.
855 COMMUNITY DRIVE 	 855 COMMUNITY DRIVE
44-02 11TH STREET 	 44-02 11TH STREET
812 WYCKOFF AVE. 	 812 WYCKOFF AVE.
78 UNION STREET 	 78 UNION STREET
410 ATLANTIC AVENUE 	 410 ATLANTIC AVENUE
1298 RICHMOND ROAD 	 1298 RICHMOND ROAD
85-75 SANTIAGO ST 	 85-75 SANTIAGO ST
8 HAVEN AVENUE 	 8 HAVEN AVENUE
242 WEST 30TH STREET 	 242 WEST 30TH STREET
40-12 28TH STREET 	 40-12 28TH STREET
31 WEST 27TH STREET 	 31 WEST 27TH STREET
803 COLLEGE PT. BLVD 	 803 COLLEGE PT. BLVD
52 ST. MARKS AVENUE 	 52 ST. MARKS AVENUE
206 CLIFF AVE 	 206 CLIFF AVE
206 CLIFF AVE 	 206 CLIFF AVE
206 CLIFF AVE 	 206 CLIFF AVE
23 BROOKS ST S 	 23 BROOKS ST S
12415 METROPOLITAN A 	 12415 METROPOLITAN A
12415 METROPOLITAN A 	 12415 METROPOLITAN A
184 BAY DRIVE 	 184 BAY DRIVE
184 BAY DRIVE 	 184 BAY DRIVE
7 ORBIT DRIVE 	 7 ORBIT DRIVE
7 ORBIT DRIVE 	 7 ORBIT DRIVE
*    50  same records   *

======================


column:  City
Original,	 Cleaned

QUEENS VILLAGE 	 QUEENS VILLAGE
STONY BROOK 	 STONY BROOK
NEW YORK 	 NEW YORK
JAMAICA 	 JAMAICA
JAMAICA 	 JAMAICA
STONY BROOK 	 STONY BROOK
BROOKLYN 	 BROOKLYN
VERONA 	 VERONA
STONY BROOK 	 STONY BROOK
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
STONY BROOK 	 STONY BROOK
ASTORIA 	 ASTORIA
QUEENS 	 QUEENS
NEW YORK 	 NEW YORK
BRONX 	 BRONX
BRONX 	 BRONX
STATEN ISLAND 	 STATEN ISLAND
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
BLUE POINT 	 BLUE POINT
SAUK CITY 	 SAUK CITY
LONG ISLAND CITY 	 LONG ISLAND CITY
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
FREEPORT 	 FREEPORT
STATEN ISLAND 	 STATEN ISLAND
JAMAICA 	 JAMAICA
PORT WASHINGTON 	 PORT WASHINGTON
NEW YORK 	 NEW YORK
LONG ISLAND CITY 	 LONG ISLAND CITY
NEW YORK 	 NEW YORK
COLLEGE POINT 	 COLLEGE POINT
BROOKLYN 	 BROOKLYN
PELHAM 	 PELHAM
PELHAM 	 PELHAM
PELHAM 	 PELHAM
HICKSVILLE 	 HICKSVILLE
KEW GARDENS 	 KEW GARDENS
KEW GARDENS 	 KEW GARDENS
WOODMERE 	 WOODMERE
WOODMERE 	 WOODMERE
STONY BROOK 	 STONY BROOK
STONY BROOK 	 STONY BROOK
*    50  same records   *

======================


column:  Filing Representative First Name
Original,	 Cleaned

CARLTON 	 CARLTON
nan 	 nan 	*
HANCE 	 HANCE
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
ELY 	 ELY
SHMIEL 	 SHMIEL
KHEMRAJ 	 KHEMRAJ
SI 	 SI
SI 	 SI
ELY 	 ELY
LEO 	 LEO
MERCEDES 	 MERCEDES
SI 	 SI
JOEL 	 JOEL
nan 	 nan 	*
nan 	 nan 	*
ILYA 	 ILYA
YONG 	 YONG
ALTON 	 ALTON
LEVANA 	 LEVANA
NINA 	 NINA
YONA 	 YONA
YONA 	 YONA
JOEL 	 JOEL
PETER 	 PETER
ANDREW 	 ANDREW
BEN 	 BEN
ELY 	 ELY
MIKE 	 MIKE
JERRY 	 JERRY
MU/RO/GO 	 MU/RO/GO
KHEMRAJ 	 KHEMRAJ
JOAN 	 JOAN
JOAN 	 JOAN
JOAN 	 JOAN
MURIEL 	 MURIEL
nan 	 nan 	*
KEVIN 	 KEVIN
MU/RO/GO 	 MU/RO/GO
MU/RO/GO 	 MU/RO/GO
MU/RO/GO 	 MU/RO/GO
LINDA 	 LINDA
ALLEN 	 ALLEN
ALLEN 	 ALLEN
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    39  same records   *

======================


column:  Filing Representative Last Name
Original,	 Cleaned

PRIME 	 PRIME
nan 	 nan 	*
MERCEDES 	 MERCEDES
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
SEPULVEDA 	 SEPULVEDA
FURTH 	 FURTH
ITWARIA 	 ITWARIA
CHEN 	 CHEN
CHEN 	 CHEN
SEPULVEDA 	 SEPULVEDA
ZHU 	 ZHU
HERNANDEZ 	 HERNANDEZ
CHEN 	 CHEN
PHAGOO 	 PHAGOO
nan 	 nan 	*
nan 	 nan 	*
VILNITS 	 VILNITS
CHOI 	 CHOI
HENRIQUES 	 HENRIQUES
ESQUENAZI 	 ESQUENAZI
SCHAEFFER 	 SCHAEFFER
SHINE 	 SHINE
SHINE 	 SHINE
MENDELOVITS 	 MENDELOVITS
NATAPOV 	 NATAPOV
DIMITRIOU 	 DIMITRIOU
BRACHFELD 	 BRACHFELD
SEPULVEDA 	 SEPULVEDA
CUEVAS 	 CUEVAS
GLAUBER 	 GLAUBER
KH/SC/HA 	 KH/SC/HA
ITWARIA 	 ITWARIA
HUMPHREYS 	 HUMPHREYS
HUMPHREYS 	 HUMPHREYS
HUMPHREYS 	 HUMPHREYS
HENRIQUEZ 	 HENRIQUEZ
nan 	 nan 	*
ESCOURSE 	 ESCOURSE
KH/SC/HA 	 KH/SC/HA
KH/SC/HA 	 KH/SC/HA
KH/SC/HA 	 KH/SC/HA
MONTEMARANO 	 MONTEMARANO
MEYERS 	 MEYERS
MEYERS 	 MEYERS
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    39  same records   *

======================


column:  Filing Representative Business Name
Original,	 Cleaned

PRIME DESIGN GROUP LLC 	 PRIME DESIGN GROUP LLC
nan 	 nan 	*
SYNERGY BUILDING CONSULTANTS 	 SYNERGY BUILDING CONSULTANTS
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
AE DESIGN SOLUTION INC. 	 AE DESIGN SOLUTION INC.
EXPEDITING 4 U 	 EXPEDITING 4 U
101 SERVICES INC 	 101 SERVICES INC
INDESIGN STUDIO INC 	 INDESIGN STUDIO INC
INDESIGN STUDIO INC 	 INDESIGN STUDIO INC
AE DESIGN SOLUTION INC. 	 AE DESIGN SOLUTION INC.
LEO ZHU 	 LEO ZHU
S&M EXPEDITING 	 S&M EXPEDITING
INDESIGN STUDIO INC 	 INDESIGN STUDIO INC
JOEL PHAGOO P.E. PLLC 	 JOEL PHAGOO P.E. PLLC
nan 	 nan 	*
nan 	 nan 	*
THE VILNITS GROUP 	 THE VILNITS GROUP
CHOIDESIGNCONSULTING 	 CHOIDESIGNCONSULTING
CSM&R DESIGNS 	 CSM&R DESIGNS
PDG BUILDING CONSULTANTS LLC 	 PDG BUILDING CONSULTANTS LLC
ISLAND ENGINEERING ASSOCIATES 	 ISLAND ENGINEERING ASSOCIATES
YONA LOVE CONSULTING SERVICES, INC. 	 YONA LOVE CONSULTING SERVICES, INC.
YONA LOVE CONSULTING SERVICES, INC. 	 YONA LOVE CONSULTING SERVICES, INC.
SPEEDY EXPEDITING INC 	 SPEEDY EXPEDITING INC
JM ZONING 	 JM ZONING
BROOKBRIDGE CONSULTING SERVICES, IN 	 BROOKBRIDGE CONSULTING SERVICES, IN
EXPEDITING PLUS INC. 	 EXPEDITING PLUS INC.
AE DESIGN SOLUTION INC. 	 AE DESIGN SOLUTION INC.
CONVERSANO ASSOCIATES, INC. 	 CONVERSANO ASSOCIATES, INC.
BSD CONSULTING INC 	 BSD CONSULTING INC
MUNICIPAL BUILDING CONSULTANTS 	 MUNICIPAL BUILDING CONSULTANTS
101 SERVICES INC 	 101 SERVICES INC
EXPEDITION NYC 	 EXPEDITION NYC
EXPEDITION NYC 	 EXPEDITION NYC
EXPEDITION NYC 	 EXPEDITION NYC
JAM CONSULTANTS INC. 	 JAM CONSULTANTS INC.
nan 	 nan 	*
KMS DRAFTING CORP. 	 KMS DRAFTING CORP.
MUNICIPAL BUILDING CONSULTANTS 	 MUNICIPAL BUILDING CONSULTANTS
MUNICIPAL BUILDING CONSULTANTS 	 MUNICIPAL BUILDING CONSULTANTS
MUNICIPAL BUILDING CONSULTANTS 	 MUNICIPAL BUILDING CONSULTANTS
CONSTRUCTION PERMIT SERVICES CORP. 	 CONSTRUCTION PERMIT SERVICES CORP.
AM EXPEDITING DRAFTING & DESIGN 	 AM EXPEDITING DRAFTING & DESIGN
AM EXPEDITING DRAFTING & DESIGN 	 AM EXPEDITING DRAFTING & DESIGN
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    39  same records   *

======================


column:  Filing Representative Street Name
Original,	 Cleaned

130-20 ROCKAWAY BLVD 	 130-20 ROCKAWAY BLVD
nan 	 nan 	*
116 NASSAU STREET 	 116 NASSAU STREET
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
71 LEONARD STREET 	 71 LEONARD STREET
183 WILSON ST #199 	 183 WILSON ST #199
31 BRADFORD STREET 	 31 BRADFORD STREET
35-18 LINDEN PLACE 2 	 35-18 LINDEN PLACE 2
35-18 LINDEN PLACE 2 	 35-18 LINDEN PLACE 2
71 LEONARD STREET 	 71 LEONARD STREET
92 WILSON STREET 	 92 WILSON STREET
9054 FT. HAMILTON  P 	 9054 FT. HAMILTON  P
35-18 LINDEN PLACE 2 	 35-18 LINDEN PLACE 2
122 MILLER AVENUE 	 122 MILLER AVENUE
nan 	 nan 	*
nan 	 nan 	*
495A HENRY ST #244 	 495A HENRY ST #244
18806 NORTHERN BLVD 	 18806 NORTHERN BLVD
5215 NEW UTRECHT AVE 	 5215 NEW UTRECHT AVE
39 BROADWAY 	 39 BROADWAY
1562 RICHMOND ROAD 	 1562 RICHMOND ROAD
1928 BAY AVENUE 	 1928 BAY AVENUE
1928 BAY AVENUE 	 1928 BAY AVENUE
65 S. 11 ST, STE B16 	 65 S. 11 ST, STE B16
225 BROADWAY 	 225 BROADWAY
28 WARREN STREET 	 28 WARREN STREET
4403 15 AVE. 	 4403 15 AVE.
71 LEONARD STREET 	 71 LEONARD STREET
291 BROADWAY, ROOM 1 	 291 BROADWAY, ROOM 1
164 HORTON DR 	 164 HORTON DR
233 BROADWAY, 2050 	 233 BROADWAY, 2050
31 BRADFORD STREET 	 31 BRADFORD STREET
1270 FIFTH AVE #11F 	 1270 FIFTH AVE #11F
1270 FIFTH AVE #11F 	 1270 FIFTH AVE #11F
1270 FIFTH AVE #11F 	 1270 FIFTH AVE #11F
104 WEST 29TH STREET 	 104 WEST 29TH STREET
nan 	 nan 	*
108-20 LIBERTY AVE 	 108-20 LIBERTY AVE
233 BROADWAY, 2050 	 233 BROADWAY, 2050
233 BROADWAY, 2050 	 233 BROADWAY, 2050
233 BROADWAY, 2050 	 233 BROADWAY, 2050
263 WEST 38TH STREET 	 263 WEST 38TH STREET
135-21 134 STREET 	 135-21 134 STREET
135-21 134 STREET 	 135-21 134 STREET
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    39  same records   *

======================


column:  Filing Representative City
Original,	 Cleaned

SOUTH OZONE PARK 	 SOUTH OZONE PARK
nan 	 nan 	*
NEW YORK 	 NEW YORK
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
FLUSHING 	 FLUSHING
FLUSHING 	 FLUSHING
NEW YORK 	 NEW YORK
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
FLUSHING 	 FLUSHING
BROOKLYN 	 BROOKLYN
nan 	 nan 	*
nan 	 nan 	*
BROOKLYN 	 BROOKLYN
FLUSHING 	 FLUSHING
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
MONSEY 	 MONSEY
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
nan 	 nan 	*
QUEENS 	 QUEENS
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
SOUTH OZONE PARK 	 SOUTH OZONE PARK
SOUTH OZONE PARK 	 SOUTH OZONE PARK
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
nan 	 nan 	*
*    39  same records   *

======================

In [131]:
tp = 452
fp = 27

fn = 18
tn = 1300 - tp - fp - fn

In [132]:
precision(tp, fp)

0.9436325678496869

In [133]:
recall(tp,fn)

0.9617021276595744