# General version of data cleaning

This code will automatically perform data cleaning on each of the dataset in the directoty, to run this notebook you need to download all the datasets and place them in the current directoty with the notebook.

Because we automatically find columns and fix them, we can not afford clustering to find outliers for each datasets so remove it in this notebook, the precision and recall rate might be influenced.

Run the code in oreder to perform data clean, cleaned data will be save in the current directoty, and to calculate the precision and recall rate, you will need to manually inspect the result.

In [1]:
import openclean
import glob
import pandas as pd
import numpy as np
import re

In [2]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

In [3]:
import pandas as pd
from openclean.pipeline import stream

In [4]:
# dataset_list = ['hg8x-zxpr','w9ak-ipjd','dm9a-ab7w','bx6-tga4','ipu4-2q9a','xubg-57si', 'bty7-2jhb', 'hcir-3275, 'pitm-atqc','iz2q-9x8d']
# dataset_names = ['Housing New York Units by Building',
#                  'DOB NOW: Build – Job Application Filings',
#                  'DOB NOW: Electrical Permit Applications', 
#                  'DOB NOW: Build – Approved Permits',
#                  'DOB Permit Issuance', 
#                  'DOB NOW: Safety – Facades Compliance Filings',
#                  'Historical DOB Permit Issuance', 
#                  'Buildings Selected for the Alternative Enforcement Program (AEP)', 
#                  'Open Restaurant Applications', 
#                  'DOB Cellular Antenna Filings']

# dataset = Socrata().dataset('pitm-atqc')
# datafile = './pitm-atqc.tsv.gz'

# if not os.path.isfile(datafile):
#     with gzip.open(datafile, 'wb') as f:
#         print('Downloading ...\n')
#         dataset.write(f)


# fsize = humanfriendly.format_size(os.stat(datafile).st_size)
# print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

In [5]:
# DOB Cellular Antenna Filings: iz2q-9x8d
# Open Restaurant Applications: pitm-atqc
# DOB NOW: Safety – Facades Compliance Filings: xubg-57si
# DOB Permit Issuance: ipu4-2q9a

In [6]:
file_list = glob.glob("*.tsv.gz")

In [7]:
file_list

['ipu4-2q9a.tsv.gz',
 'iz2q-9x8d.tsv.gz',
 'pitm-atqc.tsv.gz',
 'xubg-57si.tsv.gz']

In [8]:
def readData(file):
    
    datafile = './'+file
    
    df  = pd.read_csv(datafile, dtype='object', sep='\t')
    #ds = stream(datafile)
    
    return datafile, df#, ds

In [39]:
def fixColumnNames(df):
    rename_list = list(df.columns)
    rename_dict = dict()

    for i in rename_list:
        col_name = str(i)

        col_name = col_name.strip().replace("_", " ").replace("’", "'").replace(".", "")


        # https://stackoverflow.com/questions/2277352/split-a-string-at-uppercase-letters
        # Split on upper case to seperate cocnatenated words:
        if (not col_name.islower()) and (not col_name.isupper()) and (col_name.find(" ") == -1):
            col_name = " ".join(re.sub("([A-Z])", r" \1", col_name).split())


        if col_name.islower(): 
            col_name = col_name.title()

        if (col_name.isupper()) and (col_name.find(" ") != -1):
            col_name = col_name.title()

        col_name = col_name.replace("No.", "Number")
        col_name = col_name.replace("#", "Number")

        rename_dict[i] = col_name
    return rename_dict

In [40]:
def findColumns(df, column_name_list):
    data_cols = []

    for col in df.columns:
        for name in column_name_list:
            if name.lower() in col.lower():
                data_cols.append(col)
                
    return  data_cols

In [41]:
def fix_House_Number_Column(df, col):
    df[col] = df[col].str.replace(pat='(?P<one>\\d)(?P<two>[A-Z]+)', repl='\g<one> \g<two>', regex=True)
    df[col] = df[col].str.replace(pat='(?P<one>GAR$)', repl='GARAGE', regex=True)
    df[col] = df[col].str.replace(pat='NORTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='EAST([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='SOUTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='WEST([A-Z]+)?', repl='', regex=True)
    df.loc[(~df[col].str.contains('\\d', regex=True)), col] = ''

In [42]:
def fix_Phone_Number_Column(df, col):
    
    df[col] = df[col].str.replace(pat="[^\\d]", repl="", regex=True)    
    df[col] = df[col].str.lstrip('1')
    df.loc[df[col].str.len()!=10, col] = ''

    #return data_cols

In [43]:
def fix_ID_Number_Column(df):
    data_cols = findColumns(df, ['number', 'Number',' No',' NO'])
    
    for col in data_cols:
        
        df[col].fillna('', inplace=True)
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()

        df.loc[df[col].str.strip('')=='ONE', col] = '1'
        df.loc[df[col].str.strip('')=='TWO', col] = '2'
        df.loc[df[col].str.strip('')=='THREE', col] = '3'
        df.loc[df[col].str.strip('')=='FOUR', col] = '4'
        df.loc[df[col].str.strip('')=='FIVE', col] = '5'
        df.loc[df[col].str.strip('')=='SIX', col] = '6'
        df.loc[df[col].str.strip('')=='SEVEN', col] = '7'
        df.loc[df[col].str.strip('')=='EIGHT', col] = '8'
        df.loc[df[col].str.strip('')=='NINE', col] = '9'

        df.loc[df[col].str.strip('')=='NONE', col] = ''
        df.loc[df[col].str.strip('')=='none', col] = ''
        df.loc[df[col].str.strip('')=='None', col] = ''

        df.loc[df[col].str.strip('')=='NAN', col] = ''
        df.loc[df[col].str.strip('')=='nan', col] = ''
        df.loc[df[col].str.strip('')=='NaN', col] = ''
        
        df.loc[df[col].str.strip('')=='NO NUMBER', col] = ''
    
        if ('house' in col.lower()) or ('building' in col.lower()):
            fix_House_Number_Column(df, col)
        if ("phone" in col.lower()):
            fix_Phone_Number_Column(df, col)
    
    return data_cols

In [59]:
def fix_Binary_Column(df):
    #data_cols = findColumns(ds, ['Landmarked','Owned', 'Filled'])
    #
    data_cols = []

    for col in df.columns:
        # If column has small # of values, and potentially boolean values like Yes/ No, Y/N, X, True, etc.
        if (df[col].nunique() < 5) and (df[df[col].str.lower()==('y|yes|x|true|n|no|false')][col].count() != 0):
            data_cols.append(col)
        
        
    for col in data_cols:
        
        df.loc[df[col].str.lower().isin(['y','yes', 'x', 'true']), col] = True
        df.loc[df[col].str.lower().isin(['n', 'no', 'nan','false']), col] = False
        df.loc[df[col].str.lower()=='', col] = False
        df[col].fillna(False, inplace=True)
        
        if df[col].nunique()==2:
            df[col] = df[col].astype('bool')
        
    return data_cols

In [60]:
def fix_Monetary_Column(df):
    data_cols = findColumns(df, ['Cost','cost', 'fee', 'Fee'])
    
    for col in data_cols:
        
        df[col] = df[col].astype('str')
        df[col] = df[col].str.replace("$", '', regex=False)
        df[col] = df[col].str.replace("-", '', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')

    return data_cols

In [61]:
def fix_Numerical_Column(df):
    data_cols = findColumns(df, ['Units','units', 'Height', 'height', 'Length', 'length', 'Footage', 'footage', 'Sqft', 'sqft'])
    
    for col in data_cols:
        df[col] = df[col].astype('str')

        df[col] = df[col].str.replace('-', '', regex=False)
        df[col] = df[col].str.replace('NONE', '0', regex=False)
        df[col] = df[col].str.replace('none', '0', regex=False)
        df[col] = df[col].str.replace('NAN', '0', regex=False)
        df[col] = df[col].str.replace('NaN', '0', regex=False)
        df[col] = df[col].str.replace('nan', '0', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')
        
    return data_cols

In [62]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(df, column_name, eps_setting = 0.05):
    datetime_data = df[column_name]

    light_outliers = DBSCANOutliers().find(datetime_data)
    
    return light_outliers

In [63]:
def fix_datetime_Column(df):
    data_cols = findColumns(df, ['date', 'Date', 'DATE'])
    
    for col in data_cols:
    
        df[col] = pd.to_datetime(df[col], errors='coerce')
        
        light_outliers = findDateOutliers(df, col)
        
        for item in light_outliers:
            
            df[col] = df[col].replace(item, None)
         
    return data_cols

In [64]:
from openclean.data.refdata import RefStore

refdata = RefStore()
city_df = refdata\
    .load('encyclopaedia_britannica:us_cities', auto_download=True)\
    .df()

In [65]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(df, col, minsize = 2, preds = 0.5): #ds
    dba = df.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(preds)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0

def updateUsingClusters(df, col, clusters, isPrint = False): # ds,
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i <5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
    
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [66]:
from openclean.function.eval.base import Col, Eval
from openclean.function.eval.logic import And
from openclean.function.value.phonetic import Soundex, soundex


def fix_city_and_name_Column(df, file): #ds,
    data_cols = findColumns(df, ['NAME', 'name', 'Name','city', 'City', 'CITY', 'BOROUGH', 'Borough', 'borough'])
    name_cols = findColumns(df, ['NAME', 'name', 'Name'])
    
    # mapping list to replace outliers
    outlier1 = ['', 'MR. ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM 11', 'JOSEP;H``', 'DAID/11/2007', 'CHUNG   LUN', '718 9215010', 'ANTHONY', 'HSIA0-NAN', 'JOSEPH', '``````````', 'ROBERT  `', 'RAJENDRA9956700', '2', 'G.B.M.', 'EUGENE......JR', '6312100', 'CLAUDE,JR.', 'THOMAS``', 'ALAN  L', 'Nab53', 'MR. Y. B', 'J.J', 'PH8ILIP', 'I. M', 'RICHARD', 'ALBERTA S 111 D', 'P ;', 'GENECG.C. ENG &', 'J.J.', '2126202794', 'SHAW  HWA', 'HARRY         H', 'MR DOU8GLAS', '`1D', 'PAUL', 'K. T.', 'JOHN', '...NORMAN', 'EVAN   D', '7184361278BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MAD/Y/ARNI', 'ES ON SCH B', 'EUGENE.......JR', 'NEAL', 'F._ERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0-TECH', 'RODNEY   __', 'DAVID', 'G. L.', 'JAMES', 'LESLI8E', '7186054055', 'GEORGE', 'G.B.M', 'DAVID    JON', 'CHUNG---YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', '1P', 'JUDE.....N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD/HON-AN', 'GLEN  A.L.', 'J.B. Jr.', 'LORENZO..A', 'J J', '..RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY 2', '...JOSEPH', 'RUSSELL 111', 'THOMAS', 'H./E./CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', '--young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']
    mapping1 = [None, 'ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM', 'JOSEPH', None, 'CHUNG LUN', None, 'ANTHONY', 'HSIA0 NAN', 'JOSEPH', None, 'ROBERT', 'RAJENDRA', None, 'G.B.M.', 'EUGENEJR', None, 'CLAUDE JR.', 'THOMAS', 'ALAN  L', 'Nab', 'MR. Y. B', 'J.J', 'PHILIP', 'I. M', 'RICHARD', 'ALBERTA', None, 'GENECG.C. ENG', 'J.J.', None, 'SHAW HWA', 'HARRYH', 'MR DOUGLAS', None, 'PAUL', 'K. T.', 'JOHN', 'NORMAN', 'EVAND', 'BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MADYARNI', 'ES ON SCH B', 'EUGENEJR', 'NEAL', 'FERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0 TECH', 'RODNEY', 'DAVID', 'G. L.', 'JAMES', 'LESLIE', None, 'GEORGE', 'G.B.M', 'DAVID JON', 'CHUNG YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', None, 'JUDE N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD HON-AN', 'GLEN A.L.', 'J.B. Jr.', 'LORENZOA', 'J J', 'RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY', 'JOSEPH', 'RUSSELL', 'THOMAS', 'H.E.CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', 'young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']

    outlier2 = ['SHARMA #0', "0'CONNOR", 'RUSHTON    UEL', 'UDDIN   Z', 'HINKLEY 1', 'O&#039;CONNOR, P.E.', '.OOK', 'SAMUELS111', 'O&#039;CONNOR', 'CALIENDO', 'SMITH   JR.', 'LO  BUE', '7AN', '+-+ETTIERI', 'SMITH, 111', 'KAMEN   1', '.EE', 'MASS, 1', '.EI', 'Zagaroli 3rd', 'RINI   II', 'KAMEN   R', 'RYAN 11', 'SPI8EZIA L S', 'MUFTIC..A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL, P.E.', 'HAMA07', 'HINLEY,1', '1212', "O  ' CONNELL", 'HURT,JR.,', 'WESOLOWSKI', 'CHEN', '`ING, R.A', 'MARTARELLA 111', 'Gandhi, Ph.D., P.E.', '90I', 'ENNIS 2', 'COSTELLO R A A I A', '3UI', 'N/A', 'HURT,  JR', 'LEHR,1', 'KOHLER, 111', 'GERAZOUNIS', 'Alexander,1', 'LUBOW, R.A. LEED AP', 'RINI,111', '08CZAK', '````````````````````', 'CHAO  R.A.', 'Geier 11', '08NGEL', '08SOLOWSKI', 'I11', 'HINKLEY, 1', 'RUDIKOFF, P.E.', "O'CONNOR", 'SHAH   EZ', 'MIELE, JR., P.E.', 'RITTENHOUSE 111', 'AMADI   ISIOFIA', 'HINKLEY,1', 'RENFORE````````', "O'HARA,JR.", '73020012', 'PHAGOO   I', 'BRAY.....,', 'LLL', 'BHATHIA,1', 'GANDHI, PH. D., P.E', 'KO K', 'VASSALOTTI 11', 'HURT, JR .', '0018LKLE', 'RINI -111', 'PARIHAR', 'EE', 'L00802', 'ELISE.111', 'KING , R.A', 'CHRYSLER  P E', 'LEHR 1', 'Walters   Jr.', 'LEE', 'RINI  III', 'D&#039;ANGELO', '0UDOLPH III', 'VIEHE-NAESS 111', ',MO', '08E', '47DIKOFF', 'Yu,', '420865380', 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', '901BEN', '4153LOO', 'SYED-NAQVI', 'RYAN , JR.', 'K O K O R I S', 'ELISEO111', 'O&#039;CONNELL', 'ZEID61', '---Lewis', '00CHELI', 'MOHAMMAD       +++++', 'METZLER  P E', 'BAILEY', 'GANDHI, PH. D., P.E.', 'TIEMANN.111', 'SMITH.111', 'DI GER0NIMO', 'GANDHI, PH,D., P.E', 'III', 'J C', 'MAGAMI-QAIM-MAGAMI', '+M', 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', 'Y10007OR', 'SMITH,111', 'KING R A FAIA', 'RYAN III, AIA', '08AN', 'STARK 1', 'MASS', 'VICTORI0, R.A', 'RIZVI   A', '21029677', "3'CONNOR", 'Wong /  Lai', 'KAPLAN 3', 'GRAICHEN.JR./DAWN/DI', 'GROSSMAN ,PE,F.A.C.I']
    mapping2 = ['SHARMA ', "CONNOR", 'RUSHTON UEL', 'UDDIN Z', 'HINKLEY ', 'CONNOR P.E.', None, 'SAMUELS', 'CONNOR', 'CALIENDO', 'SMITH JR.', 'LO BUE', None, 'ETTIERI', 'SMITH', 'KAMEN', '.EE', 'MASS', '.EI', 'Zagaroli', 'RINI', 'KAMEN R', 'RYAN', 'SPIEZIA L S', 'MUFTIC.A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL P.E.', 'HAMA', 'HINLEY', None, "CONNELL", 'HURT JR.', 'WESOLOWSKI', 'CHEN', 'ING R.A', 'MARTARELLA', 'Gandhi', None, 'ENNIS ', 'COSTELLO R A A I A', None, None, 'HUR  JR', 'LEHR', 'KOHLER 111', 'GERAZOUNIS', 'Alexander', 'LUBOW R.A. LEED AP', 'RINI',None, None, 'CHAO R.A.', 'Geier', None, 'SOLOWSKI', None, 'HINKLEY', 'RUDIKOFF, P.E.', "CONNOR", 'SHAH EZ', 'MIELE JR. P.E.', 'RITTENHOUSE', 'AMADI   ISIOFIA', 'HINKLEY', 'RENFORE', "O'HARA,JR.", None, 'PHAGOO I', 'BRAY,', 'LLL', 'BHATHIA', 'GANDHI', 'KO K', 'VASSALOTTI', 'HURT JR.',None, 'RINI', 'PARIHAR', 'EE', None, 'ELISE', 'KING R.A', 'CHRYSLER  P E', 'LEHR', 'Walters Jr.', 'LEE', 'RINI  III', 'ANGELO', '0UDOLPH III', 'VIEHE-NAESS', 'MO', '08E', None, 'Yu,', None, 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', None, None, None, 'RYAN JR.', 'KOKORIS', 'ELISE', 'CONNELL', None, 'Lewis', 'CHELI', 'MOHAMMAD', 'METZLER  P E', 'BAILEY', 'GANDHI', 'TIEMANN', 'SMITH', 'DI GER0NIMO', 'GANDHI', 'III', 'J C', 'MAGAMI QAIM MAGAMI', None, 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', None, 'SMITH', 'KING R A FAIA', 'RYAN III AIA', None, 'STARK', 'MASS', 'VICTORI0 R.A', 'RIZVIA', None, "CONNOR", 'Wong Lai', 'KAPLAN', 'GRAICHEN.JR. DAWN DI', 'GROSSMAN']

    outlier3 = ['', '....DEMO', '050069', 'DEM. CONTR.,', 'XXXXX', 'G/C 10114H9', 'CGWC10114H99', '00', 'X S000155', '082-36-1245', 'G.G', 'LESSEE', '......GC', "'", '..OWNER', 'GC 2293', '--', 'XXXXXX', 'LS 31,721', '...GC', 'gen.cont.', 'G.C TK#4592', 'PE', 'RLA - 818', '.....OWNER', 'RLA 16077', 'G C', 'X 4129892', 'G. C.', 'R.L.A', 'GC 1028350', 'WC10114H99', 'LEESEE', 'GEN.CONT.', 'SIGN..HANGER', 'DEMO 20451', 'D8615', '.X', 'P.L.L.C', '..DEMO', 'G .C', 'L A', 'G.C NY11101', '32820', '....OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC99792', 'X 1341946', 'TRACK# 1390', 'EXPED.R4466', 'PLLC 9599691', 'G.C 1110101', '029649', '(CHECK)', 'DEM. CONTR,', 'EXPEDIT(H66172)', '.........GC', 'CITY OF N Y', 'GC 1170386', 'G. C', 'CO0OWNER', '(CHECKED)', 'C.C', '23392 1159774', 'DEMO {', 'RA', 'T. 31132', '....GC', 'RLA-787', 'TRACK #1390', 'D C', 'G.CONTR.', 'DEMO  CONT', '1GC', 'CC', 'demo G.C.', 'TRACK. #1390', 'M.F.S.P.C.', '...DEMO', 'DEMO G C', '13328', 'GEN  CONT', 'GC 1221073', "GC;'", 'DEMO 1341946', '11234', 'G.C.,', '.....GC', 'LIC.133668259 1', '?', '0WNER', 'C10892', 'GEN..CONT']
    mapping3 = [None, 'DEMO', None, 'DEM. CONTR', None, 'G/C', 'CGWC', None, 'X S', None, 'G.G', 'LESSEE', 'GC', None, 'OWNER', 'GC', None, None, 'LS ', 'GC', 'gen.cont.', 'G.C TK', 'PE', 'RLA ', 'OWNER', 'RLA ', 'G C', 'X', 'G. C.', 'R.L.A', 'GC', 'WC', 'LEESEE', 'GEN.CONT.', 'SIGN.HANGER', 'DEMO', None,None, 'P.L.L.C', 'DEMO', 'G.C', 'L A', 'G.C ', None, 'OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC', None, 'TRACK', 'EXPED.R', 'PLLC ', 'G.C', None, None, 'DEM. CONTR,', 'EXPEDIT', 'GC', None, 'GC', 'G.C', 'CO0OWNER', None, 'C.C', None, 'DEMO', 'RA', None, 'GC', 'RLA', None, 'D C', 'G.CONTR.', 'DEMO  CONT', 'GC', 'CC', 'demo G.C.', None, 'M.F.S.P.C.', 'DEMO', 'DEMO G C', None, 'GEN  CONT', 'GC ', "GC ", 'DEMO ', None, 'G.C.', 'GC', 'LIC', None, '0WNER',None, 'GEN.CONT']

    outlier4 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
    mapping4 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

    outliers = outlier1+ outlier2+ outlier3+ outlier4
    mappings = mapping1+ mapping2+ mapping3+ mapping4
       
    for col in data_cols:
        
        df[col] = df[col].replace(outliers, mappings)
        
        '''
        if file != 'rbx6-tga4.tsv.gz':
            light_outliers = findDateOutliers(df, ds, col)

            for item in light_outliers:

                df[col] = df[col].replace(item, None)
        
        
        if file != 'hg8x-zxpr.tsv.gz' and col in name_cols:
            col_clusters = getClusters(df, ds, col)
            updateUsingClusters(df, ds, col, col_clusters, True)
         '''
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()
        df[col] = df[col].replace(['N/A', 'NA','NONE', 'nan', 'NAN', 'NaN'], ["", "", "", "", "", ""])
        df[col] = df[col].str.replace(".", "", regex=False)
        df[col] = df[col].str.replace(",", "", regex=False)
        df[col] = df[col].str.replace(";", "", regex=False)
        df[col] = df[col].str.replace("!", "", regex=False)
        df[col] = df[col].str.replace("?", "", regex=False)
        df[col] = df[col].str.replace("_", "", regex=False)
        df[col] = df[col].str.replace("/", "", regex=False)
        df[col] = df[col].str.replace("\\", "", regex=False)
        
    return data_cols

In [67]:
def saveDf(df, datafile):
    outputpath = datafile[2:11]+'_cleaned_data_improved.csv'
    df.to_csv(outputpath,sep=',',index=False,header=True)

In [68]:
def dataCleanOnDataset(file):
    
    print('working on file: ', file)
    datafile, df = readData(file)
    
    cleaned_cols = []
    
    print("fixing Column Names.......")
    col_rename_dict = fixColumnNames(df)
    #print("Column renaming dictionary:")
    #print(col_rename_dict)
    
    df = df.rename(columns=col_rename_dict)

    print('fixing ID Number Columns......')
    cleaned_cols += fix_ID_Number_Column(df)
    
    print('fixing Binary Columns......')
    cleaned_cols += fix_Binary_Column(df)
    
    print('fixing Monetary Columns......')
    cleaned_cols += fix_Monetary_Column(df)
    
    print('fixing Numerical Columns......')
    cleaned_cols += fix_Numerical_Column(df)
    
    print('fixing Datetime Columns......')
    cleaned_cols += fix_datetime_Column(df)
    
    print('fixing City And Name Column......')
    cleaned_cols += fix_city_and_name_Column(df, file)
    
    saveDf(df, datafile)
    
    return cleaned_cols, datafile, df, col_rename_dict

In [69]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [70]:
def precision_recall(cleaned_columns, datafile, df, sample_size, col_rename_dict):
    df2  = pd.read_csv(datafile, dtype='object', sep='\t')
    df2 = df2.drop_duplicates()
    df2 = df2.rename(columns=col_rename_dict)
    

    df_sample_data =  df2.sample(sample_size).copy()
    df_new_sample_data = df.loc[df_sample_data.index].copy()
    print('sample size: ',sample_size)
    
    print('total size: ',sample_size * len(cleaned_columns))
    print('======================\n\n')

    same = 0

    for col in cleaned_columns:
        print("column: ", col)
        print("Original,\t Cleaned\n")
        for i in range(sample_size):
            df_sample_data.iloc[i].index
            if df_new_sample_data[col].iloc[i] == df_sample_data[col].iloc[i]:
                print(df_sample_data[col].iloc[i], '\t',df_new_sample_data[col].iloc[i], '\t')
                same += 1
            else:
                print(df_sample_data[col].iloc[i], '\t', df_new_sample_data[col].iloc[i], '\t*')

        print('*   ', same, ' same records   *\n')
        same = 0

        print('======================\n\n')

# DOB Permit Issuance

In [71]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[0])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  ipu4-2q9a.tsv.gz

KeyboardInterrupt:

In [ ]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

In [ ]:
tp = 100
fp = 7

fn = 0
tn = 500 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [ ]:
recall(tp,fn)

# DOB Cellular Antenna Filings

In [72]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[1])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  iz2q-9x8d.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......

C:\Users\Rlron\Anaconda2\envs\pyspark\lib\site-packages\pandas\core\missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

fixing City And Name Column......
['Fee Status', 'House Number', "Owner's Last Name", "Owner's Business Name", "Owner's  House Number", 'Borough', "Applicant's First Name", 'Total Est Fee', 'Initial Cost', 'Latest Action Date', "Owner's First Name", "Owner's  Phone Number", 'Applicant License Number', 'Bin Number', 'D O B Run Date', 'First Permit  Date', 'City', 'Street Name', 'Job Number', 'Doc Number', 'Pre- Filing Date', "Applicant's Last Name"]

In [73]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  1100
======================


column:  Fee Status
Original,	 Cleaned

STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
nan 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
nan 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
*    0  same records   *

======================


column:  House Number
Original,	 Cleaned

300          	 300
177          	 177
767          	 767
220          	 220
537          	 537
355          	 355
377          	 377
10           	 10
109-05       	 109-05
531          	 531
460          	 460
46-01        	 46-01
36           	 36
82-40        	 82-40
87           	 87
42-05        	 42-05
5906         	 5906
180-05       	 180-05
423          	 423
262          	 262
 OR OCCUPANCY.                                                      |01/16/2015 00:00:00 	  OR OCCUPANCY.                                                      |01/16/2015 00:00:00
408          	 408
331          	 331
600          	 600
280          	 280
356          	 356
405          	 405
730          	 730
913          	 913
nan 	  	*
558          	 558
130          	 130
652          	 652
70           	 70
121          	 121
290          	 290
97           	 97
205-01       	 205-01
495          	 495
4515         	 4515
1534         	 1534
38-20        	 38-20
84-04        	 84-04
54-30        	 54-30
160          	 160
23-57        	 23-57
236          	 236
715          	 715
108          	 108
97           	 97
*    49  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

BAILEY                         	 BAILEY
CIAGLIA                        	 CIAGLIA
BISHOP                         	 BISHOP
BISHOP                         	 BISHOP
KALLIF                         	 KALLIF
PLATT                          	 PLATT
CIAGLIA                        	 CIAGLIA
MCCARTHY                       	 MCCARTHY
CIAGLIA                        	 CIAGLIA
EISENBAUM                      	 EISENBAUM
HART                           	 HART
CHENG                          	 CHENG
ROSEN                          	 ROSEN
SWEET                          	 SWEET
CIAGLIA                        	 CIAGLIA
POLLOCK                        	 POLLOCK
LACUGNA                        	 LACUGNA
COAKLEY                        	 COAKLEY
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
nan 	  	*
BISHOP                         	 BISHOP
MERRIMAN                       	 MERRIMAN
BAILEY                         	 BAILEY
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
WOOLBERT                       	 WOOLBERT
BRENNAN                        	 BRENNAN
JOVEL                          	 JOVEL
nan 	  	*
CIAGLIA                        	 CIAGLIA
BISHOP                         	 BISHOP
MAGISTRO                       	 MAGISTRO
BAILEY                         	 BAILEY
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
ANZALONE                       	 ANZALONE
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
GROOM                          	 GROOM
AHMED                          	 AHMED
GUIND                          	 GUIND
BAILEY                         	 BAILEY
PINKUS                         	 PINKUS
CHIOU                          	 CHIOU
CIAGLIA                        	 CIAGLIA
SURIANO                        	 SURIANO
SIMON                          	 SIMON
*    48  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

VENDOR, AS AGENT FOR TENANT      	 VENDOR AS AGENT FOR TENANT      	*
ST. JOSEPH PATRON CHURCH         	 ST JOSEPH PATRON CHURCH         	*
BOSTON PROPERTIES                	 BOSTON PROPERTIES
AMBER CHARTER SCHOOL             	 AMBER CHARTER SCHOOL
LOUCO LLC                        	 LOUCO LLC
355 EAST 4TH STREET ASSOCIATES   	 355 EAST 4TH STREET ASSOCIATES
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
ABINGTON HOLDING                 	 ABINGTON HOLDING
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
DYKER ASSOCIATES C/O DEVEL. RLTY 	 DYKER ASSOCIATES CO DEVEL RLTY 	*
460 WEST 34TH ASSOCIATES         	 460 WEST 34TH ASSOCIATES
LAUREL HILL LLC                  	 LAUREL HILL LLC
34-36 WEST 38TH STREET LLC       	 34-36 WEST 38TH STREET LLC
AUSTICORP INC.                   	 AUSTICORP INC                   	*
STELLAR MANAGEMENT               	 STELLAR MANAGEMENT
WOODSIDE MANOR INC.              	 WOODSIDE MANOR INC              	*
SMARTLINK LLC AGENT FOR NEW CING 	 SMARTLINK LLC AGENT FOR NEW CING
TREASURE ISLAND STORAGE          	 TREASURE ISLAND STORAGE
T-MOBILE                         	 T-MOBILE
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
nan 	  	*
T-MOBILE                         	 T-MOBILE
SL GREEN REALTY CORP             	 SL GREEN REALTY CORP
AT&T MOBILITY                    	 AT&T MOBILITY
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL AS AGENT FOR TENANT     	*
SHORE 2 SHORE, AGENT FOR TENANT  	 SHORE 2 SHORE AGENT FOR TENANT  	*
LUCIO A JOVEL                    	 LUCIO A JOVEL
nan 	  	*
VOLTAS REAL ESTATE LLC           	 VOLTAS REAL ESTATE LLC
T-MOBILE                         	 T-MOBILE
LAUD REALTY CORP                 	 LAUD REALTY CORP
AT&T MOBILITY                    	 AT&T MOBILITY
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
YUNG'S REALTY INC.               	 YUNG'S REALTY INC               	*
AMDON EQUITIES III, LLC          	 AMDON EQUITIES III LLC          	*
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
 S&B REALTY                      	  S&B REALTY
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
NYCHA                            	 NYCHA
AKM K. AHMED                     	 AKM K AHMED                     	*
LIBERT DEPARTMENT STORES II, INC 	 LIBERT DEPARTMENT STORES II INC 	*
AT&T MOBILITY                    	 AT&T MOBILITY
SABINA BEST REALTY               	 SABINA BEST REALTY
LCT ASSOCIATES                   	 LCT ASSOCIATES
T-MOBILE                         	 T-MOBILE
EDISON PROPERTIES, LLC           	 EDISON PROPERTIES LLC           	*
SHS HYLAN LLC                    	 SHS HYLAN LLC
*    36  same records   *

======================


column:  Owner's  House Number
Original,	 Cleaned

ONE          	  	*
185          	 185
599          	 599
216          	 216
3260         	 3260
1324         	 1324
4            	 4
950          	 950
4            	 4
1224         	 1224
450          	 450
147-25       	 147-25
200          	 200
82-40        	 82-40
156          	 156
1388         	 1388
14           	 14
109-09       	 109-09
4            	 4
4            	 4
nan 	  	*
4            	 4
420          	 420
1            	 1
4            	 4
4            	 4
300          	 300
5550         	 5550
80-15        	 80-15
nan 	  	*
110          	 110
4            	 4
3200         	 3200
1            	 1
4            	 4
4            	 4
PO BOX       	  	*
863          	 863
4            	 4
160          	 160
4            	 4
90           	 90
84-04        	 84-04
54-30        	 54-30
ONE          	  	*
23-57        	 23-57
236          	 236
4            	 4
100          	 100
651          	 651
*    45  same records   *

======================


column:  Borough
Original,	 Cleaned

1 	 1
3 	 3
1 	 1
1 	 1
3 	 3
1 	 1
1 	 1
1 	 1
4 	 4
3 	 3
1 	 1
4 	 4
1 	 1
4 	 4
1 	 1
4 	 4
4 	 4
4 	 4
1 	 1
3 	 3
 EGRESS 	  EGRESS
3 	 3
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
3 	 3
3 	 3
nan 	  	*
1 	 1
3 	 3
2 	  	*
5 	 5
1 	 1
3 	 3
1 	 1
4 	 4
3 	 3
3 	 3
3 	 3
4 	 4
4 	 4
4 	 4
1 	 1
4 	 4
1 	 1
3 	 3
1 	 1
5 	 5
*    48  same records   *

======================


column:  Applicant's First Name
Original,	 Cleaned

CHAD            	 CHAD
JOHN            	 JOHN
JOHN            	 JOHN
JOHN            	 JOHN
JAMES           	 JAMES
PETER           	 PETER
JOHN            	 JOHN
CHRIS           	 CHRIS
JOHN            	 JOHN
CHAD            	 CHAD
JAMES           	 JAMES
PETER           	 PETER
CHARLES         	 CHARLES
ANTONIO         	 ANTONIO
GREGORY         	 GREGORY
JAMES           	 JAMES
FRANK           	 FRANK
PETER           	 PETER
MICHAEL         	 MICHAEL
NICHOLAS        	 NICHOLAS
nan 	  	*
PETER           	 PETER
JOHN            	 JOHN
PHILIP          	 PHILIP
JOHN            	 JOHN
GREGORY         	 GREGORY
NICHOLAS        	 NICHOLAS
CHARLES         	 CHARLES
ROBERT          	 ROBERT
nan 	  	*
JOHN            	 JOHN
PETER           	 PETER
STEPHEN         	 STEPHEN
STEPHEN         	 STEPHEN
JOHN            	 JOHN
NICHOLAS        	 NICHOLAS
JOHN            	 JOHN
JAMES           	 JAMES
PETER           	 PETER
JOHN            	 JOHN
NICHOLAS        	 NICHOLAS
JOHN            	 JOHN
STEPHEN         	 STEPHEN
ROBERT          	 ROBERT
PHILLIP         	 PHILLIP
NEIL            	 NEIL
ANTONIO         	 ANTONIO
MICHAEL         	 MICHAEL
NICHOLAS        	 NICHOLAS
CHAD            	 CHAD
*    48  same records   *

======================


column:  Total Est Fee
Original,	 Cleaned

461.6 	 461.6 	*
286.5 	 286.5 	*
389.5 	 389.5 	*
389.5 	 389.5 	*
379.2 	 379.2 	*
647 	 647.0 	*
286.5 	 286.5 	*
389.5 	 389.5 	*
286.5 	 286.5 	*
296.8 	 296.8 	*
276.2 	 276.2 	*
338 	 338.0 	*
853 	 853.0 	*
441 	 441.0 	*
389.5 	 389.5 	*
471.9 	 471.9 	*
894.2 	 894.2 	*
389.5 	 389.5 	*
286.5 	 286.5 	*
235 	 235.0 	*
nan 	 nan 	*
441 	 441.0 	*
389.5 	 389.5 	*
195 	 195.0 	*
338 	 338.0 	*
338 	 338.0 	*
338 	 338.0 	*
286.5 	 286.5 	*
513.1 	 513.1 	*
nan 	 nan 	*
286.5 	 286.5 	*
441 	 441.0 	*
523.4 	 523.4 	*
195 	 195.0 	*
235 	 235.0 	*
338 	 338.0 	*
286.5 	 286.5 	*
1182.6 	 1182.6 	*
286.5 	 286.5 	*
286.5 	 286.5 	*
338 	 338.0 	*
976.6 	 976.6 	*
595.5 	 595.5 	*
976.6 	 976.6 	*
195 	 195.0 	*
348.3 	 348.3 	*
410.1 	 410.1 	*
317.4 	 317.4 	*
389.5 	 389.5 	*
286.5 	 286.5 	*
*    0  same records   *

======================


column:  Initial Cost
Original,	 Cleaned

27000 	 27000.0 	*
10000 	 10000.0 	*
20000 	 20000.0 	*
20000 	 20000.0 	*
19000 	 19000.0 	*
45000 	 45000.0 	*
10000 	 10000.0 	*
20000 	 20000.0 	*
10000 	 10000.0 	*
10900 	 10900.0 	*
8600 	 8600.0 	*
15000 	 15000.0 	*
65000 	 65000.0 	*
25000 	 25000.0 	*
20000 	 20000.0 	*
27200 	 27200.0 	*
69000 	 69000.0 	*
19500 	 19500.0 	*
9600 	 9600.0 	*
5000 	 5000.0 	*
nan 	 nan 	*
25000 	 25000.0 	*
20000 	 20000.0 	*
2000 	 2000.0 	*
15000 	 15000.0 	*
15000 	 15000.0 	*
15000 	 15000.0 	*
10000 	 10000.0 	*
32000 	 32000.0 	*
nan 	 nan 	*
10000 	 10000.0 	*
25000 	 25000.0 	*
32600 	 32600.0 	*
2200 	 2200.0 	*
5000 	 5000.0 	*
15000 	 15000.0 	*
10000 	 10000.0 	*
97000 	 97000.0 	*
10000 	 10000.0 	*
10000 	 10000.0 	*
15000 	 15000.0 	*
76800 	 76800.0 	*
40000 	 40000.0 	*
77000 	 77000.0 	*
2000 	 2000.0 	*
15200 	 15200.0 	*
21300 	 21300.0 	*
12100 	 12100.0 	*
20000 	 20000.0 	*
10000 	 10000.0 	*
*    0  same records   *

======================


column:  Latest Action Date
Original,	 Cleaned

02/28/2017 00:00:00 	 2017-02-28 00:00:00 	*
05/21/2015 00:00:00 	 2015-05-21 00:00:00 	*
06/26/2015 00:00:00 	 2015-06-26 00:00:00 	*
07/28/2015 00:00:00 	 2015-07-28 00:00:00 	*
03/25/2014 00:00:00 	 2014-03-25 00:00:00 	*
10/29/2015 00:00:00 	 2015-10-29 00:00:00 	*
11/09/2015 00:00:00 	 2015-11-09 00:00:00 	*
10/01/2013 00:00:00 	 2013-10-01 00:00:00 	*
10/26/2016 00:00:00 	 2016-10-26 00:00:00 	*
02/16/2016 00:00:00 	 2016-02-16 00:00:00 	*
06/18/2015 00:00:00 	 2015-06-18 00:00:00 	*
08/05/2015 00:00:00 	 2015-08-05 00:00:00 	*
06/13/2013 00:00:00 	 2013-06-13 00:00:00 	*
08/19/2014 00:00:00 	 2014-08-19 00:00:00 	*
08/21/2015 00:00:00 	 2015-08-21 00:00:00 	*
10/20/2015 00:00:00 	 2015-10-20 00:00:00 	*
10/15/2014 00:00:00 	 2014-10-15 00:00:00 	*
03/20/2015 00:00:00 	 2015-03-20 00:00:00 	*
01/06/2017 00:00:00 	 2017-01-06 00:00:00 	*
11/14/2015 00:00:00 	 2015-11-14 00:00:00 	*
nan 	 2016-08-31 00:00:00 	*
10/21/2015 00:00:00 	 2015-10-21 00:00:00 	*
01/05/2015 00:00:00 	 2015-01-05 00:00:00 	*
08/18/2015 00:00:00 	 2015-08-18 00:00:00 	*
08/11/2015 00:00:00 	 2015-08-11 00:00:00 	*
10/14/2015 00:00:00 	 2015-10-14 00:00:00 	*
03/13/2017 00:00:00 	 2017-03-13 00:00:00 	*
04/03/2017 00:00:00 	 2017-04-03 00:00:00 	*
07/27/2015 00:00:00 	 2015-07-27 00:00:00 	*
nan 	 2016-09-21 00:00:00 	*
09/20/2016 00:00:00 	 2016-09-20 00:00:00 	*
09/18/2015 00:00:00 	 2015-09-18 00:00:00 	*
07/31/2013 00:00:00 	 2013-07-31 00:00:00 	*
06/22/2015 00:00:00 	 2015-06-22 00:00:00 	*
12/08/2015 00:00:00 	 2015-12-08 00:00:00 	*
06/29/2015 00:00:00 	 2015-06-29 00:00:00 	*
11/16/2015 00:00:00 	 2015-11-16 00:00:00 	*
06/24/2015 00:00:00 	 2015-06-24 00:00:00 	*
09/25/2015 00:00:00 	 2015-09-25 00:00:00 	*
12/02/2015 00:00:00 	 2015-12-02 00:00:00 	*
11/12/2015 00:00:00 	 2015-11-12 00:00:00 	*
05/03/2013 00:00:00 	 2013-05-03 00:00:00 	*
12/15/2017 00:00:00 	 2017-12-15 00:00:00 	*
02/14/2014 00:00:00 	 2014-02-14 00:00:00 	*
05/27/2016 00:00:00 	 2016-05-27 00:00:00 	*
05/20/2016 00:00:00 	 2016-05-20 00:00:00 	*
08/26/2016 00:00:00 	 2016-08-26 00:00:00 	*
05/22/2017 00:00:00 	 2017-05-22 00:00:00 	*
05/11/2017 00:00:00 	 2017-05-11 00:00:00 	*
06/10/2015 00:00:00 	 2015-06-10 00:00:00 	*
*    0  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

GREGG           	 GREGG
ROBERT          	 ROBERT
MARK            	 MARK
MARK            	 MARK
TED             	 TED
GERALD          	 GERALD
ROBERT          	 ROBERT
DAN             	 DAN
ROBERT          	 ROBERT
WAYNE           	 WAYNE
EDWARD          	 EDWARD
SHOW LAIN       	 SHOW LAIN
DAVID           	 DAVID
JOE             	 JOE
ROBERT          	 ROBERT
ZEV             	 ZEV
JAMES           	 JAMES
JAMES           	 JAMES
ROBERT          	 ROBERT
ROBERT          	 ROBERT
nan 	  	*
MARK            	 MARK
ROGER           	 ROGER
GREGG           	 GREGG
ROBERT          	 ROBERT
ROBERT          	 ROBERT
CHRIS           	 CHRIS
VICTORIA        	 VICTORIA
LUCIO           	 LUCIO
nan 	  	*
ROBERT          	 ROBERT
MARK            	 MARK
STEVE           	 STEVE
GREGG           	 GREGG
ROBERT          	 ROBERT
ROBERT          	 ROBERT
ROBERT          	 ROBERT
DONALD          	 DONALD
ROBERT          	 ROBERT
ROBERT          	 ROBERT
ROBERT          	 ROBERT
SCOTT           	 SCOTT
AKM             	 AKM
ALBERT          	 ALBERT
GREGG           	 GREGG
GARY            	 GARY
SCOTT           	 SCOTT
ROBERT          	 ROBERT
PASQUALE        	 PASQUALE
NEIL            	 NEIL
*    48  same records   *

======================


column:  Owner's  Phone Number
Original,	 Cleaned

9144389326 	 9144389326
9733974814 	 9733974814
9738988589 	 9738988589
9738988589 	 9738988589
5168059180 	 5168059180
9174530716 	 9174530716
9733974814 	 9733974814
2127595000 	 2127595000
9733974814 	 9733974814
8605610121 	 8605610121
2125636252 	 2125636252
7184608020 	 7184608020
2128230850 	 2128230850
5165678478 	 5165678478
9733974814 	 9733974814
7183390500 	 7183390500
8888285465 	 8888285465
7185096543 	 7185096543
9733974800 	 9733974800
9733974814 	 9733974814
nan 	  	*
9738971375 	 9738971375
2122161664 	 2122161664
9144389326 	 9144389326
9733974814 	 9733974814
9733974814 	 9733974814
2018359008 	 2018359008
5165572398 	 5165572398
7188460300 	 7188460300
nan 	  	*
9733974814 	 9733974814
9738971375 	 9738971375
7816528499 	 7816528499
9142633800 	 9142633800
9733974814 	 9733974814
9733974814 	 9733974814
9733974814 	 9733974814
5165106800 	 5165106800
9733974814 	 9733974814
7186245195 	 7186245195
9733974814 	 9733974814
2123065160 	 2123065160
9172855387 	 9172855387
7184175858 	 7184175858
9144389326 	 9144389326
9175770824 	 9175770824
2122138130 	 2122138130
2017573053 	 2017573053
9738492613 	 9738492613
7186988000 	 7186988000
*    48  same records   *

======================


column:  Applicant License Number
Original,	 Cleaned

093111 	 093111
063658 	 063658
063658 	 063658
063658 	 063658
078939 	 078939
079612 	 079612
063658 	 063658
080438 	 080438
063658 	 063658
093111 	 093111
078939 	 078939
079612 	 079612
087427 	 087427
071249 	 071249
079769 	 079769
078939 	 078939
086873 	 086873
064690 	 064690
075700 	 075700
090133 	 090133
nan 	  	*
064690 	 064690
063658 	 063658
077087 	 077087
063658 	 063658
079769 	 079769
090133 	 090133
028321 	 028321
075384 	 075384
nan 	  	*
063658 	 063658
064690 	 064690
086064 	 086064
086064 	 086064
063658 	 063658
090133 	 090133
063658 	 063658
078939 	 078939
079612 	 079612
063658 	 063658
090133 	 090133
063658 	 063658
086064 	 086064
075384 	 075384
077087 	 077087
026944 	 026944
071249 	 071249
075700 	 075700
090133 	 090133
093111 	 093111
*    48  same records   *

======================


column:  Bin Number
Original,	 Cleaned

1063499 	 1063499
3072916 	 3072916
1036082 	 1036082
1052428 	 1052428
3082701 	 3082701
1004419 	 1004419
1018161 	 1018161
1010142 	 1010142
4249509 	 4249509
3153220 	 3153220
1012843 	 1012843
4056316 	 4056316
1015978 	 1015978
4079715 	 4079715
1061772 	 1061772
4002131 	 4002131
4083715 	 4083715
4220271 	 4220271
1081691 	 1081691
3244449 	 3244449
nan 	  	*
3000371 	 3000371
1035352 	 1035352
1062302 	 1062302
1065199 	 1065199
1079813 	 1079813
1036476 	 1036476
3102073 	 3102073
3094952 	 3094952
nan 	  	*
1007377 	 1007377
3067815 	 3067815
2021837 	 2021837
5046122 	 5046122
1005882 	 1005882
3101025 	 3101025
1005312 	 1005312
4135513 	 4135513
3336261 	 3336261
3136685 	 3136685
3213513 	 3213513
4302129 	 4302129
4187270 	 4187270
4085393 	 4085393
1018080 	 1018080
4535421 	 4535421
1015687 	 1015687
3379016 	 3379016
1081588 	 1081588
5110105 	 5110105
*    48  same records   *

======================


column:  D O B Run Date
Original,	 Cleaned

03/01/2017 00:00:00 	 2017-03-01 00:00:00 	*
05/22/2015 00:00:00 	 2015-05-22 00:00:00 	*
06/27/2015 00:00:00 	 2015-06-27 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
03/26/2014 00:00:00 	 2014-03-26 00:00:00 	*
10/30/2015 00:00:00 	 2015-10-30 00:00:00 	*
11/10/2015 00:00:00 	 2015-11-10 00:00:00 	*
10/02/2013 00:00:00 	 2013-10-02 00:00:00 	*
10/27/2016 00:00:00 	 2016-10-27 00:00:00 	*
02/17/2016 00:00:00 	 2016-02-17 00:00:00 	*
06/19/2015 00:00:00 	 2015-06-19 00:00:00 	*
08/06/2015 00:00:00 	 2015-08-06 00:00:00 	*
06/14/2013 00:00:00 	 2013-06-14 00:00:00 	*
08/20/2014 00:00:00 	 2014-08-20 00:00:00 	*
08/22/2015 00:00:00 	 2015-08-22 00:00:00 	*
10/21/2015 00:00:00 	 2015-10-21 00:00:00 	*
10/16/2014 00:00:00 	 2014-10-16 00:00:00 	*
03/21/2015 00:00:00 	 2015-03-21 00:00:00 	*
01/07/2017 00:00:00 	 2017-01-07 00:00:00 	*
11/15/2015 00:00:00 	 2015-11-15 00:00:00 	*
nan 	 2016-09-01 00:00:00 	*
10/22/2015 00:00:00 	 2015-10-22 00:00:00 	*
01/06/2015 00:00:00 	 2015-01-06 00:00:00 	*
08/19/2015 00:00:00 	 2015-08-19 00:00:00 	*
08/12/2015 00:00:00 	 2015-08-12 00:00:00 	*
10/15/2015 00:00:00 	 2015-10-15 00:00:00 	*
03/14/2017 00:00:00 	 2017-03-14 00:00:00 	*
04/04/2017 00:00:00 	 2017-04-04 00:00:00 	*
07/28/2015 00:00:00 	 2015-07-28 00:00:00 	*
nan 	 2016-09-22 00:00:00 	*

In [ ]:
tp = 100
fp = 0

fn = 13
tn = 1350 - tp - fp - fn

In [28]:
precision(tp, fp)

NameError: name 'tp' is not defined

In [29]:
recall(tp,fn)

NameError: name 'tp' is not defined

# Open Restaurant Applications

In [30]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[2])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  pitm-atqc.tsv.gz
fixing Column Names.......

TypeError: str.replace() takes no keyword arguments

In [ ]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

In [ ]:
tp = 442
fp = 128

fn = 39
tn = 1900 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [31]:
recall(tp,fn)

NameError: name 'tp' is not defined

# DOB NOW: Safety – Facades Compliance Filings

In [32]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[3])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  xubg-57si.tsv.gz
fixing Column Names.......

TypeError: str.replace() takes no keyword arguments

In [ ]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

In [ ]:
tp = 273
fp = 50

fn = 86
tn = 1150 - tp - fp - fn

In [ ]:
precision(tp, fp)

In [ ]:
recall(tp,fn)