# Data Profiling and Cleaning

We profiled and cleaned the NYC opendata `Historical_DOB_Permit` data using pandas and openclean

Run all the cells in order to profile and clean the data

Robert Ronan, Sheng Tong, Jerry Lee

In [1]:
import openclean
import glob
import pandas as pd
import numpy as np
import re

# Data Downloading

Download the data using openClean

In [2]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

dataset = Socrata().dataset('bty7-2jhb')
datafile = './bty7-2jhb.tsv.gz'

if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)


fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

Using 'Historical DOB Permit Issuance' in file ./bty7-2jhb.tsv.gz of size 321.34 MB

# Data Loading

Load the data into pandas and openClean dataset object

In [3]:
import pandas as pd
from openclean.pipeline import stream

df  = pd.read_csv(datafile, dtype='object', sep='\t')
ds = stream(datafile)

In [4]:
np.__version__

'1.21.4'

In [5]:
pd.__version__

'1.3.4'

In [6]:
import glob

In [7]:
glob.glob("*")

['bty7-2jhb.tsv.gz',
 'cleaned_data.csv',
 'dm9a-ab7w.tsv.gz',
 'DOB_Job_Cleaning.ipynb',
 'DOB_NOW_BUILD.ipynb',
 'DOB_NOW_Electrical.ipynb',
 'Historical_DOB_Permit.ipynb',
 'ic3t-wcy2.tsv.gz',
 'README.md',
 'w9ak-ipjd.tsv.gz']

### Get some basic info about the dataset columns

In [8]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2428526 entries, 0 to 2428525
Data columns (total 60 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   BOROUGH                           2428526 non-null  object
 1   BIN                               2428526 non-null  object
 2   Number                            2428522 non-null  object
 3   Street                            2428522 non-null  object
 4   Job #                             2428526 non-null  object
 5   Job doc. #                        2428526 non-null  object
 6   Job Type                          2428526 non-null  object
 7   Self_Cert                         900685 non-null   object
 8   Block                             2428028 non-null  object
 9   Lot                               2428019 non-null  object
 10  Community Board                   2425674 non-null  object
 11  Postcode                          2427476 non-null  object
 12  Bldg Type                         2374247 non-null  object
 13  Residential                       772772 non-null   object
 14  Special District 1                186592 non-null   object
 15  Special District 2                2639 non-null     object
 16  Work Type                         1974557 non-null  object
 17  Permit Status                     2419621 non-null  object
 18  Filing Status                     2428526 non-null  object
 19  Permit Type                       2428525 non-null  object
 20  Permit Sequence #                 2428526 non-null  object
 21  Permit Subtype                    1418233 non-null  object
 22  Oil Gas                           31034 non-null    object
 23  Site Fill                         2260823 non-null  object
 24  Filing Date                       2428526 non-null  object
 25  Issuance Date                     2428526 non-null  object
 26  Expiration Date                   2428522 non-null  object
 27  Job Start Date                    2428523 non-null  object
 28  Permittee's First Name            2428455 non-null  object
 29  Permittee's Last Name             2428438 non-null  object
 30  Permittee's Business Name         2396876 non-null  object
 31  Permittee's Phone #               2428222 non-null  object
 32  Permittee's License Type          2173574 non-null  object
 33  Permittee's License #             2207328 non-null  object
 34  Act as Superintendent             1595226 non-null  object
 35  Permittee's Other Title           268182 non-null   object
 36  HIC License                       26804 non-null    object
 37  Site Safety Mgr's First Name      10237 non-null    object
 38  Site Safety Mgr's Last Name       10261 non-null    object
 39  Site Safety Mgr Business Name     7861 non-null     object
 40  Superintendent First & Last Name  1602999 non-null  object
 41  Superintendent Business Name      1602814 non-null  object
 42  Owner's Business Type             2267531 non-null  object
 43  Non-Profit                        157298 non-null   object
 44  Owner's Business Name             1759199 non-null  object
 45  Owner's First Name                2270363 non-null  object
 46  Owner's Last Name                 2270674 non-null  object
 47  Owner's House #                   2270989 non-null  object
 48  Owner's House Street Name         2270839 non-null  object
 49  Owner’s House City                2271356 non-null  object
 50  Owner’s House State               2271393 non-null  object
 51  Owner’s House Zip Code            2266428 non-null  object
 52  Owner's Phone #                   2226547 non-null  object
 53  DOBRunDate                        2428526 non-null  object
 54  Latitude                          2419010 non-null  object
 55  Longitude                         2419010 non-null  object
 56  Council District                  2419010 non-null  object
 57  Census Tract                      2419010 non-null  object
 58  BBL                               2398936 non-null  object
 59  NTA                               2419554 non-null  object
dtypes: object(60)
memory usage: 1.1+ GB

If any rows are complete duplicates, drop them

In [9]:
df = df.drop_duplicates()

Take an a look at some of the rows to get an idea of what the datset looks like

In [10]:
df

,BOROUGH,BIN,Number,Street,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,...,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,Latitude,Longitude,Council District,Census Tract,BBL,NTA
0,BRONX,2118801,2960,WEBSTER AVENUE,201088492,4,NB,NaN,3274,4,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.86749,-73.883225,11,425,2032740001,Norwood ...
1,BRONX,2096812,100,DEKRUIF PLACE,200716298,2,A2,NaN,5141,120,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.875769,-73.828899,12,46201,2051410120,Co-op City ...
2,BRONX,2008604,1898,HARRISON AVENUE,200974650,2,A2,NaN,2869,87,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.852603,-73.911461,14,243,2028690087,University Heights-Morris Heights ...
3,BRONX,2007652,1998,MORRIS AVENUE,200278118,2,A1,NaN,2807,15,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.851661,-73.906937,14,241,2028070015,Mount Hope ...
4,BRONX,2084155,565,WEST 235 STREET,201119173,2,A2,Y,5794,484,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.88572,-73.91027,11,297,2057940484,Spuyten Duyvil-Kingsbridge ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428521,STATEN ISLAND,5141909,200,LANDER AVENUE,500644699,1,NB,Y,1599,10,...,NY,10304,7189809327,2016-01-03T00:00:00,40.614117,-74.16564,50,29104,5015990010,New Springville-Bloomfield-Travis ...
2428522,STATEN ISLAND,5127569,26,DIAZ PLACE,500145256,1,NB,Y,4055,37,...,NY,10309,7183170679,2016-01-03T00:00:00,40.561562,-74.108193,50,12806,5040550037,Oakwood-Oakwood Beach ...
2428523,STATEN ISLAND,5046419,1055,TARGEE STREET,500301176,1,A2,Y,3171,1,...,NY,11101,7184728597,2016-01-03T00:00:00,40.60223,-74.091355,50,50,5031710001,Grasmere-Arrochar-Ft. Wadsworth ...
2428524,STATEN ISLAND,5043894,10,WHITE PLAINS AVENUE,500112326,1,A2,NaN,2968,30,...,NY,10305,7189815066,2016-01-03T00:00:00,40.614249,-74.075822,49,36,5029680033,Stapleton-Rosebank ...
2428525,STATEN ISLAND,5107273,501,BRIELLE AVENUE,500390301,1,DM,NaN,1955,1,...,NY,10038,NaN,2016-01-03T00:00:00,40.592224,-74.13628,50,27302,5019550001,New Springville-Bloomfield-Travis ...

In [11]:
#need 382 examples for sample

In [12]:
df_sample = df.sample(382).copy()

In [13]:
df_sample

,BOROUGH,BIN,Number,Street,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,...,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,Latitude,Longitude,Council District,Census Tract,BBL,NTA
1590526,MANHATTAN,1032679,251,WEST 81ST STREET,110247812,1,A2,Y,1229,8,...,NY,10530,9149972435,2016-01-03T00:00:00,40.785351,-73.979439,6,167,1012290008,Upper West Side ...
524120,BROOKLYN,3001939,280,CADMAN PLAZA WEST,300739324,1,A3,NaN,239,16,...,NY,11232,7186265654,2016-01-03T00:00:00,40.695657,-73.991006,33,502,3002390016,Brooklyn Heights-Cobble Hill ...
2176945,QUEENS,4190933,107-11,92 STREET,420051856,1,A2,Y,9159,72,...,NY,11417,7188433678,2016-01-03T00:00:00,40.678251,-73.845932,32,54,4091590072,Ozone Park ...
1132106,MANHATTAN,1038538,232,E 53 ST,120614200,1,A2,NaN,1326,35,...,NY,10022,2122073339,2016-01-03T00:00:00,40.757339,-73.968554,4,98,1013260035,Turtle Bay-East Midtown ...
2356636,STATEN ISLAND,5151844,700,FR CAPODANNO BLVD,520045040,3,NB,NaN,3833,100,...,NY,11368,7187606601,2016-01-03T00:00:00,40.578925,-74.078151,50,11201,5038330100,Old Town-Dongan Hills-South Beach ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154136,MANHATTAN,1030139,104,WEST 76 STREET,120756592,1,A2,NaN,1147,35,...,NY,10023,2125018814,2016-01-03T00:00:00,40.780204,-73.977414,6,161,1011470035,Upper West Side ...
101937,BRONX,2120464,1401,TELLER AVENUE,210025337,1,NB,NaN,2784,29,...,NY,10012,2125764124,2016-01-03T00:00:00,40.837152,-73.909577,16,225,2027840029,East Concourse-Concourse Village ...
975928,MANHATTAN,1076262,30,ROCKEFELLER PLAZA,120861647,1,A2,Y,1265,7501,...,NY,10111,2125888650,2016-01-03T00:00:00,40.758754,-73.978692,4,104,1012657501,Midtown-Midtown South ...
2134898,QUEENS,4180106,85-36,260 STREET,401744225,1,A2,NaN,8802,55,...,NY,11368,6464080741,2016-01-03T00:00:00,40.734656,-73.707339,23,157903,4088020055,Glen Oaks-Floral Park-New Hyde Park ...
2281691,STATEN ISLAND,5130100,59,MILLENNIUM LOOP,500602421,1,A1,Y,7040,162,...,NY,10309,7186082003,2016-01-03T00:00:00,40.54689,-74.21564,51,20801,5070400162,Rossville-Woodrow ...

## Describe columns in groups so they fit on screen

In [14]:
df[df.columns[:20]].describe()

,BOROUGH,BIN,Number,Street,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,Community Board,Postcode,Bldg Type,Residential,Special District 1,Special District 2,Work Type,Permit Status,Filing Status,Permit Type
count,2428524,2428524,2428520,2428520,2428524,2428524,2428524,900685,2428026,2428017,2425672,2427474,2374245,772772,186592,2639,1974555,2419619,2428524,2428523
unique,5,300024,28639,20201,1110544,12,6,1,13625,1718,140,227,2,1,82,14,13,4,2,8
top,MANHATTAN,1015862,1,BROADWAY,200718330,1,A2,Y,16,1,105,10022,2,YES,MID,LH-1A,OT,ISSUED,INITIAL,EW
freq,1008003,1957,18445,68853,57,2222894,1389185,900685,7200,289865,247167,65192,1786549,772772,46452,1481,636379,2384954,1851581,1029741

In [15]:
# Notes: 
# Special District, status, BOROUGH, bin, Job Number, block, lot can all be reused

In [16]:
df[df.columns[20:40]].describe()

,Permit Sequence #,Permit Subtype,Oil Gas,Site Fill,Filing Date,Issuance Date,Expiration Date,Job Start Date,Permittee's First Name,Permittee's Last Name,Permittee's Business Name,Permittee's Phone #,Permittee's License Type,Permittee's License #,Act as Superintendent,Permittee's Other Title,HIC License,Site Safety Mgr's First Name,Site Safety Mgr's Last Name,Site Safety Mgr Business Name
count,2428524,1418231,31034,2260821,2428524,2428524,2428520,2428521,2428453,2428436,2396874,2428220,2173572,2207326,1595225,268182,26804,10237,10261,7861
unique,26,15,2,5,6415,6409,9024,7475,35865,85623,351176,145121,11,46745,2,2795,5512,506,1235,1257
top,1,OT,OIL,NONE,2007-03-29T00:00:00,2007-03-29T00:00:00,2007-12-31T00:00:00,2008-06-27T00:00:00,JOHN,SINGH,ROCKLEDGE SCAFFOLD,2124816100,GENERAL CONTRACTOR,0,Y,GC,0,JOHN,WAIVER,TOTAL SAFETY CONSULTING
freq,1851595,585307,29215,1553657,998,994,18638,1376,112451,28500,7732,16556,1343650,78260,1586973,105964,845,503,376,507

In [17]:
# Dates can all be reused

In [18]:
df[df.columns[40:60]].describe()

,Superintendent First & Last Name,Superintendent Business Name,Owner's Business Type,Non-Profit,Owner's Business Name,Owner's First Name,Owner's Last Name,Owner's House #,Owner's House Street Name,Owner’s House City,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,Latitude,Longitude,Council District,Census Tract,BBL,NTA
count,1602998,1602813,2267529,157298,1759197,2270361,2270672,2270987,2270837,2271354,2271391,2266426,2226545,2428524,2419008,2419008,2419008,2419008,2398934,2419552
unique,309028,307996,14,1,378163,75825,147394,35113,119849,11545,57,6785,284544,1,200886,206784,51,1326,281136,195
top,ROCKLEDGE SCAFFOLD,ROCKLEDGE SCAFFOLD,CORPORATION,Y,NY SCHOOL CONSTRUCTION AUTHORITY,ROBERT,COHEN,100,BROADWAY,NEW YORK,NY,10038,7184728000,2016-01-03T00:00:00,40.754162,-73.976557,4,7,1009720001,Midtown-Midtown South ...
freq,6842,6842,791752,157298,19966,48131,15554,71273,45474,516017,2216175,83810,17604,2428524,1973,1973,302821,20042,3923,182177

In [19]:
# Owner's info and GIS info can be reimplemented

In [20]:
df.columns

Index(['BOROUGH', 'BIN', 'Number', 'Street', 'Job #', 'Job doc. #', 'Job Type',
       'Self_Cert', 'Block', 'Lot', 'Community Board', 'Postcode', 'Bldg Type',
       'Residential', 'Special District 1', 'Special District 2', 'Work Type',
       'Permit Status', 'Filing Status', 'Permit Type', 'Permit Sequence #',
       'Permit Subtype', 'Oil Gas', 'Site Fill', 'Filing Date',
       'Issuance Date', 'Expiration Date', 'Job Start Date',
       'Permittee's First Name', 'Permittee's Last Name',
       'Permittee's Business Name', 'Permittee's Phone #',
       'Permittee's License Type', 'Permittee's License #',
       'Act as Superintendent', 'Permittee's Other Title', 'HIC License',
       'Site Safety Mgr's First Name', 'Site Safety Mgr's Last Name',
       'Site Safety Mgr Business Name', 'Superintendent First & Last Name',
       'Superintendent Business Name', 'Owner's Business Type', 'Non-Profit',
       'Owner's Business Name', 'Owner's First Name', 'Owner's Last Name',
       'Owner's House #', 'Owner's House Street Name', 'Owner’s House City',
       'Owner’s House State', 'Owner’s House Zip Code', 'Owner's Phone #',
       'DOBRunDate', 'Latitude', 'Longitude', 'Council District',
       'Census Tract', 'BBL', 'NTA'],
      dtype='object')

## Renaming columns

In [21]:
rename_list = list(df.columns)
rename_dict = dict()

for i in rename_list:
    col_name = str(i)
    # https://stackoverflow.com/questions/2277352/split-a-string-at-uppercase-letters
    # Split on upper case to seperate cocnatenated words:
    if (not col_name.islower()) and (not col_name.isupper()):
        col_name = " ".join(re.sub("([A-Z])", r" \1", col_name).split())
    # Split on underscores and make Title Case 
    col_name = col_name.strip().replace("_", " ").lower().title().replace("’", "'").replace(".", "")
        
    col_name = col_name.replace("No", "Number")
    col_name = col_name.replace("#", "Number")
    
    rename_dict[i] = col_name

In [22]:
rename_dict

{'BOROUGH': 'Borough',
 'BIN': 'Bin',
 'Number': 'Number',
 'Street': 'Street',
 'Job #': 'Job Number',
 'Job doc. #': 'Job Doc Number',
 'Job Type': 'Job Type',
 'Self_Cert': 'Self  Cert',
 'Block': 'Block',
 'Lot': 'Lot',
 'Community Board': 'Community Board',
 'Postcode': 'Postcode',
 'Bldg Type': 'Bldg Type',
 'Residential': 'Residential',
 'Special District 1': 'Special District 1',
 'Special District 2': 'Special District 2',
 'Work Type': 'Work Type',
 'Permit Status': 'Permit Status',
 'Filing Status': 'Filing Status',
 'Permit Type': 'Permit Type',
 'Permit Sequence #': 'Permit Sequence Number',
 'Permit Subtype': 'Permit Subtype',
 'Oil Gas': 'Oil Gas',
 'Site Fill': 'Site Fill',
 'Filing Date': 'Filing Date',
 'Issuance Date': 'Issuance Date',
 'Expiration Date': 'Expiration Date',
 'Job Start Date': 'Job Start Date',
 "Permittee's First Name": "Permittee'S First Name",
 "Permittee's Last Name": "Permittee'S Last Name",
 "Permittee's Business Name": "Permittee'S Business Name",
 "Permittee's Phone #": "Permittee'S Phone Number",
 "Permittee's License Type": "Permittee'S License Type",
 "Permittee's License #": "Permittee'S License Number",
 'Act as Superintendent': 'Act As Superintendent',
 "Permittee's Other Title": "Permittee'S Other Title",
 'HIC License': 'H I C License',
 "Site Safety Mgr's First Name": "Site Safety Mgr'S First Name",
 "Site Safety Mgr's Last Name": "Site Safety Mgr'S Last Name",
 'Site Safety Mgr Business Name': 'Site Safety Mgr Business Name',
 'Superintendent First & Last Name': 'Superintendent First & Last Name',
 'Superintendent Business Name': 'Superintendent Business Name',
 "Owner's Business Type": "Owner'S Business Type",
 'Non-Profit': 'Numbern- Profit',
 "Owner's Business Name": "Owner'S Business Name",
 "Owner's First Name": "Owner'S First Name",
 "Owner's Last Name": "Owner'S Last Name",
 "Owner's House #": "Owner'S House Number",
 "Owner's House Street Name": "Owner'S House Street Name",
 'Owner’s House City': "Owner'S House City",
 'Owner’s House State': "Owner'S House State",
 'Owner’s House Zip Code': "Owner'S House Zip Code",
 "Owner's Phone #": "Owner'S Phone Number",
 'DOBRunDate': 'D O B Run Date',
 'Latitude': 'Latitude',
 'Longitude': 'Longitude',
 'Council District': 'Council District',
 'Census Tract': 'Census Tract',
 'BBL': 'Bbl',
 'NTA': 'Nta'}

In [23]:
df = df.rename(columns=rename_dict)

#### Method to get an idea of the top 10 values of a column

In [24]:
def show_vals(column_name, show_rows=10, df=df):
    print("Top {} {}:\n".format(show_rows, column_name))
    print(df[column_name].value_counts(dropna=False)[:show_rows])
    print()

### Examining Job Numbers

Some repition in the Job Number's, but nothing major. We will check some of the repeated Job Numbers to be sure they actually refer to the same jobs

In [25]:
df['Job Number'].value_counts(dropna=False)

200718330    57
103297521    54
102318804    50
101229840    48
401910438    47
             ..
302403254     1
301359330     1
120278074     1
102443660     1
500301176     1
Name: Job Number, Length: 1110544, dtype: int64

Nothing weird looking here

In [26]:
df['Job Number'].min()

'100030011'

In [27]:
df['Job Number'].max()

'577777776'

In [28]:
df.loc[df['Job Number'].str.startswith('0')]

Empty DataFrame
Columns: [Borough, Bin, Number, Street, Job Number, Job Doc Number, Job Type, Self  Cert, Block, Lot, Community Board, Postcode, Bldg Type, Residential, Special District 1, Special District 2, Work Type, Permit Status, Filing Status, Permit Type, Permit Sequence Number, Permit Subtype, Oil Gas, Site Fill, Filing Date, Issuance Date, Expiration Date, Job Start Date, Permittee'S First Name, Permittee'S Last Name, Permittee'S Business Name, Permittee'S Phone Number, Permittee'S License Type, Permittee'S License Number, Act As Superintendent, Permittee'S Other Title, H I C License, Site Safety Mgr'S First Name, Site Safety Mgr'S Last Name, Site Safety Mgr Business Name, Superintendent First & Last Name, Superintendent Business Name, Owner'S Business Type, Numbern- Profit, Owner'S Business Name, Owner'S First Name, Owner'S Last Name, Owner'S House Number, Owner'S House Street Name, Owner'S House City, Owner'S House State, Owner'S House Zip Code, Owner'S Phone Number, D O B Run Date, Latitude, Longitude, Council District, Census Tract, Bbl, Nta]
Index: []

[0 rows x 60 columns]

Fraction of Rows with unique job numbers

In [29]:
df['Job Number'].nunique()/df['Job Number'].count()

0.45729175416837553

Group by Job Number and check if latitude and longitude are the same all the same for the job, which would indicate different instances of the Job Number all refer to the same Job.

In [30]:
group = df[['Job Number', 'Latitude', 'Longitude']].groupby('Job Number')

This will take a little while to run

In [31]:
tranformed = group.aggregate(lambda x: x.unique().shape[0])

Jobs with multiple latitude and longitudes:

In [32]:
# potential bad jobs
tranformed.loc[(tranformed['Latitude']!=1)
              |(tranformed['Longitude']!=1)]

            Latitude  Longitude
Job Number
100053406          2          2
100107493          2          2
100134472          2          2
100134481          2          2
100134515          2          2
100134524          2          2
100340481          2          2
100734706          2          2
100749442          2          2
100786295          2          2
101299364          2          2
101693311          2          2
101835016          2          2
102182013          2          2
102769489          2          2
102875569          2          2
102904467          2          2
103122372          2          2
103176368          2          2
103402006          2          2
200022448          2          2
200049526          2          2
200057286          2          1
200071126          1          2
200071652          2          2
200108196          2          2
200211500          2          2
200328537          2          2
200328733          2          2
200367940          2          2
200412482          2          2
200424335          2          2
200774359          2          2
200775483          2          2
200795880          2          2
300044707          2          2
300052822          2          2
300078092          2          2
300100343          2          2
300137368          2          2
300201145          2          2
300240610          2          2
300245937          2          2
300297916          2          2
301152552          2          2
301221283          2          2
301501792          2          2
400130764          2          2
400242171          2          2
400391143          2          2
400473670          2          2
401042518          2          2

In [33]:
potential_bad_jobs = list(tranformed.loc[(tranformed['Latitude']!=1)
              |(tranformed['Longitude']!=1)].index.unique())

Separate these into a temporary dataframe to play around with:

In [34]:
df_temp = df.loc[df['Job Number'].isin(potential_bad_jobs)].copy()

In [35]:
df_temp = df_temp.sort_values(['Job Number', 'Latitude', 'Longitude'])

Most of these are just missing lat and long values.

The others look to be Jobs that manage multiple houses/lots in a small area, so are probably correct

In [36]:
df_temp[df_temp.duplicated(subset=['Job Number', 'Block', 'Lot', 'Bin', 'Job Type'], keep=False)]

,Borough,Bin,Number,Street,Job Number,Job Doc Number,Job Type,Self Cert,Block,Lot,...,Owner'S House State,Owner'S House Zip Code,Owner'S Phone Number,D O B Run Date,Latitude,Longitude,Council District,Census Tract,Bbl,Nta
1172405,MANHATTAN,1001084,1,LIBERTY PLAZA,100053406,2,A2,NaN,62,1,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.70943,-74.011102,1,13,1000627501,Battery Park City-Lower Manhattan ...
1248743,MANHATTAN,1001084,1,LIBERTY PLAZA,100053406,2,A2,NaN,62,1,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.70943,-74.011102,1,13,1000627501,Battery Park City-Lower Manhattan ...
763613,MANHATTAN,1085348,298A,WEST 137 STREET,100134472,1,NB,NaN,1942,7501,...,NY,10038,2129786310,2016-01-03T00:00:00,40.817208,-73.944222,9,228,1019427501,Central Harlem North-Polo Grounds ...
1316050,MANHATTAN,1085348,298A,WEST 137 STREET,100134472,1,NB,NaN,1942,7501,...,NY,10038,2129786310,2016-01-03T00:00:00,40.817208,-73.944222,9,228,1019427501,Central Harlem North-Polo Grounds ...
876095,MANHATTAN,1085348,298A,WEST 137 STREET,100134481,1,NB,NaN,1942,7501,...,NY,10038,2129786310,2016-01-03T00:00:00,40.817208,-73.944222,9,228,1019427501,Central Harlem North-Polo Grounds ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789002,QUEENS,4454470,37-02,73 STREET,400391143,1,A1,NaN,1283,8,...,NY,11372,7184571171,2016-01-03T00:00:00,40.748565,-73.89267,25,291,4012830008,Jackson Heights ...
1985086,QUEENS,4454470,37-02,73 STREET,400391143,1,A1,NaN,1283,8,...,NY,11372,7184571171,2016-01-03T00:00:00,40.748565,-73.89267,25,291,4012830008,Jackson Heights ...
2273243,QUEENS,4454470,37-02,73 STREET,400391143,1,A1,NaN,1283,8,...,NY,11372,7184571171,2016-01-03T00:00:00,40.748565,-73.89267,25,291,4012830008,Jackson Heights ...
1811127,QUEENS,4045999,90-15,QUEENS BLVD,401042518,1,A2,NaN,1860,100,...,NY,10001,2124945574,2016-01-03T00:00:00,40.733848,-73.871578,25,683,4018600100,Elmhurst ...
2104812,QUEENS,4045999,90-01,QUEENS BLVD,401042518,2,A2,NaN,1860,100,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.733966,-73.871992,25,683,4018600100,Elmhurst ...

#### Later, after we have cleaned more values, we will fill these missing values by Job Number

Remove Jobs we know to be just missing data from the list of bad jobs

In [37]:
not_bad_jobs = df_temp[df_temp.duplicated(subset=['Job Number', 'Block', 'Lot', 'Bin', 'Job Type'], keep=False)]['Job Number'].unique()

In [38]:
df_temp = df_temp.loc[~df_temp['Job Number'].isin(not_bad_jobs)]

All of these are jobs that handle multiple lots or Owner\'S House Numbers, which explains why the lat/long change

In [39]:
df_temp

,Borough,Bin,Number,Street,Job Number,Job Doc Number,Job Type,Self Cert,Block,Lot,...,Owner'S House State,Owner'S House Zip Code,Owner'S Phone Number,D O B Run Date,Latitude,Longitude,Council District,Census Tract,Bbl,Nta
1075701,MANHATTAN,1046972,41,EAST 89 STREET,100107493,1,A1,NaN,1501,7501,...,NY,10017,2122106666,2016-01-03T00:00:00,40.782479,-73.956647,4,15002,1015017501,Upper East Side-Carnegie Hill ...
1305991,MANHATTAN,1046972,45,EAST 89 STREET,100107493,2,A1,NaN,1501,20,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.782869,-73.957095,4,15002,1015017501,Upper East Side-Carnegie Hill ...
848336,MANHATTAN,1085627,298A,WEST 138 STREET,100134515,1,NB,NaN,2023,7503,...,NY,10038,2129786310,2016-01-03T00:00:00,40.818232,-73.944712,9,228,1020237503,Central Harlem North-Polo Grounds ...
872911,MANHATTAN,1085627,298,WEST 138 STREET,100134515,2,NB,NaN,2023,1,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.818362,-73.945016,9,228,1020237503,Central Harlem North-Polo Grounds ...
997180,MANHATTAN,1085627,298A,WEST 138 STREET,100134524,1,NB,NaN,2023,7503,...,NY,10038,2129786310,2016-01-03T00:00:00,40.818232,-73.944712,9,228,1020237503,Central Harlem North-Polo Grounds ...
1547307,MANHATTAN,1085627,298,WEST 138 STREET,100134524,2,NB,NaN,2023,1,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.818362,-73.945016,9,228,1020237503,Central Harlem North-Polo Grounds ...
1661643,MANHATTAN,1057135,301,WEST 100 STREET,100786295,1,A1,NaN,1889,7501,...,NY,10025,2128655858,2016-01-03T00:00:00,40.797937,-73.971604,6,187,1018897501,Upper West Side ...
1655044,MANHATTAN,1057135,823,WEST END AVENUE,100786295,2,A1,NaN,1889,17,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.797964,-73.971243,6,187,1018897501,Upper West Side ...
2126442,QUEENS,4029819,37-33,74 STREET,400242171,3,A1,NaN,1285,13,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.748048,-73.891656,25,289,4012850019,Jackson Heights ...
2076239,QUEENS,4029819,37-27,74 STREET,400242171,1,A1,NaN,1285,19,...,NY,10017,2126829595,2016-01-03T00:00:00,40.748157,-73.891678,25,289,4012850019,Jackson Heights ...
2215784,QUEENS,4045071,126-01,ROOSEVELT AVENUE,400473670,2,A1,NaN,1787,2,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.755531,-73.842617,21,38301,4018330117,park-cemetery-etc-Queens ...
2266780,QUEENS,4045071,126-10,WILLETS POINT BOULEVARD,400473670,1,A1,NaN,1787,117,...,NY,11368,7187606725,2016-01-03T00:00:00,40.755743,-73.843067,21,38301,4018330117,park-cemetery-etc-Queens ...

Check if any Job Numbers have non-digit values

In [40]:
df['Job Number'] = df['Job Number'].astype('str')

In [41]:
df.loc[(~df['Job Number'].isna())
       &(~df['Job Number'].str.isdigit())]['Job Number']

Series([], Name: Job Number, dtype: object)

All Job Numbers entirely composed of digits, so we cast them to ints

In [42]:
df['Job Number'] = df['Job Number'].astype('int')

In [43]:
df['Job Number'].describe()

count    2.428524e+06
mean     2.481319e+08
std      1.364586e+08
min      1.000300e+08
25%      1.043485e+08
50%      2.201623e+08
75%      4.005741e+08
max      5.777778e+08
Name: Job Number, dtype: float64

## Examining and reparing Owner\'S House Numbers

Owner\'S House Number's appear to be mostly ints

However, there are legitimate house numbers with dashes so we'll have to make them strings

In [44]:
show_vals('Owner\'S House Number', show_rows=10)

Top 10 Owner'S House Number:

NaN      157537
100       71273
30-30     43920
1         29243
75        18254
90        17500
200       16593
150       15762
60        13827
15        10979
Name: Owner'S House Number, dtype: int64

Replace NaN values with empty strings, then convert column to string, and make everything uppercase

In [45]:
df['Owner\'S House Number'].fillna('', inplace=True)
df['Owner\'S House Number'] = df['Owner\'S House Number'].astype('str')
df['Owner\'S House Number'] = df['Owner\'S House Number'].str.upper()

Check for numbers spelled out as words

In [46]:
df.loc[(~df['Owner\'S House Number'].isna())
       &(df['Owner\'S House Number'].str.isalpha())]['Owner\'S House Number']

455              ONE
586              TWO
603          OLMSTED
655        MUNICIPAL
740         OLMSTEAD
             ...
2426095           PO
2427485          ONE
2428080          ONE
2428193        NORTH
2428485           PO
Name: Owner'S House Number, Length: 15955, dtype: object

Maybe the Owner\'S House Number and BOROUGH were flipped in the 'manhattan' case?

In [47]:
# Nope:
df.loc[df['Owner\'S House Number'].str.strip('')=='MANHATTAN'][['Owner\'S House Number', 'Borough']]

        Owner'S House Number    Borough
803015             MANHATTAN  MANHATTAN
1351640            MANHATTAN  MANHATTAN

Check if thses are empty strings:

In [48]:
df.loc[(~df['Owner\'S House Number'].str.contains('\\d', regex=True))]['Owner\'S House Number']

0
1
2
3
4
               ...
2428376        P.O. BOX
2428401
2428439        P.O. BOX
2428476    MUNICIPAL BL
2428485              PO
Name: Owner'S House Number, Length: 204268, dtype: object

Replace spelling of numbers with their value, and remove values a lot of values

In [49]:
df.loc[df['Owner\'S House Number'].str.strip('')=='ONE', 'Owner\'S House Number'] = '1'
df.loc[df['Owner\'S House Number'].str.strip('')=='TWO', 'Owner\'S House Number'] = '2'
df.loc[df['Owner\'S House Number'].str.strip('')=='PIER', 'Owner\'S House Number'] = ''
df.loc[df['Owner\'S House Number'].str.strip('')=='MANHATTAN', 'Owner\'S House Number'] = ''
df.loc[df['Owner\'S House Number'].str.strip('')=='NO NUMBER', 'Owner\'S House Number'] = ''
df.loc[df['Owner\'S House Number'].str.strip('')=='OLMSTED', 'Owner\'S House Number'] = ''
df.loc[df['Owner\'S House Number'].str.strip('')=='OLMSTEAD', 'Owner\'S House Number'] = ''
df.loc[df['Owner\'S House Number'].str.strip('')=='PO', 'Owner\'S House Number'] = ''
df.loc[df['Owner\'S House Number'].str.strip('')=='NORTH', 'Owner\'S House Number'] = ''
df.loc[df['Owner\'S House Number'].str.strip('')=='MUNICIPAL', 'Owner\'S House Number'] = ''

Most of these will probably be legitimate house numbers, since house numbers can have dashes

In [50]:
df.loc[(~df['Owner\'S House Number'].isna())
       &(~df['Owner\'S House Number'].str.isdigit())]['Owner\'S House Number']

0
1
2
3
4
           ...
2428482    30-30
2428485
2428507    30-30
2428519     123A
2428523    30-30
Name: Owner'S House Number, Length: 715905, dtype: object

Check non-numeric Owner\'S House Number's that don't have dashes

In [51]:
df.loc[(~df['Owner\'S House Number'].isna())
       &(~df['Owner\'S House Number'].str.isdigit())
      &(~df['Owner\'S House Number'].str.contains('-', regex=False))]['Owner\'S House Number'][:25]

0
1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
21
22
23
25
26
Name: Owner'S House Number, dtype: object

We see a mix of reference to the house's garage, the rear house and single letters that likely indicate apartments in multi-occupancy venues. 

We will standardize the formatting, and maintain the reference to garage, rear, and appartment, since there is no apartment column for the job.

First split the numbers and words with a space

In [52]:
df['Owner\'S House Number'] = df['Owner\'S House Number'].str.replace(pat='(?P<one>\\d)(?P<two>[A-Z]+)', repl='\g<one> \g<two>', regex=True)

Now we will fix the formatting for garage and 
remove references to north, south, east, west, since they should be in street #

In [53]:
df['Owner\'S House Number'] = df['Owner\'S House Number'].str.replace(pat='(?P<one>GAR$)', repl='GARAGE', regex=True)

In [54]:
df['Owner\'S House Number'] = df['Owner\'S House Number'].str.replace(pat='NORTH([A-Z]+)?', repl='', regex=True)
df['Owner\'S House Number'] = df['Owner\'S House Number'].str.replace(pat='EAST([A-Z]+)?', repl='', regex=True)
df['Owner\'S House Number'] = df['Owner\'S House Number'].str.replace(pat='SOUTH([A-Z]+)?', repl='', regex=True)
df['Owner\'S House Number'] = df['Owner\'S House Number'].str.replace(pat='WEST([A-Z]+)?', repl='', regex=True)

In [55]:
# Confirm that it worked correctly:
df.loc[(~df['Owner\'S House Number'].isna())
       &(~df['Owner\'S House Number'].str.isdigit())
       &(~df['Owner\'S House Number'].str.contains('-', regex=False))]['Owner\'S House Number'][:30]

0
1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
21
22
23
25
26
27
28
31
32
33
Name: Owner'S House Number, dtype: object

## Looking at Binary/Pseudo-binary columns:

For these columns it's clear NaN idicates 'no', since the only other option was 'X' which indicates yes

In [56]:
for col in df.columns:
    if df[col].nunique() < 4:
        show_vals(col)

Top 10 Self  Cert:

NaN    1527839
Y       900685
Name: Self  Cert, dtype: int64

Top 10 Bldg Type:

2      1786549
1       587696
NaN      54279
Name: Bldg Type, dtype: int64

Top 10 Residential:

NaN    1655752
YES     772772
Name: Residential, dtype: int64

Top 10 Filing Status:

INITIAL    1851581
RENEWAL     576943
Name: Filing Status, dtype: int64

Top 10 Oil Gas:

NaN    2397490
OIL      29215
GAS       1819
Name: Oil Gas, dtype: int64

Top 10 Act As Superintendent:

Y      1586973
NaN     833299
N         8252
Name: Act As Superintendent, dtype: int64

Top 10 Numbern- Profit:

NaN    2271226
Y       157298
Name: Numbern- Profit, dtype: int64

Top 10 D O B Run Date:

2016-01-03T00:00:00    2428524
Name: D O B Run Date, dtype: int64

Replace the Nan values with False and replace the 'X' values with True, and then cast the columns to be type bool

In [57]:
df["Bldg Type"].fillna("", inplace=True)
df["Oil Gas"].fillna("", inplace=True)
df["Act As Superintendent"].fillna("N", inplace=True)

In [58]:
df["Self  Cert"].fillna("N", inplace=True)
df["Numbern- Profit"].fillna("N", inplace=True)
df["Residential"].fillna("NO", inplace=True)

## Checking Monetary Values for consistency

In [59]:
# No monetary value

## Checking owner's information

In [60]:
# list of Owner's columns:
owner_cols = df.columns[np.where(np.char.find(np.array(list(df.columns)), 'Owner') > -1)[0]]

In [61]:
np.where(np.char.find(np.array(list(df.columns)), 'Owner') > -1)[0]

array([42, 44, 45, 46, 47, 48, 49, 50, 51, 52], dtype=int64)

In [62]:
owner_cols

Index(['Owner'S Business Type', 'Owner'S Business Name', 'Owner'S First Name',
       'Owner'S Last Name', 'Owner'S House Number',
       'Owner'S House Street Name', 'Owner'S House City',
       'Owner'S House State', 'Owner'S House Zip Code',
       'Owner'S Phone Number'],
      dtype='object')

In [63]:
for c in owner_cols:
    show_vals(c)

Top 10 Owner'S Business Type:

CORPORATION           791752
INDIVIDUAL            784316
PARTNERSHIP           483072
NaN                   160995
OTHER                 144842
CONDO/CO-OP            28483
OTHER GOV'T AGENCY     22525
NYCHA                   6180
HPD                     3473
HHC                      836
Name: Owner'S Business Type, dtype: int64

Top 10 Owner'S Business Name:

NaN                                 669327
NY SCHOOL CONSTRUCTION AUTHORITY     19966
HPD                                  17505
NONE                                 13668
OWNER                                12935
NYC HPD                               9877
NYC HOUSING AUTHORITY                 9726
NYC SCA                               7662
NYCHA                                 6704
-                                     6173
Name: Owner'S Business Name, dtype: int64

Top 10 Owner'S First Name:

NaN        158163
ROBERT      48131
MICHAEL     48075
JOHN        45967
JOSEPH      45317
DAVID       39663
ANTHONY     31011
RICHARD     25328
CHARLES     24110
PETER       24094
Name: Owner'S First Name, dtype: int64

Top 10 Owner'S Last Name:

NaN        157852
COHEN       15554
SINGH       14007
Joseph      11719
JOSEPH      11207
D'URSO      10764
LEE          8040
PUMILIA      7854
NIRODY       5766
ABNERI       5652
Name: Owner'S Last Name, dtype: int64

Top 10 Owner'S House Number:

         160893
100       71273
30-30     43920
1         37457
75        18254
90        17500
200       16593
150       15762
60        13827
15        10979
Name: Owner'S House Number, dtype: int64

Top 10 Owner'S House Street Name:

NaN                 157687
BROADWAY             45474
THOMSON AVENUE       31480
GOLD STREET          25548
PARK AVENUE          24334
MADISON AVENUE       18948
FIFTH AVENUE         16781
Gold Street          14901
LEXINGTON AVENUE     14320
GOLD ST              13106
Name: Owner'S House Street Name, dtype: int64

Top 10 Owner'S House City:

NEW YORK         516017
BROOKLYN         228238
NY               203229
New York         159328
NaN              157170
QUEENS            84102
BRONX             82047
Brooklyn          71033
STATEN ISLAND     70423
BKLYN             48158
Name: Owner'S House City, dtype: int64

Top 10 Owner'S House State:

NY     2216175
NaN     157133
NJ       29283
CT        3165
PA        3077
FL        2916
CA        2547
IL        1660
MA        1584
NC        1493
Name: Owner'S House State, dtype: int64

Top 10 Owner'S House Zip Code:

NaN      162098
10038     83810
10022     69839
10017     69353
11101     68188
10019     57685
10021     46231
10016     45977
10001     37900
10036     37555
Name: Owner'S House Zip Code, dtype: int64

Top 10 Owner'S Phone Number:

NaN           201979
7184728000     17604
2128637625     13286
2128637490      8500
2129786310      6780
0               5989
2120000000      5895
2123867490      5387
2128947000      4725
2124072400      4287
Name: Owner'S Phone Number, dtype: int64

## Fixing owner's informations

In [64]:
df.loc[~df["Owner'S Business Name"].isna() & df["Owner'S Business Name"].str.contains("(?i)new york city")]["Owner'S Business Name"].value_counts()

NEW YORK CITY HOUSING AUTHORITY     2713
New York City Housing Authority      536
NEW YORK CITY HPD                    299
NEW YORK CITY HOUSING                192
NEW YORK CITY SCHOOL CONSTRUCTIO     131
                                    ...
HPD/NEW YORK CITY                      1
NEW YORK CITY HUM. RES. ADM'N.         1
NEW YORK CITY DEPT OF PARK & REC       1
NEW YORK CITY TRANSIT AUTHORITY        1
NEW YORK CITY OFF-TRACK BETTING        1
Name: Owner'S Business Name, Length: 237, dtype: int64

Normalizes a couple of duplicate names

In [65]:
df["Owner'S Business Name"] = df["Owner'S Business Name"].str.replace("NEW YORK CITY", "NYC")
df["Owner'S Business Name"] = df["Owner'S Business Name"].str.upper()
df["Owner'S Business Name"] = df["Owner'S Business Name"].str.replace(".", '', regex=False)
df["Owner'S Business Name"] = df["Owner'S Business Name"].str.replace(",", '', regex=False)

All these are the same thing. Uses clusters to fix

In [66]:
#may have to use fuzzy/cluster to fix this problem
df.loc[~df["Owner'S Business Name"].isna() & df["Owner'S Business Name"].str.contains("(?i)HOUSING AUTHORITY")]["Owner'S Business Name"].value_counts()

NYC HOUSING AUTHORITY              14747
NEW YORK CITY HOUSING AUTHORITY      539
NEW YORK HOUSING AUTHORITY           201
NYCHOUSING AUTHORITY                 181
NY CITY HOUSING AUTHORITY            130
                                   ...
N  Y C HOUSING AUTHORITY               1
NEW YORK    HOUSING AUTHORITY          1
NEW YOR CITY HOUSING AUTHORITY         1
HPD - NYC HOUSING AUTHORITY            1
NTC HOUSING AUTHORITY                  1
Name: Owner'S Business Name, Length: 71, dtype: int64

Used clusters to try to fix the rest of them further below

In [67]:
df["Owner'S House State"].value_counts()

NY        2216175
NJ          29283
CT           3165
PA           3077
FL           2916
CA           2547
IL           1660
MA           1584
NC           1493
OH           1142
VA           1136
MD            875
TX            846
RI            649
GA            627
NV            529
DC            385
CO            369
AZ            343
NH            303
UT            220
TN            202
MI            189
WA            185
MN            165
SC            153
DE            143
MO            120
NM            118
KY            114
WI             98
IN             71
KS             57
VT             57
IA             56
NE             53
AL             40
OK             37
LA             29
AR             26
ME             25
OR             21
AK             17
ND             16
WV             12
PR             12
HI             11
SD              8
MS              8
ID              6
MT              5
CN              5
WY              3
sw              2
FQ              1
ï¿½ï¿½          1
ON              1
Name: Owner'S House State, dtype: int64

Since the states can be outside NYC, these are probably fine

In [68]:
df["Owner'S House Zip Code"].value_counts()

10038        83810
10022        69839
10017        69353
11101        68188
10019        57685
             ...
100190118        1
100191457        1
100173144        1
98035            1
28690            1
Name: Owner'S House Zip Code, Length: 6785, dtype: int64

## Looking at Phone Numbers:

In [69]:
show_vals("Owner'S Phone Number")

Top 10 Owner'S Phone Number:

NaN           201979
7184728000     17604
2128637625     13286
2128637490      8500
2129786310      6780
0               5989
2120000000      5895
2123867490      5387
2128947000      4725
2124072400      4287
Name: Owner'S Phone Number, dtype: int64

A lot of the same phone numbers

In [70]:
df["Owner'S Phone Number"] = df["Owner'S Phone Number"].astype('str')

In [71]:
df.loc[df["Owner'S Phone Number"].str.contains("7184728000")][["Owner'S First Name", "Owner'S Last Name","Owner'S Business Name", "Owner'S Phone Number"]]

,Owner'S First Name,Owner'S Last Name,Owner'S Business Name,Owner'S Phone Number
357,STEPHEN,GRANT,NY SCHOOL CONSTRUCTION AUTHORITY,7184728000
372,STEPHEN,GRANT,NY SCHOOL CONSTRUCTION AUTHORITY,7184728000
381,STEPHEN,GRANT,NY SCHOOL CONSTRUCTION AUTHORITY,7184728000
386,RAY,NAMI,NY SCHOOL CONSTRUCTION AUTHORITY,7184728000
388,STEPHEN,GRANT,NY SCHOOL CONSTRUCTION AUTHORITY,7184728000
...,...,...,...,...
2427194,WILLIAM,REISACHER,NY SCHOOL CONSTRUCTION AUTHORITY,7184728000
2427423,ANGELO,VOLONOKIS,NYC SCHOOL CONST AUTHORITY,7184728000
2427930,ELAN,ABNERI,NYC SCHOOL CONST AUTHORITY,7184728000
2428206,ELAN,ABNERI,NYC SCHOOL CONSTAUTHORITY,7184728000
2428458,CARL,COLOMBO,NY SCHOOL CONSTRUCTION AUTHORITY,7184728000

All from the same business name so it makes sense

In [72]:
df.loc[df["Owner'S Phone Number"]=='nan']

,Borough,Bin,Number,Street,Job Number,Job Doc Number,Job Type,Self Cert,Block,Lot,...,Owner'S House State,Owner'S House Zip Code,Owner'S Phone Number,D O B Run Date,Latitude,Longitude,Council District,Census Tract,Bbl,Nta
0,BRONX,2118801,2960,WEBSTER AVENUE,201088492,4,NB,N,3274,4,...,NaN,NaN,nan,2016-01-03T00:00:00,40.86749,-73.883225,11,425,2032740001,Norwood ...
1,BRONX,2096812,100,DEKRUIF PLACE,200716298,2,A2,N,5141,120,...,NaN,NaN,nan,2016-01-03T00:00:00,40.875769,-73.828899,12,46201,2051410120,Co-op City ...
2,BRONX,2008604,1898,HARRISON AVENUE,200974650,2,A2,N,2869,87,...,NaN,NaN,nan,2016-01-03T00:00:00,40.852603,-73.911461,14,243,2028690087,University Heights-Morris Heights ...
3,BRONX,2007652,1998,MORRIS AVENUE,200278118,2,A1,N,2807,15,...,NaN,NaN,nan,2016-01-03T00:00:00,40.851661,-73.906937,14,241,2028070015,Mount Hope ...
4,BRONX,2084155,565,WEST 235 STREET,201119173,2,A2,Y,5794,484,...,NaN,NaN,nan,2016-01-03T00:00:00,40.88572,-73.91027,11,297,2057940484,Spuyten Duyvil-Kingsbridge ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428247,STATEN ISLAND,5133377,52,FABER STREET,500185015,2,NB,Y,1076,51,...,NaN,NaN,nan,2016-01-03T00:00:00,40.639159,-74.135194,49,207,5010760051,Port Richmond ...
2428310,STATEN ISLAND,5000064,18,RICHMOND TERRACE,500332696,3,A2,N,7,12,...,NaN,NaN,nan,2016-01-03T00:00:00,40.643004,-74.075772,49,3,5000070012,West New Brighton-New Brighton-St. George ...
2428352,STATEN ISLAND,5007607,234,LAWRENCE AVENUE,500023379,1,A3,N,280,54,...,NY,10314,nan,2016-01-03T00:00:00,40.623854,-74.106291,49,121,5002800054,New Brighton-Silver Lake ...
2428401,STATEN ISLAND,5005991,311,TAYLOR STREET,500083526,2,A1,N,222,25,...,NaN,NaN,nan,2016-01-03T00:00:00,40.631106,-74.122669,49,125,5002220025,West New Brighton-New Brighton-St. George ...
2428525,STATEN ISLAND,5107273,501,BRIELLE AVENUE,500390301,1,DM,N,1955,1,...,NY,10038,nan,2016-01-03T00:00:00,40.592224,-74.13628,50,27302,5019550001,New Springville-Bloomfield-Travis ...

Nothing wrong with these jobs without an owner's phone number

In [73]:
df.loc[~df["Owner'S Phone Number"].isna() & df["Owner'S Phone Number"].str.contains("-")]["Owner'S Phone Number"].value_counts()

71822936-3    63
-212386749     8
71835636-7     7
-718446591     7
-212789118     4
              ..
-718859650     1
191-15         1
-718270499     1
718886-455     1
2128-68306     1
Name: Owner'S Phone Number, Length: 82, dtype: int64

Phone numbers should not contain "-"

In [74]:
df.loc[~df["Owner'S Phone Number"].isna() & df["Owner'S Phone Number"].str.contains(" ")]["Owner'S Phone Number"].value_counts()

212 929318    46
718  42334    30
212 226650    17
718  88876    10
718   3891    10
              ..
2129252 70     1
212787  69     1
212  29389     1
212593  37     1
212960  52     1
Name: Owner'S Phone Number, Length: 209, dtype: int64

Phone numbers should not contain empty space

### Cleaning phone number

#### removes non-numeric characters

In [75]:

df["Owner'S Phone Number"] = df["Owner'S Phone Number"].str.extract('(\d+)', expand=False)
df.loc[~df["Owner'S Phone Number"].isna() & df["Owner'S Phone Number"].str.contains(" ")]["Owner'S Phone Number"].value_counts()

Series([], Name: Owner'S Phone Number, dtype: int64)

#### Turns phone numbers that start with 0, 1, and does not have 10 digits into nan

In [76]:
df["Owner'S Phone Number"] = df["Owner'S Phone Number"].astype('str')
df.loc[~df["Owner'S Phone Number"].isna() & ((df["Owner'S Phone Number"].str[0] == "0") | (df["Owner'S Phone Number"].str[0] == "1") | (df["Owner'S Phone Number"].apply(len) != 10)), ["Owner'S Phone Number"]] = np.nan

#### Checks to see if there are any others not of length 10

In [77]:
df["Owner'S Phone Number"] = df["Owner'S Phone Number"].astype('str')
df.loc[(df["Owner'S Phone Number"].apply(len) != 10)]["Owner'S Phone Number"]

0          nan
1          nan
2          nan
3          nan
4          nan
          ...
2428247    nan
2428310    nan
2428352    nan
2428401    nan
2428525    nan
Name: Owner'S Phone Number, Length: 213116, dtype: object

#### Check for non-numeric charaters

In [78]:
df.loc[(~df["Owner'S Phone Number"].str.isnumeric()) & (~(df["Owner'S Phone Number"]=='nan'))]["Owner'S Phone Number"]

Series([], Name: Owner'S Phone Number, dtype: object)

### Checking additional numerical columns for coherency

## Districts

### Looking at special districts

In [79]:
show_vals("Special District 1")
show_vals("Special District 2")

Top 10 Special District 1:

NaN    2241932
MID      46452
SR       20816
OP       10133
PI        9922
SRD       8645
LM        7415
BR        6028
CL        5938
MP        4810
Name: Special District 1, dtype: int64

Top 10 Special District 2:

NaN      2425885
LH-1A       1481
PI           416
LH-1         241
MP           166
TA           154
MID           80
HY            66
DB            15
MX-9           6
Name: Special District 2, dtype: int64

In [80]:
#Checks to see if there are lower case values
df.loc[~df["Special District 1"].isna() & df["Special District 1"].str.islower()]

Empty DataFrame
Columns: [Borough, Bin, Number, Street, Job Number, Job Doc Number, Job Type, Self  Cert, Block, Lot, Community Board, Postcode, Bldg Type, Residential, Special District 1, Special District 2, Work Type, Permit Status, Filing Status, Permit Type, Permit Sequence Number, Permit Subtype, Oil Gas, Site Fill, Filing Date, Issuance Date, Expiration Date, Job Start Date, Permittee'S First Name, Permittee'S Last Name, Permittee'S Business Name, Permittee'S Phone Number, Permittee'S License Type, Permittee'S License Number, Act As Superintendent, Permittee'S Other Title, H I C License, Site Safety Mgr'S First Name, Site Safety Mgr'S Last Name, Site Safety Mgr Business Name, Superintendent First & Last Name, Superintendent Business Name, Owner'S Business Type, Numbern- Profit, Owner'S Business Name, Owner'S First Name, Owner'S Last Name, Owner'S House Number, Owner'S House Street Name, Owner'S House City, Owner'S House State, Owner'S House Zip Code, Owner'S Phone Number, D O B Run Date, Latitude, Longitude, Council District, Census Tract, Bbl, Nta]
Index: []

[0 rows x 60 columns]

### Analysis

Special Districts didn't have any noticable values that were out of place

## Quick look at GIS

In [81]:
show_vals("Latitude")
show_vals("Longitude")
show_vals("Council District")
show_vals("Census Tract")
show_vals("Nta")
show_vals("Bbl")

Top 10 Latitude:

NaN          9516
40.754162    1973
40.748342    1935
40.751098    1820
40.758754    1626
40.758171    1419
40.733848    1415
40.76402     1414
40.703597    1396
40.582305    1392
Name: Latitude, dtype: int64

Top 10 Longitude:

NaN           9516
-73.976557    1973
-73.984643    1952
-73.992926    1808
-73.978692    1628
-73.973246    1425
-73.973189    1414
-74.009781    1396
-74.169053    1392
-73.871578    1386
Name: Longitude, dtype: int64

Top 10 Council District:

4     302821
3     182073
1     160263
2      93817
6      81411
33     71819
51     61214
5      61194
19     58197
50     51271
Name: Council District, dtype: int64

Top 10 Census Tract:

7      20042
33     18829
102    17524
104    17081
92     16222
9      16054
137    15909
96     15623
119    15101
94     14953
Name: Census Tract, dtype: int64

Top 10 Nta:

Midtown-Midtown South                                                          182177
Upper East Side-Carnegie Hill                                                   75529
SoHo-TriBeCa-Civic Center-Little Italy                                          74510
Hudson Yards-Chelsea-Flatiron-Union Square                                      73732
Turtle Bay-East Midtown                                                         67512
West Village                                                                    64459
Upper West Side                                                                 55190
Battery Park City-Lower Manhattan                                               53697
Murray Hill-Kips Bay                                                            35891
Lenox Hill-Roosevelt Island                                                     33355
Name: Nta, dtype: int64

Top 10 Bbl:

NaN           29590
1009720001     3923
1012660001     2499
1012809010     1973
1008350041     1957
1007830070     1834
1012657501     1778
1009780001     1738
4163500400     1735
1012640005     1584
Name: Bbl, dtype: int64

In [82]:
#Manually looking at some of these
df[["Latitude", "Longitude", "Council District", "Census Tract", "Nta", "Bbl"]]

,Latitude,Longitude,Council District,Census Tract,Nta,Bbl
0,40.86749,-73.883225,11,425,Norwood ...,2032740001
1,40.875769,-73.828899,12,46201,Co-op City ...,2051410120
2,40.852603,-73.911461,14,243,University Heights-Morris Heights ...,2028690087
3,40.851661,-73.906937,14,241,Mount Hope ...,2028070015
4,40.88572,-73.91027,11,297,Spuyten Duyvil-Kingsbridge ...,2057940484
...,...,...,...,...,...,...
2428521,40.614117,-74.16564,50,29104,New Springville-Bloomfield-Travis ...,5015990010
2428522,40.561562,-74.108193,50,12806,Oakwood-Oakwood Beach ...,5040550037
2428523,40.60223,-74.091355,50,50,Grasmere-Arrochar-Ft. Wadsworth ...,5031710001
2428524,40.614249,-74.075822,49,36,Stapleton-Rosebank ...,5029680033
2428525,40.592224,-74.13628,50,27302,New Springville-Bloomfield-Travis ...,5019550001

In [83]:
#shouldn't be 0
df["Latitude"] = df["Latitude"].astype('float')
df["Latitude"].min()

40.498628

In [84]:
df["Latitude"].max()

40.913711

In [85]:
df.loc[df["Latitude"] ==40.913711]

,Borough,Bin,Number,Street,Job Number,Job Doc Number,Job Type,Self Cert,Block,Lot,...,Owner'S House State,Owner'S House Zip Code,Owner'S Phone Number,D O B Run Date,Latitude,Longitude,Council District,Census Tract,Bbl,Nta
60668,BRONX,2096790,600B,DEPEYSTER STREET,220026816,1,A2,Y,5958,65,...,NY,10705,9143758703,2016-01-03T00:00:00,40.913711,-73.904845,11,319,2059580065,North Riverdale-Fieldston-Riverdale ...
87369,BRONX,2096790,600B,DEPEYSTER STREET,220038750,1,A1,N,5958,65,...,NY,10705,9143758703,2016-01-03T00:00:00,40.913711,-73.904845,11,319,2059580065,North Riverdale-Fieldston-Riverdale ...
159008,BRONX,2096790,600B,DEPEYSTER STREET,220026816,1,A2,Y,5958,65,...,NY,10705,9143758703,2016-01-03T00:00:00,40.913711,-73.904845,11,319,2059580065,North Riverdale-Fieldston-Riverdale ...
200641,BRONX,2096790,600B,DEPEYSTER STREET,220026816,1,A2,Y,5958,65,...,NY,10705,9143758703,2016-01-03T00:00:00,40.913711,-73.904845,11,319,2059580065,North Riverdale-Fieldston-Riverdale ...

#### The min and max makes sense as the values range from Staten Island to the Bronx

In [86]:
df["Longitude"] = df["Longitude"].astype('float')
df["Longitude"].min()

-74.254825

In [87]:
df["Longitude"].max()

-73.700376

In [88]:
df.loc[df["Longitude"] == -73.700376]

,Borough,Bin,Number,Street,Job Number,Job Doc Number,Job Type,Self Cert,Block,Lot,...,Owner'S House State,Owner'S House Zip Code,Owner'S Phone Number,D O B Run Date,Latitude,Longitude,Council District,Census Tract,Bbl,Nta
1905673,QUEENS,4179641,270-03,HILLSIDE AVENUE,420236097,1,A2,N,8781,101,...,NY,11001,5163540656,2016-01-03T00:00:00,40.739112,-73.700376,23,157901,4087810101,Glen Oaks-Floral Park-New Hyde Park ...
1990793,QUEENS,4179641,270-03,HILLSIDE AVENUE,420236097,1,A2,N,8781,101,...,NY,11001,5163540656,2016-01-03T00:00:00,40.739112,-73.700376,23,157901,4087810101,Glen Oaks-Floral Park-New Hyde Park ...
2090103,QUEENS,4179641,270-03,HILLSIDE AVENUE,420236097,1,A2,N,8781,101,...,NY,11001,5163540656,2016-01-03T00:00:00,40.739112,-73.700376,23,157901,4087810101,Glen Oaks-Floral Park-New Hyde Park ...

#### These longitudes and latitudes range from Queens to Staten Island which is also consistent with our dataset

In [89]:
df["Council District"] = df["Council District"].astype('float')
df["Council District"].min()

1.0

In [90]:
df["Council District"].max()

51.0

#### 1-51 are all valid districts

In [91]:
df["Census Tract"] = df["Census Tract"].astype('float')
df["Census Tract"].min()

1.0

In [92]:
df["Census Tract"].max()

157903.0

In [93]:
df.loc[df["Census Tract"] == 157903]

,Borough,Bin,Number,Street,Job Number,Job Doc Number,Job Type,Self Cert,Block,Lot,...,Owner'S House State,Owner'S House Zip Code,Owner'S Phone Number,D O B Run Date,Latitude,Longitude,Council District,Census Tract,Bbl,Nta
1747331,QUEENS,4180642,87-33,258 STREET,400596146,1,A2,N,8826,19,...,NY,11368,7184709081,2016-01-03T00:00:00,40.730361,-73.707679,23.0,157903.0,4088260019,Glen Oaks-Floral Park-New Hyde Park ...
1755777,QUEENS,4179705,255-16,85 AVENUE,401278452,1,A3,Y,8785,12,...,NY,11001,7183430276,2016-01-03T00:00:00,40.734289,-73.712085,23.0,157903.0,4087850012,Glen Oaks-Floral Park-New Hyde Park ...
1755900,QUEENS,4180509,86-52,260 STREET,400895938,1,A3,Y,8818,62,...,NY,11010,7182257755,2016-01-03T00:00:00,40.732560,-73.706561,23.0,157903.0,4088180062,Glen Oaks-Floral Park-New Hyde Park ...
1756213,QUEENS,4179761,84-35,256 STREET,420519727,1,A2,N,8786,71,...,NY,11004,7186260205,2016-01-03T00:00:00,40.735996,-73.711714,23.0,157903.0,4087860071,Glen Oaks-Floral Park-New Hyde Park ...
1756250,QUEENS,4827043,255-41,JAMAICA AVENUE,401428594,1,A2,N,8830,50,...,NY,11001,7183434616,2016-01-03T00:00:00,40.727421,-73.709622,23.0,157903.0,NaN,Glen Oaks-Floral Park-New Hyde Park ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2270050,QUEENS,4439982,87-06,259 STREET,400258537,1,NB,N,8826,39,...,NY,11791,5169220223,2016-01-03T00:00:00,40.731175,-73.707022,23.0,157903.0,4088260039,Glen Oaks-Floral Park-New Hyde Park ...
2270521,QUEENS,4179958,263-05,EAST WILLISTON AVENUE,420461627,1,DM,N,8793,4,...,NY,11001,7189626227,2016-01-03T00:00:00,40.736722,-73.704955,23.0,157903.0,4087930004,Glen Oaks-Floral Park-New Hyde Park ...
2270808,QUEENS,4180369,86-56,256 STREET,400853536,1,A2,N,8814,53,...,NY,11001,7183436749,2016-01-03T00:00:00,40.731864,-73.710198,23.0,157903.0,4088140053,Glen Oaks-Floral Park-New Hyde Park ...
2271424,QUEENS,4180237,85-15,263 STREET,400744637,1,A1,N,8806,43,...,NY,11001,7184701811,2016-01-03T00:00:00,40.736006,-73.704854,23.0,157903.0,4088060043,Glen Oaks-Floral Park-New Hyde Park ...
2271685,QUEENS,4179674,254-20,84 ROAD,401832022,1,A2,Y,8783,15,...,NY,11001,5164666655,2016-01-03T00:00:00,40.735600,-73.712682,23.0,157903.0,4087830015,Glen Oaks-Floral Park-New Hyde Park ...

#### No irregulars for census tract

In [94]:
df["Bbl"] = df["Bbl"].astype('float')
df["Bbl"].min()

0.0

In [95]:
df["Bbl"] = df["Bbl"].astype('float')
df["Bbl"].max()

5200149999.0

In [96]:
df.loc[df["Bbl"] == 5200149999.0]

,Borough,Bin,Number,Street,Job Number,Job Doc Number,Job Type,Self Cert,Block,Lot,...,Owner'S House State,Owner'S House Zip Code,Owner'S Phone Number,D O B Run Date,Latitude,Longitude,Council District,Census Tract,Bbl,Nta
2317092,STATEN ISLAND,5164775,13,CLARKE AVENUE,500029248,1,A2,N,4391,34,...,NY,11101,7187296500,2016-01-03T00:00:00,40.564611,-74.131919,50.0,138.0,5.200150e+09,Oakwood-Oakwood Beach ...
2324162,STATEN ISLAND,5164775,13,CLARKE AVENUE,500752116,1,A2,N,4395,34,...,NY,11101,7187296500,2016-01-03T00:00:00,40.564611,-74.131919,50.0,138.0,5.200150e+09,Oakwood-Oakwood Beach ...
2334268,STATEN ISLAND,5164775,13,CLARKE AVENUE,500262592,1,A2,N,7391,34,...,NY,11753,5163386000,2016-01-03T00:00:00,40.564611,-74.131919,50.0,138.0,5.200150e+09,Oakwood-Oakwood Beach ...
2401658,STATEN ISLAND,5164775,13,CLARKE AVENUE,500259837,1,A2,N,4391,34,...,NY,11753,5163386000,2016-01-03T00:00:00,40.564611,-74.131919,50.0,138.0,5.200150e+09,Oakwood-Oakwood Beach ...
2417700,STATEN ISLAND,5164775,13,CLARKE AVENUE,500752116,1,A2,N,4395,34,...,NY,11101,7187296500,2016-01-03T00:00:00,40.564611,-74.131919,50.0,138.0,5.200150e+09,Oakwood-Oakwood Beach ...

#### Same location but different jobs. Probably fine..

# Data Profilling for datetime columns


Find format problems and outliers in all datetime columns

Using openclean's sklearn modules to detect problems and outliers

In [97]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(column_name, eps_setting = 0.05):
    datetime_data = ds.distinct(column_name)
    print("Column: ",column_name)
    
    for rank, val in enumerate(datetime_data.most_common(10)):        
        st, freq = val
        print('{:<3} {:>8}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

    print('\nTotal number of distinct values in {} is {}'.format(column_name, len(datetime_data)))
    print(DBSCANOutliers().find(datetime_data))
    print(DBSCANOutliers(eps = eps_setting).find(datetime_data))
    print('\n==================================')

In [98]:
date_cols = []

print("Datetime Data columns:\n")
for col in ds.columns:
    if 'Date' in col or 'DATE' in col:
        print(col)
        date_cols.append(col)

print("----------------------------\n")        
        
for col in date_cols:
    findDateOutliers(col, 0.02)

Datetime Data columns:

Filing Date
Issuance Date
Expiration Date
Job Start Date
DOBRunDate
----------------------------

Column:  Filing Date
1.  2007-03-29T00:00:00         998
2.  2007-03-30T00:00:00         981
3.  2006-12-28T00:00:00         927
4.  2008-01-07T00:00:00         920
5.  2007-12-28T00:00:00         900
6.  2008-04-04T00:00:00         896
7.  2011-03-30T00:00:00         893
8.  2008-06-27T00:00:00         890
9.  2011-03-31T00:00:00         887
10. 2007-01-04T00:00:00         878

Total number of distinct values in Filing Date is 6415
[]
['2006-12-28T00:00:00', '2000-02-02T00:00:00', '2007-03-30T00:00:00', '2011-03-30T00:00:00', '2001-12-01T00:00:00', '2011-11-10T00:00:00', '2008-01-07T00:00:00', '2011-04-01T00:00:00', '2002-02-20T00:00:00', '2000-02-22T00:00:00', '2011-03-31T00:00:00', '2008-06-19T00:00:00', '2002-02-02T00:00:00', '2006-02-02T00:00:00', '2007-01-04T00:00:00', '2002-02-22T00:00:00', '2003-02-22T00:00:00', '2008-06-27T00:00:00', '2001-01-20T00:00:00', '1994-05-27T00:00:00', '2008-04-03T00:00:00', '2007-12-28T00:00:00', '2007-03-29T00:00:00', '2007-07-02T00:00:00', '2010-11-12T00:00:00', '1990-01-19T00:00:00', '2012-10-11T00:00:00', '2008-04-04T00:00:00']

==================================
Column:  Issuance Date
1.  2007-03-29T00:00:00         994
2.  2007-03-30T00:00:00         959
3.  2006-12-28T00:00:00         947
4.  2007-12-28T00:00:00         918
5.  2008-06-27T00:00:00         909
6.  2008-04-03T00:00:00         895
7.  2011-03-31T00:00:00         894
8.  2008-01-07T00:00:00         873
9.  2011-03-30T00:00:00         869
10. 2006-01-05T00:00:00         869

Total number of distinct values in Issuance Date is 6409
[]
['2006-12-28T00:00:00', '2000-02-02T00:00:00', '2007-03-30T00:00:00', '2011-11-10T00:00:00', '2002-02-20T00:00:00', '2000-02-22T00:00:00', '2011-03-31T00:00:00', '2008-04-16T00:00:00', '2008-06-19T00:00:00', '2002-02-02T00:00:00', '2006-02-02T00:00:00', '2002-02-22T00:00:00', '2008-06-27T00:00:00', '1994-05-27T00:00:00', '2008-04-03T00:00:00', '2007-12-28T00:00:00', '1997-05-28T00:00:00', '2007-03-29T00:00:00', '2007-07-02T00:00:00', '2010-11-12T00:00:00', '2012-10-11T00:00:00']

==================================
Column:  Expiration Date
1.  2007-12-31T00:00:00      18,638
2.  2006-12-31T00:00:00      18,065
3.  2005-12-31T00:00:00      16,359
4.  2004-12-31T00:00:00      13,974
5.  2009-04-01T00:00:00      11,426
6.  2003-12-31T00:00:00      10,472
7.  2010-04-01T00:00:00      10,205
8.  2007-04-01T00:00:00       9,778
9.  2008-04-01T00:00:00       9,732
10. 2006-04-01T00:00:00       9,599

Total number of distinct values in Expiration Date is 9025
['']
['', '1994-12-31T00:00:00', '2003-01-01T00:00:00', '1997-06-30T00:00:00', '2006-01-01T00:00:00', '2007-01-01T00:00:00', '2005-01-01T00:00:00', '2005-12-31T00:00:00', '1998-12-31T00:00:00', '2011-04-01T00:00:00', '2002-01-01T00:00:00', '1996-12-31T00:00:00', '2004-04-01T00:00:00', '2000-04-01T00:00:00', '2001-12-31T00:00:00', '2004-01-01T00:00:00', '2000-01-01T00:00:00', '2010-04-01T00:00:00', '2004-12-31T00:00:00', '2012-01-01T00:00:00', '2008-04-01T00:00:00', '2002-12-31T00:00:00', '1995-12-31T00:00:00', '1999-12-31T00:00:00', '2000-12-31T00:00:00', '2008-01-01T00:00:00', '2012-04-01T00:00:00', '2009-01-01T00:00:00', '1997-12-31T00:00:00', '2003-12-31T00:00:00', '1998-06-30T00:00:00', '2007-12-31T00:00:00', '2011-01-01T00:00:00', '2001-01-01T00:00:00', '2002-04-01T00:00:00', '2003-04-01T00:00:00', '1997-05-01T00:00:00', '2005-04-01T00:00:00', '1999-01-01T00:00:00', '2010-01-01T00:00:00', '1997-01-01T00:00:00', '2006-04-01T00:00:00', '2006-12-31T00:00:00', '2007-04-01T00:00:00', '2009-04-01T00:00:00']

==================================
Column:  Job Start Date
1.  2008-06-27T00:00:00       1,376
2.  2008-06-25T00:00:00       1,095
3.  2007-07-17T00:00:00       1,077
4.  2004-06-09T00:00:00       1,063
5.  2008-07-29T00:00:00       1,051
6.  2008-07-30T00:00:00       1,045
7.  2008-06-26T00:00:00       1,022
8.  2008-06-24T00:00:00         996
9.  2005-07-28T00:00:00         978
10. 2008-06-19T00:00:00         972

Total number of distinct values in Job Start Date is 7476
['', '//*']
['', '2000-02-02T00:00:00', '2008-06-24T00:00:00', '2007-07-20T00:00:00', '41/84/2003', '2005-05-20T00:00:00', '2006-09-15T00:00:00', '61/97/2000', '2002-02-20T00:00:00', '2000-02-22T00:00:00', '04/31/2005', '01/30/1006', '2008-06-19T00:00:00', '2006-06-20T00:00:00', '2006-06-22T00:00:00', '2007-07-27T00:00:00', '2006-06-06T00:00:00', '2002-02-02T00:00:00', '2002-11-20T00:00:00', '2002-02-22T00:00:00', '2007-07-17T00:00:00', '06/00/2000', '00/09/2007', '2008-06-27T00:00:00', '1994-05-27T00:00:00', '71//3231', '2008-07-29T00:00:00', '2000-02-20T00:00:00', '2008-07-30T00:00:00', '2008-07-31T00:00:00', '1997-05-28T00:00:00', '2008-06-25T00:00:00', '2004-06-09T00:00:00', '2008-06-26T00:00:00', '00/08/2000', '2007-07-02T00:00:00', '//*']

==================================
Column:  DOBRunDate
1.  2016-01-03T00:00:00   2,428,526

Total number of distinct values in DOBRunDate is 1
['2016-01-03T00:00:00']
['2016-01-03T00:00:00']

==================================

# Remember that after changing some of the column names, there are some columns that are also datetime data:

"Paid": "Paid Date"\
"Fully Paid": "Fully Paid Date"\
"Assigned": "Assigned Date"\
"Approved": "Approved Date"\
"Pre- Filing Date": "Pre-Filing Date"\
"DOBRunDate": "D O B Run Date"\
"SIGNOFF_DATE": "Signoff Date"\
"SPECIAL_ACTION_DATE": "Special Action Date"\

In [99]:
# takes awhile to run

In [100]:
date_cols = ["Filing Date","Issuance Date","Expiration Date","Job Start Date", "DOBRunDate"]

for col in date_cols:
    findDateOutliers(col, 0.02)

Column:  Filing Date
1.  2007-03-29T00:00:00         998
2.  2007-03-30T00:00:00         981
3.  2006-12-28T00:00:00         927
4.  2008-01-07T00:00:00         920
5.  2007-12-28T00:00:00         900
6.  2008-04-04T00:00:00         896
7.  2011-03-30T00:00:00         893
8.  2008-06-27T00:00:00         890
9.  2011-03-31T00:00:00         887
10. 2007-01-04T00:00:00         878

Total number of distinct values in Filing Date is 6415
[]
['2006-12-28T00:00:00', '2000-02-02T00:00:00', '2007-03-30T00:00:00', '2011-03-30T00:00:00', '2001-12-01T00:00:00', '2011-11-10T00:00:00', '2008-01-07T00:00:00', '2011-04-01T00:00:00', '2002-02-20T00:00:00', '2000-02-22T00:00:00', '2011-03-31T00:00:00', '2008-06-19T00:00:00', '2002-02-02T00:00:00', '2006-02-02T00:00:00', '2007-01-04T00:00:00', '2002-02-22T00:00:00', '2003-02-22T00:00:00', '2008-06-27T00:00:00', '2001-01-20T00:00:00', '1994-05-27T00:00:00', '2008-04-03T00:00:00', '2007-12-28T00:00:00', '2007-03-29T00:00:00', '2007-07-02T00:00:00', '2010-11-12T00:00:00', '1990-01-19T00:00:00', '2012-10-11T00:00:00', '2008-04-04T00:00:00']

==================================
Column:  Issuance Date
1.  2007-03-29T00:00:00         994
2.  2007-03-30T00:00:00         959
3.  2006-12-28T00:00:00         947
4.  2007-12-28T00:00:00         918
5.  2008-06-27T00:00:00         909
6.  2008-04-03T00:00:00         895
7.  2011-03-31T00:00:00         894
8.  2008-01-07T00:00:00         873
9.  2011-03-30T00:00:00         869
10. 2006-01-05T00:00:00         869

Total number of distinct values in Issuance Date is 6409
[]
['2006-12-28T00:00:00', '2000-02-02T00:00:00', '2007-03-30T00:00:00', '2011-11-10T00:00:00', '2002-02-20T00:00:00', '2000-02-22T00:00:00', '2011-03-31T00:00:00', '2008-04-16T00:00:00', '2008-06-19T00:00:00', '2002-02-02T00:00:00', '2006-02-02T00:00:00', '2002-02-22T00:00:00', '2008-06-27T00:00:00', '1994-05-27T00:00:00', '2008-04-03T00:00:00', '2007-12-28T00:00:00', '1997-05-28T00:00:00', '2007-03-29T00:00:00', '2007-07-02T00:00:00', '2010-11-12T00:00:00', '2012-10-11T00:00:00']

==================================
Column:  Expiration Date
1.  2007-12-31T00:00:00      18,638
2.  2006-12-31T00:00:00      18,065
3.  2005-12-31T00:00:00      16,359
4.  2004-12-31T00:00:00      13,974
5.  2009-04-01T00:00:00      11,426
6.  2003-12-31T00:00:00      10,472
7.  2010-04-01T00:00:00      10,205
8.  2007-04-01T00:00:00       9,778
9.  2008-04-01T00:00:00       9,732
10. 2006-04-01T00:00:00       9,599

Total number of distinct values in Expiration Date is 9025
['']
['', '1994-12-31T00:00:00', '2003-01-01T00:00:00', '1997-06-30T00:00:00', '2006-01-01T00:00:00', '2007-01-01T00:00:00', '2005-01-01T00:00:00', '2005-12-31T00:00:00', '1998-12-31T00:00:00', '2011-04-01T00:00:00', '2002-01-01T00:00:00', '1996-12-31T00:00:00', '2004-04-01T00:00:00', '2000-04-01T00:00:00', '2001-12-31T00:00:00', '2004-01-01T00:00:00', '2000-01-01T00:00:00', '2010-04-01T00:00:00', '2004-12-31T00:00:00', '2012-01-01T00:00:00', '2008-04-01T00:00:00', '2002-12-31T00:00:00', '1995-12-31T00:00:00', '1999-12-31T00:00:00', '2000-12-31T00:00:00', '2008-01-01T00:00:00', '2012-04-01T00:00:00', '2009-01-01T00:00:00', '1997-12-31T00:00:00', '2003-12-31T00:00:00', '1998-06-30T00:00:00', '2007-12-31T00:00:00', '2011-01-01T00:00:00', '2001-01-01T00:00:00', '2002-04-01T00:00:00', '2003-04-01T00:00:00', '1997-05-01T00:00:00', '2005-04-01T00:00:00', '1999-01-01T00:00:00', '2010-01-01T00:00:00', '1997-01-01T00:00:00', '2006-04-01T00:00:00', '2006-12-31T00:00:00', '2007-04-01T00:00:00', '2009-04-01T00:00:00']

==================================
Column:  Job Start Date
1.  2008-06-27T00:00:00       1,376
2.  2008-06-25T00:00:00       1,095
3.  2007-07-17T00:00:00       1,077
4.  2004-06-09T00:00:00       1,063
5.  2008-07-29T00:00:00       1,051
6.  2008-07-30T00:00:00       1,045
7.  2008-06-26T00:00:00       1,022
8.  2008-06-24T00:00:00         996
9.  2005-07-28T00:00:00         978
10. 2008-06-19T00:00:00         972

Total number of distinct values in Job Start Date is 7476
['', '//*']
['', '2000-02-02T00:00:00', '2008-06-24T00:00:00', '2007-07-20T00:00:00', '41/84/2003', '2005-05-20T00:00:00', '2006-09-15T00:00:00', '61/97/2000', '2002-02-20T00:00:00', '2000-02-22T00:00:00', '04/31/2005', '01/30/1006', '2008-06-19T00:00:00', '2006-06-20T00:00:00', '2006-06-22T00:00:00', '2007-07-27T00:00:00', '2006-06-06T00:00:00', '2002-02-02T00:00:00', '2002-11-20T00:00:00', '2002-02-22T00:00:00', '2007-07-17T00:00:00', '06/00/2000', '00/09/2007', '2008-06-27T00:00:00', '1994-05-27T00:00:00', '71//3231', '2008-07-29T00:00:00', '2000-02-20T00:00:00', '2008-07-30T00:00:00', '2008-07-31T00:00:00', '1997-05-28T00:00:00', '2008-06-25T00:00:00', '2004-06-09T00:00:00', '2008-06-26T00:00:00', '00/08/2000', '2007-07-02T00:00:00', '//*']

==================================
Column:  DOBRunDate
1.  2016-01-03T00:00:00   2,428,526

Total number of distinct values in DOBRunDate is 1
['2016-01-03T00:00:00']
['2016-01-03T00:00:00']

==================================

# Data Cleaning for outliers in datetime columns

## Fixing Datetime columns format

In [101]:
datetime_column_list =["Filing Date","Issuance Date","Expiration Date","Job Start Date", "D O B Run Date"]
for col in datetime_column_list:
    show_vals(col)

Top 10 Filing Date:

2007-03-29T00:00:00    998
2007-03-30T00:00:00    981
2006-12-28T00:00:00    927
2008-01-07T00:00:00    920
2007-12-28T00:00:00    900
2008-04-04T00:00:00    896
2011-03-30T00:00:00    893
2008-06-27T00:00:00    890
2011-03-31T00:00:00    887
2007-01-04T00:00:00    878
Name: Filing Date, dtype: int64

Top 10 Issuance Date:

2007-03-29T00:00:00    994
2007-03-30T00:00:00    959
2006-12-28T00:00:00    947
2007-12-28T00:00:00    918
2008-06-27T00:00:00    909
2008-04-03T00:00:00    895
2011-03-31T00:00:00    894
2008-01-07T00:00:00    873
2006-01-05T00:00:00    869
2011-03-30T00:00:00    869
Name: Issuance Date, dtype: int64

Top 10 Expiration Date:

2007-12-31T00:00:00    18638
2006-12-31T00:00:00    18065
2005-12-31T00:00:00    16359
2004-12-31T00:00:00    13974
2009-04-01T00:00:00    11426
2003-12-31T00:00:00    10472
2010-04-01T00:00:00    10205
2007-04-01T00:00:00     9778
2008-04-01T00:00:00     9732
2006-04-01T00:00:00     9599
Name: Expiration Date, dtype: int64

Top 10 Job Start Date:

2008-06-27T00:00:00    1376
2008-06-25T00:00:00    1095
2007-07-17T00:00:00    1077
2004-06-09T00:00:00    1063
2008-07-29T00:00:00    1051
2008-07-30T00:00:00    1045
2008-06-26T00:00:00    1022
2008-06-24T00:00:00     996
2005-07-28T00:00:00     978
2008-06-19T00:00:00     972
Name: Job Start Date, dtype: int64

Top 10 D O B Run Date:

2016-01-03T00:00:00    2428524
Name: D O B Run Date, dtype: int64

Check to see if any columns have values in year-month-day format

In [102]:
for col in datetime_column_list:
    print(col, '\n', df.loc[df[col].str.contains('-', regex=False, na=False)][col], '\n\n')

Filing Date
 0          2010-11-05T00:00:00
1          2012-01-30T00:00:00
2          2008-02-04T00:00:00
3          1998-08-31T00:00:00
4          2007-04-30T00:00:00
                  ...
2428521    2003-10-08T00:00:00
2428522    1996-07-29T00:00:00
2428523    1999-07-09T00:00:00
2428524    1996-06-25T00:00:00
2428525    1999-09-20T00:00:00
Name: Filing Date, Length: 2428524, dtype: object


Issuance Date
 0          2010-11-05T00:00:00
1          2012-01-30T00:00:00
2          2008-02-04T00:00:00
3          1998-08-31T00:00:00
4          2007-04-30T00:00:00
                  ...
2428521    2003-10-08T00:00:00
2428522    1997-07-28T00:00:00
2428523    1999-07-09T00:00:00
2428524    1996-06-25T00:00:00
2428525    1999-09-20T00:00:00
Name: Issuance Date, Length: 2428524, dtype: object


Expiration Date
 0          2011-11-05T00:00:00
1          2013-01-29T00:00:00
2          2009-02-03T00:00:00
3          1999-08-31T00:00:00
4          2008-01-08T00:00:00
                  ...
2428521    2004-04-24T00:00:00
2428522    1998-07-10T00:00:00
2428523    2000-07-08T00:00:00
2428524    1997-06-07T00:00:00
2428525    2000-01-01T00:00:00
Name: Expiration Date, Length: 2428520, dtype: object


Job Start Date
 0          2010-11-05T00:00:00
1          2002-08-08T00:00:00
2          2005-08-29T00:00:00
3          1998-08-31T00:00:00
4          2007-04-30T00:00:00
                  ...
2428521    2003-10-08T00:00:00
2428522    1996-07-29T00:00:00
2428523    1999-07-09T00:00:00
2428524    1994-08-09T00:00:00
2428525    1999-09-20T00:00:00
Name: Job Start Date, Length: 2428500, dtype: object


D O B Run Date
 0          2016-01-03T00:00:00
1          2016-01-03T00:00:00
2          2016-01-03T00:00:00
3          2016-01-03T00:00:00
4          2016-01-03T00:00:00
                  ...
2428521    2016-01-03T00:00:00
2428522    2016-01-03T00:00:00
2428523    2016-01-03T00:00:00
2428524    2016-01-03T00:00:00
2428525    2016-01-03T00:00:00
Name: D O B Run Date, Length: 2428524, dtype: object

#### Fix D O B Run Date formatting issues
D O B Run Date and Filing Date both have values in multiple datetime formats

We want all the dates to be in a standard year-month-day datetime format, so we'll seperately convert the values not in this format, and in this format to datetime objects

In [103]:
df.loc[~df['D O B Run Date'].str.contains('-', regex=False), 'D O B Run Date'] = pd.to_datetime(
    df.loc[~df['D O B Run Date'].str.contains('-', regex=False)]['D O B Run Date'], infer_datetime_format=True, errors='coerce')

This mapped most of our values to datetimes, now just need to map the rest

In [104]:
df.loc[:,'D O B Run Date'] = pd.to_datetime(
    df['D O B Run Date'], infer_datetime_format=True, errors='coerce')

In [105]:
df['D O B Run Date']

0         2016-01-03
1         2016-01-03
2         2016-01-03
3         2016-01-03
4         2016-01-03
             ...
2428521   2016-01-03
2428522   2016-01-03
2428523   2016-01-03
2428524   2016-01-03
2428525   2016-01-03
Name: D O B Run Date, Length: 2428524, dtype: datetime64[ns]

In [106]:
df['D O B Run Date'].value_counts()

2016-01-03    2428524
Name: D O B Run Date, dtype: int64

#### Fix Filing Date formatting issues

We'll use the same method as above

In [107]:
df.loc[~df['Filing Date'].str.contains('-', regex=False), 'Filing Date'] = pd.to_datetime(
    df.loc[~df['Filing Date'].str.contains('-', regex=False)]['Filing Date'], infer_datetime_format=True, errors='coerce')

In [108]:
df.loc[:,'Filing Date'] = pd.to_datetime(
    df['Filing Date'], infer_datetime_format=True, errors='coerce')

In [109]:
df['Filing Date']

0         2010-11-05
1         2012-01-30
2         2008-02-04
3         1998-08-31
4         2007-04-30
             ...
2428521   2003-10-08
2428522   1996-07-29
2428523   1999-07-09
2428524   1996-06-25
2428525   1999-09-20
Name: Filing Date, Length: 2428524, dtype: datetime64[ns]

In [110]:
df['Filing Date'].value_counts()

2007-03-29    998
2007-03-30    981
2006-12-28    927
2008-01-07    920
2007-12-28    900
             ...
2011-11-08      1
2012-02-25      1
2011-12-24      1
2008-09-06      1
2003-10-18      1
Name: Filing Date, Length: 6415, dtype: int64

These should all be proper datetime64[ns] columns now:

In [111]:
df.select_dtypes(include='datetime')

        Filing Date D O B Run Date
0        2010-11-05     2016-01-03
1        2012-01-30     2016-01-03
2        2008-02-04     2016-01-03
3        1998-08-31     2016-01-03
4        2007-04-30     2016-01-03
...             ...            ...
2428521  2003-10-08     2016-01-03
2428522  1996-07-29     2016-01-03
2428523  1999-07-09     2016-01-03
2428524  1996-06-25     2016-01-03
2428525  1999-09-20     2016-01-03

[2428524 rows x 2 columns]

In [112]:
for col in datetime_column_list:
    show_vals(col)

Top 10 Filing Date:

2007-03-29    998
2007-03-30    981
2006-12-28    927
2008-01-07    920
2007-12-28    900
2008-04-04    896
2011-03-30    893
2008-06-27    890
2011-03-31    887
2007-01-04    878
Name: Filing Date, dtype: int64

Top 10 Issuance Date:

2007-03-29T00:00:00    994
2007-03-30T00:00:00    959
2006-12-28T00:00:00    947
2007-12-28T00:00:00    918
2008-06-27T00:00:00    909
2008-04-03T00:00:00    895
2011-03-31T00:00:00    894
2008-01-07T00:00:00    873
2006-01-05T00:00:00    869
2011-03-30T00:00:00    869
Name: Issuance Date, dtype: int64

Top 10 Expiration Date:

2007-12-31T00:00:00    18638
2006-12-31T00:00:00    18065
2005-12-31T00:00:00    16359
2004-12-31T00:00:00    13974
2009-04-01T00:00:00    11426
2003-12-31T00:00:00    10472
2010-04-01T00:00:00    10205
2007-04-01T00:00:00     9778
2008-04-01T00:00:00     9732
2006-04-01T00:00:00     9599
Name: Expiration Date, dtype: int64

Top 10 Job Start Date:

2008-06-27T00:00:00    1376
2008-06-25T00:00:00    1095
2007-07-17T00:00:00    1077
2004-06-09T00:00:00    1063
2008-07-29T00:00:00    1051
2008-07-30T00:00:00    1045
2008-06-26T00:00:00    1022
2008-06-24T00:00:00     996
2005-07-28T00:00:00     978
2008-06-19T00:00:00     972
Name: Job Start Date, dtype: int64

Top 10 D O B Run Date:

2016-01-03    2428524
Name: D O B Run Date, dtype: int64

# Data Profilling for City and Other Description

Find format problems and outliers in City and Description columns

Using openclean's sklearn modules to detect problems and outliers

In [113]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

# Print the ten most frequent values for the 'Vehicle Expiration Date' column.
def findDateOutliers(column_name, eps_setting = 0.05):
    applicant_data = ds.distinct(column_name)
    print("Column: ",column_name)
    
    for rank, val in enumerate(applicant_data.most_common(10)):        
        st, freq = val
        print('{:<3} {:>8}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

    print('\nTotal number of distinct values in {} is {}'.format(column_name, len(applicant_data)))
    print(DBSCANOutliers(eps = eps_setting).find(applicant_data))
    print('\n==================================')

# Data Cleaning for Applicant columns

* how to deal with empty values has not decided yet

# Transform all city names to upper case

### Remember that we have changed some column names:
"City ": "Owner's House City"\
"State": "Owner’s House State"

In [114]:
df["Owner'S House City"] = df["Owner'S House City"].str.upper()

# Convert similar values to suggested value using kNN clustering

In [115]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(col, minsize = 2, preds = 0.5):
    dba = ds.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(preds)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0
    print('Cluster {} (of size {})\n'.format(cnumber, len(cluster)))
    for val, count in cluster.items():
        item_count += 1
        if item_count <= 10:
            print('{} ({})'.format(val, count))
    if item_count>10:
        print(".......{} more items".format(item_count-10))
    print('\nSuggested value: {}\n\n'.format(cluster.suggestion()))

def updateUsingClusters(col, clusters, isPrint = False):
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i <5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
    
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [116]:
# too laggy so didn't use

# Check State Column

In [117]:
df.columns

Index(['Borough', 'Bin', 'Number', 'Street', 'Job Number', 'Job Doc Number',
       'Job Type', 'Self  Cert', 'Block', 'Lot', 'Community Board', 'Postcode',
       'Bldg Type', 'Residential', 'Special District 1', 'Special District 2',
       'Work Type', 'Permit Status', 'Filing Status', 'Permit Type',
       'Permit Sequence Number', 'Permit Subtype', 'Oil Gas', 'Site Fill',
       'Filing Date', 'Issuance Date', 'Expiration Date', 'Job Start Date',
       'Permittee'S First Name', 'Permittee'S Last Name',
       'Permittee'S Business Name', 'Permittee'S Phone Number',
       'Permittee'S License Type', 'Permittee'S License Number',
       'Act As Superintendent', 'Permittee'S Other Title', 'H I C License',
       'Site Safety Mgr'S First Name', 'Site Safety Mgr'S Last Name',
       'Site Safety Mgr Business Name', 'Superintendent First & Last Name',
       'Superintendent Business Name', 'Owner'S Business Type',
       'Numbern- Profit', 'Owner'S Business Name', 'Owner'S First Name',
       'Owner'S Last Name', 'Owner'S House Number',
       'Owner'S House Street Name', 'Owner'S House City',
       'Owner'S House State', 'Owner'S House Zip Code', 'Owner'S Phone Number',
       'D O B Run Date', 'Latitude', 'Longitude', 'Council District',
       'Census Tract', 'Bbl', 'Nta'],
      dtype='object')

In [118]:
ds.columns

['BOROUGH',
 'BIN',
 'Number',
 'Street',
 'Job #',
 'Job doc. #',
 'Job Type',
 'Self_Cert',
 'Block',
 'Lot',
 'Community Board',
 'Postcode',
 'Bldg Type',
 'Residential',
 'Special District 1',
 'Special District 2',
 'Work Type',
 'Permit Status',
 'Filing Status',
 'Permit Type',
 'Permit Sequence #',
 'Permit Subtype',
 'Oil Gas',
 'Site Fill',
 'Filing Date',
 'Issuance Date',
 'Expiration Date',
 'Job Start Date',
 "Permittee's First Name",
 "Permittee's Last Name",
 "Permittee's Business Name",
 "Permittee's Phone #",
 "Permittee's License Type",
 "Permittee's License #",
 'Act as Superintendent',
 "Permittee's Other Title",
 'HIC License',
 "Site Safety Mgr's First Name",
 "Site Safety Mgr's Last Name",
 'Site Safety Mgr Business Name',
 'Superintendent First & Last Name',
 'Superintendent Business Name',
 "Owner's Business Type",
 'Non-Profit',
 "Owner's Business Name",
 "Owner's First Name",
 "Owner's Last Name",
 "Owner's House #",
 "Owner's House Street Name",
 'Ownerâ€™s House City',
 'Ownerâ€™s House State',
 'Ownerâ€™s House Zip Code',
 "Owner's Phone #",
 'DOBRunDate',
 'Latitude',
 'Longitude',
 'Council District',
 'Census Tract',
 'BBL',
 'NTA']

In [119]:
state_col = "Ownerâ€™s House State"
findDateOutliers(state_col, 0.1)

Column:  Ownerâ€™s House State
1.        NY   2,216,177
2.               157,133
3.        NJ      29,283
4.        CT       3,165
5.        PA       3,077
6.        FL       2,916
7.        CA       2,547
8.        IL       1,660
9.        MA       1,584
10.       NC       1,493

Total number of distinct values in Ownerâ€™s House State is 58
['', 'NY', 'Ã¯Â¿Â½Ã¯Â¿Â½']

==================================

In [120]:
ds.select('Ownerâ€™s House State').distinct()

Counter({'': 157133,
         'NY': 2216177,
         'PA': 3077,
         'NJ': 29283,
         'CT': 3165,
         'IL': 1660,
         'NC': 1493,
         'MN': 165,
         'KY': 114,
         'MA': 1584,
         'GA': 627,
         'FL': 2916,
         'TX': 846,
         'SC': 153,
         'AZ': 343,
         'OH': 1142,
         'WA': 185,
         'CA': 2547,
         'UT': 220,
         'NM': 118,
         'MD': 875,
         'VA': 1136,
         'TN': 202,
         'NV': 529,
         'CO': 369,
         'RI': 649,
         'MI': 189,
         'MS': 8,
         'PR': 12,
         'AR': 26,
         'WI': 98,
         'NH': 303,
         'KS': 57,
         'DC': 385,
         'IN': 71,
         'MO': 120,
         'WY': 3,
         'AK': 17,
         'CN': 5,
         'WV': 12,
         'DE': 143,
         'IA': 56,
         'VT': 57,
         'NE': 53,
         'ID': 6,
         'ME': 25,
         'MT': 5,
         'LA': 29,
         'AL': 40,
         'FQ': 1,
         'OR': 21,
         'OK': 37,
         'sw': 2,
         'ND': 16,
         'Ã¯Â¿Â½Ã¯Â¿Â½': 1,
         'SD': 8,
         'HI': 11,
         'ON': 1})

# Find functional dependencies violations on City -> State

In [121]:
from openclean.operator.collector.count import distinct
from openclean.operator.map.violations import fd_violations

groups = fd_violations(df, lhs="Owner'S House City", rhs="Owner'S House State")

print('City         \t|            State')
print('=============\t|  ===============')
for key in groups:
    conflicts = distinct(groups.get(key), "Owner'S House State").most_common()
    state, count = conflicts[0]
    print('{:<12} \t| {} x {}'.format(key, count, state))
    for state, count in conflicts[1:]:
        print('             \t| {} x {}'.format(count, state))
    print('-------------\t|  ---------------')

City         	|            State
=============	|  ===============
nan          	| 157032 x nan
             	| 129 x NY
             	| 6 x NJ
             	| 3 x RI
-------------	|  ---------------
BRONX        	| 92906 x NY
             	| 82 x NC
             	| 17 x NV
             	| 15 x NM
             	| 5 x NH
             	| 3 x NJ
             	| 1 x NE
-------------	|  ---------------
BROOKLYN     	| 300042 x NY
             	| 250 x NC
             	| 135 x NV
             	| 63 x nan
             	| 22 x NJ
             	| 1 x NM
             	| 1 x NE
             	| 1 x NH
             	| 1 x OH
-------------	|  ---------------
MANHATTAN    	| 12710 x NY
             	| 5 x NC
             	| 1 x OR
             	| 1 x NV
             	| 1 x CA
-------------	|  ---------------
NEW YORK     	| 677593 x NY
             	| 252 x NC
             	| 121 x NV
             	| 40 x NJ
             	| 17 x NE
             	| 8 x NM
             	| 6 x TN
             	| 5 x nan
             	| 4 x OH
             	| 4 x NH
             	| 3 x MN
             	| 2 x DE
             	| 1 x VA
             	| 1 x MD
             	| 1 x MA
-------------	|  ---------------
WHITE PLAINS 	| 3455 x NY
             	| 3 x NC
             	| 2 x NV
-------------	|  ---------------
WAYNE        	| 278 x PA
             	| 188 x NJ
             	| 6 x NY
             	| 2 x NC
-------------	|  ---------------
RIDGEWOOD    	| 4878 x NY
             	| 63 x NJ
             	| 1 x NC
-------------	|  ---------------
SCARSDALE    	| 1809 x NY
             	| 4 x NC
-------------	|  ---------------
KEW GARDENS  	| 6885 x NY
             	| 2 x NJ
-------------	|  ---------------
NY           	| 204659 x NY
             	| 60 x NC
             	| 33 x NV
             	| 28 x NH
             	| 21 x NJ
             	| 6 x DC
             	| 5 x ND
             	| 5 x CA
             	| 4 x NM
             	| 3 x OH
             	| 2 x PA
             	| 2 x MA
             	| 1 x FL
             	| 1 x VT
             	| 1 x GA
-------------	|  ---------------
FOREST HILLS 	| 16482 x NY
             	| 4 x NH
             	| 4 x NJ
-------------	|  ---------------
JACKSON      	| 52 x NJ
             	| 48 x NY
-------------	|  ---------------
ASTORIA      	| 19854 x NY
             	| 12 x NC
             	| 2 x NJ
             	| 1 x NV
-------------	|  ---------------
N.Y.         	| 16720 x NY
             	| 13 x NH
             	| 1 x NJ
-------------	|  ---------------
RIVERDALE    	| 1571 x NY
             	| 4 x NJ
-------------	|  ---------------
FLUSHING     	| 49906 x NY
             	| 62 x NC
             	| 4 x NV
             	| 3 x NH
             	| 2 x NM
             	| 2 x OK
-------------	|  ---------------
BELLEROSE    	| 4311 x NY
             	| 3 x NC
             	| 2 x NJ
-------------	|  ---------------
BROOKYLN     	| 663 x NY
             	| 6 x NC
-------------	|  ---------------
LIC          	| 46020 x NY
             	| 26 x NC
             	| 4 x NV
-------------	|  ---------------
WOODCLIFF    	| 31 x NJ
             	| 5 x NY
-------------	|  ---------------
PINE BUSH    	| 11 x CT
             	| 2 x NY
-------------	|  ---------------
NYC          	| 28899 x NY
             	| 19 x NC
             	| 10 x NV
             	| 2 x OH
             	| 1 x NJ
-------------	|  ---------------
EASTCHESTER  	| 473 x NY
             	| 7 x NV
-------------	|  ---------------
FLORAL PARK  	| 6560 x NY
             	| 7 x NC
             	| 5 x NJ
-------------	|  ---------------
FREEHOLD     	| 277 x NJ
             	| 36 x NY
             	| 2 x CT
-------------	|  ---------------
PLEASANTVILLE 	| 148 x NY
             	| 3 x NJ
-------------	|  ---------------
FRESH MEADOWS 	| 6043 x NY
             	| 3 x NV
             	| 1 x NC
-------------	|  ---------------
RICHMOND HILL 	| 11800 x NY
             	| 3 x NV
             	| 3 x NC
-------------	|  ---------------
NORWALK      	| 139 x CT
             	| 24 x NY
             	| 2 x CN
             	| 2 x CO
-------------	|  ---------------
QUEENS VILLAGE 	| 6906 x NY
             	| 5 x NV
             	| 2 x NC
-------------	|  ---------------
HARRISON     	| 1073 x NY
             	| 12 x NJ
-------------	|  ---------------
DEERFIELD    	| 298 x IL
             	| 12 x NY
             	| 12 x FL
-------------	|  ---------------
JAMAICA      	| 33952 x NY
             	| 39 x NC
             	| 15 x nan
             	| 14 x NV
-------------	|  ---------------
VALLEY STREAM 	| 4363 x NY
             	| 12 x NC
-------------	|  ---------------
QUEENS       	| 96108 x NY
             	| 50 x NC
             	| 12 x NV
             	| 4 x NJ
             	| 2 x CT
             	| 2 x NH
             	| 1 x ND
             	| 1 x ON
-------------	|  ---------------
LONG ISLAND  	| 903 x NY
             	| 4 x NV
-------------	|  ---------------
NORTH BERGEN 	| 405 x NJ
             	| 27 x NY
             	| 2 x NC
-------------	|  ---------------
FORT LEE     	| 1109 x NJ
             	| 103 x NY
             	| 3 x NC
             	| 1 x NH
-------------	|  ---------------
WINDSOR      	| 7 x CT
             	| 5 x NJ
             	| 5 x NY
-------------	|  ---------------
OZONE PARK   	| 6350 x NY
             	| 6 x NC
             	| 1 x NV
-------------	|  ---------------
GREAT NECK   	| 16432 x NY
             	| 8 x NJ
             	| 7 x NV
             	| 4 x NC
-------------	|  ---------------
SOMERS       	| 49 x NY
             	| 1 x CT
-------------	|  ---------------
NEW ROCHELLE 	| 3590 x NY
             	| 6 x NC
             	| 3 x NJ
-------------	|  ---------------
FLORAM PARK  	| 3 x NJ
             	| 2 x NY
-------------	|  ---------------
HAUPPAUGE    	| 599 x NY
             	| 1 x NC
-------------	|  ---------------
ENGLEWOOD CLIFF 	| 699 x NJ
             	| 35 x NY
-------------	|  ---------------
BAYSIDE      	| 16912 x NY
             	| 26 x NC
             	| 3 x NJ
             	| 1 x NV
-------------	|  ---------------
STATEN ISLAND 	| 79503 x NY
             	| 23 x NC
             	| 7 x NJ
             	| 3 x NH
             	| 2 x NV
-------------	|  ---------------
L.I.C        	| 2162 x NY
             	| 1 x NJ
-------------	|  ---------------
SEAFORD      	| 125 x NY
             	| 1 x DE
-------------	|  ---------------
PARSIPPANY   	| 1213 x NJ
             	| 58 x NY
             	| 4 x NH
-------------	|  ---------------
BKLYN        	| 48682 x NY
             	| 11 x NM
             	| 7 x NH
             	| 6 x NC
-------------	|  ---------------
DARIEN       	| 65 x CT
             	| 2 x CO
-------------	|  ---------------
LAKE SUCCESS 	| 2267 x NY
             	| 1 x TX
-------------	|  ---------------
WHITESTONE   	| 10702 x NY
             	| 9 x NC
             	| 2 x NH
-------------	|  ---------------
CAMP HILL    	| 87 x PA
             	| 11 x NY
-------------	|  ---------------
ALPINE       	| 107 x NJ
             	| 5 x NY
-------------	|  ---------------
PHILADELPHIA 	| 663 x PA
             	| 34 x NY
-------------	|  ---------------
MASPETH      	| 7179 x NY
             	| 9 x NC
             	| 1 x NJ
-------------	|  ---------------
MINNEAPOLIS  	| 85 x MN
             	| 8 x NY
-------------	|  ---------------
LOUISVILLE   	| 104 x KY
             	| 3 x NY
             	| 1 x TN
-------------	|  ---------------
GARDEN CITY  	| 2878 x NY
             	| 36 x NJ
             	| 8 x NV
             	| 1 x CA
-------------	|  ---------------
CORONA       	| 8232 x NY
             	| 25 x NC
             	| 2 x NV
             	| 1 x CA
-------------	|  ---------------
PORT WASHINGTON 	| 1338 x NY
             	| 1 x WI
-------------	|  ---------------
BOSTON       	| 422 x MA
             	| 19 x NY
-------------	|  ---------------
JACKSON HEIGHTS 	| 6598 x NY
             	| 5 x NJ
             	| 4 x NV
-------------	|  ---------------
OAKLAND      	| 29 x NJ
             	| 24 x NY
             	| 13 x CA
-------------	|  ---------------
NEW HYDE PARK 	| 4260 x NY
             	| 1 x NV
-------------	|  ---------------
EDGEWATER    	| 65 x NJ
             	| 6 x NY
-------------	|  ---------------
NEWARK       	| 1461 x NJ
             	| 57 x NY
             	| 4 x DE
             	| 4 x NC
-------------	|  ---------------
JERSEY CITY  	| 1542 x NJ
             	| 120 x NY
-------------	|  ---------------
HEMPSTEAD    	| 891 x NY
             	| 21 x NC
-------------	|  ---------------

STAMFORD     	| 343 x CT
             	| 17 x NY
             	| 3 x CO
             	| 2 x VT
-------------	|  ---------------
MONSEY       	| 644 x NY
             	| 1 x NJ
-------------	|  ---------------
NEW YORK,    	| 3965 x NY
             	| 5 x NC
-------------	|  ---------------
VERONA       	| 13 x NJ
             	| 2 x CA
-------------	|  ---------------
SARASOTA     	| 43 x FL
             	| 1 x NY
-------------	|  ---------------
SO. PLAINFIELD 	| 51 x NJ
             	| 1 x NY
-------------	|  ---------------
HUNTINGTON   	| 782 x NY
             	| 6 x WV
             	| 2 x PA
             	| 1 x CT
-------------	|  ---------------
LAWRENCE     	| 855 x NY
             	| 2 x KS
-------------	|  ---------------
EAST MEADOW  	| 543 x NY
             	| 7 x NJ
-------------	|  ---------------
ROSEDALE     	| 5666 x NY
             	| 35 x NC
             	| 3 x NJ
-------------	|  ---------------
SUFFERN      	| 228 x NY
             	| 1 x NJ
             	| 1 x NC
-------------	|  ---------------
REGO PARK    	| 7912 x NY
             	| 4 x NH
             	| 2 x NC
             	| 1 x NJ
-------------	|  ---------------
HARTSDALE    	| 3372 x NY
             	| 13 x NC
-------------	|  ---------------
PLANO        	| 86 x TX
             	| 3 x NY
-------------	|  ---------------
FLORHAM PARK 	| 179 x NJ
             	| 7 x NY
-------------	|  ---------------
HOLLIS       	| 4914 x NY
             	| 4 x NV
             	| 3 x NC
-------------	|  ---------------
MAHWAH       	| 66 x NJ
             	| 5 x NY
-------------	|  ---------------
WOODBRIDGE   	| 765 x NJ
             	| 37 x CT
             	| 35 x NY
-------------	|  ---------------
PHOENIX      	| 171 x AZ
             	| 4 x NY
             	| 2 x AR
             	| 1 x NJ
-------------	|  ---------------
COLUMBUS     	| 391 x OH
             	| 34 x GA
             	| 24 x NJ
             	| 13 x NY
             	| 4 x IN
             	| 3 x NC
-------------	|  ---------------
ELMSFORD     	| 243 x NY
             	| 5 x NC
-------------	|  ---------------
PLAINVIEW    	| 1282 x NY
             	| 5 x NJ
             	| 1 x CT
-------------	|  ---------------
WOODHAVEN    	| 1686 x NY
             	| 2 x NC
-------------	|  ---------------
RAMSEY       	| 18 x NJ
             	| 6 x NY
-------------	|  ---------------
WHITEPLAINS  	| 187 x NY
             	| 2 x NC
-------------	|  ---------------
SPARTA       	| 78 x NJ
             	| 1 x NY
-------------	|  ---------------
NEW  YORK    	| 1987 x NY
             	| 4 x NC
-------------	|  ---------------
BETHPAGE     	| 427 x NY
             	| 2 x NC
-------------	|  ---------------
MONTVALE     	| 240 x NJ
             	| 29 x NY
-------------	|  ---------------
BELLEVUE     	| 31 x WA
             	| 7 x NY
-------------	|  ---------------
HOBOKEN      	| 200 x NJ
             	| 12 x NY
-------------	|  ---------------
CLIFTON      	| 177 x NJ
             	| 20 x NY
-------------	|  ---------------
HAVERFORD    	| 230 x PA
             	| 17 x NY
-------------	|  ---------------
WOODSIDE     	| 8914 x NY
             	| 6 x nan
             	| 2 x NH
             	| 1 x CA
             	| 1 x NC
             	| 1 x NJ
-------------	|  ---------------
SALT LAKE CITY 	| 195 x UT
             	| 4 x NY
             	| 2 x TX
-------------	|  ---------------
ROCKVILLE    	| 124 x NY
             	| 45 x MD
             	| 3 x MA
             	| 2 x MO
-------------	|  ---------------
NEW BRUNSWICK 	| 157 x NJ
             	| 2 x NY
-------------	|  ---------------
GLEN HEAD    	| 621 x NY
             	| 6 x NJ
             	| 3 x NC
-------------	|  ---------------
ROCKVILLE CTR 	| 776 x NY
             	| 3 x NJ
-------------	|  ---------------
BROOLYN      	| 318 x NY
             	| 1 x NC
-------------	|  ---------------
CHICAGO      	| 768 x IL
             	| 61 x NY
-------------	|  ---------------
EAST HARTFORD 	| 37 x CT
             	| 2 x NY
-------------	|  ---------------
WESTON       	| 15 x FL
             	| 3 x MA
             	| 3 x CT
             	| 2 x NY
-------------	|  ---------------
NEW PROVIDENCE 	| 54 x NY
             	| 2 x NJ
-------------	|  ---------------
TOTOWA       	| 204 x NJ
             	| 3 x NY
-------------	|  ---------------
COLLEGE POINT 	| 4216 x NY
             	| 2 x NJ
             	| 2 x NC
-------------	|  ---------------
ALBANY       	| 330 x NY
             	| 1 x GA
-------------	|  ---------------
JERICO       	| 105 x NY
             	| 3 x AK
-------------	|  ---------------
GLENDALE     	| 2890 x NY
             	| 167 x CA
             	| 2 x NE
             	| 1 x NC
-------------	|  ---------------
NORWOOD      	| 93 x NJ
             	| 35 x MA
             	| 3 x NY
-------------	|  ---------------
SEACAUCUS    	| 5 x NJ
             	| 2 x NY
-------------	|  ---------------
SPRING VALLEY 	| 177 x NY
             	| 4 x CA
-------------	|  ---------------
ROSLYN       	| 1842 x NY
             	| 4 x NJ
             	| 1 x VA
             	| 1 x CT
-------------	|  ---------------
PINE BROOK   	| 36 x NJ
             	| 6 x NY
-------------	|  ---------------
TENAFLY      	| 233 x NJ
             	| 6 x NY
-------------	|  ---------------
MILLBURN     	| 31 x NJ
             	| 4 x NY
-------------	|  ---------------
MORRISTOWN   	| 168 x NJ
             	| 17 x NY
-------------	|  ---------------
WARRENVILLE  	| 58 x IL
             	| 2 x NY
-------------	|  ---------------
SECAUCUS     	| 291 x NJ
             	| 22 x NY
             	| 1 x NH
-------------	|  ---------------
RANDOLPH     	| 23 x NJ
             	| 17 x MA
             	| 6 x NY
-------------	|  ---------------
TOWSON       	| 18 x MD
             	| 2 x NY
             	| 2 x ME
-------------	|  ---------------
BROOKFIELD   	| 21 x CT
             	| 4 x NY
-------------	|  ---------------
ADELPHIA     	| 4 x NY
             	| 2 x NJ
-------------	|  ---------------
PARAMUS      	| 897 x NJ
             	| 75 x NY
-------------	|  ---------------
ENGLEWOOD    	| 615 x NJ
             	| 108 x CO
             	| 45 x NY
-------------	|  ---------------
S. PLAINFIELD 	| 26 x NJ
             	| 1 x NY
-------------	|  ---------------
SOUTH PLAINFLD 	| 6 x NJ
             	| 3 x NY
-------------	|  ---------------
UPPER SADDLE RI 	| 28 x NJ
             	| 1 x NY
-------------	|  ---------------
SOUTH RIVER  	| 62 x NJ
             	| 1 x NY
-------------	|  ---------------
PA           	| 13 x PA
             	| 3 x NY
-------------	|  ---------------
GREENWICH    	| 544 x CT
             	| 30 x NY
             	| 16 x RI
             	| 4 x CO
-------------	|  ---------------
FALLS CHURCH 	| 176 x VA
             	| 4 x NY
-------------	|  ---------------
BOCA RATON   	| 225 x FL
             	| 13 x NY
             	| 2 x CA
-------------	|  ---------------
WEST NEW YORK 	| 143 x NJ
             	| 27 x NY
-------------	|  ---------------
LIVINGSTON   	| 236 x NJ
             	| 22 x NY
-------------	|  ---------------
NEW JERSEY   	| 53 x NJ
             	| 19 x NY
-------------	|  ---------------
FAIRFIELD    	| 218 x CT
             	| 41 x NJ
             	| 29 x NY
             	| 4 x CO
             	| 1 x OH
-------------	|  ---------------
BOYNTON BEACH 	| 47 x FL
             	| 2 x NY
-------------	|  ---------------
FLORIDA      	| 89 x NY
             	| 8 x FL
-------------	|  ---------------
DEL RAY BEACH 	| 8 x NY
             	| 6 x FL
-------------	|  ---------------
BEVERLY HILL 	| 4 x NY
             	| 2 x CA
-------------	|  ---------------
MEMPHIS      	| 134 x TN
             	| 13 x NY
-------------	|  ---------------
FT. LAUDERDALE 	| 37 x FL
             	| 3 x NY
-------------	|  ---------------
LEONIA       	| 54 x NJ
             	| 2 x NC
-------------	|  ---------------
WILLISTON    	| 51 x NY
             	| 2 x NJ
-------------	|  ---------------
FREDERICK    	| 46 x MD
             	| 12 x MA
             	| 2 x NY
             	| 1 x ND
-------------	|  ---------------
YORK         	| 75 x NY
             	| 27 x PA
-------------	|  ---------------
ELIZABETH    	| 188 x NJ
             	| 5 x NY
-------------	|  ---------------
NEWPORT NEWS 	| 9 x VA
             	| 1 x NY
-------------	|  ---------------

JAMACIA      	| 167 x NY
             	| 1 x NC
-------------	|  ---------------
POTOMAC      	| 55 x MD
             	| 5 x MO
-------------	|  ---------------
HARTFORD     	| 183 x CT
             	| 9 x AL
             	| 7 x NY
             	| 6 x CO
             	| 1 x CN
-------------	|  ---------------
LOS ANGELOS  	| 11 x CA
             	| 4 x NY
-------------	|  ---------------
MARLTON      	| 57 x NJ
             	| 5 x NY
-------------	|  ---------------
CLEVELAND    	| 153 x OH
             	| 8 x NY
-------------	|  ---------------
WOODBURY     	| 334 x NY
             	| 9 x NJ
             	| 3 x NC
-------------	|  ---------------
ROCKVILLE CENTR 	| 298 x NY
             	| 1 x NJ
-------------	|  ---------------
HAZLET       	| 34 x NJ
             	| 5 x NY
-------------	|  ---------------
PALISADES PARK 	| 31 x NJ
             	| 4 x NY
-------------	|  ---------------
LITTLE NECK  	| 4230 x NY
             	| 5 x NC
-------------	|  ---------------
BRIARCLIFF   	| 36 x NY
             	| 5 x NJ
-------------	|  ---------------
ATLANTA      	| 391 x GA
             	| 12 x NY
             	| 4 x CA
-------------	|  ---------------
S.I.         	| 6253 x NY
             	| 2 x NJ
-------------	|  ---------------
HAWTHORNE    	| 97 x NY
             	| 5 x NJ
             	| 1 x CA
-------------	|  ---------------
HOUSTON      	| 273 x TX
             	| 5 x NY
-------------	|  ---------------
MEDFORD      	| 112 x NY
             	| 2 x NJ
-------------	|  ---------------
SADDLEBROOK  	| 51 x NJ
             	| 1 x NY
-------------	|  ---------------
JERSEY       	| 10 x NJ
             	| 1 x NY
-------------	|  ---------------
POMPTON LAKES 	| 3 x NJ
             	| 2 x NY
-------------	|  ---------------
TEANECK      	| 483 x NJ
             	| 12 x NY
             	| 2 x NC
-------------	|  ---------------
OAKBROOK     	| 20 x IL
             	| 1 x NY
-------------	|  ---------------
ARMONK       	| 147 x NY
             	| 1 x NJ
-------------	|  ---------------
SALEM        	| 89 x NH
             	| 6 x NY
             	| 1 x SC
-------------	|  ---------------
ELMHURST     	| 9231 x NY
             	| 13 x IL
             	| 11 x NV
             	| 7 x NM
             	| 1 x NC
-------------	|  ---------------
MANALAPAN    	| 131 x NJ
             	| 4 x NY
-------------	|  ---------------
MONROE       	| 199 x NY
             	| 61 x NJ
             	| 7 x CT
-------------	|  ---------------
WASHINGTON   	| 343 x DC
             	| 36 x NY
             	| 14 x MD
             	| 7 x CT
             	| 6 x PA
             	| 5 x NJ
             	| 3 x DE
-------------	|  ---------------
PROVIDENCE   	| 110 x RI
             	| 3 x NY
-------------	|  ---------------
CORAL SPRINGS 	| 79 x FL
             	| 4 x NY
-------------	|  ---------------
YORKTOWN     	| 269 x NY
             	| 11 x VA
-------------	|  ---------------
PATTERSON    	| 37 x NJ
             	| 7 x NY
-------------	|  ---------------
SI           	| 46493 x NY
             	| 12 x NC
             	| 3 x NV
             	| 3 x NJ
             	| 2 x NM
             	| 2 x NH
-------------	|  ---------------
ORLANDO      	| 172 x FL
             	| 7 x NY
-------------	|  ---------------
TAMARAC      	| 27 x FL
             	| 2 x LA
             	| 1 x NY
-------------	|  ---------------
ELMWOOD PARK 	| 7 x NJ
             	| 1 x NY
-------------	|  ---------------
ROSELAND     	| 219 x NJ
             	| 15 x NY
             	| 1 x WA
-------------	|  ---------------
ROCKY HILL   	| 34 x CT
             	| 17 x NJ
             	| 3 x NY
-------------	|  ---------------
VALLEY       	| 46 x NY
             	| 2 x NJ
-------------	|  ---------------
NAPLES       	| 49 x FL
             	| 1 x NY
-------------	|  ---------------
FARMINGDALE  	| 518 x NY
             	| 4 x NJ
             	| 1 x MA
-------------	|  ---------------
EDISON       	| 642 x NJ
             	| 29 x NY
-------------	|  ---------------
N PLAINFIELD 	| 12 x NJ
             	| 1 x NY
-------------	|  ---------------
MASSAPEQUA   	| 368 x NY
             	| 1 x NJ
-------------	|  ---------------
HACKENSACK   	| 129 x NJ
             	| 3 x NY
-------------	|  ---------------
NEWTOWN      	| 17 x MA
             	| 3 x PA
             	| 3 x NY
             	| 1 x CT
-------------	|  ---------------
MAYWOOD      	| 18 x NJ
             	| 2 x NY
-------------	|  ---------------
HASBROUCK    	| 14 x NJ
             	| 14 x NY
-------------	|  ---------------
HOLLISWOOD   	| 890 x NY
             	| 1 x NC
-------------	|  ---------------
X            	| 7 x NY
             	| 4 x AK
-------------	|  ---------------
SEWELL       	| 48 x NJ
             	| 6 x NY
-------------	|  ---------------
MIDDLETOWN   	| 55 x NY
             	| 54 x NJ
             	| 3 x CT
             	| 2 x DE
-------------	|  ---------------
PATERSON     	| 43 x NJ
             	| 1 x NY
-------------	|  ---------------
NEW MILFORD  	| 14 x NJ
             	| 1 x NY
-------------	|  ---------------
ELMWOOD      	| 6 x NJ
             	| 2 x NY
-------------	|  ---------------
FL           	| 69 x NY
             	| 4 x FL
             	| 1 x NJ
-------------	|  ---------------
EMERSON      	| 58 x NJ
             	| 1 x NY
-------------	|  ---------------
CLOSTER      	| 119 x NJ
             	| 8 x NY
-------------	|  ---------------
CRANFORD     	| 77 x NJ
             	| 12 x NY
-------------	|  ---------------
DELMAR       	| 82 x NY
             	| 3 x MD
-------------	|  ---------------
BAYONNE      	| 551 x NJ
             	| 13 x NY
-------------	|  ---------------
IRVINGTON    	| 339 x NJ
             	| 84 x NY
-------------	|  ---------------
MELLVILLE    	| 18 x NY
             	| 2 x NJ
-------------	|  ---------------
CLINTON      	| 5 x NJ
             	| 1 x NY
-------------	|  ---------------
FOREST HILL  	| 962 x NY
             	| 5 x MD
-------------	|  ---------------
DELRAY BEACH 	| 40 x FL
             	| 2 x NY
-------------	|  ---------------
CHERRY HILL  	| 105 x NJ
             	| 10 x NY
-------------	|  ---------------
MIAMI        	| 223 x FL
             	| 4 x NY
-------------	|  ---------------
FAIRVIEW     	| 35 x NJ
             	| 6 x NY
             	| 1 x TX
-------------	|  ---------------
BROCKTON     	| 6 x MA
             	| 2 x MS
-------------	|  ---------------
PALISADES    	| 81 x NY
             	| 5 x NJ
-------------	|  ---------------
MATAWAN      	| 112 x NJ
             	| 2 x NY
-------------	|  ---------------
STRASSBOURGH 	| 3 x NY
             	| 1 x PA
-------------	|  ---------------
DIX HILLS    	| 335 x NY
             	| 3 x nan
-------------	|  ---------------
SPRING HILL  	| 10 x FL
             	| 4 x NY
-------------	|  ---------------
BRIDGEPORT   	| 39 x CT
             	| 7 x NY
             	| 3 x CO
-------------	|  ---------------
OAKLAND GARDEN 	| 69 x NY
             	| 5 x NJ
-------------	|  ---------------
FREEPORT     	| 426 x NY
             	| 3 x NJ
-------------	|  ---------------
LAKE FOREST  	| 46 x IL
             	| 3 x CA
-------------	|  ---------------
BRISTOL      	| 9 x CT
             	| 7 x PA
-------------	|  ---------------
RICHMOND HILLS 	| 892 x NY
             	| 3 x NC
-------------	|  ---------------
FRANKLIN     	| 17 x NY
             	| 5 x NJ
             	| 2 x VA
             	| 1 x NC
-------------	|  ---------------
NEW YOR      	| 162 x NY
             	| 9 x nan
             	| 1 x NC
-------------	|  ---------------
NJ           	| 42 x NJ
             	| 9 x NY
-------------	|  ---------------
MOUNT LAUREL 	| 199 x NJ
             	| 8 x NY
-------------	|  ---------------
SADDLE RIVER 	| 49 x NJ
             	| 6 x NY
-------------	|  ---------------
MADISON      	| 13 x NJ
             	| 9 x WI
             	| 6 x CT
             	| 2 x NY
-------------	|  ---------------
PISCATAWAY   	| 82 x NJ
             	| 8 x NY
-------------	|  ---------------
CANTON       	| 196 x MA
             	| 3 x NY
-------------	|  ---------------
LYNBROOK     	| 475 x NY
             	| 4 x NJ
-------------	|  ---------------
DELAND       	| 42 x FL
             	| 13 x NY
-------------	|  ---------------

TETERBORO    	| 63 x NJ
             	| 5 x NY
-------------	|  ---------------
BEDMINSTER   	| 20 x NJ
             	| 2 x NY
-------------	|  ---------------
HILLSIDE     	| 141 x NJ
             	| 80 x NY
             	| 4 x NH
-------------	|  ---------------
BELROSE      	| 70 x NY
             	| 2 x NC
-------------	|  ---------------
COS COB      	| 22 x CT
             	| 2 x NY
-------------	|  ---------------
CLARK        	| 13 x NJ
             	| 2 x NY
-------------	|  ---------------
CANAAN       	| 7 x NY
             	| 6 x CT
-------------	|  ---------------
FT LEE       	| 42 x NJ
             	| 4 x NY
-------------	|  ---------------
PARSIPANY    	| 41 x NJ
             	| 4 x NY
-------------	|  ---------------
BRKLYN       	| 1757 x NY
             	| 8 x NJ
-------------	|  ---------------
NANUET       	| 90 x NY
             	| 2 x NJ
-------------	|  ---------------
LYNDHURST    	| 50 x NJ
             	| 6 x NY
-------------	|  ---------------
SO PLAINFIELD 	| 43 x NJ
             	| 2 x NY
-------------	|  ---------------
BELLMORE     	| 313 x NY
             	| 3 x NJ
-------------	|  ---------------
NEWTON       	| 129 x MA
             	| 73 x NJ
             	| 1 x NY
-------------	|  ---------------
ORADELL      	| 44 x NJ
             	| 4 x NY
-------------	|  ---------------
ANN ARBOR    	| 48 x MI
             	| 3 x MN
             	| 2 x NY
             	| 1 x NC
-------------	|  ---------------
DEDHAM       	| 52 x MA
             	| 3 x NY
-------------	|  ---------------
OVERLAND PARK 	| 12 x KS
             	| 2 x NY
-------------	|  ---------------
ORANGEBURG   	| 67 x NY
             	| 2 x NJ
-------------	|  ---------------
WARREN       	| 40 x NJ
             	| 6 x VT
             	| 1 x IL
             	| 1 x NY
-------------	|  ---------------
PITTSBURGH   	| 57 x PA
             	| 7 x NC
             	| 1 x NY
-------------	|  ---------------
EAST BRUNSWICK 	| 52 x NJ
             	| 5 x NY
             	| 1 x NC
-------------	|  ---------------
HAWORTH      	| 9 x NJ
             	| 2 x NY
-------------	|  ---------------
FLORHAM PK   	| 7 x NJ
             	| 2 x NY
-------------	|  ---------------
BEDFORD      	| 92 x NY
             	| 3 x MA
-------------	|  ---------------
AUBURNDALE   	| 65 x NY
             	| 1 x MA
-------------	|  ---------------
BALDWIN      	| 665 x NY
             	| 4 x MO
-------------	|  ---------------
NORTH HILLS  	| 95 x NY
             	| 1 x IL
-------------	|  ---------------
PRINCETON    	| 303 x NJ
             	| 5 x NY
-------------	|  ---------------
W. NEW YORK  	| 4 x NJ
             	| 2 x NY
-------------	|  ---------------
HOLLIS HILLS 	| 705 x NY
             	| 2 x NC
-------------	|  ---------------
DEAL         	| 54 x NJ
             	| 2 x NY
-------------	|  ---------------
IRVING       	| 57 x TX
             	| 35 x NJ
             	| 4 x NY
-------------	|  ---------------
CARLSTADT    	| 719 x NJ
             	| 10 x NY
-------------	|  ---------------
NEW CANAAN   	| 103 x CT
             	| 4 x NY
-------------	|  ---------------
COLUMBIA     	| 54 x MD
             	| 53 x MO
             	| 7 x MI
             	| 5 x SC
             	| 2 x MT
             	| 1 x OH
-------------	|  ---------------
CANONSBURG   	| 6 x NY
             	| 5 x PA
-------------	|  ---------------
PHILIDELPHIA 	| 5 x PA
             	| 1 x NY
-------------	|  ---------------
WEST HAVEN   	| 8 x CT
             	| 1 x NY
-------------	|  ---------------
SOUTHPORT    	| 45 x CT
             	| 1 x NC
-------------	|  ---------------
FRAMINGHAM   	| 56 x MA
             	| 11 x NY
-------------	|  ---------------
JAMAICA ESTATES 	| 1075 x NY
             	| 1 x NC
-------------	|  ---------------
RIDGEFIELD   	| 57 x NJ
             	| 43 x CT
             	| 16 x NY
-------------	|  ---------------
WALNUT CREEK 	| 4 x CA
             	| 2 x NY
-------------	|  ---------------
LINDEN       	| 119 x NJ
             	| 8 x NY
-------------	|  ---------------
NORTHPORT    	| 165 x NY
             	| 1 x FL
-------------	|  ---------------
BRIDGEWATER  	| 66 x NJ
             	| 3 x CT
             	| 1 x NC
             	| 1 x NY
-------------	|  ---------------
SYOSSETT     	| 211 x NY
             	| 22 x NJ
-------------	|  ---------------
BERGENFIELD  	| 43 x NJ
             	| 3 x NY
-------------	|  ---------------
LITTLE FERRY 	| 46 x NJ
             	| 1 x NY
-------------	|  ---------------
CAMBRIDGE    	| 60 x MA
             	| 11 x NY
             	| 3 x MD
-------------	|  ---------------
AURORA       	| 3 x CO
             	| 1 x NY
-------------	|  ---------------
QUAKERTOWN   	| 7 x PA
             	| 2 x NY
-------------	|  ---------------
RICHMOND     	| 184 x NY
             	| 45 x VA
             	| 6 x MA
             	| 1 x CA
             	| 1 x MD
-------------	|  ---------------
LOS ANGELES  	| 402 x CA
             	| 8 x NY
-------------	|  ---------------
WESTPORT     	| 143 x CT
             	| 4 x NY
             	| 2 x CO
-------------	|  ---------------
FT. LEE      	| 43 x NJ
             	| 2 x NY
-------------	|  ---------------
PORT JEFFERSON 	| 47 x NY
             	| 1 x NJ
-------------	|  ---------------
FORTLEE      	| 26 x NJ
             	| 2 x NY
-------------	|  ---------------
CORTLAND     	| 13 x NY
             	| 1 x NJ
-------------	|  ---------------
STANFORD     	| 45 x CT
             	| 5 x NY
             	| 1 x CO
-------------	|  ---------------
MIDDLE VILLAGE 	| 3483 x NY
             	| 2 x NV
             	| 1 x NC
-------------	|  ---------------
PLAINFIELD   	| 17 x NJ
             	| 5 x NY
-------------	|  ---------------
UNION        	| 52 x NJ
             	| 3 x NY
-------------	|  ---------------
HARRISBURG   	| 32 x PA
             	| 5 x NY
-------------	|  ---------------
RIVERSIDE    	| 31 x CT
             	| 4 x NY
-------------	|  ---------------
WILTON       	| 111 x CT
             	| 3 x NY
-------------	|  ---------------
ANNADALE     	| 6 x VA
             	| 1 x NJ
-------------	|  ---------------
AVON         	| 8 x CT
             	| 1 x NY
-------------	|  ---------------
PLYMOUTH METNG. 	| 5 x NY
             	| 1 x PA
-------------	|  ---------------
DANBURY      	| 42 x CT
             	| 3 x NY
             	| 2 x CO
-------------	|  ---------------
WEBSTER      	| 4 x NY
             	| 2 x MA
-------------	|  ---------------
S.PLAINFIELD 	| 25 x NJ
             	| 1 x NY
-------------	|  ---------------
FORT LAUDERDALE 	| 30 x FL
             	| 6 x NY
-------------	|  ---------------
ORANGE       	| 15 x NJ
             	| 11 x CT
-------------	|  ---------------
PUTNAM VALLEY 	| 22 x NY
             	| 1 x NC
-------------	|  ---------------
HIGHFRAM     	| 2 x MA
             	| 1 x MS
             	| 1 x NY
-------------	|  ---------------
ENGLEWOODCLIFFS 	| 68 x NJ
             	| 1 x NY
-------------	|  ---------------
WARWICK      	| 40 x RI
             	| 40 x NY
             	| 3 x NJ
-------------	|  ---------------
CT           	| 6 x NY
             	| 1 x NJ
             	| 1 x CT
-------------	|  ---------------
LONG BEACH   	| 363 x NY
             	| 19 x CA
-------------	|  ---------------
GRT BARRINGTON 	| 1 x NY
             	| 1 x MA
-------------	|  ---------------
TREVOSE      	| 17 x PA
             	| 1 x NY
-------------	|  ---------------
ST. LOUIS    	| 15 x MO
             	| 1 x MT
-------------	|  ---------------
HARRIS       	| 2 x NY
             	| 2 x PA
-------------	|  ---------------
CARLISLE     	| 12 x MA
             	| 3 x NY
             	| 2 x PA
-------------	|  ---------------
ENGELWOOD    	| 22 x NJ
             	| 1 x NY
-------------	|  ---------------
MONTGOMERY   	| 8 x NY
             	| 2 x AL
             	| 1 x IL
-------------	|  ---------------
HACKENSAK    	| 2 x NY
             	| 1 x NJ
-------------	|  ---------------
HALLENDALE   	| 11 x FL
             	| 1 x NY
-------------	|  ---------------
EATONTOWN    	| 150 x NJ
             	| 26 x NY
-------------	|  ---------------
VERNON       	| 9 x CA
             	| 7 x NY
             	| 4 x NJ
-------------	|  ---------------
LINCROFT     	| 5 x NJ
             	| 1 x NY
-------------	|  ---------------
ROCKAWAY     	| 678 x NY
             	| 28 x NJ
-------------	|  ---------------
SCOTCH PLAINS 	| 251 x NJ
             	| 1 x NY
-------------	|  ---------------

PASADENA     	| 27 x TX
             	| 21 x CA
-------------	|  ---------------
WAKEFIELD    	| 20 x NY
             	| 1 x MA
-------------	|  ---------------
SANTA MONICA 	| 575 x CA
             	| 18 x NY
-------------	|  ---------------
MILVILLE     	| 3 x NY
             	| 1 x NJ
-------------	|  ---------------
GREENVALE    	| 195 x NY
             	| 1 x SC
-------------	|  ---------------
ALLENHURST   	| 47 x NJ
             	| 3 x NH
             	| 2 x NY
-------------	|  ---------------
HAWLEY       	| 10 x PA
             	| 2 x NY
-------------	|  ---------------
KING OF PRUSSIA 	| 72 x PA
             	| 2 x NY
-------------	|  ---------------
STRATFORD    	| 3 x CO
             	| 2 x CT
-------------	|  ---------------
S. OZONE PARK 	| 1073 x NY
             	| 2 x NV
-------------	|  ---------------
MENDHAM      	| 43 x NJ
             	| 12 x NY
-------------	|  ---------------
HENDERSON    	| 8 x NV
             	| 1 x NE
-------------	|  ---------------
MIDDLETON    	| 8 x WI
             	| 6 x NJ
             	| 4 x NY
-------------	|  ---------------
PARSSIPPANY  	| 4 x NJ
             	| 1 x NY
-------------	|  ---------------
DOVER        	| 16 x DE
             	| 15 x NJ
             	| 12 x NH
-------------	|  ---------------
PALM BEACH   	| 96 x FL
             	| 4 x NY
-------------	|  ---------------
LAKEWOOD     	| 222 x NJ
             	| 19 x NY
             	| 2 x CA
-------------	|  ---------------
DUMONT       	| 41 x NJ
             	| 5 x NY
-------------	|  ---------------
DOUGLASTOWN  	| 19 x NY
             	| 3 x NC
-------------	|  ---------------
CLIFFSIDE PARK 	| 79 x NJ
             	| 9 x NY
-------------	|  ---------------
L I C        	| 309 x NY
             	| 2 x NC
-------------	|  ---------------
FORESTVILLE  	| 4 x MD
             	| 2 x NY
-------------	|  ---------------
SILVER SPRING 	| 34 x MD
             	| 5 x NY
-------------	|  ---------------
KENNESAW     	| 22 x GA
             	| 1 x NY
-------------	|  ---------------
E BRUNSWICK  	| 3 x NJ
             	| 2 x NC
             	| 2 x NY
-------------	|  ---------------
NEW HYDE PK  	| 125 x NY
             	| 1 x NJ
-------------	|  ---------------
CAMDEN       	| 5 x ME
             	| 3 x SC
             	| 2 x NY
             	| 1 x NJ
-------------	|  ---------------
PASIPPANY    	| 9 x NJ
             	| 2 x NY
-------------	|  ---------------
ATLANTIC     	| 12 x GA
             	| 8 x NY
-------------	|  ---------------
DEMAREST     	| 36 x NJ
             	| 3 x NY
-------------	|  ---------------
POMPANO BEACH 	| 57 x FL
             	| 1 x NY
-------------	|  ---------------
SAYVILLE     	| 23 x NY
             	| 1 x NC
-------------	|  ---------------
NUTLEY       	| 37 x NJ
             	| 1 x NY
-------------	|  ---------------
SAN FRANCISCO 	| 97 x CA
             	| 9 x NY
-------------	|  ---------------
SHORT HILLS  	| 258 x NJ
             	| 8 x NY
-------------	|  ---------------
MIAMI BEACH  	| 71 x FL
             	| 2 x NY
             	| 1 x LA
-------------	|  ---------------
GREAT BARRINGTO 	| 7 x MA
             	| 1 x NY
-------------	|  ---------------
BEVERLY HILLS 	| 104 x CA
             	| 18 x NY
             	| 6 x FL
-------------	|  ---------------
HOLMDEL      	| 458 x NJ
             	| 20 x NY
-------------	|  ---------------
ROCKY MOUNTS 	| 3 x NC
             	| 1 x NY
-------------	|  ---------------
MALVERNE     	| 105 x NY
             	| 3 x NJ
-------------	|  ---------------
RHINEBECK    	| 24 x NY
             	| 1 x NJ
-------------	|  ---------------
GREENVILLE   	| 10 x NY
             	| 10 x NC
             	| 4 x SC
             	| 2 x DE
-------------	|  ---------------
KINNELON     	| 14 x NJ
             	| 2 x NY
-------------	|  ---------------
DALLAS       	| 170 x TX
             	| 14 x NY
             	| 3 x TN
-------------	|  ---------------
FLORHAM      	| 9 x NJ
             	| 2 x NY
-------------	|  ---------------
TROY         	| 28 x MI
             	| 4 x NY
-------------	|  ---------------
BALTIMORE    	| 80 x MD
             	| 2 x MA
             	| 2 x NY
-------------	|  ---------------
CHARLOTTE    	| 34 x NC
             	| 2 x NY
-------------	|  ---------------
NORTH CALDWELL 	| 3 x NY
             	| 1 x NJ
-------------	|  ---------------
MAPLEWOOD    	| 7 x NJ
             	| 1 x NY
-------------	|  ---------------
E.RUTHERFORD 	| 3 x NJ
             	| 1 x NY
-------------	|  ---------------
CARTERET     	| 124 x NJ
             	| 9 x NY
-------------	|  ---------------
SOUTH PLAINFIEL 	| 85 x NJ
             	| 20 x NY
-------------	|  ---------------
BKLYN,       	| 6720 x NY
             	| 1 x NM
-------------	|  ---------------
SADDLE BROOK 	| 78 x NJ
             	| 6 x NY
-------------	|  ---------------
BKYN         	| 1143 x NY
             	| 6 x NV
-------------	|  ---------------
WEST NY      	| 196 x NJ
             	| 3 x NY
-------------	|  ---------------
HAMILTON     	| 17 x NJ
             	| 2 x NY
-------------	|  ---------------
WEEHAWKEN    	| 40 x NJ
             	| 3 x NY
-------------	|  ---------------
LINDENHURST  	| 66 x NY
             	| 2 x NJ
-------------	|  ---------------
EAST PARAMUS 	| 75 x NJ
             	| 1 x NY
-------------	|  ---------------
WATERTOWN    	| 3 x MA
             	| 1 x NY
-------------	|  ---------------
HOLLYWOOD    	| 50 x FL
             	| 4 x CA
             	| 2 x NY
-------------	|  ---------------
OLD TAPPAN   	| 66 x NJ
             	| 9 x NY
-------------	|  ---------------
PHILA        	| 41 x PA
             	| 1 x NY
-------------	|  ---------------
SPRINGFIELD  	| 246 x NY
             	| 147 x NJ
             	| 21 x MA
             	| 16 x VA
             	| 5 x PA
             	| 4 x MO
-------------	|  ---------------
BERKLEY      	| 10 x MA
             	| 5 x NJ
             	| 2 x CA
-------------	|  ---------------
CINCINNATI   	| 273 x OH
             	| 2 x NY
             	| 1 x MI
-------------	|  ---------------
BKLN         	| 137 x NY
             	| 45 x NC
-------------	|  ---------------
QNS          	| 1258 x NY
             	| 16 x NC
-------------	|  ---------------
LONGBRANCH   	| 13 x NY
             	| 1 x NJ
-------------	|  ---------------
CRESSKILL    	| 79 x NJ
             	| 5 x NY
-------------	|  ---------------
HARRIMAN     	| 20 x NY
             	| 2 x AK
-------------	|  ---------------
NORTH ARLINGTON 	| 6 x NJ
             	| 1 x NY
-------------	|  ---------------
UNION CITY   	| 36 x NJ
             	| 5 x NY
-------------	|  ---------------
EL SEGUNDO   	| 34 x CA
             	| 1 x NY
-------------	|  ---------------
MOON TOWNSHIP 	| 12 x PA
             	| 2 x NY
-------------	|  ---------------
ANNANDALE    	| 15 x VA
             	| 4 x NJ
-------------	|  ---------------
STOCKBRIDGE  	| 40 x MA
             	| 1 x NY
-------------	|  ---------------
WEST HARTFORD 	| 24 x CT
             	| 7 x NY
-------------	|  ---------------
SUMMIT       	| 78 x NJ
             	| 2 x NY
-------------	|  ---------------
WOONSOCKET   	| 186 x RI
             	| 3 x NY
-------------	|  ---------------
METUCHEN     	| 41 x NJ
             	| 6 x NY
-------------	|  ---------------
NEWPORT      	| 88 x RI
             	| 3 x NY
             	| 1 x NJ
-------------	|  ---------------
ROCKAWAY PARK 	| 955 x NY
             	| 2 x NC
-------------	|  ---------------
SPRING LAKE  	| 14 x NJ
             	| 1 x NY
             	| 1 x MA
-------------	|  ---------------
BROOKVILLE   	| 303 x NY
             	| 1 x NC
-------------	|  ---------------
BLOOMFIELD   	| 21 x NJ
             	| 1 x NY
             	| 1 x CT
-------------	|  ---------------
SEATTLE      	| 65 x WA
             	| 3 x NY
-------------	|  ---------------
HIGHLAND BEACH 	| 8 x FL
             	| 2 x NY
-------------	|  ---------------
GREAT FALLS  	| 13 x VA
             	| 3 x NY
-------------	|  ---------------
PRINCETON JUNCT 	| 14 x NJ
             	| 5 x NY
-------------	|  ---------------
CLAYTON      	| 6 x MO
             	| 3 x MI
-------------	|  ---------------
MT LAUREL    	| 25 x NJ
             	| 1 x NY
-------------	|  ---------------
OCEAN        	| 21 x NJ
             	| 7 x NY
-------------	|  ---------------
MORGANVILLE  	| 149 x NJ
             	| 7 x NY
             	| 1 x NC
-------------	|  ---------------
SOUTH HAMPTON 	| 34 x NY
             	| 1 x PA
-------------	|  ---------------

MARLBORO     	| 138 x NJ
             	| 4 x NY
             	| 2 x MA
-------------	|  ---------------
EATONTOWN,   	| 6 x NJ
             	| 1 x NY
-------------	|  ---------------
SILVER SPRINGS 	| 19 x MD
             	| 7 x CO
-------------	|  ---------------
BROOK        	| 11 x NY
             	| 2 x IL
-------------	|  ---------------
ENGLISHTOWN  	| 67 x NJ
             	| 1 x NY
-------------	|  ---------------
MANCHESTER   	| 13 x NJ
             	| 5 x VT
             	| 3 x NH
             	| 2 x NY
             	| 1 x CT
-------------	|  ---------------
ROCKY MOUNT  	| 10 x NC
             	| 2 x NY
-------------	|  ---------------
SPRINGFIELD GDN 	| 85 x NY
             	| 1 x NE
-------------	|  ---------------
GLEN ROCK    	| 21 x NJ
             	| 7 x NY
-------------	|  ---------------
MILFORD      	| 10 x PA
             	| 4 x CT
             	| 4 x NJ
             	| 3 x NY
-------------	|  ---------------
MANTOLOKING  	| 11 x NJ
             	| 3 x NY
-------------	|  ---------------
INDIANAPOLIS 	| 42 x IN
             	| 2 x NY
-------------	|  ---------------
ANTHEM       	| 2 x AZ
             	| 1 x AR
-------------	|  ---------------
NEW NEW YORK 	| 1 x NY
             	| 1 x NJ
-------------	|  ---------------
TINTON FALLS 	| 8 x NJ
             	| 3 x NY
-------------	|  ---------------
FALMOUTH     	| 3 x NY
             	| 3 x MA
             	| 3 x ME
-------------	|  ---------------
CLERMONT     	| 3 x FL
             	| 2 x NY
-------------	|  ---------------
WHITEHOUSE STA 	| 2 x NJ
             	| 1 x NY
-------------	|  ---------------
NORTHFIELD   	| 2 x NY
             	| 2 x MA
-------------	|  ---------------
COLTS NECK   	| 44 x NJ
             	| 2 x NC
-------------	|  ---------------
IRWINDALE    	| 69 x CA
             	| 6 x NY
-------------	|  ---------------
AMHERST      	| 14 x NY
             	| 1 x MA
-------------	|  ---------------
WALLINGTON   	| 14 x NJ
             	| 2 x NY
-------------	|  ---------------
WALDWICK     	| 9 x NJ
             	| 2 x NY
-------------	|  ---------------
JAMAICA ESTATE 	| 308 x NY
             	| 1 x NC
-------------	|  ---------------
GLANDALE     	| 1 x CA
             	| 1 x NY
-------------	|  ---------------
SCARBOROUGH  	| 8 x NY
             	| 2 x ME
-------------	|  ---------------
HORSHAM      	| 34 x PA
             	| 4 x NY
-------------	|  ---------------
CHESAPEAKE   	| 32 x VA
             	| 5 x MD
-------------	|  ---------------
SOMERSET     	| 68 x NJ
             	| 2 x NY
-------------	|  ---------------
JUPITER      	| 35 x FL
             	| 3 x NY
-------------	|  ---------------
MOLMDEL      	| 8 x NY
             	| 2 x NC
-------------	|  ---------------
ALLENTOWN    	| 15 x PA
             	| 2 x NJ
-------------	|  ---------------
PROSPECT PARK 	| 5 x NJ
             	| 2 x NY
-------------	|  ---------------
KINGSTON     	| 34 x NY
             	| 6 x PA
             	| 1 x NJ
-------------	|  ---------------
BETHESDA     	| 257 x MD
             	| 4 x NY
             	| 4 x ND
             	| 1 x MA
-------------	|  ---------------
ROCHELLE PARK 	| 16 x NJ
             	| 1 x NY
-------------	|  ---------------
WESTFIELD    	| 30 x MA
             	| 20 x NJ
             	| 5 x NY
-------------	|  ---------------
OLD BRIDGE   	| 28 x NJ
             	| 1 x NY
-------------	|  ---------------
SKOKIE       	| 8 x IL
             	| 3 x NY
-------------	|  ---------------
LIGHTHOUSE POIN 	| 3 x NY
             	| 1 x FL
-------------	|  ---------------
GREAT FALLS, 	| 6 x VA
             	| 3 x NY
-------------	|  ---------------
PHILADELPIA  	| 3 x NY
             	| 1 x PA
-------------	|  ---------------
SOUTH PLAINFEIL 	| 15 x NY
             	| 6 x NJ
-------------	|  ---------------
BROWNSVILLE  	| 6 x NY
             	| 1 x TX
-------------	|  ---------------
NORWICH      	| 2 x CT
             	| 1 x NY
-------------	|  ---------------
HIGHLAND PARK 	| 100 x IL
             	| 9 x NJ
             	| 5 x NY
-------------	|  ---------------
FARMINGHAM   	| 20 x MA
             	| 3 x NY
-------------	|  ---------------
WASHINGTON DC 	| 9 x DC
             	| 2 x NY
             	| 2 x NE
-------------	|  ---------------
HANOVER      	| 12 x MD
             	| 2 x NY
-------------	|  ---------------
HILTON HEAD  	| 9 x SC
             	| 3 x NC
-------------	|  ---------------
WILMINGTON   	| 32 x DE
             	| 1 x MA
-------------	|  ---------------
SAN DIEGO    	| 32 x CA
             	| 6 x NY
-------------	|  ---------------
MONROE TOWNSHIP 	| 18 x NJ
             	| 2 x NY
-------------	|  ---------------
NEPONSIT     	| 312 x NY
             	| 4 x NC
             	| 2 x NV
-------------	|  ---------------
OAK PARK     	| 4 x CA
             	| 3 x MI
             	| 1 x IL
-------------	|  ---------------
MILLWOOD     	| 5 x NY
             	| 5 x VA
-------------	|  ---------------
BRUNSWICK    	| 8 x NJ
             	| 2 x MA
-------------	|  ---------------
SAYERVILLE   	| 9 x NJ
             	| 1 x NY
-------------	|  ---------------
ST           	| 31 x NY
             	| 8 x NJ
-------------	|  ---------------
LEBANON      	| 19 x NJ
             	| 5 x PA
             	| 1 x NY
-------------	|  ---------------
MANHATTAN BEACH 	| 9 x CA
             	| 2 x NY
-------------	|  ---------------
DAYTON       	| 7 x NJ
             	| 1 x FL
-------------	|  ---------------
MCCLEAN      	| 2 x NY
             	| 1 x VA
-------------	|  ---------------
QUEEN        	| 261 x NY
             	| 2 x NC
-------------	|  ---------------
PORT ST. LUCY 	| 4 x NY
             	| 1 x FL
-------------	|  ---------------
NORCROSS     	| 23 x GA
             	| 1 x NY
-------------	|  ---------------
DENVER       	| 73 x CO
             	| 3 x PA
             	| 1 x NY
-------------	|  ---------------
NORTH BRUNSWICK 	| 20 x NJ
             	| 4 x NY
-------------	|  ---------------
BURLINGTON   	| 5 x CT
             	| 4 x MA
             	| 3 x NJ
             	| 1 x NY
             	| 1 x VT
-------------	|  ---------------
PHIL         	| 7 x PA
             	| 6 x NY
-------------	|  ---------------
BECKLEY      	| 3 x NY
             	| 3 x VA
             	| 2 x WV
             	| 1 x MI
-------------	|  ---------------
MARLBOROUGH  	| 5 x NJ
             	| 1 x MA
-------------	|  ---------------
COLOMBUS     	| 14 x OH
             	| 2 x NY
-------------	|  ---------------
SUNRISE      	| 6 x FL
             	| 5 x NY
-------------	|  ---------------
NEW HYDE     	| 76 x NY
             	| 3 x PA
-------------	|  ---------------
IRVINE       	| 30 x CA
             	| 3 x NY
-------------	|  ---------------
HILLSDALE    	| 21 x NJ
             	| 7 x NY
-------------	|  ---------------
SANTA FE     	| 2 x NY
             	| 2 x NM
-------------	|  ---------------
MADERA       	| 6 x CA
             	| 1 x NY
-------------	|  ---------------
VAN NUYS     	| 10 x CA
             	| 1 x NY
-------------	|  ---------------
BELLAIRE     	| 2 x TX
             	| 2 x NY
-------------	|  ---------------
NORTH MIAMI  	| 5 x FL
             	| 1 x NY
-------------	|  ---------------
LITTLE ROCK  	| 12 x AR
             	| 10 x NY
-------------	|  ---------------
SOUTHPLAINFEILD 	| 8 x NJ
             	| 3 x NY
-------------	|  ---------------
LONGWOOD     	| 10 x FL
             	| 1 x NY
-------------	|  ---------------
BENSALEM     	| 7 x PA
             	| 3 x NY
-------------	|  ---------------
KENDALL PARK 	| 5 x NJ
             	| 1 x NY
-------------	|  ---------------
PARISPPANY   	| 18 x NJ
             	| 4 x NY
-------------	|  ---------------
NEW HOPE     	| 5 x PA
             	| 4 x NY
-------------	|  ---------------
EAST GREENWICH 	| 140 x RI
             	| 4 x CT
             	| 4 x NY
-------------	|  ---------------
ORANGEBERG   	| 3 x NY
             	| 2 x NJ
-------------	|  ---------------
LAKE WOOD    	| 7 x NJ
             	| 2 x NY
-------------	|  ---------------
MONTVILLE    	| 13 x NJ
             	| 2 x NY
-------------	|  ---------------
NEW ORLEANS  	| 17 x LA
             	| 2 x CA
-------------	|  ---------------
NORTH HAMPTON 	| 2 x NH
             	| 1 x MA
-------------	|  ---------------

WATCHUNG     	| 25 x NJ
             	| 1 x NY
-------------	|  ---------------
HUDSON       	| 4 x FL
             	| 4 x NY
-------------	|  ---------------
CHESTER      	| 87 x NY
             	| 1 x PA
             	| 1 x NJ
-------------	|  ---------------
EASTON       	| 8 x CT
             	| 4 x PA
             	| 1 x NJ
-------------	|  ---------------
RED BANK     	| 18 x NJ
             	| 4 x NY
-------------	|  ---------------
SCOTTSDALE   	| 20 x AZ
             	| 5 x KY
             	| 1 x AR
             	| 1 x NY
-------------	|  ---------------
FOXPOINT     	| 1 x NY
             	| 1 x WI
-------------	|  ---------------
EDGEWOOD     	| 57 x NY
             	| 4 x MD
-------------	|  ---------------
BAYONE       	| 65 x NJ
             	| 3 x NH
-------------	|  ---------------
JERCEY CITY  	| 35 x NJ
             	| 3 x NY
-------------	|  ---------------
LAWRENCEVILLE 	| 8 x NJ
             	| 2 x NY
-------------	|  ---------------
HAVENFORD    	| 3 x PA
             	| 2 x NY
-------------	|  ---------------
CORAL SPRING 	| 5 x FL
             	| 3 x NY
-------------	|  ---------------
BATSIDE      	| 27 x NY
             	| 5 x NC
-------------	|  ---------------
UPPER MONTCLAIR 	| 3 x NJ
             	| 1 x NY
-------------	|  ---------------
MORRIS TOWN  	| 1 x NJ
             	| 1 x NY
-------------	|  ---------------
TENEFLY      	| 12 x NJ
             	| 2 x NY
-------------	|  ---------------
TOMS RIVER   	| 32 x NJ
             	| 1 x NY
-------------	|  ---------------
RESTON       	| 72 x VA
             	| 5 x NY
-------------	|  ---------------
FAIRFEILD    	| 3 x CT
             	| 3 x NJ
             	| 1 x CO
-------------	|  ---------------
GUTTENBERG   	| 31 x NJ
             	| 1 x NY
-------------	|  ---------------
SAN FRANSISCO 	| 3 x CA
             	| 2 x NY
-------------	|  ---------------
MALVERN      	| 11 x PA
             	| 8 x NY
-------------	|  ---------------
MOONACHIE    	| 9 x NJ
             	| 2 x NY
-------------	|  ---------------
WEST ROCKSBURY 	| 3 x MA
             	| 1 x NY
-------------	|  ---------------
WOODSTOCK    	| 11 x NY
             	| 4 x CT
             	| 1 x VT
-------------	|  ---------------
WASHINGTON D.C. 	| 8 x DC
             	| 4 x WA
             	| 3 x NY
             	| 1 x MD
-------------	|  ---------------
FREDRICK     	| 4 x MD
             	| 2 x MA
-------------	|  ---------------
DAYTONA BEACH 	| 15 x FL
             	| 2 x NY
-------------	|  ---------------
SOUTH AMBOY  	| 7 x NY
             	| 5 x NJ
-------------	|  ---------------
KENILWORTH   	| 2 x NJ
             	| 1 x NY
-------------	|  ---------------
OWENSBORO    	| 3 x KY
             	| 1 x NY
-------------	|  ---------------
INGLEWOOD    	| 2 x CA
             	| 1 x NY
-------------	|  ---------------
BELEVEDERE   	| 1 x NJ
             	| 1 x CA
-------------	|  ---------------
W NEW YORK   	| 14 x NJ
             	| 1 x NY
-------------	|  ---------------
DUBLIN 2     	| 8 x NY
             	| 1 x IN
-------------	|  ---------------
SOUTHPLAINFIELD 	| 8 x NJ
             	| 3 x NY
-------------	|  ---------------
MOORESTOWN   	| 10 x NJ
             	| 2 x NY
-------------	|  ---------------
PARSIPPANCY  	| 5 x NJ
             	| 1 x NY
-------------	|  ---------------
WHITING      	| 4 x NJ
             	| 1 x NY
-------------	|  ---------------
BROOKLINE    	| 20 x MA
             	| 2 x NY
             	| 1 x NH
-------------	|  ---------------
PAWTUCKET    	| 2 x CT
             	| 1 x NY
-------------	|  ---------------
NORTH HOLLYWOOD 	| 3 x CA
             	| 1 x FL
-------------	|  ---------------
WOODRIDGE    	| 5 x NY
             	| 1 x CT
-------------	|  ---------------
STATEN ISLAN 	| 24 x NY
             	| 6 x NJ
-------------	|  ---------------
BALWIN       	| 10 x NY
             	| 1 x MO
-------------	|  ---------------
RIDGE        	| 5 x NY
             	| 3 x NJ
-------------	|  ---------------
MA           	| 31 x NY
             	| 2 x MA
-------------	|  ---------------
GELNDALE     	| 3 x NY
             	| 1 x CA
-------------	|  ---------------
HAMPSTEAD    	| 2 x NY
             	| 2 x MD
             	| 1 x NC
-------------	|  ---------------
WEST ROXBURY 	| 10 x MA
             	| 2 x NY
-------------	|  ---------------
ISLAND PARK  	| 67 x NY
             	| 4 x NH
-------------	|  ---------------
CONSHOCKEN   	| 29 x PA
             	| 2 x NY
-------------	|  ---------------
WALL         	| 103 x NJ
             	| 2 x NY
-------------	|  ---------------
LAS VEGAS    	| 78 x NV
             	| 2 x NY
-------------	|  ---------------
COLORADO SPRING 	| 17 x CO
             	| 4 x OH
-------------	|  ---------------
NEW HAVEN    	| 124 x CT
             	| 3 x NY
-------------	|  ---------------
WESTWOOD     	| 62 x NJ
             	| 1 x NY
-------------	|  ---------------
CINCINNATTI  	| 29 x OH
             	| 2 x NY
-------------	|  ---------------
CURACAO      	| 15 x NY
             	| 3 x NE
             	| 2 x NJ
             	| 1 x NH
-------------	|  ---------------
CULVER CITY  	| 24 x CA
             	| 1 x NY
-------------	|  ---------------
HIGHLAND     	| 15 x NY
             	| 2 x IN
             	| 1 x IL
-------------	|  ---------------
PARK RIDGE   	| 27 x NJ
             	| 2 x NY
-------------	|  ---------------
SPARTANBURG  	| 92 x SC
             	| 6 x NY
             	| 1 x NC
-------------	|  ---------------
BIRMINGHAM   	| 10 x AL
             	| 2 x MA
-------------	|  ---------------
ELKINS PARK  	| 7 x PA
             	| 5 x NY
-------------	|  ---------------
NEW CUMBERLAND 	| 77 x PA
             	| 4 x NY
-------------	|  ---------------
VALLEY FORGE 	| 14 x PA
             	| 8 x NY
-------------	|  ---------------
SUNNYDALE    	| 13 x NY
             	| 1 x NH
-------------	|  ---------------
ARLINGTON    	| 131 x VA
             	| 5 x TX
             	| 4 x NY
-------------	|  ---------------
THORNHILL    	| 4 x AK
             	| 2 x NY
-------------	|  ---------------
SANTA BARBARA 	| 3 x CA
             	| 1 x NY
-------------	|  ---------------
COOPER CITY  	| 17 x FL
             	| 1 x NY
-------------	|  ---------------
LAS VAGAS    	| 2 x NE
             	| 1 x NV
-------------	|  ---------------
COMMERCE     	| 20 x CA
             	| 2 x NY
-------------	|  ---------------
LA           	| 18 x CA
             	| 4 x NY
-------------	|  ---------------
ALTANTA      	| 4 x GA
             	| 1 x NY
-------------	|  ---------------
OLD GREENWICH 	| 100 x CT
             	| 4 x NY
-------------	|  ---------------
RIVEREDGE    	| 20 x NJ
             	| 3 x NY
-------------	|  ---------------
ROXBURY      	| 4 x NY
             	| 2 x CT
-------------	|  ---------------
OCEAN CITY   	| 7 x MD
             	| 2 x NY
-------------	|  ---------------
SCRANTON     	| 15 x PA
             	| 2 x NY
-------------	|  ---------------
LAUDERHILL   	| 16 x FL
             	| 2 x NY
-------------	|  ---------------
WOODSOCKET   	| 9 x NY
             	| 1 x RI
-------------	|  ---------------
MALBORO      	| 5 x NJ
             	| 1 x NY
-------------	|  ---------------
STUART       	| 102 x FL
             	| 3 x NY
-------------	|  ---------------
RALEIGH      	| 27 x NC
             	| 2 x NY
-------------	|  ---------------
C            	| 3 x NY
             	| 1 x IL
-------------	|  ---------------
NORTH HAVEN  	| 4 x NY
             	| 2 x CT
-------------	|  ---------------
MILTOWN      	| 5 x NY
             	| 1 x NJ
-------------	|  ---------------
CORAL GABLES 	| 44 x FL
             	| 2 x NY
-------------	|  ---------------
AT           	| 1 x GA
             	| 1 x NY
-------------	|  ---------------
E. GREENWICH 	| 8 x RI
             	| 1 x CT
-------------	|  ---------------
BELMONT      	| 23 x MA
             	| 1 x MS
-------------	|  ---------------
GREENWOOD VILLA 	| 10 x CA
             	| 7 x CO
-------------	|  ---------------
FAIR FIELD   	| 9 x CT
             	| 4 x NY
-------------	|  ---------------
ESSEX        	| 8 x CT
             	| 2 x NY
-------------	|  ---------------
PAMONA       	| 7 x NY
             	| 3 x NJ
-------------	|  ---------------
EAST HANOVER 	| 17 x NJ
             	| 1 x NC
             	| 1 x NY
-------------	|  ---------------
PUNTA GORDA  	| 14 x FL
             	| 9 x LA
-------------	|  ---------------
LA JOLLA     	| 6 x CA
             	| 1 x NY
-------------	|  ---------------

NEWWARK      	| 6 x NJ
             	| 2 x NY
-------------	|  ---------------
DURHAM       	| 4 x NC
             	| 1 x NJ
-------------	|  ---------------
NEWBURY      	| 7 x MA
             	| 1 x NY
-------------	|  ---------------
NB           	| 3 x NY
             	| 2 x NJ
-------------	|  ---------------
SANTA ROSA   	| 1 x CA
             	| 1 x NY
-------------	|  ---------------
STOCKHOLM    	| 3 x SD
             	| 2 x sw
             	| 1 x NY
-------------	|  ---------------
HAMPTON      	| 15 x NH
             	| 2 x NY
-------------	|  ---------------
GOSHEN       	| 19 x NY
             	| 7 x CT
-------------	|  ---------------
GREENWOOD    	| 9 x NY
             	| 2 x CT
-------------	|  ---------------
TORONTO ONTARIO 	| 2 x CA
             	| 1 x NY
-------------	|  ---------------
MARGATE      	| 5 x FL
             	| 1 x NY
-------------	|  ---------------
ENGLEWOOD CLIFT 	| 9 x NJ
             	| 1 x NY
-------------	|  ---------------
PORTSMOUTH   	| 15 x NH
             	| 1 x VA
-------------	|  ---------------
SALISBURY    	| 9 x CT
             	| 1 x MD
-------------	|  ---------------
WASHINGTON TOWN 	| 9 x NJ
             	| 1 x NY
-------------	|  ---------------
CHATHAM      	| 3 x NJ
             	| 2 x NY
-------------	|  ---------------
MT. BETHEL   	| 2 x PA
             	| 2 x NY
-------------	|  ---------------
PALM COAST   	| 2 x FL
             	| 1 x NY
-------------	|  ---------------
NEW  HYDE PARK 	| 9 x NY
             	| 3 x NJ
-------------	|  ---------------
SOLON        	| 8 x OH
             	| 1 x NY
-------------	|  ---------------
AMBERST      	| 3 x AK
             	| 1 x MA
-------------	|  ---------------
BEVERLY      	| 6 x MA
             	| 1 x CA
-------------	|  ---------------
MT. OLIVE    	| 4 x NJ
             	| 2 x NY
-------------	|  ---------------
MURRAY HILL  	| 5 x NJ
             	| 1 x NY
-------------	|  ---------------
STERLING     	| 22 x VA
             	| 3 x NJ
-------------	|  ---------------
NORTH BENINGTON 	| 4 x VT
             	| 2 x NY
-------------	|  ---------------
GEORGETOWN   	| 1 x NY
             	| 1 x TX
-------------	|  ---------------
GREENICH     	| 2 x NY
             	| 1 x CT
-------------	|  ---------------
VAUXHALL     	| 9 x NJ
             	| 5 x NY
-------------	|  ---------------
UNIONVILLE   	| 3 x CT
             	| 1 x NY
-------------	|  ---------------
NEWBERRY     	| 2 x SC
             	| 1 x NY
-------------	|  ---------------
SHARON       	| 4 x CT
             	| 2 x MA
-------------	|  ---------------
SWITZERLAND  	| 2 x SD
             	| 2 x NY
-------------	|  ---------------
PORTLAND     	| 3 x OR
             	| 1 x ME
-------------	|  ---------------
DALLAX       	| 5 x TX
             	| 1 x NY
-------------	|  ---------------
MONVALE      	| 3 x NJ
             	| 2 x NY
-------------	|  ---------------
FORTH WORTH  	| 2 x TX
             	| 1 x NY
-------------	|  ---------------
SADDLE ROCK  	| 2 x NY
             	| 1 x NJ
-------------	|  ---------------
HOMDEL       	| 10 x NJ
             	| 3 x NY
-------------	|  ---------------
NEWMARK      	| 7 x NJ
             	| 1 x NY
-------------	|  ---------------
TORONTO      	| 1 x NY
             	| 1 x CA
-------------	|  ---------------
REDDING      	| 8 x CT
             	| 4 x PA
-------------	|  ---------------
KAILUA-KONA  	| 5 x HI
             	| 2 x NY
-------------	|  ---------------
HENAU(SWITZERLA 	| 1 x AK
             	| 1 x NY
-------------	|  ---------------
SAYRE        	| 5 x NY
             	| 1 x PA
-------------	|  ---------------
RICHFIELD    	| 4 x NJ
             	| 1 x MN
-------------	|  ---------------
PEMBROKE PINES 	| 8 x FL
             	| 1 x NY
-------------	|  ---------------
BOGOTA       	| 4 x NJ
             	| 3 x NY
-------------	|  ---------------
TARZANA      	| 7 x NY
             	| 3 x CA
-------------	|  ---------------
VISTA        	| 1 x CA
             	| 1 x CO
-------------	|  ---------------
MINETONKA    	| 2 x MN
             	| 1 x MI
-------------	|  ---------------
NORTH BENNINGTO 	| 3 x VT
             	| 1 x NY
-------------	|  ---------------
DETROIT      	| 13 x MI
             	| 1 x NY
-------------	|  ---------------
NEW JERSEY CITY 	| 1 x NY
             	| 1 x NJ
-------------	|  ---------------
FREMONT      	| 3 x NY
             	| 3 x CA
-------------	|  ---------------
FARMINGTON   	| 1 x NM
             	| 1 x MI
-------------	|  ---------------
SOMERVILLE   	| 1 x MA
             	| 1 x NJ
-------------	|  ---------------
HUNTINGTON VALL 	| 2 x NY
             	| 1 x PA
-------------	|  ---------------
GOLDEN BEACH 	| 7 x NY
             	| 1 x FL
-------------	|  ---------------
GREENTOWN    	| 2 x PA
             	| 2 x NY
-------------	|  ---------------
BETHEDSA     	| 9 x MD
             	| 1 x NY
-------------	|  ---------------
HILLS        	| 1 x NJ
             	| 1 x NY
-------------	|  ---------------
NESHANIC     	| 1 x NY
             	| 1 x NJ
-------------	|  ---------------
MILLVILLE    	| 1 x NJ
             	| 1 x NY
-------------	|  ---------------
CROFTON      	| 9 x NY
             	| 2 x MD
-------------	|  ---------------
LOCUST       	| 3 x NJ
             	| 1 x NY
-------------	|  ---------------
ST.AUGUSTINE 	| 5 x FL
             	| 2 x NY
-------------	|  ---------------
LANGHORNE    	| 127 x PA
             	| 11 x NY
-------------	|  ---------------
ORANGE LAKE  	| 8 x FL
             	| 1 x NY
-------------	|  ---------------
SOUTH PLAINFIED 	| 2 x NY
             	| 1 x NJ
-------------	|  ---------------
MURRY HILL   	| 3 x NY
             	| 3 x NJ
-------------	|  ---------------
FORT MYERS   	| 3 x NY
             	| 2 x FL
-------------	|  ---------------
QIEENS       	| 5 x NY
             	| 1 x UT
-------------	|  ---------------
LABELL       	| 1 x NY
             	| 1 x FL
-------------	|  ---------------
RIDEWOOD     	| 19 x NY
             	| 2 x NV
-------------	|  ---------------
SUMMERVILLE  	| 4 x NY
             	| 2 x NJ
-------------	|  ---------------
RICHBORO     	| 5 x PA
             	| 2 x NY
-------------	|  ---------------
BRIDGE PORT  	| 2 x CO
             	| 2 x CT
-------------	|  ---------------
ST AUGUSTINE 	| 5 x FL
             	| 1 x NY
-------------	|  ---------------
ADAMSTOWN    	| 5 x NY
             	| 1 x PA
-------------	|  ---------------
MECHANICSVILLE 	| 4 x VA
             	| 3 x NY
-------------	|  ---------------
DUNWOODY     	| 2 x NY
             	| 1 x GA
-------------	|  ---------------
WINDSOR LOCKS 	| 5 x CT
             	| 1 x CO
-------------	|  ---------------
DEL RAY      	| 3 x FL
             	| 1 x NY
-------------	|  ---------------
BLOOMSBURG   	| 1 x PA
             	| 1 x NY
-------------	|  ---------------
FT. LAUDEDALE 	| 1 x FL
             	| 1 x NY
-------------	|  ---------------
FORT MEYERS  	| 1 x NY
             	| 1 x FL
-------------	|  ---------------
RIVER VALE   	| 4 x NJ
             	| 1 x NY
-------------	|  ---------------
MEDIA        	| 31 x PA
             	| 2 x NY
-------------	|  ---------------
MT. POCONO   	| 4 x NY
             	| 3 x PA
-------------	|  ---------------
NORTH PALM BEAC 	| 2 x FL
             	| 1 x NY
-------------	|  ---------------

There is a row that has "NEW YORK CITY" as city, but have "NJ" as State, fix its state to "NY"

In [122]:
df["Owner'S House State"].loc[(df["Owner'S House City"] == "NEW YORK CITY") & (df["Owner'S House State"] == "NJ")]

Series([], Name: Owner'S House State, dtype: object)

# Apply similar operation on Owner'S Business Name

In [123]:
bn_col = "Owner's Business Name"
findDateOutliers(bn_col)

Column:  Owner's Business Name
1.       N/A     348,159
2.               243,930
3.        NA      67,584
4.  NY SCHOOL CONSTRUCTION AUTHORITY      19,966
5.       HPD      17,505
6.      NONE      13,668
7.     OWNER      12,935
8.   NYC HPD       9,877
9.  NYC HOUSING AUTHORITY       9,726
10.      n/a       9,654

Total number of distinct values in Owner's Business Name is 378167

# Using clustering for Business Name takes too much time, we can only clean those empty data for now

In [124]:
bn_col = "Owner'S Business Name"
df[bn_col] = df[bn_col].replace(['N/A', '', 'NA','NONE'], [None,None,None,None])

# Data Profilling for applicant columns

Find format problems and outliers in all applicant columns

Using openclean's sklearn modules to detect problems and outliers

In [125]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

# Print the ten most frequent values for the 'Vehicle Expiration Date' column.
def findDateOutliers(column_name, eps_setting = 0.05):
    applicant_data = ds.distinct(column_name)
    print("Column: ",column_name)
    
    for rank, val in enumerate(applicant_data.most_common(10)):        
        st, freq = val
        print('{:<3} {:>8}  {:>10}'.format('{}.'.format(rank + 1), st, '{:,}'.format(freq)))

    print('\nTotal number of distinct values in {} is {}'.format(column_name, len(applicant_data)))
    print(DBSCANOutliers(eps = eps_setting).find(applicant_data))
    print('\n==================================')

In [126]:
date_cols = []

print("Applicant Data columns:\n")
for col in ds.columns:
    if 'Permittee' in col:
        print(col)
        date_cols.append(col)

Applicant Data columns:

Permittee's First Name
Permittee's Last Name
Permittee's Business Name
Permittee's Phone #
Permittee's License Type
Permittee's License #
Permittee's Other Title

# Convert similar values to suggested value using kNN clustering

In [127]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(col, minsize = 2):
    dba = ds.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(0.75)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0
    print('Cluster {} (of size {})\n'.format(cnumber, len(cluster)))
    for val, count in cluster.items():
        item_count += 1
        if item_count <= 10:
            print('{} ({})'.format(val, count))
    if item_count>10:
        print(".......{} more items".format(item_count-10))
    print('\nSuggested value: {}\n\n'.format(cluster.suggestion()))

def updateUsingClusters(col, clusters, isPrint = False):
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i < 5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
            
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [128]:
# takes too long to run
'''
for col in date_cols[:3]:
    print("kNN cluster for ", col)
    col_clusters = getClusters(col)
    print("updating column ", col)
    print("----------------------\nTop 5 Cluster:\n----------------------")
    updateUsingClusters(col, col_clusters, True)
    print("================")
'''

'\nfor col in date_cols[:3]:\n    print("kNN cluster for ", col)\n    col_clusters = getClusters(col)\n    print("updating column ", col)\n    print("----------------------\nTop 5 Cluster:\n----------------------")\n    updateUsingClusters(col, col_clusters, True)\n    print("================")\n'

## Precision and Recall

In [129]:
cleaned_columns = ["Job Number", 'Owner\'S House Number', "Bldg Type", "Oil Gas", "Act As Superintendent", "Self  Cert", "Numbern- Profit", "Residential", 
                       "Owner'S Business Type", 
                       "Owner'S Business Name", "Owner'S First Name", "Owner'S Last Name", "Owner'S House Number", 
                       "Owner'S House Street Name", "Owner'S House City", "Owner'S House State", "Owner'S House Zip Code", 
                       "Owner'S Phone Number", "Filing Date","Issuance Date","Expiration Date","Job Start Date", "D O B Run Date"]

In [130]:
df_sample_data = df_sample.rename(columns=rename_dict)

In [131]:
df_sample_data.columns

Index(['Borough', 'Bin', 'Number', 'Street', 'Job Number', 'Job Doc Number',
       'Job Type', 'Self  Cert', 'Block', 'Lot', 'Community Board', 'Postcode',
       'Bldg Type', 'Residential', 'Special District 1', 'Special District 2',
       'Work Type', 'Permit Status', 'Filing Status', 'Permit Type',
       'Permit Sequence Number', 'Permit Subtype', 'Oil Gas', 'Site Fill',
       'Filing Date', 'Issuance Date', 'Expiration Date', 'Job Start Date',
       'Permittee'S First Name', 'Permittee'S Last Name',
       'Permittee'S Business Name', 'Permittee'S Phone Number',
       'Permittee'S License Type', 'Permittee'S License Number',
       'Act As Superintendent', 'Permittee'S Other Title', 'H I C License',
       'Site Safety Mgr'S First Name', 'Site Safety Mgr'S Last Name',
       'Site Safety Mgr Business Name', 'Superintendent First & Last Name',
       'Superintendent Business Name', 'Owner'S Business Type',
       'Numbern- Profit', 'Owner'S Business Name', 'Owner'S First Name',
       'Owner'S Last Name', 'Owner'S House Number',
       'Owner'S House Street Name', 'Owner'S House City',
       'Owner'S House State', 'Owner'S House Zip Code', 'Owner'S Phone Number',
       'D O B Run Date', 'Latitude', 'Longitude', 'Council District',
       'Census Tract', 'Bbl', 'Nta'],
      dtype='object')

In [132]:
df_sample_data = df_sample_data[cleaned_columns]

In [133]:
df_temp = df.loc[df_sample_data.index][cleaned_columns].copy()

In [134]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [135]:
cleaned_columns

['Job Number',
 "Owner'S House Number",
 'Bldg Type',
 'Oil Gas',
 'Act As Superintendent',
 'Self  Cert',
 'Numbern- Profit',
 'Residential',
 "Owner'S Business Type",
 "Owner'S Business Name",
 "Owner'S First Name",
 "Owner'S Last Name",
 "Owner'S House Number",
 "Owner'S House Street Name",
 "Owner'S House City",
 "Owner'S House State",
 "Owner'S House Zip Code",
 "Owner'S Phone Number",
 'Filing Date',
 'Issuance Date',
 'Expiration Date',
 'Job Start Date',
 'D O B Run Date']

In [136]:
col_idx = 0
tp = 0
fp = 0
fn = 0

In [137]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Job Number
Original,	 Cleaned

110247812 	 110247812
300739324 	 300739324
420051856 	 420051856
120614200 	 120614200
520045040 	 520045040
402019338 	 402019338
104162683 	 104162683
104585708 	 104585708
100728875 	 100728875
110361625 	 110361625
120586277 	 120586277
101548595 	 101548595
320192750 	 320192750
300937805 	 300937805
400968761 	 400968761
400869379 	 400869379
120704540 	 120704540
301663224 	 301663224
100499649 	 100499649
302213218 	 302213218
500842092 	 500842092
104806051 	 104806051
100276194 	 100276194
100730023 	 100730023
103522369 	 103522369
103465849 	 103465849
520038138 	 520038138
103918913 	 103918913
121481967 	 121481967
121044967 	 121044967
500693724 	 500693724
310310632 	 310310632
104749710 	 104749710
301729048 	 301729048
320264209 	 320264209
500331802 	 500331802
200902540 	 200902540
101095477 	 101095477
104871818 	 104871818
402053638 	 402053638
101737827 	 101737827
120633216 	 120633216
420056012 	 420056012
100961363 	 100961363
102632064 	 102632064
104799568 	 104799568
520047994 	 520047994
402129219 	 402129219
100358863 	 100358863
101424399 	 101424399
======================

In [138]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S House Number
Original,	 Cleaned

Owner'S House Number    280
Owner'S House Number    280
Name: 1590526, dtype: object 	 Owner'S House Number    280
Owner'S House Number    280
Name: 1590526, dtype: object
Owner'S House Number    1
Owner'S House Number    1
Name: 524120, dtype: object 	 Owner'S House Number    1
Owner'S House Number    1
Name: 524120, dtype: object
Owner'S House Number    107-11
Owner'S House Number    107-11
Name: 2176945, dtype: object 	 Owner'S House Number    107-11
Owner'S House Number    107-11
Name: 2176945, dtype: object
Owner'S House Number    232
Owner'S House Number    232
Name: 1132106, dtype: object 	 Owner'S House Number    232
Owner'S House Number    232
Name: 1132106, dtype: object
Owner'S House Number    117-02
Owner'S House Number    117-02
Name: 2356636, dtype: object 	 Owner'S House Number    117-02
Owner'S House Number    117-02
Name: 2356636, dtype: object
Owner'S House Number    89-24
Owner'S House Number    89-24
Name: 2180533, dtype: object 	 Owner'S House Number    89-24
Owner'S House Number    89-24
Name: 2180533, dtype: object
Owner'S House Number    55
Owner'S House Number    55
Name: 1082647, dtype: object 	 Owner'S House Number    55
Owner'S House Number    55
Name: 1082647, dtype: object
Owner'S House Number    15
Owner'S House Number    15
Name: 948928, dtype: object 	 Owner'S House Number    15
Owner'S House Number    15
Name: 948928, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1144790, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1144790, dtype: object
Owner'S House Number    18
Owner'S House Number    18
Name: 1692925, dtype: object 	 Owner'S House Number    18
Owner'S House Number    18
Name: 1692925, dtype: object
Owner'S House Number    22
Owner'S House Number    22
Name: 1256650, dtype: object 	 Owner'S House Number    22
Owner'S House Number    22
Name: 1256650, dtype: object
Owner'S House Number    40
Owner'S House Number    40
Name: 1629370, dtype: object 	 Owner'S House Number    40
Owner'S House Number    40
Name: 1629370, dtype: object
Owner'S House Number    575
Owner'S House Number    575
Name: 372434, dtype: object 	 Owner'S House Number    575
Owner'S House Number    575
Name: 372434, dtype: object
Owner'S House Number    1130
Owner'S House Number    1130
Name: 352272, dtype: object 	 Owner'S House Number    1130
Owner'S House Number    1130
Name: 352272, dtype: object
Owner'S House Number    41-30
Owner'S House Number    41-30
Name: 2238688, dtype: object 	 Owner'S House Number    41-30
Owner'S House Number    41-30
Name: 2238688, dtype: object
Owner'S House Number    111-13A
Owner'S House Number    111-13A
Name: 2246196, dtype: object 	 Owner'S House Number    111-13 A
Owner'S House Number    111-13 A
Name: 2246196, dtype: object
Owner'S House Number    317
Owner'S House Number    317
Name: 1234338, dtype: object 	 Owner'S House Number    317
Owner'S House Number    317
Name: 1234338, dtype: object
Owner'S House Number    295
Owner'S House Number    295
Name: 539838, dtype: object 	 Owner'S House Number    295
Owner'S House Number    295
Name: 539838, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1323855, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1323855, dtype: object
Owner'S House Number    348
Owner'S House Number    348
Name: 529179, dtype: object 	 Owner'S House Number    348
Owner'S House Number    348
Name: 529179, dtype: object
Owner'S House Number    420
Owner'S House Number    420
Name: 2416386, dtype: object 	 Owner'S House Number    420
Owner'S House Number    420
Name: 2416386, dtype: object
Owner'S House Number    12
Owner'S House Number    12
Name: 1317695, dtype: object 	 Owner'S House Number    12
Owner'S House Number    12
Name: 1317695, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1669183, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1669183, dtype: object
Owner'S House Number    1407
Owner'S House Number    1407
Name: 1365555, dtype: object 	 Owner'S House Number    1407
Owner'S House Number    1407
Name: 1365555, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 828463, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 828463, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1503906, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1503906, dtype: object
Owner'S House Number    4641
Owner'S House Number    4641
Name: 2327862, dtype: object 	 Owner'S House Number    4641
Owner'S House Number    4641
Name: 2327862, dtype: object
Owner'S House Number    120
Owner'S House Number    120
Name: 1607355, dtype: object 	 Owner'S House Number    120
Owner'S House Number    120
Name: 1607355, dtype: object
Owner'S House Number    450
Owner'S House Number    450
Name: 1230883, dtype: object 	 Owner'S House Number    450
Owner'S House Number    450
Name: 1230883, dtype: object
Owner'S House Number    89
Owner'S House Number    89
Name: 807424, dtype: object 	 Owner'S House Number    89
Owner'S House Number    89
Name: 807424, dtype: object
Owner'S House Number    260
Owner'S House Number    260
Name: 2322520, dtype: object 	 Owner'S House Number    260
Owner'S House Number    260
Name: 2322520, dtype: object
Owner'S House Number    530
Owner'S House Number    530
Name: 313120, dtype: object 	 Owner'S House Number    530
Owner'S House Number    530
Name: 313120, dtype: object
Owner'S House Number    39
Owner'S House Number    39
Name: 1711556, dtype: object 	 Owner'S House Number    39
Owner'S House Number    39
Name: 1711556, dtype: object
Owner'S House Number    30-30
Owner'S House Number    30-30
Name: 297280, dtype: object 	 Owner'S House Number    30-30
Owner'S House Number    30-30
Name: 297280, dtype: object
Owner'S House Number    1
Owner'S House Number    1
Name: 328873, dtype: object 	 Owner'S House Number    1
Owner'S House Number    1
Name: 328873, dtype: object
Owner'S House Number    270
Owner'S House Number    270
Name: 2389227, dtype: object 	 Owner'S House Number    270
Owner'S House Number    270
Name: 2389227, dtype: object
Owner'S House Number    1331
Owner'S House Number    1331
Name: 40153, dtype: object 	 Owner'S House Number    1331
Owner'S House Number    1331
Name: 40153, dtype: object
Owner'S House Number    858
Owner'S House Number    858
Name: 973431, dtype: object 	 Owner'S House Number    858
Owner'S House Number    858
Name: 973431, dtype: object
Owner'S House Number    666
Owner'S House Number    666
Name: 1003787, dtype: object 	 Owner'S House Number    666
Owner'S House Number    666
Name: 1003787, dtype: object
Owner'S House Number    P.O. Box
Owner'S House Number    P.O. Box
Name: 2051855, dtype: object 	 Owner'S House Number    P.O. BOX
Owner'S House Number    P.O. BOX
Name: 2051855, dtype: object
Owner'S House Number    156
Owner'S House Number    156
Name: 863544, dtype: object 	 Owner'S House Number    156
Owner'S House Number    156
Name: 863544, dtype: object
Owner'S House Number    826
Owner'S House Number    826
Name: 1628855, dtype: object 	 Owner'S House Number    826
Owner'S House Number    826
Name: 1628855, dtype: object
Owner'S House Number    61-65
Owner'S House Number    61-65
Name: 2204884, dtype: object 	 Owner'S House Number    61-65
Owner'S House Number    61-65
Name: 2204884, dtype: object
Owner'S House Number    1515
Owner'S House Number    1515
Name: 910696, dtype: object 	 Owner'S House Number    1515
Owner'S House Number    1515
Name: 910696, dtype: object
Owner'S House Number    69
Owner'S House Number    69
Name: 1086131, dtype: object 	 Owner'S House Number    69
Owner'S House Number    69
Name: 1086131, dtype: object
Owner'S House Number    855
Owner'S House Number    855
Name: 1440562, dtype: object 	 Owner'S House Number    855
Owner'S House Number    855
Name: 1440562, dtype: object
Owner'S House Number    124
Owner'S House Number    124
Name: 2415334, dtype: object 	 Owner'S House Number    124
Owner'S House Number    124
Name: 2415334, dtype: object
Owner'S House Number    221-33
Owner'S House Number    221-33
Name: 2268791, dtype: object 	 Owner'S House Number    221-33
Owner'S House Number    221-33
Name: 2268791, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1039794, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1039794, dtype: object
Owner'S House Number    11
Owner'S House Number    11
Name: 1528929, dtype: object 	 Owner'S House Number    11
Owner'S House Number    11
Name: 1528929, dtype: object
======================

In [139]:
tp += 1
fn += 6

In [140]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Bldg Type
Original,	 Cleaned

2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
2 	 2
2 	 2
1 	 1
1 	 1
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
1 	 1
2 	 2
2 	 2
2 	 2
1 	 1
1 	 1
2 	 2
2 	 2
======================

In [141]:
tp += 4

In [142]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Oil Gas
Original,	 Cleaned

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
======================

In [143]:
# or would this fall under fp?
tp += 49

In [144]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Act As Superintendent
Original,	 Cleaned

nan 	 N
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
Y 	 Y
Y 	 Y
Y 	 Y
nan 	 N
Y 	 Y
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
Y 	 Y
Y 	 Y
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
Y 	 Y
Y 	 Y
Y 	 Y
nan 	 N
Y 	 Y
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
Y 	 Y
======================

In [145]:
tp += 19

In [146]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Self  Cert
Original,	 Cleaned

Y 	 Y
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
Y 	 Y
Y 	 Y
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
Y 	 Y
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
======================

In [147]:
tp += 31

In [148]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Numbern- Profit
Original,	 Cleaned

nan 	 N
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
Y 	 Y
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
nan 	 N
======================

In [149]:
tp += 48

In [150]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Residential
Original,	 Cleaned

YES 	 YES
nan 	 NO
YES 	 YES
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
YES 	 YES
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
YES 	 YES
YES 	 YES
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
YES 	 YES
YES 	 YES
YES 	 YES
YES 	 YES
YES 	 YES
nan 	 NO
nan 	 NO
YES 	 YES
YES 	 YES
nan 	 NO
nan 	 NO
YES 	 YES
nan 	 NO
YES 	 YES
YES 	 YES
nan 	 NO
nan 	 NO
nan 	 NO
nan 	 NO
YES 	 YES
nan 	 NO
nan 	 NO
======================

In [151]:
tp += 39

In [152]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S Business Type
Original,	 Cleaned

CORPORATION 	 CORPORATION
OTHER 	 OTHER
INDIVIDUAL 	 INDIVIDUAL
PARTNERSHIP 	 PARTNERSHIP
OTHER GOV'T AGENCY 	 OTHER GOV'T AGENCY
INDIVIDUAL 	 INDIVIDUAL
CORPORATION 	 CORPORATION
PARTNERSHIP 	 PARTNERSHIP
nan 	 nan
PARTNERSHIP 	 PARTNERSHIP
PARTNERSHIP 	 PARTNERSHIP
INDIVIDUAL 	 INDIVIDUAL
PARTNERSHIP 	 PARTNERSHIP
INDIVIDUAL 	 INDIVIDUAL
INDIVIDUAL 	 INDIVIDUAL
INDIVIDUAL 	 INDIVIDUAL
INDIVIDUAL 	 INDIVIDUAL
CORPORATION 	 CORPORATION
nan 	 nan
INDIVIDUAL 	 INDIVIDUAL
PARTNERSHIP 	 PARTNERSHIP
CORPORATION 	 CORPORATION
nan 	 nan
PARTNERSHIP 	 PARTNERSHIP
nan 	 nan
nan 	 nan
INDIVIDUAL 	 INDIVIDUAL
PARTNERSHIP 	 PARTNERSHIP
CORPORATION 	 CORPORATION
INDIVIDUAL 	 INDIVIDUAL
CORPORATION 	 CORPORATION
INDIVIDUAL 	 INDIVIDUAL
CORPORATION 	 CORPORATION
OTHER 	 OTHER
CORPORATION 	 CORPORATION
CORPORATION 	 CORPORATION
INDIVIDUAL 	 INDIVIDUAL
INDIVIDUAL 	 INDIVIDUAL
PARTNERSHIP 	 PARTNERSHIP
CORPORATION 	 CORPORATION
CORPORATION 	 CORPORATION
CORPORATION 	 CORPORATION
INDIVIDUAL 	 INDIVIDUAL
CORPORATION 	 CORPORATION
CORPORATION 	 CORPORATION
CORPORATION 	 CORPORATION
INDIVIDUAL 	 INDIVIDUAL
INDIVIDUAL 	 INDIVIDUAL
nan 	 nan
CORPORATION 	 CORPORATION
======================

In [153]:
fn += 4

In [154]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S Business Name
Original,	 Cleaned

SHARFMAN ORGANIZATION 	 SHARFMAN ORGANIZATION
BROOKLYN PULIC LIBRARY 	 BROOKLYN PULIC LIBRARY
0 	 0
KC 53 LLC DBA SOCIAL EATZ 	 KC 53 LLC DBA SOCIAL EATZ
NYC PARKS & RECEATION 	 NYC PARKS & RECEATION
nan 	 nan
New Water Street Corp. 	 NEW WATER STREET CORP
WATERSCAPE RESORTS, LLC 	 WATERSCAPE RESORTS LLC
nan 	 nan
960 5TH AVE CORP WALLACH MNGR 	 960 5TH AVE CORP WALLACH MNGR
TRUSTEE OF SPENCE SCHOOL 	 TRUSTEE OF SPENCE SCHOOL
nan 	 nan
CBC REALTY LLC 	 CBC REALTY LLC
nan 	 nan
na 	 None
nan 	 nan
ROSE ASSOCIATES, INC., MANAGER 	 ROSE ASSOCIATES INC MANAGER
ROSKO HOLDING, INC. 	 ROSKO HOLDING INC
nan 	 nan
nan 	 nan
Brisam Staten Island LLC. 	 BRISAM STATEN ISLAND LLC
12 East 87th Street Owners, Inc. 	 12 EAST 87TH STREET OWNERS INC
nan 	 nan
291 BROADWAY REALTY ASSOCIATES 	 291 BROADWAY REALTY ASSOCIATES
nan 	 nan
nan 	 nan
nan 	 nan
RECKSON ASSOCIATES REALTY CORP 	 RECKSON ASSOCIATES REALTY CORP
86 APARTMENT CORP 	 86 APARTMENT CORP
nan 	 nan
NORTH SHORE HOME COMPANY 	 NORTH SHORE HOME COMPANY
nan 	 nan
14 Jeffeson Street Corp 	 14 JEFFESON STREET CORP
NYC SCA 	 NYC SCA
FC HANSON ASSOCIATES, LLC 	 FC HANSON ASSOCIATES LLC
1741 VICTORY BOULEVARD CORP. 	 1741 VICTORY BOULEVARD CORP
nan 	 nan
FLOWERS ON LEX 	 FLOWERS ON LEX
48 TENANTS CORP 	 48 TENANTS CORP
F & P Construction & Management 	 F & P CONSTRUCTION & MANAGEMENT
110-118 RIVERSIDE TENANTS CORP. 	 110-118 RIVERSIDE TENANTS CORP
DEVONSHIRE ASSOCIATES, LLC 	 DEVONSHIRE ASSOCIATES LLC
nan 	 nan
42ND ST.DEVELOPMENT PROJECT 	 42ND STDEVELOPMENT PROJECT
69 W. 9 Ow 	 69 W 9 OW
HABENN REALTY CORP 	 HABENN REALTY CORP
nan 	 nan
nan 	 nan
nan 	 nan
EMPIRE STATE LOFTS LTD. 	 EMPIRE STATE LOFTS LTD
======================

In [155]:
tp += 8
fp += 9
fn += 16

In [156]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S First Name
Original,	 Cleaned

MARK 	 MARK
HELMUT 	 HELMUT
DRUEPATIE 	 DRUEPATIE
SCOTT 	 SCOTT
THERESE 	 THERESE
JOSE 	 JOSE
William 	 William
SOLLY 	 SOLLY
nan 	 nan
BURTON 	 BURTON
KATHY 	 KATHY
THOMAS 	 THOMAS
PAT 	 PAT
SOO CHUL 	 SOO CHUL
Paul 	 Paul
JUNG SHIN 	 JUNG SHIN
MARCO 	 MARCO
ANDREW 	 ANDREW
nan 	 nan
WILLIAM 	 WILLIAM
Sam 	 Sam
Stephen 	 Stephen
nan 	 nan
SAM 	 SAM
nan 	 nan
nan 	 nan
ANTHONY 	 ANTHONY
MATTHEW 	 MATTHEW
MICHAEL 	 MICHAEL
RAM 	 RAM
RANDY 	 RANDY
XI 	 XI
Wing 	 Wing
TIMOTHY 	 TIMOTHY
ROBERT 	 ROBERT
BOBBY 	 BOBBY
ORATZIO 	 ORATZIO
SANG 	 SANG
JONATHAN 	 JONATHAN
Fred 	 Fred
BERNARD 	 BERNARD
SUSAN 	 SUSAN
EUNJA 	 EUNJA
REBECCA 	 REBECCA
Larry 	 Larry
NED 	 NED
SAL 	 SAL
MOHINDER 	 MOHINDER
nan 	 nan
VINCENT 	 VINCENT
======================

In [157]:
fn += 11

In [158]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S Last Name
Original,	 Cleaned

SHARFMAN 	 SHARFMAN
HUTTER 	 HUTTER
POONAI 	 POONAI
ALLING 	 ALLING
BRADDICK 	 BRADDICK
MOLINA 	 MOLINA
Pupplo 	 Pupplo
ASSA 	 ASSA
nan 	 nan
WALLACH 	 WALLACH
JONES 	 JONES
BISHOP 	 BISHOP
CONTE 	 CONTE
YOO 	 YOO
Peters 	 Peters
HUANG 	 HUANG
MATTIA 	 MATTIA
JERRO 	 JERRO
nan 	 nan
REESE 	 REESE
Chang 	 Chang
Reinstadtler 	 Reinstadtler
nan 	 nan
SUTTON 	 SUTTON
nan 	 nan
nan 	 nan
LOPRESTI 	 LOPRESTI
DUTHIE 	 DUTHIE
ZINDER 	 ZINDER
SUBRAMANIAN 	 SUBRAMANIAN
LEE 	 LEE
WU 	 WU
Ma 	 Ma
NG 	 NG
SANNA 	 SANNA
RICCA 	 RICCA
LAPIETRA 	 LAPIETRA
PARK 	 PARK
LANMAN 	 LANMAN
Pouration 	 Pouration
ISER 	 ISER
HEWITT 	 HEWITT
RO 	 RO
ROBERTSON 	 ROBERTSON
Henzel 	 Henzel
BERNSTEIN 	 BERNSTEIN
CALCAGNO 	 CALCAGNO
SINGH 	 SINGH
nan 	 nan
TROCCHIA 	 TROCCHIA
======================

In [159]:
fn += 8

In [160]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S House Number
Original,	 Cleaned

Owner'S House Number    280
Owner'S House Number    280
Name: 1590526, dtype: object 	 Owner'S House Number    280
Owner'S House Number    280
Name: 1590526, dtype: object
Owner'S House Number    1
Owner'S House Number    1
Name: 524120, dtype: object 	 Owner'S House Number    1
Owner'S House Number    1
Name: 524120, dtype: object
Owner'S House Number    107-11
Owner'S House Number    107-11
Name: 2176945, dtype: object 	 Owner'S House Number    107-11
Owner'S House Number    107-11
Name: 2176945, dtype: object
Owner'S House Number    232
Owner'S House Number    232
Name: 1132106, dtype: object 	 Owner'S House Number    232
Owner'S House Number    232
Name: 1132106, dtype: object
Owner'S House Number    117-02
Owner'S House Number    117-02
Name: 2356636, dtype: object 	 Owner'S House Number    117-02
Owner'S House Number    117-02
Name: 2356636, dtype: object
Owner'S House Number    89-24
Owner'S House Number    89-24
Name: 2180533, dtype: object 	 Owner'S House Number    89-24
Owner'S House Number    89-24
Name: 2180533, dtype: object
Owner'S House Number    55
Owner'S House Number    55
Name: 1082647, dtype: object 	 Owner'S House Number    55
Owner'S House Number    55
Name: 1082647, dtype: object
Owner'S House Number    15
Owner'S House Number    15
Name: 948928, dtype: object 	 Owner'S House Number    15
Owner'S House Number    15
Name: 948928, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1144790, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1144790, dtype: object
Owner'S House Number    18
Owner'S House Number    18
Name: 1692925, dtype: object 	 Owner'S House Number    18
Owner'S House Number    18
Name: 1692925, dtype: object
Owner'S House Number    22
Owner'S House Number    22
Name: 1256650, dtype: object 	 Owner'S House Number    22
Owner'S House Number    22
Name: 1256650, dtype: object
Owner'S House Number    40
Owner'S House Number    40
Name: 1629370, dtype: object 	 Owner'S House Number    40
Owner'S House Number    40
Name: 1629370, dtype: object
Owner'S House Number    575
Owner'S House Number    575
Name: 372434, dtype: object 	 Owner'S House Number    575
Owner'S House Number    575
Name: 372434, dtype: object
Owner'S House Number    1130
Owner'S House Number    1130
Name: 352272, dtype: object 	 Owner'S House Number    1130
Owner'S House Number    1130
Name: 352272, dtype: object
Owner'S House Number    41-30
Owner'S House Number    41-30
Name: 2238688, dtype: object 	 Owner'S House Number    41-30
Owner'S House Number    41-30
Name: 2238688, dtype: object
Owner'S House Number    111-13A
Owner'S House Number    111-13A
Name: 2246196, dtype: object 	 Owner'S House Number    111-13 A
Owner'S House Number    111-13 A
Name: 2246196, dtype: object
Owner'S House Number    317
Owner'S House Number    317
Name: 1234338, dtype: object 	 Owner'S House Number    317
Owner'S House Number    317
Name: 1234338, dtype: object
Owner'S House Number    295
Owner'S House Number    295
Name: 539838, dtype: object 	 Owner'S House Number    295
Owner'S House Number    295
Name: 539838, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1323855, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1323855, dtype: object
Owner'S House Number    348
Owner'S House Number    348
Name: 529179, dtype: object 	 Owner'S House Number    348
Owner'S House Number    348
Name: 529179, dtype: object
Owner'S House Number    420
Owner'S House Number    420
Name: 2416386, dtype: object 	 Owner'S House Number    420
Owner'S House Number    420
Name: 2416386, dtype: object
Owner'S House Number    12
Owner'S House Number    12
Name: 1317695, dtype: object 	 Owner'S House Number    12
Owner'S House Number    12
Name: 1317695, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1669183, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1669183, dtype: object
Owner'S House Number    1407
Owner'S House Number    1407
Name: 1365555, dtype: object 	 Owner'S House Number    1407
Owner'S House Number    1407
Name: 1365555, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 828463, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 828463, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1503906, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1503906, dtype: object
Owner'S House Number    4641
Owner'S House Number    4641
Name: 2327862, dtype: object 	 Owner'S House Number    4641
Owner'S House Number    4641
Name: 2327862, dtype: object
Owner'S House Number    120
Owner'S House Number    120
Name: 1607355, dtype: object 	 Owner'S House Number    120
Owner'S House Number    120
Name: 1607355, dtype: object
Owner'S House Number    450
Owner'S House Number    450
Name: 1230883, dtype: object 	 Owner'S House Number    450
Owner'S House Number    450
Name: 1230883, dtype: object
Owner'S House Number    89
Owner'S House Number    89
Name: 807424, dtype: object 	 Owner'S House Number    89
Owner'S House Number    89
Name: 807424, dtype: object
Owner'S House Number    260
Owner'S House Number    260
Name: 2322520, dtype: object 	 Owner'S House Number    260
Owner'S House Number    260
Name: 2322520, dtype: object
Owner'S House Number    530
Owner'S House Number    530
Name: 313120, dtype: object 	 Owner'S House Number    530
Owner'S House Number    530
Name: 313120, dtype: object
Owner'S House Number    39
Owner'S House Number    39
Name: 1711556, dtype: object 	 Owner'S House Number    39
Owner'S House Number    39
Name: 1711556, dtype: object
Owner'S House Number    30-30
Owner'S House Number    30-30
Name: 297280, dtype: object 	 Owner'S House Number    30-30
Owner'S House Number    30-30
Name: 297280, dtype: object
Owner'S House Number    1
Owner'S House Number    1
Name: 328873, dtype: object 	 Owner'S House Number    1
Owner'S House Number    1
Name: 328873, dtype: object
Owner'S House Number    270
Owner'S House Number    270
Name: 2389227, dtype: object 	 Owner'S House Number    270
Owner'S House Number    270
Name: 2389227, dtype: object
Owner'S House Number    1331
Owner'S House Number    1331
Name: 40153, dtype: object 	 Owner'S House Number    1331
Owner'S House Number    1331
Name: 40153, dtype: object
Owner'S House Number    858
Owner'S House Number    858
Name: 973431, dtype: object 	 Owner'S House Number    858
Owner'S House Number    858
Name: 973431, dtype: object
Owner'S House Number    666
Owner'S House Number    666
Name: 1003787, dtype: object 	 Owner'S House Number    666
Owner'S House Number    666
Name: 1003787, dtype: object
Owner'S House Number    P.O. Box
Owner'S House Number    P.O. Box
Name: 2051855, dtype: object 	 Owner'S House Number    P.O. BOX
Owner'S House Number    P.O. BOX
Name: 2051855, dtype: object
Owner'S House Number    156
Owner'S House Number    156
Name: 863544, dtype: object 	 Owner'S House Number    156
Owner'S House Number    156
Name: 863544, dtype: object
Owner'S House Number    826
Owner'S House Number    826
Name: 1628855, dtype: object 	 Owner'S House Number    826
Owner'S House Number    826
Name: 1628855, dtype: object
Owner'S House Number    61-65
Owner'S House Number    61-65
Name: 2204884, dtype: object 	 Owner'S House Number    61-65
Owner'S House Number    61-65
Name: 2204884, dtype: object
Owner'S House Number    1515
Owner'S House Number    1515
Name: 910696, dtype: object 	 Owner'S House Number    1515
Owner'S House Number    1515
Name: 910696, dtype: object
Owner'S House Number    69
Owner'S House Number    69
Name: 1086131, dtype: object 	 Owner'S House Number    69
Owner'S House Number    69
Name: 1086131, dtype: object
Owner'S House Number    855
Owner'S House Number    855
Name: 1440562, dtype: object 	 Owner'S House Number    855
Owner'S House Number    855
Name: 1440562, dtype: object
Owner'S House Number    124
Owner'S House Number    124
Name: 2415334, dtype: object 	 Owner'S House Number    124
Owner'S House Number    124
Name: 2415334, dtype: object
Owner'S House Number    221-33
Owner'S House Number    221-33
Name: 2268791, dtype: object 	 Owner'S House Number    221-33
Owner'S House Number    221-33
Name: 2268791, dtype: object
Owner'S House Number    NaN
Owner'S House Number    NaN
Name: 1039794, dtype: object 	 Owner'S House Number
Owner'S House Number
Name: 1039794, dtype: object
Owner'S House Number    11
Owner'S House Number    11
Name: 1528929, dtype: object 	 Owner'S House Number    11
Owner'S House Number    11
Name: 1528929, dtype: object
======================

In [161]:
tp += 3
fn += 2

In [162]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S House Street Name
Original,	 Cleaned

NORTH CENTERAL PARK AVENUE 	 NORTH CENTERAL PARK AVENUE
GRAND ARMY PLAZA 	 GRAND ARMY PLAZA
92 STREET 	 92 STREET
E 53 ST 	 E 53 ST
ROOSEVELT AVENUE 	 ROOSEVELT AVENUE
183 STREET 	 183 STREET
Water Street 	 Water Street
WEST 34TH STREET, 7TH FLOOR 	 WEST 34TH STREET, 7TH FLOOR
nan 	 nan
E 64 ST 	 E 64 ST
EAST 91ST STREET 	 EAST 91ST STREET
BEDFORD STREET 	 BEDFORD STREET
GRAND STREET 	 GRAND STREET
MYRTLE AVE 	 MYRTLE AVE
Corporal Kennedy St. 	 Corporal Kennedy St.
ROOSVELT AVE. 	 ROOSVELT AVE.
AVENUE C 	 AVENUE C
5TH AVENUE 	 5TH AVENUE
nan 	 nan
VERNON AVENUE 	 VERNON AVENUE
Great Neck Road 	 Great Neck Road
East 87 Street 	 East 87 Street
nan 	 nan
BROADWAY 	 BROADWAY
nan 	 nan
nan 	 nan
HYLAN BLVD 	 HYLAN BLVD
WEST 45TH STREET 	 WEST 45TH STREET
SEVENTH AVENUE 	 SEVENTH AVENUE
WASHINGTON AVE 	 WASHINGTON AVE
CHRISTOPHER LANE 	 CHRISTOPHER LANE
67TH STREET 	 67TH STREET
Bowery 	 Bowery
THOMSON AVENUE 	 THOMSON AVENUE
METROTECH CENTER NORTH 	 METROTECH CENTER NORTH
WATCHOGUE ROAD 	 WATCHOGUE ROAD
STADIUM AVE 	 STADIUM AVE
LEX AVE 	 LEX AVE
BROADWAY C/OANDREWS BC 12TH FLR 	 BROADWAY C/OANDREWS BC 12TH FLR
4505 	 4505
WEST 56TH STREET 	 WEST 56TH STREET
BROADWAY 	 BROADWAY
AUSTIN ST. 	 AUSTIN ST.
BROADWAY 	 BROADWAY
West 9th Street 	 West 9th Street
6TH AVENUE 	 6TH AVENUE
MCCLEAN AVE 	 MCCLEAN AVE
DAVENPORT AVENUE 	 DAVENPORT AVENUE
nan 	 nan
WEST 30TH STREET, 	 WEST 30TH STREET,
======================

In [163]:
fn += 8

In [164]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S House City
Original,	 Cleaned

HARTSDALE 	 HARTSDALE
BKLYN 	 BKLYN
OZONE PARK 	 OZONE PARK
NEW YORK 	 NEW YORK
FLUSHING 	 FLUSHING
QUEENS 	 QUEENS
New York 	 NEW YORK
NEW YORK 	 NEW YORK
nan 	 nan
N.Y. 	 N.Y.
NY 	 NY
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
Bayside 	 BAYSIDE
QUEENS 	 QUEENS
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
nan 	 nan
BROOKLYN 	 BROOKLYN
Great Neck 	 GREAT NECK
New York 	 NEW YORK
nan 	 nan
NEW YORK 	 NEW YORK
nan 	 nan
nan 	 nan
STATEN ISLAND 	 STATEN ISLAND
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
STATEN ISLAND 	 STATEN ISLAND
BROOKLYN 	 BROOKLYN
New York 	 NEW YORK
LIC 	 LIC
BROOKLYN 	 BROOKLYN
STATEN ISLAND 	 STATEN ISLAND
BRONX 	 BRONX
NY 	 NY
N.Y. 	 N.Y.
Great Neck, 	 GREAT NECK,
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
REGO PARK 	 REGO PARK
NEW YORK 	 NEW YORK
New York 	 NEW YORK
NEW YORK 	 NEW YORK
STATEN ISLAND 	 STATEN ISLAND
QUEENS VILLAGE 	 QUEENS VILLAGE
nan 	 nan
NEW YORK 	 NEW YORK
======================

In [165]:
tp += 6
fn += 15

In [166]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S House State
Original,	 Cleaned

NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
nan 	 nan
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
nan 	 nan
NY 	 NY
NY 	 NY
NY 	 NY
nan 	 nan
NY 	 NY
nan 	 nan
nan 	 nan
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
NY 	 NY
nan 	 nan
NY 	 NY
======================

In [167]:
#didn't change any for these

In [168]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S House Zip Code
Original,	 Cleaned

10530 	 10530
11232 	 11232
11417 	 11417
10022 	 10022
11368 	 11368
11423 	 11423
10041 	 10041
10001 	 10001
nan 	 nan
10021 	 10021
10128 	 10128
10014 	 10014
11211 	 11211
11206 	 11206
11361 	 11361
11368 	 11368
10009 	 10009
11215 	 11215
nan 	 nan
11206 	 11206
11021 	 11021
10128 	 10128
nan 	 nan
10018 	 10018
nan 	 nan
nan 	 nan
103120000 	 103120000
10036 	 10036
10123 	 10123
10011 	 10011
10314 	 10314
11220 	 11220
10002 	 10002
11101 	 11101
11201 	 11201
10314 	 10314
10465 	 10465
10021 	 10021
10012 	 10012
11023 	 11023
10019 	 10019
10003 	 10003
11374 	 11374
10036 	 10036
10011 	 10011
10001 	 10001
10304 	 10304
11428 	 11428
nan 	 nan
10016 	 10016
======================

In [169]:
fn += 4

In [170]:
col = cleaned_columns[col_idx]
print("column: ", col)
print("Original,\t Cleaned\n")
for i in range(50):
    print(df_sample_data[col].iloc[i], '\t', df_temp[col].iloc[i])

print('======================\n\n')
col_idx += 1

column:  Owner'S Phone Number
Original,	 Cleaned

9149972435 	 9149972435
7186265654 	 7186265654
7188433678 	 7188433678
2122073339 	 2122073339
7187606601 	 7187606601
7182064203 	 7182064203
2127470114 	 2127470114
2122399900 	 2122399900
nan 	 nan
2127533381 	 2127533381
6469436822 	 6469436822
2122799722 	 2122799722
7187821222 	 7187821222
7188868781 	 7188868781
7189393901 	 7189393901
7184614587 	 7184614587
2125985271 	 2125985271
3472315798 	 3472315798
nan 	 nan
7185736368 	 7185736368
5167739300 	 5167739300
2122893493 	 2122893493
nan 	 nan
2125943336 	 2125943336
nan 	 nan
nan 	 nan
6462203326 	 6462203326
2127536600 	 2127536600
2127363680 	 2127363680
9179714987 	 9179714987
7189838800 	 7189838800
6466433234 	 6466433234
9172738188 	 9172738188
7184728000 	 7184728000
7189238400 	 7189238400
9175522410 	 9175522410
7188638943 	 7188638943
2128792900 	 2128792900
2125295688 	 2125295688
5164660055 	 5164660055
2122472603 	 2122472603
2128241191 	 2128241191
7184295007 	 7184295007
2120000000 	 2120000000
2123712525 	 2123712525
2125941414 	 2125941414
7184426800 	 7184426800
7182060125 	 7182060125
nan 	 nan
2125813630 	 2125813630
======================

In [171]:
fp += 3

In [172]:
tp

208

In [173]:
fp

12

In [174]:
fn

74

In [175]:
precision(tp, fp)

0.9454545454545454

In [176]:
recall(tp,fn)

0.7375886524822695

# Save cleaned data

In [177]:
outputpath = 'cleaned_data.csv'
df.to_csv(outputpath,sep=',',index=False,header=True)

# Some discussion

We have profiled and cleaned most of the columns, we first change some of the column names so that they present right information about the data, then we look at each of these columns to detect outliers and wrong format.

However, there are still some issues, first we keep most of the empty value as NaN, and we don't know if clustering is the best way to clean the name data since it might convert similar names to one same name. And, business names are too long that we can not perform clustering on them so we only fixed empty values. Also, there are some column names in upper case, we do not know if we should convert them to lower case as other columns.