# General version of data cleaning

This code will automatically perform data cleaning on each of the dataset in the directoty, to run this notebook you need to download all the datasets and place them in the current directoty with the notebook.

Because we automatically find columns and fix them, we can not afford clustering to find outliers for each datasets so remove it in this notebook, the precision and recall rate might be influenced.

Run the code in oreder to perform data clean, cleaned data will be save in the current directoty, and to calculate the precision and recall rate, you will need to manually inspect the result.

In [1]:
import openclean
import glob
import pandas as pd
import numpy as np
import re

In [2]:
import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

In [3]:
import pandas as pd
from openclean.pipeline import stream

In [4]:
# dataset_list = ['hg8x-zxpr','w9ak-ipjd','dm9a-ab7w','bx6-tga4','ipu4-2q9a','xubg-57si', 'bty7-2jhb', 'hcir-3275, 'pitm-atqc','iz2q-9x8d']
# dataset_names = ['Housing New York Units by Building',
#                  'DOB NOW: Build – Job Application Filings',
#                  'DOB NOW: Electrical Permit Applications', 
#                  'DOB NOW: Build – Approved Permits',
#                  'DOB Permit Issuance', 
#                  'DOB NOW: Safety – Facades Compliance Filings',
#                  'Historical DOB Permit Issuance', 
#                  'Buildings Selected for the Alternative Enforcement Program (AEP)', 
#                  'Open Restaurant Applications', 
#                  'DOB Cellular Antenna Filings']

# dataset = Socrata().dataset('pitm-atqc')
# datafile = './pitm-atqc.tsv.gz'

# if not os.path.isfile(datafile):
#     with gzip.open(datafile, 'wb') as f:
#         print('Downloading ...\n')
#         dataset.write(f)


# fsize = humanfriendly.format_size(os.stat(datafile).st_size)
# print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

In [5]:
# DOB Cellular Antenna Filings: iz2q-9x8d
# Open Restaurant Applications: pitm-atqc
# DOB NOW: Safety – Facades Compliance Filings: xubg-57si
# DOB Permit Issuance: ipu4-2q9a

In [2]:
#file_list = glob.glob("*.tsv.gz")
file_list =['ipu4-2q9a.tsv.gz','iz2q-9x8d.tsv.gz','pitm-atqc.tsv.gz', 'xubg-57si.tsv.gz']

In [3]:
file_list

['ipu4-2q9a.tsv.gz',
 'iz2q-9x8d.tsv.gz',
 'pitm-atqc.tsv.gz',
 'xubg-57si.tsv.gz']

In [8]:
def readData(file):
    
    datafile = './'+file
    
    df  = pd.read_csv(datafile, dtype='object', sep='\t')
    #ds = stream(datafile)
    
    return datafile, df#, ds

In [9]:
def fixColumnNames(df):
    rename_list = list(df.columns)
    rename_dict = dict()

    for i in rename_list:
        col_name = str(i)

        col_name = col_name.strip().replace("_", " ").replace("’", "'").replace(".", "")


        # https://stackoverflow.com/questions/2277352/split-a-string-at-uppercase-letters
        # Split on upper case to seperate cocnatenated words:
        if (not col_name.islower()) and (not col_name.isupper()) and (col_name.find(" ") == -1):
            col_name = " ".join(re.sub("([A-Z])", r" \1", col_name).split())


        if col_name.islower(): 
            col_name = col_name.title()

        if (col_name.isupper()) and (col_name.find(" ") != -1):
            col_name = col_name.title()

        col_name = col_name.replace("No.", "Number")
        col_name = col_name.replace("#", "Number")

        rename_dict[i] = col_name
    return rename_dict

In [10]:
def findColumns(df, column_name_list):
    data_cols = []

    for col in df.columns:
        for name in column_name_list:
            if name.lower() in col.lower():
                data_cols.append(col)
                
    return  data_cols

In [11]:
def fix_House_Number_Column(df, col):
    df[col] = df[col].str.replace(pat='(?P<one>\\d)(?P<two>[A-Z]+)', repl='\g<one> \g<two>', regex=True)
    df[col] = df[col].str.replace(pat='(?P<one>GAR$)', repl='GARAGE', regex=True)
    df[col] = df[col].str.replace(pat='NORTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='EAST([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='SOUTH([A-Z]+)?', repl='', regex=True)
    df[col] = df[col].str.replace(pat='WEST([A-Z]+)?', repl='', regex=True)
    df.loc[(~df[col].str.contains('\\d', regex=True)), col] = ''

In [12]:
def fix_Phone_Number_Column(df, col):
    
    df[col] = df[col].str.replace(pat="[^\\d]", repl="", regex=True)    
    df[col] = df[col].str.lstrip('1')
    df.loc[df[col].str.len()!=10, col] = ''

    #return data_cols

In [13]:
def fix_ID_Number_Column(df):
    data_cols = findColumns(df, ['number', 'Number',' No',' NO'])
    
    for col in data_cols:
        
        df[col].fillna('', inplace=True)
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()

        df.loc[df[col].str.strip('')=='ONE', col] = '1'
        df.loc[df[col].str.strip('')=='TWO', col] = '2'
        df.loc[df[col].str.strip('')=='THREE', col] = '3'
        df.loc[df[col].str.strip('')=='FOUR', col] = '4'
        df.loc[df[col].str.strip('')=='FIVE', col] = '5'
        df.loc[df[col].str.strip('')=='SIX', col] = '6'
        df.loc[df[col].str.strip('')=='SEVEN', col] = '7'
        df.loc[df[col].str.strip('')=='EIGHT', col] = '8'
        df.loc[df[col].str.strip('')=='NINE', col] = '9'

        df.loc[df[col].str.strip('')=='NONE', col] = ''
        df.loc[df[col].str.strip('')=='none', col] = ''
        df.loc[df[col].str.strip('')=='None', col] = ''

        df.loc[df[col].str.strip('')=='NAN', col] = ''
        df.loc[df[col].str.strip('')=='nan', col] = ''
        df.loc[df[col].str.strip('')=='NaN', col] = ''
        
        df.loc[df[col].str.strip('')=='NO NUMBER', col] = ''
    
        if ('house' in col.lower()) or ('building' in col.lower()):
            fix_House_Number_Column(df, col)
        if ("phone" in col.lower()):
            fix_Phone_Number_Column(df, col)
    
    return data_cols

In [14]:
def fix_Binary_Column(df):
    #data_cols = findColumns(ds, ['Landmarked','Owned', 'Filled'])
    #
    data_cols = []

    for col in df.columns:
        # If column has small # of values, and potentially boolean values like Yes/ No, Y/N, X, True, etc.
        if (df[col].nunique() < 5) and (df[df[col].str.lower()==('y|yes|x|true|n|no|false')][col].count() != 0):
            data_cols.append(col)
        
        
    for col in data_cols:
        
        df.loc[df[col].str.lower().isin(['y','yes', 'x', 'true']), col] = True
        df.loc[df[col].str.lower().isin(['n', 'no', 'nan','false']), col] = False
        df.loc[df[col].str.lower()=='', col] = False
        df[col].fillna(False, inplace=True)
        
        if df[col].nunique()==2:
            df[col] = df[col].astype('bool')
        
    return data_cols

In [15]:
def fix_Monetary_Column(df):
    data_cols = findColumns(df, ['Cost','cost', 'fee', 'Fee'])
    
    for col in data_cols:
        
        df[col] = df[col].astype('str')
        df[col] = df[col].str.replace("$", '', regex=False)
        df[col] = df[col].str.replace("-", '', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')

    return data_cols

In [16]:
def fix_Numerical_Column(df):
    data_cols = findColumns(df, ['Units','units', 'Height', 'height', 'Length', 'length', 'Footage', 'footage', 'Sqft', 'sqft'])
    
    for col in data_cols:
        df[col] = df[col].astype('str')

        df[col] = df[col].str.replace('-', '', regex=False)
        df[col] = df[col].str.replace('NONE', '0', regex=False)
        df[col] = df[col].str.replace('none', '0', regex=False)
        df[col] = df[col].str.replace('NAN', '0', regex=False)
        df[col] = df[col].str.replace('NaN', '0', regex=False)
        df[col] = df[col].str.replace('nan', '0', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce')
        
    return data_cols

In [17]:
from openclean.profiling.anomalies.sklearn import DBSCANOutliers

def findDateOutliers(df, column_name, eps_setting = 0.05):
    datetime_data = df[column_name]

    light_outliers = DBSCANOutliers().find(datetime_data)
    
    return light_outliers

In [18]:
def fix_datetime_Column(df):
    data_cols = findColumns(df, ['date', 'Date', 'DATE'])
    
    for col in data_cols:
    
        df[col] = pd.to_datetime(df[col], errors='coerce')
        
        light_outliers = findDateOutliers(df, col)
        
        for item in light_outliers:
            
            df[col] = df[col].replace(item, None)
         
    return data_cols

In [19]:
from openclean.data.refdata import RefStore

refdata = RefStore()
city_df = refdata\
    .load('encyclopaedia_britannica:us_cities', auto_download=True)\
    .df()

In [20]:
# Cluster string using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.value.threshold import GreaterThan

def getClusters(df, col, minsize = 2, preds = 0.5): #ds
    dba = df.select(col).distinct()
    clusters = knn_clusters(
        values=dba,
        sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(preds)),
        minsize=minsize
    )
    return clusters

def print_cluster(cnumber, cluster):
    item_count = 0

def updateUsingClusters(df, col, clusters, isPrint = False): # ds,
    
    orignal_list = []
    suggestion_list = []
    clusters.sort(key=lambda c: len(c), reverse=True)
       
    for i, cluster in enumerate(clusters):        
        suggestion = cluster.suggestion()
        orignal_list = []
        suggestion_list = []
        if isPrint and i <5:
            print_cluster(i, cluster)
        
        for val, count in cluster.items(): 
            orignal_list.append(val)
            suggestion_list.append(suggestion)
    
    df[col] = df[col].replace(orignal_list, suggestion_list)

In [21]:
from openclean.function.eval.base import Col, Eval
from openclean.function.eval.logic import And
from openclean.function.value.phonetic import Soundex, soundex


def fix_city_and_name_Column(df, file): #ds,
    data_cols = findColumns(df, ['NAME', 'name', 'Name','city', 'City', 'CITY', 'BOROUGH', 'Borough', 'borough'])
    name_cols = findColumns(df, ['NAME', 'name', 'Name'])
    
    # mapping list to replace outliers
    outlier1 = ['', 'MR. ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM 11', 'JOSEP;H``', 'DAID/11/2007', 'CHUNG   LUN', '718 9215010', 'ANTHONY', 'HSIA0-NAN', 'JOSEPH', '``````````', 'ROBERT  `', 'RAJENDRA9956700', '2', 'G.B.M.', 'EUGENE......JR', '6312100', 'CLAUDE,JR.', 'THOMAS``', 'ALAN  L', 'Nab53', 'MR. Y. B', 'J.J', 'PH8ILIP', 'I. M', 'RICHARD', 'ALBERTA S 111 D', 'P ;', 'GENECG.C. ENG &', 'J.J.', '2126202794', 'SHAW  HWA', 'HARRY         H', 'MR DOU8GLAS', '`1D', 'PAUL', 'K. T.', 'JOHN', '...NORMAN', 'EVAN   D', '7184361278BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MAD/Y/ARNI', 'ES ON SCH B', 'EUGENE.......JR', 'NEAL', 'F._ERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0-TECH', 'RODNEY   __', 'DAVID', 'G. L.', 'JAMES', 'LESLI8E', '7186054055', 'GEORGE', 'G.B.M', 'DAVID    JON', 'CHUNG---YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', '1P', 'JUDE.....N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD/HON-AN', 'GLEN  A.L.', 'J.B. Jr.', 'LORENZO..A', 'J J', '..RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY 2', '...JOSEPH', 'RUSSELL 111', 'THOMAS', 'H./E./CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', '--young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']
    mapping1 = [None, 'ROSS ADAM C', 'MICHAEL', 'N. J.', 'WILLIAM', 'JOSEPH', None, 'CHUNG LUN', None, 'ANTHONY', 'HSIA0 NAN', 'JOSEPH', None, 'ROBERT', 'RAJENDRA', None, 'G.B.M.', 'EUGENEJR', None, 'CLAUDE JR.', 'THOMAS', 'ALAN  L', 'Nab', 'MR. Y. B', 'J.J', 'PHILIP', 'I. M', 'RICHARD', 'ALBERTA', None, 'GENECG.C. ENG', 'J.J.', None, 'SHAW HWA', 'HARRYH', 'MR DOUGLAS', None, 'PAUL', 'K. T.', 'JOHN', 'NORMAN', 'EVAND', 'BERNA', 'S.D. DON', 'KY00 SUK', 'JJ', 'YURI.`', 'MADYARNI', 'ES ON SCH B', 'EUGENEJR', 'NEAL', 'FERIC', 'RYAN,  JR', 'AASDFASDFASDF', 'LA0 TECH', 'RODNEY', 'DAVID', 'G. L.', 'JAMES', 'LESLIE', None, 'GEORGE', 'G.B.M', 'DAVID JON', 'CHUNG YAO', 'PETER', 'YUBUN(JACK)', 'GLEN A. L.', None, 'JUDE N.O', 'LEONARD--', 'WILLIAM', 'ANTHONY,111', 'WU(WOODY)', 'GAD HON-AN', 'GLEN A.L.', 'J.B. Jr.', 'LORENZOA', 'J J', 'RAMSEY', 'HUI LI I', 'ANTONIO9', 'ROBERT', '0.BERT', 'DUMMY', 'JOSEPH', 'RUSSELL', 'THOMAS', 'H.E.CAMELLE', 'LALAL', 'M.E. P.E', 'R0OBIN VINCENT', 'young', 'AKM', 'LE1', 'IK.T.', 'LEO, JR.', 'J. Butch A. Jr.', 'WU (WOODY0', 'PAUL   N', 'CHRISTOPHER']

    outlier2 = ['SHARMA #0', "0'CONNOR", 'RUSHTON    UEL', 'UDDIN   Z', 'HINKLEY 1', 'O&#039;CONNOR, P.E.', '.OOK', 'SAMUELS111', 'O&#039;CONNOR', 'CALIENDO', 'SMITH   JR.', 'LO  BUE', '7AN', '+-+ETTIERI', 'SMITH, 111', 'KAMEN   1', '.EE', 'MASS, 1', '.EI', 'Zagaroli 3rd', 'RINI   II', 'KAMEN   R', 'RYAN 11', 'SPI8EZIA L S', 'MUFTIC..A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL, P.E.', 'HAMA07', 'HINLEY,1', '1212', "O  ' CONNELL", 'HURT,JR.,', 'WESOLOWSKI', 'CHEN', '`ING, R.A', 'MARTARELLA 111', 'Gandhi, Ph.D., P.E.', '90I', 'ENNIS 2', 'COSTELLO R A A I A', '3UI', 'N/A', 'HURT,  JR', 'LEHR,1', 'KOHLER, 111', 'GERAZOUNIS', 'Alexander,1', 'LUBOW, R.A. LEED AP', 'RINI,111', '08CZAK', '````````````````````', 'CHAO  R.A.', 'Geier 11', '08NGEL', '08SOLOWSKI', 'I11', 'HINKLEY, 1', 'RUDIKOFF, P.E.', "O'CONNOR", 'SHAH   EZ', 'MIELE, JR., P.E.', 'RITTENHOUSE 111', 'AMADI   ISIOFIA', 'HINKLEY,1', 'RENFORE````````', "O'HARA,JR.", '73020012', 'PHAGOO   I', 'BRAY.....,', 'LLL', 'BHATHIA,1', 'GANDHI, PH. D., P.E', 'KO K', 'VASSALOTTI 11', 'HURT, JR .', '0018LKLE', 'RINI -111', 'PARIHAR', 'EE', 'L00802', 'ELISE.111', 'KING , R.A', 'CHRYSLER  P E', 'LEHR 1', 'Walters   Jr.', 'LEE', 'RINI  III', 'D&#039;ANGELO', '0UDOLPH III', 'VIEHE-NAESS 111', ',MO', '08E', '47DIKOFF', 'Yu,', '420865380', 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', '901BEN', '4153LOO', 'SYED-NAQVI', 'RYAN , JR.', 'K O K O R I S', 'ELISEO111', 'O&#039;CONNELL', 'ZEID61', '---Lewis', '00CHELI', 'MOHAMMAD       +++++', 'METZLER  P E', 'BAILEY', 'GANDHI, PH. D., P.E.', 'TIEMANN.111', 'SMITH.111', 'DI GER0NIMO', 'GANDHI, PH,D., P.E', 'III', 'J C', 'MAGAMI-QAIM-MAGAMI', '+M', 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', 'Y10007OR', 'SMITH,111', 'KING R A FAIA', 'RYAN III, AIA', '08AN', 'STARK 1', 'MASS', 'VICTORI0, R.A', 'RIZVI   A', '21029677', "3'CONNOR", 'Wong /  Lai', 'KAPLAN 3', 'GRAICHEN.JR./DAWN/DI', 'GROSSMAN ,PE,F.A.C.I']
    mapping2 = ['SHARMA ', "CONNOR", 'RUSHTON UEL', 'UDDIN Z', 'HINKLEY ', 'CONNOR P.E.', None, 'SAMUELS', 'CONNOR', 'CALIENDO', 'SMITH JR.', 'LO BUE', None, 'ETTIERI', 'SMITH', 'KAMEN', '.EE', 'MASS', '.EI', 'Zagaroli', 'RINI', 'KAMEN R', 'RYAN', 'SPIEZIA L S', 'MUFTIC.A.I.A', 'COSTELLO9 RA A I A', 'CALVANICO', 'LLC.', 'POEPPEL P.E.', 'HAMA', 'HINLEY', None, "CONNELL", 'HURT JR.', 'WESOLOWSKI', 'CHEN', 'ING R.A', 'MARTARELLA', 'Gandhi', None, 'ENNIS ', 'COSTELLO R A A I A', None, None, 'HUR  JR', 'LEHR', 'KOHLER 111', 'GERAZOUNIS', 'Alexander', 'LUBOW R.A. LEED AP', 'RINI',None, None, 'CHAO R.A.', 'Geier', None, 'SOLOWSKI', None, 'HINKLEY', 'RUDIKOFF, P.E.', "CONNOR", 'SHAH EZ', 'MIELE JR. P.E.', 'RITTENHOUSE', 'AMADI   ISIOFIA', 'HINKLEY', 'RENFORE', "O'HARA,JR.", None, 'PHAGOO I', 'BRAY,', 'LLL', 'BHATHIA', 'GANDHI', 'KO K', 'VASSALOTTI', 'HURT JR.',None, 'RINI', 'PARIHAR', 'EE', None, 'ELISE', 'KING R.A', 'CHRYSLER  P E', 'LEHR', 'Walters Jr.', 'LEE', 'RINI  III', 'ANGELO', '0UDOLPH III', 'VIEHE-NAESS', 'MO', '08E', None, 'Yu,', None, 'COPELAND', 'ZWIEFEL 3RD', 'PETERSEN', 'King, R.A.,', 'RINI, III', '7APA', 'CHEN   S', 'Hurt  Jr.', 'KATZ', 'NIZAMBAD.(P.E.)', None, None, None, 'RYAN JR.', 'KOKORIS', 'ELISE', 'CONNELL', None, 'Lewis', 'CHELI', 'MOHAMMAD', 'METZLER  P E', 'BAILEY', 'GANDHI', 'TIEMANN', 'SMITH', 'DI GER0NIMO', 'GANDHI', 'III', 'J C', 'MAGAMI QAIM MAGAMI', None, 'LO G1UDICE', 'HOQUE', 'RUDIKOFF', None, 'SMITH', 'KING R A FAIA', 'RYAN III AIA', None, 'STARK', 'MASS', 'VICTORI0 R.A', 'RIZVIA', None, "CONNOR", 'Wong Lai', 'KAPLAN', 'GRAICHEN.JR. DAWN DI', 'GROSSMAN']

    outlier3 = ['', '....DEMO', '050069', 'DEM. CONTR.,', 'XXXXX', 'G/C 10114H9', 'CGWC10114H99', '00', 'X S000155', '082-36-1245', 'G.G', 'LESSEE', '......GC', "'", '..OWNER', 'GC 2293', '--', 'XXXXXX', 'LS 31,721', '...GC', 'gen.cont.', 'G.C TK#4592', 'PE', 'RLA - 818', '.....OWNER', 'RLA 16077', 'G C', 'X 4129892', 'G. C.', 'R.L.A', 'GC 1028350', 'WC10114H99', 'LEESEE', 'GEN.CONT.', 'SIGN..HANGER', 'DEMO 20451', 'D8615', '.X', 'P.L.L.C', '..DEMO', 'G .C', 'L A', 'G.C NY11101', '32820', '....OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC99792', 'X 1341946', 'TRACK# 1390', 'EXPED.R4466', 'PLLC 9599691', 'G.C 1110101', '029649', '(CHECK)', 'DEM. CONTR,', 'EXPEDIT(H66172)', '.........GC', 'CITY OF N Y', 'GC 1170386', 'G. C', 'CO0OWNER', '(CHECKED)', 'C.C', '23392 1159774', 'DEMO {', 'RA', 'T. 31132', '....GC', 'RLA-787', 'TRACK #1390', 'D C', 'G.CONTR.', 'DEMO  CONT', '1GC', 'CC', 'demo G.C.', 'TRACK. #1390', 'M.F.S.P.C.', '...DEMO', 'DEMO G C', '13328', 'GEN  CONT', 'GC 1221073', "GC;'", 'DEMO 1341946', '11234', 'G.C.,', '.....GC', 'LIC.133668259 1', '?', '0WNER', 'C10892', 'GEN..CONT']
    mapping3 = [None, 'DEMO', None, 'DEM. CONTR', None, 'G/C', 'CGWC', None, 'X S', None, 'G.G', 'LESSEE', 'GC', None, 'OWNER', 'GC', None, None, 'LS ', 'GC', 'gen.cont.', 'G.C TK', 'PE', 'RLA ', 'OWNER', 'RLA ', 'G C', 'X', 'G. C.', 'R.L.A', 'GC', 'WC', 'LEESEE', 'GEN.CONT.', 'SIGN.HANGER', 'DEMO', None,None, 'P.L.L.C', 'DEMO', 'G.C', 'L A', 'G.C ', None, 'OWNER', 'GC(DEMO)', 'C0NTRACTOR', 'EXPEDITORC', None, 'TRACK', 'EXPED.R', 'PLLC ', 'G.C', None, None, 'DEM. CONTR,', 'EXPEDIT', 'GC', None, 'GC', 'G.C', 'CO0OWNER', None, 'C.C', None, 'DEMO', 'RA', None, 'GC', 'RLA', None, 'D C', 'G.CONTR.', 'DEMO  CONT', 'GC', 'CC', 'demo G.C.', None, 'M.F.S.P.C.', 'DEMO', 'DEMO G C', None, 'GEN  CONT', 'GC ', "GC ", 'DEMO ', None, 'G.C.', 'GC', 'LIC', None, '0WNER',None, 'GEN.CONT']

    outlier4 = ['', '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '99998', '000N/A', '65569+', '01827O', 'R9526', 'LP0256', 'N/A', '1964', 'ISLAND', '1609', '000PW1', '00DEMO', '0688.6', '00000', '.20929', 'LP0258', '000TOR', '0D8615', '0SWITA', '818', 'O02200', 'DEMO', '196', '1075', '0000NT', '215', '0', '00000`', "D'ALTO", '0455', '22377', 'DD8615', '050579', '226', 'SWITA', 'DD6815', 'X02689']
    mapping4 = [None, '0000GC', '083278', 'DD5615', '0000PB', '00ASB4', 'B81923', '099998', '000000', '065569', '01827O', '0R9526', 'LP0256',None, '001964',None, '001609', '000PW1', '00DEMO', '006886', '000000', '020929', 'LP0258', '000TOR', '0D8615', '0SWITA', '000818', 'O02200', None, '000196', '001075', '0000NT', '000215', '000000', '000000', None, '000455', '022377', 'DD8615', '050579', '000226', None, 'DD6815', 'X02689']

    outliers = outlier1+ outlier2+ outlier3+ outlier4
    mappings = mapping1+ mapping2+ mapping3+ mapping4
       
    for col in data_cols:
        
        df[col] = df[col].replace(outliers, mappings)
        
        '''
        if file != 'rbx6-tga4.tsv.gz':
            light_outliers = findDateOutliers(df, ds, col)

            for item in light_outliers:

                df[col] = df[col].replace(item, None)
        
        
        if file != 'hg8x-zxpr.tsv.gz' and col in name_cols:
            col_clusters = getClusters(df, ds, col)
            updateUsingClusters(df, ds, col, col_clusters, True)
         '''
        df[col] = df[col].astype('str')
        df[col] = df[col].str.upper()
        df[col] = df[col].replace(['N/A', 'NA','NONE', 'nan', 'NAN', 'NaN'], ["", "", "", "", "", ""])
        df[col] = df[col].str.replace(".", "", regex=False)
        df[col] = df[col].str.replace(",", "", regex=False)
        df[col] = df[col].str.replace(";", "", regex=False)
        df[col] = df[col].str.replace("!", "", regex=False)
        df[col] = df[col].str.replace("?", "", regex=False)
        df[col] = df[col].str.replace("_", "", regex=False)
        df[col] = df[col].str.replace("/", "", regex=False)
        df[col] = df[col].str.replace("\\", "", regex=False)
        
    return data_cols

In [22]:
def saveDf(df, datafile):
    outputpath = datafile[2:11]+'_cleaned_data_improved.csv'
    df.to_csv(outputpath,sep=',',index=False,header=True)

In [23]:
def dataCleanOnDataset(file):
    
    print('working on file: ', file)
    datafile, df = readData(file)
    
    cleaned_cols = []
    
    print("fixing Column Names.......")
    col_rename_dict = fixColumnNames(df)
    #print("Column renaming dictionary:")
    #print(col_rename_dict)
    
    df = df.rename(columns=col_rename_dict)

    print('fixing ID Number Columns......')
    cleaned_cols += fix_ID_Number_Column(df)
    
    print('fixing Binary Columns......')
    cleaned_cols += fix_Binary_Column(df)
    
    print('fixing Monetary Columns......')
    cleaned_cols += fix_Monetary_Column(df)
    
    print('fixing Numerical Columns......')
    cleaned_cols += fix_Numerical_Column(df)
    
    print('fixing Datetime Columns......')
    cleaned_cols += fix_datetime_Column(df)
    
    print('fixing City And Name Column......')
    cleaned_cols += fix_city_and_name_Column(df, file)
    
    saveDf(df, datafile)
    
    return cleaned_cols, datafile, df, col_rename_dict

In [24]:
def precision(tp, fp):
    return tp/(tp+fp)

def recall(tp, fn):
    return tp/(tp+fn)

In [25]:
def precision_recall(cleaned_columns, datafile, df, sample_size, col_rename_dict):
    df2  = pd.read_csv(datafile, dtype='object', sep='\t')
    df2 = df2.drop_duplicates()
    df2 = df2.rename(columns=col_rename_dict)
    

    df_sample_data =  df2.sample(sample_size).copy()
    df_new_sample_data = df.loc[df_sample_data.index].copy()
    print('sample size: ',sample_size)
    
    print('total size: ',sample_size * len(cleaned_columns))
    print('======================\n\n')

    same = 0

    for col in cleaned_columns:
        print("column: ", col)
        print("Original,\t Cleaned\n")
        for i in range(sample_size):
            df_sample_data.iloc[i].index
            if df_new_sample_data[col].iloc[i] == df_sample_data[col].iloc[i]:
                print(df_sample_data[col].iloc[i], '\t',df_new_sample_data[col].iloc[i], '\t')
                same += 1
            else:
                print(df_sample_data[col].iloc[i], '\t', df_new_sample_data[col].iloc[i], '\t*')

        print('*   ', same, ' same records   *\n')
        same = 0

        print('======================\n\n')

# DOB Permit Issuance

In [26]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[0])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  ipu4-2q9a.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......
fixing City And Name Column......
['Superintendent First & Last Name', "Permittee's Phone Number", 'Job Number', "Permittee's Last Name", "Owner's Business Name", "Site Safety Mgr's Last Name", 'Bin Number', "Site Safety Mgr's First Name", "Owner's Phone Number", "Owner's House City", "Owner's Last Name", 'BOROUGH', 'Issuance Date', 'Job Start Date', 'Expiration Date', "Permittee's Business Name", 'Site Safety Mgr Business Name', "Owner's House Street Name", "Owner's House Number", "Owner's First Name", "Permittee's First Name", 'Job doc Number', 'Permit Sequence Number', 'D O B Run Date', 'Nta Name', 'Filing Date', 'House Number', "Permittee's License Number", 'Superintendent Business Name', 'Street Name', 'Permit Si No']

In [27]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  1550
======================


column:  Superintendent First & Last Name
Original,	 Cleaned

RUSSELL ALEXANDER 	 RUSSELL ALEXANDER
STUART ISER 	 STUART ISER
nan 	  	*
PETER CERVINKA 	 PETER CERVINKA
BOGDAN KI 	 BOGDAN KI
HARVEY BROOKS 	 HARVEY BROOKS
nan 	  	*
nan 	  	*
JOYCE OCHAL 	 JOYCE OCHAL
nan 	  	*
nan 	  	*
JOHN WHITE 	 JOHN WHITE
GUARINO MASELLI 	 GUARINO MASELLI
nan 	  	*
REGINALD SAWYERS 	 REGINALD SAWYERS
nan 	  	*
nan 	  	*
HOWARD WALTERS 	 HOWARD WALTERS
CONSTANIN ZAHARIA 	 CONSTANIN ZAHARIA
nan 	  	*
LAWRENCE ZEUG 	 LAWRENCE ZEUG
nan 	  	*
YAU-SAN WU 	 YAU-SAN WU
nan 	  	*
nan 	  	*
nan 	  	*
JAWEOO JUHN 	 JAWEOO JUHN
nan 	  	*
ELY SAMUELS 	 ELY SAMUELS
nan 	  	*
nan 	  	*
nan 	  	*
SHIBBER KHAN 	 SHIBBER KHAN
nan 	  	*
nan 	  	*
EDGAR KRAMER 	 EDGAR KRAMER
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
FRANK COHEN 	 FRANK COHEN
nan 	  	*
LLOYD GOOD 	 LLOYD GOOD
nan 	  	*
nan 	  	*
nan 	  	*
JENNIFER HIXON 	 JENNIFER HIXON
RAMNARINE SINGH 	 RAMNARINE SINGH
nan 	  	*
*    21  same records   *

======================


column:  Permittee's Phone Number
Original,	 Cleaned

7183920966 	 7183920966
2129255620 	 2129255620
3475619256 	 3475619256
7183786700 	 7183786700
7184091914 	 7184091914
5167561000 	 5167561000
2015796200 	 2015796200
7184508262 	 7184508262
7184860011 	 7184860011
2125492889 	 2125492889
7183233975 	 7183233975
2124816100 	 2124816100
7185396240 	 7185396240
7186096090 	 7186096090
7186286400 	 7186286400
7188467443 	 7188467443
7183928560 	 7183928560
3475677746 	 3475677746
7183924921 	 7183924921
2129261088 	 2129261088
2033283740 	 2033283740
2128620817 	 2128620817
2122267261 	 2122267261
7188296494 	 7188296494
7182070302 	 7182070302
7182187424 	 7182187424
7187470412 	 7187470412
7182314700 	 7182314700
2127508200 	 2127508200
7182737600 	 7182737600
7184597600 	 7184597600
7184561547 	 7184561547
7182040814 	 7182040814
7189781715 	 7189781715
7185995055 	 7185995055
7188991102 	 7188991102
7188861300 	 7188861300
7189375353 	 7189375353
3474805799 	 3474805799
7183262660 	 7183262660
7183188217 	 7183188217
7183879399 	 7183879399
7184924912 	 7184924912
2128494800 	 2128494800
7187846666 	 7187846666
7183281004 	 7183281004
7183281435 	 7183281435
6464183744 	 6464183744
7187384505 	 7187384505
2123669666 	 2123669666
*    50  same records   *

======================


column:  Job Number
Original,	 Cleaned

401196567 	 401196567
102834756 	 102834756
321322993 	 321322993
200422863 	 200422863
102795049 	 102795049
400104515 	 400104515
220333823 	 220333823
440329510 	 440329510
401029034 	 401029034
300721627 	 300721627
140332691 	 140332691
103974512 	 103974512
401571517 	 401571517
310023417 	 310023417
200169245 	 200169245
410075537 	 410075537
120052673 	 120052673
321736074 	 321736074
101548988 	 101548988
122225519 	 122225519
103138926 	 103138926
321700520 	 321700520
103180184 	 103180184
122477818 	 122477818
200821799 	 200821799
121049542 	 121049542
102247043 	 102247043
420962104 	 420962104
103819156 	 103819156
220563370 	 220563370
410050769 	 410050769
421606809 	 421606809
401965030 	 401965030
421173223 	 421173223
420277042 	 420277042
401002259 	 401002259
340080897 	 340080897
210027889 	 210027889
220288695 	 220288695
122213675 	 122213675
402666735 	 402666735
100815824 	 100815824
120697291 	 120697291
103672036 	 103672036
120476494 	 120476494
120252298 	 120252298
420197646 	 420197646
200856635 	 200856635
402111987 	 402111987
310062865 	 310062865
*    50  same records   *

======================


column:  Permittee's Last Name
Original,	 Cleaned

ALEXANDER 	 ALEXANDER
ISER 	 ISER
SURUJNARINE 	 SURUJNARINE
CERVINKA 	 CERVINKA
STARSECKI 	 STARSECKI
BROOKS 	 BROOKS
GERACI 	 GERACI
SINGH 	 SINGH
OCHAL 	 OCHAL
ARROYO 	 ARROYO
SINGH 	 SINGH
WHITE 	 WHITE
MASELLI 	 MASELLI
WASSERMAN 	 WASSERMAN
SAWYERS 	 SAWYERS
SANDHU 	 SANDHU
NIETO 	 NIETO
MORA 	 MORA
ZAHARIA 	 ZAHARIA
LEVINE 	 LEVINE
ZEUG 	 ZEUG
HADDAD 	 HADDAD
WU 	 WU
MILO 	 MILO
CHOE 	 CHOE
EHRLICH 	 EHRLICH
JUHN 	 JUHN
DEGIACOMO 	 DEGIACOMO
SAMUELS 	 SAMUELS
TORRONE JR 	 TORRONE JR
SINGH 	 SINGH
D'ALEO 	 D'ALEO
KHAN 	 KHAN
DRUMMOND 	 DRUMMOND
WEISS, JR 	 WEISS JR 	*
KRAMER 	 KRAMER
HSU 	 HSU
KALAFATIS 	 KALAFATIS
CASSIS 	 CASSIS
INCANTALUPO 	 INCANTALUPO
MALONEY 	 MALONEY
COHEN 	 COHEN
DELMASTRO 	 DELMASTRO
GOOD 	 GOOD
BUETTNER 	 BUETTNER
DOWNES 	 DOWNES
TALISSE 	 TALISSE
HIXON 	 HIXON
SINGH 	 SINGH
ZAREMBA 	 ZAREMBA
*    49  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

nan 	  	*
64TH STREET 3RD AVE ASSOC LLC 	 64TH STREET 3RD AVE ASSOC LLC
2071 HARING ST INC. 	 2071 HARING ST INC 	*
CROTONA PROPERTIES LLC 	 CROTONA PROPERTIES LLC
NYC/HPD 	 NYCHPD 	*
12-10 30 AVE. CORP. 	 12-10 30 AVE CORP 	*
BROOK HOUSE REALTY 	 BROOK HOUSE REALTY
ROCK GROUP NY CORP 	 ROCK GROUP NY CORP
SUNOCO OIL COMPANY 	 SUNOCO OIL COMPANY
128 WILLOW APARTM. CORP. 	 128 WILLOW APARTM CORP 	*
nan 	  	*
N.B.C 	 NBC 	*
nan 	  	*
RAY HUNG INC. 	 RAY HUNG INC 	*
GRANT CONCOURSE/DAVIDSON ASSOC. 	 GRANT CONCOURSEDAVIDSON ASSOC 	*
SUPERIOR  REDDING HOLDING LLC 	 SUPERIOR  REDDING HOLDING LLC
COHEN BROTHERS REALTY CORP. 	 COHEN BROTHERS REALTY CORP 	*
LESLIE GRANT 	 LESLIE GRANT
SERBIA ORTHODOX CATHEDRAL 	 SERBIA ORTHODOX CATHEDRAL
417 FIFTH AVENUE REAL ESTATE LLC 	 417 FIFTH AVENUE REAL ESTATE LLC
BELMONT MADISON ASSOCIATES 	 BELMONT MADISON ASSOCIATES
493 HART REALTY LLC 	 493 HART REALTY LLC
HPD 	 HPD
AION PARTNERS 	 AION PARTNERS
KINGSPOINT REALTY LLC 	 KINGSPOINT REALTY LLC
PARK LAUREL CONDOMINIUM 	 PARK LAUREL CONDOMINIUM
Insigina / 	 INSIGINA  	*
ZOHIOS REALTY ASSOCIATES, LLC 	 ZOHIOS REALTY ASSOCIATES LLC 	*
El-Kam Realty 	 EL-KAM REALTY 	*
JIMMY JAZZ 	 JIMMY JAZZ
RICKY & BROS CO 	 RICKY & BROS CO
nan 	  	*
1447 ASSOCIATES LLC 	 1447 ASSOCIATES LLC
FLASH BAR AND GRILL  CORP 	 FLASH BAR AND GRILL  CORP
US GENERAL SERVICES ADMIN. 	 US GENERAL SERVICES ADMIN 	*
QUEENS LYN LAND CORP. 	 QUEENS LYN LAND CORP 	*
TRI BOROUGH SCAFFOLDING & HOISTI 	 TRI BOROUGH SCAFFOLDING & HOISTI
FERRY POINT PARK CONDO.II 	 FERRY POINT PARK CONDOII 	*
nan 	  	*
WARWICK LTD 	 WARWICK LTD
BREEZY POINT COOPERATIVE, INC. 	 BREEZY POINT COOPERATIVE INC 	*
FIRST EAST VILLAGE ASSOC. 	 FIRST EAST VILLAGE ASSOC 	*
OUTDOOR INSTALLATIONS, LLC 	 OUTDOOR INSTALLATIONS LLC 	*
1345 LEASEHOLD, LLC. 	 1345 LEASEHOLD LLC 	*
YORK SCAFFOLD EQUIPMENT CORP. 	 YORK SCAFFOLD EQUIPMENT CORP 	*
1619 BRILL VENTURE LLC C/O EVERE 	 1619 BRILL VENTURE LLC CO EVERE 	*
CS BRIDGE 	 CS BRIDGE
SCAR RLTY 	 SCAR RLTY
nan 	  	*
BISHOP FRANCIS J. MUGAVERO HDFC 	 BISHOP FRANCIS J MUGAVERO HDFC 	*
*    23  same records   *

======================


column:  Site Safety Mgr's Last Name
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    0  same records   *

======================


column:  Bin Number
Original,	 Cleaned

4207028 	 4207028
1043864 	 1043864
3199013 	 3199013
2014634 	 2014634
1060026 	 1060026
4100768 	 4100768
2001156 	 2001156
4035461 	 4035461
4539459 	 4539459
3001767 	 3001767
1077674 	 1077674
1076262 	 1076262
4133607 	 4133607
3143878 	 3143878
2014215 	 2014215
4539310 	 4539310
1018471 	 1018471
3106181 	 3106181
1080695 	 1080695
1017224 	 1017224
1017089 	 1017089
3073066 	 3073066
1053746 	 1053746
1079153 	 1079153
2128553 	 2128553
1027467 	 1027467
1015805 	 1015805
4534601 	 4534601
1020133 	 1020133
2001341 	 2001341
4113840 	 4113840
4180584 	 4180584
4530775 	 4530775
4442294 	 4442294
4315253 	 4315253
4531770 	 4531770
3154698 	 3154698
2099296 	 2099296
2057587 	 2057587
1040766 	 1040766
4466599 	 4466599
1006203 	 1006203
1059502 	 1059502
1083719 	 1083719
1051374 	 1051374
1024793 	 1024793
4303497 	 4303497
2108222 	 2108222
4281585 	 4281585
3059377 	 3059377
*    50  same records   *

======================


column:  Site Safety Mgr's First Name
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    0  same records   *

======================


column:  Owner's Phone Number
Original,	 Cleaned

nan 	  	*
2126873000 	 2126873000
9177146699 	 9177146699
7183786700 	 7183786700
2123867490 	 2123867490
7189397400 	 7189397400
7185857900 	 7185857900
7184508262 	 7184508262
5168722000 	 5168722000
2122515489 	 2122515489
7184342251 	 7184342251
2126646082 	 2126646082
7182240815 	 7182240815
9176821200 	 9176821200
2122814428 	 2122814428
3476135445 	 3476135445
2125905231 	 2125905231
9177763564 	 9177763564
2122429240 	 2122429240
2129444750 	 2129444750
2127163500 	 2127163500
5855033389 	 5855033389
2128636222 	 2128636222
2128499253 	 2128499253
7189932280 	 7189932280
2122016616 	 2122016616
2129475849 	 2129475849
6462847603 	 6462847603
2127508200 	 2127508200
2012105577 	 2012105577
7184597600 	 7184597600
3477818888 	 3477818888
7182040814 	 7182040814
5164811598 	 5164811598
7182547101 	 7182547101
7183587200 	 7183587200
7188861300 	 7188861300
5168764800 	 5168764800
9176762920 	 9176762920
2123080300 	 2123080300
7189452300 	 7189452300
2126738713 	 2126738713
7183924921 	 7183924921
2127525000 	 2127525000
7187846666 	 7187846666
7183281004 	 7183281004
7183281435 	 7183281435
nan 	  	*
5153128889 	 5153128889
7187226042 	 7187226042
*    48  same records   *

======================


column:  Owner's House City
Original,	 Cleaned

JAMAICA 	 JAMAICA
NY 	 NY
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
NEW YORK 	 NEW YORK
FLUSHING 	 FLUSHING
BRONX 	 BRONX
MT VERNON 	 MT VERNON
PHILADELPHIA 	 PHILADELPHIA
BKLYN 	 BKLYN
RICHMOND HILL 	 RICHMOND HILL
NEW YORK 	 NEW YORK
Bayside 	 BAYSIDE 	*
BROOKLYN 	 BROOKLYN
NY 	 NY
CEDARHURST 	 CEDARHURST
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
NYC 	 NYC
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
BRONX 	 BRONX
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
MALBA 	 MALBA
New York 	 NEW YORK 	*
SECAUCUS 	 SECAUCUS
BRIARWOOD 	 BRIARWOOD
FLORAL PARK 	 FLORAL PARK
ASTORIA 	 ASTORIA
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
PORT WASHINGTON 	 PORT WASHINGTON
FLUSHING 	 FLUSHING
WESTBURY 	 WESTBURY
BRONX 	 BRONX
NEW YORK 	 NEW YORK
ROCKAWAY POINT 	 ROCKAWAY POINT
NY 	 NY
LIC 	 LIC
NEW YORK 	 NEW YORK
LIC 	 LIC
BRONX 	 BRONX
BRONX 	 BRONX
MAHOPAC 	 MAHOPAC
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
*    48  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

MUSA 	 MUSA
DIMSON 	 DIMSON
HUI 	 HUI
CERVINKA 	 CERVINKA
DURSO 	 DURSO
ROZENWEIG 	 ROZENWEIG
KOPSTEIN 	 KOPSTEIN
SINGH 	 SINGH
TARTAGLIA 	 TARTAGLIA
KIRBY 	 KIRBY
SINGH 	 SINGH
LAZZARO 	 LAZZARO
Re 	 RE 	*
MA 	 MA
KOKOT 	 KOKOT
SANDHU 	 SANDHU
COHEN 	 COHEN
GRANT 	 GRANT
SRPSKA 	 SRPSKA
GIRAND 	 GIRAND
CARMEL 	 CARMEL
YE 	 YE
JOSEPH 	 JOSEPH
BETANCOURT 	 BETANCOURT
KIUMARZ 	 KIUMARZ
GERSHON 	 GERSHON
Block 	 BLOCK 	*
DRAGA 	 DRAGA
Samuels 	 SAMUELS 	*
GRAY 	 GRAY
SINGH 	 SINGH
WANG 	 WANG
KHAN 	 KHAN
ANDERSON 	 ANDERSON
DEAN 	 DEAN
AXELROD 	 AXELROD
BOHRER 	 BOHRER
GORDON 	 GORDON
COHEN 	 COHEN
BETANCOURT 	 BETANCOURT
LIGHTHALL 	 LIGHTHALL
HORNER 	 HORNER
DEL MASTRO 	 DEL MASTRO
WHALEN 	 WHALEN
BUETTNER 	 BUETTNER
DOWNES 	 DOWNES
TALISSE 	 TALISSE
SCARANGELLA 	 SCARANGELLA
SINGH 	 SINGH
DIULIO 	 DIULIO
*    47  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BRONX 	 BRONX
QUEENS 	 QUEENS
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BRONX 	 BRONX
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
*    50  same records   *

======================


column:  Issuance Date
Original,	 Cleaned

2003-11-06  	 2003-11-06 00:00:00 	*
2000-04-14  	 2000-04-14 00:00:00 	*
2016-05-06  	 2016-05-06 00:00:00 	*
1997-05-21  	 1997-05-21 00:00:00 	*
2002-07-02  	 2002-07-02 00:00:00 	*
1990-07-24  	 1990-07-24 00:00:00 	*
2013-11-20  	 2013-11-20 00:00:00 	*
2016-08-03  	 2016-08-03 00:00:00 	*
2000-03-08  	 2000-03-08 00:00:00 	*
2008-06-09  	 2008-06-09 00:00:00 	*
2015-04-15  	 2015-04-15 00:00:00 	*
2005-02-03  	 2005-02-03 00:00:00 	*
2003-10-09  	 2003-10-09 00:00:00 	*
2007-10-01  	 2007-10-01 00:00:00 	*
1992-05-01  	 1992-05-01 00:00:00 	*
2008-03-12  	 2008-03-12 00:00:00 	*
2009-06-19  	 2009-06-19 00:00:00 	*
2019-12-13  	 2019-12-13 00:00:00 	*
1997-10-14  	 1997-10-14 00:00:00 	*
2015-04-22  	 2015-04-22 00:00:00 	*
2002-04-22  	 2002-04-22 00:00:00 	*
2018-05-18  	 2018-05-18 00:00:00 	*
2003-08-25  	 2003-08-25 00:00:00 	*
2017-12-15  	 2017-12-15 00:00:00 	*
2013-08-22  	 2013-08-22 00:00:00 	*
2013-05-29  	 2013-05-29 00:00:00 	*
1999-08-16  	 1999-08-16 00:00:00 	*
2016-02-17  	 2016-02-17 00:00:00 	*
2004-08-03  	 2004-08-03 00:00:00 	*
2016-12-15  	 2016-12-15 00:00:00 	*
2008-01-10  	 2008-01-10 00:00:00 	*
2019-04-04  	 2019-04-04 00:00:00 	*
2005-04-20  	 2005-04-20 00:00:00 	*
2019-10-21  	 2019-10-21 00:00:00 	*
2011-04-14  	 2011-04-14 00:00:00 	*
2001-06-27  	 2001-06-27 00:00:00 	*
2013-08-26  	 2013-08-26 00:00:00 	*
2008-01-11  	 2008-01-11 00:00:00 	*
2013-05-23  	 2013-05-23 00:00:00 	*
2015-02-03  	 2015-02-03 00:00:00 	*
2007-11-20  	 2007-11-20 00:00:00 	*
1994-06-17  	 1994-06-17 00:00:00 	*
2011-05-20  	 2011-05-20 00:00:00 	*
2003-12-19  	 2003-12-19 00:00:00 	*
2010-09-23  	 2010-09-23 00:00:00 	*
2010-01-22  	 2010-01-22 00:00:00 	*
2010-06-07  	 2010-06-07 00:00:00 	*
2005-03-21  	 2005-03-21 00:00:00 	*
2011-09-23  	 2011-09-23 00:00:00 	*
2007-12-03  	 2007-12-03 00:00:00 	*
*    0  same records   *

======================


column:  Job Start Date
Original,	 Cleaned

2003-11-06 	 2003-11-06 00:00:00 	*
2000-04-14 	 2000-04-14 00:00:00 	*
2016-05-06 	 2016-05-06 00:00:00 	*
1997-05-21 	 1997-05-21 00:00:00 	*
2002-07-02 	 2002-07-02 00:00:00 	*
1990-07-24 	 1990-07-24 00:00:00 	*
2013-11-20 	 2013-11-20 00:00:00 	*
2016-08-03 	 2016-08-03 00:00:00 	*
2000-03-08 	 2000-03-08 00:00:00 	*
1998-09-23 	 1998-09-23 00:00:00 	*
2015-04-15 	 2015-04-15 00:00:00 	*
2005-02-03 	 2005-02-03 00:00:00 	*
2003-01-23 	 2003-01-23 00:00:00 	*
2007-10-01 	 2007-10-01 00:00:00 	*
1992-05-01 	 1992-05-01 00:00:00 	*
2008-03-12 	 2008-03-12 00:00:00 	*
2009-06-19 	 2009-06-19 00:00:00 	*
2019-11-08 	 2019-11-08 00:00:00 	*
1997-10-14 	 1997-10-14 00:00:00 	*
2015-04-22 	 2015-04-22 00:00:00 	*
2002-04-22 	 2002-04-22 00:00:00 	*
2018-05-18 	 2018-05-18 00:00:00 	*
2002-12-26 	 2002-12-26 00:00:00 	*
2015-08-25 	 2015-08-25 00:00:00 	*
2004-04-08 	 2004-04-08 00:00:00 	*
2012-04-19 	 2012-04-19 00:00:00 	*
1999-08-16 	 1999-08-16 00:00:00 	*
2016-02-17 	 2016-02-17 00:00:00 	*
2004-08-03 	 2004-08-03 00:00:00 	*
2016-12-15 	 2016-12-15 00:00:00 	*
2008-01-10 	 2008-01-10 00:00:00 	*
2019-04-04 	 2019-04-04 00:00:00 	*
2005-04-20 	 2005-04-20 00:00:00 	*
2015-09-15 	 2015-09-15 00:00:00 	*
2010-11-18 	 2010-11-18 00:00:00 	*
2000-08-16 	 2000-08-16 00:00:00 	*
2013-08-26 	 2013-08-26 00:00:00 	*
2008-01-11 	 2008-01-11 00:00:00 	*
2013-05-23 	 2013-05-23 00:00:00 	*
2015-02-03 	 2015-02-03 00:00:00 	*
2007-11-20 	 2007-11-20 00:00:00 	*
1994-06-17 	 1994-06-17 00:00:00 	*
2011-05-20 	 2011-05-20 00:00:00 	*
2003-12-19 	 2003-12-19 00:00:00 	*
2010-09-23 	 2010-09-23 00:00:00 	*
2010-01-22 	 2010-01-22 00:00:00 	*
2010-06-07 	 2010-06-07 00:00:00 	*
2004-06-28 	 2004-06-28 00:00:00 	*
2005-07-01 	 2005-07-01 00:00:00 	*
2007-12-03 	 2007-12-03 00:00:00 	*
*    0  same records   *

======================


column:  Expiration Date
Original,	 Cleaned

2004-11-05 	 2004-11-05 00:00:00 	*
2001-04-14 	 2001-04-14 00:00:00 	*
2017-05-06 	 2017-05-06 00:00:00 	*
1997-11-20 	 1997-11-20 00:00:00 	*
2002-12-31 	 2002-12-31 00:00:00 	*
1992-06-30 	 1992-06-30 00:00:00 	*
2014-03-13 	 2014-03-13 00:00:00 	*
2017-08-03 	 2017-08-03 00:00:00 	*
2000-05-08 	 2000-05-08 00:00:00 	*
2009-06-09 	 2009-06-09 00:00:00 	*
2016-04-14 	 2016-04-14 00:00:00 	*
2006-02-15 	 2006-02-15 00:00:00 	*
2004-07-28 	 2004-07-28 00:00:00 	*
2008-09-30 	 2008-09-30 00:00:00 	*
1993-05-03 	 1993-05-03 00:00:00 	*
2008-04-06 	 2008-04-06 00:00:00 	*
2010-06-11 	 2010-06-11 00:00:00 	*
2020-06-07 	 2020-06-07 00:00:00 	*
1998-11-05 	 1998-11-05 00:00:00 	*
2016-04-21 	 2016-04-21 00:00:00 	*
2002-10-18 	 2002-10-18 00:00:00 	*
2019-05-18 	 2019-05-18 00:00:00 	*
2004-08-30 	 2004-08-30 00:00:00 	*
2018-12-15 	 2018-12-15 00:00:00 	*
2014-06-28 	 2014-06-28 00:00:00 	*
2014-05-29 	 2014-05-29 00:00:00 	*
1999-10-10 	 1999-10-10 00:00:00 	*
2016-09-21 	 2016-09-21 00:00:00 	*
2005-01-01 	 2005-01-01 00:00:00 	*
2017-08-30 	 2017-08-30 00:00:00 	*
2008-04-01 	 2008-04-01 00:00:00 	*
2020-04-03 	 2020-04-03 00:00:00 	*
2005-08-19 	 2005-08-19 00:00:00 	*
2020-10-20 	 2020-10-20 00:00:00 	*
2012-04-01 	 2012-04-01 00:00:00 	*
2002-07-01 	 2002-07-01 00:00:00 	*
2014-05-15 	 2014-05-15 00:00:00 	*
2008-04-05 	 2008-04-05 00:00:00 	*
2014-02-13 	 2014-02-13 00:00:00 	*
2016-02-03 	 2016-02-03 00:00:00 	*
2008-04-01 	 2008-04-01 00:00:00 	*
1994-12-22 	 1994-12-22 00:00:00 	*
2012-05-19 	 2012-05-19 00:00:00 	*
2004-05-01 	 2004-05-01 00:00:00 	*
2011-09-23 	 2011-09-23 00:00:00 	*
2010-04-01 	 2010-04-01 00:00:00 	*
2011-04-01 	 2011-04-01 00:00:00 	*
2005-12-31 	 2005-12-31 00:00:00 	*
2012-02-15 	 2012-02-15 00:00:00 	*
2008-01-01 	 2008-01-01 00:00:00 	*
*    0  same records   *

======================


column:  Permittee's Business Name
Original,	 Cleaned

SUNSET PLUMBING & FIRE PROTECTIO 	 SUNSET PLUMBING & FIRE PROTECTIO
STUART ISER INC. 	 STUART ISER INC 	*
HIGH RISE BUILD & DES INC 	 HIGH RISE BUILD & DES INC
CERVINKA & COMPANY, INC 	 CERVINKA & COMPANY INC 	*
MCR RESTORATION CORP. 	 MCR RESTORATION CORP 	*
B&G INDUSTRIES 	 B&G INDUSTRIES
TECHNICAL SOLUTIONS LLC 	 TECHNICAL SOLUTIONS LLC
ROCK GROUP NY CORP 	 ROCK GROUP NY CORP
AREK PETRO CORP 	 AREK PETRO CORP
128 WILLOW APT. CORP 	 128 WILLOW APT CORP 	*
GUL & G CONSTR. CORP 	 GUL & G CONSTR CORP 	*
STRUCTURE TONE INC 	 STRUCTURE TONE INC
TOUCH OF GLASS CONSTRUCTION 	 TOUCH OF GLASS CONSTRUCTION
C2 PLUMBING CORP. 	 C2 PLUMBING CORP 	*
CITY FIRE CONTROL INC. T 	 CITY FIRE CONTROL INC T 	*
SUPERIOR GLEN CONSTRUCTION INC 	 SUPERIOR GLEN CONSTRUCTION INC
TARGET CONTRACTING LLC 	 TARGET CONTRACTING LLC
W.JAKE CONSTRUCTION CORP 	 WJAKE CONSTRUCTION CORP 	*
SPRING SCFFOLDING INC 	 SPRING SCFFOLDING INC
PAR PLUMBING CO., INC 	 PAR PLUMBING CO INC 	*
PINNACLE CONSTRUCTION SERVICE 	 PINNACLE CONSTRUCTION SERVICE
HP SERVICES INC 	 HP SERVICES INC

In [46]:
tp = 0
fp = 0

fn = 0
tp +=  29 + 1 + 9 + 7 + 3 + 50 + 50 + 2 + 2 + 3 + 150 + 9 + 50 + 5 + 1 + 3 + 50 + 49 + 50 + 3 + 36

fp +=  1 + 1 + 3 + 1 + 1

fn +=  5 + 2 +1 +1

tn = 500 - tp - fp - fn

In [47]:
precision(tp, fp)

0.9876977152899824

In [48]:
recall(tp,fn)

0.9842381786339754

# DOB Cellular Antenna Filings

In [31]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[1])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  iz2q-9x8d.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......
fixing City And Name Column......
['Total Est Fee', 'City', 'Job Number', 'Applicant License Number', 'Initial Cost', 'First Permit  Date', 'Borough', "Owner's Business Name", 'Fee Status', 'Bin Number', "Owner's Last Name", "Owner's First Name", 'Latest Action Date', 'Doc Number', "Owner's  House Number", 'D O B Run Date', "Owner's  Phone Number", "Applicant's First Name", 'Pre- Filing Date', 'House Number', "Applicant's Last Name", 'Street Name']

In [32]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  1100
======================


column:  Total Est Fee
Original,	 Cleaned

389.5 	 389.5 	*
389.5 	 389.5 	*
338 	 338.0 	*
286.5 	 286.5 	*
255.6 	 255.6 	*
348.3 	 348.3 	*
441 	 441.0 	*
379.2 	 379.2 	*
513.1 	 513.1 	*
976.6 	 976.6 	*
441 	 441.0 	*
338 	 338.0 	*
245.3 	 245.3 	*
286.5 	 286.5 	*
595.5 	 595.5 	*
286.5 	 286.5 	*
513.1 	 513.1 	*
296.8 	 296.8 	*
215 	 215.0 	*
327.7 	 327.7 	*
389.5 	 389.5 	*
389.5 	 389.5 	*
441 	 441.0 	*
348.3 	 348.3 	*
389.5 	 389.5 	*
235 	 235.0 	*
389.5 	 389.5 	*
296.8 	 296.8 	*
255.6 	 255.6 	*
338 	 338.0 	*
338 	 338.0 	*
265.9 	 265.9 	*
410.1 	 410.1 	*
286.5 	 286.5 	*
389.5 	 389.5 	*
441 	 441.0 	*
338 	 338.0 	*
389.5 	 389.5 	*
1213.5 	 1213.5 	*
389.5 	 389.5 	*
286.5 	 286.5 	*
215 	 215.0 	*
441 	 441.0 	*
348.3 	 348.3 	*
338 	 338.0 	*
338 	 338.0 	*
389.5 	 389.5 	*
286.5 	 286.5 	*
1543.1 	 1543.1 	*
492.5 	 492.5 	*
*    0  same records   *

======================


column:  City
Original,	 Cleaned

NEW YORK        	 NEW YORK
MASSAPEQUA      	 MASSAPEQUA
BAYSIDE         	 BAYSIDE
BROOKLYN        	 BROOKLYN
BROOKLYN        	 BROOKLYN
STATEN ISLAND   	 STATEN ISLAND
PARSIPPANY      	 PARSIPPANY
BEDMINSTER      	 BEDMINSTER
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
STATEN ISLAND   	 STATEN ISLAND
BROOKLYN        	 BROOKLYN
BLOOMFIELD      	 BLOOMFIELD
PARSIPPANY      	 PARSIPPANY
GREAT NECK      	 GREAT NECK
MAHWAH          	 MAHWAH
BEDMINSTER      	 BEDMINSTER
EASTNORTH PORT  	 EASTNORTH PORT
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
BRONX           	 BRONX
NEW YORK        	 NEW YORK
MATWAH          	 MATWAH
PARSIPPANY      	 PARSIPPANY
PARSIPPANY      	 PARSIPPANY
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
PARSIPPANY      	 PARSIPPANY
ELMHURST        	 ELMHURST
BROOKLYN        	 BROOKLYN
BROOKLYN        	 BROOKLYN
NEW YORK        	 NEW YORK
BRONX           	 BRONX
NEW YORK        	 NEW YORK
NEW YORK        	 NEW YORK
BROOKLYN        	 BROOKLYN
BEDMINSTER      	 BEDMINSTER
BLOOMFIELD      	 BLOOMFIELD
FOREST HILLS    	 FOREST HILLS
BRONX           	 BRONX
STATEN ISLAND   	 STATEN ISLAND
BROOKLYN        	 BROOKLYN
*    50  same records   *

======================


column:  Job Number
Original,	 Cleaned

122106210 	 122106210
421325426 	 421325426
421220958 	 421220958
321148904 	 321148904
321115002 	 321115002
520244076 	 520244076
321172011 	 321172011
122746065 	 122746065
122059057 	 122059057
321393185 	 321393185
421192541 	 421192541
440240516 	 440240516
520210067 	 520210067
321203862 	 321203862
122398556 	 122398556
421163993 	 421163993
320906221 	 320906221
421094602 	 421094602
421419860 	 421419860
121784060 	 121784060
121769327 	 121769327
122523698 	 122523698
122412969 	 122412969
122086786 	 122086786
320831418 	 320831418
122495530 	 122495530
121857339 	 121857339
122354059 	 122354059
122149969 	 122149969
421084980 	 421084980
122390796 	 122390796
321098441 	 321098441
122997631 	 122997631
122648242 	 122648242
520188644 	 520188644
321170709 	 321170709
421089299 	 421089299
321155566 	 321155566
321266768 	 321266768
123046550 	 123046550
220367993 	 220367993
122483721 	 122483721
121828317 	 121828317
321005103 	 321005103
520283602 	 520283602
123018590 	 123018590
122410131 	 122410131
220414031 	 220414031
520282970 	 520282970
320863142 	 320863142
*    50  same records   *

======================


column:  Applicant License Number
Original,	 Cleaned

063658 	 063658
093111 	 093111
078939 	 078939
086064 	 086064
071249 	 071249
086064 	 086064
024537 	 024537
071249 	 071249
086064 	 086064
075384 	 075384
028321 	 028321
090133 	 090133
093111 	 093111
088245 	 088245
093111 	 093111
079612 	 079612
028321 	 028321
078603 	 078603
077087 	 077087
075376 	 075376
080438 	 080438
063658 	 063658
063658 	 063658
078939 	 078939
080438 	 080438
093111 	 093111
079612 	 079612
078939 	 078939
078939 	 078939
076155 	 076155
079612 	 079612
063658 	 063658
078603 	 078603
071249 	 071249
075376 	 075376
064690 	 064690
090133 	 090133
079612 	 079612
093111 	 093111
090133 	 090133
086064 	 086064
093111 	 093111
086064 	 086064
075384 	 075384
088682 	 088682
090133 	 090133
063658 	 063658
086064 	 086064
088682 	 088682
075376 	 075376
*    50  same records   *

======================


column:  Initial Cost
Original,	 Cleaned

20000 	 20000.0 	*
20000 	 20000.0 	*
14900 	 14900.0 	*
10000 	 10000.0 	*
6600 	 6600.0 	*
16000 	 16000.0 	*
25000 	 25000.0 	*
18500 	 18500.0 	*
32000 	 32000.0 	*
77000 	 77000.0 	*
25000 	 25000.0 	*
15000 	 15000.0 	*
6000 	 6000.0 	*
9500 	 9500.0 	*
40000 	 40000.0 	*
10000 	 10000.0 	*
31400 	 31400.0 	*
10900 	 10900.0 	*
3300 	 3300.0 	*
13200 	 13200.0 	*
20000 	 20000.0 	*
20000 	 20000.0 	*
25000 	 25000.0 	*
15200 	 15200.0 	*
20000 	 20000.0 	*
4400 	 4400.0 	*
20000 	 20000.0 	*
10800 	 10800.0 	*
6600 	 6600.0 	*
15000 	 15000.0 	*
15000 	 15000.0 	*
7500 	 7500.0 	*
35300 	 35300.0 	*
10000 	 10000.0 	*
20000 	 20000.0 	*
25000 	 25000.0 	*
15000 	 15000.0 	*
20000 	 20000.0 	*
100000 	 100000.0 	*
20000 	 20000.0 	*
9500 	 9500.0 	*
3300 	 3300.0 	*
25000 	 25000.0 	*
16000 	 16000.0 	*
15000 	 15000.0 	*
15000 	 15000.0 	*
20000 	 20000.0 	*
9500 	 9500.0 	*
131800 	 131800.0 	*
30000 	 30000.0 	*
*    0  same records   *

======================


column:  First Permit  Date
Original,	 Cleaned

10/31/2014 12:00:00 AM 	 2014-10-31 00:00:00 	*
08/30/2016 12:00:00 AM 	 2016-08-30 00:00:00 	*
05/19/2016 12:00:00 AM 	 2016-05-19 00:00:00 	*
07/14/2015 12:00:00 AM 	 2015-07-14 00:00:00 	*
05/21/2015 12:00:00 AM 	 2015-05-21 00:00:00 	*
07/08/2015 12:00:00 AM 	 2015-07-08 00:00:00 	*
09/17/2015 12:00:00 AM 	 2015-09-17 00:00:00 	*
05/10/2016 12:00:00 AM 	 2016-05-10 00:00:00 	*
11/17/2014 12:00:00 AM 	 2014-11-17 00:00:00 	*
08/25/2016 12:00:00 AM 	 2016-08-25 00:00:00 	*
08/19/2015 12:00:00 AM 	 2015-08-19 00:00:00 	*
12/17/2015 12:00:00 AM 	 2015-12-17 00:00:00 	*
01/14/2015 12:00:00 AM 	 2015-01-14 00:00:00 	*
09/29/2015 12:00:00 AM 	 2015-09-29 00:00:00 	*
07/06/2015 12:00:00 AM 	 2015-07-06 00:00:00 	*
01/19/2016 12:00:00 AM 	 2016-01-19 00:00:00 	*
10/17/2013 12:00:00 AM 	 2013-10-17 00:00:00 	*
12/30/2016 12:00:00 AM 	 2016-12-30 00:00:00 	*
05/22/2017 12:00:00 AM 	 2017-05-22 00:00:00 	*
10/24/2013 12:00:00 AM 	 2013-10-24 00:00:00 	*
09/25/2013 12:00:00 AM 	 2013-09-25 00:00:00 	*
08/07/2017 12:00:00 AM 	 2017-08-07 00:00:00 	*
06/24/2015 12:00:00 AM 	 2015-06-24 00:00:00 	*
10/06/2014 12:00:00 AM 	 2014-10-06 00:00:00 	*
10/03/2013 12:00:00 AM 	 2013-10-03 00:00:00 	*
09/04/2015 12:00:00 AM 	 2015-09-04 00:00:00 	*
12/23/2013 12:00:00 AM 	 2013-12-23 00:00:00 	*
02/12/2016 12:00:00 AM 	 2016-02-12 00:00:00 	*
12/29/2014 12:00:00 AM 	 2014-12-29 00:00:00 	*
03/19/2015 12:00:00 AM 	 2015-03-19 00:00:00 	*
10/29/2015 12:00:00 AM 	 2015-10-29 00:00:00 	*
04/25/2016 12:00:00 AM 	 2016-04-25 00:00:00 	*
01/25/2018 12:00:00 AM 	 2018-01-25 00:00:00 	*
07/28/2016 12:00:00 AM 	 2016-07-28 00:00:00 	*
05/12/2014 12:00:00 AM 	 2014-05-12 00:00:00 	*
09/02/2015 12:00:00 AM 	 2015-09-02 00:00:00 	*
08/17/2015 12:00:00 AM 	 2015-08-17 00:00:00 	*
06/20/2016 12:00:00 AM 	 2016-06-20 00:00:00 	*
05/17/2016 12:00:00 AM 	 2016-05-17 00:00:00 	*
07/13/2017 12:00:00 AM 	 2017-07-13 00:00:00 	*
08/25/2014 12:00:00 AM 	 2014-08-25 00:00:00 	*
11/23/2015 12:00:00 AM 	 2015-11-23 00:00:00 	*
02/04/2014 12:00:00 AM 	 2014-02-04 00:00:00 	*
08/04/2014 12:00:00 AM 	 2014-08-04 00:00:00 	*
12/21/2016 12:00:00 AM 	 2016-12-21 00:00:00 	*
03/30/2017 12:00:00 AM 	 2017-03-30 00:00:00 	*
07/29/2015 12:00:00 AM 	 2015-07-29 00:00:00 	*
01/16/2015 12:00:00 AM 	 2015-01-16 00:00:00 	*
07/13/2017 12:00:00 AM 	 2017-07-13 00:00:00 	*
06/14/2013 12:00:00 AM 	 2013-06-14 00:00:00 	*
*    0  same records   *

======================


column:  Borough
Original,	 Cleaned

1 	 1
4 	 4
4 	 4
3 	 3
3 	 3
5 	 5
3 	 3
1 	 1
1 	 1
3 	 3
4 	 4
4 	 4
5 	 5
3 	 3
1 	 1
4 	 4
3 	 3
4 	 4
4 	 4
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
3 	 3
1 	 1
1 	 1
1 	 1
1 	 1
4 	 4
1 	 1
3 	 3
1 	 1
1 	 1
5 	 5
3 	 3
4 	 4
3 	 3
3 	 3
1 	 1
2 	  	*
1 	 1
1 	 1
3 	 3
5 	 5
1 	 1
1 	 1
2 	  	*
5 	 5
3 	 3
*    48  same records   *

======================


column:  Owner's Business Name
Original,	 Cleaned

CENTRAL PARKING SYSTEM OF NY INC 	 CENTRAL PARKING SYSTEM OF NY INC
SHORE 2 SHORE, AGENT FOR TENANT  	 SHORE 2 SHORE AGENT FOR TENANT  	*
ST. ROBERT BELLARMINE RC CHURCH  	 ST ROBERT BELLARMINE RC CHURCH  	*
N/A                              	 NA                              	*
VENDOR, AS AGENT FOR TENANT      	 VENDOR AS AGENT FOR TENANT      	*
SAMUEL PIROZZOLO C/O GATEWAY ARM 	 SAMUEL PIROZZOLO CO GATEWAY ARM 	*
T-MOBILE                         	 T-MOBILE
AT&T MOBILITY                    	 AT&T MOBILITY
CHELRAE ESTATES, INC.            	 CHELRAE ESTATES INC            	*
GREENE AVE 2012 BSRC HOUSING     	 GREENE AVE 2012 BSRC HOUSING
T-MOBILE                         	 T-MOBILE
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
25 SHERMAN ASSOCIATES C/O GATEWA 	 25 SHERMAN ASSOCIATES CO GATEWA 	*
PARISH ST. MICHAEL - ST. MALACHI 	 PARISH ST MICHAEL - ST MALACHI 	*
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL AS AGENT FOR TENANT     	*
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
ROOFTOP LEASING, LLC             	 ROOFTOP LEASING LLC             	*
CROWN CASTLE                     	 CROWN CASTLE
AT&T MOBILITY                    	 AT&T MOBILITY
EVERGREEN MADISON REALTY CORP    	 EVERGREEN MADISON REALTY CORP
30 WSLLC                         	 30 WSLLC
124 HUDSON CONDO BOARD           	 124 HUDSON CONDO BOARD
UPACA TERRACE HOUSES             	 UPACA TERRACE HOUSES
ELO MANAGEMENT LLC               	 ELO MANAGEMENT LLC
JMP PROPERTIES, LLC              	 JMP PROPERTIES LLC              	*
241 REALTY ASSOCIATES, LLC       	 241 REALTY ASSOCIATES LLC       	*
THE NEW YORK & PRESBYTERIAN HOSP 	 THE NEW YORK & PRESBYTERIAN HOSP
153-157 LENNOX HOLDING LLC       	 153-157 LENNOX HOLDING LLC
52 LEX COMPANY LLC               	 52 LEX COMPANY LLC
CCATT LLC                        	 CCATT LLC
T-MOBILE NORTHEAST LLC           	 T-MOBILE NORTHEAST LLC
T-MOBILE                         	 T-MOBILE
M&E 410 E.13TH ST, LLC           	 M&E 410 E13TH ST LLC           	*
45-53 CABRINI OWNER'S GROUP CORP 	 45-53 CABRINI OWNER'S GROUP CORP
351 WALKER LLC                   	 351 WALKER LLC
T-MOBILE                         	 T-MOBILE
CORNAGA OWNERS, LLC              	 CORNAGA OWNERS LLC              	*
2525 REALTY ASSOCIATES, LLC      	 2525 REALTY ASSOCIATES LLC      	*
NASARY DEVELOPMENT CORP          	 NASARY DEVELOPMENT CORP
THE CUNY OF HUNTER COLLEGE       	 THE CUNY OF HUNTER COLLEGE
JED MANAGEMENT REALTY CO. LLC    	 JED MANAGEMENT REALTY CO LLC    	*
201 EAST 69 L.L.C.               	 201 EAST 69 LLC               	*
BEACH LOFT LTD.                  	 BEACH LOFT LTD                  	*
1327 46TH ST LLC                 	 1327 46TH ST LLC
TENANT - AT&T                    	 TENANT - AT&T
BECHTEL, AS AGENT FOR TENANT     	 BECHTEL AS AGENT FOR TENANT     	*
EAST PLESANT LLC                 	 EAST PLESANT LLC
MUSOVIC REALTY CORP              	 MUSOVIC REALTY CORP
EBBITTS STREET ASSOCIATES, LLC   	 EBBITTS STREET ASSOCIATES LLC   	*
525 UNION LLC                    	 525 UNION LLC
*    30  same records   *

======================


column:  Fee Status
Original,	 Cleaned

STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
STANDARD 	 nan 	*
*    0  same records   *

======================


column:  Bin Number
Original,	 Cleaned

1034824 	 1034824
4231385 	 4231385
4438331 	 4438331
3177897 	 3177897
3117135 	 3117135
5112474 	 5112474
3203175 	 3203175
1046616 	 1046616
1076136 	 1076136
3335015 	 3335015
4444507 	 4444507
4155927 	 4155927
5000484 	 5000484
3327109 	 3327109
1009091 	 1009091
4028054 	 4028054
3033020 	 3033020
4303239 	 4303239
4053443 	 4053443
1003247 	 1003247
1001019 	 1001019
1002166 	 1002166
1054347 	 1054347
1034498 	 1034498
3053730 	 3053730
1055061 	 1055061
1045576 	 1045576
1084391 	 1084391
1036464 	 1036464
4282460 	 4282460
1015864 	 1015864
3127742 	 3127742
1005986 	 1005986
1064321 	 1064321
5108442 	 5108442
3025919 	 3025919
4300914 	 4300914
3117932 	 3117932
3075701 	 3075701
1081419 	 1081419
2014319 	 2014319
1043904 	 1043904
1002170 	 1002170
3136752 	 3136752
5036688 	 5036688
1034794 	 1034794
1053025 	 1053025
2078922 	 2078922
5055379 	 5055379
3061859 	 3061859
*    50  same records   *

======================


column:  Owner's Last Name
Original,	 Cleaned

IMRHAN                         	 IMRHAN
BRENNAN                        	 BRENNAN
GERAGHTY                       	 GERAGHTY
FERDICO                        	 FERDICO
OAKES                          	 OAKES
FITZSIMMONS                    	 FITZSIMMONS
BISHOP                         	 BISHOP
BAILEY                         	 BAILEY
STRYKER                        	 STRYKER
GRANNUM                        	 GRANNUM
BISHOP                         	 BISHOP
CIAGLIA                        	 CIAGLIA
FITZSIMMONS                    	 FITZSIMMONS
RUANI                          	 RUANI
WHITTON                        	 WHITTON
CIAGLIA                        	 CIAGLIA
SWARTZ                         	 SWARTZ
MOSTOW                         	 MOSTOW
BAILEY                         	 BAILEY
GUO                            	 GUO
FISCHOFF                       	 FISCHOFF
DIETZ                          	 DIETZ
BISHOP                         	 BISHOP
ELO                            	 ELO
GARCIA                         	 GARCIA
MANN                           	 MANN
COHEN                          	 COHEN
WEISS                          	 WEISS
DERMER                         	 DERMER
SALERNO                        	 SALERNO
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
CROMAN                         	 CROMAN
FEINBERG                       	 FEINBERG
ISRAILOV                       	 ISRAILOV
BISHOP                         	 BISHOP
CIAGLIA                        	 CIAGLIA
CIAGLIA                        	 CIAGLIA
NASARY                         	 NASARY
GLEBA                          	 GLEBA
GAZIVODA                       	 GAZIVODA
GARCIA                         	 GARCIA
MUNKACSI                       	 MUNKACSI
KAHN                           	 KAHN
WOLF                           	 WOLF
OAKES                          	 OAKES
BISHOP                         	 BISHOP
MUSOVIC                        	 MUSOVIC
SALMON                         	 SALMON
JACOBS                         	 JACOBS
*    50  same records   *

======================


column:  Owner's First Name
Original,	 Cleaned

OMAR            	 OMAR
VICTORIA        	 VICTORIA
REV MSGR MARTIN 	 REV MSGR MARTIN
ENRICO          	 ENRICO
MIKE            	 MIKE
ROBERT          	 ROBERT
MARK            	 MARK
GREGG           	 GREGG
ADAM            	 ADAM
COLVIN          	 COLVIN
MARK            	 MARK
ROBERT          	 ROBERT
ROBERT          	 ROBERT
FATHER PABLO    	 FATHER PABLO
DAN             	 DAN
ROBERT          	 ROBERT
STEVEN          	 STEVEN
JOSHUA          	 JOSHUA
GREGG           	 GREGG
WEN             	 WEN
JAY             	 JAY
STEPHEN         	 STEPHEN
MARK            	 MARK
JACK            	 JACK
MICHAEL         	 MICHAEL
MAURICE         	 MAURICE
MARTIN          	 MARTIN
EPHRAIM         	 EPHRAIM
DANIEL          	 DANIEL
CHRISTINE       	 CHRISTINE
ROBERT          	 ROBERT
ROBERT          	 ROBERT
STEVEN          	 STEVEN
BURTON          	 BURTON
ILHANAN         	 ILHANAN
MARK            	 MARK
ROBERT          	 ROBERT
ROBERT          	 ROBERT
ADRIS           	 ADRIS
JAMES           	 JAMES
ELZA            	 ELZA
MICHAEL         	 MICHAEL
KURT            	 KURT
DAVID           	 DAVID
VIC             	 VIC
JOHN            	 JOHN
MARK            	 MARK
ANDRE           	 ANDRE
JON             	 JON
CHESKEL         	 CHESKEL
*    50  same records   *

======================


column:  Latest Action Date
Original,	 Cleaned

10/31/2014 00:00:00 	 2014-10-31 00:00:00 	*
08/30/2016 00:00:00 	 2016-08-30 00:00:00 	*
05/19/2016 00:00:00 	 2016-05-19 00:00:00 	*
07/14/2015 00:00:00 	 2015-07-14 00:00:00 	*
05/21/2015 00:00:00 	 2015-05-21 00:00:00 	*
07/08/2015 00:00:00 	 2015-07-08 00:00:00 	*
09/17/2015 00:00:00 	 2015-09-17 00:00:00 	*
05/10/2016 00:00:00 	 2016-05-10 00:00:00 	*
11/17/2014 00:00:00 	 2014-11-17 00:00:00 	*
08/25/2016 00:00:00 	 2016-08-25 00:00:00 	*
08/19/2015 00:00:00 	 2015-08-19 00:00:00 	*
12/17/2015 00:00:00 	 2015-12-17 00:00:00 	*
01/14/2015 00:00:00 	 2015-01-14 00:00:00 	*
09/29/2015 00:00:00 	 2015-09-29 00:00:00 	*
07/06/2015 00:00:00 	 2015-07-06 00:00:00 	*
01/19/2016 00:00:00 	 2016-01-19 00:00:00 	*
10/17/2013 00:00:00 	 2013-10-17 00:00:00 	*
12/30/2016 00:00:00 	 2016-12-30 00:00:00 	*
05/22/2017 00:00:00 	 2017-05-22 00:00:00 	*
10/24/2013 00:00:00 	 2013-10-24 00:00:00 	*
09/25/2013 00:00:00 	 2013-09-25 00:00:00 	*
08/07/2017 00:00:00 	 2017-08-07 00:00:00 	*
06/24/2015 00:00:00 	 2015-06-24 00:00:00 	*
10/06/2014 00:00:00 	 2014-10-06 00:00:00 	*
10/03/2013 00:00:00 	 2013-10-03 00:00:00 	*
09/04/2015 00:00:00 	 2015-09-04 00:00:00 	*
12/23/2013 00:00:00 	 2013-12-23 00:00:00 	*
02/12/2016 00:00:00 	 2016-02-12 00:00:00 	*
12/29/2014 00:00:00 	 2014-12-29 00:00:00 	*
03/19/2015 00:00:00 	 2015-03-19 00:00:00 	*
10/29/2015 00:00:00 	 2015-10-29 00:00:00 	*
04/25/2016 00:00:00 	 2016-04-25 00:00:00 	*
01/25/2018 00:00:00 	 2018-01-25 00:00:00 	*
07/28/2016 00:00:00 	 2016-07-28 00:00:00 	*
05/12/2014 00:00:00 	 2014-05-12 00:00:00 	*
09/02/2015 00:00:00 	 2015-09-02 00:00:00 	*
08/17/2015 00:00:00 	 2015-08-17 00:00:00 	*
06/20/2016 00:00:00 	 2016-06-20 00:00:00 	*
05/17/2016 00:00:00 	 2016-05-17 00:00:00 	*
07/13/2017 00:00:00 	 2017-07-13 00:00:00 	*
08/25/2014 00:00:00 	 2014-08-25 00:00:00 	*
11/23/2015 00:00:00 	 2015-11-23 00:00:00 	*
02/04/2014 00:00:00 	 2014-02-04 00:00:00 	*
08/04/2014 00:00:00 	 2014-08-04 00:00:00 	*
12/21/2016 00:00:00 	 2016-12-21 00:00:00 	*
03/30/2017 00:00:00 	 2017-03-30 00:00:00 	*
07/29/2015 00:00:00 	 2015-07-29 00:00:00 	*
01/16/2015 00:00:00 	 2015-01-16 00:00:00 	*
07/13/2017 00:00:00 	 2017-07-13 00:00:00 	*
06/14/2013 00:00:00 	 2013-06-14 00:00:00 	*
*    0  same records   *

======================


column:  Doc Number
Original,	 Cleaned

01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
01 	 01
*    50  same records   *

======================


column:  Owner's  House Number
Original,	 Cleaned

360          	 360
5550         	 5550
56-15        	 56-15
308          	 308

In [49]:
tp = 0
fp = 0

fn = 0
tp += 50 + 50 + 50 + 27 + 50 + 50 + 50

fp += 2 + 50

fn += 3 +2

In [50]:
precision(tp, fp)

0.862796833773087

In [51]:
recall(tp,fn)

0.9849397590361446

# Open Restaurant Applications

In [36]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[2])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  pitm-atqc.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......
fixing City And Name Column......
['Restaurant Name', 'Sidewalk Dimensions (Length)', 'Legal Business Name', 'Building Number', 'Borough', 'Food Service Establishment Permit Number', 'SLA Serial Number', 'Roadway Dimensions (Length)']

In [37]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  400
======================


column:  Restaurant Name
Original,	 Cleaned

Cachapa's Brooklyn 	 CACHAPA'S BROOKLYN 	*
CRYSTAL'S RESTAURANT & BISTRO INC 	 CRYSTAL'S RESTAURANT & BISTRO INC
so pho 88 inc 	 SO PHO 88 INC 	*
BOHEMIAN SPIRIT RESTAURANT 	 BOHEMIAN SPIRIT RESTAURANT
MOMENTEA KITCHEN 	 MOMENTEA KITCHEN
Hotel Chantelle 	 HOTEL CHANTELLE 	*
Town Stages 	 TOWN STAGES 	*
ssam korean restaurant 	 SSAM KOREAN RESTAURANT 	*
Guyers 	 GUYERS 	*
Pollos a la Brasa Mario 	 POLLOS A LA BRASA MARIO 	*
Black Star Bakery&Cafe 	 BLACK STAR BAKERY&CAFE 	*
Queen's Room 	 QUEEN'S ROOM 	*
Thyme and Tonic 	 THYME AND TONIC 	*
Cagen 	 CAGEN 	*
LA DULCE BAKERY 	 LA DULCE BAKERY
108 Food Dried Hot Pot 	 108 FOOD DRIED HOT POT 	*
El Pollo Inka Peru 	 EL POLLO INKA PERU 	*
The wilky 	 THE WILKY 	*
Antiochia Grill 	 ANTIOCHIA GRILL 	*
RAICES COLOMBIANAS 	 RAICES COLOMBIANAS
The Commissioner Tavern 	 THE COMMISSIONER TAVERN 	*
Joe and Sal's Pizzeria 	 JOE AND SAL'S PIZZERIA 	*
Sichuan hotpot cuisine 	 SICHUAN HOTPOT CUISINE 	*
Maria's Mexican Restaurant 	 MARIA'S MEXICAN RESTAURANT 	*
PETER'S GRILL & BAR CORP 	 PETER'S GRILL & BAR CORP
Dream Baby 	 DREAM BABY 	*
Honeybrains 	 HONEYBRAINS 	*
sidewalk tacos 	 SIDEWALK TACOS 	*
ZioToto Restaurant 	 ZIOTOTO RESTAURANT 	*
CREAM COFFEE SHOP 	 CREAM COFFEE SHOP
Khao Nom 	 KHAO NOM 	*
BILLY'S BAKERY 	 BILLY'S BAKERY
tung thong 181 	 TUNG THONG 181 	*
HUNAN SLURP SHOP 	 HUNAN SLURP SHOP
Randolph Beer 	 RANDOLPH BEER 	*
Los verdes 	 LOS VERDES 	*
NICA Trattoria 	 NICA TRATTORIA 	*
Paul's Da Burger Joint 	 PAUL'S DA BURGER JOINT 	*
Angeletto Restaurant 	 ANGELETTO RESTAURANT 	*
barbuto 	 BARBUTO 	*
Sundays Well 	 SUNDAYS WELL 	*
Graces Trattoria 	 GRACES TRATTORIA 	*
STARBUCKS 	 STARBUCKS
CABANA BREEZE 	 CABANA BREEZE
STEP IN RESTAURANT &amp; LOUNGE 	 STEP IN RESTAURANT &AMP LOUNGE 	*
Fiaschetteria Pistoia 	 FIASCHETTERIA PISTOIA 	*
Tang Pavilion 	 TANG PAVILION 	*
tropical jade 2 	 TROPICAL JADE 2 	*
ANNIE MOORES PUB &amp; RESTAURANT 	 ANNIE MOORES PUB &AMP RESTAURANT 	*
Crown Shy 	 CROWN SHY 	*
*    11  same records   *

======================


column:  Sidewalk Dimensions (Length)
Original,	 Cleaned

40 	 40 	*
11 	 11 	*
19 	 19 	*
47 	 47 	*
18 	 18 	*
40 	 40 	*
77 	 77 	*
27 	 27 	*
24 	 24 	*
60 	 60 	*
22 	 22 	*
52 	 52 	*
40 	 40 	*
nan 	 0 	*
15 	 15 	*
24 	 24 	*
50 	 50 	*
nan 	 0 	*
72 	 72 	*
108 	 108 	*
nan 	 0 	*
nan 	 0 	*
0 	 0 	*
19 	 19 	*
114 	 114 	*
48 	 48 	*
35 	 35 	*
6 	 6 	*
40 	 40 	*
16 	 16 	*
20 	 20 	*
19 	 19 	*
24 	 24 	*
nan 	 0 	*
nan 	 0 	*
40 	 40 	*
24 	 24 	*
8 	 8 	*
24 	 24 	*
150 	 150 	*
15 	 15 	*
3 	 3 	*
nan 	 0 	*
40 	 40 	*
20 	 20 	*
nan 	 0 	*
20 	 20 	*
nan 	 0 	*
25 	 25 	*
57 	 57 	*
*    0  same records   *

======================


column:  Legal Business Name
Original,	 Cleaned

Cachapa's Brooklyn 	 CACHAPA'S BROOKLYN 	*
CRYSTAL'S RESTAURANT & BISTRO INC 	 CRYSTAL'S RESTAURANT & BISTRO INC
so pho 88 inc 	 SO PHO 88 INC 	*
AMBI NEW YORK LLC 	 AMBI NEW YORK LLC
MOMENTEA GROUP INC 	 MOMENTEA GROUP INC
The Amber Avalon Corp 	 THE AMBER AVALON CORP 	*
Town Stages LLC 	 TOWN STAGES LLC 	*
176 smith corp 	 176 SMITH CORP 	*
Guyers inc 	 GUYERS INC 	*
Pollos Mario Corporation 	 POLLOS MARIO CORPORATION 	*
Lorimer Latte LLC 	 LORIMER LATTE LLC 	*
Joannides Group LLC 	 JOANNIDES GROUP LLC 	*
Spring Natural Corp. 	 SPRING NATURAL CORP 	*
Cagen Japanese LLC 	 CAGEN JAPANESE LLC 	*
LA GRAN ESQUINA RESTAURANT CORP 	 LA GRAN ESQUINA RESTAURANT CORP
Malaxiangguo enterprise Inc 	 MALAXIANGGUO ENTERPRISE INC 	*
El Pollo Inka NY, Inc. 	 EL POLLO INKA NY INC 	*
108gigs llc 	 108GIGS LLC 	*
Antiochia Grill 	 ANTIOCHIA GRILL 	*
LISTO EL POLLO 	 LISTO EL POLLO
Synthetic Barlogics 	 SYNTHETIC BARLOGICS 	*
Louie Due LLC 	 LOUIE DUE LLC 	*
Sichuan hotpot cuisine inc 	 SICHUAN HOTPOT CUISINE INC 	*
Maria's Pizzeria Restaurant  Inc 	 MARIA'S PIZZERIA RESTAURANT  INC 	*
PETER'S GRILL & BAR CORP 	 PETER'S GRILL & BAR CORP
162-4 Ave B Bar Inc 	 162-4 AVE B BAR INC 	*
Honeybrains Lafayette, LLC 	 HONEYBRAINS LAFAYETTE LLC 	*
sidewalk tacos corp. 	 SIDEWALK TACOS CORP 	*
Ziototo of staten island corp. 	 ZIOTOTO OF STATEN ISLAND CORP 	*
BELLA KUMA INC 	 BELLA KUMA INC
KA NOM WAN INC 	 KA NOM WAN INC
DOLI VENTURES, LLC 	 DOLI VENTURES LLC 	*
up thai corp 	 UP THAI CORP 	*
QIYI LLC 	 QIYI LLC
343 Broome Street Restaurant, Inc. 	 343 BROOME STREET RESTAURANT INC 	*
Quesan corp 	 QUESAN CORP 	*
NICA Restaurant Corp. 	 NICA RESTAURANT CORP 	*
JHDHA, Inc. 	 JHDHA INC 	*
Angeletto 2nd Ave INC 	 ANGELETTO 2ND AVE INC 	*
barbuto 	 BARBUTO 	*
Two Bridge Tavern LLC 	 TWO BRIDGE TAVERN LLC 	*
DORIA ENT NYC LLC 	 DORIA ENT NYC LLC
STARBUCKS CORPORATION 	 STARBUCKS CORPORATION
CABANA BREEZE INC 	 CABANA BREEZE INC
GMB RESTAURANT, INC 	 GMB RESTAURANT INC 	*
Fiaschetteria West LTD 	 FIASCHETTERIA WEST LTD 	*
ALS Solutions, LLC 	 ALS SOLUTIONS LLC 	*
new oriental jade corp 	 NEW ORIENTAL JADE CORP 	*
ANNIE MOORES LLC 	 ANNIE MOORES LLC
EBNB 70 Pine Restaurant Owner LLC 	 EBNB 70 PINE RESTAURANT OWNER LLC 	*
*    13  same records   *

======================


column:  Building Number
Original,	 Cleaned

2311 	 2311
9911 	 9911
314 	 314
undefined 	  	*
213 	 213
92 	 92
221 	 221
170 	 170
286 	 286
83-02 	 83-02
595 	 595
3602 	 3602
474 	 474
412 East 	 412  	*
undefined 	  	*
2794 	 2794
89-20 	 89-20
108 	 108
70-35 	 70-35
86-02 	 86-02
247 	 247
353 	 353
40 	 40
1849 	 1849
7511 	 7511
162-4 	 162-4
372 	 372
2163 	 2163
86 	 86
undefined 	  	*
4206 	 4206
undefined 	  	*
812 	 812
undefined 	  	*
343 	 343
4626 	 4626
354 	 354
131 	 131
890 	 890
113 	 113
360 	 360
1299 	 1299
undefined 	  	*
13501 	 13501
undefined 	  	*
114/116 	 114/116
65 	 65
14 	 14
undefined 	  	*
70 	 70
*    41  same records   *

======================


column:  Borough
Original,	 Cleaned

Brooklyn 	 BROOKLYN 	*
Queens 	 QUEENS 	*
Brooklyn 	 BROOKLYN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Brooklyn 	 BROOKLYN 	*
Manhattan 	 MANHATTAN 	*
Queens 	 QUEENS 	*
Brooklyn 	 BROOKLYN 	*
Queens 	 QUEENS 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Queens 	 QUEENS 	*
Manhattan 	 MANHATTAN 	*
Queens 	 QUEENS 	*
Brooklyn 	 BROOKLYN 	*
Queens 	 QUEENS 	*
Queens 	 QUEENS 	*
Brooklyn 	 BROOKLYN 	*
Brooklyn 	 BROOKLYN 	*
Manhattan 	 MANHATTAN 	*
Brooklyn 	 BROOKLYN 	*
Queens 	 QUEENS 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Staten Island 	 STATEN ISLAND 	*
Brooklyn 	 BROOKLYN 	*
Queens 	 QUEENS 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Queens 	 QUEENS 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Queens 	 QUEENS 	*
Bronx 	 BRONX 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
Queens 	 QUEENS 	*
Manhattan 	 MANHATTAN 	*
Manhattan 	 MANHATTAN 	*
*    0  same records   *

======================


column:  Food Service Establishment Permit Number
Original,	 Cleaned

50063745 	 50063745
50004146 	 50004146
50085696 	 50085696
41569184 	 41569184
50099005 	 50099005
41393791 	 41393791
3569 	 3569
50013904 	 50013904
50051577 	 50051577
40950399 	 40950399
50037295 	 50037295
50065639 	 50065639
41618541 	 41618541
50001088 	 50001088
41619192 	 41619192
50059935 	 50059935
50074520 	 50074520
50045371 	 50045371
50079582 	 50079582
50099332 	 50099332
50064740 	 50064740
Pending 	 PENDING 	*
50013843 	 50013843
41653951 	 41653951
50102309 	 50102309
50000582 	 50000582
50057051 	 50057051
50064194 	 50064194
41645548 	 41645548
50075108 	 50075108
50069925 	 50069925
41570001 	 41570001
50056319 	 50056319
50077375 	 50077375
41640846 	 41640846
41704299 	 41704299
41207574 	 41207574
50086516 	 50086516
50073245 	 50073245
50102163 	 50102163
50102428 	 50102428
625910 	 625910
40602866 	 40602866
50082054 	 50082054
40800483 	 40800483
50087028 	 50087028
41706406 	 41706406
50060017 	 50060017
50045177 	 50045177
50086442 	 50086442
*    49  same records   *

======================


column:  SLA Serial Number
Original,	 Cleaned

nan 	  	*
1270995 	 1270995
nan 	  	*
Aug-24 	 AUG-24 	*
nan 	  	*
1209613 	 1209613
1306816 	 1306816
Feb-62 	 FEB-62 	*
1293482 	 1293482
1256552 	 1256552
nan 	  	*
1303626 	 1303626
1255829 	 1255829
Jun-79 	 JUN-79 	*
nan 	  	*
Feb-65 	 FEB-65 	*
nan 	  	*
Jan-99 	 JAN-99 	*
nan 	  	*
1040267 	 1040267
Jun-61 	 JUN-61 	*
nan 	  	*
nan 	  	*
nan 	  	*
Dec-31 	 DEC-31 	*
Mar-64 	 MAR-64 	*
nan 	  	*
nan 	  	*
1258078 	 1258078
nan 	  	*
nan 	  	*
nan 	  	*
1298760 	 1298760
nan 	  	*
1264767 	 1264767
nan 	  	*
1180807 	 1180807
1319401 	 1319401
Sep-81 	 SEP-81 	*
1319231 	 1319231
1323774 	 1323774
1277419 	 1277419
nan 	  	*
1308035 	 1308035
Jul-32 	 JUL-32 	*
1311715 	 1311715
1267496 	 1267496
Aug-54 	 AUG-54 	*
Oct-27 	 OCT-27 	*
Nov-32 	 NOV-32 	*
*    19  same records   *

======================


column:  Roadway Dimensions (Length)
Original,	 Cleaned

40 	 40 	*
nan 	 0 	*
17 	 17 	*
35 	 35 	*
18 	 18 	*
40 	 40 	*
76 	 76 	*
27 	 27 	*
nan 	 0 	*
nan 	 0 	*
nan 	 0 	*
52 	 52 	*
40 	 40 	*
18 	 18 	*
nan 	 0 	*
nan 	 0 	*
nan 	 0 	*
100 	 100 	*
39 	 39 	*
108 	 108 	*
nan 	 0 	*
20 	 20 	*
35 	 35 	*
14 	 14 	*
191 	 191 	*
24 	 24 	*
nan 	 0 	*
nan 	 0 	*
40 	 40 	*
16 	 16 	*
nan 	 0 	*
19 	 19 	*
nan 	 0 	*
16 	 16 	*
25 	 25 	*
nan 	 0 	*
0 	 0 	*
nan 	 0 	*
24 	 24 	*
88 	 88 	*
27 	 27 	*
nan 	 0 	*
24 	 24 	*
15 	 15 	*
18 	 18 	*
21 	 21 	*
19 	 19 	*
21 	 21 	*
25 	 25 	*
nan 	 0 	*
*    0  same records   *

======================

In [52]:
tp = 0
fp = 0
fn = 0
tp += 38 + 50 + 37 + 8 + 31+ 50

fp += 1

fn += 1 + 2

In [53]:
precision(tp, fp)

0.9953488372093023

In [54]:
recall(tp,fn)

0.9861751152073732

# DOB NOW: Safety – Facades Compliance Filings

In [41]:
cleaned_cols, datafile, df, col_rename_dict = dataCleanOnDataset(file_list[3])
cleaned_cols = list(set(cleaned_cols))

print(cleaned_cols)

working on file:  xubg-57si.tsv.gz
fixing Column Names.......
fixing ID Number Columns......
fixing Binary Columns......
fixing Monetary Columns......
fixing Numerical Columns......
fixing Datetime Columns......
fixing City And Name Column......
['Qewi Bus Name', 'Qewi Bus Street Name', 'Owner Bus Street Name', 'Owner City', 'Qewi Name', 'Sequence No', 'Field Inspection Completed Date', 'Qewi Nys Lic No', 'BOROUGH', 'Qewi Signed Date', 'House No', 'Qewi City', 'Prior Cycle Filing Date', 'Owner Bus Name', 'Filing Date', 'Owner Name', 'Control No', 'Tr6 No', 'Street Name']

In [42]:
precision_recall(cleaned_cols, datafile, df, 50, col_rename_dict)

sample size:  50
total size:  950
======================


column:  Qewi Bus Name
Original,	 Cleaned

RONNETTE RILEY ARCHITECT 	 RONNETTE RILEY ARCHITECT
VIDARIS, INC 	 VIDARIS INC 	*
HOFFMAN ARCHITECTS, INC 	 HOFFMAN ARCHITECTS INC 	*
nan 	  	*
DARIUS TORABY ARCHITECTS P.C 	 DARIUS TORABY ARCHITECTS PC 	*
OLD STRUCTURES ENGINEERING 	 OLD STRUCTURES ENGINEERING
nan 	  	*
PM ARCHITECTS, LLP 	 PM ARCHITECTS LLP 	*
WALTER B. MELVIN ARCHITECTS, LLC 	 WALTER B MELVIN ARCHITECTS LLC 	*
nan 	  	*
JMA CONSULTANTS & ENGINEERS PC 	 JMA CONSULTANTS & ENGINEERS PC
nan 	  	*
JOHN J FLYNN CONSULTING ENGR 	 JOHN J FLYNN CONSULTING ENGR
JMA CONSUTLTANTS&ENGINEERS PC 	 JMA CONSUTLTANTS&ENGINEERS PC
MJ MACALUSO & ASSOCIATES 	 MJ MACALUSO & ASSOCIATES
LINGINEERING CONSULTING, LLC 	 LINGINEERING CONSULTING LLC 	*
SUPERSTRUCTURES ENG. & ARCH 	 SUPERSTRUCTURES ENG & ARCH 	*
RAND ENGINEERING & ARCHITECT,PC 	 RAND ENGINEERING & ARCHITECTPC 	*
nan 	  	*
HAKS ENGINEERS, ARCHITECTS AND L 	 HAKS ENGINEERS ARCHITECTS AND L 	*
EXECUTIVE ENGINEERING P.C 	 EXECUTIVE ENGINEERING PC 	*
JOSEPH FARAHNIK CONSULTING ENG 	 JOSEPH FARAHNIK CONSULTING ENG
EPSTEIN ENGINEERING, P.C 	 EPSTEIN ENGINEERING PC 	*
LAWLESS & MANGIONE, LLP 	 LAWLESS & MANGIONE LLP 	*
HAKS ENG, ARCH, & LAND SURVEYORS 	 HAKS ENG ARCH & LAND SURVEYORS 	*
nan 	  	*
nan 	  	*
nan 	  	*
DEVON ARCHITECTS 	 DEVON ARCHITECTS
nan 	  	*
PRACTICAL DESIGN & ENGINEERING 	 PRACTICAL DESIGN & ENGINEERING
ANDREW KATZ ENGINEERS 	 ANDREW KATZ ENGINEERS
LANE ENGINEERING CONSULTING,PC 	 LANE ENGINEERING CONSULTINGPC 	*
MIDTOWN PRESERVATION ARCHITECTURE & 	 MIDTOWN PRESERVATION ARCHITECTURE &
GANDHI ENGINEERING INC 	 GANDHI ENGINEERING INC
nan 	  	*
EPSTEIN ENGINEERING, P.C 	 EPSTEIN ENGINEERING PC 	*
nan 	  	*
TARIQ M. BASHIR, P.E 	 TARIQ M BASHIR PE 	*
JMA CONSULTANTS & ENGINEERS PC 	 JMA CONSULTANTS & ENGINEERS PC
RAND ENGINEERING & ARCHITECT 	 RAND ENGINEERING & ARCHITECT
nan 	  	*
CADER STRUCTURAL ENGINEERING 	 CADER STRUCTURAL ENGINEERING
STRUCTURAL DESGIN COLL 	 STRUCTURAL DESGIN COLL
HUGH ROBOTHAM, ARCHITECT 	 HUGH ROBOTHAM ARCHITECT 	*
SUPERSTRUCTURE 	 SUPERSTRUCTURE
LEDER-LUIS BUILDING 	 LEDER-LUIS BUILDING
SMS ENGINEERING, PC 	 SMS ENGINEERING PC 	*
nan 	  	*
WLA ENGINEERING, PC 	 WLA ENGINEERING PC 	*
*    18  same records   *

======================


column:  Qewi Bus Street Name
Original,	 Cleaned

350 FIFTH AVENUE SUITE 7401 	 350 FIFTH AVENUE SUITE 7401
360 PARK AVENUE SOUTH, 15TH FLOOR 	 360 PARK AVENUE SOUTH 15TH FLOOR 	*
1040 AVENUE OF THE AMERICAS 	 1040 AVENUE OF THE AMERICAS
nan 	  	*
242 WEST 27TH STREET 	 242 WEST 27TH STREET
90 BROAD STREET 1501 	 90 BROAD STREET 1501
362 FIFTH AVENUE 	 362 FIFTH AVENUE
120 WEST SHORE AVENUE, SUITE B 	 120 WEST SHORE AVENUE SUITE B 	*
118 WEST 22ND STREET 	 118 WEST 22ND STREET
nan 	  	*
ONE          MARINE PLAZA, SUITE 302 	 ONE          MARINE PLAZA SUITE 302 	*
nan 	  	*
9 LEDGE ROAD 	 9 LEDGE ROAD
580 SYLVAN AVENUE, SUITE 1L 	 580 SYLVAN AVENUE SUITE 1L 	*
14 EAST 38TH STREET, (11TH FL) 	 14 EAST 38TH STREET (11TH FL) 	*
205 WEST 95TH STREET 	 205 WEST 95TH STREET
32 AVENUE OF THE AMERICAS 	 32 AVENUE OF THE AMERICAS
159 WEST 25TH STREET, 12TH FLOOR 	 159 WEST 25TH STREET 12TH FLOOR 	*
nan 	  	*
40 WALL STREET, 11TH FLOOR 	 40 WALL STREET 11TH FLOOR 	*
2142 WEST STREET 	 2142 WEST STREET
11 WOOLEYS LANE, SUITE 2D 	 11 WOOLEYS LANE SUITE 2D 	*
317 MADISON AVENUE, SUITE 915 	 317 MADISON AVENUE SUITE 915 	*
480 NORTH BROADWAY 	 480 NORTH BROADWAY
40 WALL STREET, 11TH FLOOR 	 40 WALL STREET 11TH FLOOR 	*
nan 	  	*
nan 	  	*
nan 	  	*
185 GREAT NECK ROAD 	 185 GREAT NECK ROAD
nan 	  	*
1065 SMITH ROAD 	 1065 SMITH ROAD
1708 OCEAN AVENUE 	 1708 OCEAN AVENUE
1340 HIGHWAY 36,SUITE 10 	 1340 HIGHWAY 36SUITE 10 	*
6901 JERICHO TURNPIK 	 6901 JERICHO TURNPIK
111 JOHN STREET 	 111 JOHN STREET
250 W. 94TH STREET 	 250 W 94TH STREET 	*
157 EAST 86TH STREET 	 157 EAST 86TH STREET
nan 	  	*
592 LUCY AVENUE 	 592 LUCY AVENUE
580 SYLVAN AVENUE STE 1L 	 580 SYLVAN AVENUE STE 1L
159 WEST 25TH ST 12TH FL 	 159 WEST 25TH ST 12TH FL
nan 	  	*
94 DELLWOOD ROAD 	 94 DELLWOOD ROAD
165-14       CHAPIN PARKWAY 	 165-14       CHAPIN PARKWAY
121 WEST 27TH STREET, ROOM 306 	 121 WEST 27TH STREET ROOM 306 	*
32 AVENUE OF THE AMERICAS 	 32 AVENUE OF THE AMERICAS
66 MAIN STREET SUITE 913 	 66 MAIN STREET SUITE 913
386 PARK AVENUE SOUTH, SUITE 702 	 386 PARK AVENUE SOUTH SUITE 702 	*
nan 	  	*
446 WEST 46TH STREET 	 446 WEST 46TH STREET
*    25  same records   *

======================


column:  Owner Bus Street Name
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    0  same records   *

======================


column:  Owner City
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    0  same records   *

======================


column:  Qewi Name
Original,	 Cleaned

RONNETTE  RILEY 	 RONNETTE  RILEY
STANFORD  CHAN 	 STANFORD  CHAN
J 	 J
nan 	  	*
DARIUS  TORABY 	 DARIUS  TORABY
MARIE  ENNIS 	 MARIE  ENNIS
RICHARD  LEFEVER 	 RICHARD  LEFEVER
EUGENIA  MASUCCI 	 EUGENIA  MASUCCI
ROBERT  BATES 	 ROBERT  BATES
nan 	  	*
JOSEPH  CANTON 	 JOSEPH  CANTON
nan 	  	*
JOHN J FLYNN 	 JOHN J FLYNN
JOSEPH  CANTON 	 JOSEPH  CANTON
NICHAEL J MACALUSO 	 NICHAEL J MACALUSO
CHINGYUAN  LIN 	 CHINGYUAN  LIN
PAUL  MILLMAN 	 PAUL  MILLMAN
KVAN  MRAKOVCIC 	 KVAN  MRAKOVCIC
nan 	  	*
MOHAMED O MOHAMED 	 MOHAMED O MOHAMED
RONALD  CAGAN 	 RONALD  CAGAN
JOSEPH  FARAHNIK 	 JOSEPH  FARAHNIK
EPSTEIN S ALAN 	 EPSTEIN S ALAN
WILLIAM J STRUTH 	 WILLIAM J STRUTH
SISIR  BISWAS 	 SISIR  BISWAS
nan 	  	*
nan 	  	*
nan 	  	*
STEVEN  LANE 	 STEVEN  LANE
nan 	  	*
ROBERT I LEVINE 	 ROBERT I LEVINE
ANDREW  KATZ 	 ANDREW  KATZ
DOUGLAS  LANE 	 DOUGLAS  LANE
DENNIS  MELE 	 DENNIS  MELE
V 	 V
RICHARD  KOENIGSBERG 	 RICHARD  KOENIGSBERG
ALAN S EPSTEIN 	 ALAN S EPSTEIN
nan 	  	*
TARIQ  BASHIR 	 TARIQ  BASHIR
JOSEPH  CANTON 	 JOSEPH  CANTON
LYNNE  FUNK 	 LYNNE  FUNK
nan 	  	*
KAZIMIERZ  CADER 	 KAZIMIERZ  CADER
RAJCOOMAR  AUTAR 	 RAJCOOMAR  AUTAR
HUGH A ROBOTHAM 	 HUGH A ROBOTHAM
PAUL  MILLMAN 	 PAUL  MILLMAN
JULIO C LEDER-LUIS 	 JULIO C LEDER-LUIS
SCOTT M SILBERMAN 	 SCOTT M SILBERMAN
nan 	  	*
WILLIAM  LAU 	 WILLIAM  LAU
*    39  same records   *

======================


column:  Sequence No
Original,	 Cleaned

1 	 1
1 	 1
2 	 2
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
3 	 3
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
3 	 3
1 	 1
1 	 1
1 	 1
1 	 1
3 	 3
1 	 1
1 	 1
7 	 7
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
2 	 2
1 	 1
1 	 1
1 	 1
1 	 1
3 	 3
1 	 1
1 	 1
1 	 1
1 	 1
1 	 1
19 	 19
1 	 1
1 	 1
1 	 1
2 	 2
*    50  same records   *

======================


column:  Field Inspection Completed Date
Original,	 Cleaned

07/26/2013 12:00:00 AM 	 2013-07-26 00:00:00 	*
06/24/2015 12:00:00 AM 	 2015-06-24 00:00:00 	*
nan 	 2014-12-10 00:00:00 	*
nan 	 2015-12-15 00:00:00 	*
06/23/2015 12:00:00 AM 	 2015-06-23 00:00:00 	*
08/03/2021 12:00:00 AM 	 2021-08-03 00:00:00 	*
05/03/2017 12:00:00 AM 	 2017-05-03 00:00:00 	*
nan 	 2007-02-19 00:00:00 	*
10/10/2017 12:00:00 AM 	 2017-10-10 00:00:00 	*
nan 	 2016-04-28 00:00:00 	*
01/18/2007 12:00:00 AM 	 2007-01-18 00:00:00 	*
nan 	 2015-10-08 00:00:00 	*
10/25/2012 12:00:00 AM 	 2012-10-25 00:00:00 	*
01/20/2012 12:00:00 AM 	 2012-01-20 00:00:00 	*
10/26/2010 12:00:00 AM 	 2010-10-26 00:00:00 	*
03/29/2019 12:00:00 AM 	 2019-03-29 00:00:00 	*
01/31/2015 12:00:00 AM 	 2015-01-31 00:00:00 	*
10/04/2006 12:00:00 AM 	 2006-10-04 00:00:00 	*
nan 	 2016-03-08 00:00:00 	*
07/16/2009 12:00:00 AM 	 2009-07-16 00:00:00 	*
12/30/2008 12:00:00 AM 	 2008-12-30 00:00:00 	*
07/26/2006 12:00:00 AM 	 2006-07-26 00:00:00 	*
08/13/2012 12:00:00 AM 	 2012-08-13 00:00:00 	*
08/23/2012 12:00:00 AM 	 2012-08-23 00:00:00 	*
02/07/2008 12:00:00 AM 	 2008-02-07 00:00:00 	*
nan 	 2013-06-12 00:00:00 	*
nan 	 2015-06-23 00:00:00 	*
nan 	 2015-11-25 00:00:00 	*
11/08/2011 12:00:00 AM 	 2011-11-08 00:00:00 	*
nan 	 2015-12-11 00:00:00 	*
09/13/2006 12:00:00 AM 	 2006-09-13 00:00:00 	*
12/10/2006 12:00:00 AM 	 2006-12-10 00:00:00 	*
01/31/2007 12:00:00 AM 	 2007-01-31 00:00:00 	*
01/31/2018 12:00:00 AM 	 2018-01-31 00:00:00 	*
nan 	 2007-12-26 00:00:00 	*
01/16/2017 12:00:00 AM 	 2017-01-16 00:00:00 	*
01/31/2007 12:00:00 AM 	 2007-01-31 00:00:00 	*
nan 	 2016-03-30 00:00:00 	*
02/19/2007 12:00:00 AM 	 2007-02-19 00:00:00 	*
05/13/2015 12:00:00 AM 	 2015-05-13 00:00:00 	*
01/17/2013 12:00:00 AM 	 2013-01-17 00:00:00 	*
nan 	 2015-01-22 00:00:00 	*
08/24/2006 12:00:00 AM 	 2006-08-24 00:00:00 	*
03/10/2015 12:00:00 AM 	 2015-03-10 00:00:00 	*
10/21/2015 12:00:00 AM 	 2015-10-21 00:00:00 	*
04/20/2007 12:00:00 AM 	 2007-04-20 00:00:00 	*
03/29/2014 12:00:00 AM 	 2014-03-29 00:00:00 	*
11/16/2009 12:00:00 AM 	 2009-11-16 00:00:00 	*
nan 	 2015-12-18 00:00:00 	*
02/10/2007 12:00:00 AM 	 2007-02-10 00:00:00 	*
*    0  same records   *

======================


column:  Qewi Nys Lic No
Original,	 Cleaned

nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
PE - 069182 	 PE - 069182
PE - 075914 	 PE - 075914
nan 	  	*
RA - 024743 	 RA - 024743
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
PE - 093403 	 PE - 093403
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
RA - 018329 	 RA - 018329
nan 	  	*
PE - 067415 	 PE - 067415
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
nan 	  	*
*    6  same records   *

======================


column:  BOROUGH
Original,	 Cleaned

BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
QUEENS 	 QUEENS
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
BRONX 	 BRONX
BROOKLYN 	 BROOKLYN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
QUEENS 	 QUEENS
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
MANHATTAN 	 MANHATTAN
BROOKLYN 	 BROOKLYN
BRONX 	 BRONX
BRONX 	 BRONX
MANHATTAN 	 MANHATTAN
QUEENS 	 QUEENS
*    50  same records   *

======================


column:  Qewi Signed Date
Original,	 Cleaned

09/16/2013 12:00:00 AM 	 2013-09-16 00:00:00 	*
06/26/2015 12:00:00 AM 	 2015-06-26 00:00:00 	*
nan 	 2014-12-17 00:00:00 	*
nan 	 2016-01-21 00:00:00 	*
06/26/2015 12:00:00 AM 	 2015-06-26 00:00:00 	*
nan 	 2020-10-15 20:00:00 	*
05/11/2017 12:00:00 AM 	 2017-05-11 00:00:00 	*
nan 	 2007-02-17 00:00:00 	*
11/04/2017 07:00:00 PM 	 2017-11-04 19:00:00 	*
nan 	 2016-05-24 00:00:00 	*
01/20/2007 12:00:00 AM 	 2007-01-20 00:00:00 	*
nan 	 2015-10-15 00:00:00 	*
11/19/2012 12:00:00 AM 	 2012-11-19 00:00:00 	*
02/07/2012 12:00:00 AM 	 2012-02-07 00:00:00 	*
12/03/2010 12:00:00 AM 	 2010-12-03 00:00:00 	*
04/18/2019 08:00:00 PM 	 2019-04-18 20:00:00 	*
02/05/2015 12:00:00 AM 	 2015-02-05 00:00:00 	*
11/30/2006 12:00:00 AM 	 2006-11-30 00:00:00 	*
nan 	 2016-04-01 00:00:00 	*
02/11/2010 12:00:00 AM 	 2010-02-11 00:00:00 	*
08/03/2009 12:00:00 AM 	 2009-08-03 00:00:00 	*
10/05/2006 12:00:00 AM 	 2006-10-05 00:00:00 	*
08/17/2012 12:00:00 AM 	 2012-08-17 00:00:00 	*
09/06/2012 12:00:00 AM 	 2012-09-06 00:00:00 	*
04/09/2008 12:00:00 AM 	 2008-04-09 00:00:00 	*
nan 	 2013-06-12 00:00:00 	*
nan 	 2015-06-26 00:00:00 	*
nan 	 2015-12-08 00:00:00 	*
12/06/2011 12:00:00 AM 	 2011-12-06 00:00:00 	*
nan 	 2016-05-04 00:00:00 	*
11/28/2006 12:00:00 AM 	 2006-11-28 00:00:00 	*
12/10/2006 12:00:00 AM 	 2006-12-10 00:00:00 	*
08/01/2007 12:00:00 AM 	 2007-08-01 00:00:00 	*
10/13/2018 08:00:00 PM 	 2018-10-13 20:00:00 	*
nan 	 2008-09-12 00:00:00 	*
02/20/2017 12:00:00 AM 	 2017-02-20 00:00:00 	*
02/06/2007 12:00:00 AM 	 2007-02-06 00:00:00 	*
nan 	 2016-05-11 00:00:00 	*
02/19/2007 12:00:00 AM 	 2007-02-19 00:00:00 	*
06/05/2015 12:00:00 AM 	 2015-06-05 00:00:00 	*
02/01/2013 12:00:00 AM 	 2013-02-01 00:00:00 	*
nan 	 2015-02-10 00:00:00 	*
02/20/2007 12:00:00 AM 	 2007-02-20 00:00:00 	*
03/25/2015 12:00:00 AM 	 2015-03-25 00:00:00 	*
10/21/2015 12:00:00 AM 	 2015-10-21 00:00:00 	*
03/10/2008 12:00:00 AM 	 2008-03-10 00:00:00 	*
05/19/2014 12:00:00 AM 	 2014-05-19 00:00:00 	*
01/22/2010 12:00:00 AM 	 2010-01-22 00:00:00 	*
nan 	 2016-01-11 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
*    0  same records   *

======================


column:  House No
Original,	 Cleaned

2960 	 2960
568 	 568
617 	 617
338 	 338
443 	 443
284 	 284
171 	 171
349 	 349
435 	 435
33-05 	 33-05
176 	 176
150 	 150
130 	 130
322 	 322
64-48 	 64-48
277 	 277
1118 	 1118
110-20 	 110-20
540 	 540
41-09 	 41-09
1290 	 1290
1002 	 1002
101 	 101
340 	 340
67-43 	 67-43
310 	 310
242 	 242
2175 	 2175
260 	 260
725 	 725
680 	 680
123-10 	 123-10
200 	 200
8401 	 8401
1535 	 1535
200 	 200
1468 	 1468
2260 	 2260
635 	 635
150-15 	 150-15
317 	 317
646 	 646
800 	 800
215 	 215
1 	 1
1550 	 1550
35 	 35
1230 	 1230
16 	 16
31-65 	 31-65
*    50  same records   *

======================


column:  Qewi City
Original,	 Cleaned

NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
nan 	  	*
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
DUMONT 	 DUMONT
NEW YORK 	 NEW YORK
nan 	  	*
NORTH BERGEN 	 NORTH BERGEN
nan 	  	*
ROWAYTON 	 ROWAYTON
ENGLEWOOD CLIFF 	 ENGLEWOOD CLIFF
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
nan 	  	*
NEW YORK 	 NEW YORK
BROOKLYN 	 BROOKLYN
GREAT NECK 	 GREAT NECK
NEW YORK 	 NEW YORK
YONKERS 	 YONKERS
NEW YORK 	 NEW YORK
nan 	  	*
nan 	  	*
nan 	  	*
GREAT NECK 	 GREAT NECK
nan 	  	*
PECONIC 	 PECONIC
BROOKLYN 	 BROOKLYN
HAZLET 	 HAZLET
SYOSSET 	 SYOSSET
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
nan 	  	*
TEANECK 	 TEANECK
ENGLEWOOD CLIFF 	 ENGLEWOOD CLIFF
NEW YORK 	 NEW YORK
nan 	  	*
EDISON 	 EDISON
JAMAICA 	 JAMAICA
NEW YORK 	 NEW YORK
NEW YORK 	 NEW YORK
YONKERS 	 YONKERS
NEW YORK 	 NEW YORK
nan 	  	*
NEW YORK 	 NEW YORK
*    39  same records   *

======================


column:  Prior Cycle Filing Date
Original,	 Cleaned

04/22/2003 12:00:00 AM 	 2003-04-22 00:00:00 	*
04/16/2009 12:00:00 AM 	 2009-04-16 00:00:00 	*
nan 	 2009-02-18 00:00:00 	*
nan 	 2013-08-01 00:00:00 	*
08/10/2007 12:00:00 AM 	 2007-08-10 00:00:00 	*
01/27/2012 12:00:00 AM 	 2012-01-27 00:00:00 	*
08/21/2012 12:00:00 AM 	 2012-08-21 00:00:00 	*
nan 	 2006-01-26 00:00:00 	*
02/10/2012 12:00:00 AM 	 2012-02-10 00:00:00 	*
nan 	 2012-02-15 00:00:00 	*
03/08/2000 12:00:00 AM 	 2000-03-08 00:00:00 	*
nan 	 2007-02-09 00:00:00 	*
02/13/2007 12:00:00 AM 	 2007-02-13 00:00:00 	*
02/20/2007 12:00:00 AM 	 2007-02-20 00:00:00 	*
nan 	 2003-04-23 00:00:00 	*
07/16/2008 12:00:00 AM 	 2008-07-16 00:00:00 	*
nan 	 2009-07-22 00:00:00 	*
04/09/2002 12:00:00 AM 	 2002-04-09 00:00:00 	*
nan 	 2011-09-09 00:00:00 	*
03/31/2003 01:00:00 AM 	 2003-03-31 01:00:00 	*
08/10/2009 12:00:00 AM 	 2009-08-10 00:00:00 	*
08/28/1997 12:00:00 AM 	 1997-08-28 00:00:00 	*
02/21/2007 12:00:00 AM 	 2007-02-21 00:00:00 	*
02/02/2006 12:00:00 AM 	 2006-02-02 00:00:00 	*
01/22/2003 12:00:00 AM 	 2003-01-22 00:00:00 	*
nan 	 2006-11-21 00:00:00 	*
nan 	 2012-02-21 00:00:00 	*
nan 	 2012-12-28 00:00:00 	*
07/18/2007 12:00:00 AM 	 2007-07-18 00:00:00 	*
nan 	 2013-03-28 00:00:00 	*
01/27/2000 12:00:00 AM 	 2000-01-27 00:00:00 	*
02/25/2000 12:00:00 AM 	 2000-02-25 00:00:00 	*
03/07/2000 12:00:00 AM 	 2000-03-07 00:00:00 	*
08/21/2012 12:00:00 AM 	 2012-08-21 00:00:00 	*
nan 	 2003-05-05 00:00:00 	*
10/20/2009 12:00:00 AM 	 2009-10-20 00:00:00 	*
03/10/2004 12:00:00 AM 	 2004-03-10 00:00:00 	*
nan 	 2012-05-03 00:00:00 	*
12/20/2004 12:00:00 AM 	 2004-12-20 00:00:00 	*
01/24/2007 12:00:00 AM 	 2007-01-24 00:00:00 	*
11/20/2006 12:00:00 AM 	 2006-11-20 00:00:00 	*
08/20/2008 12:00:00 AM 	 2008-08-20 00:00:00 	*
02/23/2000 12:00:00 AM 	 2000-02-23 00:00:00 	*
06/30/2015 12:00:00 AM 	 2015-06-30 00:00:00 	*
03/26/2012 12:00:00 AM 	 2012-03-26 00:00:00 	*
04/04/2003 01:00:00 AM 	 2003-04-04 01:00:00 	*
05/25/2005 12:00:00 AM 	 2005-05-25 00:00:00 	*
02/28/2000 12:00:00 AM 	 2000-02-28 00:00:00 	*
nan 	 2008-04-22 00:00:00 	*
nan 	 2002-02-21 00:00:00 	*
*    0  same records   *

======================


column:  Owner Bus Name
Original,	 Cleaned

N.Y.C.H.A. 	 NYCHA 	*
568 BROADWAY PROPERTY LLC 	 568 BROADWAY PROPERTY LLC
GEORGETOWN 11TH AVE. OWNERS 	 GEORGETOWN 11TH AVE OWNERS 	*
nan 	  	*
OUB  HOUSES HOUSING CORP 	 OUB  HOUSES HOUSING CORP
WILLIAM GOTTLIEB MANAGEMENT CO. LLC 	 WILLIAM GOTTLIEB MANAGEMENT CO LLC 	*
Lexington HDFC 	 LEXINGTON HDFC 	*
CHURCH OF SCIENTOLOGY 	 CHURCH OF SCIENTOLOGY
RIVER HOUSE REALTY CO., INC. 	 RIVER HOUSE REALTY CO INC 	*
nan 	  	*
THE PACKARD CONDOMINIUM 	 THE PACKARD CONDOMINIUM
nan 	  	*
130 WEST 26 STREET AHDFC 	 130 WEST 26 STREET AHDFC
322 EAST 57TH STREET INC 	 322 EAST 57TH STREET INC
DELMAR CONDOMINIUM 	 DELMAR CONDOMINIUM
Triborough Preservation LLC 	 TRIBOROUGH PRESERVATION LLC 	*
NYC DCAS 	 NYC DCAS
110-20 71ST RD APT INC 	 110-20 71ST RD APT INC
nan 	  	*
N.Y.C.H.A. 	 NYCHA 	*
OCEAN AVENUE APARTMENT ASSOCIATE 	 OCEAN AVENUE APARTMENT ASSOCIATE
MAIMONIDES MEDICAL CNTER 	 MAIMONIDES MEDICAL CNTER
THE METROTECH CONDOMINIUM 	 THE METROTECH CONDOMINIUM
CHATSWORTH REALTY CORP 	 CHATSWORTH REALTY CORP
N.Y.C.H.A. 	 NYCHA 	*
nan 	  	*
nan 	  	*
nan 	  	*
16 EAST REALTY LLC 	 16 EAST REALTY LLC
nan 	  	*
680 FIFTH AVENUE ASSOC. 	 680 FIFTH AVENUE ASSOC 	*
BELLE HARBOR APTS. CORP 	 BELLE HARBOR APTS CORP 	*
200 E. 87 ST. ASSOC. 	 200 E 87 ST ASSOC 	*
Eden Rock Owners Inc. 	 EDEN ROCK OWNERS INC 	*
N.Y.C.H.A. 	 NYCHA 	*
BNS BUILDINGS 	 BNS BUILDINGS
GP ASSOCIATES C/O MERIT 	 GP ASSOCIATES CO MERIT 	*
nan 	  	*
NHPMN MANAGEMENT LLC 	 NHPMN MANAGEMENT LLC
DARA OWNERS CORP. C/O 	 DARA OWNERS CORP CO 	*
HUDSON COURT CONDOMINIUM 	 HUDSON COURT CONDOMINIUM
nan 	  	*
800 SECOND AVENUE CONDO 	 800 SECOND AVENUE CONDO
OCEAN DR. REALTY ASSOC 	 OCEAN DR REALTY ASSOC 	*
ONE STATE STREET, LLC 	 ONE STATE STREET LLC 	*
N.Y.C.H.A. 	 NYCHA 	*
916 HOLDING CORP 	 916 HOLDING CORP
1230 SHERIDAN AVENUE LLC 	 1230 SHERIDAN AVENUE LLC
nan 	  	*
LINDEN TOWERS COOP SECT 	 LINDEN TOWERS COOP SECT
*    21  same records   *

======================


column:  Filing Date
Original,	 Cleaned

09/18/2013 12:00:00 AM 	 2013-09-18 00:00:00 	*
06/30/2015 12:00:00 AM 	 2015-06-30 00:00:00 	*
08/25/2015 12:00:00 AM 	 2015-08-25 00:00:00 	*
nan 	 2016-02-11 00:00:00 	*
06/29/2015 12:00:00 AM 	 2015-06-29 00:00:00 	*
09/23/2021 12:00:00 AM 	 2021-09-23 00:00:00 	*
02/13/2017 12:00:00 AM 	 2017-02-13 00:00:00 	*
01/18/2013 12:00:00 AM 	 2013-01-18 00:00:00 	*

In [56]:
tp = 0
fp = 0

fn = 0
tp += 31 + 13 + 50 + 50 + 9 + 36 + 44 + 25 + 11 + 34 + 28 + 39 + 44

fp += + 9 + 14 + 15 + 16 + 11

fn += 1 + 3 + 2 + 1 + 2

In [57]:
precision(tp, fp)

0.8643006263048016

In [58]:
recall(tp,fn)

0.9787234042553191